[2022-03-02 06:13] dellhuyongcai opened #4384 "The Segmentation Image does not show the color of the lane,anyone knows how to make the segmentation of lane in the road show in the image？"
![捕获](https://user-images.githubusercontent.com/67624049/156305748-d60613d6-841e-49ee-9655-8b16bf76e3db.PNG)

[2022-03-02 10:23] bozcani commented on #4367
Ok, I see. I also encounter the same issue. I use segmentation images to refine object bounding boxes.

I couldn't figure out why Detection API can't give tight boxes for some cases. I think we can open another issue for this

[2022-03-02 15:41] zimmy87 commented on #4350
I've put out #4385 which should fix this. Please retest with my fix applied and let me know if you notice any issue. Also, during testing, I observed that the scaling of timestamps changes between "ScalableClock" and "SteppableClock" clock types. Specifically, "ScalableClock" will result in timestamps that are scaled by a factor of 3, and "SteppableClock" results in timestamps that appear to corre

[2022-03-02 16:16] zimmy87 commented on #1719
This is likely fixed by #4385

[2022-03-02 16:23] zimmy87 commented on #1584
Tested for this in the v1.7.0 release and can no longer reproduce this issue.

[2022-03-02 16:23] #1584 closed

[2022-03-03 01:16] chongjeelee commented on #4367
ok,you said right!

[2022-03-03 12:58] zimmy87 commented on #4306
This is a known issue with Unreal Engine on Manjaro, see [this thread](https://forums.unrealengine.com/t/ue-is-in-english-but-uses-tamil-language-or-char-set-when-asking-to-compile-modules-on-linux/483976) for more details. It appears like you'll need to install the xorg-fonts-misc and noto-fonts-cjk packages. I tested locally on Ubuntu and cannot reproduce this, so this is distro dependent.

[2022-03-03 20:37] niwc-jamelc commented on #3195
I was experiencing the same issue with the `--settings` command line launch argument not working when launching AirSim as a Standalone game from the Unreal Editor on Windows 11. Upon further investigation into the `SimHud.cpp` and `settings.md` files, I found that the `bool ASimHUD::getSettingsTextFromCommandLine(std::string& settingsText)` function was poorly implemented and inconsistently docume

[2022-03-04 09:33] MattBrth opened #4387 "UE4 freezes when opening a map of the AirSim FST Driverless after completing the wiki"
## Bug report

- AirSim Version/#commit: 1.6
- UE/Unity version: UE 4.25.4
- autopilot version: N/A
- OS Version: Windows 10.0.22000

### What's the issue you encountered?

After completing all the steps of the [https://github.com/Microsoft/AirSim/wiki/build_FSTDriverless_windows](url) wiki, when I try to open a map, it just crashes and UE4 doesn't answer. In the VS console it does't show any erro

[2022-03-04 10:32] HarrySoteriou commented on #3874
Specs:
Windows 10
Unreal Engine 4.27.2
WSL2 and running VcXsrv (in case this problem has to do with graphics)

Context:
I can run AirSim on Windows and I can also run the ros wrapper and PX4 throught wsl2 (Meaning wsl2 doesnt seem to be the problem). When it comes to building gazebo as my Physics Engine I can't get it to run.

Problem:
I have build AirSim 2 times on wsl2: once using clang compiler

[2022-03-04 13:12] d137578736 opened #4388 "start airism cgywin px4 sitl, In 10-30 minutes the plane will crash out of control"
## Bug report

- AirSim Version/#commit: 1.6.0
- UE/Unity version:UE4.6.2
- autopilot version:1.3.0
- OS Version:win10
- QGC version: 4.1.13

### What's the issue you encountered?

When multi-rotor is take off,Don't do anything,In 10-30 minutes the plane will crash out of control
### Settings

{
    "SettingsVersion": 1.2,
    "SimMode": "Multirotor",
    "ClockType": "SteppableClock",
    "Vehicl

[2022-03-04 13:58] lnexenl opened #4389 "The interval between adjacent IMU measurements varies."
## Bug report

- AirSim Version/#commit: v1.6.0
- UE/Unity version: UE v4.27.2
- autopilot version:
- OS Version: Manjaro

### What's the issue you encountered?
I record a rosbag with 300hz imu data. However I found that the interval between adjacent IMU measurements varies, that's say the variance of the interval is big.

I have printed some timestamp of the IMU measurements:
[code]
We can see th

[2022-03-04 17:00] rhalaly commented on #4381
After I reinstall NVIDIA drivers, I get:
[code]
But M60 support it and even further

[2022-03-04 17:58] jonyMarino commented on #4388
Hi @d137578736 and welcome!  The recommended platform for PX4 is currently WSL2

[2022-03-04 19:34] tristanthomas3 commented on #2509
@xxEoD2242 Hi, so I am having a similar issue. Did you have to do anything aside from what is described here https://microsoft.github.io/AirSim/unreal_custenv/ to generate an Unreal Project with LandscapeMountains that is version 4.25? Because I am still getting an error when I build in Visual Studio.

[2022-03-04 19:36] alokkrsahu commented on #2509
I was able to resolve my error following the steps one by one carefully. That's it.
Just check for version conflict if any between the landscape.snl and IDE.
________________________________
From: tristanthomas3 ***@***.***>
Sent: Friday, March 4, 2022 7:34:23 PM
To: microsoft/AirSim ***@***.***>
Cc: Alok Kumar Sahu ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/AirSim] Error C1083. Ru

[2022-03-04 19:38] tristanthomas3 commented on #2509
@alokkrsahu So did you build the LandscapeMountains environment using 4.25? If so, how? Because I only have the option of building with 4.24.

Not sure what you mean about version conflict between landscape.sln and IDE.

[2022-03-04 19:42] alokkrsahu commented on #2509
I suggest you to try with something other than landscape mountain. You should be able to run it.

There is something fuzzy about landscape.
You will figure it out.

But trust me I just followed the steps very careful as given in documentation and I was able to run it.
________________________________
From: tristanthomas3 ***@***.***>
Sent: Friday, March 4, 2022 7:39:10 PM
To: microsoft/AirSim ***@

[2022-03-05 00:22] tristanthomas3 opened #4392 "Adding Airsim Plugin to LandscapeMountains Unreal Environment"
Hello all, so I am using this video https://www.youtube.com/watch?v=1oY8Qu5maQQ as guidance to add the AirSim plugin to landscape mountains. I can get all the way through all the steps, however whenever I try to open MyProject from the Unreal editor I get this error

"The following modules are missing or built with a different engine version: LandscapeMountains Would you like to rebuild them now?"

[2022-03-05 10:32] HarrySoteriou commented on #4392
Hey just out of curiosity did you build Unreal from source or did you download the binaries only? I tried using the binaries (smaller version) instead of building from source on one computer and faced similar issues. I will check if it works this time and get back to you. Also if you do decide to build from source go to Unreal Engine forums to see how to unselect UE build for unecessary OS (during

[2022-03-05 10:35] HarrySoteriou commented on #4388
Follow this tutorial to setup PX4 with wsl2 amd AirSim https://youtu.be/DiqgsWIOoW4

[2022-03-05 15:50] tristanthomas3 commented on #4392
I downloaded Unreal directly from the epic games launcher how it was described in the documentation on the AirSim GitHub page, I am honestly not sure which one that is. But yes please do let me know.

[2022-03-05 19:20] HarrySoteriou commented on #4392
Installing from source worked but took so long as I hadnt unsellected any targets when I ran the Setup last night (total size was around 116GB if I remember correctly, 84GB for plugins) which is obsurd!

Installing Unreal engine from the Epic Games Launcher does not work with AirSim, as I tried to do that repeatedly.

The safest way is to:

1) Install Epic Games Launcher
2) git clone release UE re

[2022-03-06 03:06] tristanthomas3 commented on #4392
I don't think that is true. I know others who have installed Unreal from Epic Games Launcher and were able to successfully add in the AirSim plugin.

The error I get is in the FAQ, but the only solution given is not the issue that I am having.

[2022-03-06 08:35] HarrySoteriou commented on #4392
Hmm that's interesting. I could be wrong but everytime I tried building AirSim without using the source version I couldn't. Please let me know if you manage to build it without downloading the source version

[2022-03-07 02:06] d137578736 commented on #4388
think you very much!  i will test airism in wsl2 environment!

[2022-03-07 02:06] d137578736 commented on #4388
think you very much!

[2022-03-07 07:29] QSJZDDY opened #4394 "How to use binary file?"
I donwload the binary file and want to use it learn Airsim. But I dont kont how to open it in Vs2019 or UE.

[2022-03-07 14:43] rhalaly commented on #4381
@jonyMarino can you assist with this issue, please?

[2022-03-07 16:26] jonyMarino commented on #4381
@rhalaly I will take a look. Give me some time.

[2022-03-07 16:28] jonyMarino commented on #4394
Tjere is no need for Vs. In Windows you have a .exe and for linux a .sh to execute

[2022-03-07 19:01] zimmy87 commented on #4303
We've discussed this matter internally at length and have come to the conclusion that our current implementation is by design. It may seem counterintuitive, but gravity being subtracted is done to counteract gravity, not to represent it. Basically, if you imagine a stationary IMU, the reading of -9.8 m/s^2 in the Z-axis indicates the IMU is being "accelerated" 9.8 m/s^2 upwards, an amount proporti

[2022-03-07 19:01] #4303 closed

[2022-03-07 21:42] sudo-hello-world-2 commented on #4303
Hi @Zimmy87,
Thank you for your reply! I agree with the explanation presented by you and your colleagues. The error was totally on my side. I have made some tests with my built-in smartphone IMU and the results are consistent with the expected. Sorry for the trouble.

[2022-03-08 08:01] QSJZDDY commented on #4394
Thanks ! I also want to know if ue could sent messages  to python. I use ue build a game, I want to sent a message to python when the drone active some events.

[2022-03-08 15:36] jonyMarino commented on #4394
Take a look at our python client: https://microsoft.github.io/AirSim/api_docs/html/

[2022-03-08 19:54] #4339 closed

[2022-03-08 21:02] jonyMarino commented on #4381
@rhalaly maybe some UE4 pre-requisites are missing on the machine.
Can you check/reinstall DirectX runtime on the machine and try again?

[2022-03-08 21:24] rhalaly commented on #4381
@jonyMarino I took the https://github.com/microsoft/AirSim/blob/master/azure/azure-env-creation/configure-vm.ps1 to configure the VM. I tried to reinstall DirectX but same error appears

[2022-03-09 11:49] HSC-1 opened #4398 "Not working as intended simSwapTextures, simSetObjectMaterial, simSetObjectMaterialFromTexture"
## Question
### What's your question?

First
I Failed to use simSwapTextures
Following the [example](https://microsoft.github.io/AirSim/retexturing/), I returned empty list

[code]
![tags](https://user-images.githubusercontent.com/76798501/157433572-7725ae62-8ac2-46e8-8e88-ea5d8ccf5f7e.PNG)
![texture_bp](https://user-images.githubusercontent.com/76798501/157433582-c54659be-e8e2-494a-a0d1-ab51bb1a2

[2022-03-09 16:05] JuanshuB2 commented on #1523
Hi! I think it is interesting to mention this project to simulate a FMCW radar in Unity. It generates the raw data that can be further processed:  https://github.com/chstetco/virtualradar. However, it is not available in Unreal Engine, so I am wondering how challenging can it be.

[2022-03-09 17:55] jonyMarino commented on #4383
@[ayush055](https://github.com/ayush055) which AirSim version and wich environment? settings.json?

[2022-03-09 18:00] jonyMarino commented on #4384
Hi @dellhuyongcai! This environment as it is is not going to help you. Take a look at #3512; you are having the same issue.

[2022-03-09 18:10] jonyMarino commented on #4387
Hi @MattBrth! That wiki hasn't been updated. Try with [v1.2](https://github.com/microsoft/AirSim/releases/tag/v1.2.0)

[2022-03-09 18:29] jonyMarino commented on #4392
Hi @tristanthomas3! Can you follow [this instructions](https://microsoft.github.io/AirSim/unreal_custenv/)?

[2022-03-10 14:47] HarrySoteriou commented on #4392
Dear @jonyMarino when was the last time you got it to work though these instructions without using the source code build ?

I have been trying again and again (for weeks!) using the one downloaded from the Epic Launcher (20.1GB) and I can never get it to work.

Repeating the same steps with the source build leads to a successful build of AirSim, but the size is around 115GB before removing build f

[2022-03-11 16:12] thomasTUK commented on #4289
Did you solve the issue?

[2022-03-11 16:16] azadhamid commented on #4289
Unfortunately, not yet.

[2022-03-12 04:08] ayush055 commented on #4383
Airsim version: 1.7.0
OS: Windows 11

Settings.json
{
  "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
  "SettingsVersion": 1.2
}

[2022-03-12 13:44] rsj007 opened #4407 "How to run scenes in Windows and airsim ros in Ubuntu?"
## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

[2022-03-13 06:42] ertugrultaparci commented on #506
Hello, is there anyone totally solved this issues? Can you explain in detail how to achieve this? Can I do this in Windows also? Do I use both car and multirotor in a different simulation environment (like **Plains**) ? I really need these information to prepare a term project.

[2022-03-14 18:28] jonyMarino commented on #4383
And the unreal environment you are using?

[2022-03-14 18:49] jonyMarino commented on #4407
Hi and welcome @rsj007! You don't need to modify your settings.json file. If you are executing `airsim_node.launch`, you can set the host IP in this way:
`roslaunch airsim_ros_pkgs airsim_node.launch host:=$YOUR_WIN_IP`

[2022-03-14 20:44] #3918 closed

[2022-03-15 02:01] chongjeelee opened #4411 "11"

[2022-03-15 02:09] #4411 closed

[2022-03-15 10:08] zimmy87 opened #4412 "Improve accuracy of FDetectionInfo.Box2D"
## What feature are you suggesting?
### Overview:
Currently, UDetectionComponent::calcBoundingFromViewInfo() calculates the location and size of the 2D box around detected objects using a 2D projection of the output of [AActor::GetActorBounds](https://docs.unrealengine.com/4.27/en-US/API/Runtime/Engine/GameFramework/AActor/GetActorBounds/). As can be seen in [this video](https://www.youtube.com/wa

[2022-03-15 10:22] zimmy87 commented on #4367
Hi @bozcani and @chongjeelee, I have filed #4412 to track the issue raised about the detection APIs not giving tight boxes around some objects. Part of the reason for this is that the detection APIs rely on [AActor::GetActorBounds](https://docs.unrealengine.com/4.27/en-US/API/Runtime/Engine/GameFramework/AActor/GetActorBounds/) for calculating the 2D box for each detection. As you can see [here](h

[2022-03-15 14:54] tristanthomas3 commented on #4392
@jonyMarino I agree, I think the issue described is different. To be more clear, I did follow those instructions, or at least attempt to do so prior to looking at and utilizing the video. Ultimately, I got the same error using those instructions as I did using the video. Specifically, when pressing F5 to run as described in step 10 of the instructions, I get the same build error: "The following mo

[2022-03-15 15:06] krishnarajk opened #4413 "Move one meter in x direction"
I am trying to move the drone in unreal engine using MoveToPositionAsync function. I want to move the drone 1 meter in the x-direction. What value needs to be given as a parameter in the MoveToPositionAsync function in order to get the expected result. When I give x value as 1, it is moving ~123 uu.
Thanks

[2022-03-16 03:16] ngthanhtin commented on #1590
Hi, can you point out which issue you mentioned, thanks?

[2022-03-16 12:44] zimmy87 commented on #4380
Try the solution offered here:

https://forums.unrealengine.com/t/cannot-launch-unrealengine-editor-4-on-fedora-31-after-successful-build/140267/9

This appears to be due to a timeout within the MESA drivers, but this timeout can be increased in your configuration. I hit this on my Ubuntu 20.04 machine and have to run these commands to get both binaries and the UE4 editor to run.

[2022-03-16 20:37] niwc-jamelc commented on #3195
@jonyMarino Apologies for the delay. I've created a pull request.

[2022-03-17 04:13] c608345 commented on #4380
@zimmy87   It works, thanks.
"Your GPU is below the minimum requirements as well"     My  slow GPU makes it timeout.

[2022-03-17 04:13] #4380 closed

[2022-03-17 13:37] thomasTUK opened #4418 "LiDAR accuracy incorrect"
## Bug report

- AirSim Version/#commit: N/A latest probably
- UE/Unity version: UE 4.26
- autopilot version: simple_flight
- OS Version: Windows 10

### What's the issue you encountered?
I have run a point cloud simulation, because I want to calculate the point spaces beforehand the simulation.

![grafik](https://user-images.githubusercontent.com/79101120/158819013-b7792f3c-1a8b-4a62-a32d-b3f68bf

[2022-03-17 16:54] akhil22 commented on #4309
Hi Gastastrophe,
I have added warthog simulation to AirSim please checkout this [repo](https://github.com/akhil22/AirSim/tree/warthog) if you want to use it for your work and let me know if you face any issues.

[2022-03-18 04:51] dzywater opened #4420 "AirsimROSWrapper::airsim_timestamp_to_ros failed to compile in Visual Studio"
I ran airsim_node of airsim_ros2 package in Windows 10. There is a key issue to report.

Cannot compile
https://github.com/microsoft/AirSim/blob/77a879e8b6459543caa1ab867e277f4958becb91/ros2/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp#L912

**Errors:**

Severity	Code	Description	Project	File	Line	Suppression State

Error	C2664	'std::chrono::time_point<std::chrono::system_clock,std::chrono::dura

[2022-03-18 13:45] zimmy87 commented on #4381
Hey @rhalaly, we're trying to repro this issue. One thing we found so far is that in order to start the deployment, we had to change this setting in the template:

[code]

In this setting, we had to change the value of "resources" -> "properties" -> "storageProfile" -> "imageReference" -> "sku" from "rs5-pro" to "win10-21h2-pro".

While the deployment is failing for us, we were able to get the Blo

[2022-03-18 14:34] rebeccasc opened #4421 "Multirotor: shaky behavior on moveToPositionAsync() after finishing"
## Question
### What's your question?

I want to follow a path and move a drone via python API `MultirotorClient.moveToPositionAsync()`. I'm not using `MultirotorClient.moveOnPathAsync()` because I do not have all the path points at this time. After `MultirotorClient.moveToPositionAsync()` has finished, the drone shakes until it's stabilized. I want to disable this "shaking", so that it looks like

[2022-03-18 14:55] rhalaly commented on #4381
Thanks for the update @zimmy87! I'm using East US. I changed the OS to Windows Server 2019.

But with NV4as_V4 (AMD GPU) I was able to use Blocks. I suspect that this issue is related to GPU drivers/OS compatibility

[2022-03-18 16:11] zimmy87 commented on #4389
I tried to repro this locally by placing a `msr::airlib::Utils::log()` call inside `ImuSimple::updateOutput()`, however my console output showed a consistent time delta of ~0.003s between IMU measurements (this varied slightly with different ClockTypes: ScalableClock showed slight, negligible variance each iteration, whereas SteppableClock showed 0.003 consistently), which is the same as the defau

[2022-03-18 16:21] MinnDevelopment commented on #4421
Maybe you can try limiting the PID gains:

[code]

[2022-03-18 17:56] zimmy87 commented on #4381
Hey @rhalaly, that's good to hear. Are you still interested in using the NV12s_V3 VM size or is NV4as_V4 sufficient for your purposes going forward?

[2022-03-18 17:58] rhalaly commented on #4381
Yes, I prefer NV12s_V3 there is more flexibility with Nvidia GPUs

[2022-03-18 20:13] danialvi commented on #1731
Hi. How did you solve this. I tried deleting the DistributedRL folder, so it is not overriden the E2Edeeplearning. But still stuck after connection is establish. Please help! Been trying to solve this issue for several weeks

[2022-03-18 22:15] danialvi opened #4422 "Airsim stuck after connecting to jupyter/E2EDeepLearning #URGENT"
## Question
### What's your question?
So I have been working on E2EDeepLearning for Airsim for over a month now, and struggling to go further. I have tried looking up this issue without any luck. After training the model with jupyter, and connecting with Airsim, jupyter gets stuck and doesn't respond. Neither do airsim.

### Include context on what you are trying to achieve
This is the guidelines

[2022-03-19 17:00] krishnarajk opened #4423 "Move drone a specific distance in unreal engine."
## Question
### What's your question?
How to move the drone to a specific distance in unreal engine? For example move in x-direction 1 meters? Which API can I use? And what will be the parameters that need to be given?
### Include context on what you are trying to achieve
I want to move the drone to a particular distance in any of the directions, from its current position.  I would like to know ho

[2022-03-20 13:52] shuaikangma opened #4424 "How can I get collision information with AirSim ROS Wrapper?"
## Question
### What's your question?
How can I get collision information with AirSim ROS Wrapper?

### Include context on what you are trying to achieve

I want to use AirSim in a drl-based navigation system. I just want to get a collision trigger and the give my agent a negative reward , then reset the env.

#### Context details
AIrSim version: #4410
Unreal version: v1.7.0-linux
OS version: ubun

[2022-03-21 18:27] zimmy87 commented on #4389
I dug a little deeper in this issue and tried to repro this using a rosbag recording the `/airsim_node/SimpleFlight/imu/imu` rostopic published by the ros wrapper with Windows 11 + Ubuntu  20.04 in WSL2. I found each message on this rostopic had a timestamp with a time delta of about ~0.01s after the previous message. This is expected due to the publishing frequency set in the airsim_node launch f

[2022-03-22 09:03] lnexenl commented on #4389
I am currently using ROS1(noetic) wrapper to record the bag. Currently I changed the IMU record freq to 200Hz, but the same situation still occures. My currently airsim_node.launch:
[code]
and my current settings.json:
[code]
But using previous settings I still find that intervals vary. I use `rosbag hz` to show the freq of IMU topic, and the output is:
[code]
The std dev is still a bit big.

And

[2022-03-22 11:40] krishnarajk commented on #2401
So will it go exactly 100 units in unreal if we give 1 as an argument in Arisim move API? It is not moving exactly 100 units for me.

[2022-03-22 11:47] WouterJansen commented on #2401
which move API call? AFAIK they all use NED and radians/meters.

[2022-03-22 12:30] krishnarajk commented on #2401
MoveToPositionAsync(). I want to move the drone in unreal engine 1 meter on the x axis. When I give 1 as x value, it moves more than 100 unreal units

[2022-03-22 12:43] krishnarajk commented on #2401
Okay. But if my starting position is 0,0,0 and I want to move one meter on the x-axis then the x,y,z will be 1,0,0. Is this the correct approach?

[2022-03-22 12:44] WouterJansen commented on #2401
That is indeed what this command should do.

[2022-03-22 15:28] shuaikangma commented on #4424
My fault!
I didn't print CollisionInfo.has_collision when test **_`airsim_client_->simGetCollisionInfo(vehicle_ros->vehicle_name)`_**, it really worked! But `_**drone->curr_drone_state.collision.has_collided**_` still didn't work.
I fix it in [#4426](https://github.com/microsoft/AirSim/pull/4426)

[2022-03-22 18:24] jonyMarino commented on #4413
Hi @krishnarajk! The moveToPositionAsync uses the world frame, not the vehicle one. So, where is your drone located?
Also, you have to consider that there is a lookahead error. Take a look at #4293

[2022-03-22 20:09] krishnarajk commented on #4413
@jonyMarino Thanks for the reply. Here is the location of drone in different states.
Before takeoff
![image](https://user-images.githubusercontent.com/11840147/159566978-0288cce5-af39-4ee3-a04b-41096dcaa4cb.png)

After takeoff
![image](https://user-images.githubusercontent.com/11840147/159567018-c80d0493-41f1-4ad0-9e4c-e7d33ef7825f.png)

After moving in x axis, x value given as 1.
![image](https:/

[2022-03-22 20:52] krishnarajk commented on #4413
So basically it should move exactly 1 meter? Is it because of the lookahead error?

[2022-03-22 21:01] jonyMarino commented on #4413
Yes, it is. You can try to decrease it, but it can lead to unwanted behavior in other use cases.

[2022-03-22 23:17] mgodmere opened #4428 "Airsim ROS2 jerky movement and control when capturing imagery"
## Bug report

- AirSim Version: v1.7.0-linux
- Unreal Version: 4.27.2
- autopilot version: SimpleFlight
- OS Version: Ubuntu 20.04

### What's the issue you encountered?
The Airsim ROS2 package produces jerky drone movement every time an image is captured while using any movement command such as the `vel_cmd_body_frame subscriber`.  I verified this by slowing the capture rate by setting the rosla

[2022-03-23 16:02] krishnarajk commented on #4413
How to reduce it?
I tried reducing the value in the "virtual float getDistanceAccuracy()" (from 0.5 to 0.1) function but didn't work for me as expected.
![image](https://user-images.githubusercontent.com/11840147/159743017-91bfbd5f-5309-4de5-9b42-b659be8d5171.png)

That x value increases to 1.73

[2022-03-23 16:39] rebeccasc commented on #4421
Thanks for the help!
Setting the PID gains made it looks a little better. However, I ended up disabling the phsyics engine via settings.json (["PhysicsEngineName":"ExternalPhysicsEngine"](https://microsoft.github.io/AirSim/settings/#physicsenginename)) and using `MultiRotorClient.setVehiclePose()`.

[2022-03-23 16:39] #4421 closed

[2022-03-23 16:52] ale99viv commented on #2752
https://cesium.com/platform/cesium-for-unreal/
This is a very beautiful plugin for Unreal Engine that can help you

[2022-03-23 23:11] krishnarajk commented on #2401
![image](https://user-images.githubusercontent.com/11840147/159811236-a211b337-2ee7-458d-b201-97a05d331a2c.png)

Will this be a reason for moving more than 100uu in unreal engine if I try to move 1m. In unreal engine it is showing that 1m ~ 125uu.

[2022-03-24 08:25] WouterJansen commented on #2401
If with uu you mean unreal-unit, the units used in unreal are cm. So a meter in unreal is 100uu/100cm.

[2022-03-24 10:28] krishnarajk commented on #2401
But do you have any idea why it is showing in the above image, 1m in more than 100uu (there are approx 125uu).

[2022-03-24 10:32] WouterJansen commented on #2401
I don't know. Where does that scale come from? You cannot change unreal engine in that way. 1m=100cm=100 units in unreal

[2022-03-24 10:35] krishnarajk commented on #2401
![image](https://user-images.githubusercontent.com/11840147/159897735-215e5f47-0571-482b-a6be-65d08a4ada28.png)

When I changed the view perspective I got this scale.

[2022-03-24 10:39] Flautdn commented on #2753
Hi. Thanks will reply if in case I see any issues in the above integration

[2022-03-24 13:33] dzywater opened #4431 ""using namespace msr::airlib" globally in MultirotorApiBase.hpp causes some ambiguous error while compiling"
msr::airlib::vector, msr::airlib::unordered_map, msr::airlib::unordered_set,...in ~/airlib/common/Common.hpp conflicts with namespace std's/boost's/others' when std or boost or others is also used, because MultirotorApiBase.hpp use "using namespace msr::airlib" globally

[2022-03-24 16:06] Junayed5259 commented on #1035
Hello hashikemu,

Were you successful to run airsim from matlab from the above code? This line 'client=py.AirSimClient.CarClient;' gives me error: Unable to resolve the name py.AirSimClient.CarClient. Can you please help me with that?

[2022-03-24 16:09] Junayed5259 commented on #1035
Moreover, this link : https://github.com/Microsoft/AirSim/blob/master/docs/python.md is also not available anymore.

[2022-03-24 18:30] talha-opteran opened #4432 "simLoadLevel does not correctly switch between maps"
## Bug report

- AirSim Version/#commit: e692a6f81d9b9bc17a0cea59592d0504c6222575
- UE/Unity version: UE 4.27
- autopilot version: N/A
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

I'm looking to get AirSim working with multiple environments in the same binary. I've followed the tutorials to get custom environments into AirSim and am able to run them through the editor. Howeve

[2022-03-25 13:50] slowbrain-jaym opened #4434 "Documentation website is not available (https://microsoft.github.io/AirSim/)"
I cannot access the documentation website on either my home or work computers, I am getting the following error page:
![image](https://user-images.githubusercontent.com/15910590/160133476-0afb4a5c-fee3-47a0-85bb-8a1e34459363.png)

Apologies if this is not the correct place to report this!

## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context de

[2022-03-25 14:22] zimmy87 commented on #4418
Can you elaborate on how you're selecting points in your third screenshot? It looks like you're using CloudCompare, but it's unclear to me how you're selecting a subset of points that corresponds to those produced by a "single shot". I did some testing locally with the settings you provided and with the default update frequency of 10, one single iteration of the lidar obtaining a point cloud shoul

[2022-03-25 14:41] thomasTUK commented on #4418
HI @zimmy87 , Thanks for the message! The third picture is just a zoom in the second picture.
Can you provide me some code of how to integrate the time stamps?

[2022-03-25 15:22] ryan-sandzimier commented on #4434
Having the same issue here.

[2022-03-25 15:35] SaundersJE97 commented on #4434
Same here

[2022-03-25 16:38] ryan-sandzimier commented on #4434
For those waiting for a fix, here's an archive of the documentation site. Not all links were archived though.

https://web.archive.org/web/20220309094944/https://microsoft.github.io/AirSim/

[2022-03-25 19:11] rhalaly commented on #4299
Sorry for the long delay @zimmy87. I tried to follow the tutorial for Ubuntu Nvidia on Azure VM (NV12s_v3) and got:
<img width="609" alt="image" src="https://user-images.githubusercontent.com/8597700/160186181-ffbf0b91-b222-4e49-86e3-d22abe150d19.png">

Can you please provide an example in your docs how to run AirSim on Azure Linux machines?

[2022-03-26 11:44] hashikemu commented on #1035
The last time I used it was 4 years ago, so the situation may have changed,
but it is necessary to build the environment according to the following contents.
https://jp.mathworks.com/help/matlab/matlab_external/install-supported-python-implementation.html?lang=en
https://github.com/Microsoft/AirSim/blob/master/PythonClient/car/hello_car.py

If the environment has already been built,
please check i

[2022-03-26 14:29] #1719 closed

[2022-03-28 11:46] Flautdn commented on #2753
ERROR: Could not find definition for module 'test2' (referenced via test2Editor.Target.cs)

[2022-03-28 12:18] Flautdn commented on #2753
When compiling with a custom made environment. After adding source folder as per blocks and making changes in .project, I get the above error

[2022-03-28 15:55] lnexenl commented on #4389
Okay I will do the setting and then take a test to see whether RPC have some latency and update the result here. Thank you! @zimmy87

[2022-03-28 17:02] kutilanak opened #4440 "AirSim tutorial error: 'simGetImage' bad cast, WSAECONNREFUSED"
Hello guys, newbie here.

## Question
### What's your question?

I'm trying to follow this tutorial here
[https://medium.com/@realderektan/go-dr-ve-yourself-a-self-driving-car-using-end-to-end-deep-learning-and-airsim-84e44e544e48](url)
with his code here [https://github.com/Microsoft/AutonomousDrivingCookbook/tree/7a412165fcff2bc427ea1498bb3c0ec7b1e0f522/AirSimE2EDeepLearning](url)
and his car mo

[2022-03-28 17:20] kutilanak opened #4441 "Cannot run blocks environment"
## Question
### What's your question?

I've followed the tutorial here [https://microsoft.github.io/AirSim/build_windows/](url) and here [https://microsoft.github.io/AirSim/unreal_blocks/](url) but it seems I still can't run Blocks Environment successfully.

### Include context on what you are trying to achieve

I'm trying to run Blocks Environment.

#### Context details

Airsim 1.6.0
VS2019
UE 4.

[2022-03-28 18:08] zdjeffri opened #4442 "AirSim (+ ROS wrapper) not publishing clock when /use_sim_time is set to true?"
## Bug report

- AirSim Version/#commit: commit 8057725712c0cd46979135396381784075ffc0f3
- UE/Unity version: 4.27.2-18319896
- autopilot version: N/A
- OS Version: Windows 11 21H2, Ubuntu 20.04.4, ROS Noetic, (Using WSL2)

### What's the issue you encountered?
Using AirSim to simulate lidar data for an autonomous robot. Have the clock speed for AirSim set at 0.5 (via settings.json). Can confirm th

[2022-03-28 18:22] zdjeffri commented on #4442
I'll add, that in ROS terms at least, the airsim_node is not acting as a clock server when "use_sim_time" is true, but when "use_sim_time" is false, it is not acting as a clock server. It should work in both cases, or at least the opposite case. Hopefully, this clarifies the issue.

[2022-03-28 19:35] jonyMarino commented on #4440
@kutilanak regarding the bad cast, seeing your stack trace, I think you are sending a False as vehicle name.
Regarding the connection refuse, maybe your firewall is preventing it to connect?

[2022-03-28 20:03] jonyMarino commented on #4441
It seemes you are mising some dependencies. Didn't you get any error on the previous steps?

[2022-03-28 20:49] marionro opened #4443 "C++ Lidar API"
## Question
### What's your question?
Hello, i started using AirSim only 2 weeks ago so I'm quite new with it and i have issues using the lidar sensor.
How do we use lidar sensor with C++ API ?

### Include context on what you are trying to achieve
I'm testing AirSim to know if it would be corresponding our requirements to run with our external AP.

#### Context details
I'm using C++ API on Visual

[2022-03-29 03:01] dzywater opened #4444 "lidar_data is given the wrong timestamp in ROS2"
https://github.com/microsoft/AirSim/blob/78d8cf732ad08993183699cadf33d084bc5b176d/ros2/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp#L650

I think that it should be
"lidar_msg.header.stamp = rclcpp::Time(lidar_data.time_stamp);" like other sensors' timestamp given.

[2022-03-29 03:05] dzywater opened #4445 "dist_msg.max_range is given the wrong value in ROS2"
https://github.com/microsoft/AirSim/blob/78d8cf732ad08993183699cadf33d084bc5b176d/ros2/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp#L760
It should be "dist_msg.max_range = dist_data.max_distance;"

[2022-03-29 05:48] kutilanak commented on #4440
How can I solve the False?
Regarding the firewall, I've click the "Allow access" when the notice pop up and tried turning off the firewall but the problems persist. Is it because its the older version of airsim?

thank you for your response.

[2022-03-29 06:15] NNaroa commented on #4383
Same problem over here. The error occurs sometimes after 5 minutes of training, sometimes after more than 12 hours of training (without changing anything in the scripts or the environment).

I've tried several configurations:
- Windows 10, Airsim 1.6.0, UE 4.27.2, Blocks environment.
- Windows 10, Airsim 1.6.0, UE 4.27.2, LandscapeMountains environment.
- Windows 10, Airsim 1.7.0, UE 4.27.2, Block

[2022-03-29 06:20] kutilanak commented on #4441
I tried to install UE 2.5, build AirSim again, and follow this step again https://microsoft.github.io/AirSim/unreal_blocks/ and it works for me.

Thank you for your response!

I'm closing this thread

[2022-03-29 06:20] #4441 closed

[2022-03-29 08:27] tqltech commented on #2591
catkin_make clean

[2022-03-30 02:41] rajat2004 commented on #4443
The C++ API should work as well, please post both the entire settings file and the script you're using so that it's easier to figure out what's going wrong

[2022-03-30 02:51] rajat2004 commented on #4440
The API call you're doing is - `client.simGetImages([client.simGetImage(0, 0, False, False)])`
You cannot combine both `simGetImage` and `simGetImages`, use either of the two.
Such as `client.simGetImage("camera_name", ImageType)`, or `client.simGetImages([airsim.ImageRequest("camera_name", airsim.ImageType.Scene, False, False)], "vehicle_name")`
There's the [API ref docs](https://microsoft.github

[2022-03-30 12:02] kutilanak commented on #4440
It works for me! thank you so much! I'm closing this

[2022-03-30 12:02] #4440 closed

[2022-03-30 16:26] yhabib29 opened #4447 "ROS wrapper GPU memory leak"
## Bug report

- AirSim Version/#commit: v1.7.0-linux
- UE/Unity version: 4.25.4
- autopilot version: PX4
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

I use AirSim with Unreal Engine to simulate a drone with a stereo camera. I am using DJI S900 model and a combination of few settings I have found on the AirSim doc. The simulation launches, I can control using the PX4 autopilo

[2022-03-31 03:06] HSC-1 commented on #4398
Add Visual Studio log message
[code]
I found Visual Studio log message.
What settings should UE4 set so that the above errors are not occur?
I'm sure I put the image file in all the directories.

[2022-03-31 04:47] ryan-sandzimier commented on #4434
@jonyMarino The documentation website is down again.

[2022-03-31 06:33] REGATTE commented on #4434
Yup, its down again. When can we expect it to be up and running again??

[2022-03-31 09:21] dzywater opened #4448 "Conversion depth image into ros2 sensor_msgs::msg::Image has redundant timecost."
Image transportation latency is important, especially depth image for mapping, path planning, obstacle avoidance and other real-time vision algorithms.
In ROS2 package, time of conversion depth image into ros2 image can be optimized.
(1) https://github.com/microsoft/AirSim/blob/efa18738ac20f9b7433c489cb57dd16e8343a475/ros2/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp#L1276 one-by-one by at(i,j)

[2022-03-31 15:45] yhabib29 commented on #4442
Hello,
I also had an issue using ROS wrapper regarding simulated clock. I was recording all data into a rosbag.
To be able to record simulated data and clock while using a custom _ClockSpeed_ I did the following:
1. In **`airsim_node.launch:7 `** I added:
[code]
2. Thus, I launch airsim_node using following command:
[code]
3. Renamed clock topic from `/airsim_node/clock` to `/clock`. To do this, I

[2022-03-31 16:33] lintong-zhang commented on #3162
I tried adding lidar for computer vision mode but it doesn't work. The alternative solution is to use ` "SimMode": "Multirotor",
  "PhysicsEngineName":"ExternalPhysicsEngine" `  to control a drone around. But there is no keyboard input so it has to be a remote control or programme movement with keys through API.

[2022-03-31 16:34] #4350 closed

[2022-03-31 16:50] #1467 closed

[2022-03-31 16:58] jonyMarino commented on #2940
https://github.com/saihv/AirSim/blob/master/Unreal/Plugins/AirSim/Source/ManualPoseController.cpp
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-03-31 17:01] jonyMarino commented on #2809
See #3888
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-03-31 17:04] jonyMarino commented on #2895
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-03-31 17:04] #2895 closed

[2022-03-31 17:06] #2559 closed

[2022-03-31 17:27] jonyMarino commented on #2903
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-03-31 17:27] #2903 closed

[2022-03-31 17:28] #2984 closed

[2022-03-31 17:31] #1557 closed

[2022-03-31 17:32] jonyMarino commented on #2590
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-03-31 17:32] #2590 closed

[2022-03-31 17:33] jonyMarino commented on #3003
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-03-31 17:33] #3003 closed

[2022-03-31 17:34] jonyMarino commented on #2476
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-03-31 17:34] #2476 closed

[2022-03-31 17:35] #3011 closed

[2022-03-31 17:37] jonyMarino commented on #2032
Does anyone have solved this problem?

[2022-03-31 17:38] elsa211 commented on #2032
您好，您发送的邮件已收到。

[2022-03-31 17:39] zdjeffri commented on #4442
@yhabib29 What version of AirSim are you using? Are you using a car or a drone? What version of ROS?
This solution did not work. AirSim, whether using public or private nodehandle, only publishes clock is use_sim_time is false - which is my problem. If use_sim_time is true, clock is not published.

[2022-03-31 17:41] #3028 closed

[2022-03-31 17:42] jonyMarino commented on #2997
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-03-31 17:42] #2997 closed

[2022-03-31 17:43] jonyMarino commented on #2973
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-03-31 17:43] #2973 closed

[2022-03-31 17:45] #2999 closed

[2022-03-31 17:49] jonyMarino commented on #2966
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-03-31 17:49] #2966 closed

[2022-03-31 23:31] #4434 closed

[2022-04-01 08:29] HSC-1 commented on #4398
Sorry path problem and meterial string proble
But if it's not blueprint, it doesn't work as intended.
The chair is blueprint,Just the table is static mesh actor.
![image](https://user-images.githubusercontent.com/76798501/161225573-d27b582d-d93e-40e1-ad3b-6999061969b3.png)

[2022-04-01 13:53] dzywater opened #4453 "The camera_optical_tf is wrong in ENU coordinate system in ROS2"
The static_camera_optical_tf is in AirsimROSWrapper::append_static_camera_tf(...)

The camera_optical_tf is in AirsimROSWrapper::publish_camera_tf(...)

If isENU_==false, they are not right results.

Moreover, no need to do repeated conversions between quaternion and ratotion matrix, and just do quaternion multiplication once.

The modification are following (raw codes are commented).
#
void Airsi

[2022-04-01 15:52] yhabib29 commented on #3806
Up !
I have the same issue using latest AirSim v1.7.0 and Unreal Engine 4.25.4.
Anyone managed to retrieve the whole scene mesh ?

[2022-04-01 18:43] capsulecorplab opened #4454 "Edit on GitHub link redirects to 404 page"
## Bug report

- AirSim Version/#commit:
- UE/Unity version:
- autopilot version:
- OS Version:

### What's the issue you encountered?

[Edit on GitHub](https://github.com/microsoft/airsim/edit/master/docs/README.md) link on https://microsoft.github.io/AirSim/ redirects to 404 page

![Screenshot from 2022-04-01 12-41-42](https://user-images.githubusercontent.com/14095576/161323076-4fb8286b-ed93-47

[2022-04-04 14:25] kutilanak opened #4459 "How to record Car AirSim steering value in detail"
## Question
### What's your question?

How to record Car AirSim steering value in detail? not just -1, 0, 1
### Include context on what you are trying to achieve

I'm trying to make something like
https://medium.com/@realderektan/go-dr-ve-yourself-a-self-driving-car-using-end-to-end-deep-learning-and-airsim-84e44e544e48

from the dataset I got there (https://aka.ms/AirSimTutorialDataset), the **st

[2022-04-05 16:36] #4420 closed

[2022-04-05 16:57] zimmy87 commented on #4418
The timestamp is included in the lidar output [here](https://github.com/microsoft/AirSim/blob/master/AirLib/include/sensors/lidar/LidarSimple.hpp#L101). You can read this value by accessing the `LidarData.time_stamp` field returned by a call to `getLidarData` in the python client. For example, in a python script, you can print the timestamp by executing the following (not tested locally):

[code]

[2022-04-06 06:17] thomasTUK commented on #4418
I'll have a look @zimmy87! Are you able to answer my question, posted here? It is regarding the timestamp but also the Lidar parameters.
https://github.com/microsoft/AirSim/discussions/4406

[2022-04-06 11:41] gudong321 commented on #2311
CinemAirSim is just for Linux, but for win?

[2022-04-06 13:59] yhabib29 commented on #4447
I found out a solution.
My Environment is packaged for Linux (No Editor), and it was launching in fullscreen. So I had to reduce the screen (Alt+Tab) to switch back to my terminal and launch AirSim ROS wrapper. When starting the ROS node, the GPU memory usage was increasing until it saturates.

The workaround is to launch the Game using `-windowed` argument, for instance:
[code]
Now it works well

[2022-04-06 13:59] #4447 closed

[2022-04-06 14:29] ppueyor commented on #2311
Hi @gudong321,

Theoretically, it is also available for Windows, but I didn't have the chance to test it there.

[2022-04-06 17:45] jonyMarino commented on #4413
@krishnarajk, sorry for the delay. It doesn't seem obvious to me to fix the problem by modifying our flight controller. Other alternatives are PX4 or ardupilot. Also, our ROS wrapper has its own PD controller to set the position, and you can adjust its parameters. Do any of these alternatives work for you?

[2022-04-07 03:38] #4398 closed

[2022-04-07 16:30] #4431 closed

[2022-04-07 17:29] zimmy87 commented on #4381
Hey @rhalaly, did you by chance manually install Nvidia drivers on your Azure machine? If so, there's a possibility you may not be using the GRID drivers that have the license for running in WDDM graphical rendering mode instead of TCC CUDA compute mode. Can you check whether your drivers are in WDDM mode?

[2022-04-08 07:31] dzywater opened #4469 "CameraDefaults->CaptureSettings cannot be applied to new cameras"
In my settings.json has following two configs.
#
  "CameraDefaults":
  {
    "CaptureSettings":
    [
      { "ImageType": 0,  "Width": 320, "Height": 240, "FOV_Degrees": 90 },
      { "ImageType": 1,  "Width": 320, "Height": 240, "FOV_Degrees": 90 },
      { "ImageType": 2,  "Width": 320, "Height": 240, "FOV_Degrees": 90 },
      { "ImageType": 3,  "Width": 320, "Height": 240, "FOV_Degrees": 90 }

[2022-04-08 07:40] dellhuyongcai opened #4470 "Anyone knows the reason that the AI Characters keep static in the AirSimGameMode while in the None or other modes the AI Characters work normally?"
Hi,friends,I met a problem about AirSim few day ago,I tried some methods to solved it,but with uselessness,I got AI Citizen Plug from Unreal Market,In the None Mode or other game mode,the AI Characters walking normally,but when I change the mode to AirSimGameMode ,some characters keeps static in its place,some characters walking normally,tried it more times ,the problem still existed,anyone meets

[2022-04-08 16:24] eherozhao commented on #4074
Sorry for late reply. I was not working on this stuff right now. If I remembered right, I bypassed the issue when I hit it. You can close the issue now.

[2022-04-08 16:27] eherozhao commented on #4075
Sorry for the late reply and thank you for the answer. Our team launched an Unreal Engine 4 plugin to procedurally create content for autonomous vehicles and robotics simulation areas. I used AirSim with our plugin and it worked together. https://github.com/aws-samples/aws-ambit-scenario-designer-ue4.

[2022-04-08 18:29] #4074 closed

[2022-04-09 04:49] StardustLu opened #4473 "How to calculate corresponding points coordinates with RGBD image?"
### Discussed in https://github.com/microsoft/AirSim/discussions/4355

<div type='discussions-op-text'>

<sup>Originally posted by **StardustLu** February 16, 2022</sup>
Dear all,
I try to calculate corresponding points coordinates in world coordinate system with RGBD image, but the result is not good. If I understand it right, the pos in airsim should have no error. So what's wrong with my calcul

[2022-04-09 06:43] kutilanak commented on #4422
did u run the .py or .ipynb ?

try to run the whole code not 1 by 1

[2022-04-09 08:34] ChengS77 commented on #921
hi,how to set thresholding to get rid of the large values?

[2022-04-09 08:57] kutilanak commented on #4459
I found the answer to this question. You have to use steering wheel or xbox controller like mentioned here https://github.com/microsoft/AutonomousDrivingCookbook/issues/27

Closing this.

[2022-04-09 08:57] #4459 closed

[2022-04-09 23:11] wouter-heerwegh opened #4474 "Usage of UWorld::AsyncSweepByChannel instead of UWorld::LineTraceSingleByChannelTrace for better lidar performance"
## What feature are you suggesting?
### Overview:

For large point clouds (>10000) the game thread hangs for some time. When comparing the distance driven by using the current velocity and the distance covered in the simulator, these will start to deviate.

Using the async line trace function will allow the gamethread and it's physics to keep running at a constant rate amd reduce/eliminate this is

[2022-04-10 12:03] danialvi commented on #4422
I did try one by one in jupyter. Should i try by running all at once in jupyter or run the file in miniconda?

[2022-04-10 12:25] kutilanak commented on #4422
I think whatever app you're using didn't matter as long as you're running it all at once

![image](https://user-images.githubusercontent.com/102533910/162618004-1e8dabca-a955-43b9-a367-da299eb093ed.png)

[2022-04-10 12:28] kutilanak commented on #954
Hello, have you find the solution? thank you

[2022-04-11 12:29] dzywater opened #4475 "camera_tf is ambiguous when diffrent vehicles have same camera names in ROS2"
The camera_tf(optical, body, optical/static, body/static) header.child_frame_id has no vehicle name part.

This leads ambiguous tf2_ros::Buffer::lookupTransform betweent two camera tfs when multiple vehicles have same camera name.

Besides, it is also ambiguous  when creating camera's subframes.

Other sensors(imu,gps,lidar...) have no this issue. their tf header.child_frame_id  has vehicle name p

[2022-04-11 12:44] danialvi commented on #4422
THANK YOU!!! IT worked !

[2022-04-12 10:56] Jamy-L opened #4477 "setCarControls() is not working when using multiples vehicles with custom PawnPath"
## Bug report

- AirSim Version/#commit:  V 1.7.0
- UEversion: 4.27

### What's the issue you encountered?

When using a custom PawnPath for vehicles, and spawning multiple of them, the setCarControl doesn't work as intended. Only one vehicle can be controlled, and the other remains unresponsive

### Settings

[code]
### How can the issue be reproduced?

1. Create at least 2 vehicles in settings.J

[2022-04-12 12:03] #4477 closed

[2022-04-12 12:05] Jamy-L commented on #4477
The problem came from the blueprint of the buggy (vehicleAdvPawn). "Auto Posses AI" must be set to "Placed in World or Spawned" and "AI Controller Class" must be set to "AIController". I think it would be good to update this blueprint, as it is also incapable of detecting collisions by default.

[2022-04-13 03:05] StarsTesla opened #4480 "Support for UE5"
## What feature are you suggesting?
### Overview:

Hey there! Can we have the support of AirSim for UE5? The new engine is really great!
### Smaller Details:

### Nature of Request:

- Addition
- Change
- Removal
  -

## Why would this feature be useful?

[2022-04-13 13:02] MartinRossel-67 opened #4483 "simSetSegmentationObjectID don't find the Unreal spawned objects"
## Question
### What's your question?

I'm using AirSim to get segmented images from Unreal custom procedural generated maps. Those maps are generated in real-time. I spawn a lot of objects. The thing is: the function "simSetSegmentationObjectID" doesn't find the objects when I spawn them in real-time unless I change their name.

### Include context on what you are trying to achieve

#### Context

[2022-04-13 14:29] Jeriko3 opened #4484 "AirSim C++ API hasn't the same number of arguments between Rpc client and server calls"
## Bug report

- AirSim Version/#commit: 1.7.0-windows
- UE/Unity version: 4.25.4
- autopilot version:
- OS Version: Windows 10

### What's the issue you encountered?

Using the C++ API in the following detection example code

[code]
The error acknowledging simSetDetectionFilterRadius requires 5 argument, but only 4 were passed to the function.

Analyzing the code in AirSim/AirLib/src/api/RpcLibCl

[2022-04-14 21:13] denmonz commented on #4166
@imnotkind Would your issue regarding evaluating rewards be resolved by adding more points to the `pts` array, such as midpoints (and midpoints of those midpoints) and shortening the `thresh_dist` so it further constrains the bounds of the agent? I'm also looking into adapting [this](https://stackoverflow.com/a/56467661) algorithm to determine which line segment it's closest do, and evaluate the d

[2022-04-15 19:00] OPyshkin commented on #4473
Have you rectified the input images?

[2022-04-18 12:20] RichardHopkirk commented on #3004
Github just reminded me that this issue is now quite old, so should be closed.
I'll close now - but if there's interest do say and it can be can reopened.
If I get time I'll try to do a PR for the change.  I still use it locally, and I think it's still valid on the latest master.

[2022-04-18 12:20] #3004 closed

[2022-04-18 18:56] niwc-jamelc commented on #2940
@jonyMarino I'd like to reopen this issue as a feature request to add the UE4 editor Input Mapping system in UE4's Project Settings and Config ini file.

Making changes to any of the inputs required digging through the plugin code and recompiling it anytime you wanted to make a keybinding change. Also, any Keybinding changes would not take effect on the HUD.

I've been working on a branch that all

[2022-04-19 00:05] p3jawors commented on #2914
This is still an issue on my end, has there been any word on taking a look at, or trying to recreate these results?

[2022-04-19 11:44] praveenVnktsh commented on #3403
For anyone reading this in the future: I think the issue occurred because the command is not prolonged over several timesteps. The next command was taking more time than the simulation step and hence the quad was hovering after angle rate command.

Try to reduce the time delay between successive API calls to solve the issue.

[2022-04-19 11:44] #3403 closed

[2022-04-19 12:08] jonyMarino commented on #1576
Take a look at the urdfAirSim repository for examples

[2022-04-20 10:20] subedisuman commented on #2788
# Update
In the following [branch](https://github.com/subedisuman/AirSim/tree/ekf "branch"), I have implemented an Extended Kalman Filter (EKF) based state estimator as a part of my Master Thesis. It uses the following sensor measurements: IMU, GPS, Barometer, and Magnetometer to estimate the following states: local (NED) x-y-z positions, x-y-z velocities, attitudes, and IMU and barometer sensor b

[2022-04-21 06:20] StardustLu commented on #4473
Thanks for your reply :)
I did nothing with the RGBD image
I just edit `settings.json` and record them, then I calculate the correspondence by RGBD image and extrinsic parameters in `airsim_rec.txt`

[2022-04-21 07:29] Kevinlibaba opened #4492 "Ardupilot with airsim: Error while receiving rotor control data"
## Bug report

- AirSim Version/#commit:Binary 1.7.0
- UE/Unity version:N/A
- autopilot version:master
- OS Version:Ubuntu 18.04

### What's the issue you encountered?

When I run the binary with ArduCopter's setting, an error was occurred as follows:
[code]

### How can the issue be reproduced?

1.Set the 'VehicleType' in settings to ArduCopter/ArduRover, and run airsim with binary. the error wil

[2022-04-21 16:20] Lyccccccccccc opened #4493 "Unity crashes when I hit play for any demo"
## Bug report

- AirSim Version/#commit: Latest one. I just clone the latest repo.
- UE/Unity version: I tried both 2019.3.12 and 2020.3.29
- autopilot version: N/A
- OS Version: Windows 10

### What's the issue you encountered?

I followed the instruction to build Airsim on Unity on Windows and I opened the demo project and hit play to start. Unity just crashed with whatever mode. Once I deleted

[2022-04-21 16:29] Lyccccccccccc commented on #4493
When I removed the two scripts under AirsimManager, the scene worked fine. I guess the issue is about the server and tick scripts.

[2022-04-21 16:30] Lyccccccccccc commented on #4493
But I can't see what's going on inside the wrapper. Can't dig further about this issue.

[2022-04-22 13:52] X-DDDDD commented on #4493
same question😿

[2022-04-23 19:25] JuanshuB2 opened #4494 "LiDAR Pointcloud to 2D image"
## Question
### What's your question?
Is it possible to get the LiDAR debug points as an 2D image directly for AirSim? Like the one above but only the green points. whitout the objects?

![image](https://user-images.githubusercontent.com/80858561/164943249-24a2bc32-7c3f-48c3-90a2-1848e6c5de3f.png)

### Include context on what you are trying to achieve
I want the 2D image from the LiDAR pointcloud

[2022-04-25 07:42] zimmy87 commented on #4484
Thank you for finding this, @Jeriko3; I submitted a PR containing your suggested fix in #4496, feel free to test with it applied.

[2022-04-25 15:27] #4469 closed

[2022-04-25 18:09] #4484 closed

[2022-04-26 01:51] HonsenZhang opened #4498 "Could not find a version that satisfies the requirement airsim"
## Bug report

- AirSim Version/#commit: 1.7.0
- UE/Unity version: N/A
- autopilot version: N/A
- OS Version: ubuntu 20.04

### What's the issue you encountered?

i want to use the version 1.7.0, but when i excute the command `pip install airsim==1.7.0`, there is an error says:
`ERROR: Could not find a version that satisfies the requirement airsim==1.7.0 (from versions: 1.2.0, 1.2.1, 1.2.2, 1.2.3,

[2022-04-26 09:07] dzywater opened #4499 "simPlotTransform/simPlotTransformsWithNames seems not draw right transform"
The drawn transform is neither NED nor ENU

I set vehicle "drone_0" pose in settings.json: "X": 2, "Y": 4, "Z": 0, "Roll": 0, "Pitch": 0, "Yaw": 0,

(1) Draw world frame with pose: postionXYZ={0,0,0} and rotationXYZW={0,0,0,1}

(2) Draw drone_0 frame with pose: postionXYZ={2,2,0} and rotationXYZW={0,0,0,1}

Below is the result image, it likes neither NED nor ENU.

![Uploading abc.png…]()

It likes

[2022-04-26 09:11] 77788888 commented on #3297
how to increate the frame per second of the depth image in AirSim

[2022-04-26 16:02] jonyMarino commented on #2788
Thank you very much @subedisuman, for the detailed update. You are doing an excellent job! Keep it up!

[2022-04-26 17:14] jonyMarino commented on #4498
Hi @HonsenZhang, and welcome! The package was recently updated. You can now download it through pip.

[2022-04-26 17:14] #4498 closed

[2022-04-26 19:54] emilykjensen commented on #2349
I am having the same problem, using Windows 11 and Unity version 2019.3.12f1. The standard generated logs in Unity show that it is detecting the repeated collisions, but the drone will still fly through objects. I have also tested this on objects at least 40 meters thick, using the same material and settings as the objects provided in the demo environment. Beyond the attempted fixes listed above,

[2022-04-27 10:31] Zzerr0r opened #4500 "multirotor fly in straight line"
### Discussed in https://github.com/microsoft/AirSim/discussions/4497

<div type='discussions-op-text'>

<sup>Originally posted by **Zzerr0r** April 25, 2022</sup>
Hi, I am just trying to fly in a straight line.
I am using moveToPositionAsync(200,0,0,40) so i expected the drone to just fly 200 meters in x-direction and 0 in y- and z-direction. However the drone keeps dropping until it eventually c

[2022-04-27 13:48] Zzerr0r opened #4502 "client.getDistanceSensorData() not working in ComputerVision mode"
## Bug report

- AirSim Version/#commit: 1.7.0-windows
- UE/Unity version: 4.26
- autopilot version: N/A
- OS Version: windows 10

### What's the issue you encountered?
[code]
leads to
[code]

### Settings
[code]

[2022-04-27 15:37] Mrunalika96 commented on #892
we are getting an error as exception thrown 1

[2022-04-27 16:55] Lyccccccccccc commented on #4493
@zimmy87 I produced the crash again in Unity 2019.3.12. Now I have two log files. The computer vision mode seems not compatible with AirsimManager.

[error.log](https://github.com/microsoft/AirSim/files/8574700/error.log)
[Editor.log](https://github.com/microsoft/AirSim/files/8574701/Editor.log)

[2022-04-27 17:14] alonfaraj commented on #4502
Currently, computer vision doesn't have sensors like gps, distance etc.
That's the error message you got regarding the simulation only api.

[2022-04-27 17:15] Zzerr0r commented on #4502
Oh, that's unfortunate, thanks for the reply tho!

[2022-04-27 17:15] #4502 closed

[2022-04-28 13:16] Zzerr0r commented on #1916
@AlexanderZ3 have you been able to solve this? I am currently stuck with the same problem of not knowing how to use the camerInfo().proj_mat

[2022-04-28 16:56] #919 closed

[2022-04-28 16:58] #1024 closed

[2022-04-28 17:00] #1269 closed

[2022-04-28 17:52] #4444 closed

[2022-04-28 17:54] #4445 closed

[2022-04-29 05:52] huytd-pi opened #4507 "Error while building AirSim"
## Bug report

- AirSim Version/#commit: v1.7.0
- UE/Unity version: 4.25
- autopilot version: PX4
- OS Version:Ubuntu 18.04

I do AirSim build on linux, processes I follow steps like this path: https://microsoft.github.io/AirSim/build_linux/
I followed the steps one by one until the AirSim build step got an error.
Every time I run the build, there is a different message like:
_make: *** [cmTC_9d0d

[2022-04-29 08:42] #4470 closed

[2022-04-29 13:09] #4453 closed

[2022-04-29 18:12] #4448 closed

[2022-05-02 12:19] #4475 closed

[2022-05-02 17:24] jonyMarino commented on #4347
@noahzn sorry for the late response. You don't have the center of the blueprint in the center of the propeller.

[2022-05-02 18:22] jonyMarino commented on #4494
@JuanshuB2 that is not currently possible. Why do you need the 2D image of the points reached by the lidar?

[2022-05-04 10:19] JuanshuB2 commented on #4494
Thanks for your reply @jonyMarino. I need the 2D image because we want to do the overlapping camera-lidar. Now we are transforming the 3D pointcloud to 2D image but the overlap sometimes is not easy, so a ground truth like that would be great. However, I guess we can work with that image, even if we can not have both. Maybe some kind of image processing can be done to delete the green points.

[2022-05-05 10:00] bkbbq commented on #2367
so what the really problem is and how to fix??? have stuff in this case for a few days when running with ue5 git source code . thanks for reply...

[2022-05-05 16:15] jonyMarino commented on #2367
@bkbbq you can open a new issue, but we don't officially support ue.

[2022-05-06 16:34] Ibrahim2595 commented on #2648
Any solution to this so far? I am getting the same issue still and I have this as my json file.

{
 "SimMode" : "",
 "SettingsVersion" : 1.2,
 "SeeDocsAt" : "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md"
}

I also opened the file with visual studio and accepted the recommendations to fix for windows. But error is still there.

[2022-05-06 16:37] Ibrahim2595 opened #4514 "Cannot Read settings file when running in unity"
I am getting this error when running the game mode in unity on windows

Unity 2019.3.12f1
Followed the release instructions.

Error from console:

Cannot read settings file  C:\Program Files\Unity\Hub\Editor\2019.3.12f1\Editor\settings.json Vehicle=
UnityEngine.Debug:LogError(Object)
AirSimUnity.Vehicle:PrintLogMessage(String, String, String, Int32) (at Assets/AirSimAssets/Scripts/Vehicles/Vehicle

[2022-05-06 16:57] Ibrahim2595 commented on #4514
The file settings.json does not exist in my folder  C:\Program Files\Unity\Hub\Editor\2019.3.12f1\Editor\settings.json

[2022-05-08 12:59] kutilanak opened #4516 "Connect PXN V3 pro steering wheel and xbox controller to hawaii/coastline environment"
## Question
### What's your question?

How can I connect PXN v3 pro steering wheel and/ xbox controller to hawaii environment without error?

### Include context on what you are trying to achieve

If I try to control the car with abovementioned controller, the steering and accel always go like this without me touching anything.

![image](https://user-images.githubusercontent.com/102533910/16729572

[2022-05-09 02:47] bene-sim opened #4517 "water foam and wave effects of the sea do not apply when in airsim mode"
## Bug report
- AirSim Version/#commit: v1.7
- UE version: 4.26.2
- autopilot version: computer vision
- OS Version: WIN10

### What's the issue you encountered?
water foam and wave effects of the sea do not apply when in airsim mode.

It is a sea environment purchased from the marketplace of Unreal Engine, and as shown in the image below, the effects of the sea are well applied in the basic gamem

[2022-05-09 11:34] mhtsbt commented on #1757
I also encountered the same issue. It started occurring after I started requesting collision info from the Python API. This seems to be also the case mentioned by [DevMMI](https://github.com/DevMMI)

[2022-05-09 17:28] #4500 closed

[2022-05-09 19:10] jonyMarino commented on #4507
Hi and welcome @huytd-pi! See if [this post](https://stackoverflow.com/questions/2086072/linking-using-g-fails-searching-for-lstdc) can help you.

[2022-05-10 09:05] zhong-xing-xing commented on #4289
Hi!
I have same problem while flying the Drone
and I solve this problem by adding distance sensor in settings.json:
				"Distance": {
					"SensorType": 5,
					"Enabled" : true,
					"DrawDebugPoints": true,
					"MaxDistance": 200,
					"Pitch": 0.0, "Roll": 0.0, "Yaw": 90,
					"X": 0.00, "Y": 0.00, "Z": -1.00
				}
although i don't use distance sensor in my code, but the lidar works, it puts d

[2022-05-10 09:19] zhong-xing-xing commented on #4289
Hi!
I have same  problem while flying the Drone
you can use distance sensor to instead lidar, the distance sensor work well

[2022-05-11 02:51] HSC-1 commented on #3551
Hello, this is a closed issue, but it seems to be a similar issue, can you please reopen it?
The offset of the buoyancy simulation seems to happen regardless of the level currently loaded.

Other game modes work normally, but the airsim game mode doesn't work well. The same problem occurs even if the world origin is the player start.

**Other game modes**
![buoyancy_normal](https://user-images.git

[2022-05-11 20:18] jonyMarino commented on #3551
@HSC-1, can you try commenting [this line](https://github.com/ahmed-elsaharti/AirSim/blob/17d2b5d1067f6923519d7e70018fc039ec8d8130/Unreal/Plugins/AirSim/Source/SimMode/SimModeBase.cpp#L111), and following the steps to build AirSim from source (build, upgrade_from_git etc.)?

[2022-05-12 03:40] HSC-1 commented on #3551
Thanks, it works fine.
#4517
But I have a problem similar to the issue here.

The buoyancy seems to be applied
https://user-images.githubusercontent.com/76798501/167986364-6e56675a-3d76-4c94-be57-2e640bf63fcc.mp4

But the bubble effect is not applied.

**Other game modes**

https://user-images.githubusercontent.com/76798501/167987376-05459419-120c-4cc9-99b8-7c75cf827bfd.mp4

**Airsim mode**

https

[2022-05-12 18:51] zimmy87 commented on #4517
Hi @bene-sim, from looking at our AirSimGameMode, there's nothing that jumps out to me that could be causing the rendering of an effect like this to get disabled. The ThirdPersonGameMode you were using before isn't an engine class, so it may be doing some project-specific initialization of classes or variables that the wave effect depends upon. I would check the implementation of that class to see

[2022-05-13 13:52] nabil-mokhtar opened #4522 "Low FPS depth images (depthplanner)"
## Question
### What's your question?

I'm using airsim for simulating drone to acheive 3d mapping using RTABMAP algorithm , so using [kinect_publisher](https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/kinect_publisher.py)
which create ROS node publishes this topics:
- TF
- rgb
- depth
- camera info

my problem is depth topic hz is **0.164**  = each frame takes **6** seconds

[2022-05-14 11:42] SabryTarek commented on #4522
I have the same issue with Depth-Image
Depth-Image FPS: **4**

[2022-05-15 15:22] githjz commented on #4375
Could you elaborate about how you solved the error please ?
You switched from which version of Airsim to which? And what do you mean by "When using v1.7.0. binaries, Airsim v1.6.0. should be used."?

I ran into the same error using Airsim v1.7.0, so I wonder if there is any other  solutions.  @Villotadavid

[2022-05-15 18:04] Fengtao22 commented on #3846
Not sure if the issue has already been addressed yet. I had the same problem but solved it by modifying my Visual Studio. Specifically, I only selected "Desktop Development with C++" in the Workloads and chose the newest "Windows 10 SDK" in the Individual Components tab. Besides that, check your environment variable to see if the path to Powershell is there. Hope that helps!

[2022-05-16 09:22] xubeyb opened #4524 "PX4 HITL + External Offboard Controller + AirSim"
Hi everyone and especially Mr. Chris Lovett (@lovettchris),

What is the best way to include my external offboard controller in my simulation environment?

I am trying to setup a HITL simulation environment for my drone using AirSim. I use a companion computer connected to autopilot through a serial port (a mavlink channel) that takes care of offboard control and some other stuff. I have been usin

[2022-05-16 16:18] lovettchris commented on #4524
I have a couple ideas:
1) Have you tried it without the Lidar sensor - the Lidar is expensive in CPU and this could be causing AirSim to run too slowly, and send messages to the Pixhawk too slowly causing the simulation to fall behind.
2) But falling behind is solved by running PX4 in "lockstep" mode.  See [Lockstep Mode](https://github.com/microsoft/AirSim/blob/12d9c11b46fefbea275077621b513600462

[2022-05-16 16:19] godhj93 commented on #2835
It works well, but querying float data is very slow... (0.4sec/image)
Is there any solution with low latency?

[2022-05-16 17:22] godhj93 opened #4525 "How to get depth values in realtime?"
## Question
### What's your question?

I want to get depth images in realtime. I have tried to solve it but failed. I tried following methods:
- Following [this solution](https://github.com/microsoft/AirSim/issues/2835#issuecomment-658112000):querying floating depth data and converting it. It works well but TOO SLOW(0.4sec/image on RTX2070SUER, Intel I9-10900K, 128GB RAM)
- I found if I query uint

[2022-05-16 22:04] xubeyb commented on #4524
@lovettchris thanks, I'll give lockstep a try and will remove lidar as I do not need it anymore. Will update here

[2022-05-17 08:20] xubeyb commented on #4524
Lockstep is for tcp connection i.e SITL right? I am trying to achieve this with a serial connection

[2022-05-17 16:59] xubeyb commented on #4524
By the way this happens after like 3.00-3.15 minutes. The video is shortened for size

[2022-05-17 17:14] #4493 closed

[2022-05-17 17:14] microsoft-github-policy-service[bot] opened #4530 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-17 20:12] lovettchris commented on #4524
Thanks for the video.  Yes, your system is more than capable of running AirSim.   It does appear like lockstep got stuck.  It has the classic symptoms.  I'm recalling that a normal pixhawk firmware build (designed for flying real drones) does NOT have lockstep enabled by default which means you will have to build the firmware with lockstep enabled.  But can you try another test before you do that.

[2022-05-17 20:15] xubeyb commented on #4524
I gave it a shot. Unfortunately the result was same. I'll give it another try tomorrow

[2022-05-17 20:25] #4530 closed

[2022-05-17 21:55] xubeyb commented on #4524
What I don't understand is; ain't lockstep an SITL feature? Can it be activated in HITL also?

[2022-05-17 22:12] lovettchris commented on #4524
Right, you can see [in the code ](https://github.com/PX4/PX4-Autopilot/search?q=lockstep) that it is only enabled for SITL, here:

![image](https://user-images.githubusercontent.com/18707114/168918772-27ba6235-576e-4bcc-b04f-07c4c9e057a3.png)

Now you are using HITL, and so I'm wondering if you could build the HITL firmware with lockstep enabled, things might be a lot more predictable and you can

[2022-05-18 02:28] bene-sim commented on #4517
UE4.25 - airsim1.6
UE4.26 - airsim1.6
UE4.26 - airsim1.7
The list above does not apply.
This is a new fact that not only the "airsim"mode but also the "functionaltestgame" mode has the same problem.

[2022-05-18 02:35] bene-sim commented on #4517
I think this problem is originally a problem for this Asset.
I'm sorry for the confusion.
![image](https://user-images.githubusercontent.com/82623524/168945458-f62bf588-00ba-402e-8c0d-1130d3133b01.png)

[2022-05-18 21:47] xubeyb commented on #4524
I'll try these on Monday and will update you. Thanks for keeping up

[2022-05-19 17:35] jonyMarino commented on #4517
@bene-sim Thanks for these new reports. Now it doesn't seem to be an AirSim issue. You would need to modify other game modes (including AirSim game mode) to get that plugin to work with them.

[2022-05-20 10:11] wagh311 opened #4534 "Whether the distance sensor can obtain position information?"
## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

[2022-05-20 10:16] WarrenSkywalker opened #4535 "Cannot open Blocks.uproject with UE4.27"
## Question
### What's your question?

I followed the instruction here:https://microsoft.github.io/AirSim/unreal_blocks/, however, the UE4 cannot open the default Blocks environment in the AirSim. I found the version of the engine that made the Blocks.uprojcet is 4.27, which is the same as my UE version, it's wield that UE recognized the project came from an engine of different version.
### Includ

[2022-05-20 11:49] dellhuyongcai opened #4536 "Hi,friends in this forum,I want to make the airsim car move like other cars that move along the setting splines,I confuse at where to start it at this time,anyone knows this or having done this please do not hesitate to give me some ideas,I will be very grateful."
## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

[2022-05-22 22:35] samuelctabor commented on #4492
Are you running both on Linux?  For using on Windows with Ardupilot on a separate machine or in WSL2 you'll need some settings changes.

[2022-05-23 03:52] Kevinlibaba commented on #4492
Yes, both are running on Ubuntu 18.04

[2022-05-23 04:45] LongruiDong commented on #4535
Hi .
I am also meeting this error, have you solved yet?

[2022-05-23 07:18] deepchokshi commented on #4311
To add distance sensor to the drone is Airsim you need to add the configuration of distance sensor in settings.json. Configuration for distance sensor is mentioned below
"Distance": {
              "SensorType": 5,
              "Enabled": true,
              "MinDistance": 0.2,
              "MaxDistance": 40,
              "X": 0,
              "Y": 0,
              "Z": -1,
              "Yaw":

[2022-05-23 07:57] WarrenSkywalker commented on #4535
not yet, hope sb could help us

[2022-05-23 10:41] samuelctabor commented on #4361
ArduPilot needs some parameter changes to fly the default aircraft well, especially in yaw. These settings work a lot better for me.

ATC_RAT_YAW_P 0.2
ATC_RAT_YAW_I 0.2
ATC_RAT_YAW_D 0.09

I also made this change to fix the axis control mapping.

RCMAP_PITCH 4
RCMAP_YAW 2

I also found it flew better with reduced maximum rates and accelerations, but this is personal preference.

ATC_ACCEL_P_MAX

[2022-05-23 11:11] HSC-1 opened #4538 "How to rescale DepthVis max distance?"
## Question
### What's your question?

I modified the blueprint as shown in the picture below to make it more subdivided by reducing the size of the depth.
![image](https://user-images.githubusercontent.com/76798501/169805442-cc2924c8-8043-4897-9838-bea00fd41dbb.PNG)

So it worked fine in the editor as intended.

![depth](https://user-images.githubusercontent.com/76798501/169805641-01fe765e-7e74-4

[2022-05-23 22:22] Davidsastresas commented on #4535
I am having the same issue all of a sudden!

[2022-05-24 10:24] br0tda commented on #4432
Same issue, any idea?

[2022-05-24 10:51] talha-opteran commented on #4432
Sorry- forgot to update this.

I managed to make it work by hacking some changes in AirSim source. Then, in settings.json, add the `"Default Environment": "YourMapName"` pair. The map name corresponds to the map file name in Unreal Editor.

`AirSim/Unreal/Environments/Blocks/Plugins/AirSim/Source/SimHUD/SimHUD.cpp:`

[code]

For changing levels during runtime, the `else` clause of `loadlevel()` wi

[2022-05-24 11:31] Jeriko3 opened #4542 "simLoadLevel (C++ API) doesn't destroy assets before loading new Level"
## Bug report

- AirSim Version/#commit: Release 1.7.0
- UE/Unity version: 4.25.4
- autopilot version:
- OS Version: Windows 10

### What's the issue you encountered?

Using the following command
[code]

Assets aren't destroyed in the new map

Before load:
![BeforeLoading](https://user-images.githubusercontent.com/58850712/170024058-c763e9c0-f539-4b88-9c7e-fa1bd61a4004.png)
After load
![AfterLoadi

[2022-05-24 15:44] andrewjong commented on #4535
Hi all, I managed to open Blocks.uproject on my machine. UE4.27 on Ubuntu 18.04.

1. Cloned UnrealEngine to ~/UnrealEngine. Cloned AirSim to ~/AirSim
2. Cleaned the UBlocks project `cd ~/AirSim/Unreal/Environments/Blocks && ./clean.sh`
3. Installed [mono-complete for Ubuntu 18.04](https://www.mono-project.com/download/stable/#download-lin)
4. Made some symlinks: `ln -s /usr/bin/mono /bin/mono && l

[2022-05-24 16:39] zimmy87 commented on #4535
Thanks for looking into this and providing a solution @andrewjong! Another solution I found is to follow the instructions in this [forum post](https://forums.unrealengine.com/t/solved-upgrade-c-project-from-ue-4-24-to-4-25-under-linux/144950/11). Basically, this is happening because of an outdated BlocksEditor shared library left over from a previous build. I'll try and look into what specific bui

[2022-05-24 23:48] 09zs19 commented on #4535
I have been running into the same issue for about a week or so and the solution from @andrewjong worked perfectly for me.  Thank you for the help!

[2022-05-25 00:53] deoliveirajoshua commented on #4398
I'm getting a similar error when running the change_texture_example.py script in UE 4.27 version. The jpg is in the working directory of my script. How did you find a workaround?

[2022-05-25 02:12] HSC-1 commented on #4398
Hello, can you try by modifying the full directory of jpg?
ex) "C:./user/Airsim/image.jpg"

[2022-05-25 15:23] zimmy87 commented on #4516
I tested my xbox controller locally in the coastline 1.7.0 environment and it's working fine for me. If you run `joy.cpl`, then click on properties for either your xbox controller or steering wheel, do you see the test display respond properly to input on your controllers? Unfortunately, we don't have a PXN v3 pro steering wheel to test with, and I don't believe we currently have explicit support

[2022-05-25 18:22] TorsteinOtterlei opened #4543 "How to show F4 snow texture in AirSim "scene" camera"
How do you make the snow texture that is shown when pressing F4 appear when taking pictures using AirSim (scene camera) ?

Is there any way to programmatically enable this snow texture with code ?

When in ComputerVision mode, pressing F4 gives you an overlay on the map that puts snow on all the textures. However, this snow texture does not show in the live camera-view or when taking pictures usin

[2022-05-26 07:39] 9woods123 commented on #4315
hello! have  you  solved it ? i come into the same with you,

[2022-05-26 07:46] 9woods123 commented on #4315
I turn to the airsim 1.4.0 for linux, and it build successfully

[2022-05-26 09:04] shijianjian opened #4544 "Uncontrollable drone in customized unreal environment"
## Bug report

- AirSim Version/#commit:  master/1.7.0
- UE/Unity version: 4.25
- autopilot version:
- OS Version: Windows 10

### What's the issue you encountered?

I was following the instructions of [Unreal Custom Environment](https://microsoft.github.io/AirSim/unreal_custenv/). The final application worked with AirSim@1.7.0 for vehicle mode, but not for drones. In terms of not working, I mean

[2022-05-26 13:15] shijianjian commented on #2101
@Amin-Tgz can you post your solution here?

[2022-05-27 19:55] lnexenl opened #4548 "The timestamps in topic's messages are fixed."
## Bug report

- AirSim Version/#commit: commit 00f4db34145c57810bc34d2b842b138d1d532121
- UE/Unity version: 4.27.2
- autopilot version:
- OS Version: Manjaro 21.2.6

### What's the issue you encountered?

I am currently using airsim_ros_pkgs to record some bags, I changed the version from tag v1.7.0-linux to master branch today. However, I find that the topic in the bag has a fixed timestamp, whe

[2022-05-28 08:58] kutilanak commented on #4516
I've tried to re-download the coastline 1.7.0 and recalibrate my controller in joy.cpl. I still get the same error

[2022-05-28 16:53] Davidsastresas commented on #4535
Thank you so much @andrewjong, your solution worked for me! Thanks thanks thanks!

[2022-05-30 12:19] xubeyb commented on #4524
I tried building PX4 (HITL) with lockstep enabled but what I have found out that the lockstep_scheduler implementation is only available for posix. Therefore it has to be ported for nuttX. So, currently, there is no implementation of lockstep in PX4 except for SITL.

[2022-05-30 12:27] xubeyb commented on #4524
Setting lockstep to "false" in settings.json doesn't help. After 3 minutes of normal flight. Same thing happens :/

[2022-05-30 17:08] jonyMarino commented on #3614
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-05-30 17:08] #3614 closed

[2022-05-30 17:17] jonyMarino commented on #3630
Take a look at [urdfAirSim](https://github.com/mitchellspryn/UrdfSim) project

[2022-05-30 17:21] jonyMarino commented on #2392
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-05-30 17:21] #2392 closed

[2022-05-30 17:24] jonyMarino commented on #3675
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-05-30 17:24] #3675 closed

[2022-05-30 17:26] jonyMarino commented on #3673
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-05-30 17:26] #3673 closed

[2022-05-30 17:29] jonyMarino commented on #3836
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-05-30 17:29] #3836 closed

[2022-05-30 17:30] jonyMarino commented on #3908
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-05-30 17:30] #3908 closed

[2022-05-30 17:43] jonyMarino commented on #4544
Hi and welcome @shijianjian! You can't move the drone through the keyboard as with a car. I don't know why you can't drive the car in AirSim@master.

[2022-05-30 18:33] #3170 closed

[2022-05-30 18:42] #2302 closed

[2022-05-30 18:43] jonyMarino commented on #2311
@gudong321 the cinematographic camera works on windows too!

[2022-05-30 18:43] #2311 closed

[2022-05-30 19:00] jonyMarino commented on #1540
Fixed with #3128

[2022-05-30 19:00] #1540 closed

[2022-05-31 03:57] wnsonghao commented on #2955
@AOS55 I compiled your project: https://github.com/AOS55/AirSim-1/tree/FixedWing. Put the plugins in LandscapeMountains project in UE4.27.2. When run with settings.json as:

{
  "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
  "SettingsVersion": 1.2,
  "SimMode": "FixedWing",
  "Vehicles": {
    "Drone1": {
      "VehicleType": "planeflight",
      "AutoCreate": t

[2022-05-31 05:09] skarful opened #4554 "How to get a fixed frame rate from the camera"
## Question
### How do I obtain a fixed frame rate from the camera?

### Include context on what you are trying to achieve

#### Context details

I am simulating a drone with a lidar and a camera sensor. I wish to obtain images every 100ms and hence have set the parameter in the airsim_node launch file as below:
 ``` <param name="update_airsim_img_response_every_n_sec" type="double" value="0.1" />

[2022-05-31 10:53] xubeyb commented on #4524
I have set the OriginGeopoint lat and lons and px4 LPE_LAT/LON to Redmond. Same thing happens... I wonder if I can trace anything through AirSim logs? When I check the contents of "Saved" folder, everything seems to be normal. Only that px4 logs say ACCEL #0 TIMEOUT and BARO #0 TIMEOUT.

[2022-05-31 10:57] xubeyb commented on #4524
@Jaeyoung-Lim any ideas about this?

[2022-06-01 10:39] czero69 opened #4555 "UE5 - AirSim prevents low-level details crowd and traffic from being drawn"
### About

With few tweaks, I have added AirSim plugin to UE5 cityscape demo. What I want is to use computer vision mode to save buffers. For some reason, when using AirSimGameMode, it disables drawing for low-level mass ai objects. These objects are still tracked and existing (green squares), just drawing is disabled.

I want to make low-level mass ai objects to be drawn. Do you have some ideas w

[2022-06-01 20:57] czero69 commented on #4555
Ok Solved!

The issue is related to origin position and/or calling GetWorld()->SetNewWorldOrigin(...) in AirSim. As a fast workaround, commenting SetNewWorldOrigin and setting spawning location same as City Sample Demo (not 0,0,0) solves the issue.

<img width="1111" alt="SOLVED" src="https://user-images.githubusercontent.com/5120235/171500174-88864df0-d489-48a1-94e5-9249a9870577.png">

[2022-06-01 20:57] #4555 closed

[2022-06-01 21:04] lukas-utopiacompression opened #4557 "FOV from settings.json not applied"
## Bug report

- AirSim Version/#commit: b8b8e0d42 and release 1.7.0
- UE/Unity version: UE 4.27.2
- autopilot version: N/A
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

Changing the ```FOV_Degrees``` attribute in ```Vehicles -> drone_1 -> Cameras -> img0 -> CaptureSettings``` in the settings.json file (see below) has no effect on the FOV during the simulation. I've set it to

[2022-06-02 05:33] leielyq commented on #4555
Compiling AirSim to UE5 was quite straightforward.

Share it, thank you

[2022-06-02 12:20] czero69 commented on #4555
here you are:

https://github.com/czero69/AirSim/tree/ue5-cv

Let me know if you are interested in City Sample Demo + Airsim. I plan to push additional fixes for that demo later.

[2022-06-02 18:05] jonyMarino commented on #4538
Hi @HSC-1! Which application are you using to see the image? Can you use PfmPad? Also, I'm experiencing a similar issue but saving a png image (pixels as float false)

[2022-06-02 19:01] aliadeeba98 commented on #4535
But sir, after executing the command wine UnrealBuildTool.exe Development Linux -Project=/home/andrew/AirSim/Unreal/Environments/Blocks/Blocks.uproject -TargetType=Editor -Progress,  I am getting the following error:
wine: Unhandled page fault on read access to 0000000000000004 at address 000000007BCDCAE4 (thread 0019), starting debugger...
000f:err:service:process_send_command service protocol er

[2022-06-02 22:57] andrewjong commented on #4535
@aliadeeba98 , based on the backslashes in your path, it looks like you're on Windows. The instructions I wrote are for Linux. However perhaps it will still work if you simply run `~/UnrealEngine/Engine/Binaries/DotNET/UnrealBuildTool.exe Development Windows -Project=/home/andrew/AirSim/Unreal/Environments/Blocks/Blocks.uproject -TargetType=Editor -Progress`? Not entirely sure because I'm not on W

[2022-06-03 07:36] aliadeeba98 commented on #4535
@andrewjong I'm working on Ubuntu 20.04 LTS and for executing the UnrealBuildTool.exe file in Linux I am taking the help of Wine software.

[2022-06-03 14:23] andrewjong commented on #4535
`mono` should let you run the `.exe` in Linux

[2022-06-04 22:39] belongtothenight commented on #4375
I have encountered the same problem and successfully debugged it. As a result, I made two changes according to the author's comment above.
1. In cmd, type "pip install airsim==1.6.0". If successful, it will display "successfully uninstalled airsim-1.7.0" (assume you have 1.7.0 installed) and "successfully installed airsim-1.6.0."
2. Inside PyCharm (my current using IDE), go to file -> settings ->

[2022-06-06 14:24] nikola-j commented on #4428
I have the same issue, did you maybe figure out a way to fix this?

[2022-06-07 14:12] Tao-11-chen commented on #3749
same problem!   is there any solution?

[2022-06-08 10:41] xubeyb commented on #4524
Hi, did anyone had the chance to reach any conclusion with this?

[2022-06-08 18:01] jonyMarino commented on #3377
dup of #3501

[2022-06-08 18:01] #3377 closed

[2022-06-08 18:09] jonyMarino commented on #3377
@lucafei, can you try with [this](https://github.com/microsoft/AirSim/issues/387#issuecomment-932607229) solution?

[2022-06-09 12:09] bozcani commented on #4412
Is there any progress on this issue? I am not a expert of Unreal programming expert but what do you think about using segmentation information inside the Airsim to refine object bounding boxes?

Currently, we can record segmentation images and refine bounding boxes in an offline manner. Can we make this refinement inside Airsim as a built-in feature?

[2022-06-09 17:16] jonyMarino commented on #4348
You can also comment [this line](https://github.com/microsoft/AirSim/blob/228f21c7595aee18515ffefc9599bdc77c07fdfc/Unreal/Plugins/AirSim/Source/Vehicles/Car/CarPawnSimApi.cpp#L138) if you need the keyboard disabled at the beginning.

[2022-06-10 08:13] StepLogic commented on #3846
I solved it by add some adding these to my path in  environment variables
![Screenshot (1)](https://user-images.githubusercontent.com/48416104/173021889-6885df76-3dc0-4115-ad45-2d035663a783.png)

[2022-06-11 12:27] Khepu opened #4564 "Multiple issues in Dockerfiles"
## Bug report

### What's the issue you encountered?
As it is right now, neither Dockerfile builds, for different reasons.

`Dockerfile_binary` is no longer working due to an issue with cudagl:10.0, the keyring of Nvidia sources is expired
and Nvidia has not updated that. [Take a look here.](https://developer.nvidia.com/blog/updating-the-cuda-linux-gpg-repository-key/)

`Dockerfile_source` has an

[2022-06-11 22:46] talha-opteran commented on #4492
I believe the AirSim binary is waiting for a response from Ardupilot. If you run Ardupilot, it should resume. Usually the execution order is Ardupilot and then AirSim.

[2022-06-12 02:17] #2853 closed

[2022-06-12 11:05] StepLogic opened #4565 "Unable to run Blocks Projects UE 4.27.2 Visual Studio 2022"
## Bug report

- AirSim Version/#commit:
- UE/Unity version:
- autopilot version:
- OS Version:

### What's the issue you encountered?

### Settings

### How can the issue be reproduced?

1.Airsim 1.70
2.UE 4.27.2
3.Windows 10
4.Visual Studio 2022

When I run the Blocks Unreal Project ,I get  the error below:
The following modules are missing or built with a different engine version:
Blocks
AirSim

[2022-06-13 07:21] HSC-1 commented on #4538
Thanks for the reply.
The same thing happens whether pixels as float is True or False. I also tried changing the DepthScaleFactor as per your recommendation, but got a similar problem. It seems to be a problem that is happening because I am working on UE5. Thank you for caring me.

[2022-06-14 07:47] hoangvietdo commented on #2369
Could you provide more detailed steps about this procedure?

[2022-06-14 07:48] hoangvietdo commented on #2369
Could you provide more detailed steps about this procedure?

[2022-06-14 11:50] MohammadMedhat opened #4567 "Translucent mesh isn't showing in segmentation."
### Discussed in https://github.com/microsoft/AirSim/discussions/4566

<div type='discussions-op-text'>

<sup>Originally posted by **MohammadMedhat** June 14, 2022</sup>
I'm trying to get segmentation for a translucent mesh, but it's not showing in segmentation images.
Even when I set **client.simSetSegmentationObjectID("ObjectID", 255, True)**

Here I have a translucent mesh above this landscape

[2022-06-15 04:56] hoangvietdo opened #4569 "[Ros1] airsim_ros_wrapper outputs wrong time sync for odom_local_ned and stereo camera"
## Bug report

- AirSim Version/#commit: Lastest
- UE/Unity version: 4.27
- autopilot version:
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

The timestamp of odom_local_ned topic and stereo camera topic is weird. In addition, there is a significant delay between the left and right camera (around 0.02 seconds which can be considered as significant for the stereo VINS algorithms

[2022-06-15 05:47] hoangvietdo commented on #4447
@yhabib29  Could you get synced images across 2 images when using stereo camera?

[2022-06-15 07:56] YangYang129 opened #4570 "AirSim failed to build with ""error C2065: 'path': undeclared identifier" with MSVC on Windows arm64ec"
AirSim failed to build with ""error C2065: 'path': undeclared identifier" with MSVC on Windows arm64ec. It can reproduce on latest version on master branch. Could you please help look at this issue?

**Repro steps:**
1. set VSCMD_SKIP_SENDTELEMETRY=1 & "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat" -host_arch=amd64 -arch=arm64
2. git clone https://githu

[2022-06-15 07:57] dellhuyongcai opened #4571 "client.simAddDetectionFilterMeshName function has bugs in detecting meshes"
I use the version 1.6.0 of Airsim to detect objects in UE4,client.simAddDetectionFilterMeshName(camera_name, image_type, "*") is ok,but client.simAddDetectionFilterMeshName(camera_name, image_type, "road_2_cross*") make the ue4 crash at each time,I check the mesh '"road_2_cross",it really exists,what is the problem?

[2022-06-15 08:11] #4571 closed

[2022-06-16 10:02] HarrySoteriou opened #4576 "Low FPS and AirSim as a viable RL training simulator"
I have searched through all issues both open and closed that highlight low FPS of simGetImages such as #3333, #3070, #2891 and #3018.

## Question
### What's your question?

How close are you to resolving the msgpack bottleneck and what are the most up to date tricks that can significantly improve FPS?

I think I saw something about compiling with specific binaries but I had a hard time compiling

[2022-06-16 12:22] Tomakko opened #4577 "How to check for stable stand after landing?"
## Question
### What's your question?
Hi,
i would like to check if the drone has landed on a flat surface, i.e. stands horizontally, after landing and disarm. What is the best way to achive this? Is the drone not affected by standard physics?

### Include context on what you are trying to achieve
I am working on the automatic discovery of good landing spots and flatness is one criterium.

#### Con

[2022-06-16 22:12] lukas-utopiacompression opened #4578 "ROS1 ambiguous camera tf frame_ids"
## Bug report

- AirSim Version/#commit: eda67e408 and v1.7
- UE/Unity version: 4.27.2
- autopilot version: n/a
- OS Version: Ubuntu 20.04.4

### What's the issue you encountered?

When multiple vehicles (see settings.json below) specify a camera with the same name (e.g. "img0") ROS1's tf frame_ids become ambiguous.

Related PR #4478 fixes the same issue but for ROS2.

Screenshot of rqt_tf_tree, w

[2022-06-19 10:50] suresh-guttikonda commented on #2784
@hoangvietdo I was not able to find any fix and I have moved to alternative simulator.

[2022-06-20 04:15] hoangvietdo commented on #2784
@suresh-guttikonda Thanks for your reply. It seems like they will keep ignoring this old issue until someone makes a PR.

[2022-06-20 07:24] deadseason opened #4580 "ERROR occurred when opening Blocks.uproject"
## Bug report

- AirSim Version/#commit: 1.6.0 linux
- UE/Unity version: 4.27.2
- autopilot version:
- OS Version: Ubuntu Ubuntu 20.04.4 LTS

### What's the issue you encountered?

For the first time I install the UE4.27 and airsim 1.6, after being installed, I open the example project ' Blocks.uproject ' with UE, but it does not work.Error occurred and it said compile failed. Is it the problem of

[2022-06-20 15:34] jonyMarino commented on #4580
Hi and welcome @deadseason! Maybe you are facing #4264. Can you try with master?

[2022-06-20 15:47] jonyMarino commented on #4565
Hi and welcome @StepLogic! Seeing at the screenshot, this is a UE5 project, not UE4.27. We don't currently support UE5

[2022-06-20 15:57] jonyMarino commented on #4570
Hi and welcome, @YangYang129! If you are using the latest master, you should use VS2022 for building.

[2022-06-20 17:13] jonyMarino commented on #4578
Hi @lukas-utopiacompression! Thanks for submitting the PR. I'd like to know why you didn't upgrade to ROS2 when you ran into this issue.

[2022-06-20 17:22] lukas-utopiacompression commented on #4578
Good morning @jonyMarino !

For two reasons:

1. Our project still requires ROS1.
2. Fixing and creating a PR for the missing/ambiguous tf frame_ids seemed less work than transitioning our whole project to ROS1 (for now).

[2022-06-20 18:15] #4557 closed

[2022-06-20 18:32] jonyMarino commented on #4578
Thanks for the reply, @lukas-utopiacompression. Keep in mind that you can use the Ros1-Ros2 Bridge to connect your project with ROS2 nodes.

[2022-06-21 03:40] tscizzlebg opened #4582 "Can the environments (Africa, LandscapeMountains, etc.) be run windowed (vs. fullscreen)?"
## Question
### What's your question?
In this repo's releases, there are these custom drone environments offered (Africa, LandscapeMountains, etc.), and we can run the simulation by running the supplied executable (Africa.exe, LandscapeMountains.exe, etc.) However, these simulations run fullscreen and seem to be inflexible on that. Is there a way to make them not run fullscreen, but rather in a mo

[2022-06-21 14:49] jonyMarino commented on #4582
Hi and welcome @tscizzlebg! If you don't need a script, you can use alt+enter on your keyboard.

[2022-06-21 15:03] tscizzlebg commented on #4582
I don't need a script, so this is fantastic! Appreciate the quick response :D

That said, a script (or option to start the game like this), i.e. not needing the alt-enter shortcut, would definitely be more convenient. But for now, this is awesome.

[2022-06-22 17:25] tscizzlebg commented on #4582
Ah, makes sense. Thank you very much!

[2022-06-22 17:25] #4582 closed

[2022-06-22 17:51] jonyMarino commented on #4569
Hi @hoangvietdo ! It is posible that [this PR](https://github.com/microsoft/AirSim/pull/4559) can help reduce time differences. Let me know if that is the case.

[2022-06-22 21:45] firemount opened #4588 "Problems using ExternalPhysicsEngine parameter in settings.json"
## Question
### What's your question?
Should Airsim open tcp port 4560 if "PhysicsEngineName" is set to ExternalPhysicsEngine in settings.json
### Include context on what you are trying to achieve
Hi I am trying out the ExternalPhysicsEngine parameter in settings.json to be able to use inject a FDM of my drone using PX4 with gazebo_iris and QGroungControl. Everything worked eventually but there is

[2022-06-23 05:02] JiancongWang opened #4589 "How to get equal exposure for all camera for stiching"
## Question
### What's your question?

I am running 5 virtual cameras with fov 90 degree in +-xyz (omit the -y for now since it points to the ground) direction to form a cube map and I want to stich them together to form an epirectangular image. But I found that the exposure of the images are drastically different with each other even when the image are collected by python script simultaneouly (so

[2022-06-23 06:32] deadseason commented on #4580
Still can not open it. The same error.

[2022-06-23 06:39] ClosetMonkey opened #4590 "In-scene/in-world measurements"
### Overview:
The addition of an in-scene measuring device would be a great plus. It's a very important issue when it comes to understanding both the performance of the simulation as well as understanding it's scale.

### Smaller Details:
I believe it should be possible to explore AirSim with a means of measuring aspects of the scene. For example, to be able to click two points and see an approxim

[2022-06-23 18:56] alvinsunyixiao commented on #2613
Is there any way to achieve this?

[2022-06-23 20:31] #4590 closed

[2022-06-24 06:15] hoangvietdo commented on #4569
Hi @jonyMarino  , thanks so much for your help, unfortunately, I am not willing to switch to ros2 at the moment.
I am trying to make airsim_ros_wrapper of ros2 be identical to ros1. However, there is some concept of ros2  (e.g., callBackGroup) that I could not find any alternative in ros1. Any help?

[2022-06-24 11:25] hoangvietdo commented on #4569
In addition, I tested the PR and checked the recorded data. It seems like ros2 has the worst performance compared to ros1. It not only doesn't solve the time delay between 2 images, but it also makes the timestamp of IMU mixed up.

AirSim Version/#commit: #4559
UE/Unity version: 4.27
autopilot version:
OS Version: Ros2 - Ubuntu 20.04 (Foxy)
![evident_5](https://user-images.githubusercontent.com/51

[2022-06-24 11:39] hoangvietdo commented on #4428
@nikola-j I did a quick test with your PR, even when the vehicle stand still, similar behavior of this issue still existed (It seems like the camera processing also affects the timestamp of other topics). You can refer to [this issue](https://github.com/microsoft/AirSim/issues/4569)

[2022-06-24 17:14] jonyMarino commented on #4588
Hi and welcome @firemount ! The external physics engine feature doesn't use the flight controllers that AirSim uses. That is because there should be a way to inform the FDM about the power signal sent to the rotors by the FC to make it possible to use, for example, PX4. Given that, you should use the settings for a SimpleFlight drone and connect PX4 to your gazebo drone.

[2022-06-24 17:34] jonyMarino commented on #4589
Hi @JiancongWang! This may be due to missing image postprocessing. Can you try applying the solution given in [this](https://github.com/microsoft/AirSim/issues/387#issuecomment-932607229) thread?
I like that image. How did you generate it?

[2022-06-24 17:44] JiancongWang commented on #4589
I think that post processing is not the problem here. In real camera terms, I want to make sure the camera ISO/aperature/exposure time are all the same for the image so that their exposure is as closed as possible. I think now in airsim the image is auto adjusted to fit a certain target. I want to turn that off and instead manually fixed the picture intensity.
I tried histogram match all the image

[2022-06-24 18:16] jonyMarino commented on #4589
Nice package, thanks!

#3949 changed the default unreal camera to the cinematographic one. I think what you are searching for is [this API](https://microsoft.github.io/AirSim/api_docs/html/#airsim.client.VehicleClient.simSetFocusAperture) method added by that PR

[2022-06-24 18:40] jonyMarino commented on #4580
I think I've found your issue. Try with [this solution](https://github.com/microsoft/AirSim/issues/4535#issuecomment-1136152996)

[2022-06-25 11:24] firemount commented on #4588
Hi and thanks, that pointer made things a lot more clear.

[2022-06-27 23:39] JiancongWang commented on #4589
Thank you for sending me this! I will give it a try.

[2022-06-28 04:02] deadseason commented on #4580
I have tried, but it still did not work.The same issue.

[2022-06-29 00:57] jonyMarino commented on #4580
Did you upgrade to 4.27 coming from a previous version of unreal engine?

[2022-06-29 04:16] deadseason commented on #4580
Yes, I used 4.26.2 before, and the problem occurred. So I deleted the old version and installed  the new 4.27 UE.

[2022-06-29 05:50] jacobsayono commented on #4535
@andrewjong hi, your solution worked to compile Blocks, but in the end, i would still get the error:
Engine modules are out of date, and cannot be compiled while the engine is running. Please build through your IDE.
do you think it is because i am using Ubuntu 20.04 LTS?

[2022-06-29 18:19] #4432 closed

[2022-06-29 18:19] #4542 closed

[2022-06-30 07:31] deadseason commented on #4580
Error still existed. I have updated  Airsim to 1.7.0.

[2022-06-30 08:38] fxa76 opened #4593 "Error building ros2 package"
## Question
### What's your question?
When building Ros2 package I get the following error, what am I doing wrong ?
/home/fxa/AirSim/ros2/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp: In member function ‘sensor_msgs::msg::PointCloud2 AirsimROSWrapper::get_lidar_msg_from_airsim(const msr::airlib::LidarData&, const string&, const string&) const’:
/home/fxa/AirSim/ros2/src/airsim_ros_pkgs/src/airsi

[2022-06-30 10:17] rachelhe123 opened #4594 "AirSim failed to build with "fatal error C1189: #error: STL1001" with MSVC on Windows arm64"
## Bug report

- AirSim Version/#commit: eda67e4
- UE/Unity version:
- autopilot version:
- OS Version: VS 2019 + Windows Server 2019

### What's the issue you encountered?

### Settings

### How can the issue be reproduced?

1. git clone  https://github.com/microsoft/AirSim F:\gitP\microsoft\AirSim
2. git -C "F:\gitP\microsoft\AirSim" reset --hard eda67e4
3. git -C "F:\gitP\microsoft\AirSim" remo

[2022-06-30 10:20] alonfaraj commented on #4593
Hi @fxa76,
After this [PR](https://github.com/microsoft/AirSim/pull/4532), ros2 package support only galactic distro.
You can revert those changes or upgrade to galactic.

[2022-06-30 12:31] fxa76 commented on #4593
Thanks it builds and runs now.

[2022-06-30 12:31] #4593 closed

[2022-06-30 16:13] AlexGisi opened #4595 "XCode Build fails on MacOS"
## Bug report

- AirSim Version/#commit: [4b758d0](https://github.com/microsoft/AirSim/commit/4b758d00907855e65fd9dca9483e3c284f2210dd)
- UE/Unity version: 4.27.2
- autopilot version: NA
- OS Version: Mac 10.15
- XCode version: 12.3

### What's the issue you encountered?

After running the setup and build script for AirSim, the Xcode build step of the [setup](https://microsoft.github.io/AirSim/bui

[2022-06-30 18:05] jonyMarino commented on #4580
@deadseason
No. Not to update AirSim. An alternative would be for you to delete the Blocks folder. Then with a git pull, you should establish it.

[2022-07-01 02:14] wagh311 commented on #4534
Ok, I will try what you said, thank you very much for your reply！

[2022-07-01 03:09] deadseason commented on #4580
how to use 'git pull' to restablish it?

[2022-07-01 09:45] #4594 closed

[2022-07-01 22:32] talha-opteran opened #4598 "AirSim crashes when using PX4"
## Bug report

- AirSim Version/#commit: v1.7.0
- UE/Unity version: Unreal 4.27.2
- autopilot version: PX4 v.1.13 or v.1.11
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

AirSim crashes intermittently when trying to launch using PX4 either through binaries or source. It is most evident when launching/exiting in quick succession. It will work 1/3 times. Error message below.

###

[2022-07-04 06:41] deadseason commented on #4580
I just run the update_from_git.sh, and still can not open it.

[2022-07-04 10:14] AlexGisi commented on #4595
I got it working after following the [Blocks environment setup](https://microsoft.github.io/AirSim/unreal_blocks/) instructions between building AirSim and running the Xcode project.

[2022-07-04 10:14] #4595 closed

[2022-07-04 15:51] talha-opteran opened #4601 "AirSim/PX4 crashes when using non-default environment from settings.json"
## Bug report

- AirSim Version/#commit: v1.7.0
- UE/Unity version: Unreal 4.27.2
- autopilot version: PX4 v.1.13 or v.1.11
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

AirSim crashes when trying to load an environment other than the default when using PX4. I believe this is because a MavLink connection is created on launch for the default environment and then destroyed and r

[2022-07-04 16:38] x23yang opened #4603 "how can I only run on CPU"
Hello, how can I only run on CPU? Is there a way to replace GPU with mesa and llvmpipe?

[2022-07-04 17:28] jonyMarino commented on #4580
From your original post I see you are using mono. You can try with the [other solution](https://github.com/microsoft/AirSim/issues/4535#issuecomment-1136095046) provided in the previous thread.

[2022-07-05 03:02] hclearner commented on #4603
I also have the same problem. There is no GPU in my server,  is there any way to turn off rendering on GPU? Thanks :)

[2022-07-06 21:03] jonyMarino commented on #4598
Hi @talha-opteran ! Last time we needed to sync with PX4 to make it work, it was with version v1.12.0-beta1. Can you try with that on?

[2022-07-07 09:05] sy8008 opened #4608 "Sharing an easy way to manually change semantic segmentation color label"
## Question
### What's your question?

I have found an easy way to set semantic segmentation color label, which is useful for getting semantic
segmentation ground truth for network training. Here I will share this method.

### Include context on what you are trying to achieve
Generate semantic segmentation ground truth images for training semantic segmentation networks.

#### Context details
To ch

[2022-07-07 09:15] talha-opteran commented on #4598
No difference. It seems like there is a 10-15sec cooldown between connections

[2022-07-08 02:11] jonyMarino commented on #4601
@talha-opteran Maybe you have a firewall preventing the connection Can you check?

[2022-07-08 09:39] talha-opteran commented on #4598
Dell G15
CPU: i7-10870H
GPU: RTX 3050Ti 4GB
RAM: 32GB

[2022-07-08 20:14] dskuma opened #4614 "moveToPositionAsync().join() not working as expected."
### Discussed in https://github.com/microsoft/AirSim/discussions/4613

<div type='discussions-op-text'>

<sup>Originally posted by **dskuma** July  8, 2022</sup>
Hello everyone, I am trying to fly the copter in conical helix patter as attached in the picture below.
<img width="283" alt="image" src="https://user-images.githubusercontent.com/70453611/177983577-c1f721c5-bf26-42a3-b0e2-a398eee53bc7.pn

[2022-07-09 01:35] abhishekvermaairbus commented on #2593
Any solution to this?

[2022-07-11 19:25] #4603 closed

[2022-07-12 17:30] EvelynM7 opened #4617 "AirSim RVIZ Connection Errors"
## Bug report

- AirSim Version/#commit: Clone from https://github.com/Microsoft/AirSim.git as of yesterday (7/11/2022)
- UE/Unity version: Unreal Engine 4.27.2
- autopilot version: N/A
- OS Version: Windows 10 Pro, 64 bit, 19044.1766
- Other: Ubuntu 20.04, WSL 2, ROS2 galactic

### What's the issue you encountered?

I have now tried many processes of setting up Ubuntu, ROS, RVIZ, and AirSim as we

[2022-07-13 05:10] Mengyuliu0520 opened #4618 "How to get continuous sensor readings from the multirotor?"
## What feature are you suggesting?
### Overview: Can we monitor the model and get a stream of sensor readings through api?
 Maybe it is good to have an api that output sensor readings continuously, since the users do not have to care about the sychronization problems.

### Smaller Details:

### Nature of Request:

- Addition
- Change
- Removal
  -

## Why would this feature be useful?

[2022-07-13 07:41] alonfaraj commented on #4617
Hi @EvelynM7,
It's hard to say what is wrong, but what I do see is that you might modified the files a bit differently than https://github.com/microsoft/AirSim/pull/4509, otherwise your topic would be `/airsim_node/Drone1/Test0_Scene/image` and not `/airsim_node/Drone1/Test0_0/image`.
It seems like you modifed the files manullay, I suggest you using https://github.com/microsoft/AirSim/pull/4509 as

[2022-07-13 11:29] alonfaraj commented on #4618
Maybe it's worth using ros for that purpose?

[2022-07-13 16:34] EvelynM7 commented on #4617
Hello @alonfaraj ,

I'm not sure what you mean by `gh pr checkout 4509`. I tried that command both in Git Bash and Ubuntu, but it didn't work. Could you elaborate, please?

I did go back and copy directly the changes made in #4509 as listed in {https://github.com/microsoft/AirSim/pull/4509/files#}. I also closely checked the spacing, spelling, etc., and mine is now identical to the one listed ther

[2022-07-13 16:43] Mengyuliu0520 commented on #4618
Thanks for the advice! What I'm considering is a MPC-based real-time control using AirSim, to achieve this, first I need to have real-time vehicle states and I also need to access low-level control in real time, I found there are some old issues discussed about the low-level control and I will give it a try.

[2022-07-14 06:42] RustyRaptor opened #4619 "PX4 SITL for ground vehicle/Car"
## What feature are you suggesting?
PX4 SITL support for Ground Vehicle/Car
### Overview:
There seems to be support for Ardupilot to work with the ground vehicle according to documentation but not the same case for PX4.

There is a very old feature request for this but it was closed without any followup hence I am making a new one since it's relevant.

### Smaller Details:
Being able to control th

[2022-07-14 08:27] nikola-j commented on #4428
Hi @hoangvietdo, do you mean similar behavior to the current issue (jerky movement) or to your issue (timestamps)? Was there a difference in timestamps without my changes? Did you build ros2 airsim in Debug or Release?

[2022-07-14 08:57] #4618 closed

[2022-07-14 15:18] alonfaraj commented on #4617
`gh` is github cli so you can use it to checkout a branch from a fork easier - https://cli.github.com/.
I'm using a standard installation of ROS2 galactic included rviz2.
Is `airsim_node` showing something? error/warning?

You topic list doesn't make sense, make a test:
1. Kill rviz
2. Kill all other running nodes
3. Make sure you topic list is empty (except `/parameter_events` and `/rosout`)
4. R

[2022-07-14 16:12] EvelynM7 commented on #4617
There's an info comment when running `airsim_node`: `[static_transform_publisher-1] [INFO] [1657814690.091340820] [ned_to_enu_pub]: Spinning until killed publishing transform from 'world_ned' to 'world_enu'`.

Following your steps gives me the below screenshot (the last topic command that also includes `/tf_static [tf2_msgs/msg/TFMessage]` is the one after starting `airsim_node`).

![Ros2 airsim_r

[2022-07-14 16:32] alonfaraj commented on #4617
Do you run the simulation on the same machine?

[2022-07-14 23:54] EvelynM7 commented on #4617
Yes, we do.
Do you have any suggestions on how to fix this or test why this might be happening?

[2022-07-15 00:01] alonfaraj commented on #4617
You should specify the host ip which run the simulation.

`ros2 launch airsim_ros_pkgs airsim_node.launch.py host:=<your_simulation_host_ip>`

[2022-07-15 01:23] EvelynM7 commented on #4617
Is the simulation host ip different then the computer IP address?

[2022-07-15 09:28] alonfaraj commented on #4617
No. It's the ip address of your computer running the simulation

[2022-07-16 14:30] wuhaixiang opened #4622 "ardupilot not work well"
Hello, when I use the ardupilot flight control firmware, the drone will oscillate, how to modify the parameters so that the drone in the airsim stops oscillating

[2022-07-17 13:26] #4601 closed

[2022-07-18 21:23] EvelynM7 commented on #4617
Thank you very much! That did seem to connect properly.

I do have a couple more questions:
- Would you share your settings.json file that gave such a clear camera view? Is something else causing mine to be fainter (see screenshot below), and how can I solve that issue?
- My topic list seems to be missing `compressed`, `compressedDepth`, and `theora` (though this looks like some sort of plugin or

[2022-07-19 12:15] alonfaraj commented on #4617
1. You have set x,y,z,yaw,pitch,roll in your settings and override the default so you basically placed your camera in the middle of the drone and you see 'through' it.
Just delete those settings and use the default. Or modify them for your own needs.
2. Yep you should install ros-galactic-image-transport-plugins to get those topics published.

[2022-07-19 16:00] #4617 closed

[2022-07-20 06:20] nikola-j commented on #4428
Yes, but this PR isn't meant to fix the issue with the timestamps being out of sync, but to make the ros2 implementation usable. Without this fix, the drone won't move properly, and the timestamps would be even more out of sync.

[2022-07-20 06:51] nikola-j opened #4629 "ROS2 Movement bug when using ENU coordinate system"
## Bug report

- AirSim Version/#commit: latest main
- UE/Unity version: 4.27
- autopilot version: N/A
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

When using `'coordinate_system_enu': True` in airsim_node.launch.py file, and then issuing a movement command using the `/airsim_node/local_position_goal` service, the drone will reach the location but then move randomly instead o

[2022-07-21 07:07] ryoma310 opened #4634 "Using Airsim stereo camera image with stereo_image_proc (ros)"
## Question
### What's your question?

I try to use stereo_image_proc to depth estimation from images obtained by airsim_ros_pkg.
It seems to work well as I see disparity image.
But when I check the point cloud, it shows only one point.

### Include context on what you are trying to achieve

#### Context details

This is my setting.json
[code]

- Airsim version: v1.8.1 - Linux
- ROS: noetic
- ster

[2022-07-23 03:44] AlibekJ opened #4637 "Blocks.zip in 1.8.1 Linux release is just 22 bytes."
## Question
### What's your question?
Blocks.zip in 1.8.1 Linux release is just 22 bytes.
https://github.com/microsoft/AirSim/releases/tag/v1.8.1

### Include context on what you are trying to achieve
Trying to download Blocks environment.

#### Context details

### Include details of what you already did to find answers

[2022-07-25 03:24] d137578736 opened #4640 "How to use moveToPositionInternal to achieve the effect of moveByVelocityZBodyFrame"
## Question
### What's your question?

hi guys!
My goal is to use moveToPositionInternal to drive the drone through the scene,
When the UAV is rotated, the moveToPositionInternal function cannot be used to move the UAV!!
please help me! think you!

moveByManual  tick code:
                    float throttle = (float)(rc_data.throttle - 0.5);
                    vz = (float)(((throttle / kMaxRCValu

[2022-07-25 19:38] jonyMarino commented on #4392
I am adding LandscapeMountains from [this repository](https://github.com/jonyMarino/LandscapeMountains) into the Environments folder and building with build.cmd works just fine.

[2022-07-26 03:15] Mengyuliu0520 opened #4643 "Official system dynamics model or linearized model of multirotor?"
## Question
### What's your question? Is there a system dynamics model existed in the existed materials? Do we have a linearized form as well?

Usually, consider a LTI system model,  we can have an ode represents the system dynamics such as /dot x = Ax+Bu. where x are the system states like the 6 kinematic states we have for multirotos, and u were the control inputs to the system such as throttle

[2022-07-27 12:14] misakabribri commented on #4576
Here are testing results on my machine:
---------------------------------------------------
Devices: Intel i7-9700K+NVIDIA GeForce 3070
Image size: 1270*720
Average rendering time: 40ms
---------------------------------------------------
I also need an approach to increase the FPS to 30.

[2022-07-28 04:14] bitshenwenxiao opened #4644 "How to use both car and UAV."
## Question
### What's your question?

### Include context on what you are trying to achieve

[2022-07-28 09:25] ryoma310 commented on #4634
I resolved it by myself!

[2022-07-28 09:25] #4634 closed

[2022-07-28 18:39] MoBaT commented on #4622
+1 Been having this problem for a few years.

[2022-07-29 05:48] fangchaooo commented on #2263
because The 'Developer' module type has been deprecated in 4.24

[2022-07-29 05:48] fangchaooo commented on #2263
because The 'Developer' module type has been deprecated in 4.24

[2022-07-29 06:45] YangYang129 commented on #4570
@jonyMarino I add msgpack in external\rpclib\rpclib-2.3.0\include\rpc, this project build successfully

[2022-07-29 06:45] #4570 closed

[2022-07-29 14:07] lkbhg commented on #1150
You may have changed the default address of the "Documents" in Windows system.

[2022-07-29 17:39] EvelynM7 opened #4648 "client.simSetFocalLength Issue"
## Bug report

- AirSim Version/#commit: 7/29/2022
- UE/Unity version: 4.27
- autopilot version: N/A
- OS Version: Windows 10 Pro, 19044.1826

### What's the issue you encountered?

Originally, this problem showed up in computer vision mode. I was trying to modify camera parameters in the settings.json, but when that was not working due to cv mode, I found the client.simSetFocalLength function. Ho

[2022-07-30 16:04] AlibekJ commented on #2893
Hey @EdwinMeriaux, have you managed to solve this? How? Please do tell us.

[2022-07-30 23:48] AlibekJ commented on #4637
Hi @jonyMarino can you please help?

[2022-07-31 18:38] jonyMarino commented on #4637
@AlibekJ. Yes sure. I will try to upload a package ASAP. If you have the urgency, you can package Blocks on your own. Take a look at [the docs](https://microsoft.github.io/AirSim/build_faq/#packaging-a-binary-including-the-airsim-plugin)

[2022-08-01 05:38] Eugene21219 opened #4649 "can't detect the collision information"
## Question
### What's your question?

i'm trying to use the collision info api to get the collision infomation about the multirotor in the UE4. but when the multirotor collided with the floor, the method "has_collided" still returns false.

#### Context details

   AirSim version: 1.7.0
   python verison: 3.7.0
   Unreal version: 4.26
![image](https://user-images.githubusercontent.com/48636196/18

[2022-08-01 05:50] #4649 closed

[2022-08-01 22:08] #4078 closed

[2022-08-02 01:05] jonyMarino commented on #4637
@AlibekJ, can you try the new binary, please?

[2022-08-03 01:50] AlibekJ commented on #4637
Blocks 1.8.1 linux works fine, @jonyMarino.
However, Building_99.zip is still 22 bytes.

[2022-08-03 06:12] dzywater opened #4654 "DefaultSensors->Barometer/Imu/Gps/...cannot be applied to corresponding sensors"
In my settings.json has following two configs.
---
	"DefaultSensors":
	{
		"Distance":
		{
			"SensorType": 5,
			"Enabled": true, "DrawDebugPoints": true,
			"MinDistance": 0.2,  "MaxDistance": 100
		},
		"Lidar":
		{
			"SensorType": 6,
			"Enabled": true, "DrawDebugPoints": true,
			"NumberOfChannels": 32, "Range": 60,
			"RotationsPerSecond": 10, "PointsPerSecond": 100000,
			"VerticalFOVLower

[2022-08-03 06:48] dzywater commented on #4629
@nikola-j  I don't know what you mean. I tested ros2 package many times for enu and ned. I didn't find any problems.
I couldn't understand what your pr #4631 do. Could you tell what your problem in detail.

[2022-08-03 07:36] dzywater commented on #4644
see #4340

[2022-08-03 10:39] subedisuman commented on #2788
Hi @jonyMarino. Thank you for your kind remarks. Regarding the recent announcement to close the support for this repository, I wonder how it affects this potential pull request? I would love to get your feedback regarding this issue and the new strategy. The current implementation can make use of the AirSim imu, gps, barometer, and magnetometer sensor signals to compute and use estimated states ba

[2022-08-03 16:20] jonyMarino commented on #4637
@AlibekJ I'm short of time. If you are interested I can fix this. If not I will prefer to wait for someone who needs it.

[2022-08-04 00:44] AlibekJ commented on #4637
@jonyMarino, thanks for your efforts. I am interested of course and I am sure others will be interested too knowing that MS decided to stop supporting this repo. I am just hoping to download/fork everything in case if the repo gets shut down completely.

I tried compiling the missing environments but failed to do so, hence asking for your help.

[2022-08-04 06:59] 1080772AntonioDidier opened #4655 "build.cmd throws this error "LINK : fatal error LNK1181: cannot open input file 'rpc.lib'""
i want to create a custom environment for simulation.

im following the guide https://microsoft.github.io/AirSim/build_windows/ to build the solution

when running the build.cmd it starts going and then throws this error.

![image](https://user-images.githubusercontent.com/3842298/182783562-1363b02c-1389-48a2-a8b4-d4d3a9d381b7.png)

the problem is within the AirLib but i can't figure this out.

am

[2022-08-04 10:28] TomAvrech opened #4656 "AirSim on Unreal Engine 5"
## What feature are you suggesting?
### Overview:
AirSim on Unreal Engine 5

### Smaller Details:
When :)

### Nature of Request:

## Why would this feature be useful?
4 < 5

[2022-08-04 11:05] lnexenl commented on #2369
sorry for a late reply, I have written a blog post and maybe you can refer to that: [Record Synchronized Image Pair with AirSim](https://blog.lnex.dev/en/posts/airsim_rec/)

[2022-08-04 20:00] jonyMarino commented on #4654
@dzywater. If you specify a sensor, its defaults are overwritten by AirSim defaults. You will need to set all the parameters

[2022-08-05 01:00] dzywater commented on #4655
Yes, cannot find rpc.lib. Maybe your network is, I just guess, poor.
You can open AirSim.sln and configure projects.
rpclib: https://github.com/rpclib/rpclib/releases

[2022-08-05 02:51] dzywater commented on #4654
" You will need to set all the parameters"?

I don't what you mean?

[2022-08-05 03:14] dzywater commented on #4654
For a sensor like SensorType=6 lidar, for most situations with several lidars with same hardware params, hardware params are expected to be configured in "DefaultSensors" regions and pose in "Vehicles" region.

only reset its pose in robot body, and the hardware parameters keep same.

[2022-08-05 21:52] acen23 commented on #987
I'm experiencing the exact same issue with my UE engine running the simulation already. I already installed msgpack-rpc-python, but am not sure how to ensure permissions to connect to server if that's the issue here. Any help would be appreciated!

[2022-08-08 07:50] wangdayan opened #4657 "Unable to find plugin 'AirSim'"
![image](https://user-images.githubusercontent.com/62323175/183367177-ea07ef11-43af-4043-844f-fc2569593c49.png)
一运行就报这个错，试了很多方法，实在找不到原因

[2022-08-08 12:46] #4569 closed

[2022-08-08 18:30] jonyMarino commented on #4657
@wangdayan UE5 is not supported.

[2022-08-09 03:43] zohaibjan commented on #232
@evroon that is exactly what I am trying to do but sort of struggling with the PR #3472. Is there a way to determine if objects are overlapped or occluded ?.

Thanks.

[2022-08-09 06:27] Gloriabhsfer opened #4659 "Cannot open blocks form UE4"
## Question
### What's your question?

Hi all:
I have follow the steps form the manual for UE4 and AirSim for Linux to install and build the project. However, I encounter with question while I am trying to open the blocks Uproject. My system is Ubuntu 20.04 and Unreal_Engine 2.47.2. I try convert the project when I am open the project
### The error turns out like this

[code]
Any ideas?

Best,
Glo

[2022-08-09 09:55] tkdeprooo opened #4660 "Build failed - Error: Could not load cache"
## Question
### What's your question?
 How can I run build.cmd on VS 2022? There is this error that pops up :

build.cmd
found Powershell
Found cmake version: 3.14.7
Starting cmake to build rpclib...
CMake Error: Could not create named generator Visual Studio 17 2022

Generators
* Visual Studio 16 2019        = Generates Visual Studio 2019 project files.
                                 Use -A opt

[2022-08-09 14:41] jonyMarino commented on #4659
@Gloriabhsfer have you updated your UE version?

[2022-08-09 16:38] evroon commented on #232
@zohaibjan what do you mean exactly? Segmentation masks typically don't support occlusion, i.e. multiple segmentation IDs per pixel from what I know.

I don't have experience with that PR you link btw.

[2022-08-10 03:56] paaraujo opened #4661 "Simulate "perfect" IMU"
## Bug report

- AirSim Version/#commit: 1.7.0 (installed via pip)
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

I am trying to simulate a "perfect" IMU inside the platform. Thus, inside the settings.json, I've put this:
`
"Imu-Clean": {
        "SensorType": 2,
        "Enabled" : true,
        "AngularRandomWalk": 1E-12,
        "GyroBiasStabilityTau": 1E-12,
        "GyroBi

[2022-08-10 23:23] zohaibjan commented on #232
@evroon I am trying to generate object detection database but so far cannot isolate occluded objects from ground truth. I have tried multiple openCV "tricks" but there is still a level of stochasticity in it left which could be detrimental for the training algorithm. So need more deterministic approach rather than a random one.

[2022-08-11 09:39] binouc opened #4662 "Does airsim support LAN online games?"
## Question
### What's your question?

Does airsim support LAN online games?

#### Context details

Does airsim support distributed deployment on different computers and rendering separately?

[2022-08-11 09:48] fangzhouxia opened #4663 "AirSim failed to build with error D8016 on MSVC"
## Bug report

- AirSim Version/#commit: 6688d27
- UE/Unity version: N/A
- autopilot version: N/A
- OS Version:  windows server 2019

### What's the issue you encountered?

When we compile AirSim under VS 2019, error D8016 appears. Could you help look?

### Settings

### How can the issue be reproduced?

1.git clone https:https://github.com/microsoft/AirSim F:\gitP\microsoft\AirSim
2. cd F:\gitP\m

[2022-08-11 10:33] evroon commented on #232
This solution should be fully deterministic, every pixel belonging to the object you want to segment should be highlighted in the mask. I'm not really sure what your exact problem is.

[2022-08-11 11:02] zohaibjan commented on #232
@evroon  think if a car is occluded behind a tree and only half of it is visible. In that case only half of the segmentation is visible even after switching everything else to -1 or 0 in setSegmentationObjectID. So basically, the question is can I determine if the object is occluded using the segmentation

[2022-08-11 11:05] evroon commented on #232
Ah okay, I don't think that's possible AFAIK, but I haven't done anything with AirSim in a while

[2022-08-11 23:20] zohaibjan commented on #232
Thanks for the reply though. I am struggling at the moment neither the Object Detection API nor segmentation AFAIK can support this.

[2022-08-12 09:04] CWC107753035 commented on #4634
For those who struggling on this question I find out the problem.

Because in airsim ros-node it doesn't provide baseline in camera_info. So if you want to get the point cloud through disparity image, you need to provide the Tx parameter manually in one of projection matrix in camera_info.
see also [sensor_msgs/CameraInfo.msg](http://docs.ros.org/en/noetic/api/sensor_msgs/html/msg/CameraInfo.html#

[2022-08-12 17:41] jonyMarino commented on #4648
@EvelynM7, which python client version are you using?

[2022-08-12 17:45] jonyMarino commented on #4660
@tkdeprooo! These seems to be a CMake issue. Maybe try updating you cmake version?

[2022-08-12 19:02] jonyMarino commented on #4663
@fangzhouxia AirSim was upgraded to be compiled with VS 2022

[2022-08-12 23:54] m-bahrami commented on #4564
In the file `Dockerfile_binary` located in `~/AirSim/docker/Dockerfile_binary`

add the following two lines

`RUN rm /etc/apt/sources.list.d/cuda.list`

`RUN rm /etc/apt/sources.list.d/nvidia-ml.list`

after  `FROM $BASE_IMAGE` .

check out my repo [docker/Dockerfile_binary](https://github.com/m-bahrami/AirSim/commit/46e5510b6f2e6544e2afc6e94c302957498c5abd#diff-0c6cf1ee6435e29598fd2c446f2ed7047e5

[2022-08-13 03:57] christian33moreno commented on #50
Once we have located the BP_PIPCameras, how do we actually get them to appear on the screen?

[2022-08-15 20:55] mickynnamdi opened #4666 "Object Detection Error"
I keep getting the error below while running the object detection python script via [https://github.com/microsoft/AirSim/blob/main/PythonClient/detection/detection.py]. How do I resolve this.

<img width="500" alt="error" src="https://user-images.githubusercontent.com/67756768/184716395-66619923-47bb-48c9-b5cc-591113b1e31a.PNG">

[2022-08-16 01:12] tkdeprooo commented on #4660
Hi @jonyMarino ! Thank you for your reply! I managed to solve the issue by running the "Developer Command Prompt for VS 2022" using administrator and it works fine now! (Not sure if that's an amateur mistake!) Thank you for your time anyways!

[2022-08-16 01:12] #4660 closed

[2022-08-16 16:43] EvelynM7 commented on #4648
@jonyMarino, I'm using Python 3.10.6 64 bit in Visual Studio Code.

[2022-08-16 16:47] jonyMarino commented on #4648
@EvelynM7 what number do you get running this:
import airsim
airsim.__version__

[2022-08-16 17:45] EvelynM7 commented on #4648
I'm now getting `airsim.version
Traceback (most recent call last):
  File "<string>", line 1, in <module>
AttributeError: module 'airsim' has no attribute 'version'`.

[2022-08-16 17:49] jonyMarino commented on #4648
@EvelynM7, sorry it is `airsim.__version__`

[2022-08-16 18:06] EvelynM7 commented on #4648
@jonyMarino, It says '1.7.0'.

[2022-08-16 18:38] jonyMarino commented on #4648
Sorry, now I see you are running from source. Are you running the simulation from a binary? This is typically a version mismatch between client and server.

[2022-08-20 12:24] dkapur17 opened #4667 "Reset Quadrotor to Desired Position"
## Question
### What's your question?
Is there a way to spawn the multirotor at a given position, without losing Physics in the simulation?

### Include context on what you are trying to achieve
I'm trying to train a Reinforcement Learning agent on an environment built using AirSim. I want to be able to randomly spawn the drone at different locations at the start of every episode, but the `reset()

[2022-08-21 10:43] xxEoD2242 commented on #4656
Hey @TomAvrech, since AirSim is being archived soon and Microsoft will stop working on it, we are continuing the open source project here: https://github.com/CodexLabsLLC/Colosseum

Adding support for Unreal Engine 5 is one of our first development goals. Check it out if interested!

[2022-08-23 13:31] ibadrather commented on #1753
Thank you for your solution. Worked for me too.

[2022-08-24 14:04] BartoszBar opened #4670 "Increase velocity of the drone in "Z" axis in AirSim"
Hello everyone,

I have a problem, because the maximum speed of the drone in about 7.04 m/s in "Z" axis. I tried to change the source code by increasing the value of speed_scaler_ from 1000 to 20000 in ManualPoseController.h, after that I compiled airsim and nothing happened.

I also changed the velocity in function moveToPositionAsync and it had no effect on drone speed.

I would like achieve asc

[2022-08-25 22:35] denmonz commented on #3637
@zimmy87 is this an asset we can purchase on the Epic Games Marketplace?

[2022-08-26 14:43] denmonz commented on #2945
@rajat2004 do you happen to know the name of the environment in the Unreal Marketplace?

[2022-08-26 14:46] Prajitkk1 opened #4675 "MoveToPosition gives weird movement when using multiple drones."
https://user-images.githubusercontent.com/39910153/186930948-3aed1273-82fe-4a52-9f4a-5b7aac824c29.mp4

I am trying to give multiple drones different movetoposition commands and every time the drone makes a weird motion (refer to video) before it reaches the point. as the number of drones increases, the drones become more unstable. Any solutions for this issue?

[2022-08-27 05:37] ryoma310 commented on #4634
@CWC107753035
That's exactly what I did to solve this issue.
Thanks.

[2022-08-27 11:08] Chen-Haoyan opened #4676 "Cannot run Blocks.sln with VS2022"
### Discussed in https://github.com/microsoft/AirSim/discussions/4671

<div type='discussions-op-text'>

<sup>Originally posted by **Chen-Haoyan** August 25, 2022</sup>
AirSim Version/#commit: v1.8.1 - Windows
UE/Unity version: 5.0.3
OS Version: win10

3 error：
error C2672: “common_utils::Utils::isDefinitelyLessThan”: 未找到匹配的重载函数 （No matching overloaded function found）
error C2027: 使用了未定义类型“physx::

[2022-08-28 07:44] #4676 closed

[2022-08-28 08:10] Chen-Haoyan opened #4677 "IL mismatch between 'tool1' version 'number1' and 'tool2' version 'number2' when compiling Blocks.sln"
## Question
### What's your question?
IL mismatch between 'tool1' version 'number1' and 'tool2' version 'number2'
![image](https://user-images.githubusercontent.com/62796411/187064419-1c3b9613-d4dd-4c36-8a19-7c14ab91b10e.png)
![image](https://user-images.githubusercontent.com/62796411/187064424-30895446-a063-4743-9e69-e57106866e4b.png)

#### Context details

win10
vs2022
UE4.27.2
AirSim1.8.1-windo

[2022-08-28 11:06] #4677 closed

[2022-08-28 19:00] ilyak93 commented on #127
@sytelus, was there any success with this ?

[2022-08-30 13:11] Zartris commented on #4567
Hi
Did you find a way to fix it?
I'm not completely sure what image 1 is, but if you cannot find the translucent object, there is a way to fix that.

[2022-09-01 06:17] Ajay-NRT opened #4684 "Does AirSim support HITL with APM FCU"
Can we use APM FCU for HITL with AirSim?
I searched but I did not find much information on that.

[2022-09-01 07:25] Dongzhou-1996 opened #4685 "Unable to use SimSetObjectMaterial() and simSetObjectMaterialFromTexture()"
## Bug report

- AirSim Version/#commit: 1.8.1
- UE/Unity version: 4.27
- autopilot version: N/A
- OS Version: Windows 10

### What's the issue you encountered?

I want to set the material of a StaticMeshActor named `Bennu` by using the API `SimSetObjectMaterial()` and `simSetObjectMaterialFromTexture()`.  The code is provided as follows:

[code]
However, both two API do not work and report follow

[2022-09-04 12:28] Zachary9079 opened #4686 "Invalid to modify settings.json"
After the settings.json is modified, the settings.json is restored to the default content when the program is run, so the settings.json settings are invalid

[2022-09-06 02:46] nobicycle commented on #822
Github is not supported by multicloud
https://www.multcloud.com/support-clouds/

[2022-09-07 03:39] w-JiqQian commented on #4686
I have met the same question!

[2022-09-09 08:38] dellhuyongcai opened #4689 "How to get other vehicles's location in the environment where the car of airsim is in?"
Hi,friends in the forum,have studied airsim for a long time, now i want to get the location of other vehicles in the enviorment,the vehicles are set by myself through other plugins, i just know get the position of airsim-car,but how to get other vehicles position by airism has confused me a long time,i need other vehicles location,so that is the problem!does someone know this?

[2022-09-09 13:34] Nastasia0312 opened #4690 "Fixed main camera."
## Question
### What's your question?

I‘m trying to create a teleoperated driving system.
I haven’t found the way to disconnect any of main cameras from the vehicle (I’m using Car mode). How is it possible?

And is there a way to fix ‚M‘ Manual mode camera, to use it later in the chosen position?

[2022-09-12 06:59] azzurras18 opened #4691 "Drone simulation strange behaviour (it doesn't turn)"
Hi, I want that my drone follows a path. I use moveOnPathAsync() to give to the drone the path to follow. However, it has a strange behaviour, when the drone is close enough to a point of the path, it goes up and and come back. It seems like it is not able to turn right or turn left. My code is exacly the following:

`client.moveOnPathAsync(path=data, velocity=14, time_sec=196, airsim.DrivetrainTy

[2022-09-13 19:16] lnexenl commented on #4389
Ah I think I have found where the problem is now. I dig into the source code, and found that: Different from multirotor, car uses **PhysX** as physics engine, instead of physics engines implemented by AirSim. Sensor reading changes when PhysX "Tick"s. Unreal's PhysX engine ticks once every rendered frame as default. So the update frequency is same as fps as default.

I have recorded some 200Hz IMU

[2022-09-13 19:55] datonefaridze commented on #611
@lucafei Hi did you mange to solve that? can you please help me?

[2022-09-13 21:00] #4548 closed

[2022-09-14 07:43] Fergus-MW commented on #4659
Hi Guys, I've got the exact same issue. Was a solution found? I've tried reinstalling Airsim and Unreal to no avail.

[2022-09-15 12:56] TalonX1 opened #4694 "When I try use moveOnPathAsync to fly, how can I take photos at every path point ?"
## Bug report

- AirSim Version/#commit:
- UE/Unity version:
- autopilot version:
- OS Version:

### What's the issue you encountered?

### Settings

### How can the issue be reproduced?

1.
2.

### Include full error message in text form

**What's better than filing an issue? Filing a pull request :).**

[2022-09-17 16:22] vishnuchipade opened #4696 "Unable to get correct real-time position of an animated unreal object (other than drones, for example a animated human character)"
I am trying to extract a real-time (real in the simulation time sense, that is with respect to the unreal's simulation clock) of a moving human character in an Unreal environment. When I use the simGetObjectPose() method from AirSim APIs it simply gives me the same pose information (initial pose) for the human character even when the human has moved in the Unreal environment. Is there a way in Air

[2022-09-17 21:06] gabrielpreviato commented on #4685
Same problem here.
Just found out that the problem is that the PyPI version of the AirSim is 1.7.0.
In the 1.8.1 they added a new parameter for both simSetObjectMaterial and simSetObjectMaterialFromTexture.
You can build the python library yourself and then it should work.

[2022-09-17 21:06] gabrielpreviato opened #4697 "Bump PyPI to 1.8.1"
## Bug report

- AirSim Version/#commit: 1.8.1
- UE/Unity version:
- autopilot version:
- OS Version:

### What's the issue you encountered?

### Settings

### How can the issue be reproduced?

1. pip install airsim

### Include full error message in text form

Currently PyPI most updated version is 1.7.0.
This causes some problems when using the airsim API in Python, such as #4685

**What's bette

[2022-09-19 01:24] Zachary9079 opened #4698 "How to get a top view of the entire scene?"
How do you get a top view of the entire scene?

[2022-09-19 02:37] BayMaxBHL commented on #4676
我也遇到了同样的问题，您是否有解决办法？

[2022-09-19 14:37] #4697 closed

[2022-09-19 16:19] gabrielpreviato commented on #4685
@Dongzhou-1996 just update the package, it should work now.

[2022-09-19 17:13] CSUN1997 commented on #4698
You can try to press "M" after starting. You will enter manual mode and will be available to control the camera.

[2022-09-19 21:32] buvnswrn commented on #2019
Hi @Shwethakrishnaa, could you please let me know what you did to solve this issue as I am having the same

[2022-09-20 20:07] mgrova commented on #4576
Hi @misakabribri,
I am also trying to get a valid FPS for visual odometry tests (30 fps would be perfect), but I can't get more than 15 fps approx.

Have you made any progress in this time?

Best regards and thanks in advance!

[2022-09-21 03:24] misakabribri commented on #4576
Hi @mgrova
Maybe you can package your UE4 project as a released app and then try again. By my observation, if the UE4 project's window is not active, it will also cause low fps. Also, I use multi threads in C++ code to reduce total time of the image capture loop.

[2022-09-21 05:56] mgrova commented on #4576
Hello @misakabribri!

I'm working with the binary of my own enviroment with "NoDisplay" as "ViewMode" in settings.json file. In addition, I use the C++ wrapper and ROS to grab the images. I'm going to try to generate the binaries in release mode, thanks!

Using multithreathing have you achieved 30 fps when grabbing the images in C++ in real-time?

[2022-09-21 07:38] misakabribri commented on #4576
It depens on the size of images you grabbing, I think. When I using multi-threads, I can achieve average 25fps(1280*720) on my workstation with GTX 3070.
Besides, avoid using imwrite() and imshow() in the image-capturing thread, since these functions cost lots of time.

________________________________
发件人: Marco Montes Grova ***@***.***>
发送时间: 2022年9月21日 5:57
收件人: microsoft/AirSim ***@***.***>
抄送

[2022-09-21 08:55] Zachary9079 commented on #4698
Sorry, I didn't describe it clearly. I mean how to get the top view of the scene through AirSim API or programming

[2022-09-21 08:56] Zachary9079 opened #4699 "Please ask how to obtain the top view of the scene through AirSim API or programming"
Please ask how to obtain the top view of the scene through AirSim API or programming

[2022-09-22 06:39] mgrova commented on #4576
Im taking the images (one depth and one scene) at 640x480. Simulating only these two cameras and using the ROS1 wrapper, I don't get more than 8-10 FPS in my workstarion with RTX 2080Ti.

Do you have any repository or code with which you can get that frequency when obtaining the images?

Sorry for the inconvenience and thank you very much.

[2022-09-23 01:31] misakabribri commented on #4576
I used AirSim's image capture APIs directly rather than ROS wrappers. I modified the C++ project named "Example" from AirSim default source code, and added a TCP  thread to send images.
Usually, it won't take too much time to get 640x480 images (less than 20ms) by capture APIs. I also used OpenCV APIs to incode images before transmitting them via TCP.
In my opinion, you can record the total time t

[2022-09-23 05:07] Liu616012360 commented on #4676
哥们解决了么？出个教程吧谢谢

[2022-09-24 01:25] kienchen opened #4702 "Africa"
## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

[2022-09-24 01:30] kienchen commented on #4702
How to run Africa  and capture_ir_segmentation.py
airsim 1.7.0
couple questions of IR Camera and Africa

1) a. execucte  precompiled Afirca.exe
   b. execucte  python capture_ir_segmentation.py
   nothing happens
2) inside  code of  capture_ir_segmentation.py
 there are couple folders as following, what is the purpose of those folder
irFolder=r'auto\winter\200ft\down'
irFolder=r'auto\winter\200ft\

[2022-09-26 07:13] xubeyb commented on #4524
@Jaeyoung-Lim @lovettchris  is there any news about this?

[2022-09-26 12:50] jayamohan-cb opened #4704 "LIDAR is not generating correct point clouds"
I am trying to capture point clouds of LIDAR installed in an Aircraft hangar.
Here is the unreal window in simulation mode
![image](https://user-images.githubusercontent.com/97166528/192280067-23e2d00c-56b9-4ca3-9859-eeda54aa4326.png)

 LIDAR is generating only few points and after some range . Here is the output point cloud displayed in online viewer
![image](https://user-images.githubusercontent

[2022-09-28 22:03] YazdanshensAmin opened #4708 "Wsl2 connection over tcp with airsim"
## Question
### What's your question?
issue with connecting Airsim to px4 using wsl2

### Include context on what you are trying to achieve

well, I am trying to connect px4 to Airsim, and for that purpose, I followed all the steps on the Airsim GitHub page  (https://microsoft.github.io/AirSim/px4_sitl/). PX4 running fine on wsl2 and also Airsim works fine on its own, but  I cannot make the TCP co

[2022-09-29 02:53] milkcat0904 opened #4709 "Image Homography wrong result use camera info and DepthPlanar"
## Bug report

- AirSim Version/#commit: 1.7.0
- UE/Unity version: UE4
- autopilot version: None
- OS Version: Windows Server 2019

### What's the issue you encountered?

Homography is very import transformation in MVS task, the formula is
<img width="456" alt="img_v2_b8b96010-af2e-4f99-8516-4fe6762efb1g" src="https://user-images.githubusercontent.com/27838089/192927728-940c1927-ec06-48c0-9767-0da

[2022-09-29 08:38] dimikout3 commented on #4492
I have recently encountered the same problem. A quick fix is changing the UdpPort and ControlPort

{
  "SettingsVersion": 1.2,
  "LogMessagesVisible": true,
  "SimMode": "Multirotor",
  "OriginGeopoint": {
    "Latitude": -35.363261,
    "Longitude": 149.165230,
    "Altitude": 583
  },
  "Vehicles": {
    "Copter": {
      "VehicleType": "ArduCopter",
      "UseSerial": false,
      "LocalHostIp"

[2022-10-05 00:43] tanyaapaul commented on #4659
same here! no updates? Anyone managed to find the error?

[2022-10-05 00:47] tanyaapaul commented on #2370
How did the issue got fixed? I am having the same problem / error message

[2022-10-05 13:40] Dankrupt opened #4712 "AirSim Unity crashes when adding Lidar sensor"
## Question
### Whenever I add a lidar sensor in settings.json, the simulator (and Unity) crashes when I try to run it, is this a known issue?

Adding other sensors works without any problems and I can control the drone with QGroundControl through PX4, but the moment I try to add a lidar it breaks.

#### Context details

I'm on Ubuntu 18.04 with Unity version 2021.3.10f1. I know the recommended Un

[2022-10-05 21:00] tanyaapaul commented on #1020
Did anyone managed to solve this issue? I currently have the same problem and not sure how to fixe it

[2022-10-05 21:01] tanyaapaul commented on #4580
Same error , anyone managed to solve it ?

[2022-10-05 21:39] YazdanshensAmin commented on #4708
That is all the info that I can provide for now

[2022-10-06 09:48] nilsiism opened #4713 "How to identify multirotor parameters from packaged Unreal Engine 4 project"
## Question
### What's your question?
How can idenfitfy the used multirotor parameters such as (weight, thrust, torque, size, ...) from a packaged Unreal Egine 4 project that uses AirSim?

### Include context on what you are trying to achieve
I'm using a multirotor path planning an control library (lets call it "PlanLib") that interacts with with some packaged UE4 / AirSim environments. I'd like t

[2022-10-07 09:58] andrz45 commented on #3846
Hello, I have been trying to solve this problem for two days, and nothing helps, along with colleagues who know a better Windpow itp.. Attempts to assign the exact path in the file "build.cmd" and all sorts of other resolutions. (I do not know exactly what kind, because I was just a follower of friends' instructions) In the end, there was no success. I have the same problem as guys above. To answe

[2022-10-07 13:25] abtraore commented on #4712
Lidar sensor in unity doesn't work (yet I guess) you can check the status here : []( https://github.com/microsoft/AirSim/blob/main/docs/unity_api_support.md)

[2022-10-08 02:43] milkcat0904 commented on #4709
- I use cv2.remap for warping
[code]
- the fov is 82 in my code, it's just miswriting on websites, with no effects on my result.

[2022-10-09 14:02] LarsLeferenz opened #4714 "Label Vehicles during simulation"
## Question
### What's your question?
Is it possible to add name labels to the vehicles in the simulator or identify them visually in some other way?
When using more than 2-3 drones, it can get quite confusing which drone is which.

[2022-10-10 04:44] tanyaapaul commented on #4535
same error on my Ubuntu 20.04 LTS any tips or individual that managed to solve this issue?

[2022-10-10 08:00] fangzhouxia commented on #4663
ok thanks, I'm using the VS 2022 compiler and it's ok.

[2022-10-10 14:55] LopezBejarAlvaro opened #4716 "Is the IMU Linear acceleration too low?"
## Bug report

- AirSim Version: 1.8.0 Linux (also tried on 1.8.1 Linux and 1.7.0 Linux)
- UE/Unity version: 4.0
- autopilot version: Not being used
- OS Version: Ubuntu 18.04.6 LTS + ROS melodic

### What's the issue you encountered?

During the simulation of a Drone with Airsim + ROS wrapper, the IMU linear acceleration on X and Y seems to be too low, mainly noise. It is not higher of 0.2 m/s² w

[2022-10-11 20:39] andrewjong commented on #4243
Did you figure out how to solve this?

[2022-10-12 09:05] fangzhouxia opened #4717 "[MSVC][permissive-][std:c++latest] Airsim failed to build with msvc due to error C2664 on Windows"
## Bug report

- AirSim Version/#commit: 6688d27
- UE/Unity version: N/A
- autopilot version: N/A
- OS Version: windows server 2019

### What's the issue you encountered?

Hi all, when we compile AirSim under VS 2019, error C2664 appears. Could you help look?
### Settings

### How can the issue be reproduced?

1.  git clone https://github.com/microsoft/AirSim F:\gitP\microsoft\AirSim\cmake
2.  cd

[2022-10-13 13:10] einsteinagogo commented on #4659
We have discovered the same issue with UE 4.27 which the documents state should be the version to use has this now changed ?

[2022-10-13 13:21] einsteinagogo commented on #4659
tried 1.8.1 and 1.8.0 both the same in UE 4.27 for Linux

[2022-10-13 14:57] einsteinagogo commented on #4659
and also 1.7.0, 1.6.0 and 1.5.0, on Linux

[2022-10-13 15:57] Tonirayn opened #4722 "Initial NED position is always (0,0,0)"
## Bug report

- AirSim Version/#commit:
- UE/Unity version: Unity 2021.3.11f1
- autopilot version: px4 1.11.3
- OS Version: Ubuntu 22.04

### What's the issue you encountered?

The initial states, given in the settings.json file with x,y, and z coordinates, are always initialized to 0,0,0 no matter what the settings are. The positions are available in qgroundcontrol as local position ned with the

[2022-10-14 11:26] Zartris commented on #4677
Chen, how did you fix it!
I cannot seem to find a solution for this

[2022-10-14 18:53] andrewjong commented on #4243
@Sabrin0

[2022-10-14 19:51] xxEoD2242 commented on #4243
Hey @andrewjong ,

You need to upgrade to Visual Studio 2022 and make sure to remove the old Windows SDK (there is a new version available). Also, you need to update to UE 4.27.2.

Also, MicroSoft has shutdown this open source project. We are continuing that on here: [Colosseum](https://github.com/CodexLabsLLC/Colosseum)

[2022-10-15 12:19] Sabrin0 commented on #4243
Hi @andrewjong, can you kindly share the log files in Saved\logs?

[2022-10-18 02:50] Hao-HUST commented on #506
Hi, I tried to use your modified AirSim to simulate the car and drone together, but Unreal Engine 4 always crashed when I ran Blocks.uproject file in the /AirSim/Unreal/Environments/Block folder, the crash reporter is described as follows:

EpicAccountId:
Caught signal
libUE4Editor-AirSim.so!msr::airlib::DelayLine<msr::airlib::GpsBase::Output>::update() [/home/hao/AirSim-master/Unreal/Environments

[2022-10-20 02:15] Ckq-Sugar commented on #2387
Hi, Pablitinho
I have a similar problem too. Set the camera interval to 0.033 (RecordInterval: 0.033) but the timestamps of the saved images cannot meet this requirement (the time interval is about 0.2 seconds)
Have you solved the problem now?

[2022-10-20 05:50] Pablitinho commented on #2387
Hi,
Time ago I was using different GPU and I was getting different results. Give a try with a different machine. I don’t know your setup…

[2022-10-20 11:35] ztysdu commented on #3487
Hello, have you solved this problem? I am also confused of how to set motion blur.

[2022-10-20 14:40] HarrySoteriou commented on #4667
'''python
import gym
import airsim
from gym import spaces
import numpy as np
import random
from airgym.envs import AirSimEnv

class RLEnv(AirSimEnv):

    sim_target = *insert Unreal Engine's tag for the object you need to spawn around*
    camera_name = "3"
    image_type = airsim.ImageType.Scene
    actions = {
        0: [1, 0, 0],  # front
        1: [0, 1, 0],  # right
        2: [0, 0, 1],

[2022-10-20 18:05] ptueller commented on #3487
Hello, unfortunately I can't remember exactly what I did to achieve it, though I did get it to somehow work. Sorry I can't be more helpful, I've moved on to another project and group and the code I used has been archived. I do remember though that it did not end up working how I was expecting it to work, in that the motion blur was not caused by the motion of the vehicle, and it was instead what s

[2022-10-22 17:40] buvnswrn commented on #2349
is this issue fixed or is any workaround available? It was working with version 2019.3.12f1 and wanted to upgrade to 2020.3.9f1 and this issue occurred to me.

[2022-10-22 18:34] buvnswrn commented on #2349
For the Quadcopter object, a simple reset on the Rigidbody component according to https://forum.unity.com/threads/colliders-not-working-in-build-since-last-update.828468/ and undoing it or entering the values manually worked for me and the quadcopter did not fall through the floor.

[2022-10-25 11:02] buvnswrn commented on #4598
I guess the issue is not because of PX4-Airsim connection but Airsim settings.json itself. I wanted to use a different SITL controller called simple_airsim and this also had the same issue but in Unity i could see that the name of the Quadcopter used is SimpleFlight so i gave the same in the settings file under the VehicleType and i am able to use it as required, no crashes

[2022-10-25 11:04] buvnswrn commented on #4708
Did you manage to mak the connection?

[2022-10-25 18:20] p3jawors commented on #2914
:cry:

[2022-10-26 12:33] dkapur17 commented on #4667
Thanks a lot!

[2022-10-26 12:33] #4667 closed

[2022-10-28 20:17] bluecamel opened #4725 "Issues building airsim_ros_pkgs for ROS 2"
## Question
### What's your question?
I've managed to build this in the past, but apparently something has changed.  I'm now getting the following error:

[code]

This happens on clean installs of ros 2 galactic and rolling (using apt) on Ubuntu 20.04.

### Include context on what you are trying to achieve
N/A

#### Context details
Ubuntu 20.04, Airsim 1.8.1 and main, Unreal 4.27.1

### Include de

[2022-10-28 20:55] y-elena4 commented on #3143
I have the same issue in Linux, did you ever find a solution @CodeQuixote ?

[2022-10-30 09:00] alonfaraj commented on #4725
This issue related to cmake version 3.24.
More details [here](https://github.com/ament/ament_cmake/issues/396).
You can downgrade to older versions.

[2022-10-30 17:43] bluecamel commented on #4725
That did it.  Thanks so much!

[2022-10-30 17:43] #4725 closed

[2022-11-01 02:05] Gloriabhsfer commented on #4659
Sorry for the late reply. I am now using UE4.27 in Ubuntu 20.04. I figure out this question by reconfig the Uproject for blocks in Linux. Then I can open the block project. The command will be something like:
`ENGINE_FOLDER/Engine/Build/BatchFiles/Linux/Build.sh ExampleProjectEditor Linux DebugGame -project=PROJ_FOLDER/ExampleProject/ExampleProject.uproject -WaitMutex`
More details can be find in

[2022-11-01 02:05] #4659 closed

[2022-11-01 17:28] Akaa008 opened #4729 "block.sln build errors"
## Question
I'm using unreal engine 5.0.3 on Windows 11. I'm trying to setup airsim with unrealengine.

Right now, I'm trying to build block.sln and it is throwing up errors.

![image](https://user-images.githubusercontent.com/51166746/199298268-613a61dc-0cf2-4e24-aba3-56e584b4ebda.png)

Can anyone help with troubleshooting it?

[2022-11-02 05:44] Heavy0strich opened #4730 "./Setup.sh is not worling"
## Question
### What's your question?
 when I am running ./setup.sh, it throws the following error:" E: The repository 'http://ppa.launchpad.net/codeblocks-devs/release/ubuntu focal Release' does not have a Release file".

### Include context on what you are trying to achieve

#### Context details
 I'm using Ubuntu 20.04 and cloned the airsim just now.

Err:20 http://ppa.launchpad.net/codeblocks-d

[2022-11-03 00:13] MattBrth opened #4733 "I can't connect python client on WSL2 with Airsim running on Windows 11"
## Question
### What's your question?
How can I connect Airsim running on Windows 11 with a python script running on WSL2 ?

### Include context on what you are trying to achieve
I would like to connect Airsim running on Windows 11 with a python script running on WSL2 but when trying to reach the WSL2 Host, it says connection error.

#### Context details

I tried to disable the firewall but it doe

[2022-11-04 00:09] cryptik opened #4734 "Build errors for Blocks environment on Ubuntu 20.04"
## Bug report

- AirSim Version/#commit: AirSim [main]
- UE/Unity version: 4.27.2
- autopilot version: N/A
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

I cannot load the Blocks environment into the UE4 Editor.  After following the UE4 install steps, I can successfully create a game project using the blueprint feature which I did to validate that UE4 is working

Next, after in

[2022-11-07 00:09] doomgsg commented on #4712
_bigphotodoom airweekly ontario.md FSC®FSC™
Duplicate of #

[2022-11-07 17:37] canxkoz opened #4739 "Unable to build on M1 Mac"
## Bug report

- AirSim Version/#commit: Latest version as of 6688d27d3712c2a9c824ababec7a2703475b6628
- UE/Unity version: 4.2
- autopilot version: N/A
- OS Version: MacOS 12.6

### What's the issue you encountered?

I can setup.sh and build.sh without any problems but when I open Xcode and build the Blocks.workspace I get the following errors.
"Shell Script Invocation Error Group" and "/Users/Sha

[2022-11-09 03:52] Leon-Redfield commented on #4310
Sorry but I didn't solve this problem.

[2022-11-09 12:53] Leon-xc commented on #4729
it seems that AirSim cannot work with UE5

[2022-11-10 11:09] IgorehaV opened #4740 "llvm/bin/clang - broken. macOS Ventura"
Hi guys. I've an issue with **./build.sh** and really can't understand where the problem.
Here is the log from terminal:
`-- Check for working C compiler: /usr/local/opt/llvm/bin/clang
-- Check for working C compiler: /usr/local/opt/llvm/bin/clang - broken
CMake Error at /usr/local/Cellar/cmake/3.24.3/share/cmake/Modules/CMakeTestCCompiler.cmake:69 (message):
  The C compiler

    "/usr/local/opt/

[2022-11-11 02:59] jclee0109 commented on #4507
Hello @huytd-pi! I just met the same problem as you. I thought that clang compiler didn't work well in our environment (I don't have any idea about the specific reason..) Anyway, so I changed the compiler as gcc using `./build.sh --gcc` and it works.

I hope you can fix your problem as well. Thanks.

[2022-11-11 08:33] zhjc2014 commented on #4734
the same problem

[2022-11-11 08:37] zhjc2014 commented on #4580
same error

[2022-11-11 10:14] SworterW commented on #2875
I also used unity to develop, and found the same problem as yours in the latest airsim version. Have you finally solved it

[2022-11-11 19:11] canxkoz commented on #4739
Deleting the following lines on the screenshot attached on this issue fixed the problem. 1278, 1279, 1280, 1292, 1293, 1294. This specific file is customized as "do not edit" by the developers but deleting these lines fixes the error. I have worked extensively with AirSim so far and I have not experienced any issues due to the deletion.

[2022-11-11 19:11] #4739 closed

[2022-11-12 10:47] DarkKnightCyd opened #4743 "drone cannot get to the assigned pose using "simSetVehiclePose""
## Bug report

- AirSim Version/#commit:1.8.1
- UE/Unity version:UE 4.27.2
- autopilot version:N/A
- OS Version:Ubuntu 20.04

### What's the issue you encountered?

I used API "simSetVehiclePose" to spawn the drone at certain position .It seems that the drone cannot reach to given pose after the function was called.And it turns out that it takes serveral times to get drone to given pos
### Setting

[2022-11-13 09:55] Neurowerk opened #4744 "imitation_learning/drive_model.py ValueError"
## imitation_learning/drive_model.py ValueError

 Hi, i have trained model for imitation learning, when i run imitation_learning/drive_model.py, i've got next message:
   File "\AirSim\PythonClient\imitation_learning_test\drive_test.py", line 52, in <module>
    image_buf[0] = get_image()
ValueError: could not broadcast input array from shape (66,200,2) into shape (66,200,3)

I use latest AirSim r

[2022-11-14 17:23] Thanmai01 opened #4745 "How to run local_planner in AIrsim?"
I connected AIrsim, ROS and PX4 and launched local_planner using the following command

roslaunch local_planner local_planner_stereo.launch

I GOT THIS ERROR

__  _   _    _
| _ \ \ \ / /   /   |
| |_/ /  \ V /   / /| |
|  _/   /   \  / /| |
| |     / /^\ \ \___  |
\_|     \/   \/     |_/

px4 starting.

INFO  [px4] startup script: /bin/sh etc/init.d-posix/rcS 0
process[mavros-4]: started with pid

[2022-11-15 09:28] haildceu1 opened #4746 "How to customize internal flight controller for drones?"
Is there any way to customize internal flight controller for drones?
The document says Airsim has a built-in flight controller called simple_flight, which uses a cascade of PID controllers. How could I change them into custom controllers like Lead-Lag Compensator or Geometric Control.
I’m aware that Quadrotor flight controller receives desired state input such as position and angle level, and oupu

[2022-11-15 09:34] haildceu1 opened #4747 "How to customize internal flight controller for multirotors?"
## Question
### What's your question?
Is there any way to customize internal flight controller for multirotors?

### Include context on what you are trying to achieve
The document says Airsim has a built-in flight controller called simple_flight, which uses a cascade of PID controllers. How could I change them into custom controllers like Lead-Lag Compensator or Geometric Control.

### Include det

[2022-11-15 09:34] #4746 closed

[2022-11-16 20:27] jackvice commented on #4383
Did anyone find a solution to this?

[2022-11-17 03:43] wuchu1205 commented on #4659
What does "ExampleProjectEditor" stands for?

[2022-11-17 08:45] wuchu1205 commented on #4659
Hello! I have tried to use this command you mentioned and compile the files successfully. But when I open  Blocks.uproject, it still ask me to rebuild. How to solve this?

[2022-11-17 18:00] tommy-neeld-rft commented on #3877
Had this issue, got around it by creating a variable to hold the timezone and passing it into an `/etc/timezone` file (which I think gets picked up by python)
[code]

[2022-11-18 05:14] HT-hlf commented on #4734
same problem

[2022-11-18 18:32] noahzn opened #4751 "set the location of the default camera"
## Question
### What's your question?
How can I set the location of the default (external) camera when the program starts?

### Include context on what you are trying to achieve
I changed the default drone, and my drone is very small (palm size). So when the program starts, the default camera (top view) is very high, and I cannot see the drone clearly. As shown in the picture, my drone is so small

[2022-11-18 20:06] #4751 closed

[2022-11-19 17:10] mr-cat-sudo commented on #4739
TYSM!

[2022-11-23 00:55] deonblaauw commented on #4740
I managed to fix this today by using `which clang` and `which clang++` to get the path where the compilers are installed, then I changed my build.sh file (under AirSim/Unity). Mine were both under `/usr/bin/` , this is the section in the build.sh file I changed:

[code]

[2022-11-24 23:46] sandyUni commented on #4734
same problem

[2022-11-27 17:39] tanyaapaul opened #4752 "Tornado x msgpack-rpc-python 0.4.1 incompatibility when connection to Airsim simulator"
Hello there,

I have some dependencies issues with the API , when I try to connect to the Airsim simulator. I have this error :

Output exceeds the [size limit](command:workbench.action.openSettings?[). Open the full output data [in a text editor](command:workbench.action.openLargeOutput?93aada99-9ae0-46fd-8180-13e4062afdcd)
-------------------------------------------------------------------------

[2022-11-27 20:34] tanyaapaul commented on #1949
I am having this issue as well but with :
WARNING:tornado.general:Connect error on fd 7: ECONNREFUSED
WARNING:tornado.general:Connect error on fd 7: ECONNREFUSED
WARNING:tornado.general:Connect error on fd 7: ECONNREFUSED
WARNING:tornado.general:Connect error on fd 7: ECONNREFUSED
WARNING:tornado.general:Connect error on fd 7: ECONNREFUSED

[2022-11-27 20:35] tanyaapaul commented on #1280
Same issue but with :

WARNING:tornado.general:Connect error on fd 7: ECONNREFUSED
WARNING:tornado.general:Connect error on fd 7: ECONNREFUSED
WARNING:tornado.general:Connect error on fd 7: ECONNREFUSED
WARNING:tornado.general:Connect error on fd 7: ECONNREFUSED
WARNING:tornado.general:Connect error on fd 7: ECONNREFUSED

[2022-11-28 01:14] tank104 commented on #876
@NextSim are you able to share the code that sends the message you have above?
I am trying to use MagicOnion (which uses MessagePack) but it keeps crashing AirSim whenever I make an API call.

[2022-11-28 06:52] pragatwagle commented on #4734
I am also having this same problem and I am following the same steps.

[2022-11-28 07:14] pragatwagle commented on #4734
Try this: https://github.com/microsoft/AirSim/issues/4535

[2022-11-28 07:23] zclyaya commented on #1219
![image](https://user-images.githubusercontent.com/88328796/204217601-ea8c09bc-22d0-4168-b69e-2e86c6da9e62.png)
how to solve this problem?

[2022-11-28 07:23] MaxwellHuang2015 commented on #1219
这是来自QQ邮箱的假期自动回复邮件。你好，我最近正在休假中，无法亲自回复你的邮件。我将在假期结束后，尽快给你回复。

[2022-11-29 03:19] ZhangFanSC opened #4753 "unload UE4Editor-D3D11RHl.pdb"
## Question
### What's your question?

The version of UE：4.27.2
The version of Airsim：1.8.1
When the instance is loaded for some time, the program will crash. The following screenshot appears
![image](https://user-images.githubusercontent.com/76544411/204430352-a993942a-7ea8-472c-82b9-93273073c4ee.png)
Unable to find or open the PDB file.specifically，unload UE4Editor-D3D11RHl.pdb

### Include cont

[2022-11-29 06:48] zclyaya opened #4754 "msgpackrpc.error.RPCError: rpclib: client error C0002: Function 'simGetImages' was called with an invalid number of arguments. Expected: 2, got: 3"
C:\Users\zcl\.conda\envs\zclpytorch\python.exe D:\Fixedwing-Airsim-master\src\main.py

In file d:/JSBSim/aircraft/x8/x8.xml: line 80
Engine location ignored, only thruster location is used.

In file d:/JSBSim/aircraft/x8/x8.xml: line 85
Engine orientation ignored, only thruster orientation is used.
Traceback (most recent call last):
  File "D:\Fixedwing-Airsim-master\src\main.py", line 217, in <mo

[2022-11-30 07:47] #4347 closed

[2022-11-30 09:15] asaltedfish4 opened #4755 "Whether the weather set by AirSim has physical effect on lidar?"
## Question
### What's your question?

Whether the weather set by AirSim has physical effect on lidar?

### Include context on what you are trying to achieve

I set up the weather via AirSim. And I want to know whether the weather (rain or snow) affect the point cloud data collected by lidar and the principle of lidar collecting point cloud data.
Thank you very much!

[2022-11-30 23:12] AshishSingh-Glitch90 commented on #3376
Hi,
I am trying to implement flight simulation using Airsim hardware in the loop(HITL), px4 version 1.9.2 on pixhawk 2.4.8 by programming pixhawk using Qgroundcontrol which I was able to work.
Now I want to implement the same with the Xbox Controller for which I followed:

[https://microsoft.github.io/AirSim/xbox_controller/](url)
and
[https://docs.px4.io/main/en/simulation/hitl.html](url)

using

[2022-11-30 23:21] AshishSingh-Glitch90 opened #4756 "Airsim error: Not receiving any messages from HIL, please restart your HIL node and try again"
## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

Hi,
I am trying to implement flight simulation using Airsim hardware in the loop(HITL), px4 version 1.9.2 on pixhawk 2.4.8 by programming pixhawk using Qgroundcontrol which I was able to work.
Now I want to implement the sa