[2020-08-24 19:42] AOS55 commented on #2955
Resolved all build errors now except for one rather unusual one:
`"C:\Users\quessy\Documents\Unreal Projects\AirSim\AirSim.sln" (default target) (1) ->
"C:\Users\quessy\Documents\Unreal Projects\AirSim\AirLib\AirLib.vcxproj" (default target) (12) ->
 (ClCompile target) ->
C:\Users\quessy\Documents\Unreal Projects\AirSim\AirLib\deps\rpclib\include\rpc\msgpack\v1\object.hpp(202,11): error C2039: 'ms

[2020-08-24 19:48] akinerkan commented on #2559
Mac os x catalina 10.15.6 and it worked for me. Thank you very much

[2020-08-24 21:03] jeffreyng99 commented on #1224
Hello @madratman and @Neabfi I am running the docker container headless, however I am running into the same problem as you said. Whenever I run AirSim not in headless mode, I have to click the play button to start the simulator and rpc server. How would start the simulator in headless mode?

[2020-08-24 22:22] cthoma20-arc commented on #2531
Do you mean you'd like to increase the cars speed until you reach a specific number? If that is the case, I believe what you are asking for is a controller. You need to use a controller to adjust the throttle based on the current speed, until the desired speed is reached. A common controller you could implement is a [PID Controller](https://en.wikipedia.org/wiki/PID_controller).

[2020-08-24 22:29] jeffreyng99 opened #2966 "How to run AirSim docker image headless?"
How do I start the simulation in headless mode within docker container? I follow these instructions at https://microsoft.github.io/AirSim/docker_ubuntu/#build-unreal-engine-inside-docker line for line up until "Start unreal engine inside the container:
ue4@HOSTMACHINE:~$ /home/ue4/UnrealEngine/Engine/Binaries/Linux/UE4Editor"

When running without the -- headless flag, the editor opens up, and I'm

[2020-08-25 04:52] rajat2004 commented on #2955
The RPC error was due to the fact that it doesn't know how to pack the Vector3r object, need to convert it into the struct defined in RpcLibAdaptorsBase and then pass it. Opened https://github.com/AOS55/AirSim-1/pull/4 which fixes that, and adds the files to CMake.
After this AirLib compiles, but there are still lots of errors when building the entire Blocks env, undefined references in FixedWingA

[2020-08-25 05:02] GimpelZhang commented on #2916
My car got hit by the animals as well when I used the NH environment.

Since I didn't have the source code of the env, I decided to make one by myself. I put it in the release of my repo:
[GimpelZhang/airsim_ros](https://github.com/GimpelZhang/airsim_ros). Hope that will help if you are still working on it.

[2020-08-25 07:13] HenryHuYu opened #2967 "Cannot obtain Depth Images under NoDisplay mode"
# Cannot obtain Depth Images under NoDisplay mode
Under the **NoDisplay** mode, **depth image** cannot be correctly obtained.
The code we use to get depth image is given here:
[code]
With this code, the image obtained is the same as the 'Scene' image except that it is in gray scale. (As demenstrated below).
![650158140](https://user-images.githubusercontent.com/30193721/91142794-017b2100-e6e4-11ea

[2020-08-25 07:25] lucafei opened #2968 "how to set airsim start point in unreal engine and get pose of drone in unreal engine"
my configuration: windows 10, unreal engine 4.24, airsim 1.3, Multirotor mode

i want to get the start pose of drone in unreal engine, sothat i can tranform the coordinate of ue into NED of airsim, moreover i want to set the start pose of drone, with which the PlayerStart is placed, sothat i can customly define the home position of drone not the default home position consistent with PlayerStart. D

[2020-08-25 09:29] AOS55 commented on #2955
Great thanks very much Ill take a look at those errors today, I merged the issue back into fixedwing and have no build.cmd errors on my end too.

[2020-08-25 10:36] AOS55 commented on #2955
Any thoughts on why I'm getting the following include/visibility related build error from in visual studio? I can see the source file [UdpSocket.hpp](https://github.com/AOS55/AirSim-1/blob/FixedWing/MavLinkCom/include/UdpSocket.hpp) is still on the repo, could it be related to cmake changes?

- From Visual Studio: `C1083 Cannot open include file: 'UdpSocket.hpp': No such file or directory Blocks C

[2020-08-25 10:54] rajat2004 commented on #2955
That's very strange, Windows shouldn't be affected AFAIK since it uses the .sln files. And if this were a problem, then it would have appeared way earlier since support for Rover has been present for many months
Does this appear when running `build.cmd`?

[2020-08-25 11:01] AOS55 commented on #2955
No thats the unusual thing build.cmd doesnt present any errors when run

[2020-08-25 11:06] rajat2004 commented on #2955
Hmm, maybe try running `clean_rebuid.cmd` from the root directory, that should rebuild everything.
Do commit any changes made in the files present in the Blocks directory like in the AirLib folder before running though

[2020-08-25 11:20] AOS55 commented on #2955
Great thanks that seems to have resolved it back to linking problems probably due to decleration again.

[2020-08-25 11:24] rajat2004 commented on #2955
Nice! Still have no idea why VS decided to remove the header file
Side note, this does somewhat bring into mind that GitHub issues might not be the best way to communicate, especially on smaller problems. Maybe something for future

[2020-08-25 11:39] AOS55 commented on #2955
Yeah not sure its unusual.
Yes certainly, I'm surprised there isn't a microsoft/AirSim slack setup or equivalent for more direct communication. As you said something for the future.

[2020-08-25 11:46] rajat2004 commented on #2955
There is a Facebook group, but I myself haven't used it since a long time.
AP uses Discord (earlier Gitter) and has a forum as well, similar with PX4. Maybe after there is more activity and members. Having something like this would definitely reduce the number of issues also, since more confirmed issues will be created rather than duplicate and support ones

[2020-08-25 11:53] AOS55 commented on #2955
Yes I agree thats a good idea, the documentation for AirSim would need to reflect this too as there is not an obvious point of contact when onboarding new users/developers with the application.

Also after commenting out the linking errors in the application I have managed to compile through to the blocks environment 😀.

[2020-08-25 12:03] rajat2004 commented on #2955
Awesome, now comes the probably more difficult part of modelling, physics and making sure everything works!
Having a more direct method of communication will also increase community interaction a lot. Which platform to select, etc will have to be decided by the maintainers though, might require collecting some opinions from the users

[2020-08-25 12:41] AOS55 commented on #2955
Yes I agree, would you like to open up a communication issue, I'm not sure if you can do a poll on github?

[2020-08-25 12:55] rajat2004 commented on #2955
Don't think I'm the best person to open such a issue, a maintainer should do this probably. Github doesn't have polls AFAIK

[2020-08-25 13:03] AOS55 commented on #2955
Yes that makes sense, a moderator or project manager sort of thing. Perhaps if you know anyone you could `@` them into this issue so they can set it up. Ok sure you could always make the proposed solution as a comment and get people to vote 👍  or 👎 on the comment.

[2020-08-25 13:17] rajat2004 commented on #2955
@madratman @saihv @ironclownfish @jonyMarino Do you think having another (more chat & voice type) communication platform will be worthwhile? This will definitely increase community interaction, and will probably reduce support issues.
Just wanted to know your opinions, and definitely don't want to increase your (already heavy) workload too much.
Looking forward to hearing from you!

[2020-08-25 13:39] Aku02 commented on #2968
You can take a look at `settings.json` file [here](https://github.com/Microsoft/AirSim/blob/master/docs/settings.md) this file in default is found in `C:\Users\Admin\Documents\AirSim`
Once you have set the positions you can restart your engine and proceed.
Hope this helps

[2020-08-25 14:19] p3jawors opened #2969 "How to create video stream like in airsim demo"
Hello,

I am looking at getting a video stream picture-in-picture of the rgb camera feed from the multirotor like was done in this airsim demo.
https://www.youtube.com/watch?v=-WfTr1-OBGQ

So far I have found the `opencv_show.py` example, but this creates a separate window with an extremely low FPS count. How would I go about recreating what was in the video above with a camera feed in the unreal

[2020-08-25 15:44] nmuchaxo opened #2970 "Sending messages from /cmd_vel to an AirSim topic"
Hello, I've been trying to subscribe to /cmd_vel (type: geometry_msgs/Twist) to publish info to the topic /airsim_node/drone_1/vel_cmd_body_frame to move the drone in the sim and I thought both had the same msg type, but apparently not. The type of the last topic is airsim_ros_pkgs/VelCmd and it just has Twist inside it.

Inititally my code was like this and when I run it I get "WARN Could not pro

[2020-08-25 17:24] amaalo2 opened #2971 "Multi drone API call order in Python yields surprising behavior unless called in a specific way"
Using the multi_agent_drone.py as a template to run multiple drone, the suggested code structure is shown below.

` airsim.wait_key('Press any key to move vehicles')`
`f1 = client.moveToPositionAsync(-5, 5, -10, 5, vehicle_name="Drone1")`
`f2 = client.moveToPositionAsync(5, -5, -10, 5, vehicle_name="Drone2")`
`f1.join()`
`f2.join() `

Using this structure, both drones move to their target position

[2020-08-25 17:32] xxEoD2242 commented on #2971
The method `.join()` is an asynchronous call. That means that when the method is called, the program is suspended until the callback is completed. It's the same as calling `.wait()` on a subprocess in Python, where it waits for the literal `return 0` type callback before exiting the program.

TL:DR Yes, it's functioning as async methods should.

[2020-08-25 17:33] xxEoD2242 commented on #2971
How I usually do this is to simply call `.join()` on the last called drone, to ensure that my drones have flown the proper position before executing the next step.

[2020-08-25 18:08] amaalo2 opened #2972 "Using moveToPositionAsync has oscillations about the X axis when flying straight and level for higher altitudes"
Using the following python code, I observe X oscillation when flying straight and level at higher altitudes.
When I set h = -2, I do not observe oscillations, but when I set h = -10, I observe oscillations about the X axis in the block environment.

`def connect(vehicle_name):`
    `client = airsim.MultirotorClient()`
    `client.simPause(True)`
    `client.confirmConnection()`
    `client.enableA

[2020-08-25 18:09] Josepharol opened #2973 "How to control one car1 with steering and have another car2 move in a definite path"
Question : I am using the blocks environment. I already have a car1 like the in built one where I can access it using the [G920](https://microsoft.github.io/AirSim/steering_wheel_installation/) Steering wheel. Now, I would like to add another car2 in the blocks environment. Adding another car2 by making changes from [this](https://microsoft.github.io/AirSim/multi_vehicle/) works. But the steering

[2020-08-25 18:19] amaalo2 commented on #2971
Thank you for confirming this.

[2020-08-25 18:19] #2971 closed

[2020-08-25 20:09] amaalo2 opened #2974 "Unable to control multiple drones on independent schedules"
I would like to have one drone going about its own independent path (say it is making a vertical oscillation) and the other drone to move using an obstacle avoidance strategy. What I am seeing, is that currently the architecture can handle two drones at the same time but only when their movements are synched together.

For example,say I have two drones moving at the same velocity. drone_vertical w

[2020-08-25 20:14] amaalo2 commented on #2971
@xxEoD2242  can you also take a look at https://github.com/microsoft/AirSim/issues/2974 ?

[2020-08-25 21:44] xxEoD2242 commented on #2974
Hey @amaalo2,

Let me make sure I understand what you want. You want for drone 1 to fly up and around, performing a loiter while another drone moves on the x-axis and does some sort of maneuver, right?

If this is the case, then what you can do is just never call join on any of the movement commands. For example, this is a method that I use for moving drones on different coordinates, when doing dr

[2020-08-25 22:45] HemaZ commented on #2916
Thank You. im defiintely giving it a try

[2020-08-26 01:17] petergerten commented on #2889
I am still struggling with this. Basically with latest airsim and UE 4.25.3  I can only get 'Blocks' to work. All other custom environments result in the error above.

@saihv  If you remember what caused the error for you - that could be very helpful :-)

[2020-08-26 03:29] rajat2004 commented on #2969
You're looking for Subwindows, they can be activated by pressing 1,2,3
For changing the camera views, see https://microsoft.github.io/AirSim/settings/#subwindows

[2020-08-26 06:42] rajat2004 commented on #2955
@AOS55 AirLib is actually not compiling for me, getting some undeclared identifier errors for the function declarations which have been commented out. Here's a Travis build - https://travis-ci.com/github/rajat2004/AirSim/builds/181419292, even the Windows build fails.
Did some files not get committed when commenting out the API methods?

Would also recommend activating Travis on your Github reposi

[2020-08-26 08:23] GimpelZhang commented on #2970
Obviously you need to import the VelCmd type into your python code.

I guess what you are trying to do is to translate the subscribed /cmd_vel command to VelCmd, and then to publish it. Then you need to publish a message in VelCmd type.

Here is a script I wrote aiming to do something else, but I hope it can help a little to your problem: [send VelCmd command from keyboard](https://github.com/Gimp

[2020-08-26 08:27] AOS55 commented on #2955
@rajat2004 hmm ok, this is interesting could you please send me the identifier errors you are getting I will cross-check them on my local machine, I just ran update_to_git.bat and had no further changes and I also ran update_from_git.bat in Blocks and it still compiles ok on my end. A couple of thoughts:
- Are you using UE4.25.3 or UE4.24.3? I have been using 4.25.3 I don't know if this would effe

[2020-08-26 08:28] lucafei opened #2976 "computer vision mode can not work in custom ureal engine environment"
hello, guys, i have recently created a custom unreal environment according to the airsim tutorial, after successful creation i tried to use computer vision mode to capture image, but it turned out computer vision mode not supported when i runed the own created unreal environment. Do you know how to fix this or have some advices? Thank you in advance.

[2020-08-26 09:09] rajat2004 commented on #2955
Very strange that it works on your machine, these are the errors I'm getting -
[code]

AirLib compilation doesn't depend on UE, Travis also doesn't have UE, it just tests whether AirLib, ROS wrapper compiles, and there's the recently added Azure Pipelines CI which compiles the entire Blocks project on Ubuntu and Windows and packages it.

Yup, I'm rebuilding from the root directory, `./clean.sh & .

[2020-08-26 09:31] tallatmahmood98 commented on #2835
I am having the same issue. length of the image is 1, the height of the image 0, the width of image 0.

[2020-08-26 09:33] AOS55 commented on #2955
Ok yeah, I was just looking at the code on my machine and I have those if statements at the lines the compiler called out still there, given I commented them out in the header file I would have expected an undeclared header error. I have commented them out now in the [CPP file](https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/src/vehicles/fixedwing/api/FixedWingApiBase.cpp#L514). Still wait

[2020-08-26 09:49] AOS55 commented on #2955
Got some further travis build errors in [FixedWingRpcLibServer.cpp](https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/src/vehicles/fixedwing/api/FixedWingRpcLibServer.cpp) commented out the moveByManual Function.

[2020-08-26 11:55] clintlombard commented on #2976
I can confirm that Computer Vision mode does work in custom unreal engine environments. I've tested this with UE 4.24.3 and 4.25.3. It might be something in your setup/build of AirSim, please elaborate on those?

[2020-08-26 12:05] clintlombard opened #2977 "Incorrect FOV in simGetCameraInfo call"
Using the Python API, changing the `FOV_Degrees` field in `settings.json` or using `simSetCameraFov()` to set a cameras FOV works. However, when querying the camera information with `simGetCameraInfo()`, it always returns a `CameraInfo.fov = 90`. Could this be incorrectly reporting the vertical FOV, or is it not being updated with the new horizontal FOV changes?

Python: 3.6.9
AirSim Plugin: commi

[2020-08-26 12:33] p3jawors commented on #2969
Wow was I ever overcomplicating it haha. Thanks for the quick response.

[2020-08-26 12:33] #2969 closed

[2020-08-26 13:14] VC86 commented on #2977
I confirm the issue on
Python 3.6
AirSim built on Windows from latest master commit: bd8ee6be4183c28d402e4c34cce114312da46358
UE: 4.24.3
OS: Windows 10

[2020-08-26 14:15] nmuchaxo commented on #2970
Thanks a lot for replying and giving me an example.

I gave it an initial look and saw the import "from airsim_ros_pkgs.msg import VelCmd" which I had already tried yesterday but I got this message when I try to run the script "ImportError: No module named airsim_ros_pkgs.msg".
Am I missing something else?

[2020-08-26 16:13] GeneLYJ commented on #2974
Hi, I came across this thread while having this question. I have tried using `time.sleep()` instead of `.join()` in each iteration in a loop for multiple drones. When the 1st iteration calls Drone_1 to fly a particular position and delay for a second, move to the 2nd iteration, Drone_1 will stop moving and Drone_2 will begin to move. This goes the same for consecutive iterations.

[2020-08-26 16:24] xxEoD2242 commented on #2974
Can you post your code and settings.json file, please?

[2020-08-26 16:32] nightduck commented on #1345
Picking this up. The tag is [here](https://github.com/microsoft/AirSim/releases/tag/v1.2.0Linux). I was able to unzip them with 7zip, but upon running CityEnviron.sh, I get: error while loading shared libraries: libopenvr_api.so: cannot open shared object file: No such file or directory.

Some of the other environments have an "Engine" folder with them which contains this file, but borrowing their

[2020-08-26 17:17] rajat2004 commented on #2955
@AOS55 this was a problem with the CMake config in ROS wrapper, I've opened #2978 which fixes this. The reason's described there, and as to why it was missed, looks like not many people have named the folder something other than `AirSim` :)

[2020-08-26 17:23] GeneLYJ commented on #2974
Here's my settings.json file
`{
  "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
  "SettingsVersion": 1.2,
    "ClockSpeed": 1,
  "SimMode": "Multirotor",
  "ViewMode": "Manual",
    "Vehicles": {

        "Drone1": {
            "VehicleType": "SimpleFlight",
            "X": 0, "Y": 0, "Z": -1,
            "Yaw": 90
        },
        "Drone2": {
            "Ve

[2020-08-26 17:34] amaalo2 commented on #2974
@xxEoD2242 , I tried your first solution and I am still having trouble getting the drone to work asynchronously.
I cannot get the `moveToPositionAsync` API to work unless I have a `.join()` command. Otherwise, what I see on my terminal is that the script has rushed through the commands and on the simulation no drone movement has been observed.

What I want to do is even simpler.
I want drone 1 to

[2020-08-26 17:58] nightduck commented on #1567
What is this engine.zip everyone is speaking of? I'm getting library errors running [CityEnviron from 1.2](https://github.com/Microsoft/AirSim/releases/tag/v1.2.0Linux). It complains about a missing libopenvr_api.so file. I see other environments with an Engine folder that has that library, but if I borrow their copy and add it to LD path, I get the signal 11 segfault that OP mentioned.

@ironclow

[2020-08-26 18:00] xxEoD2242 commented on #2974
So, the only difference that I see between how you do this and how I do this is that you call a new client, `client = airsim.MultirotorClient()` for each drone. Then when you want to move the drones, you call an additional client. I'm not super familiar with how the client works in AirSim, but I would suggest defining one client at the very top, and then pass in the memory address (the variable) i

[2020-08-26 18:09] rajat2004 commented on #2889
@petergerten I haven't tried packaging with 4.25 so can't say for sure, but if they aren't already, maybe try disabling the VR plugins like being done in [Blocks.uproject](https://github.com/microsoft/AirSim/blob/master/Unreal/Environments/Blocks/Blocks.uproject)

[2020-08-26 18:31] AOS55 commented on #2955
Thanks, yep, I should have left it as was, good inadvertent check though. Made equivalent commit to FixedWing branch.

I met with my PhD supervisor earlier and we had a couple of thoughts on what we need to continue developing Fixed Wing Airsim, let me know what you think should be our priorities over the next week and what we have missed:
- Have a runnable fixedwing model in AirSim, I have added

[2020-08-26 18:42] amaalo2 commented on #2974
So I did put the `client = airsim.MultirotorClient()` into my `connect(client, vehicle_name)` method, deleted the `client` on line 32 and I still have the same issue.

I also tried to run the simulation without the `.join()` and using `time.sleep()` but the problem is `time.sleep()` imposes a global sleep and not local to each drone. I renamed lines 33 to `waypoints_drone2` and 34 to `waypoints_dr

[2020-08-26 18:43] rajat2004 commented on #2955
Nice! I'll try out the latest commits and have a look at the asset, but I don't have much experience with building models, etc so probably won't be of much help here.
Will test the settings issue too.

I'm not sure how the multirotor model was tested and validated, the maintainers would have a better idea since they wrote this :)
There are many very experienced people in the ArduPilot community wh

[2020-08-26 19:04] rajat2004 commented on #2955
Ok, so for the settings, I think there should be a new SimMode added for Plane, so the options would become like `Multirotor`, `Car`, `ComputerVision` & the new `FixedWing` (or something). This will require changes in a few places, maybe keep following places where `"Multirotor"` or others are used to compare the SimMode name, this commit can also be helpful - https://github.com/microsoft/AirSim/p

[2020-08-26 20:19] #1799 closed

[2020-08-26 20:19] #2951 closed

[2020-08-26 20:23] jonyMarino commented on #2677
closed due to incompleteness. Please feel free to open a new issue with the requested information

[2020-08-26 20:23] #2677 closed

[2020-08-26 20:25] nightduck commented on #790
simListSceneObjects only lists stationary objects. The moving cars and pedestrians in the CityEnviron environment aren't included. Presumably they're managed by the CityEnv_PedManager_26 and CityEnviron_NPCVehicleManager objects, but Airsim's API will only let you access stationary cars, and none of the pedestrians.

[2020-08-26 20:46] jonyMarino commented on #2322
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-26 20:46] #2322 closed

[2020-08-26 22:21] DanielGilo opened #2979 "Recording external camera frames"
Hi, I know this was discussed recently on #2580 but the suggested solution  - pixel streaming - is not what I'm looking for. I don't need to stream anything to any device or network or browser. I simply want to capture frames of what I'm seeing at the editor from the external camera - the drone flying from third person perspective. Just like capturing scene images from regular front facing camera.

[2020-08-27 00:33] GimpelZhang commented on #2970
That's probably because you also need to do some work on the package.xml and CMakeLists.txt files in your ros packages, to make the customer defined message type VelCmd work in your project.

Maybe you can take a look at my package and CMakeList files in both airsim_ros_pkgs and airsim_car_teleop folders.

[2020-08-27 00:54] petergerten commented on #2889
@rajat2004 thank you so much - this fixed it. I never though about this as the plugins were not mentioned in my project files. But explicitly deactivating them made the difference :)

[2020-08-27 00:54] #2889 closed

[2020-08-27 05:02] GimpelZhang opened #2980 "Problem using depth images to create point cloud"
Hi all,

As mentioned in the document of AirSim [Image APIs - AirSim](https://microsoft.github.io/AirSim/image_apis/#available_cameras):

`For example, you may be able to feed perspective depth to ROS package such as depth_image_proc to generate a point cloud`

we can use depth images from AirSim to generate XYZ point cloud, or even XYZRGB point cloud.

However, when I fed depth image & related ca

[2020-08-27 05:19] rajat2004 opened #2981 "Dual Monitor setup gets picked up as RC input on Linux"
This has been reported a couple of times, so thought it's best to open an issue for visibility

Problem: If 2 monitors are connected, then for some reason an RC is detected and consumed, even though an actual RC is not present, and produces invalid RC values. This has been reported only on Linux. An example -

![image](https://user-images.githubusercontent.com/37938604/91386840-8cc5f500-e851-11ea-

[2020-08-27 08:46] hipforth commented on #1821
hello, Did you solve this problem？

[2020-08-27 09:10] dimaxano commented on #2981
I experienced this issue with dual monitor setup (laptop + external one).
I also tested with RC connected and set in `settings.json` (with dual monitor setup), it works fine. But without RC connected and not mentioning RC config in `settings.json` AirSim sends values like in the screenshot above.

[2020-08-27 11:11] petergerten commented on #2240
Hopefully the work here https://github.com/microsoft/AirSim/issues/2955 can be helpful for VTOL as well.

[2020-08-27 13:50] iwishiwasaneagle opened #2982 "Problem building AirSim on Arch with anaconda"
Very similar to #2708, however the steps outlined there still result in errors. For example `export CXX="clang++-8" only works if you also run `sudo ln -sf /opt/anaconda3/envs/airsim/bin/clang-8 /opt/anaconda3/envs/airsim/bin/clang++-8`. However, the `./build.sh` runs smoothly until the following error is raised:
[code]

## System
 - `uname -a` -> `Linux jhdesktop 5.7.15-1-MANJARO #1 SMP PREEMPT T

[2020-08-27 14:05] iwishiwasaneagle commented on #2982
Relevant files:

[`./build.sh 2>&1 | tee build.log`](https://github.com/microsoft/AirSim/files/5136833/build.log)

[build.sh](https://github.com/microsoft/AirSim/files/5136835/build.txt)

[setup.sh](https://github.com/microsoft/AirSim/files/5136836/setup.txt)

[2020-08-27 14:18] GimpelZhang commented on #2980
I found in the ROS wrapper, camera_info topics are getting the current ros time as header stamp, while image topics are using the time from ImageResponse.

After I made them the same, point cloud occurred as expected.

[2020-08-27 15:04] nmuchaxo commented on #2970
I did look at your CMake, xml and setup files and they seem to be equal to mine. However I still get the "ImportError: No module named msg" error...

[2020-08-27 15:35] rajat2004 commented on #2982
Strange, linker errors are always painful
Maybe try downloading `clang-8` binaries from https://releases.llvm.org/download.html and using those?

[2020-08-27 15:52] burakkavzoglu opened #2984 "UE4 crashing while stopping training"
Hi guys!

I want to ask you a question about crashing Unreal Engine while training DQN module or any constant periodic API call.

Example scenario: After starting training on Airsim (training module sends API call such as sensor data, car state and car controls,  user pushes the stop button of UE4 and UE4 crashes

How do I prevent UE4 from crashing by pushing stop button when I send API call perio

[2020-08-27 15:58] jonyMarino commented on #2337
Closed due to age and incompleteness (include setting.json).
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicabl

[2020-08-27 15:58] #2337 closed

[2020-08-27 16:09] jonyMarino commented on #2343
Not happening on latest version. Please refer version and platform.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if ap

[2020-08-27 16:09] #2343 closed

[2020-08-27 16:17] iwishiwasaneagle commented on #2982
Hi there, it surely can't be the fact that I'm using clang and clang++ because the binaries from your link (for clang and clang++) are identical. See the screenshot below:
![image](https://user-images.githubusercontent.com/12383029/91467951-34124e80-e889-11ea-98e5-79b213d24c91.png)

[2020-08-27 16:37] rajat2004 commented on #2982
Yup, you're correct, `clang++` is actually a symlink to `clang`, and the difference lies in the fact that invoking it by `clang++` tells it to link against C++ libraries. Just checked on my system as well.
Still, maybe try using the downloaded binaries and see if it works

[2020-08-27 17:08] iwishiwasaneagle commented on #2982
So I tried the binaries, and a million other methods. In the end using g++ instead of clang++ has made it work for now...

[2020-08-27 17:25] rajat2004 commented on #2982
That's definitely strange, building with GCC was dropped since it was broken and didn't work, the Blocks env is up and running?

[2020-08-27 17:40] jonyMarino commented on #2543
Closed due to incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-27 17:40] #2543 closed

[2020-08-27 17:53] amaalo2 commented on #2974
So after more experimentation, I was able to find a workaround, but I would still like to keep the git issue open.
The idea was to split the code for drone1 and drone2 into two scripts, and have two terminals running each script separately. In that way the drones were able to run on separate threads and have each process run independently as required.

Here is the code I used

Drone1 :

`import se

[2020-08-27 17:56] iwishiwasaneagle commented on #2982
Sadly not... Blocks and AirSim are supposedly not compatible with UE4.

[2020-08-27 18:20] xxEoD2242 commented on #2974
What version of AirSim are you running?

[2020-08-27 18:22] amaalo2 commented on #2974
According to my `settings.json` I am using version `1.2`

[2020-08-27 18:44] jonyMarino commented on #2611
Closed due to incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-27 18:44] #2611 closed

[2020-08-27 18:48] jonyMarino commented on #2615
treated in #2349

[2020-08-27 18:48] #2615 closed

[2020-08-27 18:55] jonyMarino commented on #2654
Closed due to incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-27 18:55] #2654 closed

[2020-08-27 18:59] jonyMarino commented on #2660
Have you read thid doc: https://microsoft.github.io/AirSim/remote_control/#RC_Setup_for_PX4 ?
Do you need to enable the rc on runtime?

[2020-08-27 19:02] jonyMarino commented on #2671
May be the same as #2660 ?

[2020-08-27 19:13] jonyMarino opened #2985 "control variables/functions via rc switches"
I'd like to control functions or variables with my controller (taranis qx7, same firmware as x9d) - e.g. if i turn a switch on, a function is called or a boolean variable will become true

[2020-08-27 19:15] jonyMarino commented on #2704
For your second question I created #2985 so we can treat them separately

[2020-08-27 19:24] jonyMarino commented on #2758
Treated in #784

[2020-08-27 19:24] #2758 closed

[2020-08-27 19:30] jonyMarino commented on #2776
Hi. The DQN script has some issues, wait for an update. It is possible to run on azure. If you need graphical output you would need a NV

[2020-08-27 19:32] jonyMarino commented on #2778
treated in #2776

[2020-08-27 19:32] #2778 closed

[2020-08-27 20:13] jonyMarino commented on #2896
Airsim runs as a UE plugin, so anything you can do with UE you can do it with AirSim

[2020-08-27 23:04] lovettchris commented on #2647
Note that there are 2 PX4 messages you should be looking for:
[code]
The first one does not mean it is ready to fly.  The second one means AirSIm can fly, and in AirSim you should see an additional message saying "Got a home GPS location".  AirSim cannot fly until this happens.  Sometimes this second message takes a while depending on PX4.  You can also try setting the following using the PX4 cons

[2020-08-27 23:48] bwassim commented on #2405
The issue still presist.
I am on the branch v1.3.1-linux for AirSim / Ubuntu 18.04. Without even launching px4, just the fact doing a Play and then Stop, freezes the Unreal Editor in either block or LandscapeMountain environment.
if we launch the "make px4_sitl_default none_iris" and then the simulation, the fact of using "shutdown" command in terminal will generate the following error you see on

[2020-08-28 01:18] GimpelZhang commented on #2970
As you probably have already noticed, that the following blocks of code are mainly about this issue:

from /airsim_ros_pkgs/CMakeLists.txt:

[code]
and
[code]
These make sure that the customer msg works in the project. More details: [Creating a ROS msg and srv](http://wiki.ros.org/ROS/Tutorials/CreatingMsgAndSrv#Creating_a_msg)

from /airsim_car_teleop/package.xml:
[code]
This part ensures that yo

[2020-08-28 01:21] lovettchris commented on #2405
the name "hil" is not an issue, it is just the internal name we use on the connection object, it is the same name regardless of whether you are using HITL or SITL.  I can't seem to get any hangs on windows clicking play/stop over and over, but I'll review the code more closely and see if I can find anything.  Have you been able to debug where it is hanging exactly (stack trace?)

[2020-08-28 02:28] GimpelZhang commented on #2163
I made a temporary fix on this issue: [master branch](https://github.com/GimpelZhang/AirSim)

So now in my situation, in Car SimMode smaller than 1.0 ClockSpeed does provide "more dense" timestamps.

But I'm not sure if there is any side effects on other using conditions.

[2020-08-28 04:36] DamianRivas opened #2987 "Neighborhood Sim Minimizes Off-Focus"
OS: Ubuntu 20.04
Release: Neighborhood v1.3.1

To reproduce the issue:
1. Run the neighborhoods.sh sim
2. Click on another window to go out of focus
3. The simulation "minimizes" or hides from view.

I am running the Neighborhood Simulation on a multi-monitor setup and I can't work on anything and view the simulation at the same time because the window minimizes every time it goes off focus. Is th

[2020-08-28 14:17] ibrahim0v opened #2988 "using simEnableWeather(True) causes crash"
I am a customly packaged AirSim binary for Blocks environment.

My versions are as follows:
AirSim : 1.3.1 Linux release
UE4    : 4.24
OS      : Ubuntu 18.04 LTS

Previously it would not open weather config menu when I press F10. So today I tried to use enable weather effects using the Weather Python API. But as soon as I reach the line where I implement simEnableWeather(True), AirSim crashes with

[2020-08-28 15:49] jonyMarino commented on #1556
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-28 15:49] #1556 closed

[2020-08-28 15:50] jonyMarino commented on #1619
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-28 15:50] #1619 closed

[2020-08-28 16:06] #2643 closed

[2020-08-28 16:28] nmuchaxo commented on #2970
Ok, now I got it to work, kinda! Ended up cleaning the build and devel. The communication is correct and when I do "rostopic echo /airsim_node/drone_1/vel_cmd_world_frame" its getting the data correctly, however when I click "play" the drone falls to the ground, it gives a warning that the collision happened and it won't move from there.
Do you have any idea why that happens? or why doens't the dr

[2020-08-28 16:29] jonyMarino commented on #1267
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-28 16:29] #1267 closed

[2020-08-28 16:59] jonyMarino commented on #2308
Closed due to age and incompleteness

[2020-08-28 16:59] #2308 closed

[2020-08-28 17:04] #2484 closed

[2020-08-28 17:15] #254 closed

[2020-08-28 17:33] r2d2Proton opened #2989 "Are new features and refactoring being accepted?"
Forgive me, there appears to be some pull requests that have been sitting out there for a bit. I haven't looked at all the details but some pull requests looked trivial but not incorporated into the main branch (I believe).

Ideally, if I take the time to make and test changes I would like them to be considered for inclusion in a timely fashion.

Specific changes to the UnrealEngine side I recomme

[2020-08-28 18:03] rajat2004 commented on #2955
@AOS55 Just tried out the latest commits, the fixedwing model looks awesome :heart_eyes:
For someone following, use UE 4.25, that's the version the assets are saved with. Some pics -
![Screenshot from 2020-08-28 23-21-05](https://user-images.githubusercontent.com/37938604/91601163-c9dfd380-e986-11ea-8d41-eaa30d57e0e9.png)
![Screenshot from 2020-08-28 23-22-13](https://user-images.githubusercontent

[2020-08-28 18:24] jonyMarino commented on #2362
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-28 18:24] #2362 closed

[2020-08-28 18:32] jonyMarino commented on #2573
This is a PX4 issue, not an airsim issue

[2020-08-28 18:32] #2573 closed

[2020-08-28 18:41] #169 closed

[2020-08-29 08:04] sandyUni opened #2990 "One environment, multiple kinds of vehicles."
I am reading the source code of  Airsim to add relative ranging sensor ([link](https://github.com/sandyUni/AirSim)).  After reading the official manual, I thought Airsim supports multiple vehicles well. However, as I dive into the source code and the mechanism of supporting multiple vehicles of Airsim, I found it does not have a game mode that can make the car and quadrotor coexisted.

Since UE4 h

[2020-08-29 09:24] GimpelZhang commented on #2970
The collision warning occurred because the drone hit the ground.

I'm not quite familiar about the Multirotor SimMode since I have been working on the Car SimMode mainly.

But for my knowledge it seems that after you click "play", perhaps you should use the "take off" rosservice first to somehow "activate" the drone.

[2020-08-29 10:29] ash-xyz commented on #2989
This! I want to spend some time updating the repo for ROS 2, building upon @rajat2004 Ubuntu 20.04 Noetic pull requests. However, my pull could very well be ignored if this is a dead repo and I'd hate to see this repo gone.

[2020-08-29 11:23] xxEoD2242 commented on #2989
I'm not one of the maintainers of this, but they just released a ton of updates in July and a major new release in April. Since Mircosoft is the one who pays the people to work on this, I imagine they are busy with other projects. But, this is actively updated on a near regular basis.

[2020-08-29 14:36] GeneLYJ commented on #2974
If you were to run 20 drones then you have to run 20 scripts. That would be a pretty tedious.

[2020-08-29 15:45] amaalo2 commented on #2974
Exactly, that is why I called my solution above a workaround, and I keep the git issue open.

[2020-08-29 16:23] rajat2004 commented on #2989
I definitely wouldn't say that this is a dead repo, several features are being discussed and worked upon by users, and maintainers also triaging issues.
Just adding to @xxEoD2242's comment, it can take some time for the PRs being merged, I've generally seen that many things get merged quickly in a short span of time, about every 1-1/2 months maybe.  Can't say for sure when the PRs will get merged

[2020-08-29 16:30] rajat2004 commented on #2987
Not exactly sure what's happening, maybe a quirk of multi-monitor? If you are running the binary with the `-windowed` argument, maybe try without it.
Is something like below what you're looking for?
![Screenshot from 2020-08-29 21-59-29](https://user-images.githubusercontent.com/37938604/91641565-e4778280-ea42-11ea-8c25-2643370b2e51.png)

[2020-08-29 16:54] rajat2004 commented on #2988
So I did have a go at this, it's turning out to be a very tricky bug

First, the crash which happens when [`weather.py`](https://github.com/microsoft/AirSim/blob/master/PythonClient/computer_vision/weather.py) is used with the current latest binary-
[code]

Okay, quite straightforward error message, need to run in GameThread. Interesting note, this doesn't happen in the Editor, I even tried callin

[2020-08-29 16:56] AOS55 commented on #2955
I have aimed to add the fixedwing class to the [AirSimSettings.hpp](https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/include/common/AirSimSettings.hpp) file. `arduplane` should be set as the default FixedWing variable, referenced to `static constexpr char const * kVehicleTypeArduPlane = "arduplane"`. [This commit](https://github.com/AOS55/AirSim-1/commit/693b25e758c57f31fa5b15e3ef61c772df2f

[2020-08-29 17:46] xxEoD2242 commented on #2974
Here is my code, you're welcome to run it using AirSim. I tested it out to make sure I wasn't seeing the same issues.

[code]

Settings.json

[code]

I didn't catch this before but I think I understand what you are saying and this may or may not resolve your issue. I didn't realize that you were still using the `.join()` command. I had similar issues as well when using that command and if you real

[2020-08-29 18:11] rajat2004 commented on #2955
Opened https://github.com/AOS55/AirSim-1/pull/5 which fixes a compilation error and the pawn path aka Invalid Key error
After this the ArduPilot Plane backend start working!
[code]

However I'm seeing some problems with the assets, need to look into them-
[code]

[2020-08-29 18:40] rajat2004 commented on #2982
Just noticed that the issue was reopened
Are you trying to use OpenGL with the source-built UE? In that case, it needs to be uncommented in some UE file, and then engine needs to be rebuilt
Try running the binaries also to make sure there are no driver problems

If the clang problem still isn't fixed, you could try building clang, libcxx from source and use that. AirSim earlier used that, clang-5

[2020-08-29 20:39] AOS55 commented on #2955
Thanks a lot, merged the commit back onto fixedwing branch.
I see the asset problems, and it now proceeds directly to the breakpoint, Ill start looking into what is not there.
Did you get the ArduPilot Plane backend output from the Visual Studio command line output?
Yes I agree reducing the PawnPath names to the same structure as teh vehicle types would make life simpler.

[2020-08-29 20:44] rajat2004 commented on #2955
I'm on Linux :) So all the output comes on the terminal itself from where UE is launched, makes life simpler.
But more painful for debugging, VS is better for that. Otuptu should be possible from there, but not sure.

Asset problems a PITA, was poking around with some Weather problems today

[2020-08-29 20:49] AOS55 commented on #2955
Uh ok nice will probably switch back to linux at some point. That makes sense Ill take a closer look what was your `settings.json` file set as that might be it? I have this:
{
   "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
   "SettingsVersion": 1.2,
   "SimMode": "FixedWing"
}

Haha, ok sure that sounds like fun.

[2020-08-29 20:56] rajat2004 commented on #2955
Yeah sorry, my `settings.json` -
[code]

Wouldn't call fun, ran my system at full throttle though, packaging multiple times does that. Issue #2988 if interested
I progressed (more aptly regressed) from crashing binary to when API called, then when pressing Play and finally starting up itself plus compilation, in an infinite loop

[2020-08-29 21:01] rajat2004 commented on #2955
Also, just remembered this, you'll want to use `SteppableClock` for AP, so need to add the simmode here - https://github.com/microsoft/AirSim/blob/master/AirLib/include/common/AirSimSettings.hpp#L1116
Not sure about PX4, but AP definitely would like SteppableClock

[2020-08-29 21:10] AOS55 commented on #2955
Great thanks, just ran with that `settings.json` and got the same in the VS output.

Yes Im sure Ill take a look, and likewise the BLUEPRINTS are also new to me. It looks very frustrating Ill feedback if I can think of anything while debugging the FixedWing blueprints.

I was thinking about that today actually, yeah its certainly going to be needed at some point. Cool Ill add kVehicleTypePX4Plane

[2020-08-30 09:59] AOS55 commented on #2955
Ive made some more progress with the errors and `ArduPilot/ArduPlane`. I renamed and updated the aircraft mesh within ardupilot on the fixedwing side this resolved most of the can't find file errors discussed earlier. I still have some of the earlier weather can't find errors described above as a current issue.

The following is the final outpu with ErrorNo: 10040, an error in red.
[code]

[2020-08-30 11:09] rajat2004 commented on #2955
Awesome, thanks for the asset fix! Will try out the new commits and the AP branch soon.
From a brief search, the error code 10040 seems to indicate that the packet sizes are not matching. The packet sent by AP is defined here - https://github.com/ArduPilot/ardupilot/compare/master...AOS55:FixedWing#diff-ce0d1595ca9423d29853943664d2a43aR70 and has an extra `tla` field which is not defined on the Ai

[2020-08-30 18:05] AOS55 commented on #2955
Cool that was actually it commented out that line and then the asset loaded into unreal, see image below. I have set the axis slightly wrong on the static mesh so the front is currently the side, think I need to move the camera back a bit as the defaultUAV model is much larger than the default quadcopter.

Im going to start analyzing the physics model and I will add in some sensible parameters for

[2020-08-30 18:48] AOS55 commented on #2955
Just realised that the skywalker x8 is a blended wing body design and doesn't have seperate aileron elevator and rudder controls. I might implement the aircraft dynamics as described for now and artificially add in control surfaces just to see how it performs.
There are other models I might take a look at there is a nice collection in [Heffely and Jewell](https://strives-uploads-prod.s3.us-gov-wes

[2020-08-30 21:00] samuelctabor commented on #2955
An option you might want to consider would be using the same coefficients as the ArduPilot built-in fixed-wing simulator coefficients defined here https://github.com/ArduPilot/ardupilot/blob/master/libraries/SITL/SIM_Plane.h

This would have the advantage that the ArduPlane tuning would be correct from the start, and if it flies well using these that would be basic validation of physics implementa

[2020-08-30 21:03] AOS55 commented on #2955
Cool thanks  a lot, didn't realised that existed I will just use that makes life much easier. Ill set that up as the genericAircraft on the airsim side too.

[2020-08-30 22:23] JacopoPan opened #2991 "Tutorials and Walkthrough"
I tried tor write a couple _extremely_ simple, self-contained tutorials on

- [Using AirSim's APIs / Compiling UE4 and AirSim](https://github.com/JacopoPan/a-minimalist-guide/blob/master/Part3-Using-AirSim.md)
- [Modifying/recompiling AirSim's Unreal plugin and using custom UE4 projects and meshes](https://github.com/JacopoPan/a-minimalist-guide/blob/master/Part4-Modifying-AirSim.md)

If anyone wa

[2020-08-31 07:38] qiujiangkun commented on #1567
I compiled the version from source code and have the same problem, too.
I cannot run `./UnrealVersionSelector-Linux-Shipping`, with or without `-opengl4` option. But I can run UE4Editor without crashing.
[code]

[code]

[2020-08-31 10:27] AOS55 commented on #2955
I've added the fixedwing aircraft from [SIM_Plane.h](https://github.com/ArduPilot/ardupilot/blob/master/libraries/SITL/SIM_Plane.h) along with the model from the Skywalker X8 paper. Im going to start looking at running some tests today and using ardupilot in some more detail.

[2020-08-31 13:10] nightduck commented on #1567
Are you talking about the City environment? Or the unreal engine itself? Code is not available for the former

[2020-08-31 14:36] nmuchaxo commented on #2970
I didn't connect the drone to the API and I think I hadn't some things installed (related to AirSim) that were necessary in order for this to work.
Thanks a lot for your help!

[2020-08-31 15:49] qiujiangkun commented on #1567
Oh I mean the engine itself. Others may mean City environment

[2020-08-31 16:28] jonyMarino commented on #2991
@JacopoPan excellent initiative! We are very interested in these types of contributions. I will be looking at it and coming back to you soon.

[2020-08-31 17:02] nmuchaxo opened #2992 ""api call was not received entering hover mode for safety""
Hello, I'm new to AirSim and I'm trying to use it with the ROS Wrapper.
I did a script where I subscribe to /cmd_vel and publish the info on /airsim_node/drone_1/vel_cmd_body_frame.

Now, here is the isssue: When I start AirSim, I click "Play" and I run a script for the drone to take off. It takes off ("request ApiControl was successful" and "Vehicle is already armed" messages pop up) and then I g

[2020-09-01 10:24] TomAvrech opened #2994 "Bug: Plotting lines\points on ceilings doesn't work"
I'm doing ray-tracing (using the depth images), and trying to paint the collision points.
This works fine for surfaces that are not being looked at from below.
I think (not sure) it paints the other (upper) side of the ceiling, and therefore it's not visible.
A bad solution for this, for each pixel in the depth image, reduce the number (=distance).
How can this be solved ?
Thanks.
<img width="503"

[2020-09-01 10:44] AOS55 commented on #2955
Does anyone know how to change the initialization altitude in the blocks environment. I have tried initializing the aircraft with the following JSON but it keeps starting the aircraft on the ground:
[code]

I thought this would start at 800m above the ground but is still starting on the floor.

[2020-09-01 10:46] rajat2004 commented on #2955
`OriginGeopoint` goes outside the `Vehicles` section, along with `SimMode`, `SettingsVersion`

[2020-09-01 11:02] AOS55 commented on #2955
Great thanks, it now looks sort of like it is dropping in but immediately ends on the floor, do you set the fps from the settings.json as the mavlink console says `FPS avg=333.33` Im wondering if its running so fast that you cant see it descending. Or do you know of a method to get a log from ardupilot or airsim

[2020-09-01 11:18] rajat2004 commented on #2955
The 333.33 Hz FPS is the physics rate, not the visual one. FastPhysicsEngine runs at that fixed rate, cna be slowed using `ClockSpeed`. I'm not sure what you mean by dropping immediately, the Alt reported by Mavproxy windows goes to 0? A screen capture would be nice, will try it out soon.
AP stores logs in a folder called `logs`, in the current directory

[2020-09-01 11:31] AOS55 commented on #2955
Ok that makes sense, yes sorry should have been clearer as the object renders into unreal it looks like the tail comes down and then it lies flat on the ground but that could just be it initializing. I have a screen grab here, great thanks.

I can't see the logs folder is it in the ardupilot directory or the airsim directory, I see `mav.tlog` but that seems to be a binary or is unreadable with `ca

[2020-09-01 11:39] rajat2004 commented on #2955
Okay, I think the logs haven't been created since the vehicle isn't armed, you can set `LOG_DISARMED` to 1, that will generate the logs without arming the vehicle. Also, the logs are binary files, you can explore them using Mision Planner or `Mavexplorer.py`

Probably sensor initialization, I haven't played too much with Plane so not sure

[2020-09-01 12:42] AOS55 commented on #2955
Cool, got that working added `LOG_DISARMED = 1` into [airsim_plane.parm](https://github.com/AOS55/ardupilot/commit/afa212a6a87260a925fae848e70cd0963684f354), it seems to be starting on the ground in a vertical attitude from the logs:
![Graphs](https://user-images.githubusercontent.com/48950456/91852524-e1ee7600-ec58-11ea-8a7d-d0b3bf2aa995.png).

Ok sure.

Im on WSL 1

[2020-09-01 13:03] rajat2004 commented on #2955
You could also uncomment the `#if 0` & `#endif` [here](https://github.com/ArduPilot/ardupilot/blob/master/libraries/SITL/SIM_AirSim.cpp#L311-L364), that'll log the raw data sent by AirSim as well in separate messages. It might be better to discuss about the physics and log analysis with the much more knowledgable folks over at AP's Discord server or the forums.

Hmm, haven't had any problems with

[2020-09-01 14:30] AOS55 commented on #2955
Hmm ok, uncommented them now and removed `'` as this was throwing a warning, thats a good idea Ill send a message in general. I can't seem to see where the ASM1 log message appears

I think it reconnects not sure though this is what typing `messages` into `MAVExplorer.py` gives me:

[code]

[2020-09-01 20:33] #815 closed

[2020-09-01 20:59] #1007 closed

[2020-09-02 07:41] ibrahim0v commented on #2988
@rajat2004 thnx for pointing me out to the right direction mate :) I have solved this issue.

I have realized that unreal engine, due to some reason (maybe because it is a Cpp Add-on on AirSim pluging),cannot reference WeatherFX throughout the project. Therefore it does not cook it or add it in the packaging of the game. However, unreal engine allows adding some unreferenced directories to cooking

[2020-09-02 09:40] rajat2004 commented on #2988
Oh, didn't know about this that's one way of fixing the problem, thanks for the info!
It's still kind of a hack since it requires explicitly adding the directory, but works so that's nice. Would be better to fix this in AirSim itself

[2020-09-02 13:18] thejeshk opened #2997 "How to Connect Linux PC which runs AirSim server with ROS wrapper with WIndows PC (AirSin Client)"
Hello AirSim COmmunity,

I've seen docs/issues talking about running a simulation on Windows and running Python API on a Linux machine.

1. The documentation say that the ROS Wrapper is built on the C++ API provided by the client. That way could I even connect from Windows to ROS on Nvidia Jetson. Or ROS running on VMware(Linux)

Or

2. Just to check, in theory, to connect between the two, I do th

[2020-09-02 14:25] ibrahim0v commented on #2988
Yeah you are right. A fix through AirSim would be great!

I am closing this issue as it has been met.

[2020-09-02 16:24] jonyMarino commented on #2990
duplicate of #506

[2020-09-02 16:34] jonyMarino commented on #1891
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-09-02 16:34] #1891 closed

[2020-09-02 16:46] jonyMarino commented on #1046
related to #675

[2020-09-02 16:52] #1048 closed

[2020-09-02 17:10] jonyMarino commented on #1149
@craig-m-k did you try with latest version?

[2020-09-02 17:26] jonyMarino commented on #1669
#2472

[2020-09-02 17:56] jonyMarino commented on #1177
Closed due to age.
Please feel free to open a new issue (refering this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-09-02 17:56] #1177 closed

[2020-09-02 18:35] #2583 closed

[2020-09-02 18:47] jonyMarino commented on #2911
This became a dup of #2666

[2020-09-02 18:47] #2911 closed

[2020-09-02 18:54] jonyMarino commented on #1668
Treated in #2407

[2020-09-02 18:54] #1668 closed

[2020-09-02 19:21] jonyMarino commented on #2041
treated on #2112

[2020-09-02 19:21] #2041 closed

[2020-09-02 19:29] jonyMarino commented on #1576
related to #1506

[2020-09-02 19:32] #2959 closed

[2020-09-02 19:34] bwassim commented on #2405
I am not exactly sure how to proceed to actually debug, would appreciate some help here. Thanks

[2020-09-02 20:21] jonyMarino commented on #858
Closed due to age and incompleteness.
Please feel free to open a new issue (refering this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

[2020-09-02 20:21] #858 closed

[2020-09-02 23:12] #1766 closed

[2020-09-02 23:12] #2389 closed

[2020-09-02 23:12] #2464 closed

[2020-09-03 00:48] #2686 closed

[2020-09-03 00:48] #2745 closed

[2020-09-03 01:03] #1172 closed

[2020-09-03 01:03] #2838 closed

[2020-09-03 07:23] #2342 closed

[2020-09-03 07:23] #2728 closed

[2020-09-03 07:24] #284 closed

[2020-09-03 12:59] rajat2004 commented on #2955
@AOS55 Just tried out the latest commits, things look okay to me from the logs, noticed that there were some problems with the logs, opened https://github.com/AOS55/ardupilot/pull/1 which enables the logging of Airsim data
Here's a log file with the ASM1, ASM2 messages - https://drive.google.com/file/d/1ZhiCmiXtN6-KAdYzklJlkL6k6HlzI5tN/view?usp=sharing

[2020-09-03 13:19] TomAvrech opened #2999 "Bug: Plotting using simPlotPoints (and simPlotLineList) places the points in wrong positions"
Delete please

[2020-09-03 13:26] TomAvrech commented on #2999
And K_Inv is given:
<img width="629" alt="Annotation 2020-09-03 162612" src="https://user-images.githubusercontent.com/19329110/92120873-426ce700-ee02-11ea-841c-f21c3088fdf6.png">

[2020-09-03 13:41] AOS55 commented on #2955
Great thanks a lot Ive commited that back to master, I also added support for tla in the message packet and a very simple linear physics implementation for this.

Thanks how did you view the log file, was there a specific command in MAVExplorer.py?

[2020-09-03 13:58] rajat2004 commented on #2955
Try `graph ASM1.Alt`, after `.`, it should autocomplete.
MAVExplorer is somewhat strange, if you want, we can discuss about the problem on chat or voice, since it can get messy with logs and all, not particularly well suited on an issue

[2020-09-03 14:00] AOS55 commented on #2955
Cool that sounds good which program do you want to use/ what works best for you?

[2020-09-03 14:10] rajat2004 commented on #2955
Sorry, missed the message, Github didn't show notification
Discord works?

[2020-09-03 14:11] AOS55 commented on #2955
Yeah discord is good

[2020-09-03 14:12] AOS55 commented on #2955
https://discord.gg/xd4PrN

[2020-09-04 01:36] machinil opened #3001 "Bug: Blocks could not be complied on Ubuntu 18.04 with Unreal Engine 4.24.3"
/home/machini/AirSim/Unreal/Environments/Blocks/Plugins/AirSim/Source/WorldSimApi.cpp:116:40: error: no member named 'NameMode' in 'FActorSpawnParameters'
                new_actor_spawn_params.NameMode = FActorSpawnParameters::ESpawnActorNameMode::Required_ReturnNull;
[code]

[2020-09-04 01:40] GimpelZhang commented on #3001
See this: #3000

NameMode is a member from higher version of UE.

[2020-09-04 01:41] saihv commented on #3001
Merged https://github.com/microsoft/AirSim/pull/3000. @machinil Please pull master and try again.

[2020-09-04 02:49] jonyMarino commented on #2367
Closed due to age.
Please feel free to open a new issue (refering this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-09-04 02:49] #2367 closed

[2020-09-04 02:55] jonyMarino commented on #2461
Hi @rajat2004! do you know if it fixed this?

[2020-09-04 03:18] rajat2004 commented on #2461
Not sure, I haven't tested City since then, Will try to test the latest binaries and post, however I think it might be a problem with the environment itself.

[2020-09-04 03:45] #2970 closed

[2020-09-04 04:19] #705 closed

[2020-09-04 04:37] #2131 closed

[2020-09-04 04:39] #2323 closed

[2020-09-04 04:53] jonyMarino commented on #387
Closed due to age and incompleteness.
Please feel free to open a new issue (refering this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

[2020-09-04 04:54] #550 closed

[2020-09-04 05:02] jonyMarino commented on #1898
Closed due to age.
Please feel free to open a new issue (referring this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-09-04 05:02] #1898 closed

[2020-09-04 05:07] #2105 closed

[2020-09-04 05:34] #1659 closed

[2020-09-04 05:40] #1008 closed

[2020-09-04 05:47] #1675 closed

[2020-09-04 06:27] jonyMarino commented on #1402
related to #1290?

[2020-09-04 06:41] #1753 closed

[2020-09-04 06:56] #1150 closed

[2020-09-04 07:07] #808 closed

[2020-09-04 07:10] jonyMarino commented on #285
treated in #2955

[2020-09-04 07:10] #285 closed

[2020-09-04 08:23] OceanYing commented on #987
I have faced exactly the same problem before. Maybe you should open your UE window and click the 'run'  before executing hello_car.py.

[2020-09-04 18:07] AOS55 commented on #2955
Hey Ive been looking at debugging some of the flightphysics problems with the FixedWing class I think I've worked out what is wrong with the implementation but not sure how to fix the implementation. The fixedwing physics files in [AirLib/include/vehicles/fixedwing/](https://github.com/AOS55/AirSim-1/tree/FixedWing/AirLib/include/vehicles/fixedwing) should construct an aircraft as follows:
- Basic

[2020-09-04 18:44] rajat2004 commented on #2955
Not exactly sure what's going on, will need to run and try to understand the flow, but from a first glance,  there are 2 derived classes from `PhysicsBodyVertex`, one is [Airplane.hpp](https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/include/vehicles/fixedwing/Airplane.hpp), and the other's [ControlSurface](https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/include/vehicles/fixedwing/C

[2020-09-05 08:34] AOS55 commented on #2955
Sure, I think thats from where I initially built the [ControlSurface](https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/include/vehicles/fixedwing/ControlSurface.hpp) class based on the [RotorActuator](https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/include/vehicles/multirotor/RotorActuator.hpp) class from Multirotor. Im not sure if ControlSurface should still be a derived class, it

[2020-09-05 13:48] Maxilos opened #3003 "How to expose GeoLocation to blueprint?"
OS: Windows 10;
Airsim version: 1.3.1
UE4 version: 4.24.3
I'd want to be able to expose lat,lon,alt to blueprint, but am not sure, how to get a reference to them in AirBlupprintLib.cpp, would really appreciate if someone would point me in the right direction.

[2020-09-05 15:58] RichardHopkirk opened #3004 "Bug (and suggested fix): SimpleFlight angle rate controller unstable at high pitch or roll"
Hi there.  I've noticed what I think is a bug in the simple flight angle-rate controller.  I've believe I've fixed it locally.  If you agree it's a bug, and if you'd like me to push the fix, I'm happy to open a pull request.  But thought I'd raise the issue first to check as it'll be my first contribution to this project.

Steps to recreate:
* Increase the maximum pitch or roll angle from the defa

[2020-09-05 21:00] radhanathdas commented on #2689
It works for me too. :) Thank you!

[2020-09-06 18:33] ghost opened #3005 "How to change settings.json? It become default setting when I turn on."
Hi. I'm using windows, python version 3.8, unreal version 4.24.1

I'm doing some work at making auto-driving safety algorithm and, I'm learning airsim.

By the way, I want to change camera location and direction.
So I tried changing settings.json, but it returns to default setting when I turn on airsim in unreal engine.
I even tried saving it with encoded with ASCII Code, but it doesn't work... Ho

[2020-09-06 18:56] TomAvrech opened #3006 "ComputerVision mode: How to set the Unreal Engine window image resolution to be the same as the camera's resolution ?"
In the settings.json, I set the cameras to be 64x64.
In the Unreal engine window, not only does it have a different resolution, but also a different aspect ratio (16:9 ?).
How can I make them be the same --> have the Unreal Engine's big window BE the ComputerVision mode's main camera ?
<img width="1042" alt="Annotation 2020-09-06 215224" src="https://user-images.githubusercontent.com/19329110/9233

[2020-09-06 21:55] TomAvrech opened #3007 "Adding triangles to a scene in run-time ?"
With AirSim, we can add points, lines etc to the scene.

How can we add a triangle, just like objects'\meshes' triangles, which already exist in the scenes ?

[2020-09-07 01:10] GimpelZhang commented on #3005
The default path to the setting file is: /Documents/AirSim/settings.json

So are you changing this setting file? If so, please ignore my comment.

[2020-09-07 04:27] TomAvrech commented on #2994
My bad solution is still to multiply the DepthPerspective by a, where 1.0 > a.
I seriously think there's an AirSim bug here, and therefore DepthPerspective isn't as accurate as it can be.
Somewhere in the line-plan collision algorithm I'd guess.

How can I contact the programmer who may check this out ? :)

[2020-09-07 08:00] hyonlim opened #3008 "RotorParams - how does propeller_height calculated?"
Hi,
We are trying to implement our vehicle's aerodynamic properties like
https://github.com/microsoft/AirSim/blob/master/AirLib/include/vehicles/multirotor/RotorParams.hpp

To this end, we have following questions.

            real_T propeller_height = 1 / 100.0f;   //height of cylindrical area when propeller rotates, 1 cm

Isn't this a pitch of propeller? In that case, 9x5. which is correspondin

[2020-09-07 11:10] GeneLYJ commented on #2974
Thank you @xxEoD2242 for the 1st code. After having trying out and properly read your code, I understand why didn't my takeoff works for all my drones. To have the takeoff function and let the function run in a loop using `.join()` though I could see there's occasional sluggish during the loop but it's not as bad as using my code. You're mentioning about another library you haven't included, I ass

[2020-09-07 11:31] xxEoD2242 commented on #2974
Hey @GeneLYJ , I can absolutely share that with you. It's really basic at the moment, where you just specify two points you want to move between and then it can break the route into multiple points. Myself and a team are working on broad scale swarm routing systems, which we will probably add as a feature to AirSim in the future.

Let me clean up the code and I'll throw it in a new repository and

[2020-09-07 15:28] GeneLYJ commented on #2974
Thanks a lot! That's great you and your team are going to release that feature. I'm still new to Python and still learning by myself. How are you able to come up something like that? I'm inspired.

[2020-09-08 10:06] clintlombard opened #3010 "ClockSpeed issues with PX4 SITL"
When changing the `ClockSpeed` parameter in `settings.json` to anything faster or slower than normal speed, flight becomes unstable with PX4 in SITL. I even tried setting PX4's `PX4_SIM_SPEED_FACTOR` to no avail.

This seems to be a long standing issue https://discuss.px4.io/t/px4-sitl-airsim-lockstep-and-timeouts/17380

Python: 3.6.9
AirSim Plugin: commit bd8ee6b
AirSim Python API: 1.2.8
UE: 4.25

[2020-09-08 10:18] clintlombard commented on #2477
The latest PX4 release ([v1.11.0](https://github.com/PX4/Firmware/releases/tag/v1.11.0)) no longer works with AirSim in SITL, although v1.10.1 and v1.10.2 did.

#3010 might also be related to this issue in the broader sense of PX4 compatibility.

[2020-09-08 15:09] JacopoPan commented on #2991
@jonyMarino I was happy to see this had positive feedback: if you think there are certain parts I should/could polish and make into a PR, please let me know

[2020-09-08 16:37] Jaeyoung-Lim commented on #2477
@madratman From a previous discussion, I briefly recall that we were discussing on detecting PX4 related regressions using a CI. Has there been any progress on this front?

[2020-09-08 21:44] nightduck commented on #1618
Notice to all those who find this issue in the future. The simSetVehiclePose(...) has a glitch where the drone will try to return to the pre-teleport location if takeOffAsync() was called at some point prior. The fix for this is to use simSetVehiclePose and moveToPositionAsync in quick succession, to "lock-in" the new position, like so

    import airsim

    client = airsim.MultirotorClient()

[2020-09-09 01:47] geniusyko commented on #2476
@Travestie How is the progress so far?

[2020-09-09 08:03] #2660 closed

[2020-09-09 12:58] clintlombard commented on #3006
Have a look at the [Unreal Engine Command-Line Arguments Guide](https://docs.unrealengine.com/en-US/Programming/Basics/CommandLineArguments/index.html), in particular the `ResX` and `ResY` parameters.

[2020-09-09 16:28] conradrender opened #3011 "WEBGL log buttons"
Perhaps despite stopping the official WEBGL support inside the engine, I hope for your help. How can I remove the buttons below the app and make the final assembly responsive to full screen? If I remove buttons from HTML, then the application hangs on compilation, apparently there are some codes in jquery that prevent the application from loading without buttons. Packaging shipping does not remove

[2020-09-09 16:37] jonyMarino commented on #2364
treated on new PR #2390. Look there

[2020-09-09 16:37] #2364 closed

[2020-09-09 16:49] jonyMarino commented on #1548
treated on #1567

[2020-09-09 16:49] #1548 closed

[2020-09-09 18:09] DamianRivas commented on #2987
Hmm actually I'm not using the `-windowed` argument and perhaps that's what I need. I'll give that a try and see how it goes.

[2020-09-09 19:22] #1580 closed

[2020-09-10 07:28] weigangwen commented on #2631
What version of vs do you use，please

[2020-09-10 08:14] tharindurmt opened #3012 "Modelling fisheye cameras"
I am trying to record camera images from four cameras which have a very high field of view of 194 degrees, which AirSim does not  support as of yet (if the FoV is more than 180 degrees the images will be flipped vertically. Even if the FoV is set to be just below 180 degree there is no fisheye effect).

AirSim cameras operate a little different to other sensors and as per my understanding, it uses

[2020-09-10 11:39] lucafei opened #3013 "is it possible to define a trajectory with low level api?"
hello, guys, i'm doing a trajectory planning for a aircraft landing, but by no i have only found the airsim api to define the position and velocity. So i want to ask, if it exists another api to plan a custom trajectory or low level api to control the roation of motor?

[2020-09-10 12:07] lucafei commented on #2032
hello, i'm still working on this, does anyone have solved this problem?

[2020-09-10 17:27] jonyMarino commented on #1986
may be related to #1004?

[2020-09-10 17:28] jonyMarino commented on #1026
May be related to #1004?

[2020-09-10 17:36] #269 closed

[2020-09-10 20:34] Josepharol opened #3014 "Can I create a custom environment like City environment and control the other cars in the environment without having to create everything on unreal engine from scratch?"
@sytelus  @lovettchris

What I am trying to do : Create a custom environment with different driving scenarios ( something similar to city environment) and have a couple of cars to follow a particular path and I will drive the airsim car in the environment.

What I have : I already have a blocks environment and can add one airsim vehicle.

Question 1 : If I add the settings for multiple vehicles in

[2020-09-11 00:33] sytelus commented on #3014
AirSim settings allow the `RC` section that specifies which vehicle is controlled how:

[code]
See more info here: https://microsoft.github.io/AirSim/settings/

You can control multiple vehicles by specifying vehicle name in API calls. More info here: https://microsoft.github.io/AirSim/multi_vehicle/

[2020-09-11 12:30] KailinTong opened #3015 "How to skip the animation of Modular Neighborhood Pack"
Dear all,

I am new to the Airsim and Unreal Engine.

The Modular Neighborhood Pack works with Airsim. One small trouble is that Modular Neighborhood Pack has to play a one-minute animation at first and then starts to the Airsim game mode.

Do you have some tips on how to skip the animation?

Thanks a lot!

Best regards
Kailin

[2020-09-11 13:29] xxEoD2242 commented on #2974
Hey @GeneLYJ, here is the repository I promised. It's definitely a work in progress!

[Multi Agent Routing](https://github.com/xxEoD2242/multi_agent_routing)

To answer your question, I currently do research with a controls professor from Purdue University and we use AirSim heavily. Together, we are working on building different swarm capabilities and our team hopes to add these capabilities to Ai

[2020-09-11 16:30] #1176 closed

[2020-09-11 17:18] jonyMarino commented on #3012
@tharindurmt Please correct the link label 2119 -> 2129. Thanks!

[2020-09-12 08:06] BreederBai opened #3016 "Cannot connect to PX4"
airsim version: 1.3.1
OS version: windows 10 2004
UE version: 4.24.3

![image](https://user-images.githubusercontent.com/27894314/92990793-e137c880-f511-11ea-9103-d29cccfe13b3.png)

[2020-09-12 08:34] sandyUni commented on #2990
yes, it is a  duplication  of #506

[2020-09-12 08:34] #2990 closed

[2020-09-12 19:26] agentfeux opened #3017 "Quadrotor model glitch"
Hi,
I'm getting wierd texture glitch after a while when training. The rotor just move from their initial position like this:
![Screenshot from 2020-09-12 15-14-09](https://user-images.githubusercontent.com/40972980/93003304-7e433300-f50b-11ea-90ed-4933a1bdf66c.png)
![dronewierd](https://user-images.githubusercontent.com/40972980/93003317-a6cb2d00-f50b-11ea-9f43-a64150067f82.png)

When training, af

[2020-09-13 08:25] GeneLYJ commented on #2974
Thank you! I'll learn the concepts from your codes. That's cool to able to work together at the university. I'm still to AirSim and Python but I'll contribute whenever I see the possibilities.

[2020-09-13 14:13] neeraj310 opened #3019 "Maximum nu of multi agents that can be supported by aisim"
Hi Support Team

I am working on a survey for Airsim capabilities and need few clarifications regarding the number of supported agents.

a) What is the maximum number of agents that can be supported on a normal desktop(16GB RAM, GPU, Linux)

b) Is it possible to add custom vehicles. I want to design my own vehicle and use it inside Airsim framework.

Neeraj

[2020-09-13 16:47] plushpluto commented on #3015
Not sure if this will help.
I guess it is a part of the cinematics that is usually placed for an introduction in a game or a scene. Anyways, you need to find a way to disable "matinee". I did encounter something like this but that was for UE4-21 (which is not available in UE4-25). Not sure what is your version.

Check out these:
https://docs.unrealengine.com/en-US/Engine/Matinee/UserGuide/index.ht

[2020-09-13 19:12] ariel-elbit commented on #1439
I'm trying to use the MavlinkCom project in order to get telemetries from mavlink connected via udp port using a sitl in the background. can't manage to figure it out. Anyone able to help?
Thanks a lot

[2020-09-14 08:53] clintlombard commented on #3016
Which version of PX4 are you running? The latest release `v1.11.0` does not work with AirSim yet, try `v1.10.2`. Possibly related #2477.

[2020-09-14 08:55] clintlombard commented on #3013
Maybe look at running PX4 in SITL with offboard control commands.

[2020-09-14 12:49] KailinTong commented on #3015
Thank you, @plushpluto,

I am using Version: 4.24.3, and I could not find matinee in the editor.

Do you know a way to edit cinematics to disable the animation?

Best,
Kailin

[2020-09-14 12:57] #3015 closed

[2020-09-14 15:04] m1baldwin commented on #3010
@clintlombard Just wondering, when you try running v1.11.0 of the px4 release, what errors do you get? I am getting accel timeout errors. When I try running with the v1.10.*, it works fine though.

[2020-09-14 15:35] clintlombard commented on #3010
No errors on `v1.11.0` it just doesn't seem to connect. Might be the updates to mavlink api. In `v1.10.*` under the normal clock speed (1.0) I get the accel timeouts and things still work. However, if you decrease the clock speed to say 0.25, then the PX4 EKF GPS fusion just times out (so basically just dead reckoning).

[2020-09-14 15:37] m1baldwin opened #3020 "What is the right way to specify a custom quadrotor bp model in the settings?"
I have recently been trying to use a custom quadrotor mesh in my simulation work. I am using UE4.24.3 on Windows 10.

When I look through the past issues reported on this site, and also the documentation, the steps on how to do this seem a little unclear.

For instance, when I look at the settings document here: https://github.com/microsoft/AirSim/blob/master/docs/settings.md I see that there are

[2020-09-14 15:43] m1baldwin commented on #3010
Interesting, I can at least get it to connect with px4 version 1.11.0.

When I have tried running at a speed factor of less than 1 with px4. I have also seen issues. For me, the issues I saw is that the drone was no longer able to hit waypoints accurately, i.e. it would usually completely overshoot them. I couldn't find a fix and haven't looked into why this might be happening.

Is decreasing the

[2020-09-14 15:55] clintlombard commented on #3010
I'll have to give `v1.11.0` another try.

Well technically things should be running in lockstep so I would assume PX4 would just wait on AirSim.

I have tried the `PX4_SIM_SPEED_FACTOR` environment variable but this didn't have any noticeable affect.

[2020-09-14 15:56] m1baldwin commented on #3020
Also, the documentation for the settings file does not include the "PawnPath" field shown in the PX4 vehicle object, if px4 is being used as the simulation type. Does that mean you cannot specify a pawnPath when using px4 sitl?

[2020-09-14 16:10] m1baldwin commented on #3020
Also, is it documented anywhere that you need to consistently use the "GenerateProjectFiles" script to allow the settings file to be able to find a BP model you have created and added to the content folder? This might be more obvious for those who are very familiar with UE, but for those coming from the drone simulation side it would be helpful to have those details spelled out when working with A

[2020-09-14 17:22] jonyMarino commented on #3017
Hi, this is a dup. of #784. Thank you for the feedback

[2020-09-14 17:22] #3017 closed

[2020-09-14 17:28] jonyMarino commented on #3016
Please continue in #2477. Regards

[2020-09-14 17:28] #3016 closed

[2020-09-14 18:31] jonyMarino commented on #2182
Closed due to age and incompleteness.
Please feel free to open a new issue (referring this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

[2020-09-14 18:31] #2182 closed

[2020-09-14 18:35] #985 closed

[2020-09-14 20:00] #2860 closed

[2020-09-14 20:33] agentfeux commented on #784
I have this bug too. To work around the issue, for the training I use the option in unreal to hide the pawn from rendering so it hides the drone but still moves normally in the scene. Hope it helps some people.

[2020-09-14 21:05] TomAvrech opened #3021 "Speeding up AirSim"
Using the ComputerVision mode, I plot a lot of lines, and therefore the simulator is very slow.

How can I run AirSim in a way that will maximize the speed of everything ?

Is AirSim already running on maximum speed as the default mode ?

[2020-09-14 23:32] agentfeux commented on #3021
You can try to clock the speed up in the setting file like this exemple:
`	"SettingsVersion":1.2,
	"LogMessagesVisible":true,
	"ClockSpeed": 1,`

[2020-09-15 00:15] TomAvrech commented on #3021
Thanks, but even with "ClockSpeed": 10, nothing seems to improve.

[2020-09-15 08:56] tharindurmt commented on #3012
@jonyMarino @rajat2004
Is it possible use PIPCamera with UE [LensDistortion](https://docs.unrealengine.com/en-US/BlueprintAPI/LensDistortion_1/index.html) plugin? It provides a camera matrix and its parameters can be changed accordingly. I tried adding it to the PIPCamera blueprint as in the following figure (I am completely new to UE). Material and a render target used in this are created followi

[2020-09-15 11:22] clintlombard commented on #3010
After trying `v1.11.0` again, I see that PX4 and AirSim do connect. However, it seem the params in `settings.json` aren't being sent to PX4 so it can't takeoff due to a missing control stick
[code]

[2020-09-15 12:48] m1baldwin commented on #3010
@clintlombard One option here might be to connect to QGC as well when you launch the px4 sitl. You can edit the firmware params just like you would with an actual drone, and it should be preserved when you re-run px4_sitl. The only time these params are reset is when you run make clean before a fresh make px4_sitl command, or go to a different px4 sitl airframe.

Or, you can issue these commands:

[2020-09-15 17:22] nightduck commented on #1702
Does the module pack on the marketplace contain the deer that are running around in AirSim's binary? How about their AI? I'm trying to assess how difficult it would be to perfectly replicate AirSim's Neighbourhood

[2020-09-15 20:43] jonyMarino commented on #2991
@JacopoPan It seems to us that this documentation corresponds to different sections of the current documentation. We will see it well and return to you

[2020-09-15 21:19] JacopoPan commented on #2991
Yes, of course: there are some additional terminal snippets, information I learned from open and closed Issues, and the custom pawn instructions and RLlib integration are new) but, as I wrote in the first message, one of the (I believe) limits of the current documentation is how scattered across pages it currently is (and that's what I think it would be useful to address)

[2020-09-16 00:30] swapnilsayansaha opened #3022 "What is the unit of magnetometer and gyroscope?"
Could some tell me the units of the values returned by the magnetometer (e.g. nT, uT, gauss etc.) and gyroscope (part of IMU) (e.g. d/s, r/s, rpm etc.)?

[2020-09-16 11:16] xxEoD2242 commented on #3022
For the magnetometer, the units are Gauss.

<img width="578" alt="Screen Shot 2020-09-16 at 7 01 08 AM" src="https://user-images.githubusercontent.com/32143517/93328973-7f65b000-f7ea-11ea-9bd9-9dfc8ea6aa3b.png">

That's in [MagnetometerBase.hpp](https://github.com/microsoft/AirSim/blob/18b36c7e3ea3d1e705c3938a7b8462d44bd81297/AirLib/include/sensors/magnetometer/MagnetometerBase.hpp)

For the gyro,

[2020-09-17 04:18] keep9oing opened #3024 "landscape mountain segmentation"
Hi, I'm studying using airsim and environments

I want to segment the road in the mountain. such as below

![airsim_q_a](https://user-images.githubusercontent.com/31655488/93419536-0b113680-f8e8-11ea-8211-ab85e7d2f26d.png)

However, the segmentation is done like landscape terrain and road is the same object. How can I separate them in the scene?

[2020-09-17 12:35] c6376315qqso opened #3025 "Can I use API to get images every frame in the game?"
I fixed my game frame rate to 30 fps.
Now I want to get images (depth map or segmentation or whatever) using python API in every frame, Is this achievable?

[2020-09-17 16:04] skykim0609 opened #3026 "Cannot figure out the right subwindow setting(settings.json) for multiple drones equipped with camera"
Hello. I am currently using AirSim 1.3 with Unreal 4.24 in Ubuntu 18.04 LTS version. I am trying to control 3 quadrotors in AirSim, and view the camera outputs through the subwindow. Following is the current settings.json file.

##
{
  "SettingsVersion": 1.2,
  "SimMode": "Multirotor",
  "Vehicles": {
      "Drone_1": {
          "VehicleType": "SimpleFlight",
          "DefaultVehicleState":"Arme

[2020-09-17 16:47] jonyMarino commented on #1397
Hi @dehavenm! Yo can see that method in the file commented by stylus but three lines below. I tried adding this line `CarApiBase::CarState state = client.getCarState();` to HelloCar/main.cpp successfully. Let me know if you need more help. Regards

[2020-09-17 16:47] #1397 closed

[2020-09-17 18:56] swapnilsayansaha commented on #3022
Thanks.

[2020-09-17 18:56] #3022 closed

[2020-09-17 19:38] #1869 closed

[2020-09-17 23:36] yuyangch opened #3027 "Dynamically set sensors orientation/pose"
Hi!
    Is there a way to dynamically change sensors (mainly Lidar)'s pose (mainly orientation), relative to the vehicle?
    I did read the documentation listed:  https://microsoft.github.io/AirSim/lidar/
    But the to my understanding the lidar configuration through json is static.

Thanks in advanced!

[2020-09-18 00:56] GimpelZhang commented on #3025
From my point of view, 30 Hz of images capture is quite a high demand on your hardware.

[2020-09-18 01:48] c6376315qqso commented on #3025
Yeah,it is. But I want to know how to achieve getting images every frame?

[2020-09-18 04:48] c6376315qqso opened #3028 "How to place multiple cameras and record simultaneously in CV mode ?"
I want to take images from different perspective at the same time.
I am using CV mode without any vehicles.
Can someone please help me how to put cameras at different place in CV mode?

[2020-09-18 09:23] rajat2004 commented on #3026
Probably should have added this in the docs, but the `VehicleName` element in the Subwindow settings is only there in master right now, and not in the latest release binaries

[2020-09-18 09:28] rajat2004 commented on #3027
Currently this isn't possible, but such an API can be added
It would need to modify the `relative_pose` in [`LidarParameters.hpp`](https://github.com/microsoft/AirSim/blob/master/AirLib/include/sensors/lidar/LidarSimpleParams.hpp#L29)

Do you specifically need to change it relative to the vehicle, or just need to change the pose like move the lidar around? In the latter case, you could just use `s

[2020-09-18 10:21] skykim0609 commented on #3026
Thank you for reply. So for now, there isn't any way of displaying camera views from multiple drones in subwindows, right?

[2020-09-18 10:28] ivannson commented on #3025
I think the speed with which you are getting images depends on your hardware, you can time the process to determine the camera frame rate. If you strictly need it every frame, rather than just as quickly as possible, then you can set fixed frame rate within the Editor settings.

What I mean is this:
Suppose it takes 0.1 seconds to get an image using the Python API, so your recording frame rate is

[2020-09-18 10:31] rajat2004 commented on #3026
Yup, not without building AirSim from source atleast. If needed, you could build binaries yourself after that

[2020-09-18 10:33] ivannson commented on #3021
First of all, check that you don't have 'Use less CPU in the background' enabled in Unreal.

I wouldn't think speeding up the clock speed would help if your computer is struggling to process everything as it is. It allows to run 1 hr of simulation in 30 min of real-time for example, but only if the hardware can handle it.

Things you can try:
- Lower the quality in scalability settings
- Reduce th

[2020-09-18 10:35] ivannson commented on #3006
I think you can also change it in editor settings manually

[2020-09-18 10:40] ivannson commented on #2979
You can add a new camera and change the camera location settings in `settings.json` to be behind and above the drone. Experiment with x and z values and see where it gets you. Set something like x = -10, z = -5 first and see how the view turns out.

[2020-09-18 10:45] ivannson commented on #2923
You can work around the issue by figuring out which points are missing and adding them into the scan. Each point has a unique vertical angle - horizontal angle combination, sometimes points are missing so no value is return. You can figure out at which angle values the points are missing and reinsert them with the maximum range value (i.e. as if the point was detected far away). This is similar to

[2020-09-18 10:50] ivannson commented on #2905
You can do it, just treat AirSim as any other real camera/sensor set up. The only tricky thing for me was getting the camera intrinsic matrix, but I think it is now obtainable directly from airsim. I think it would be easier to use ROS if you want to do it in real time.

There are plenty of tutorials available, just don't look for tutorials on how to do SLAM specifically in AirSim - you won't find

[2020-09-18 11:12] c6376315qqso commented on #3025
Emmm,I need to synchronize sampling in airsim with the tick function in ue4, Because I

[2020-09-18 11:16] c6376315qqso commented on #3025
Because I also get positions in tick function in ue4, so I want to exactly get images every tick, is this achievable?

[2020-09-18 13:27] AOS55 commented on #2955
Hey, Its been a couple of weeks since I put something up here. Ive been looking back over the program. I noticed in [MultiRotorPhysicsBody](https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/include/vehicles/multirotor/MultiRotorPhysicsBody.hpp#L102) an override is used to override the function, and assigns the forces to the PhysicsBody. I didn't include this as I thought my setWrench method

[2020-09-18 14:09] c6376315qqso opened #3029 "How to start recording when game begins?"
I want to start recording right after game begins rather than me push R button,
Is this achievable?

[2020-09-18 16:18] jonyMarino commented on #2433
Closed due to age and incompleteness.
Please feel free to open a new issue (referring this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

[2020-09-18 16:18] #2433 closed

[2020-09-18 16:23] ykhedar commented on #3024
I think you are only able to see objects in the segmentation view which are static meshes, like the trees, bridges, stones etc.. the dirt road is actually part of the terrain(landscape) itself. So you would not see it separate from the landscape terrain.

[2020-09-18 16:27] #686 closed

[2020-09-18 16:29] jonyMarino commented on #745
Closed due to inactivity. Doc update pending

[2020-09-18 16:29] #745 closed

[2020-09-18 16:31] jonyMarino commented on #841
Closed due to inactivity. Feel free to reopen to ask again. Doc update pending.

[2020-09-18 16:31] #841 closed

[2020-09-18 16:49] rajat2004 commented on #2955
I haven't looked deeply at this, but you could possibly move the parts in `PhysicsBody` not suitable for FixedWing to `MultiRotorPhysicsBody`, which I guess includes [this](https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/include/physics/PhysicsBody.hpp#L122-L127). That'll have the benefit of making the PhysicsBody more generic. The functions called in `PhysicsBody::update()` anyways are ac

[2020-09-18 17:48] AOS55 commented on #2955
Yes that makes sense I'm not entirely sure how `PhysicsBody` actually calls `getWrench` though. I have tried the [following implementation](https://github.com/AOS55/AirSim-1/blob/FixedWing-refactor/AirLib/include/vehicles/fixedwing/FixedWingPhysicsBody.hpp#L90) calling the same getWrenchVertex, this returns an unreal textbox error stating `error at startup: invalid vector subscript`. Then goes to

[2020-09-18 18:10] yuyangch commented on #3027
Thanks! I specifically need to change the relative pose, i want to keep the vehicle/drone operating normally.

I will look into implementing those changes, thanks for the pointers.

would you say the quick way to start is to look into the  "simPrintLogMessage API" commit? (attached below)
--------------------------------------------------------------------------------------------------------------

[2020-09-18 18:16] rajat2004 commented on #2955
`getDragVertexCount()` seems missing, maybe try adding that? But don't think that'll actually affect anything, since the base implementation in `PhysicsBody` returns 0 which will cause the loop to not run
Also try adding some print statements or breakpoints here and there to make sure things are being called correctly

[2020-09-18 18:31] rajat2004 commented on #3027
Yeah, that commit is a useful reference for making an API change, it's a bit old, but shows the main RPC related files where you would need to make changes. You can also have a look at https://github.com/microsoft/AirSim/pull/2810, that actually removes an API related to sensor data so can show more effectively which files you might need to modify.
There won't be any need to change the structs, et

[2020-09-18 18:56] yuyangch commented on #3027
Thank you so much for the information, I really appreciate it!

[2020-09-19 08:06] skykim0609 commented on #3026
I don't know what it takes to build my binaries so I'd rather consider other ways to deal with this problem. Thank you anyway.

[2020-09-19 08:06] #3026 closed

[2020-09-19 10:35] AOS55 commented on #2955
Thanks yeah I tried playing around with it but doesn't make any difference. Ive reorganized [Airplane.hpp](https://github.com/AOS55/AirSim-1/blob/FixedWing-refactor/AirLib/include/vehicles/fixedwing/Airplane.hpp#L82) slightly. `setWrench` wasn't an actual vector before I realised this should now be fixed. I've been trying to work through the various base classes surrounding the physicsEngine.

A u

[2020-09-19 14:15] rajat2004 commented on #2955
Nope, haven''t seen that earlier

[2020-09-19 17:07] rajat2004 commented on #3029
I had thought that this option was there, but apparently not. Added a commit in https://github.com/microsoft/AirSim/pull/2861 which adds an `Enabled` parameter to the settings

[2020-09-19 18:11] Josepharol commented on #1225
@sytelus I get this same error when I try to add more than two cars in the multi_agent_car.py in the city environment.

Error message:

Connected!
Client Ver:1 (Min Req: 1), Server Ver:1 (Min Req: 1)

Traceback (most recent call last):
  File "multi_agent_car.py", line 39, in <module>
    client.enableApiControl(True, "Car3")
  File "C:\ProgramData\Anaconda3\lib\site-packages\airsim\client.py", li

[2020-09-19 19:30] AOS55 commented on #2955
Cool np, Ive sent a message over to the [unreal forum](https://forums.unrealengine.com/development-discussion/c-gameplay-programming/1813324-error-at-startup-invalid-vector-subscript?view=stream) (which is awaiting mod approval) and the same message to the [UE4 subreddit](https://www.reddit.com/r/unrealengine/comments/ivy1q6/ue4_airsim_error_at_startup_invalid_vector/). There might be some more pe

[2020-09-20 10:37] neeraj310 commented on #3019
Hi Team

Can you please revert back on this issue.

Neeraj

[2020-09-20 12:31] rmolinabadia opened #3030 "AirSim build error on Windows 10 -> AirLib.lib error LNK2001, LNK2019, LNK1120"
Hi everyone,

I'm trying to build AirSim on my computer:
- Windows 10.
- Visual Studio 2019, with Desktop Development with C++ and Windows 10 SDK 10.0.18362.
- AirSim v1.3.1.
- Unreal Engine 4.25.

I've followed the building instructions as stated in [https://microsoft.github.io/AirSim/build_windows/], but I do get an error after running the 'build.cmd' command. The issue comes from the AirLib.lib

[2020-09-20 13:11] xxEoD2242 commented on #3019
I think your first question depends on what you want to accomplish. I've worked with up to 20 drones so far and never had a problem. It depends a lot of what you are asking AirSim to provide you.

For example, taking pictures is inherently a costly operation and if you want to take pictures of all 20 drones at say 10 Hertz sampling rate, then you will probably slow down the simulation considerably

[2020-09-20 15:56] Josepharol opened #3031 "Distance sensor distance data is same for all cars? and it is oscillating?"
Problem:
I have 4 cars in my environment. And I am driving only car1 with steering input, other cars are stationery without any movement. But why is that they all give the same distance data as sensor output? And also, why is it oscillating?

As per my understanding, if the distance between two cars are calculated--> As I approach closer to another car, my distance value should reduce? But it does

[2020-09-20 15:59] Josepharol commented on #3014
@sytelus Thank you for your response. So kind of you to respond to my queries. And indeed your advice solve my problem. However, I still didn't explore the RemoteControlD, but I didn't mention the car I want to control with steering in the API coding, so I am controlling one car with the steering and other cars respond to API calls. Thank you. If in case, I need to have a different approach, pleas

[2020-09-20 19:17] rajat2004 commented on #3031
This was a problem with how the sensor was placed by default in Car vehicle, this bug along with several other additions to the distance sensir were done in #2807, which has been merged into master
You haven't specified which version of AirSim you're using, so I'm guessing the binary. Try out the master if you're able to and see if the problem's still occurring

[2020-09-20 19:26] rajat2004 commented on #3030
Not sure what's happening, the command prompt also is correct otherwise that could have been causing the erorrs. Maybe run `clean.cmd` or `clean_rebuild.bat` once and try again
The CMake version seems a bit stragne, I'm using 3.16, the 3.14 one seems somewhat old, was that installed separately earlier? Even the latest 3.14 version is 3.14.7

[2020-09-20 20:47] Josepharol commented on #3031
@rajat2004 Thank you for your response. I really appreciate it.  I built the airsim again according to [https://microsoft.github.io/AirSim/build_windows/](url) & also I am running it currently in the city environment V1.3.1 FROM [https://github.com/Microsoft/AirSim/releases](url) .  I feel like I have all latest releases. However when I run the `distance_sensor_multi.py`, i still get the same valu

[2020-09-20 20:53] rajat2004 commented on #3031
Yeah, so this isn't available in the 1.3.1 release, it's currently in master only, so you'll have to use the latest master built from source, and not the 1.3.1 binaries

[2020-09-20 22:10] Josepharol commented on #3031
@rajat2004 I am sorry, this might be an amateur question. But, right now, I have built the latest airsim. I am going to use them in the City Environment.
When you say "use latest master built from source", should I download the any other versions of city environment and check it or can you please be specific on what I should do right now?

[2020-09-20 22:15] rajat2004 commented on #3031
Just follow the steps in https://microsoft.github.io/AirSim/build_windows/ and use the Blocks env
If you want to use the City env with latest master, you'll need to buy it from the Unreal Marketplace, since the code inside binaries can't be changed

[2020-09-20 22:29] Josepharol commented on #3031
@rajat2004 Thank you. It works in the blocks environment. Do you know if any other sensors have this issue? That they work in blocks but not in the city environment? Just to know, if this is the case with all of the sensors?

[2020-09-20 22:40] rmolinabadia commented on #3030
Hi @rajat2004 ,

As you said, CMake version update to 3.16.9 did the job.

Thanks for your fast reply and your help!

[2020-09-20 22:40] #3030 closed

[2020-09-21 02:53] rajat2004 commented on #3031
You can have a look at the commits in the master branch to see what changes have happened after the last release. Off the top of my head, there was a fix for Lidar `DrawDebugPoints` setting, and some camera fixes also

[2020-09-21 05:08] ctoumieh commented on #3004
Hi,

I'm facing the same issue. Do you mind sharing the code you modified?

Cheers,
CT

[2020-09-21 06:38] kochsebastian commented on #2470
Same problem for me. I used fog just the other day but now it's not working anymore and I didn't change anything that should affect fog

[2020-09-21 10:41] RichardHopkirk commented on #3004
Hi CT,

The main thing is the following change to the update method in angleratecontroller.hpp (AirLib/include/vehicles/multirotor/firmwares/simple_flight/firmware/AngleRateController.hpp), note it's a bit of a hack at the moment due to the use of statics, but you hopefully get the idea.

The maths to do the conversion is in the switch statement.  There's plenty of derivations online, but one exam

[2020-09-21 11:53] Huibean opened #3032 "python api calling camera capture in loop raise a breakpoint"
Windows 10 platform
while get camera view in loop it raise a breakpoint in Visual Studio
[code]

![image](https://user-images.githubusercontent.com/11662369/93763343-dd0f5780-fc43-11ea-8c81-40f11a9f786a.png)

[2020-09-21 18:05] AOS55 commented on #2955
### Update:

Managed to solve the UE4 error with some assistance from one of my colleagues. The controlSurfaces were not being constructed in the aircraft and a function was called to a `vector<struct>` that caused the array problem. Have a loss of connection with Airsim and unreal now due to `[2020.09.21-17.44.45:574][215]LogTemp: Error: Linear velocity had NaN!` error being returned in the comma

[2020-09-21 19:57] jonyMarino commented on #3032
Do you mean an exception?
A breakpoint is not raised unless you set it

[2020-09-21 20:12] #3031 closed

[2020-09-22 01:30] Huibean commented on #3032
Hi @jonyMarino Thanks for you reply, sorry I am not familiar with visual studio, but I haven't change anything, it's like an exception but the visual studio it's a breakpoint

[2020-09-22 09:19] OrangeCH3 commented on #2965
msgpackrpc.error.RPCError: rpclib: client error C0002: Function 'getHomeGeoPoint' was called with an invalid number of arguments. Expected: 0, got: 1
Hoping someone can help me out with this. Thank you so much.

[2020-09-22 11:02] DanielGilo commented on #2140
We face the same issue. We only want to stabilize the drone for pitch and roll (we don't want yaw stabilization) for the bottom_center camera (the one that looks down). But when omitting the yaw from the settings.json (only specifying roll and pitch for the gimbal), the camera's yaw moves in an unstable way - doesn't follow the drone's orientation.

![image](https://user-images.githubusercontent.c

[2020-09-22 15:37] nabeelsherazi opened #3033 "Add ability to switch views between agents in multi agent mode"
Hi,

I was wondering if it would be possible to add a feature to Airsim allowing users to toggle between different agents (when there are multiple present), so that it is possible to supervise what each one is doing in swarm studies. Currently, each camera view, when switched, focuses only on the first agent created. There is no way to see what the other agents are doing unless they happen to come

[2020-09-22 15:40] nabeelsherazi commented on #3005
Either change the file in the Documents/Airsim folder, or, if you are trying to create a custom settings.json in the executable folder, make sure that it is in the same folder as the actual executable. This is _not_ the same as the top level executable in the binary folder. E.g. if you are using the Blocks environment, the settings.json file should be placed in `...\Blocks\Blocks\Binaries\Win64`

[2020-09-22 15:41] nabeelsherazi commented on #2997
This sounds right. You may want to specify a static IP connection on your router so that the IP of the server machine does not change unexpectedly.

[2020-09-23 12:49] Zartris commented on #2140
I think this is something separate and you should make a new thread for this.
I have the exact same problem, but i have no solution yet.

[2020-09-23 13:06] ItayKalfon opened #3034 "Adding AirSim to a blank project in order to control a drone. (VS2019, C++)"
This is a question.

I'm trying to control a drone using AirSim via Unreal Engine and visual studio. Before the real issue these are all of the specs:
OS - Windows 10
AirSim  - v1.3.1
Unreal Engine - v4.24.3
Visual Studio - 2019 Community Edition

I was able to install AirSim smoothly and the drone runs in the simulator and the sample project (Drone Shell) which is given in the AirSim repo is work

[2020-09-23 13:07] ajof opened #3035 "Record Video Along a Pre-defined Path"
I want to use AirSim to record a video where the camera moves along a pre-defined path within an Unreal environment.

I know that the MultirotorClient has MoveAlongPath features, but that would include the dynamics of the vehicle.
I want to be able to define the position (XYZ) and attitude (All 3 angles) for each step of the path.
For example, I would like to input a path (X,Y,Z as functions of t

[2020-09-23 15:46] ZhenWang-GoodST opened #3036 "the fllowing modules are missing or built with a different engine version"
I got the “the fllowing modules are missing or built with a different engine version”， when I finished compile the airsim,  and the plugings directory becomes bigger, I download the mountain demo , and copy the plugins , modifies the uproject as the turtorial, how can I get the RIGHT version?

[2020-09-23 16:16] xxEoD2242 commented on #3036
What did you name your project?

[2020-09-23 16:25] ZhenWang-GoodST commented on #3036
I named the demo "mountain", and the airsim is the same with the document. I just follow the turtorial, vs is 2019 ,UE2.42, and I had tried the FAQS, but seems no use

[2020-09-23 17:08] DanielGilo opened #3037 "Unable to stabilize only roll and pitch using gimbal"
We face a similar issue to the one mentioned in #2140. We only want to stabilize pitch and roll (we don't want yaw stabilization) for the bottom_center camera (the one that looks down) of the drone. But when omitting the yaw from the settings.json (only specifying roll and pitch for the gimbal), the camera's yaw moves in an unstable way - doesn't follow the drone's orientation.

![image](https://u

[2020-09-23 17:34] dbaldwin opened #3038 "Error packaging AirSim for Android - fatal error: 'UdpSocket.hpp' file not found"
I apologize if this is not the place for this, but there appears to be a bug when packaging AirSim for Android devices. Our goal is to get a build together with the Blocks environment and run some tests on Android OS and potentially Chrome OS. I realize Chrome OS may be a stretch, but we'll see.

We have no problems packaging AirSim blocks for Windows. The problem lies when trying to package for A

[2020-09-23 18:32] jonyMarino commented on #2664
Now it is in the unreal section in the learn tab under legacy. I just downloaded it

[2020-09-23 18:32] #2664 closed

[2020-09-23 21:10] jonyMarino commented on #2133
This is not an AirSim issue. You would need to modificate the LandscapeMountains bridges to be at ground level

[2020-09-23 21:10] #2133 closed

[2020-09-24 02:44] ZhenWang-GoodST commented on #3036
I ran the demo after several tries， maybe run the update_from_git.bat and the next command works, but I am confused why it didn't work in the beginning

[2020-09-24 02:45] #3036 closed

[2020-09-24 10:58] Zartris commented on #3037
I have the exact same problem!
This is very far from ideal.

[2020-09-24 15:28] #3035 closed

[2020-09-24 17:07] jonyMarino commented on #2408
Hi @charbelmansour. I think you confused something by saying "we added the folder of HelloDrone in the plugins inside the source folder". In the plugins folder you just need the AirSim plugin. And after running LandscapeMountains you can run your c++ code. I just tried to run your code modifying the main.cpp in the HelloDrone project without any problem. If you are still facing an issue please fee

[2020-09-24 17:07] #2408 closed

[2020-09-24 17:20] jonyMarino commented on #1652
Hi! It seems that the Ubuntu community is leaving snap, so we are going to stick with only the publication of binaries.

[2020-09-24 17:20] #1652 closed

[2020-09-24 20:28] jonyMarino commented on #3034
Hi @ItayKalfon! I got the same errors. I solve it adding AirLib and MavLinkCom to the project references. Just right click `References` and then `Add reference...`, then select AirLib and MavLinkCom (wich must be in your solution).
In general I think is a better idea to copy and paste the HelloDrone project.
tell me how it went!

[2020-09-24 22:03] ItayKalfon commented on #3034
Yeah it worked flawlessly.
Thank you very much, the answer was spot on!

[2020-09-24 22:03] #3034 closed

[2020-09-25 05:01] deunsoljo commented on #2404
I think this problem happened when the drone cannot receive starting point data (i.e. x=0,y=0,z=0) from the PX4.

I can't answer correctly because I'm not currently doing these experiments, but in the past, when I was working on it, to solve this problem,
First, run the Airsim simulator
Second, connect the PX4 based on SILS or HILS to receive corresponding data
Third, run the airsim_node.launch. (

[2020-09-25 08:07] heleidsn opened #3040 "Plotting API get lines with real volume"
Hi, I want to use plotting API to visualize the trajectory. However, this API seems plots lines with volume, which means the trajectory will show in the depth image, as shown in the following picture. Is there any way to plot lines without volume? Thanks.

OS: win10
AirSim: 1.3.1
Python: 3.7.4
Unreal: 4.24.3
![微信截图_20200925085941](https://user-images.githubusercontent.com/9855921/94242783-783b5200

[2020-09-25 15:28] speedifast opened #3041 "Blocks environment crashes on Ubuntu"
Hi,
I'm using Unreal Engine version 4.24 and I've completed all installation process based on [build on Linux](https://microsoft.github.io/AirSim/build_linux/),  but in section **How to use AirSim** 4th part ("./Engine/Binaries/Linux/UE4Editor <AirSim_path>/Unreal/Environments/Blocks/Blocks.uproject"), my laptop crashes at all.
thanks in advance :)

[2020-09-25 15:59] shkim1030 commented on #3005
Thanks for your comment!
I made custom map named car, and project is located at D:\Unreal\car
I understood your comment as "Change Settings.json file which is in your project's Binaries -> Win64 folder."
However, in D:\Unreal\car\Binaries\Win64, there is no file named settings.json.
So I copied 'settings.json' file in Document\Airsim folder, and pasted in D:\Unreal\car\Binaries\Win64, but it doesn

[2020-09-25 18:24] sbyebss commented on #2973
I am also curious about what you are wondering

From what I found, there is carrot algorithm for the multirotor to follow specific positions in AirSim API. And it doesn't provide car actor version.

Then vehicle has this algorithm to help driving autonomously but I guess it requires much time training. https://github.com/microsoft/AirSim/tree/master/PythonClient/imitation_learning

[2020-09-25 19:41] DamianRivas commented on #2987
Forgot to report back but running the sim in windowed mode prevents the behavior. Good enough for me!

[2020-09-25 19:41] #2987 closed

[2020-09-25 22:21] nabeelsherazi commented on #3005
@shkim1030 When you start Airsim, it should list the location that it is pulling the settings.json file from in the top left corner logs. Can you see where that location is for your setup?

[2020-09-26 11:19] nmuchaxo opened #3042 "GPS and IMU topics coming without covariance and frame."
Hello,
I'm new to AirSim and I've noticed that when I do rostopic echo on these two topics _/airsim_node/VEHICLE_NAME/global_gps_ and _/airsim_node/VEHICLE_NAME/imu_ both don't have covarience and the GPS topic also doesn't have frame.

Can anyone help me/ does anyone know why?
TIA

[2020-09-27 02:07] yuyangch opened #3043 "Android package error when building ROS wrapper"
Ubuntu 16.04, UE4 Editor version 4.18, python 2.7.12

Hi! I am trying to build the ros wrapper. Following the steps listed on https://microsoft.github.io/AirSim/airsim_ros_pkgs/   , until catkin build. then there is an error appearing relating to Android.

I do have Android SDK installed, maybe that played a part?

I tried to make the unreal engine again, but the error persists.

[code]

[2020-09-27 02:44] GimpelZhang commented on #3043
I suggest that Unreal Engine 4.24+ would be a better start.

I mean using the lastest code (AirSim itself and the ROS wrapper) might not generate problems.

[2020-09-27 04:47] yuyangch commented on #3043
I have since figured out the problem. It's my mistake to put both AirSim and UnrealEngine directories into my ROS workspace : catkin_ws/src/

worked around it by targeting the specific package
`catkin build airsim_ros_pkgs -DCMAKE_C_COMPILER=gcc-8 -DCMAKE_CXX_COMPILER=g++-8`
`catkin build airsim_tutorial_pkgs -DCMAKE_C_COMPILER=gcc-8 -DCMAKE_CXX_COMPILER=g++-8`

@GimpelZhang although not the probl

[2020-09-27 09:46] #3043 closed

[2020-09-27 16:37] lkoelman opened #3044 "Propeller physics - simulation of thrust/lift?"
I am trying to find out how the propellor rotation is linked to the drone's movement/kinematics inside the Unreal engine.

It's not clear for me from the code (MultiRotor cpp classes) and BP_FlyingPawn blueprint how the propellor thrust vectors are passed on to the unreal engine. I see some code related to the calculation and storage of thrust/kinematic parameters in the following classes:

- Mult

[2020-09-27 16:38] BrellenZhou opened #3045 "How to output depth information to SITL?"
Hi,

I want to output airsim's depth information to Ardupilot in SITL to achieve obstacle avoidance target. Ardupilot/PX4 has already have the computer-vision based obstacle avoidance algorithm. So I want to know how to output the depth to SITL to achieve this target. I cannot find the code part where the airsim output the depth/image info to the port.

I am very confusing. Could you please give s

[2020-09-28 09:30] guicha-t opened #3046 "Move actor with Computer Vision Mode to follow another pawn"
Hello,

I work with Unreal Engine 4 (v2.24), I quickly explain my need to you. I have my own Unreal Engine project where I move a pawn programmatically. I will want to implement Airsim in this project to fix cameras and perform image processing. So I don't want to use Airsim's travels and physics (No drone, no car) so I think Computer Vision mode is perfect for my need.

I build and add the plugin

[2020-09-28 12:52] AOS55 commented on #2955
### AirSim Physics

I might open this up in a seperate issue thought I'd put it here first. Does anyone know the orientation of the following outputs from kinematics. In the current fixedwing commit the values of aero forces are becomming very large and causing an overflow/nan error. I have used the following to define each input:
- **Aircraft orientation as quaternion** `kinematics_->getState().p

[2020-09-28 12:56] yuyangch commented on #1154
Hi, I am confused here,the body frame also uses NED convention right? where z points downward, so if the drone is resting upright, shouldn't the downward pointing  z direction acceleration reads +9.81 instead of -9.81?

namely line 55 of ImuSimple.hpp:
`output.linear_acceleration = ground_truth.kinematics->accelerations.linear - ground_truth.environment->getState().gravity;`

why subtract ground_t

[2020-09-28 14:23] rajat2004 commented on #2955
Yeah, probably might be a good idea to open a new issue. I myself mostly won't be able to take a look at all this anytime soon, but hopefully others will help,
There's also another PR #2956 which might be of interest, that one also fixes an FPE which happens with extreme values with AirSim+ArduPilot Rover

ArduPilot side, as you probably already have been doing, could capture some logs and maybe a

[2020-09-28 15:38] sakaryag opened #3047 "Minimum requirements"
Is there any minimum requirements for AirSim about graphics card?
I am opening UE4 editor but after loading process it automatically close itself without showing any error or sth. My Ram:8GB ; i7 CPU Quadcore 1.73 GHz ; graphics card: NVDIA GeG_Force GT 425M ; Ubuntu 16.04
What can be the problem? Can anybody help, please?

[2020-09-28 17:18] AOS55 opened #3048 "AirSim Physics Axis Orientation"
### AirSim Physics
This is repeats the problem described in [#2955](https://github.com/microsoft/AirSim/issues/2955#issuecomment-699986829).
 Does anyone know the orientation of the following outputs from kinematics. In the current fixedwing commit the values of aero forces are becomming very large and causing an overflow/nan error. I have used the following to define each input:
- **Aircraft orie

[2020-09-29 00:10] TomAvrech opened #3049 "client.simSetVehiclePose() and then client.simGetVehiclePose() mismatch"
This is probably the same problem like in https://github.com/microsoft/AirSim/issues/1246
I managed to solve/hack it with:

client.simSetVehiclePose(some pose)
sleep(1.0)
client.simGetVehiclePose()

But, it didn't work with sleep(0.1) ... I guess simSetVehiclePose() doesn't happen right away, but added to some "TODO list"....
Is there a way to "flush" this TODO list ?

[2020-09-29 11:28] AOS55 commented on #2955
Thanks, I added #2956 into the distro but it doesn't seem to have had any effect, if anything it appears its accelerating far too much and has too much dynamic pressure i.e. runaway, (perhaps not enough drag, but L/D seems to be 5 which is pretty normal).

As I've been debugging stuff further today I think the problem may actually be to do with ground collision in fastPhysicsEngine in particular [

[2020-09-29 15:16] PeterParkerLogic opened #3050 "Error at startup: VehicleSetting for vehicle name BP_FlyingPawn_5 was requested but not found"
I followed the tutorial ( 9:27 in https://www.youtube.com/watch?v=1oY8Qu5maQQ&feature=youtu.be) to create a drone by myself.
But it turned out "Error at startup: VehicleSetting for vehicle name BP_FlyingPawn_5 was requested but not found".
I followed the method below, but it still not works.
https://www.gitmemory.com/issue/Microsoft/AirSim/1506/489733160

Please help me, Thanks

[2020-09-29 16:01] jonyMarino commented on #3041
@speedifast can you share the log file and error messages?

[2020-09-29 16:32] jonyMarino commented on #3047
I don't think this is a hardware issue and I think it is a duplicate of #3041 please follow there.

[2020-09-29 16:32] #3047 closed

[2020-09-29 17:31] jonyMarino commented on #3050
Hi! Do you get that error when tapping on play? My problem with that video is that I don't see that parameters on my Details menu

[2020-09-30 14:08] JVision opened #3051 "Block example bug- Failed to load asset class - Class'/AirSim/Blueprints/BP_DJIMavic.BP_DJIMavic_C'"
OS: Windows 10. Unreal Version: 4.23

Steps to reproduce:
1. clone airsim 1.3.1 to local path.
2. run `build.cmd` in the local path. build with success.
3. cd into (path_to_airsim_repos)\Unreal\Environments\Blocks.
4. run update_from_git.bat.
5. set the UE version of blocks.uproject to 4.23.
6. load the unreal project in Unreal Editor and click "Play"
7.  An error message pops up: Failed to load a

[2020-10-01 05:39] #3051 closed

[2020-10-01 05:40] JVision commented on #3051
It was because I have PDERA installed. PEDERA has another setting json file that loads a DJI drone. After deleting the json file of PEDRA, the problem solved.

[2020-10-01 14:13] TomAvrech commented on #2994
Any real fix to this ?

[2020-10-01 14:21] TomAvrech commented on #1710
Getting the same problem :(

[2020-10-01 16:39] jonyMarino commented on #2991
@JacopoPan Sorry for the delays in incorporating your contribution. We are making efforts so that the contributions of the community are incorporated more quickly. Could you make a pull request for this and we continue there? It will get more attention if you do that

[2020-10-01 17:52] rajat2004 commented on #3045
You can use the [Image APIs](https://microsoft.github.io/AirSim/image_apis/) to fetch the depth images, and then generate obstacle information in a format which ArduPilot, PX4 can receive, such as [OBSTACLE_DISTANCE](https://mavlink.io/en/messages/common.html#OBSTACLE_DISTANCE), or whichever other messages or capabilities are supported

[2020-10-01 17:55] rajat2004 commented on #3044
AFAIK, the Unreal Engine copter model isn't associated with the physics, the model is used for the rendering of the copter, props, etc but the physics is all handled inside FastPhysicsEngine only.
In Car vehicle, the physics is handled inside UE using PhysX

[2020-10-01 18:02] bridambuwir opened #3054 "AirSim build failed"
I tried installing AirSim on windows 10 following the steps in https://microsoft.github.io/AirSim/build_windows/ . I succesfully installed unreal engine, installed visual studio 2019. However, when i run build.cmd, i get the error below:

**********************************************************************
** Visual Studio 2019 Developer Command Prompt v16.7.5
** Copyright (c) 2020 Microsoft Cor

[2020-10-01 18:05] rajat2004 commented on #3038
Very, very strange. UdpSocket.hpp has been in AirSim since more than a year now, maybe no one has tried to do an Android build till now? Really no idea what could be causing this, while adding made sure that this was present in all the .vcxproj files etc, since the ArduPilot integration was initially done on Linux.
As a bad workaround, you could comment out the `ArduCopter` lines in [MultirotorPar

[2020-10-01 21:46] dbaldwin commented on #3038
Thanks @rajat2004 for the reply. I'll look into your suggestion. Let me add that I was able to package for Mac successfully and everything ran well, but when trying to package for iOS I ran into the exact same error. Maybe there is a different build configuration when targeting mobile devices. I'm new to Unreal Engine so I'm drinking from a firehose. I'll share what I find out.

<img width="1595"

[2020-10-02 02:43] rajat2004 commented on #3038
Might be good to post at Unreal Engine forums or something, people more familiar with UE4 and its quirks would have a better idea of whats going wrong

[2020-10-02 07:34] VC86 opened #3055 "Rendering transparent/translucent objects in DepthPerspective"
For scene re-synthesis purposes, I would need to render transparent or translucent objects such as glasses, windows, etc. so that they would show up in the DepthPerspective and SurfaceNormals image channels of AirSim.

- Unfortunately, since transparent materials do not render in the SceneDepth buffer, they will not show up by default in the DepthPerspective image (a simple check is obtained by sw

[2020-10-02 14:24] jdow749 commented on #2773
I'm having the exact same issue (also on OS - Win64, AirSim - master). In fact all of the tests in AirLibUnitTests fail.  Has anyone looked into this?  No, the linked repo didn't help, all that is doing is pulling the hello_drone project into a separate repo (missing the point).  The goal it so be able to use AirSim without any 3D environment (i.e. just get access to the drone physics without need

[2020-10-02 14:28] AOS55 commented on #2955
I've been working through debugging the physcis with the fixedwing vehicle. I have debugged most of the issues that were present in the aerodynamics side of things. I had a couple of dimensionless coefficient mistakes and was returning the aeroforce to fastPhysicsEngine in wind axis rather than body axis. This is now fixed and the force is in body axis. I still have the variables blowing up in pla

[2020-10-03 02:51] on-chip-man opened #3056 "PX4 HIL simulation in the Block project propellers don't spining"
win10 Home 1909
airsim 1.3.1
PX4 Releases 1.11.0 px4_fmu-v2_default
Unreal 4.25
python 3.8.5
VS comunity 2019

i already succeeded in block project fly the drone using simple-flight with python script ，and i also succeeded PX4 SITL simulation with WSL ubuntu 20.04, the drone just flying as the trajectory i give on the QGC.

however , when i change to HIL simulation(steps need to do wiith HIL simul

[2020-10-03 02:58] nabeelsherazi commented on #3033
Hi @jonyMarino  thanks for adding the labels, but this is actually a feature request, not a question!

[2020-10-03 07:07] AIKUUM opened #3057 "WARNING:tornado.general:Connect error on fd 2352: WSAECONNREFUSED"
Details about my system:-
![system details](https://user-images.githubusercontent.com/72294070/94985374-b8847b00-0573-11eb-86f4-df42dbe0b341.PNG)
****************************************************************************************************************************************
I downloaded AirSim-master.zip from https://github.com/microsoft/airsim. I tried to execute the code in the file "hel

[2020-10-03 09:16] rajat2004 commented on #3057
Did you actually start AirSim before running the script? If not, you can download one of the assets from the releases  -https://github.com/microsoft/AirSim/releases, or install Unreal Engine and build AirSim.
Also, side note, if posting code, please add fenced blocks like this - \``` code here \```` (triple backtick), makes it much easier to read. And no need to post the entire file if it's one th

[2020-10-03 10:20] AIKUUM commented on #3057
In the link https://github.com/microsoft/AirSim/releases, I selected airsim v1.2.8. This led me to https://pypi.org/project/airsim/. I selected AirSim Package with Python APIs. This led me to https://github.com/microsoft/airsim. In https://github.com/microsoft/airsim, I selected code---download zip to download AirSim. Then I was facing the issue as I mentioned earlier.
****************************

[2020-10-03 10:31] AIKUUM opened #3058 "Questions Regarding AirSim"
Below is the screenshot of my system details:-
![system details](https://user-images.githubusercontent.com/72294070/94989242-e1673900-0590-11eb-84b2-9adacae5caa4.PNG)

*******************************************************************************************************************************************
I have following questions about AirSim simulator:-
1) Can I control a drone or drones using

[2020-10-03 11:30] heleidsn commented on #2835
Hi, @LSBOSS, thanks for your code. I find it's slow when I request **DepthPerspective** image using
[code]
It's about 5Hz for 400*500 depth image. I even tried 100*80 depth image, it's still 5Hz.  **Is this normal or do you have any idea to get **DepthPerspective** faster?**

PS: I find if I set the` pixels_as_float = False`, it will be very fast (100Hz for 400*500 depth image), but I cannot recov

[2020-10-03 15:31] rajat2004 commented on #3057
That's just the Python API wrapper, AirSim is a simulator, so need to start that. Under `Assets`, there are zip files like `Blocks.zip`, etc. Download one of them, unzip and run the .exe in them. Then you can run the Python scripts
And see https://microsoft.github.io/AirSim/ for the documentation

[2020-10-03 15:34] rajat2004 commented on #3058
As mentioned in the other issue, please read the documentation https://microsoft.github.io/AirSim/ before opening issues.
You can do both 1,2 for multi-drone, AirSim does the simulation, but any communication between them has to be simulated on the client-side using the APIs, nothing is done inside the simulation itself

[2020-10-04 13:33] Yueting-Li commented on #2850
Hey, i am currently using Airsim on the Windows10, and i want to run px4 + ros + mavros on another machine(ubuntu). So I use a cable to connect the two computers. I set Windows ip address as 192.168.1.1, and ubuntu ip as 192.168.1.2. Here is my airsim settings.json:
{
     "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
     "SettingsVersion": 1.2,
     "SimMode":

[2020-10-05 10:33] #3046 closed

[2020-10-05 13:34] lucafei opened #3059 "server couldn't find function 'simSetCameraPose' with argument count 3"
hello, i met a problem at calling function simSetCameraPose. the error can be seen in following:

![error at running gettraindata](https://user-images.githubusercontent.com/29920326/95085754-ef978f80-071f-11eb-85bb-237753c6efa4.PNG)

ii have already checked the function simSetCameraPose is right and i built airsim in latest version. Do you know where is the problem? Thank you in advance.

[2020-10-05 14:47] PeterParkerLogic commented on #3050
Yes, I got this error, "VehicleSetting for vehicle name BP_FlyingPawn_5 was requested but not found", when I tapped on play.

[2020-10-05 19:56] Ulia-Demidova opened #3060 "SurfaceNormals image as floating point"
I want to create SurfaceNormals image as floating point pixels in pfm format. I tried:
`responses = client.simGetImages([airsim.ImageRequest("0", airsim.ImageType.SurfaceNormals, True)])
 for i, response in enumerate(responses):
        filename = os.path.join(tmp_dir, str(x) + "_" + str(i))
        if response.pixels_as_float:
            print("Type %d, size %d, pos %s" % (response.image_type, l

[2020-10-05 21:05] jdow749 commented on #2773
To follow up, I've figured out how to fix the crashes (add the following lines at [line 48 of SimpleFlightTest.hpp] (https://github.com/jdow749/HiveAirSim/blob/edec6278a661d56df3f4677359d7f94f0011e9a8/AirLibUnitTests/SimpleFlightTest.hpp#L48))

    api->setSimulatedGroundTruth(&initial_kinematic_state, environment.get());
    api->reset();
    kinematics->reset();

It appears that the api needs to

[2020-10-05 21:43] #2918 closed

[2020-10-05 23:18] Mahdi-s commented on #260
I just wanted to say thank you, Nicky and Chris, this was a great thread!

[2020-10-06 09:37] AIKUUM commented on #3057
I downloaded all the 11 windows assets from https://github.com/microsoft/AirSim/releases. I cant find python files in any of the zip files except in AirSim-1.3.1-windows.zip. In Blocks.zip, there is an exe file named Blocks.exe. When I run Blocks.exe, the simulator opens, and I can drive a car manually in an unrealistic environment. But when I try to execute "hello_drone.py" in "AirSim-1.3.1-windo

[2020-10-06 11:47] Yueting-Li commented on #2954
Hey, i am currently using Airsim on the Windows10, and i want to run px4 + ros + mavros on another machine(ubuntu). So I use a cable to connect the two computers. I set Windows ip address as 192.168.1.1, and ubuntu ip as 192.168.1.2.

Then I successfully run PX4 on ubuntu machine and connected to Airsim. But when I tried to bring Airsim ROS nodes into the picture, it doesn't work. I just changed "

[2020-10-06 12:14] Yueting-Li commented on #2850
Hey, i am currently using Airsim on the Windows10, and i want to run px4 + ros + mavros on another machine(ubuntu). So I use a cable to connect the two computers. I set Windows ip address as 192.168.1.1, and ubuntu ip as 192.168.1.2.

Then I successfully run PX4 and mavros on ubuntu machine and connected to Airsim. But when I tried to bring Airsim ROS nodes into the picture, it doesn't work.
I jus

[2020-10-06 15:58] p3jawors opened #3061 "Running simulation synchronously with pwm and wind"
Ubuntu 16.04
Airsim latest master branch on commit 05a9625ca8391db50a152ad7882b08c02061f0b9
Python 3,5,2
Unreal 4.24.1-0+++UE4+Release-4.24

I have been running a simulation using pwm control, and recently added the new wind functionality. I have been using `client.moveByMotorPWMsAsync(pwm0, pwm1, pwm2, pwm3, dt).join()` to run the pwm control. I notice when I add a delay to my control loop (`time

[2020-10-06 17:16] jonyMarino commented on #3054
Hi! From the errors it seems that you have to add C:\WINDOWS\SYSTEM32 to the PATH env in windows.
tell me how it was!

[2020-10-06 18:15] jonyMarino commented on #3057
As rajat said there are 2 steps to run an airsim script:
1_ Start a simulation (for example run Blocks.exe (and if you want to use the drone tap on "no" in the prompted window))
2_ Run the script ( for example hello_drone.py if you are simulating a drone or  hello_car.py if you are simulating a car )

[2020-10-06 18:34] jonyMarino commented on #2773
Hi @jdow749, may be #2558 can help you

[2020-10-06 19:40] jdow749 commented on #2773
jonyMarino, thanks for the suggestion! Looks like [commit 9c4e59d1a2b371ebc60cdc18f93b06cbe3e9d305](https://github.com/microsoft/AirSim/pull/2558/commits/9c4e59d1a2b371ebc60cdc18f93b06cbe3e9d305) does show a little bit more about how the params are loaded from the json settings file, but unfortunately it doesn't do anything with the drone once it is created (unless I'm missing something).

As an u

[2020-10-07 02:08] Moj-Dev opened #3062 "AirSim Blocks environment crashes on Ubuntu"
During running the [DQNdrone.py](https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/DQNdrone.py) on Ubuntu18.04, UE4 crashes. I tried both versions 23 and 24, got the same error. Any ideas?

here is the crash report:
LoginId:62c709579e914f2a85c85fc9f38b709d-000003ec
EpicAccountId:

Assertion failed: Index < GetMaxIndex() [File:Runtime/Core/Public/Containers/SparseArray.h] [Lin

[2020-10-07 03:49] AIKUUM commented on #3057
@jonyMarino, I'm aware of both the procedures which you have mentioned. But for running a script (for example:- hello_drone.py). I'm facing the issue as I had mentioned in https://github.com/microsoft/AirSim/issues/3057#issue-714024908

[2020-10-07 06:03] rajat2004 commented on #3057
If you have the simulation running and the example scripts still show the connection refused error, it might be a problem with the Windows Firewall or Defender, try disabling them and and test again.

[2020-10-07 08:09] ysteen commented on #3062
I was using airsim ros wrapper and got the same issue.
when I just open the airsim_node  with unreal engine this problem happened.
my environment is ubuntu 18.04 and UE4.25 with ros melodic

[2020-10-07 10:00] lucafei opened #3063 "vibration of multirotor happend at flying"
hello, guys, i met a problem at flying multirotor. When i set a goal position to multirotor and run the airsim to fly. The multirotor will begin to vibrate at flying. This cause finally in programm stopping. I recorded this case and you can clearly see the problem in following
![vibration at running airsim2](https://user-images.githubusercontent.com/29920326/95316841-9dc44600-0894-11eb-8b3e-8e8035

[2020-10-07 11:53] lucafei commented on #3054
you should run command build.cmd in Developer Command Prompt for VS 2019. Did you try this?

[2020-10-07 12:51] wolf843 commented on #3057
I am currently running into the WSAECONNREFUSED error when using PythonClient as well (with disabling all firewalls). I can however execute all of the other scripts. Curious to if anyone has any solutions.

[2020-10-07 15:44] rajat2004 commented on #3032
You could perhaps try out #3064, the changes which it reverts might be causing the crash

[2020-10-07 15:47] rajat2004 commented on #3033
Hmm, seems interesting, so you mean like switching the main viewport camera to follow different vehicles based on shortcut keys. Currently there's support for multi-vehicle in subwindows, it only allows viewing prespecified camera views though so limited in functionality

[2020-10-07 15:56] shyamalschandra opened #3065 "Are there instructions to use AirSim with Unity beta release with Mac Catalina?"
Are there instructions to use AirSim with Unity beta release with Mac Catalina?

[2020-10-07 18:35] rajat2004 commented on #3062
Maybe try out #3064, that could be causing the crashes

[2020-10-07 21:00] Kacper777777 opened #3066 "City environment, where are these moving vehicles?"
I downloaded binaries for "City" environment for AirSim from here https://github.com/Microsoft/AirSim/releases and I am able to run this. But in the city there are no moving vehicles. I want to collect data while driving in the city where there is some traffic. But there is no traffic. And when I press F1 to see help I can only see some options to change weather and cameras.

[2020-10-08 02:49] Rutsow opened #3068 "Does the position of camera keep same while the drone yaws left/right?"
setting.json:
{
  "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
  "SettingsVersion": 1.2,
  "SimMode": "Multirotor",
  "ViewMode": "Manual"
}
I try to get the depth image(144x256) of two consecutive conditions. In the case of yaw right (5 degrees), the right half of the previous image should ideally be the same as the left half of the next image. But the results

[2020-10-08 03:53] nabeelsherazi commented on #3033
Correct! I'm currently trying to use Airsim to look at swarming behaviors, but it is a bit hard to know what other agents are doing. Maybe a shortcut key that would toggle the camera between each of the agents present in the sim (doing nothing if there's only 1 agent of course)?

Also, I think I could try tackling this myself, but I'm not at all familiar with the codebase so it would take me some

[2020-10-08 05:28] AIKUUM commented on #3057
@wolf843, which other scripts are you talking about?? Python scripts?

[2020-10-08 06:57] RinR0000 opened #3069 ""moveByRC" doesn't work."
Hello.

I'm having a problem, please help me.

I'm trying to control a drone with an xbox controller using the API, but the "moveByRC" in the API doesn't work.
The "moveByRC" in the API does not work.

I checked the API and found out that
It said not available by default.

How can I use it?

![image](https://user-images.githubusercontent.com/72266355/95425224-e7895b00-097e-11eb-9742-388838885aac.P

[2020-10-08 08:40] lucafei commented on #3061
do you have already solved this problem now？ i have recently also met this.

[2020-10-08 09:04] LiorRaines commented on #2857
I had the same problem, installing msgpack-python solved it for me

[2020-10-08 09:12] cdbharath opened #3070 "low image fps while using simGetImage python API"
I am trying to apply image processing techniques on image stream received from simGetImage API. I want an image stream of 30 fps. But the image stream I get from simGetImage gives an fps of 10-12. The simulation fps (50 fps) is good when simGetImage API is not used.

My code (ROS wrapper):

    self.image_publisher_rate = 0.01
    rospy.Timer(rospy.Duration(self.image_publisher_rate), self.image_p

[2020-10-08 10:22] #3066 closed

[2020-10-08 10:23] Kacper777777 commented on #3066
There are no vehicles in the newest 1.3.1 version

[2020-10-08 10:38] niekvleeuwen commented on #3069
I have noticed while working with `moveByRC` that the drone does not respond when you have activated the API for the drone. Also, make sure that the fields `is_valid` and `is_initialized` in [RCData](https://github.com/microsoft/AirSim/blob/b7a65bb7f7a9471a2ec0ce6f573512b880d3197a/AirLib/include/common/CommonStructs.hpp#L259) are set to true. There is an example with manual mode for python [here](

[2020-10-08 11:04] RinR0000 commented on #3069
@niekvleeuwen

Thank you for the quick answer.
I tried the code in the link you gave me, but
"moveByManualAsync" will raise it infinitely.

Also, the API code says it's not available by default, does that mean I can use ""moveByRC""?

[2020-10-08 12:51] niekvleeuwen commented on #3069
Yes it is possible to use the `moveByRC` function in the current AirSim version. See also [this](https://github.com/microsoft/AirSim/blob/c340b7653efd22cefe2ae3f9110daf87d3fc6ae9/AirLib/include/vehicles/multirotor/firmwares/simple_flight/SimpleFlightApi.hpp#L106) line where the code is implemented. Below is an example of working code (in c++).
[code]

[2020-10-08 14:34] wolf843 commented on #3057
@AIKUUM I was able to locate the cause of my issue... the port number passed into PythonClient did not match with the simulator port in my setup. Since I made the correction I have not experienced connection issues.

[2020-10-08 19:42] p3jawors commented on #2914
Is there any update on this? I'm still getting innacurate velocity feedback when compared to the derivative of position feedback. Any insight to this problem is greatly appreciated.

[2020-10-09 02:49] AIKUUM commented on #3057
@wolf843, where do we check the simulator port? and In which file will the port number be mentioned in PythonClient folder?

[2020-10-09 06:50] bridambuwir commented on #3054
Thank you! This was indeed the issue. All sorted now.

[2020-10-09 16:49] #3054 closed

[2020-10-09 17:44] #2968 closed

[2020-10-09 17:47] #3014 closed

[2020-10-09 17:48] #2974 closed

[2020-10-09 17:52] #2722 closed

[2020-10-09 17:54] m1baldwin opened #3071 "Camera frame rate over ros topic changes if UE Editor is minimized."
I am testing the rate at which I can get images over rostopic from the airsim wrapper package. I noticed that when I run the simulation, run the airsim wrapper, and keep the Unreal Editor viewport open - on my screen - I get a reasonable FPS.

However, if I then minimize the Unreal Editor window, the measured frame rate of the image topic begins to drop. If I click on the UE Editor to bring it bac

[2020-10-09 17:54] #1709 closed

[2020-10-09 17:57] #1828 closed

[2020-10-09 17:57] #2896 closed

[2020-10-09 18:00] jonyMarino commented on #2910
Hi @harris-mohamed. The simplest way to do it is just to copy paste the HelloCar project, change its name and add it to the AirSim solution.
Tell me how it went!

[2020-10-09 18:02] #1028 closed

[2020-10-09 18:02] #1093 closed

[2020-10-09 18:05] #2045 closed

[2020-10-09 18:05] m1baldwin commented on #3070
@cdbharath There are a couple "tricks" you can do to get slightly higher frame rates.

1. change the "ViewMode" setting in the settings.json file to "NoDisplay". You won't be able to watch the simulation in the view port, but I think this allows you to get slightly more out of the FPS.
2. I have seen that I get higher FPS when I have the UE Editor in the foreground. If I minimize it, I see it drop

[2020-10-09 18:06] m1baldwin commented on #3070
Also, the FPS rate of Airsim is something under pretty active development by many working on this project. It has already gotten much better over the past couple months but still needs some improving.

[2020-10-09 18:07] #2961 closed

[2020-10-09 18:09] jonyMarino commented on #1940
closed due to inactivity. Please feel free to reopen for your last question.

[2020-10-09 18:09] #1940 closed

[2020-10-09 18:27] p3jawors commented on #3061
I'm noticing different flight performance under different computer loads. For example, if I have many chrome tabs open using ram and cpu, my quadrotor will not fly repeatedly. I will get different performance between the exact same tests. Under higher load it becomes completely unstable and can not fly at all. This is making me think that either, the simulation isn't deterministic, or things are r

[2020-10-10 06:08] AIKUUM opened #3072 "closing of an issue"
@jonyMarino, https://github.com/microsoft/AirSim/issues/3058#issue-714060232 issue has been closed. Please give freedom to the authors to close the issue.
Well, I'm new to gitHub. So please let me know what the need was to close the issue.

[2020-10-10 06:23] AIKUUM commented on #3072
@rajat2004, In regard to the issue, https://github.com/microsoft/AirSim/issues/3058#issue-714060232, I forgot to mention the other day. When I try to simulate a drone environment, I don't know how to fly a drone using keyboard. I can just change the view(ground observer, up, down, left, right etc.) with respect to the drone. Please let me know what keyboard controls I should use to fly a drone.

[2020-10-10 14:24] ningzian commented on #3059
I have got the same problem, and solved it by update airsim. You can try with https://microsoft.github.io/AirSim/unreal_custenv/#updating-your-environment-to-latest-version-of-airsim

[2020-10-10 15:17] RinR0000 commented on #3069
＠niekvleeuwen

Sorry for the late reply.

I've moved the code you pushed, but the drone still won't work.

TakeoffAsync, etc. works, but
moveByRC does not work.

What could be the cause?

[2020-10-10 16:57] system1712 commented on #3072
#3058

[2020-10-10 16:59] system1712 commented on #3070
self.image_publisher_rate

[2020-10-11 03:06] tharindurmt commented on #1708
I'm having the sort of the same issue. Following is my setup, the issues I had and the things I have tried so far.

Ubuntu: 18.04
UE: 4.24 and 4.25 (Everything described below was tried in both versions)
GPU: RTX 8000 and RTX 6000 (two each)
Nvidia driver version: 450.66

Following are the ways I tried to launch UE Editor.
1. X11 forwarding enabled putty ssh session: with standard vulkan and then

[2020-10-11 09:40] bravepaulo opened #3073 "ROS wrapper package: Image encoding if vulkan is used. There is incompatibility between ".h" comment and ".cpp" implementation"
Hello everyone.
I am using the ROS warppers package and I came across with something that I really did not understand.
In airsim_ros_warpper.h file there is the following comment for the variable is_vulkan:

// rosparam obtained from launch file. If vulkan is being used, we BGR encoding instead of RGB

But when we check the airsim_ros_wrapper.cpp, we have the following piece of code:

 img_msg_ptr

[2020-10-11 11:32] cdbharath commented on #3070
@m1baldwin I tried all your suggestions

1. Changing "ViewMode" didn't have any effect in the Unity simulation (It didn't stop the viewport. The simulation is still visible). I dont think the "ViewMode" parameter in the settings.json file is parsed by Unity. (It worked with prebuilt binaries though)
2. I use Unity Editor. This option didn't provide mnuch difference in the FPS
3. Yeah decreasing th

[2020-10-11 20:56] Amigoshan opened #3074 "IMU data generation error for the linear acceleration?"
When collecting the IMU data, I found the changing range of linear accelerations of x and y direction are always very small (usually below 0.1) while z acceleration looks normal (bigger than 1). I did a little debugging and found that the gravity direction seems to be the opposite.
Specifically, in the ImuSimple.hpp, it is:
`output.linear_acceleration = ground_truth.kinematics->accelerations.linea

[2020-10-12 00:24] laurelkeys commented on #1441
Hey @nikonodein did you happen to open-source your integration with ZeroMQ? I was starting to look into it, for reasons similar to those you mentioned (passing large images, with real-time constraints). Thanks!

[2020-10-12 06:15] AIKUUM commented on #3057
@rajat2004, Can you mention the names of files in which such configurations should be done?

[2020-10-12 06:31] AIKUUM opened #3075 "Online course/training on AirSim simulator"
Is there some online course/training available for learning AirSim simulator?

[2020-10-12 11:01] EivindYN opened #3076 "PX4 v1.11.1 don't work with AirSim"
How to reproduce:
* Clone PX4/Firmware tag v1.11.1 (9fcbf18)
* Clone Microsoft/AirSim v1.3.1 (d59ceb7)
* Go to the Firmware folder and run "make px4_sitl_default none_iris"
* Change your Documents/settings.json to:
[code]
* Go to AirSim/Unreal/Environment/Blocks and then:
  * Run update_from_git.bat
  * Run GenerateProjectFiles.bat
  * Open Blocks.sln and set Blocks as startup project, and click P

[2020-10-12 16:04] HemaZ commented on #2407
any updates??

[2020-10-12 16:24] jonyMarino commented on #3072
Hi @AIKUUM! Rajat's answer seemed sufficient to me. If you have already read the documentation and still have questions, you can ask it in that issue and it will be reopened. I apologize if it was very drastic but in general these types of issues are forgotten in the repository for a couple of years.

[2020-10-12 19:43] BrellenZhou opened #3077 "How to get the depth image from the SGM algorithm implemented in AirSim stereo code?"
Hi,

I saw in the airsim code, there is a stereo function implemented, stereosgm.cpp. If I am the vision from front_left and front_right, how can I have the depth output from stereosgm?

Thank you.

[2020-10-12 20:35] jonyMarino commented on #2985
Treated in #2704. Treating here gives minus attention

[2020-10-12 20:35] #2985 closed

[2020-10-13 04:22] AIKUUM commented on #3072
I would never know when which person would come up with what types of answers. Its possible that I might get different types of answers from different people. So I dint close the issue. Referring to https://github.com/microsoft/AirSim/issues/3058#issue-714060232, as you can see @rajat2004 had told that its possible to fly a drone using keyboard controls. But according to https://github.com/microso

[2020-10-13 04:51] rajat2004 commented on #3072
Yes, really sorry for the somewhat misleading response, keyboard control for drone is currently not possible. I was referring to using remote control for the drone control

[2020-10-13 05:02] #3072 closed

[2020-10-13 06:46] #3057 closed

[2020-10-13 09:25] AIKUUM opened #3078 "Press any key to takeoff"
I opened the exe file in City.zip asset. Then I executed the hello_drone.py in PythonClient. Execution happens till printing of the statement "Press any key to takeoff". I tried pressing some keys. But nothing happened. Below the output of the execution:

_**_runfile('E:/AirSim/AirSim assets/AirSim-1.3.1-windows/AirSim-1.3.1-windows/PythonClient/multirotor/hello_drone.py', wdir='E:/AirSim/AirSim a

[2020-10-13 11:59] m1baldwin commented on #3070
@cdbharath Thanks for the follow-up. Some of the improvements are in the main repo, but some have also been removed due to causing Urneal engine to fail. I think predominantly they were for the Unreal engine use cases so not sure how much they will help you. I'm not familiar with using Unity in this case.

[2020-10-13 15:55] jonyMarino commented on #3072
@AIKUUM I apologize. I reopen the issue and close it when you see fit. We are here to help us!

[2020-10-13 17:24] jonyMarino commented on #3063
Thank you @lucafei for the record. dup of #1394?

[2020-10-13 18:31] jonyMarino commented on #3061
May be this comment can be helpfull for you: https://github.com/microsoft/AirSim/issues/2974#issuecomment-683321580

[2020-10-13 19:16] jonyMarino commented on #3075
AFAIK Not for now. There are some very good videos on youtube, it depends what you want to do. The idea is to have a channel in the future

[2020-10-13 19:25] jonyMarino commented on #3076
Thank you for your detailed post. We are dealing with this here: https://github.com/microsoft/AirSim/issues/2477#issuecomment-688772216
please continue there!

[2020-10-13 19:25] #3076 closed

[2020-10-14 06:42] Melvin-leo opened #3079 "Implementing custom Airsim environment from your release especially on Linux"
Hi, one major question here,

you mentioned about custom environments like mountain landscape or soccer field that are included in the release v1.3.1. How are we going to create this custom environment. Even if we follow https://microsoft.github.io/AirSim/unreal_custenv/, the environments available are only in the marketplace, to create project. How are we going to use the custom environment airsi

[2020-10-14 09:42] Yueting-Li commented on #2856
Hi,
I am running px4 sitl. And I want to use ORB SLAM to map Unreal envionment. I start airsim_ros_wrapper node to get images from unreal envionment, then I use xbox to control drone but unfortunately the uav suffers great instability. If I close airsim node, the drone can return to stable state. Can anybody give me some suggestions?
Thank you!

[2020-10-14 10:46] manthan99 commented on #2856
Hi @Yueting-Li
Try changing the flight mode to position control mode using the QGround Control App. It will be much more stable than the default stabilized  flight mode

[2020-10-14 11:35] Yueting-Li commented on #2856
Thank you! @manthan99
Actually I have changed to position control mode. If I just run px4,  everything is ok. But if I run airsim_node.launch in the meantime, the drone would fly without control. It confused me for a long while.

[2020-10-14 11:41] manthan99 commented on #2856
@Yueting-Li , What settings.json are you using? Have you changed the settings according to PX4 instead of simple Flight controller?

[2020-10-14 12:01] Yueting-Li commented on #2856
@manthan99
My settings.json is as follows:
{
     "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
     "SettingsVersion": 1.2,
     "SimMode": "Multirotor",
  "Vehicles": {
    "mav": {
      "VehicleType": "PX4Multirotor",
      "UseSerial": false,
      "LocalHostIp": "192.168.1.1",
      "SitlIp": "192.168.1.2",
      "SitlPort": 14556,
      "UdpIp": "192.168.1

[2020-10-14 12:03] Yueting-Li commented on #2856
@manthan99,
My settings.json is as follows:
{
"SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
"SettingsVersion": 1.2,
"SimMode": "Multirotor",
"Vehicles": {
"mav": {
"VehicleType": "PX4Multirotor",
"UseSerial": false,
"LocalHostIp": "192.168.1.1",
"SitlIp": "192.168.1.2",
"SitlPort": 14556,
"UdpIp": "192.168.1.2",
"UdpPort": 14560,
"QgcHostIp": "192.168.1.2",
"QgcP

[2020-10-14 17:25] blakermchale opened #3080 "Ardupilot with Hardware in the Loop"
I am currently running unreal engine and using ArduPilot on a Pixhawk 4. I saw there was support for setting up hardware in the loop (HITL) with PX4, but could not find anything on ArduPilot support besides the software in the loop (SITL). Has anyone configured Ardupilot for HITL with AirSIm? If so, how did you do that and what control ports did you set in the settings.json?

[2020-10-15 00:22] jpapon commented on #2850
If anyone comes across this trying to get ROS working in WSL, you'll need to set the host machine IP here:
[code]
This is the actual IP address of you Windows machine - similar to how you set up X forwarding, you can't use localhost.

This worked for me - before I did it, I could see topic names, but no data came out of Unreal.

[2020-10-15 08:08] seanmcleod commented on #2955
@AOS55 your other general option is to make use of an external simulation engine like JSBSim for the aerodynamics and physics modeling rather than re-implementing most of it within AirSim's physics engine. Then use the pose data from JSBSim to drive AirSim in computer vision mode in order to retrieve high-fidelity camera images for computer vision machine learning etc.

I sent you an email a coupl

[2020-10-15 09:01] AOS55 commented on #2955
@seanmcleod thanks your email had indeed gone to my spam inbox, response now in your inbox. I think this certainly a good idea and I'll aim take a closer look over the next week.

[2020-10-15 10:10] AOS55 commented on #3048
Believe I have solved this body force is defined in body axis therefore aeroforces are defined in wind and then converted to body. I have changed [fastPhysicsEngine](https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/include/physics/FastPhysicsEngine.hpp#L365) to include a different implementation, importantly I now use a simple euler time-marching method as an integrator for the EoMs ie `xdo

[2020-10-15 10:10] #3048 closed

[2020-10-15 14:14] niekvleeuwen commented on #3069
What does your `settings.json` look like? I have set the `RemoteControlID` to -1.

[code]

[2020-10-15 15:47] jonyMarino commented on #2955
Hi @rajat2004! It is something we are already discussing. In my opinion is something necessary.  Will update.

[2020-10-15 21:07] doublestrong opened #3081 "degrees in setting.json should be converted to radians in the ros wrapper?"
https://github.com/microsoft/AirSim/blob/d59ceb7f63878f5e087ea802d603ba0fd282ff56/ros/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp#L1275

hi,

when I played with the ROS wrapper, I found the orientation of a vehicle I rendered in rViz is different from that in UE4editor. I guess UE4editor reads angles as degrees from setting.json but the tf2::Quaternion::setRPY in the ROS wrapper reads them by r

[2020-10-16 07:22] bravepaulo commented on #3080
Hi @blakermchale.
Have you tried to use the same parameters that are proposed in PX4 example?
I have worked with HITL using Airsim and PX4, maybe the settings on json file work out for ADP as well.

[2020-10-16 09:47] manthan99 commented on #2856
@Yueting-Li Sorry for the late reply. Seems fine. I was using almost similar settings and was getting a quite stable flight in the position-controlled mode. I assume that you are using the "airsim_node.launch" file and not the other launch files (since some of them are for controlling the drone using ros commands)
Let me know if you find a solution

[2020-10-16 18:58] jonyMarino commented on #3050
I confirm this is happening on master (d59ceb7)

[2020-10-16 19:51] jonyMarino commented on #2695
@MSBGit I'm not sure if was fixed in UE 4.24.3 but I'm not getting NaN never. Can you confirm?

[2020-10-17 05:55] blakermchale commented on #3080
Hi @bravepaulo,
I tried that but it returns back `Error while receiving rotor control data - ErrorNo: -1`. One step that I cannot find an alternative for is the `selecting the HIL Quadrocopter X airframe` for pixhawk 4. Any ideas?

[2020-10-17 09:19] lucafei opened #3082 "Is GPS data from AirSim in WGS84 Coordinate？"
Hi, everyone, i want to ask the gps data from airsim is calculated in WGS84 coordinate?

[2020-10-17 16:49] neeraj310 opened #3083 "Airsim on Ubuntu 20.04"
Hi Team

I am starting out to work with Airsim for a university project. I will be working with Ubuntu 20.04 and want to know if there are any known issues working with Ubuntu 20.04, as officially only Ubuntu 18,04 is supported.

Neeraj

[2020-10-18 01:45] kensuke1921 opened #3084 "I want to"
# Read This First

## If you are reporting a bug
* Make sure to write **all reproduction steps**
* Include full error message in text form
* Search issues for error message before filing issue
* Attach screenshot if applicable
* Include code to run if applicable

## If you have question
* Add clear and concise title
* Add OS, AirSim version, Python version, Unreal version if applicable
* Include c

[2020-10-18 01:45] kensuke1921 opened #3085 "How can I increase the acceleration?"
Even though I give the full throttle, I can just accelerate 1km/h per second.
So how to speed up faster...
Please help me...

[2020-10-18 07:20] yzexeter commented on #613
This solves my problem. I am using windows v1.3.1, and the "build.cmd" can not download Eigen from bitbucket. I checked the url provided by @lovettchris , not existing anymore.

To those who have the same trouble, go to Eigen official website and download it manually. Unzip it and copy the Eigen folder(which is located under the eigen-X.X.X, version num, folder) into Airlib/include directory. Done

[2020-10-19 03:08] RinR0000 commented on #3069
＠niekvleeuwen

Sorry.

I used the setting.json and source code you told me about, but it didn't work.

[2020-10-19 07:05] weigangwen commented on #3084
I think the record button may help you to solve this problem.When the car is running, click the red button at the bottom right corner of the screen.

[2020-10-19 07:42] weigangwen opened #3086 "how to record the segmention images"
When the car is running and clicking the record button,we can record the images from front camera. But I want to record the segmention images, what should I do?

[2020-10-19 07:58] #3086 closed

[2020-10-19 09:13] tensarflow commented on #2955
Wow really awesome stuff you guys are doing there, appreciate it!
I was using gazebo for fixed wing UAV simulations occasionally for several years. Since I would like to do some realtime computer vision I would like to have a photorealistic environment within the simulation too. That's when I came across this thread.
It is not really clear though, what the current status is since your first commen

[2020-10-19 09:18] seanmcleod commented on #2955
I mentioned that option, although I suggested using JSBSim for running the physics/aerodynamics, see my comment a couple of comments back - https://github.com/microsoft/AirSim/issues/2955#issuecomment-708978788

[2020-10-19 11:21] lberridge1992 opened #3087 "Unity PX4 SITL Accel and Gyro Timeout"
I've been trying to get PX4 SITL working with Airsim using Unity and have encountered an issue with gyro and accelerometer timeouts happening as soon as the sim is connected (see attached image). I'm a bit stumped by this so thought I would ask here. I'm using the latest Airsim master branch and PX4 firmware v1.10.1, both are running on a Windows VM, cygwin toolchain for executing px4 sitl.

From

[2020-10-19 16:36] jonyMarino commented on #2835
I think #3018 would help

[2020-10-19 16:44] jonyMarino commented on #3085
This is a dup of #1389 please continue there.

[2020-10-19 16:44] #3085 closed

[2020-10-19 17:03] jonyMarino commented on #3084
with getCarState() you get a state instance with a speed attribute. You can  then save to a file or list

[2020-10-19 17:11] jonyMarino commented on #3087
Hi! May be this is not related with Unity. We have an incompatibility with that PX4 version for the moment https://github.com/microsoft/AirSim/issues/2477. May be this is a dup?

[2020-10-19 17:17] jonyMarino commented on #3001
@machinil I think this is not an issue any more

[2020-10-19 17:25] jonyMarino commented on #1330
Closed due to inactivity. Doc update pending

[2020-10-19 17:25] #1330 closed

[2020-10-19 17:26] jonyMarino commented on #1272
Closed due to inactivity. Doc update pending

[2020-10-19 17:26] #1272 closed

[2020-10-19 17:27] jonyMarino commented on #2533
Issue resolved. Doc update pending

[2020-10-19 17:27] #2533 closed

[2020-10-19 17:30] jonyMarino commented on #941
Issue solved. Doc update pending

[2020-10-19 17:30] #941 closed

[2020-10-19 17:31] jonyMarino commented on #672
Closed due to inactivity. Doc update pending

[2020-10-19 17:31] #672 closed

[2020-10-19 17:37] jonyMarino commented on #1207
The current recommended and tested environment is Ubuntu 18.04 LTS. This PR #3067 has instruction for 20.04

[2020-10-19 17:37] #1207 closed

[2020-10-19 17:40] jonyMarino commented on #1844
Closed due to inactivity. Doc update pending

[2020-10-19 17:40] #1844 closed

[2020-10-19 17:48] jonyMarino commented on #1325
closed due to inactivity. Doc update pending

[2020-10-19 17:48] #1325 closed

[2020-10-19 17:48] jonyMarino commented on #877
closed due to inactivity. doc update pending

[2020-10-19 17:48] #877 closed

[2020-10-19 17:50] jonyMarino commented on #1343
Issue solved. doc update pending

[2020-10-19 17:50] #1343 closed

[2020-10-19 17:52] jonyMarino commented on #1055
closed due to inactivity. doc update pending

[2020-10-19 17:52] #1055 closed

[2020-10-19 23:26] kensuke1921 opened #3088 "I want to increase the speed of the vehicles."
The maximum speed of my vehicle is only about 60 km / h.
I want to drive the vehicle faster.
I think I have to change the program of AirSim but I can't understand how to change.
Please help me....

[2020-10-20 05:00] AIKUUM commented on #3078
@rajat2004, Can you give me a hint to proceed?

[2020-10-20 07:31] lberridge1992 commented on #3087
Hi Jony, thanks for the reply and heads up. I've actually tried running the same PX4 config with the built-in simulator jmavsim and get the same timeout messages on my setup too so expect it's something to do with my VM config rather than Airsim. Cranking the time-out values up stops the errors being displayed but then I get unstable flight assumingly because the sensors aren't updating quickly en

[2020-10-20 18:29] rajat2004 commented on #3078
@AIKUUM It's working fine for me on Linux with the latest binary, I'm not on Windows currently so can't test that though.
The data is appearing, so the API is working. Only thing I can think of is that the settings might have been modified, such as `AllowAPIAlways` being set to `false` in settings.json. Or the script being modified and the vehicle is not armed.

[2020-10-20 20:52] mhl787156 opened #3089 "How to 'kill' a drone programatically"
Hi again!

I'm working on building a reliability and redundancy test platform for multi-uav systems. As part of this I need to simulate failures. Whilst I could get complicated, currently I just want something to get a particular drone to drop out the sky.

Is there a particular function I could use which could interrupt everything and get the drone to fall?

Is this something I'd have to modify A

[2020-10-21 05:24] rajat2004 commented on #3089
Hmm, interesting
Drone falling out of the sky could essentially be all the motors stopping, could try using [movebymotorPWMs](https://github.com/microsoft/AirSim/blob/master/PythonClient/airsim/client.py#L908) and set everything to 0

[2020-10-21 05:58] yx0123 opened #3090 "Missing PATH_TO/AirSim/ros/devel"
I'm following the AirSim ROS tutorial https://microsoft.github.io/AirSim/airsim_ros_pkgs/. After running `catkin build -DCMAKE_C_COMPILER=gcc-8 -DCMAKE_CXX_COMPILER=g++-8` , there is no PATH_TO/AirSim/ros/devel  directory generated and thus I am unable to proceed with the next step `source devel/setup.bash`. What am I doing wrong?

[2020-10-21 06:37] krisklau commented on #2477
Any updates on px4 v1.11 compatibility?

[2020-10-21 07:46] GimpelZhang commented on #3090
What's the output of your "catkin build" command?

And have you tried the "catkin_make" instead?

[2020-10-21 08:32] mhl787156 commented on #3089
Okay yeah, I'll give that a go,

Just to check, I'm currently using airsim_ros_wrapper + ros however I want some of the functionality offered by the python client. It's a bit of a hack, but I have basically wrapped the python client in a rosnode exposing a few services for things like get_object_pose.

Is this safe to use at the same time as the airsim_ros_wrapper? I dont know how the server treat

[2020-10-21 15:01] coutyou opened #3091 "What do POS_X,POS_Y,POS_Z,Q_W,Q_X,Q_Y,Q_Z mean in airsim_rec.txt?"
I can't find any explaination in the documents......

[2020-10-22 08:00] ColineMoinet opened #3093 "How to make humans raise their arms?"
Hello,

For my project, I need to make humans raise their arms when they walk in the streets.
Do you have a solution to do that?

Regards,

CM

[2020-10-22 09:50] Jaeyoung-Lim commented on #2477
@jonyMarino  Are there any activity to resolve this and preventing it from happening again?

[2020-10-22 11:48] lucafei commented on #3091
the first three item describe the position of multirotor. the last items are from a quaternion, which representes the orientation of multirotor

[2020-10-22 15:54] blakermchale opened #3095 "AirSim with ROS WSL2 Connection Error"
I've been trying to connect my WSL2 ROS instance to AirSim on Windows. The settings.json I am using is `front_stereo_and_center_mono.json` from `airsim_tutorial_pkgs`. When I run the command `roslaunch airsim_ros_pkgs airsim_node.launch output:=screen host:=$WSL_HOST_IP` it gets connected, but starts outputting this error:

[code]

Currently, I am using Ubuntu 20.04 in WSL2 and have confirmed that

[2020-10-22 16:07] jonyMarino commented on #2477
Hi @Jaeyoung-Lim! Compatibility with PX4 is a major concern. We are not working on this right now, but I will update if no one from the community posts a pull request.

[2020-10-22 16:12] Jaeyoung-Lim commented on #2477
@jonyMarino This has been broken for over a month, I think it is safe to assume no one is trying to fix it in the community?

[2020-10-23 01:48] coutyou commented on #3091
thankss for your answering! 😊

[2020-10-23 01:49] coutyou commented on #3091
thanks! ☺️

[2020-10-23 07:19] Handsome-cp opened #3096 "where can we find function: "commandRollPitchYawrateThrottle()""
where can we find function: "commandRollPitchYawrateThrottle()" used in AirLib abount multirotor API, thank you!

[2020-10-23 11:22] eduardkieser commented on #3027
Hi, @yuyangch Have you made any progress in this? I need the same for the rangefinder sensor. I.e. set sensor pose relative to the vehicle in real-time. Unfortunately I have almost no c++ experience, so any tips would go a long way.

[2020-10-23 12:52] lucafei opened #3097 "how to use the sepcified setting.json?"
hello, i met a problem at using airsim. By now i installed two different versions of airsim. One is installed by using pip install airsim=1.3. Another version is generated by rebuilding the airsim, because i want to use the latest feature. But i find when i run unreal environment with different version airsim plugin. it always use the different setting.json file. for the with pip installed airsim

[2020-10-23 14:12] avcuenes commented on #1781
Hi I am using windows how can I do it

[2020-10-24 22:16] lucafei opened #3098 "how to record image at flying a multirotor simultaneously"
hello, everyone. i want to recording the scene image and segmentation image at flying simultaneously. But when i executed the following codes, it always stay at recording image and can not move to desired position.
def record_image(multirotorclient):
    image_id = 0
    while True:
        responses = multirotorclient.simGetImages([
            airsim.ImageRequest("0", airsim.ImageType.Segmentati

[2020-10-25 13:11] lucafei opened #3099 "how to set the color of segmentation image"
i want to get and set the color of segmentation image. Do you know how to set the color of segmentation parts and get the color of  segmentation, because now the image api don't provide function to deal with this. It seems like the color to segmenation is random selected.

[2020-10-26 01:21] GimpelZhang commented on #3099
Haven't tried, but it seems that there is a part in the introduction document about this:

[Segmentation](https://microsoft.github.io/AirSim/image_apis/#segmentation)

[2020-10-26 03:14] petergerten commented on #3012
@tharindurmt Did you get further with this? I try to get a 220deg fisheye camera to work.

[2020-10-26 03:15] petergerten commented on #2129
@M-J-Murray I am trying to get a 220 deg fisheye camera to work and get similar results. Could you eventually solve this?

[2020-10-27 01:04] tharindurmt commented on #3012
@petergerten
Unfortunately, no, I was not able to get this to work. I have a very limited knowledge of UE and I wasn't even sure what i was doing.
But from my research, the best bet would be to use post-processing materials. I couldn't figure out a way to integrate the post-processing material to AirSim.

[2020-10-27 04:06] coderhh commented on #854
It's said this api function doesn't exsit

[2020-10-27 04:11] AIKUUM commented on #3078
@rajat2004, Which key did you press for takeoff?

[2020-10-27 04:45] rajat2004 commented on #3078
Any key works as mentioned

[2020-10-27 07:04] #3001 closed

[2020-10-27 10:42] yx0123 commented on #3090
Fixed after doing catkin clean and rebuilding

[2020-10-27 10:42] #3090 closed

[2020-10-27 12:01] yx0123 opened #3101 "Setting up Unreal Environment for Linux?"
I want to run my project on Linux and I am trying to add the AirSim plugin to the Landscape Mountains by following the steps [here](https://github.com/microsoft/AirSim/blob/master/docs/unreal_custenv.md). Since there is no Epic Games Launcher for Linux, I downloaded the environment using Windows. I copied the environment folder to my Linux Machine but Step 4 fails because there is no Visual Studio

[2020-10-27 12:39] GimpelZhang commented on #3101
From my experience, first you need a linux version UE4 and a linux version AirSim, which both work well in your linux system.

Then in windows, follow the steps in the link you provided to make the custom environment ready.

Copy your custom environment folder to the linux platform, and copy the AirSim plugin folder (linux version) to your project, just like in Step 5 in your link, to replace the

[2020-10-27 12:46] yx0123 commented on #3101
Thanks for your reply! Does this mean that I skip Step 5 in Windows?

[2020-10-27 12:47] yx0123 commented on #3101
Does this mean I also need to install AirSim and UE4 on Windows for the steps to work?

[2020-10-27 12:50] GimpelZhang commented on #3101
I think so. Or at least in my situation I have them both on my Windows.

[2020-10-27 13:51] lucafei opened #3103 "problem at function simSetSegmentationObjectID"
hello, guys, i'm using API simSetSegmentationObjectID to change the color of segmentation. But i find when i used simSetSegmentationObjectID to assign a specific value to a specific mesh, it actually changed the value of mesh. like following:
success = client.simSetSegmentationObjectID('runway[\w]*',19,True)
i can clearly see the color is already changed.
after i save the segmentation image. i ope

[2020-10-27 14:53] lucafei commented on #2824
hello, i'm also doing this, can you explain how to solve this? and where can the AirSim.exe be found?

[2020-10-27 15:06] yx0123 commented on #3071
Go to 'Edit->Editor Preferences' in Unreal Editor, in the 'Search' box type 'CPU' and ensure that the 'Use Less CPU when in Background' is unchecked. If you don't do this then UE will be slowed down dramatically when UE window loses focus. [Source](https://microsoft.github.io/AirSim/unreal_custenv/)

[2020-10-27 15:31] m1baldwin commented on #3071
I will add a slight update to this; I have the "Use Less CPU when in Background" unchecked based on the instructions here: https://microsoft.github.io/AirSim/unreal_custenv/

So, this issue is happening even when Unreal is supposed to be using the same CPU whether it is in the foreground or background.

[2020-10-27 15:54] lberridge1992 opened #3104 "PX4 SITL with Unity"
Hello,

I'm trying to setup PX4 SITL using MAVROS as the main mechanism of sending offboard API commands. I've got 2 VMs as follows (apologies for concealing the IP addresses as I'm on a corporate network):
- One Windows VM running Airsim and PX4 SITL (IP address ending 86)
- One Linux VM running ROS which I'm using to represent my offboard controller and use MAVROS to communicate with PX4 (IP add

[2020-10-27 16:44] jonyMarino commented on #3088
Hi! this is for car or drone?

[2020-10-27 16:48] #2992 closed

[2020-10-27 16:52] #2765 closed

[2020-10-27 16:53] #3042 closed

[2020-10-27 23:13] kensuke1921 commented on #3088
Hello! This is for car!

[2020-10-28 00:32] #3101 closed

[2020-10-28 03:54] DongXingshuai opened #3105 "How to get the source code of unreal engine?"
Hi, I want to build AirSim on my computer following:

# go to the folder where you clone GitHub projects
git clone -b 4.24 https://github.com/EpicGames/UnrealEngine.git
cd UnrealEngine
./Setup.sh
./GenerateProjectFiles.sh
make

Unfortunately, it reminded me that "fatal: repository 'https://github.com/EpicGames/UnrealEngine.git/' not found
".

I have registered with Epic Games and linked my with Ep

[2020-10-28 04:14] AIKUUM commented on #3078
@rajat2004, below is the code for "hello_drone.py":
``
import setup_path
import airsim

import numpy as np
import os
import tempfile
import pprint
import cv2

# connect to the AirSim simulator
client = airsim.MultirotorClient()
client.confirmConnection()
client.enableApiControl(True)
client.armDisarm(True)

state = client.getMultirotorState()
s = pprint.pformat(state)
print("state: %s" % s)

imu_d

[2020-10-28 07:13] cdbharath opened #3106 "unexpected behaviour by moveToPositionAsync API"
I am trying a path planner algorithm for drones in Airsim. When I tried moveToPositionAsync API. I found that the drone doesn't move when the set point relative to the current position is less than 0.8. Is this the actual behaviour of the API?

Simple Test Case:
(current x = 1, current y = 1, current z = -1)
x = 1.2
y = 1
z = -1
self.xy_velocity = 0.3
moveToPositionAsync(x, y, z, self.xy_velocity,

[2020-10-28 07:22] 4iue0 opened #3107 "Question : I wanna get energy consumption"
https://github.com/srivatsankrishnan/AirSim-1

I found it to get energy consumption in 'getTripStats()'.
But I cannot execute hello_drone.py with this error code.

WARNING:tornado.general:Connect error on fd 320: WSAETIMEDOUT

Plz, tell me how to use getTripStats().

[2020-10-28 14:26] xwnb commented on #3105
You should join the UE project, and then you can fork repo to get the source code. For more, see [Downloading Unreal Engine Source Code](https://docs.unrealengine.com/en-US/GettingStarted/DownloadingUnrealEngine/index.html)

[2020-10-28 14:43] rajat2004 commented on #3107
Maybe AirSim hasn't been started before running the script, or might be firewall or IP issues if running on different systems, etc.
Also, the issue should be opened against that repository

[2020-10-28 14:47] rajat2004 commented on #3104
Issue https://github.com/microsoft/AirSim/issues/2954 might be useful, there's something about MAV_BROADCAST mentioned there which might be required. I would also suggest to first make sure that individual components are working correctly, such as AirSim+PX4 SITL in VM, then PX4 in VM + Mavros, and then add AirSim into the equation

[2020-10-28 14:50] rajat2004 commented on #3103
Are you using a release binary or the latest master? There's a PR https://github.com/microsoft/AirSim/pull/2845  in master currently which fixes color corrections and makes the ids match with the values

[2020-10-28 14:53] rajat2004 commented on #3098
Is it not moving at all, as in maybe not receving the command? Maybe try with different clients for different threads rather than a single client

[2020-10-29 02:34] Moj-Dev opened #3108 "Object poses in a Environment"
I want to define some random position points in the Blocks environment and train a drone as an RL agent to reach to the goals. I should reject the goals which are in the object's mesh area. How can I check it and choose just the points that are not in the blocks?

[2020-10-29 05:35] GimpelZhang commented on #3108
Sizes and positions of all obstacles in the environment can be read through UE editor. So I think obtaining these information by hand can definitely solve this problem.

[2020-10-29 06:10] 4iue0 commented on #3107
Thank you for answering.
I will try it.
Sorry, I wanna open issue in that repository, but its item of issue was close by owner.
I can only open issue here.

[2020-10-29 06:43] 4iue0 opened #3109 "Question:I want to get high resolution images."
I changed settings.json file to get 720P images.
but I cannot get  it.
please tell me how to change settings to get 720P images.
[code]

OS:windows10
AirSim ver : 1.3.1

[2020-10-29 07:35] sandyUni commented on #506
Is there any progress?
To my best of my knowledge, since the implementations of the ground and aerial vehicles in Airsim are totally different, they have different data retrieve policies (for groud vehicle, Airsim fetches the sensor data once at each unreal render frame, while for aerial vehicle, it fetches data every sample time.  So does your solution addresses this problem?

[2020-10-29 09:31] AIKUUM commented on #3109
@4iue0, I will let you know if I set image resolution in "settings.json" file in future.
If possible can you give me a hint regarding how to proceed with the issue as in the link below:-https://github.com/microsoft/AirSim/issues/3078#issue-720046903

[2020-10-29 09:58] AIKUUM commented on #3109
@4iue0, I used the same configuration as that of yours, but instead for a car. But still lower resolution (256*144) images are getting captured.

[2020-10-29 10:36] 4iue0 commented on #3109
@AIKUUM
U are right. Firstly I said that I cannot get 720P images. So, I'm trouble.

[2020-10-29 10:55] AIKUUM commented on #3109
@4iue0, Was your drone simulation manual or automated??

[2020-10-29 11:11] niekvleeuwen commented on #3025
I also looked at the possibility of receiving images every frame. I added an extra feature to AirSim for this purpose, see the pull request [here](https://github.com/microsoft/AirSim/pull/3102). Maybe you can take a look.

[2020-10-29 12:10] 4iue0 commented on #3109
@AIKUUM
maybe, manual

[2020-10-29 13:20] lberridge1992 commented on #3104
Thanks for the response. I've moved across to a local machine to double check that all the individual elements are working. The connection between AirSim and PX4 seems quite intermittent. Sometimes I get a successful connection at the start and other times my drone starts underneath the ground plane and just falls. Most of the time, if I don't get this I can use the Python API to fly the drone in

[2020-10-29 15:18] t-thanh commented on #3095
I have same issue - with ROS melodic in WSL Ubuntu 18.04 in Windows 10

In WSL, I set
ROS_IP = '172.27.154.160'
ROS_MASTER_URI = 'http://172.27.154.160:11311'

in Windows 10: IP: 172.27.144.1

roslauch is similar to @blakermchale : `roslaunch airsim_ros_pkgs airsim_node.launch output:=screen host:=172.27.154.160`

[2020-10-29 17:33] AIKUUM commented on #3109
Did you try automation for drone simulation. For example did you try executing "hello_drone.py" file present in AirSim package??
Link for "hello_drone.py": https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/hello_drone.py

[2020-10-29 19:41] Moj-Dev commented on #3108
@GimpelZhang Thanks for your comment.
For each episode (Run), I want to randomize the position of objects. So I need a command to get the position of object mesh in the environment.

[2020-10-29 20:25] tschomb78 opened #3110 "Can AirSim be used to test a new drone before physically flying it?"
I am really not super code-savvy, the fact that I have managed to get airsim working with unreal, and then run PX4 SITL (Though I can't seem to re-launch it after the first make command) and connect to QGC and fly around is astonishing to me. I have a new drone and am looking to tweak its parameters via the simulation before risking it in the real world. Before I invest more time into learning all

[2020-10-30 08:56] 4iue0 commented on #3109
@AIKUUM
do u understand my trouble?
I already have known automated operation and have already used hello_drone.py.
 I don't have any problem in first step like hello_drone.py.
I wanna only get 720P images.

[2020-10-30 09:28] AIKUUM commented on #3109
@4iue0, I understood your issue when had a look at just your title. I already told you that even I'm getting lower resolution (256*144) images for the same configuration in settings.json as that of yours. I will let you know If I can get higher resolution images somehow when I execute scripts and will let you know what settings/changes in the scripts would fetch higher resolution images.

At the s

[2020-10-30 11:07] #3078 closed

[2020-10-30 13:55] Maxilos opened #3111 "Does AirSim support ArduPilot wind settings?"
OS: Win10
Airsim ver. - 1.3.0

Basically, title. I tried to change wind settings from ArduPilot console, using "param set SIM_WIND_DIR" and "param set SIM_WIND SPD" which resulted in... nothing. I'm wondering, if I did something wrong and/or forgot to do something to make it work, or if it's not supported at all.

[2020-10-30 14:26] yx0123 opened #3112 "Rostopic format for DepthPlanner and DepthPerspective"
I understand that DepthPlanner and DepthPerspective gives the distance from the camera to the object (in meters?). After running `roslaunch airsim_ros_pkgs airsim_node.launch` and `rostopic echo /airsim_node/car/depth/DepthPlanner` I see that every 4th value is 0. This is also the case for DepthPerspective. Isn't each value supposed to correspond to 1 image pixel?
![Screenshot from 2020-10-30 22-2

[2020-10-30 20:57] ykhedar commented on #3097
I think this is due to the pull request #3053.

[2020-10-31 11:25] AIKUUM opened #3113 "Initial Takeoff by drone(s)"
Automated Drone simulation successfully completes when one drone is used (i.e execution of "hello_drone.py") even when initial takeoff by the drone is skipped.

But automated drone simulation of multi drones doesn't get completed when multiple drones are used (i.e execution of "multi_agent_drone.py") when initial takeoffs by the drones are skipped.

Can anyone tell the reason behind this differenc

[2020-10-31 11:28] xxEoD2242 commented on #2957
@GimpelZhang

I had the same issues. What fixed this for me (and it's really more of a work around) was to remove the `.uasset` files from the HUDAssets folder in the plugin folder for AirSim. I'm pretty sure this will break the UI but it will allow you to cook a game.

I can give step by step directions if you need it. FYI, I am doing this on Ubuntu 20.3.4, Unreal 4.24 and using the latest pull o

[2020-10-31 12:54] alirezadizaji commented on #1986
I have same issue

[2020-10-31 14:04] lucafei commented on #3103
yes, i have built the latest version of airsim from master. And the simSetSegmentationObjectID and simGetSegmentationObjectID works. But when i read the segmentation image using PIL and get the RGB value. I found it is different from what i used SetSegmentationObjectID to set. So i don't know where is the problem? maybe the file https://microsoft.github.io/AirSim/seg_rgbs.txt is updated? because t

[2020-10-31 14:35] lucafei commented on #2358
hello, @ivannson do you have checked the workaround #2845? For me i have also met this problem that colors in my segmentation image are not same with the RGB value specified in seg_rgbs.txt.

[2020-10-31 18:18] lucafei commented on #1394
i have alse met this problem? do you guys have any solution for that?

[2020-11-01 09:12] GimpelZhang commented on #2957
Thanks a lot!

I will give it a try when I have chance.

[2020-11-01 15:44] sinamoghimi73 opened #3114 "CarControllerBase"
OS: macOS Catalina
AirSim version: v1.3.1

I try to run HelloCar.cpp(https://microsoft.github.io/AirSim/apis_cpp/) but it seems there is not any CarControllerBase in the include directory. It keeps saying:

main.cpp:8:5: error: use of undeclared identifier 'CarControllerBase'
    CarControllerBase::CarControls controls;
    ^
main.cpp:25:27: error: use of undeclared identifier 'CarControllerBase'

[2020-11-02 01:12] salierilym opened #3115 "How do two drivers drive in the same environment with two computers?"
I wonder if two drivers can drive in the same environment with two computers?
When I set the number of players to 2, an error is reported and the following image is displayed:
![image](https://user-images.githubusercontent.com/38722436/97820822-de27b000-1cea-11eb-8754-062d5fa297e4.png)

If I have multiple cars in settings.json, I can only control all of them from one device at a time, and that's n

[2020-11-02 07:29] wangstrong1996 opened #3116 "IMU and GPS timestamps do not match"
When I using API to get the sensor data, I find that the timestamps of IMU and GPS do not match.

Details:
data_imu = client.getImuData(imu_name='Imu', vehicle_name=vname)
data_gps = client.getGpsData(gps_name='Gps', vehicle_name=vname)

print((data_gps.time_stamp-data_imu.time_stamp)*1e-9)

the answer is -2.667s.

Could anybody tell me the reason?

[2020-11-02 10:31] nakole2 commented on #1806
Hi @ShrutheeshIR,  did you find the solution for it? I am stuck on the same problem.

[2020-11-02 18:09] p3jawors commented on #2914
I came across this problem again when I tried changing my simulator timestep from 10ms to 1ms. It appears that Airsim is not accounting for timestep when providing velocity feedback. I've attached a plot showing the linear and angular velocity feedback from airsim (along rows) plotted against different timesteps (along columns). There is a clear increase in the scale of the feedback as the timeste

[2020-11-03 03:49] kensuke1921 opened #3122 "I can't hear engine sound while driving a car."
I can't hear engine sound.
Please teach me how to drive with engine sound.
Help me....

[2020-11-03 04:26] kensuke1921 opened #3123 "I want to know how to record without imageFile."
I use record button in AirSim because I want to record speed of the car and car position.
However, record button ain AirSim also record the ImegeFile. So processing while driving is heavy.
Please teach me how to record without imageFile.

[2020-11-03 09:15] tharindurmt commented on #3123
You have to remove any elements under tag "recording" in the settings.json file.
Ex: I have the following section in my settings file. If I remove the it, AirSim will no longer record the images.

[code]

[2020-11-03 10:32] AIKUUM commented on #3109
@rajat2004, can you please help us on how to capture higher resolution images? Even with the configuration as below in settings.json, we cant capture images based on the desired resolution:
{
  "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings_json.md",
  "SettingsVersion": 1.2,

  "SimMode": "Multirotor",
  "CameraDefaults": {
    "CaptureSetting": [
      {
        "Wid

[2020-11-03 11:10] AIKUUM opened #3124 "client.moveByAngleThrottleAsync"
I tried to rotate a drone using client.moveByAngleThrottleAsync(3.14159,3.14159,1,0.78,5,vehicle_name="Drone1").join()
But the drone doesn't move. Can anyone help me to resolve this issue?

[2020-11-03 14:03] tharindurmt commented on #2339
Although bit late, I can confirm that this issue is no longer there in the master. Just tested it now and `qw, qx, qy, qz` is the order used in creating a  quaternion.

[2020-11-04 02:30] changh95 commented on #2339
Thanks for the update - I haven't been able to catch up with this bug.
I'm glad it's solved!

[2020-11-04 02:30] #2339 closed

[2020-11-04 03:36] 4iue0 commented on #3109
@AIKUUM
Sorry, I just misunderstood. I'm glad you to solve your problem.

[2020-11-04 03:58] AIKUUM commented on #3109
@4iue0, Are you getting higher resolution images now?

[2020-11-04 04:12] rajat2004 commented on #3109
I think you need to add `ImageType` element in the `CaptureSettings`
You can also see [high_res_camera.py](https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/high_res_camera.py) for another example

[2020-11-04 04:26] rajat2004 commented on #3111
From what I understand, many of the `SIM_*` parameters in AP only affect the default SITL, and doesn't cause any effects with external simulators, where the simulator provides the physics. AirSim currently doesn't do any communication of parameters so no, modifying the parameters wouldn't make any changes.
You could try using the newly added Wind feature in AirSim for the same purpose though

[2020-11-04 04:31] rajat2004 commented on #3110
AirSim currently doesn't depend on the Unreal model for the physics, and from what I understand its only being used fro visual purpose, and physics is completely separate. You would have to modify the physical paramters which is not a trivial task, and its not a very exact physics model. Personally, I wouldn't recommend using AirSim for very accurate physics model, but maybe go for something like

[2020-11-04 14:40] jonyMarino commented on #2695
This issue got fixed in PR 2898, which added an asset map and scene object map

[2020-11-04 14:40] #2695 closed

[2020-11-04 14:43] jonyMarino commented on #3093
Hi! This is not an airsim issue. Try in an unreal engine forum. Regards.

[2020-11-04 14:43] #3093 closed

[2020-11-04 15:03] jonyMarino commented on #3096
I'm not sure what you are looking for. Different firmwares/controls implement that method. You can find them with a search here in GitHub. But if what you want is to call that method, that is done through the moveByRollPitchYawrateThrottleAsync() API method.

[2020-11-04 15:45] jonyMarino commented on #3099
Hi @lucafei! do you think that the color assigned by seg_rgbs.txt is not enough? (I know you've posted an issue about that)

[2020-11-04 16:39] jonyMarino commented on #3105
Hi @DongXingshuai, and welcome! This is not an airsim issue. Please ask in UE forums. Regards

[2020-11-04 16:39] #3105 closed

[2020-11-04 16:47] jonyMarino commented on #3107
Hi @4iue0! How did it go?

[2020-11-04 19:20] ykeuter opened #3126 "Execution order of simulation loop for drone in Unity"
`InvokeTickInAirSim `is called in `LateUpdate`:
https://github.com/microsoft/AirSim/blob/d59ceb7f63878f5e087ea802d603ba0fd282ff56/Unity/UnityDemo/Assets/AirSimAssets/Scripts/Vehicles/Vehicle.cs#L116
while `transform `is updated in `FixedUpdate`:
https://github.com/microsoft/AirSim/blob/d59ceb7f63878f5e087ea802d603ba0fd282ff56/Unity/UnityDemo/Assets/AirSimAssets/Scripts/Vehicles/Multirotor/Drone.cs

[2020-11-04 19:57] ykeuter opened #3127 "Update render functions called twice per tick"
`updateRenderedState `and `updateRendering `are both called twice per tick, in:
https://github.com/microsoft/AirSim/blob/040a08ae6e789a6ad952837acf8f8323a1649819/Unity/AirLibWrapper/AirsimWrapper/Source/PawnSimApi.cpp#L57
and
https://github.com/microsoft/AirSim/blob/67d5b6af4ae317d796b17abc95e3f478370aefa7/Unity/AirLibWrapper/AirsimWrapper/Source/SimMode/SimModeWorldBase.cpp#L117

Is this by desig

[2020-11-05 00:22] kharyal opened #3129 "Airsim on Marketplace environments"
While trying to run AirSim on environments from the Unreal Marketplace, I am facing the following issue in getting correct segmentation images
![28_scene](https://user-images.githubusercontent.com/33199820/98181909-72cc2100-1f2a-11eb-9b94-d4550af111e7.png)
![28_seg](https://user-images.githubusercontent.com/33199820/98181905-719af400-1f2a-11eb-989d-e9bcc6edc6c7.png)

I want separate segmentation f

[2020-11-05 06:32] AIKUUM commented on #3109
@rajat2004, For the single drone configuration in "settings.json", the simulation is successful for me. Can you tell me what the configuration should be for 2 drones in "settings.json"? Below is the configuration that I have used for 2 drones:
`
{
    "SettingsVersion": 1.2,
    "SimMode": "Multirotor",
    "Vehicles" : {
        "Drone1" : {
            "VehicleType" : "SimpleFlight",

[2020-11-05 10:38] lucafei commented on #3099
you can get and set segmentation color using https://github.com/microsoft/AirSim/blob/d59ceb7f63878f5e087ea802d603ba0fd282ff56/PythonClient/airsim/client.py#L425
and https://github.com/microsoft/AirSim/blob/d59ceb7f63878f5e087ea802d603ba0fd282ff56/PythonClient/airsim/client.py#L443.
but you have to download the lastest version of airsim. Although it works to set and get the segmenation color, it h

[2020-11-05 14:28] jonyMarino commented on #3099
Thanks for your explanation.
So let's continue with #3103 alone.

[2020-11-05 20:22] gonzaloaguilarjimenez commented on #665
Same to me. Same error.

[2020-11-06 04:43] AIKUUM commented on #3124
@sytelus, Can you give me a hint to proceed further? Let me know if you want to know the complete code that I executed and/or configurations in settings.json file.

[2020-11-06 07:43] Agm2104 opened #3130 "Problem with GPS home location"
Hi everyone!

I'm having a problem when trying to run the hello_drone script, since I'm getting the following error:

msgpackrpc.error.RPCError: rpclib: function 'armDisarm' (called with 2 arg(s)) threw an exception. The exception contained this information: Vehicle does not have a valid GPS home location.

However I think I have implemented the location in the settings.json correctly

![image](ht

[2020-11-06 14:41] jonyMarino commented on #2647
Is this related to the issues reported in #2477?

[2020-11-06 15:20] jonyMarino commented on #3005
Hi @shkim1030! The place searched for the settings.json would be (in my windows machine) C:\Program Files\Epic Games\UE_4.24\Engine\Binaries\Win64\settings.json.
if that doesn't help, try debugging here please:
https://github.com/microsoft/AirSim/blob/d59ceb7f63878f5e087ea802d603ba0fd282ff56/Unreal/Plugins/AirSim/Source/SimHUD/SimHUD.cpp#L365-L372

[2020-11-06 15:25] jonyMarino commented on #3021
Hi @TomAvrech! Did you try ivannson suggestions?

[2020-11-06 15:28] jonyMarino commented on #3006
@TomAvrech, how it went?

[2020-11-06 15:33] jonyMarino commented on #2979
Hi @DanielGilo! Did you try ivannson approach?

[2020-11-06 15:42] jonyMarino commented on #3129
Hi! This is a dup of #3024. Post there, please

[2020-11-06 15:42] #3129 closed

[2020-11-06 15:57] jonyMarino commented on #3045
Hi @BrellenZhou! How it went?

[2020-11-06 15:59] #3063 closed

[2020-11-06 16:15] jonyMarino commented on #431
related to #3050 use case

[2020-11-06 16:21] jonyMarino commented on #588
already solved

[2020-11-06 16:21] #588 closed

[2020-11-06 16:24] jonyMarino commented on #598
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing an issue
*Attach a screenshot if applicable
*Include code to run if applicable

Thanks!