[2020-06-10 04:00] nitinjain442 commented on #2764
It is working now that I have unchecked the use less cpu option :) How does this make it faster though?

[2020-06-10 04:07] rajat2004 commented on #2764
When running scripts, you're changing windows to go to the terminal, etc. and they remain in the foreground, say either to be interactive, or just to observe the output, etc. UE is meant for things like games, where it's supposed to be the main thing, and other programs run in the background.
Using less CPU in background will delay messages, and overall running of the Physics will also slow down t

[2020-06-10 04:08] nitinjain442 commented on #2764
ohh okay. Thanks!!

[2020-06-10 04:08] #2764 closed

[2020-06-10 16:48] nmuchaxo opened #2765 "ERROR "Library 'stdc++' was not resolvable..." when creating a C++ Class on AirSim, UE4"
Hello,
I'm new to UE4 (4.24 on Ubuntu 16.04) and I'm using AirSim and the Blocks world.

Whenever I create a C++ class, I get the following message:
![Selection_010](https://user-images.githubusercontent.com/41130534/84294679-6f7e6600-ab41-11ea-8a78-e682f93a4fc1.png)

And here in my Message Log I get the following warnings and this is where I think the problem is:

The .h and .cpp are created in a

[2020-06-11 05:23] kimwin2 opened #2767 "how can i get Environments source code?"
Hi.
I'm trying to use Airsim to apply autonomous car environment.
i just downloaded release environment such as blocks, cities which is binarized version.
I have a question that how can i get a source code version? Is it possible to get it?

thanks.

[2020-06-11 06:19] rajat2004 commented on #2767
Blocks source code included in the repo, and is the default env for testing
Envs can be downloaded from Marketplace - [Neighbourhood](https://www.unrealengine.com/marketplace/en-US/product/modular-neighborhood-pack), [City](https://www.unrealengine.com/marketplace/en-US/product/downtown)  and lot's more

[2020-06-11 15:02] vguillet commented on #2746
Any solutions?

[2020-06-11 18:38] agentfeux opened #2768 "Xbox One controller drone always going up"
Hi,
I have a issue when i only use Airsim with unreal, my drone is always trying to go up. It's not doing it when i use it with Ardupilot and Qgroundcontrol.

Thanks for helping me with this problem :)

[The controller](https://www.amazon.ca/PDP-Wired-Controller-Xbox-One/dp/B073X47SG4/ref=sr_1_8?crid=2TCRVSSI573T2&dchild=1&keywords=pdp+xbox+one+controller&qid=1591900390&sprefix=pdp+x%2Caps%2C167&s

[2020-06-12 03:39] rajat2004 commented on #2768
When using AirSim, are you using SimpleFlight or ArduPilot? When working on the AP-Airsim integration, I had added the fields for using RC, where the RC inputs come from Airsim. My only testing was some dummy hardcoded values in the messages, since I didn't have any RC with me at the time. So I pretty much have no idea if it works properly or not when using with different RCs.

Have you calibrated

[2020-06-12 12:39] hrnbot opened #2769 "how to Perform Obstacle avoidance in quadcopter"
I want my drone to avoid all the obstacles and follow a path. how can I do that . Can anyone help me with that.

[2020-06-12 14:23] agentfeux commented on #2768
Only when i am using SimpleFlight, the AP-Airsim integration is working fine and i can calibrate my controller with QGC so no problem with that. I am testing scripts and the quickest way to do it is with SimpleFlight but it's hard to control when somehow the drone move up on it own.
For info this is my setting.json:
`{
    "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings

[2020-06-12 15:56] rajat2004 commented on #2768
Hmm, that's pretty strange. Glad to know it's working correctly with AP.
Not sure as to why this would happen with SimpleFlight, are the RC value being displayed in the viewport correct? Otherwise you could also write a small script to get the RC values and print it on the terminal, something like -
[code]

[2020-06-12 16:57] agentfeux commented on #2768
Yeah they are dispaying on the screen
![image](https://user-images.githubusercontent.com/40972980/84526540-7d4ffa80-acab-11ea-938b-85b8c1f02bfd.png)

if you want more details:
[code]
For the controller driver
![image](https://user-images.githubusercontent.com/40972980/84527518-141cb700-acac-11ea-9ae8-e2e42873153d.png)
![image](https://user-images.githubusercontent.com/40972980/84527555-20087900-ac

[2020-06-12 17:11] agentfeux commented on #2768
Also, my coworker use a PS4 controller and he have the same problem.

Both controller are wired.

[2020-06-13 06:37] rajat2004 commented on #2768
@agentfeux Could you try #2770? I'm not sure, just a try from looking at the code
From the calibration win, Axis 2 seems to be strange since it has 0 for everything. Could you also check if the TRPY values being reported are actually in sync with the expected values (both on master and maybe the PR)

[2020-06-13 21:28] Omar-Elmofty opened #2772 "How to extract Gimbal Orientation?"
I am using active gimbal stabalization in airsim to stabalize my camera while flying (below are my camera settings that I am using). I'd like to extract the gimbal orientation (relative to the drone's base frame) in realtime while the vehicle is flying, I basically want to know where the camera is relative to the body of the drone at all time. I am wondering how to do that? (I'd like to eventully

[2020-06-14 04:07] rajat2004 commented on #2772
Have you tried using [`simGetCameraInfo`](https://github.com/microsoft/AirSim/blob/master/docs/image_apis.md#camera-apis)

[2020-06-14 13:01] alonfaraj opened #2773 "How to use SimpleFlight outside of AirSim?"
OS - Win64
AirSim - master

I want to use simple_flight in a project **outside** of airsim and unreal which is possible according to the documentation:
_"This means there is no special build required to compile simple_flight. You just copy its source code to any project you wish and it just works."_

I compiled **AirLib** and run the **SimpleFlightTest** under **AirLibUnitTests** project, but it a

[2020-06-14 21:43] agentfeux commented on #2768
Thanks you the fix work for me ! instead of always going up, its slowly going down and i just need to push the joystick down to go up.

Not sure what you mean about the TRPY master and PR but the new value i got new value.
![image](https://user-images.githubusercontent.com/40972980/84604768-470aaa80-ae66-11ea-8aea-11808caa7c43.png)

[2020-06-15 03:27] rajat2004 commented on #2768
I've pushed a commit to reverse the Throttle input, that should probably fix the up-down problem.
By sync, meant that the values are the correct direction, or some scaling issues, etc.
Also, I'm not sure which axis does the Throttle stick correspond to, I'm assuming 1. From the calibration wizard, the max min values seem correct

[2020-06-15 04:59] nitinjain442 opened #2774 "Using the airsim SUV pawn that is in the Blocks file in other projects in Unreal (How to make a pawn the player start w/o a player controller similar to the Blocks file)"
The Suv car pawn object that is in the Blocks airsim file is able to move with the arrow keys. I have imported this same suv pawn into my own project but can't figure out how to make it appear as the main character when I press play and how to make it move. ( I am using unreal engine for all this)

[2020-06-15 07:49] fawadahm commented on #1394
This did not help at higher altitudes. We still see a lot of jitter/vibrations at 70m/80m heights. @madratman, are there any other fixes we can try?

[2020-06-15 14:31] fangice commented on #2517
Hi,I have the same problem as you. How did you solve it?

[2020-06-15 14:56] rajat2004 commented on #2517
@fangice GCC build has actually been removed from master now, so not sure as to how you are getting this error

[2020-06-15 16:36] nitinjain442 commented on #2774
Solved:  need to update the gamemode settings

[2020-06-15 16:36] #2774 closed

[2020-06-16 00:53] fangice commented on #2517
Thanks, when I run build.sh -gcc I get this error.

[2020-06-16 02:01] rajat2004 commented on #2517
Yes, so as mentioned, option for GCC build has been removed from master. I'm not sure about the use-case for GCC build, but you should either update to the latest master (which doesn't have GCC option and use clang), or possibly could checkout a commit earlier than say March before the update to clang-8, etc happened and GCC build was _probably_ working if absolutely required

[2020-06-16 12:18] Endthere commented on #1564
The new version of Airsim solved the problem.

[2020-06-16 12:18] #1564 closed

[2020-06-16 17:30] m1baldwin opened #2775 "What are the default settings of the cmaera used in FPV view mode?"
I have a settings.json file which does not have any cameras defined. When I run airsim, I can switch into FPV view mode by pressing 'f'. What are the parameters/characteristics of the camera which provides the FPV view? How is this decided if I am not specifying a camera in the settings?

[2020-06-16 20:39] yash1315 opened #2776 "Difficulty in running DQNcar.py file"
Hey guys,
Currently, I am trying to implement the DQNcar.py file on my system and I left my system to run overnight (7-8 hr) but still, I could not see the output. My question is, Does anyone know approximately how long will it take to run the DQNcar.py file with this specification?
intel i5
8 GB RAM
intel 520 HD graphic card

And what can I do to boost this process? Also, Can I use Azure NC/NV to

[2020-06-17 00:19] XinXu1999 commented on #468
sorry, I am a beginner in coding and in my case, using the keyboard command does not allow the drone to fly. I am confused to how to set up the RC control of use python APIs. Can anyone explain more in detail?

[2020-06-17 03:45] sbyebss commented on #2192
I encounter the same problem when inside docker. Does anyone have some solutions to this problem?

[2020-06-17 15:17] avivazran opened #2777 "camera goes through walls"
I'm flying the drone in a corridor created in Unreal and the camera is all over the place. going through walls and stuff.
I've tried putting blocking volumes all over the place but even though it stops the drone, the camera just goes through it.
is there any way to avoid this situation?
Is there a way to attach my own camera to the drone?
(already tried "springarm chase" mode. also goes through wa

[2020-06-17 21:42] yash1315 opened #2778 "Has anyone used DQNcar.py file and obtain any plots or output?"
Hey guys,
I am trying to implement the DQNcar.py file but it is taking to long to execute. I want to know if anyone has implemented the DQNcar.py code and has generated any output? if yes, then can you share some insight from the plots.
Thanks

[2020-06-18 05:14] ACLeighner commented on #1975
Ill add that the problem seems to be that simGetCameraInfo returns the camera pose combined with the body pose,  so you are getting the camera pose in world coordinates rather than relative to the body.  I haven't tried it yet but you might be able to simply subtract the body pose from what simGetCameraInfo gives you.  Its on my list of things to try so ill come back if I figure it out.

[2020-06-18 05:23] ACLeighner commented on #1394
Huh, you rebuilt with that change and no luck?  I just tried flying at 90m and didnt have any issues...If someone else wants to try, it looks like the issue is is moveByVelocityZInternal, which causes the drone to very quickly change its zvelocity  at the target altitude.  So it is essentially stuck oscillating (shaking) at that altitude.

[2020-06-18 07:37] gengtsh commented on #1708
Did anyone found a solution? i'm also running Xshell in windows to connect a ubuntu server

[2020-06-18 11:54] WouterJansen opened #2779 "angular and linear velocity confusion"
Why is the groundtruth kinematics of the Unreal plugin using absolute linear velocity and relative angular velocity? Why this difference? Was this done for a particular reason or an oversight?

for the IMU sensor you correct the linear velocity from absolute to relative but when using the API to get the kinematic state (`simGetGroundTruthKinematics()`) you get absolute linear and relative angular

[2020-06-18 13:03] nati1948 commented on #468
hi,
Try to follow the next steps
1. build airsim (i ran the build.cmd command from the VS devloper command prompt)
2. run the BLOCKS environment and see that unreal environment is shown
3. get into the unreal and press  the **play**  button (or cliclk alt +p )
4. choose the "no" for the drone option
5. get back to your python code and run "hello_drone"
6. follow the messages on the runing console

[2020-06-18 16:15] pengzhi1998 opened #2780 "Add resistance to the drone"
Hi everyone.
I'm trying to use AirSim to simulate the underwater environments. One of the most important difference comes from the resistance of water and air. Is there a way to add resistance?

[2020-06-18 18:32] hrnbot opened #2781 "How to use airsim in real drones?"
I want to use airsim / airlib code in my raspberry Pi or Jetson device with px4 controller. What I need to do? Documentation is not so clear about this stuff.

[2020-06-18 19:02] nicocarb opened #2782 "Tracking user-defined state by modifying existing Python APIs"
I am going to throw this here in case anybody has any ideas. I have added a parameter to KinematicsState that tracks a payload_position at any time within  `RpcLibAdapatorsBase.hpp ` and incorporated it in a few other places such as `CommonStructs.hpp` , `AirSimSimpleFlightEstimator.hpp`, and `AirSimSimpleFlightCommon.hpp`. My goal is to be able to access this value when I call `state = client.get

[2020-06-18 19:05] nicocarb commented on #2780
Drag forces already exist within the Physics Engine although it already assumes air. Perhaps you can look into modifying some of the density parameters within the existing framework to test it out? Try out Environment.hpp and RotorActuator.hpp in the AirLib library.

[2020-06-18 19:41] rajat2004 commented on #2782
Did you add your `payload_position` in all the functions in [`MultirotorRpcLibAdaptors.hpp`](https://github.com/microsoft/AirSim/blob/master/AirLib/include/vehicles/multirotor/api/MultirotorRpcLibAdapators.hpp#L42-L77), as in `MSGPACK_DEFINE_MAP`, constructor and `to()`? You can see the definitions of other structs for different data types such as `Vector3r`, `float`, etc. (definations are there i

[2020-06-19 05:29] rajat2004 commented on #2782
Also, make sure that you're writing your script in `PythonClient/multirotor`, `car` or CV folder, and before doing `import airsim`, use `import setup_path`. This will use the local airsim Python package in the repo instead of the one installed using `pip`, otherwise the extra field added won't actually be used
`setup_path` is used in many if not most of the example scripts in those folders

[2020-06-19 06:29] obitodaitu opened #2783 "moveonpath can not use DrivetrainType::ForwardOnly ,but can use DrivetrainType::MaxDegreeOfFreedom. Why????"
as title.

[2020-06-19 08:28] ACLeighner commented on #1394
OK! I realize now that my earlier solution doesn't work at higher velocity...Edited my earlier comment with a new change that seems to be working

[2020-06-19 10:36] phil333 opened #2784 "ROS stereo image syncronisation"
Hi, I am having issues with the ROS interface and the image syncronisation. It seems that the sync issue has been addressed and solved before:
https://github.com/microsoft/AirSim/pull/2282

But for some reason this is not the case for the ROS images. (these are also published with a slight delay, but this is less of an issue)

Below are two images taking at the same time by two cameras that have b

[2020-06-19 11:12] rajat2004 commented on #2784
So are the images fetched using the Python API same?
There's also some discussion on https://github.com/microsoft/AirSim/issues/2369 which might be relevant

[2020-06-19 12:38] phil333 commented on #2784
Yes, that seems related. Faster image capture or slower clockspeed will solve this to an extend, but they still do not fix the underlying issue that the images are taken at different points in time. In my case the problem is worse because the image resolution is bigger. It seems that the images are captured sequentially.

When working with https://github.com/code-iai/ROSIntegrationVision/ it seeme

[2020-06-19 19:30] nicocarb commented on #2782
Great, this worked. The last step I was missing was the field in `types.py`

[2020-06-19 19:30] #2782 closed

[2020-06-20 03:39] rajat2004 commented on #2779
The relevant code for IMU is here - https://github.com/microsoft/AirSim/blob/master/AirLib/include/sensors/imu/ImuSimple.hpp#L54-L60

I'm confused about the angular velocity part, according to the code, the values returned by IMU & ground truth kinematics should be same right? Linear acc is being converted to body frame as seen.
And the problem is that GroundTruthKinematics ang_vel is in relative

[2020-06-20 07:17] Akshath-Singhal commented on #506
@kshitiz38 I tried using your both-1.2.1 branch with Unreal 4.24 on ubuntu 18.04 and got the following error:

`The project could not be compiled. Would you like to open it in Null Source Code Access?

Running /home/akshath/UnrealEngine/Engine/Binaries/DotNET/UnrealBuildTool.exe Development Linux -Project="/home/akshath/AirSim/Unreal/Environments/Blocks/Blocks.uproject" -TargetType=Editor -Progres

[2020-06-20 13:28] #2641 closed

[2020-06-20 21:59] WouterJansen commented on #2779
Well the main issue is linear and angular being in different reference frames. They should be in either world or relative, not both. That just leads to confusion in my opinion.

IMU should always be relative, so the conversion takes care of that so no issue there.

I personally don't know if the best this for GroundTruthKinematics is relative or world. a world angular velocity makes no sense I thi

[2020-06-21 02:00] EdwinMeriaux commented on #1198
Hey were you ever able to solve the issue?

[2020-06-21 05:46] pengzhi1998 opened #2785 "AirSim ROS wrapper with Python API"
Hi everyone, is there a convenient way to use ROS wrapper with Python API for Airsim on the drones? May I use it with Melodic and Ubuntu 18.04?
Thanks for the help!

[2020-06-21 08:52] pengzhi1998 commented on #2785
I found this [code](https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/kinect_publisher.py#L134) a good example. It imports rospy and AirSim at the same time. However, if I didn't remember wrong, ROS uses Python 2 while AirSim should use Python 3. Is there a way to fix that? And will Melodic be applicable?

[2020-06-21 14:09] plushpluto opened #2786 "IMU through MAVROS"
I am trying to benchmark VIO pipelines (MSCKF, OKVIS, ROVIO, VINS-Mono, VINS-Fusion, SVO+MSF, SVO+GTSAM, and CNN-SVO) using AirSim.

While in Gazebo/EuRoC MAV Dataset, it works. But there are some discrepancies while taking the IMU values from AirSim.

What is the correct way to obtain the **IMU values through MAVROS**? Please advise!

[2020-06-21 14:40] EdwinMeriaux commented on #2785
Wait are you just trying to use ROS and Airsim together? Did you do the Airsim ROS wrapper set up?

[2020-06-21 14:48] rajat2004 commented on #2786
I'm not completely sure since haven't played around much with the ROS wrapper, but you'll probably have to do some conversion to convert messages from `sensor_msgs::Imu` to the required Mavros format.
I think the ROS wrapper publishes the messages to `/airsim_node/imu/<sensor_name>` - https://github.com/microsoft/AirSim/blob/master/ros/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp#L210
You might

[2020-06-21 14:53] johan606303 opened #2787 "DQLearning"
Hi.

I try to generate an obstacle avoidance algorithm with deep q learning.
I made an algorithm using keras, where I use a the following function that defines the possible actions:

    def step(self,action):
        # Returns action,new_state, done
        # Move forward 3 meters by Pitch
        done=False
        if action==0:
            client.moveByAngleRatesZAsync(0.0,0.01,0.0,self.z,5)

[2020-06-21 14:59] pengzhi1998 commented on #2785
Thank you for your reply!
Sorry, I'm new on this topic. But I found that the AirSim ROS wrapper can only use C++ API. But I need to use Python API with Ubuntu 18.04. Do you know how to deal with that?

[2020-06-21 15:20] EdwinMeriaux commented on #2785
Yeah you can just use python with that wrapper (at least from what I have used so far it works):

https://microsoft.github.io/AirSim/airsim_ros_pkgs/
follow these steps

[2020-06-22 03:39] JacopoPan opened #2788 "SimpleFlight and state estimation"
Is [this](https://github.com/microsoft/AirSim/blob/master/docs/simple_flight.md#state-estimation)

still the case (I would believe so, by looking at [AirSimSimpleFlightEstimator.hpp](https://github.com/microsoft/AirSim/blob/master/AirLib/include/vehicles/multirotor/firmwares/simple_flight/AirSimSimpleFlightEstimator.hpp)) and then something that might be worthwhile contributing to?

[2020-06-22 03:51] JacopoPan opened #2789 "ROS node "pid_position_controller_simple_node" and launch file "airsim_with_simple_PD_position_controller.launch""
I was looking at the code in [`pd_position_controller_simple.cpp`](https://github.com/microsoft/AirSim/blob/master/ros/src/airsim_ros_pkgs/src/pd_position_controller_simple.cpp), is it correct to assume that:
1. On lines 334 and 338, the 4 occurrences of `vel_cmd_.twist.linear.z` should be replaced with `vel_cmd_.twist.angular.z`
2. To get rid of `[ERROR] [1234567890.1234567890]: [PIDPositionContr

[2020-06-22 08:18] fawadahm commented on #1394
This works. Thank you!

[2020-06-22 08:49] dnychennnn commented on #1627
Hi,
have you figured out how to correctly use the reprojectImageTo3D function? I'm trying to get the point cloud from DepthPerspective image real time(iteratively), but somehow the results doesn't seem very promising for me.

[2020-06-22 10:23] kochsebastian opened #2790 "Custom sensor effects"
I using Airsim right now to create perfect camera and lidar datasets.
But the real world is not perfect so I want to add some sensor characteristics to my sensor models. For camera I found the option to set motion blur. This is exactly what I'm looking for but it's only one parameter. I'm also interested in effects like rolling shutter for camera or measuring distortions with a moving lidar.
To my

[2020-06-22 13:42] sandyUni opened #2791 "Are multi vehicles synchronized their states？"
I am developing Airsim to measure the distance between two vehicles. I am worried about the states of the vehicles reported by the API are not synchronized. Are multi vehicles synchronized their states？ Or are there some tolerable clock differences among different vehicles?

[2020-06-22 14:18] #2787 closed

[2020-06-22 17:06] nmuchaxo opened #2792 "Physics of the Multirotor"
Hello, let me start by saying I'm New to UE and AirSim.

I've been playing with the Blocks world for some days and I created a radial impulse which will affect the objects around it. A ball and the vehicle are in the radius of the impulse when I press play, however my vehicle is not affected by the impulse and the ball is.
Anyone has any idea of why this is happening?
TIA

[2020-06-22 18:25] nicocarb commented on #2792
From my experience, AirSim object do not respond to Unreal objects unless specified in the AirSim code. For example, in FastPhysicsEngine there is a function called getKinematicsOnCollision that details how the vehicle should react if it collides with an object in Unreal. If you want to implement this, I would imagine you would have to do something similarly with impulses though I am not sure. Kee

[2020-06-22 21:08] Guacamole-1 commented on #859
https://forums.unrealengine.com/development-discussion/engine-source-github/91044-error-compiling-ue4-on-fedora-24
this will help you out it helped me :)

[2020-06-23 08:27] dnychennnn commented on #1274
Could anyone verified if this is still an issue? I still only get -1 even if I set the segmentation ID to the object first. Also the seg_rgb.txt doesn't really match the segmentation output.

[2020-06-23 11:04] vguillet opened #2793 "Featuring request: AIgle Racer project"
Good afternoon,

I am filling this request on the behalf of the AIgle racer team, who worked in the last few month on an open source autonomous racing drone project as part of the TU Delft Aerospace engineering bachelor Design Synthesis exercise.

This project was undertaken with the intention of paving the way to future drone racing endeavor, and facilitate AI research and development. This is do

[2020-06-23 12:07] nmuchaxo commented on #2792
Hello nicocarb, thanks for your answer.
Yes, I'm looking at that right now, but I think this is only for collisions, unfortunately it doesn't cover impulses as you said, altough an impulse is like a collision with an invisible object...
Has anyone done this with impulses? Do you think it's like change one thing here and there or do I need to create a new function like 'getKinematicsOnImpulse' and

[2020-06-23 13:16] siddhantrao23 opened #2794 "Broken link in the wiki"
Just found out that you can't make a pull request on the wiki, but in the [Drone Survey Script](https://github.com/microsoft/AirSim/wiki/Implementing-a-Drone-Survey-script) the link to the actual code is wrong.

How can this be fixed?

[2020-06-23 14:26] Al-Kaff opened #2795 "Fire detection"
Hello,
I am working on designing a scenario containing several fire shapes and sizes for fire detection purposes.
I have created the fires using UE4 particle systems, however, when I start the simulation with AirSim, I can see the fire in the RGB image, but I cannot detect it neither in segmentation nor infrared.

It is possible to solve this issue?

Regards

[2020-06-23 15:46] thejeshk opened #2796 "ROS wrapper for car"
Hello,

Can anyone please tell me how to use ROS Wrapper for car. I want to use Publish images package -> object detection (YOLO) node and move_base "navigation package" for navigation

But for now I want to use object detection node https://github.com/leggedrobotics/darknet_ros with my Car camera images as input

Thank you
TK

[2020-06-23 16:10] nicocarb commented on #2792
I imagine it's a larger change than just one thing. I would first go about seeing if you can detect an impulse through AirSim and then create a function like 'getKinematicsOnImpulse' if you can

[2020-06-23 17:00] thejeshk commented on #2785
Hi @pengzhi1998 @EdwinMeriaux

I have posted my query here -> https://github.com/microsoft/AirSim/issues/2796#issue-643951496

Can you confirm if this is valid for Car ?

[2020-06-23 17:05] thejeshk commented on #2796
I am using

 - Ubuntu 18.04
 - Airsim 1.3
 - ROS Melodic

Vehicle used:
![Vehicle_screen_shot](https://user-images.githubusercontent.com/33362523/85433259-72874680-b584-11ea-81c3-a96710958eb1.png)

My settings file:

{
  "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
  "SettingsVersion": 1.2,
  "ClockType": "",
  "ClockSpeed": 1,
  "LocalHostIp": "127.0.0.1",
  "R

[2020-06-24 01:52] EdwinMeriaux commented on #2785
@thejeshk Sorry if what is valid for Car? Could you please clarify?

[2020-06-24 14:41] qk-q opened #2797 "import setup_path"
when using python API ，it shows unresolved import 'setup_path'.

[2020-06-24 16:04] pmff96 opened #2798 "Error while trying to record data with rosbag"
Using Ubuntu 18.04 LTS, Unreal Engine 4.24 and latest AirSim version. I created a custom environment and I'm trying to record data using rosbag, but I face the following error. AirSim settings are the same as presented in the front_stereo_and_center_mono file of the airsim_tutorial_pkgs package.

![image](https://user-images.githubusercontent.com/65542614/85590318-34e5f480-b63c-11ea-9779-38ee200d9

[2020-06-24 16:30] johan606303 opened #2799 "Deep Q Learning"
Hi.

I made a code which goal is to teach to the drone moving to a position and avoid obstacles.
The code :

`
import numpy as np
import airsim
import time
import math
import tensorflow as tf
import keras
from airsim.utils import to_eularian_angles
from airsim.utils import to_quaternion
#from tensorflow import keras
from keras.layers import Conv2D,Dense
from keras.layers import Activation
from ker

[2020-06-24 17:05] Aadi0902 commented on #600
@jtatusko Were you able to find a way to implement a steppable clock in airsim instead of the wall clock that it uses currently?

[2020-06-25 07:11] #2799 closed

[2020-06-25 09:39] dnychennnn commented on #778
Hi, is there a standard way to generate the point cloud from disparity normalized given by AirSim? And how should the Q matrix be changed while the multi-rotor is flying, or it is not need to?

[2020-06-25 12:10] gulbulut opened #2800 "error: msgpackrpc.error.RPCError"
Hi,
Using Ubuntu 18.04 LTS and latest AirSim version. I get the following error when I run my application that captures image with sitl and ros2 node. unreal engine is not installed, instead airsim works on a project.  Should I install the Unreal engine? Will airsim not work from a file produced with Unreal Engine?

[2020-06-25 13:03] tugayalperen opened #2801 "ArduRover SITL + AirSim: Rover does not move in GUIDED"
**Software**
* Linux Ubuntu 18.04
* Unreal Engine 4.24.3
* AirSim 1.3.1
* ArduPilot master branch (Last pull on June 25) - ArduRover 4.1.0-dev

Hello there,

I've been working with ArduCopter with AirSim for a while and decided to add ArduRover to my experiments. I set up the required connections between AirSim and ArduRover SITL as the [tutorial](https://ardupilot.org/dev/docs/sitl-with-airsim.ht

[2020-06-25 13:12] thejeshk commented on #2785
Hi @EdwinMeriaux

Thank you for your reply.

I am using Airsim car not Multirotor.

My question is: Is there a ROS wrapper for Car?

I could only find the tutorials for drones https://microsoft.github.io/AirSim/airsim_tutorial_pkgs/

[2020-06-25 13:55] gulbulut commented on #2800
Fixed. I updated about the Airsim python library. However, I cannot say this is the definitive solution.

[2020-06-25 13:55] #2800 closed

[2020-06-25 15:09] khizar-anjum commented on #1659
@msb336 , having the same problem, maybe you can upload it on a drive and share it for everybody having the same problem.

[2020-06-25 15:53] rajat2004 commented on #2801
The main problem with Rover is that it uses Car vehicle in AirSim which is based on PhysX, rather than Airsim's own physics like being used in Multirotor. Where this causes problem is that the Physics rate is limited, so we get around 60-70 FPS which actually keeps changing rather than the fixed 333 Hz in Multirotor.
The variable timestep causes lots of problems with the EKF, and thus the variance

[2020-06-25 15:57] ZGX010 opened #2802 "underground, strange Violent shaking start to appear"
I was training in a **subway station scene**, which included a lot of **descending stairs**. When my plane reached the basement level, it **swayed violently and the plane began to swing around**. **But when I took off on the ground floor, the flight was very smooth**, and when I descended to a certain depth, this **happened again.**

My environment is Windows10 UE4 4.23 Airsim1.3.1, and i use the

[2020-06-26 07:01] chaitanyantr commented on #778
i have used projection matrix and depth from 'depth float' data from air sim to generate point cloud.
I suppose there is a script in airsim pkg folder named point cloud.

[2020-06-26 07:06] chaitanyantr commented on #778
projectionMatrix = np.array([[-0.501202762, 0.000000000, 0.000000000, 0.000000000],
                              [0.000000000, -0.501202762, 0.000000000, 0.000000000],
                              [0.000000000, 0.000000000, 10.00000000, 100.00000000],
                              [0.000000000, 0.000000000, -10.0000000, 0.000000000]])

[2020-06-26 07:06] chaitanyantr commented on #778
https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/point_cloud.py

[2020-06-26 09:25] dnychennnn commented on #778
@chaitanyantr I know, but shouldn't the reprojectImageTo3D() function use the disparity map for reconstruction(not sure if it need to be de-normalized)? When I try depthplanner, depthperspective, disparity with the Q matrix I got from the formulas, I only received reasonable results with depth planner( depth perspective being too curved, disparity being the contour of the objects ), which doesn't

[2020-06-26 10:35] rajat2004 commented on #2797
`setup_path` is a file in `Pythonclient/multirotor`, etc folders used when the local package is required rather than the pip-installed one. It's only required when making some changes in the airsim Python API. Many of the examples in folders have that since they were added with a new API or something, and `setup_path` is used in those cases.
You can add your new files in those folders, and it'll w

[2020-06-26 15:36] rajat2004 commented on #2794
Opened #2803 which moves the Wiki page to the AirSim docs and fixes the link
Will be moving some other pages as well

[2020-06-26 15:44] EdwinMeriaux commented on #2785
I have never used the a car in airsim. But I would assume that you could write a similar one for the car.
What do you want to do the the car and ros?

[2020-06-26 17:22] tiger-bug opened #2804 "LiDAR as training data"
Good afternoon,

This may already be an implementation so feel free to close this if this is the case.  I am attempting to use AirSim to collect labeled LiDAR training data.  I know that you can collect LiDAR already and have a python script to save to disk, but is there a way to collect the label from the points as well?  I've only been using this for a couple of days.  I saw that [Issue 1878](ht

[2020-06-26 18:30] EdwinMeriaux commented on #2155
Hey So I installed Airsim recently (in the last 4 weeks) would it still be my airsim plugin that would be the issue? Would it not (at least for the lidar) be up to date?

[2020-06-26 18:35] EdwinMeriaux commented on #1999
Hey I'm getting the same error as @Kzernobog
But I thought I specified the senesor to viehicle setup:

{
	"SettingsVersion": 1.2,
	"SimMode": "Multirotor",

	"Vehicles": {
		"Drone1": {
			"DefaultSensors": {
			    "Barometer": {
			         "SensorType": 1,
			         "Enabled" : true
			    },
			    "Imu": {
			         "SensorType": 2,
			         "Enabled" : true
			    },
			    "Gps": {

[2020-06-26 18:53] rajat2004 commented on #2804
Maybe [`simGetLidarSegmentation`](https://github.com/microsoft/AirSim/blob/master/PythonClient/airsim/client.py#L539)?

[2020-06-27 01:07] Omar-Elmofty commented on #1049
I have the same question, I am wondering what did you do to be able to modify the camera's position live while the drone is flying?

[2020-06-27 01:17] Omar-Elmofty opened #2805 "Gimbaled Stereo Camera on Drone"
I am trying to simulate a gimballed stereo camera that is attached to the drone. I realize that there is a gimbal that can be setup for individual monocular cameras, however I am wondering if there is a simple way to setup the gimbal for a stereo pair?

If I have to develop a custom solution for this problem, I will have to be able to modify the position and orientation of each of the cameras form

[2020-06-27 01:30] #2772 closed

[2020-06-27 01:45] rajat2004 commented on #2805
There is a PR https://github.com/microsoft/AirSim/pull/2710 which upgrades the existing `simSetCameraOrientation` to `simSetCameraPose` and allows setting of position & orientation, that might be what you're looking for

[2020-06-27 02:06] khizar-anjum commented on #1659
Turns out that only the latest bleeding edge of the Airsim API for Unity can be built, anything older has bugs. It is expected as Unity with Airsim is still experimental.

[2020-06-27 10:28] siddhantrao23 commented on #2794
Thanks!

[2020-06-27 10:28] #2794 closed

[2020-06-27 11:44] EdwinMeriaux opened #2806 "Distance Detection Right in Front of Drone"
Hello,

So I would like to be able to detect the distance from just one point in front of the drone it see if there is anything immediately in front of it.

I know I cannot just use the distance sensor (since they can only for now detect distance from the drone to floor) But is there anyone way I can shift that to just in front of the drone. Or can I just use the Lidar to only detect 1 point in fr

[2020-06-27 17:27] Omar-Elmofty commented on #2805
This works! Thanks for your help!

[2020-06-27 17:27] #2805 closed

[2020-06-27 19:22] rajat2004 commented on #2806
I'm working on adding a setting for drawing debug point in Distance Sensor (https://github.com/microsoft/AirSim/pull/2807), and during testing I'm seeing different behaviour actually.
When the distance sensor is enabled, I'm getting some 22m distance, and the debug point is also coming in front of the drone rather than below it. When the drone hovers, I'm still getting the same distance.
My code f

[2020-06-28 00:20] EdwinMeriaux commented on #2806
Wait sorry I am confused. You say you get some 22m distance. Is it detecting a object 22m in front that is actually there or is it a false positive?

[2020-06-28 00:22] EdwinMeriaux commented on #2798
Are you following the ROS wrapper example? Is it from that you are using the front_stereo_and_center_mono.launch file?
Also where are you doing rosbag record -a?

[2020-06-28 02:24] rajat2004 commented on #2806
I'm using the Blocks env, and yes, there's an object in front of it at 22m
![Screenshot from 2020-06-28 07-49-16](https://user-images.githubusercontent.com/37938604/85935964-e07c9680-b913-11ea-9de9-6740a3347c1a.png)

After a good night's sleep, I can see that my code right now is wrong, the position of the Debug Point remains the same even when the vehicle moves since I'm using the `relative_pose`

[2020-06-28 02:30] GimpelZhang commented on #2796
Here is a PR which provides the car ros node for AirSim：#2743

It is not merged yet, but I think it will be soon.

[2020-06-28 05:19] rajat2004 commented on #2805
Glad to hear, do comment on the PR if any more documentation is required or any examples should be added

[2020-06-28 06:20] rajat2004 commented on #2806
@EdwinMeriaux I've updated the documentation in #2807, and have tested it to be working alongwith modifying the settings to face the distance sensor downwards, and the values also make sense. It would be great if you could give it a try

Downward facing sensor -
- On ground => `'distance': 0.38477620482444763,`
- Hovering => `'distance': 2.021547794342041,`

[2020-06-28 22:29] ctoumieh opened #2808 "Lidar ROS wrapper issue"
Hi,

You can reproduce the issue with the following:
1. Run UE4Editor and load the default blocks environment.
2. Change the settings.json to include 1 drone and a lidar then hit play in the UE4Editor.
3. Run airsim_node.launch and rviz.launch
4. Run box.py in the PythonClient/multirotor folder.
5. Visualize the pointcloud in rviz **as the drone is moving** .

The pointcloud is inconsistent and th

[2020-06-29 01:22] thejeshk commented on #2796
Thank you @GimpelZhang

[2020-06-29 01:22] #2796 closed

[2020-06-29 11:21] pengzhi1998 opened #2809 "Questions on GPU and resolution"
Hi everyone,
1. I found this issue: https://github.com/microsoft/AirSim/issues/17. But it didn't mention the requirements of the number of GPU cores and CPU cores. If I have only one RTX 2080ti (with memory of 12G), will this be enough for DRL training in a rendered big environment?
2. And can we decide where AirSim runs (for example, on GPU or CPU)?
3. What I plan to do is to do some training and

[2020-06-29 11:51] rajat2004 commented on #2804
FYI, a separate API for segmentation data being produced by Lidar didn't exactly make sense to me, since the data is already being produced by Lidar, and another call can give mismatched data. I've opened #2810 which combines the segmentation data into `LidarData` struct

[2020-06-29 11:54] rajat2004 commented on #2409
I've opened #2810 which combines segmentation data into `LidarData` struct fetched using `getLidarData`

[2020-06-29 18:14] EdwinMeriaux commented on #2806
Awesome! Thank you so much! I really would like to try it.
I just have one question though. Is the set up the same as the regular old distance sensor?

[2020-06-29 19:26] johan606303 opened #2811 "Deep Q Learning"
Hi.

I made a code for obstacle avoidance, but there is an error that I can't understand the origin.
At a random iteration (example : 400, 1208,...) VS2019 interrupt the training, and returns me the following error.
![algo_error](https://user-images.githubusercontent.com/62846458/86047132-b11e7480-ba4e-11ea-9196-7938143aaf70.PNG)

There is the full code. As I'm new with RL, it's not a complexe cod

[2020-06-29 20:15] ctoumieh commented on #2808
Changing `lidar_msg.header.frame_id = "world_ned"` in line 1002 in airsim_ros_wrapper.cpp solved the problem.

[2020-06-29 20:15] #2808 closed

[2020-06-30 00:18] EdwinMeriaux commented on #2769
Depends what kind of sensors you want to use.

[2020-06-30 01:23] rajat2004 commented on #2806
I'm not able to understand exactly what's the confusion, usage of Distance Sensor is the same as before. Just need to enable it in the vehicle's sensors. You can see the updated doc in the PR, the orientation, etc of the sensor can be specified in the settings, and there's an example of how to orient the sensor downwards so that it measures altitude.
Do comment on the PR if more info regarding som

[2020-06-30 04:34] rajat2004 commented on #2811
UE can sometimes fail to render the image, and in that case, the image would be empty. You'll have to handle this case, maybe call the API again if the image is empty?
Note that right now, Airsim fills the array with a single 0 since when the code was written, `rpclib` had a bug with handling empty structs - https://github.com/rpclib/rpclib/issues/152, so you'll have to check if the length is 1, t

[2020-06-30 07:27] marcociara379 opened #2813 "Surface normals image reference frame"
Hello everyone,
I have a question about the **surface normals**  image:
what is the reference frame the normals are in? I would expect NED (world frame), although from `SceneTexture:WorldNormal` node I would expect ENU (as per UE convention).

Does someone know better?

Thank you

[2020-06-30 10:16] LSBOSS commented on #2813
I plugged together a small test scene (with 9 axis aligned cubes and a camera looking down the positive x-axis) as I was about to report an issue with surface normals having a small bias applied when routed through AirSim. But I can take the very same image to answer your question:

![image](https://user-images.githubusercontent.com/7292257/86114374-b7523680-baca-11ea-8e1c-872f9374461c.png)

When

[2020-06-30 11:23] LSBOSS opened #2815 "Surface normals having a weird bias applied when requesting via AirSim"
I'm working with surface normals requested via AirSim and observed a strange behavior. There seems to be a small non-linear biased applied to the surface normals' color values when requesting via airsim.ImageRequest and type airsim.ImageType.SurfaceNormals.

I created a test scene with 9 axis aligned cubes and a camera looking down the positive x-axis. I then request a surface normal image via Air

[2020-06-30 11:53] marcociara379 commented on #2813
Thanks a lot for your hints @LSBOSS.
I came to the same conclusion playing a little with the UE editor.
Nonetheless, the values that I get instead of 127 are 187, that I do not get where it comes from (I am still using UE4.18 and AirSim 1.2 due to some internal development of mine).
Is this issue what you mean when you refer to "small bias"?

[2020-06-30 11:57] marcociara379 commented on #2815
I confirm the issue,
- UE4.18
- AirSim 1.2

[2020-06-30 12:16] LSBOSS commented on #2813
Yes, that's the one. Thanks for commenting on my opened issue https://github.com/microsoft/AirSim/issues/2815 :D

[2020-06-30 15:03] pengzhi1998 opened #2817 "Question on ros wrapper"
Hi everyone, sorry to bother you again.
I installed ROS wrapper as guided [here](https://github.com/microsoft/AirSim/tree/master/ros/src/airsim_ros_pkgs). However, when I ran `roslaunch airsim_ros_pkgs airsim_node.launch`, the command line only suggests: "Waiting for connection" and a lot of "X" appears (I was assuming a simulator might be opened, but nothing happened except the "waiting"). Is the

[2020-06-30 15:07] dnychennnn commented on #2815
I also confirm the issue to exist,
my env:
-     UE4.18
-     AirSim 1.2

[2020-06-30 17:40] johan606303 commented on #2811
@rajat2004 An another question if possible. Is there a way, in AirSim, to reset position of 1 drone only. For example if I try to use DQL or RL for several multirators ?

[2020-06-30 18:57] 4iue0 opened #2818 "How to get collision info that return "True" or "False""
My English skill is poor so it may be difficult to read it.

API of getCollisionInfo get 'has_collided' but it returns lots of info.
if i can get collision info return only True or False, plz tell me how.

[2020-06-30 19:34] drbswa commented on #2817
You have to make sure that the simulation is running first before launching. If you're using UE, make sure you hit play first, then go launch.

[2020-06-30 21:13] Homesliggidy opened #2820 "Get distance sensor data is not defined"
Hello, I am new to AirSim

I wanted to use the distance sensor on a drone, but I'm having an issue

Here's the line trying to access the data:
`Distance = getDistanceSensorData("Distance", "Drone1")`

Error:
`Traceback (most recent call last):
  File "trial1.py", line 33, in <module>
    Distance = getDistanceSensorData("Distance", "Drone1")
NameError: name 'getDistanceSensorData' is not defined`

[2020-07-01 02:48] rajat2004 commented on #2820
API should be used as follows - `distance_sensor_data = client.getDistanceSensorData("Distance", "Drone1")`
As to the settings, inside the vehicle, the sensors should be specified in `Sensors`, not `DefaultSensors`, see https://github.com/microsoft/airsim/blob/master/docs/sensors.md#configuring-vehicle-specific-sensor-list

[2020-07-01 02:50] rajat2004 commented on #2818
You're pretty close
[code]

[2020-07-01 03:12] rajat2004 commented on #2811
Hmm, the current `reset()` API doesn't take in Vehicle name as an arg, but it should be possible to use it on a per-vehicle basis - https://github.com/microsoft/AirSim/blob/master/AirLib/src/api/RpcLibServerBase.cpp#L183. But not sure as to how it'll affect the physics
As a shortcut for now, you could try using `client.simSetVehiclePose(airsim.Pose(airsim.Vector3r(0, 0, 0), airsim.to_quaternion(0,

[2020-07-01 07:54] Jean-MichMich opened #2822 "I would like to see the three cameras in my unreal environment"
Hi everyone,

I've a little problem in my unreal environment. I builded Airsim and I created a custom map with the Airsim plugin, but when I press play, I can see the drone of course but I can't see the three cameras attached to it...

I searched a lot of solutions on internet but it didn't work each time.

Thanks in advance for all your responses ! :)

[2020-07-01 08:11] 4iue0 commented on #2818
Thank you for your advise.
my problem solved

[2020-07-01 08:12] #2818 closed

[2020-07-01 09:00] LSBOSS commented on #2822
Hi @Jean-MichMich ,

here are three things you can check:

* Make sure the GameMode of your custom map ist set to AirSim. See World Settings for details:
![image](https://user-images.githubusercontent.com/7292257/86224669-75d49080-bb89-11ea-8f32-e2fdc7ee6fd8.png)

* After pressing play, and flying around with your drone, try pressing 1, 2 and 3 on your keyboard to see depth, segmentation and rgb s

[2020-07-01 20:35] ivannson commented on #2804
I did exactly that with `simGetLidarSegmentation`. It provides the labels for all of the points as a separate array. The order is the same, i.e. point in position 23 corresponds to label in position 23

[2020-07-01 20:41] ivannson commented on #2795
I think that _might_ be because there is no collision box around fire, as it's obviously not a physical object. I think you might have to label fire manually with bounding boxes.

[2020-07-01 23:45] cloudlakecho commented on #2109
@holdenKjerland-Nicoletti Are you controlling the drone by the keyboard or computer code? If you use code, please share section of setting speed and moving the drone.

[2020-07-02 15:16] aaronalmeida opened #2824 "How to change the directory of settings.json?"
I want to look for the settings.json file within the same folder where the unreal engine .uproject file is located rather than looking for it within ../Documents. I have been struggling trying to find the where and what to edit in the code.

Thanks!

[2020-07-02 15:43] Travestie opened #2825 "Feature Request: DIS Messaging"
Hello,

I'd love to be able to send DIS messages to a quadcopter. When using this in hardware in the loop, I want to be able to simulate one drone's flight information using a pixhawk, however another drone I'd like to use DIS messages from another computer.

Thank you.

[2020-07-02 16:22] cloudlakecho commented on #856
@wangnboss, Would you share your AirSim version?

I don't have those Classes in my Python API. When I try to use `rotateToYaw` function, I receive this error:
[code]
It looks like that I don't have `getPitchRollYaw()` neither....

[2020-07-03 03:12] rajat2004 commented on #2824
See #2668

[2020-07-03 08:40] EivindYN commented on #1997
AirSim tries to send something close to the whole scan, but I think there are a bug which causes the publishPointCloud to be called twice. Which makes it send half & half of a scan, or almost full & almost nothing of a scan, etc.

I was able to fix it so that it only sends the full scan by going into the UnrealLidarSensor.cpp inside the environment (changing any other UnrealLidarSensor.cpp in othe

[2020-07-03 10:13] Jean-MichMich commented on #2822
Hi @LSBOSS !

Thank you so much it worked for me ! i just forgot to update my settings.json !! ^^'

[2020-07-03 10:13] #2822 closed

[2020-07-03 12:08] HenryHuYu opened #2826 "error: no member named 'GetCachedContainer' in 'FCachedPropertyPath'"
I use **UE4.24** and **Airsim master** on windows. I build my own map and want to pack it. When I pack in windows to linux platform, it went wrong:
[code]

I have added
[code]
in DefaultEngine.ini .

[2020-07-03 17:02] EdwinMeriaux commented on #2806
(sorry for the delay in responding) So I know how to set up the distance sensor in normal case (measuring the distance to floor) but what do I need to do to use the new forward facing distance sensor?

[2020-07-03 17:07] asherikov commented on #2575
1. "params" config section was renamed to "Parameters" some time ago, documentation has not been updated. "Parameters" still doesn't seem to work for some other reason.
2. `LPE_*` parameters are for LPE estimator, while you are probably using EKF (the default).
3. The error in position can come from two sources:
- `OriginGeopoint` is not the original position of the vehicle, see discussion linked

[2020-07-03 17:13] rajat2004 commented on #2806
That's the current confusion, from my testing, the Distance sensor measures in front by default, and specific settings are needed to point it towards the ground. Could you explain as to how are you testing that it's measuring towards the ground by default?
I've updated the sensor doc at https://github.com/microsoft/AirSim/pull/2807/files#diff-1077f6c1304b766013eb174bb5e5321d

[2020-07-03 17:26] EdwinMeriaux commented on #2806
Oh. I am so sorry. I completely misunderstood that. I just double checked and yes the distance sensor works in the forward direction I was under the impression that the data was from the downward facing direction. I apologize again for the confusion on my part.

[2020-07-03 17:35] rajat2004 commented on #2806
Ahh great, thanks for testing! This actually got me thinking a bit, and then I realised that this will probably need some fixes to get it working with PX4

[2020-07-03 17:37] EdwinMeriaux commented on #2806
I have never used a PX4 in Airsim. What kind of fixes would you think you need?

[2020-07-03 18:00] rajat2004 commented on #2806
I've pushed a commit which I think should work, but needs testing. I have used PX4 earlier, but not with AirSim. Will try to get it setup and test in the next few days

[2020-07-04 11:59] 4iue0 opened #2827 "Default camera position front_right and front_left"
My English skill is poor, so it is difficult to read it.

Please tell me default camera position.
 I want to get distance from object to drone.

[2020-07-04 12:54] 4iue0 opened #2828 ""DisparityNormalized" is always black image"
My English skill is poor, so it may be difficult to read it.

I use client.simGetImages to get DisparityNormalized image.
However I always get just black  #image.
![1](https://user-images.githubusercontent.com/67323712/86512886-abef6a00-be40-11ea-8887-ca15401622b4.png)

I use this python code
`client.simGetImages([
    airsim.ImageRequest("1", airsim.ImageType.DisparityNormalized)]) `

[2020-07-04 16:31] pengzhi1998 opened #2829 "problem on ./GenerateProjectFiles.sh when building Unreal Engine"
Hi everyone, I have a problem when building UnrealEngine following [this](https://microsoft.github.io/AirSim/build_linux/).
When I run this command: `proxychains4 ./GenerateProjectFiles.sh`, the following problem happens:
[code]
Then, I rerun this command, the following problem occurs:
[code]
And I have tried several times, the same problem happens all the time.
I'm installing it on a remote serve

[2020-07-04 16:32] pengzhi1998 commented on #2817
Got it, thank you!

[2020-07-04 16:32] #2817 closed

[2020-07-05 18:53] EdwinMeriaux commented on #2828
@4iue0
Hello!
I am not very familiar with the disparity normalized images but I I've used the image API a lot recently so I may be able to help.
So are you not trying to set the pixels_as_float = true in your code. I checked on the API docs:
https://github.com/microsoft/AirSim/blob/master/docs/image_apis.md

"You normally want to retrieve disparity image as float (i.e. set pixels_as_float = true"

[2020-07-05 22:37] Deepakgthomas opened #2830 "How do I simulate a ZED camera (stereo vision) on Airsim"
I'm training my reinforcement learning algorithm that'll be later implemented on a real UAV. In order for the transfer to be successful, I'd like to simulate a ZED camera first and train the RL vision portion with it. How should I go about simulating a ZED stereo camera on Airsim?

I did come across a couple of similar questions, however, they do not help much, for they only talk about changing th

[2020-07-05 23:27] pengzhi1998 commented on #2829
Fixed this, the problem came from that the downloading of toolchain went wrong.

[2020-07-05 23:27] #2829 closed

[2020-07-06 18:28] aaronalmeida commented on #2824
Hmmm, I tried what #2668 mentioned as well as #715. I couldn't seem to get it working myself.

According to #715, if a settings.json is located in the same directory of the .exe, it should prioritize that first. In my case it picked the ../document/settings.json right away regardless.

I also tried giving the location of the directory where the settings.json should be looked for. Again, it just we

[2020-07-07 03:51] AngelTang190 opened #2831 "Can multirotor fly in modes other than linear straight line? (AirSim)"
I only know that multirotors can be programmed to fly from one coordinate to another coodinate in a linear straight line, However, is there anyway that multirotors can be programmed to fly from one coordinate to another coordinate in more complex modes, for example circular motion?

[2020-07-07 07:47] rajat2004 commented on #2830
https://github.com/microsoft/AirSim/issues/1790#issuecomment-471779112 should give you the cameras required, and the images can be fetched using something like -
[code]

If you want, you can add the cameras as subwindows (to be toggled using 1,2,3) - https://microsoft.github.io/AirSim/settings/#subwindows

[2020-07-07 08:14] rajat2004 commented on #2827
You can get info about camera using `simGetCameraInfo()` API, see [cv_mode.py](https://github.com/microsoft/AirSim/blob/master/PythonClient/computer_vision/cv_mode.py) for example usage. As to the position of `front-left`, `front-right` cameras from the output of `cv_mode.py` -

`front-left` (Camera no. 1)-
[code]

`front-right` (Camera No. 2) -
[code]

[2020-07-07 08:22] sourabhlal opened #2832 "Record images using API instead of Button"
I am working with a script that runs several simulations with AirSim, and I would like to automate the clicking of the Record button. Is there anyway I could do this using the Python API?

[2020-07-07 10:36] johan606303 opened #2833 "How to use API getGpsData()"
Hi.
I don't understand how to use gps coordinates.

I simulate a Multirotor on SimpleFlight.
I generated the following code to convert recieved coordinates from gps to cartesians.

![coordinates3](https://user-images.githubusercontent.com/62846458/86769067-d1ea5980-c04e-11ea-8acd-99abe3d6d0cd.PNG)

To test it, I first moved the Mulirotor on position (0,0,-2) with the moveToZAsync() API.
Then I sen

[2020-07-07 11:01] rajat2004 commented on #2832
Oh, so you're launching the simulation from scripts themselves? You could use the APIs to fetch the data and store it in the desired format, but if the Recording option gives what is required, then makes sense to use that directly(also might be faster)

There isn't any such API right now, but should be starighforward to add it, you can have a look at https://microsoft.github.io/AirSim/apis/#adding

[2020-07-07 12:55] rajat2004 commented on #2832
I've opened #2834 which adds the APIs

[2020-07-07 13:09] 4iue0 commented on #2828
@EdwinMeriaux
Thank you for your advise !
My problem was solved.

[2020-07-07 13:10] 4iue0 commented on #2827
@rajat2004
Thank you for your advise!
My problem was solved!

[2020-07-07 13:11] #2827 closed

[2020-07-07 13:11] #2828 closed

[2020-07-07 14:55] 4iue0 opened #2835 "I want to get depth image like Unreal sub window image"
My English Image is poor ,so it may be difficult to read.

I need to use accurate depth image to avoid collision.
But  I cannot get depth image like this.
![キャプチャ](https://user-images.githubusercontent.com/67323712/86798790-253ec500-c0ac-11ea-9754-cb685435d4a0.PNG)
I usually get this.
![3](https://user-images.githubusercontent.com/67323712/86798883-430c2a00-c0ac-11ea-8b64-ca68bfc70b52.png)

I find

[2020-07-07 22:08] kharyal opened #2836 "How to get IMU calibration parameters?"
I am working on Visual-Inertial Odometry, and want to use Airsim to create a synthetic environment to work on. For this, I need IMU calibration parameters (biases and variances) similar to [this](https://github.com/AaltoVision/ADVIO/tree/master/calibration). How can I get the calibration parameters for the IMU?

TIA

[2020-07-08 03:06] rajat2004 commented on #2836
Maybe https://github.com/microsoft/AirSim/blob/master/AirLib/include/sensors/imu/ImuSimpleParams.hpp#L18?

[2020-07-08 09:24] prabhasak opened #2837 "[question] The issue of tuned hyperparameters and time bottlenecks"
Hello. Like many folks here, I use a custom AirSim env for reinforcement learning (RL) experiments. I apply imitation learning (IL) to Multirotors, so that means I'd have to train an RL algorithm -> generate expert demonstrations -> train an IL algorithm. Essentially, that's double the time typically spent on training. My custom env takes 1.5 days to train RL for a million timesteps

I have spent

[2020-07-08 12:20] mhl787156 opened #2838 "Multi-Vehicle Subwindows"
Hi, I am wanting to live display a camera from each of the drones I have created. Currently in the settings.json, we add the subwindows like so:

Am I correct in saying that CameraName can only refer to cameras of the 'first' drone? Is there a way to an updated way to display other drones's cameras in the subwindows?

As far as I can find, there have only been two previous issues on this problem i

[2020-07-08 15:24] Omar-Elmofty opened #2839 "rotateToYawAsync() not working for HexaCopter"
I am trying to simulate a hexacopter in Airsim. I am modifying the simple flight firmware with the new hexacopter parameters. Specifically here is what I did:

In SimpleFlightQuadXParams.hpp:
set `params.rotor_count = 6;`
call  `initializeRotorHexX` rather than  `initializeRotorQuadX`

In Params.hpp (under simple_flight/firmware):
set `uint16_t motor_count = 6;`

In FlyingPawn.h:
set `static const

[2020-07-08 15:24] pengzhi1998 opened #2840 "Problem on launching UE4 in a remote server (vnc)"
Hi everyone.
When I run ./UEeditor, the following error is reported:
[code]
However, I installed Vulkan as this [link](https://linuxconfig.org/install-and-test-vulkan-on-linux) shows. And there is no error reported during installation. But when I `vulkaninfo`, the following error appears:
[code]
Is this the reason why the UE4 cannot be launched? If not, how to solve it?
My system is Ubuntu 18.04 L

[2020-07-08 18:50] rajat2004 commented on #2838
I've opened #2841 which adds `Vehicle` option to the Subwindows settings

[2020-07-08 19:00] mhl787156 commented on #2838
Amazing thank you!

[2020-07-08 23:38] aaronalmeida opened #2842 "How to access the API within the UE4 C++ files (not externally)"
As the title states, I want to be able to use the API's to control a drone within Unreal Engine rather than having another Visual Studio solution running. For example, when I boot my project in Unreal, I want the API's to already start running in the background.  Someone attempted to do it here #1759 and I tried replicating it, but ultimately couldn't get it to work on my own desktop.

Thank you!

[2020-07-09 11:03] DanielGilo commented on #2746
Having the same issue using c++ API.

[2020-07-09 11:07] mhl787156 opened #2843 "Merging the Pull Requests!"
Hi All,

Apologies if this does not count as an issue, feel free to remove!

Just wanted to ask if the maintainers of the project are still around! There are a whole bunch of awesome Pull Requests (Thanks @rajat2004!) with really useful features that are sat around ready but unmerged!

Any ideas if the merging will happen any time soon?

[2020-07-09 12:17] kharyal commented on #2836
Are these the default values?

[2020-07-09 16:10] #2830 closed

[2020-07-09 17:50] EdwinMeriaux commented on #2828
@4iue0

Awesome!
Was what I said the solution?

[2020-07-09 18:39] EdwinMeriaux opened #2844 "weird airsim ros position data leading to interesting results when building a PID controller"
Hello!
So originally built a PID controller for airsim drone by just using the:
pos = client.getMultirotorState().kinematics_estimated.position data
the PID controller is only for the Z axis.

I now I would like to do the same with ROS position data from imu from odometry (specifically the X, Y, Z positions).
But the results I am getting are absolutely weird. Not only are the positions from the:
a

[2020-07-10 01:10] EdwinMeriaux commented on #2844
This issue is really confusing me cause it would appear that the ros odometry data is wrong. But if I ROSBAG RECORD the data the data is right.

[2020-07-10 10:53] LSBOSS commented on #2815
HA! I knew it has something to do with gamma because of the non-linear nature of the bias.

I spent the last two days deep down in AirSim and Unreal rendering code and finally found the line which is responsible for the issue:

In function `APIPCamera::updateCaptureComponentSetting` the following line is creating render target textures with disabled linear gamma for rendering request for Scene, Se

[2020-07-11 06:02] kminoda opened #2846 "How to get simulation timestamp (=unreal_timestamp) for odometry in ROS API when clockspeed<1?"
I am currently using ROS API built in this repository to get IMU and odometry data for drones in AirSim. In order to get high frequency with a clean timestamp, now I am setting clockspeed=0.1 in`settings.json`.

The issue here is that the way of msg timestamping for IMU and odometry is different.

IMU uses unreal_timestamp (=simulation time) as in here (from `ros/src/airsim_ros_pkgs/src/airsim_ros

[2020-07-11 06:11] kminoda commented on #2840
I also encountered this issue when running UE4.24 on Linux via chrome remote desktop or teamviewer, even though it works pretty well when I launch UE4.24 locally on the same machine.
I still cannot find any solution to this, and ended up using remote windows PC or local Linux PC.

[2020-07-11 14:39] nautilor commented on #2192
same on `4.22.1-0+++UE4+Release-4.22`

[2020-07-11 15:46] johan606303 opened #2848 "Deep Q learning"
Hi.

I am developping a DQL for drones to teach how to avoid obstacles. I saw some tutorials, there they use space as input state. I'm want my drone to learn avoiding obstacles with using camera (ImageType.DepthPerspective). What do I have to use as input state for my DQL algorithm ?
Thank you for help.

[2020-07-11 23:22] FeilongWu commented on #1557
Hi @hoangtranngoc , could you please tell me how did you run the code? I tried to take an image with the API call and I used two of my laptops, but the program was not responding for a while. One of my laptops has NVIDIA GeForce RTX 2060 GPU, which I just bought for running this program, but I am not sure if the hardware is still low to run UE4. I try to execute the code both line by line through

[2020-07-12 03:02] jusevitch commented on #2009
Sorry to bring up this issue again, but I'm getting the same error despite having a "Vehicles" clause in my settings.json. Here is my settings.json file:

[code]

Here is the error I receive when launching the airsim_node.launch file in ROS:

[code]

No messages are published on any of the topics.

Additional details:
* I'm using AirSim built from source on Windows 10 inside the Unreal Engine as d

[2020-07-12 11:43] #2811 closed

[2020-07-12 15:24] hoangtranngoc commented on #1557
Hi @FeilongWu, RTX2060 is good to run. Is it possible that you run the example script https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/hello_drone.py ?

[2020-07-13 04:48] hipforth commented on #750
$ chown -R yue: /home/yue/UnrealEngine/
$ su user
$ make

It's work for me
ubuntu18.04 && UE4.24

[2020-07-13 05:23] GimpelZhang commented on #2846
I think you can also use the "make_ts" function for the timestamps of odometry and GPS messages, just like imu_msgs does.

[2020-07-13 09:15] kminoda commented on #2846
Thanks for the comment! Actually what I meant here was that I couldn’t figure out how to get unreal_time for odom/gps, which is easy for IMU msg. If I can get this, as you mentioned, I can just use “make_ts” function to generate ROS timestamp.
But I think I reached a solution. I will post it if it works well.

[2020-07-13 22:02] kharyal commented on #2836
In the same code, I can find these lines commented.
[code]
And in the http://epublications.marquette.edu/cgi/viewcontent.cgi?article=1326&context=theses_open link mentioned in the comment, the white noise std for MPU-6000 is mentioned. I can't find the white noise std in the code (I can find only the random walk std).

Thanks

[2020-07-14 02:40] kminoda commented on #2846
I could solve this problem by changing line 746 in `ros/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp` as below
[code]

[2020-07-14 02:40] #2846 closed

[2020-07-14 05:51] Doodle1106 commented on #1105
Any progress? Has this feature been supported?

[2020-07-14 10:50] LSBOSS commented on #2835
If you want to get accurate depth images to avoid collisions, I would not go with DepthVis but use DepthPerspective instead.

* DepthVis is clamping and colorizing all depth values between 0 and 100 m and assign them the gray values of 0 to 255 and it's mainly used for inspection by the human eye.

* DepthPerspective gives you the actual distance in meters when requested via float.

Example with N

[2020-07-14 12:55] postureai commented on #987
Did you guys able to solve it? @wss020 @zenghaogithub

[2020-07-14 16:09] lucafei opened #2850 "How to make a connection between ROS on ubuntu and Airsim in another machine (windows)"
i run the ubuntu 16.04 and ros with version of kinetic. Moreover the airsim is running on the windows10.
Now i want to make a communication between ros and airsim so that i make some trajectory planning, perception, model training and so on in ros. Does it have some methods to realize this?

[2020-07-14 19:34] amaalo2 opened #2851 "Inherent y drift with increasing clockspeed on multirotor"
Hello,

When commending a UAV to go in a straight line, the UAV drifts more to the left as the clockspeed increases. I use the moveByVelocityZAsync API. The columns shown below are x pos, y pos and z pos. I use Python 3.7, and the master version of Airsim corresponding to commit hash 827f1f55df68eb1d026390e6db06c9dd11152ba2 (The Master without the Azure update) as well as Windows 10, and this the

[2020-07-14 19:47] amaalo2 opened #2852 "Inherent y drift depending on order of calls in the python script"
Similar to Git Issue #2851, I am experiencing Y drift depending on the order of the calls.

`import setup_path
import airsim
import pprint
import time

for i in range(10):

    client = airsim.MultirotorClient()
    client.reset()
    client.confirmConnection()
    client.enableApiControl(True)
    client.armDisarm(True)
    client.takeoffAsync().join()

    while True:
        collision_info = cl

[2020-07-14 19:52] amaalo2 commented on #2851
I was able to reduce the Y drift by playing with the PID on the Y value and adding the following line under
`client.takeoffAsync().join()`

`client.setVelocityControllerGains(velocity_gains=airsim.VelocityControllerGains(airsim.PIDGains(0.2,0,0),airsim.PIDGains(2.0,0,0),airsim.PIDGains(2,2,0)))`

Here are the results

![image](https://user-images.githubusercontent.com/25960643/87469800-d7fdae80-c5

[2020-07-15 06:04] yuthikasagarage commented on #2112
i'm running to the same problem in UE4 4.22 and ubuntu 18.04. i will try @saifullah339's to have a timeout

[2020-07-15 08:31] ElishaAz opened #2853 "Unity API List is outdated"
https://github.com/microsoft/AirSim/blob/master/docs/unity_api_support.md is outdated.
moveToPositionAsync, and moveByRollPitchYawThrottleAsync are supported (there might be more).
moveByAngleThrottleAsync is not.

[2020-07-15 09:00] ElishaAz commented on #2853
getGpsData works
getMultirotorState works
getHomeGeoPoint works

[2020-07-15 09:45] LSBOSS opened #2854 "[UE4] simGetSegmentationObjectID will always return -1"
### Intro
Depending on the MeshNamingMethod in SegmentationSettings in AirSim's settings.json custom IDs will be assigned either based on a name of a StaticMesh/SkelletalMesh or the name of its owner.

For that reason `UAirBlueprintLib::GetMeshName `is being used during initialization of IDs to find out the correct name and also taking the different nature of above MeshComponents into account.

##

[2020-07-15 11:17] mhl787156 commented on #2594
Just to continue this question - I am running AirSim on windows on one machine, and have arducopter running on a separate laptop. I have set localhostip to 0.0.0.0 and the udpip to the ip of the laptop. The laptop is running the sim_vehicle command with '-A --sim-address=<ip address of windows machine'

This all runs fine, but AirSim is running incredibly slowly - one frame every few minutes! Chec

[2020-07-15 11:34] mhl787156 commented on #2850
Hey, I've been trying to do this just today, I think you can specify host_ip of Airsim on Windows by setting a parameter when you launch an airsim client node: See line 12 in [source](https://github.com/microsoft/AirSim/blob/master/ros/src/airsim_ros_pkgs/src/airsim_node.cpp), let me know if this works for you?

I've been trying to use ardupilot, mavlink and hopefully mavros but I havn't quite got

[2020-07-15 11:37] sourabhlal commented on #1724
Does anyone have a solution for this issue? I'm not getting the right segmentation image either in NoDisplay mode

[2020-07-15 13:05] mhl787156 commented on #2824
I don't know if you solved the problem, but what I found is that you can either (1) Default load settings.json from Documents, (2) pass the json as a string into --settings. The option that is mentioned in #715 with default loading if settings.json is in the same directory as the exe doesnt seem to work!

Therefore what I do is have a python script construct the settings json and launch my version

[2020-07-15 13:49] thejeshk opened #2856 "Mapping Unreal/Airsim Environment using ROS packages"
Hello Guys,

Is there any possible way to map the custom Unreal/Airsim environment using ROS packages?

Thank you :)
Thejesh

[2020-07-15 17:35] rajat2004 commented on #2594
Seems like a bad connection from ArduPilot side, bad file descriptor generally means it failed to create the socket. Is the other laptop running Linux, or is it Windows with WSL? You probably would have already checked if the machine is reachable or not.

About running slow, yes, that's due to Lock-Step implementation, since messages aren't being received, it's not proceeding further. Is it actual

[2020-07-15 19:42] aaronalmeida commented on #2824
Hey! I actually was not able to solve it :( And I'm glad I'm not the only one who noticed #715 doesn't work! The python solution you mentioned sounds awesome. Do you mind showing a part of your python code that achieves this? I tried running:

`AirSimProject.exe  --settings "{\"SettingsVersion\": 1.0, \"SimMode\": \"Car\"}"`

in command prompt which is the basic command mentioned in #715 and which

[2020-07-15 20:17] mhl787156 commented on #2594
Thanks for your reply! So the setup involves a linux laptop running ardupilot connecting to a Windows machine running AirSim over the local network. I think you are right in saying it might be the Ardupilot failing at something as running airsim+ardupilot on WSL1 on windows runs just fine!

Interesting, so the frame/physics rate is tied to the connection latency between the machines. Interesting i

[2020-07-15 20:21] mhl787156 commented on #2824
Hey! Yeah I just ended up looking directly at source! I think you are very close, but are falling prey to damn escape characters on windows! You also need to escape the backslashes I think so you end up with \\\" for each quote mark. I basically use this class as my handler to start and close the (built/ cooked) UE4 program too:
[code]
Essentiall note the __enter__ function where I call replace -

[2020-07-15 23:24] aaronalmeida commented on #2824
This is so helpful thank you so much!! I appreciate it :D

[2020-07-16 01:15] rajat2004 commented on #2850
You can try changing `localhost` to the IP address of the Windows machine here - https://github.com/microsoft/AirSim/blob/master/ros/src/airsim_ros_pkgs/launch/airsim_node.launch#L2
The PR which added this option - https://github.com/microsoft/AirSim/pull/2368
The docs need to be updated with the info, if someone does try it out, then a PR for improvements to the docs will be great!

@mhl787156 Fo

[2020-07-16 01:59] rajat2004 commented on #2594
Since some of the messages are going through (which is strange), maybe it's running loop where both are waiting for each other as you mentioned. Could you try a fix I've added here - https://github.com/ArduPilot/ardupilot/compare/master...rajat2004:airsim-resend
This resends servo output from AP side after a 1s timeout (might be too high)
I think if there are timeouts happening, etc. then some pro

[2020-07-16 03:16] aqeelanwar commented on #2848
You can check this repository based on AirSim
https://github.com/aqeelanwar/PEDRA

[2020-07-16 04:23] calmelo commented on #951
把杀毒软件关了就可以了

[2020-07-16 10:45] manthan99 commented on #2856
ORB SLAM works fine with Airsim if you want to create a feature-based map using monocular camera data. The calibration parameters are pretty straight forward. Since you already have the ground truth odometry, you may try the common ROS mapping packages.

[2020-07-16 11:15] mhl787156 commented on #2594
I have tried your fix (double check building: "./waf configure --board sitl" then "./waf copter" to build the changes?). So on the AirSim side things look exactly the same unfortunately - drone appears and then after some time the rendering updates - after a while we still get "LogTemp: Error while receiving rotor control data - ErrorNo: -1". On Ardupilot, the copter console now mostly no longer c

[2020-07-16 11:36] rajat2004 commented on #2594
Commands are correct, and the console output also seems correct. Could you post the Wireshark capture of the packets here?
Looks like a pretty bad intermittent connection problem are occurring, but it the messages are coming continuously, then that's strange. I don't remember any specific cases where the messages are being discarded, but will have to take at the code again.

Could you also try com

[2020-07-16 12:05] AOS55 commented on #1679
@RVBldr thats an interesting way to do it were you able to just add it in as a vehicle in AirSim/Source/AirLib/include/vehicles? I would be really interested to hear some more details do you have any of the source code available open source?

[2020-07-16 12:26] mhl787156 commented on #2594
@rajat2004 just testing now, how do I see the logs after commenting out that line?

[2020-07-16 12:35] rajat2004 commented on #2594
Logs are stored in a folder named `logs`, with `LASTLOG.txt` having the last saved log file number. If running `sim_vehicle.py` from `ArduCopter` directory, then `logs` folder will be in that directory, else if from the main AP repo folder, then it's present in there. You can also see when the file was created to make sure that it's the correct one
This page - https://ardupilot.org/dev/docs/using-

[2020-07-16 12:45] mhl787156 commented on #2594
Whilst I work out how to view logs - here are the wireshark snippets below. ipaddr.17 is the airsim machine, and ipaddr.63 is the linux ardupilot machine. All the ports line up i think! Let me know if you want any more info

Here we see the constant communication
![wiresharkmain](https://user-images.githubusercontent.com/10742598/87672109-541f0000-c76a-11ea-9005-76b5639c96c9.png)

Here is the pack

[2020-07-16 13:10] AOS55 commented on #2508
Hey, I am going to try and work out a method to add some of this functionality if anyone else is working on this comment here or DM me on GitHub maybe we could collaborate. I'll try and produce some documentation as I go so we can hopefully merge it back into the main repo if I can get it to work 😕.

There are a couple of approaches I can see that might work out I will try and feedback on how each

[2020-07-16 14:59] lucafei commented on #2850
Hi, mhl787156,
firstly thanks for your advice, i have tried this api. I think it has already worked. After you installed the ros_wrapper for airsim, you can just change the host_ip as ip address of your local machine, like @rajat2004 said. By now i'm just tesing the connection between ros and airsim, so i can't say anything about usage of provided api.

[2020-07-16 15:01] lucafei commented on #2850
hi rajat2004,

you're right. i have tried this method. the connection works.

[2020-07-16 23:45] yash1315 opened #2857 "AttributeError: module 'msgpack' has no attribute 'Packer from airsim?"
I war trying to implement reinforcement learning algorithms and was working on it for about 4-5 days. But today I don't what happened, the airsim package has some issue. The error is shown below.
[code]

Can anyone help me with this issue?
Thanks

[2020-07-17 03:29] rajat2004 commented on #2508
@AOS55 The [Easy Flight model](https://www.unrealengine.com/marketplace/en-US/product/easy-flight-model) looks pretty good, and it does state that it works with C++ projects, so should be possible to integrate it with AirSim, though am not sure as to the exact way to go about it.

Integrating AirSim vehicle with ArduPilot would be a straightforward task, once the sensor data such as IMU, etc. are

[2020-07-17 05:25] ACLeighner commented on #2361
Hey I have a fix for the shaking drone, check it out over at:
https://github.com/microsoft/AirSim/issues/1394#issuecomment-629936379

currently running into some weird issues with set camera orientation jumping around

[2020-07-17 05:29] ACLeighner commented on #2595
Check to see if your drone is physically shaking at higher altitude (>60)  It is a known bug with the PID controller.  I posted a fix for it here: https://github.com/microsoft/AirSim/issues/1394#issuecomment-629936379

[2020-07-17 06:28] #2783 closed

[2020-07-17 07:34] pavankumarbn opened #2858 "Build failed - AirSim installation on Windows 10"
Hello everyone,

I have been trying to install AirSim ( by following https://microsoft.github.io/AirSim/build_windows/)  on Windows 10 and facing the below problem
----------------------------------
"C:\Program Files (x86)\AirSim1\AirSim.sln" (default target) (1) ->
"C:\Program Files (x86)\AirSim1\DroneShell\DroneShell.vcxproj" (default target) (2) ->
"C:\Program Files (x86)\AirSim1\AirLib\AirLib.

[2020-07-17 08:18] #2858 closed

[2020-07-17 12:17] lucafei opened #2859 "Domain randomization for airsim"
my situation: airsim on windows pc, ros wrapper for airsim on ubuntu16.04 pc, unreal engine 4.21
### Question:
i want to make domain randomization to train my model in airsim so that i can transfer my trained model in real hardware. I have seen some infos about domain randomization in airsim tutorial (https://microsoft.github.io/AirSim/retexturing/) but it has only the function to change the textu

[2020-07-17 19:28] jeffreyng99 commented on #2832
@sourabhlal For you scripts, do you run them after you start the simulation by pressing play? I'm trying to figure out how to start the simulation without having to do it manually. I'm working in Linux which may be different than Windows.

[2020-07-17 19:55] jeffreyng99 opened #2860 "How does the RCData class work?"
Hello, I am trying to write a keyboard operated remote control replacement through the Python API. I've noticed the API offers the moveByRC function. Within it there is the RCData object that I pass in. What does each of the member variable's data represent? Is there a more in-depth documentation/example about this class?

System settings:
Ubuntu 18.04
Python 3.6.9
AirSim 1.3.1
Unreal 4.24.3

Here

[2020-07-18 04:13] rajat2004 commented on #2832
@jeffreyng99 If you have set `SimMode`, then AirSim should start without the prompt to select the vehicle. If you're talking about running in the Editor, then yeah, you'll have to press Play in that.

[2020-07-18 04:49] postureai commented on #2653
Hii, Did you able to do this? Could you please let me know how?

[2020-07-18 18:16] yash1315 commented on #1757
Hey guys,
I think I am facing a similar issue. Could you guys please guide me how to solve this issue?

Traceback (most recent call last):
File "pg2.py", line 5, in
import airsim
File "C:\Users\lenovo\Anaconda3\lib\site-packages\airsim_init_.py", line 1, in
from .client import *
File "C:\Users\lenovo\Anaconda3\lib\site-packages\airsim\client.py", line 3, in
from .utils import *
File "C:\Users\leno

[2020-07-19 00:15] somil55 opened #2862 "Detect if car is on road"
Is there a way to detect if a car is staying on the road in neighbourhood/city environment?

[2020-07-19 09:47] shiran8338 commented on #356
Hi! Have you figured this out? I have the same problem right now.

[2020-07-20 07:13] dnychennnn opened #2863 "Ray-cast to Get Velocity of Moving Multicopters Only Return 0"
# Read This First

## If you are reporting a bug
* Make sure to write **all reproduction steps**
* Include full error message in text form
* Search issues for error message before filing issue
* Attach screenshot if applicable
* Include code to run if applicable

## If you have question
* Add clear and concise title
* Add OS, AirSim version, Python version, Unreal version if applicable
* Include c

[2020-07-20 07:46] dnychennnn commented on #2863
Hi,

I've tried to mimic CARLA's implementation for radar in Airsim. When it came to compute the response of doppler velocity, I have the following implementation:

![image](https://user-images.githubusercontent.com/7877286/87910009-92b60280-ca69-11ea-8ca4-fcf1a49b26fc.png)

And then the question came across that the returned velocity value of hit actor(in my case it's another drone agent) by the

[2020-07-20 11:58] kminoda commented on #2850
FYI, I am currently using AirSim + ROS only on windows 10 by using WSL (ubuntu 18.04 + ROS melodic). Though I had some problems with GUI (such as rviz and rqt_image_view), now it's working fine.

[2020-07-20 12:18] lucafei commented on #2850
hi, kminoda, maybe you can try the python api of airsim, if you don't have to use ros. by the way did you have tried the domain randonmization of airsim?

[2020-07-20 12:23] kminoda commented on #2850
@lucafei No. Since I am new to AirSim&UE4, didn't even know that you can do this kind of thing easily in AirSim.

[2020-07-20 13:21] nethtrick commented on #2595
Hello ACLeighner,

Thank you for the post. I looked at your problem and glad you got it fixed. I will test your fix to see if that makes a difference and provide an update, it's possible. I'm not sure it would explain the camera jitter I'm seeing but maybe. I had noticed problems flying at higher altitudes in the Blocks environment and had ascribed it to some sort of "ceiling" on that particular l

[2020-07-20 13:23] nethtrick commented on #2361
Hello xlong0513,

I too have run into jittery camera issues - even after inverting the drone orientation. I have posted about it here:

https://github.com/microsoft/AirSim/issues/2595

I have not yet tried ACLeighner's solution but it sounds like they are still experiencing camera jitter issues. Hopefully between us we can figure this out!

[2020-07-20 15:44] rajat2004 commented on #2863
Looks strange, are the actor name and the location correct?
One reason I could think of, based on [`GetVelocity()` doc](https://docs.unrealengine.com/en-US/API/Runtime/Engine/GameFramework/AActor/GetVelocity/index.html) could be that Airsim is using its own physics engine for multirotors, which might cause velocity to be shown as zero. Though this is a pretty far-fetched thought, and need to check

[2020-07-20 16:15] lucafei opened #2864 "could not find function getMultirotorstate"
i have two computer, one runs ros on Ubuntu 16.04, another one runs windows10 with airsim simulator. I have connected the ros with airsim on windows, which can be achieved with usage of roswrapper of airsim. But when I use client.getMultirotorstate to get states of drone from airsim. It turned out error: the Programm can’t find the function getMultirotorstate. Does anyone have met same problem? Ho

[2020-07-20 17:38] EdwinMeriaux commented on #2864
can you show the code you are using that has this issue?

[2020-07-20 19:51] cthoma20-arc commented on #2009
I am having the same issue. I copied the settings.json verbatim from [here](https://github.com/microsoft/AirSim/blob/master/ros/src/airsim_tutorial_pkgs/settings/front_stereo_and_center_mono.json). Running AirSim on Windows 10, with AirSim ROS node running on ROS melodic on Ubuntu 18.04. Any help would be greatly appreciated! Thanks!

[2020-07-21 05:35] kartikeya13 commented on #2850
Hii @lucafei,
It might sound silly, but I am a newbie to ROS and I want to connect AirSim (windows) with ROS ubantu for extracting camera images from AirSIm simulator. If you could just let me know how you did that in a layman way I would be so thankful to you.

[2020-07-21 08:06] rajat2004 commented on #284
I've opened #2867 which adds Wind implementation according to the discussion here. Any testing or review, especially of the physics part would be great!

[2020-07-21 12:40] dnychennnn commented on #2863
@rajat2004 As you can see in the figure below, the position and actor name are fine(maybe a bit of deviation), so I really can't think of a reason why the velocity won't work.
![image](https://user-images.githubusercontent.com/7877286/88055985-20741980-cb60-11ea-97f1-5c4e3895f878.png)

[2020-07-21 16:12] flynneva commented on #1523
was this completed already?

[2020-07-21 18:13] shortstheory opened #2869 "Scaling down the default SUV to 1:10 size"
Hi! I am working on an application using AirSim that involves mapping an indoor environment with a ground robot. The default SUV is a decent starting point for what we need, but it's too large to fit in the indoor environments which we want to map. Is there a way I can modify the SUV's model and parameters to make it 1:10 of its current size?

* OS: Windows/Linux
* Python Version: 3.7.6
* AirSim V

[2020-07-21 18:52] #2832 closed

[2020-07-21 19:46] #2759 closed

[2020-07-22 01:40] galgyeony opened #2870 "Does AirSim support Pixhawk 4 for HITL?"
Since Pixhawk 2.1 was discontinued, I have been trying to use Pixhawk 4 for HITL instead.

However, it is unclear whether AirSim supports Pixhawk 4 for HITL since it is not listed as a supported hardware (see the link below):
https://microsoft.github.io/AirSim/px4_setup/

Does AirSim support Pixhawk 4 for HITL? If not, is there another good option for HITL?

Thanks in advance.

[2020-07-22 02:04] clev0910 opened #2871 "Tilt Rotoring Quadcopter in SITL"
Hello everyone! I'm trying to run a tilt rotoring quadcopter with SITL using airsim on unreal engine. The quadcopter is able to have the tilt rotoring mechanism in real life, but I'm unable to do this using SITL after changing the parameters on Mission Planner. I'm not too sure, but I think this is because the software doesn't know where the servos are located. Is there anyway of implementing tilt

[2020-07-22 02:57] dongfanggzha opened #2872 "Ackermann steer calculation"
# Read This First

## If you are reporting a bug
* Make sure to write **all reproduction steps**
* Include full error message in text form
* Search issues for error message before filing issue
* Attach screenshot if applicable
* Include code to run if applicable

## If you have question
* Add clear and concise title
* Add OS, AirSim version, Python version, Unreal version if applicable
* Include c

[2020-07-22 15:27] lucafei commented on #2864
hi, EdwinMeriaux, i just run the demo code from airsim_ros_pkags. you can find it in https://github.com/microsoft/AirSim/blob/master/ros/src/airsim_ros_pkgs/launch/airsim_node.launch

[2020-07-22 15:31] lucafei commented on #2850
you can find the api for getting image in https://microsoft.github.io/AirSim/image_apis/

[2020-07-22 15:37] kartikeya13 commented on #2850
@lucafei
Can you let me know how I can get frames using that api and process it through a loop to get a video displayed in an opencv window?

[2020-07-22 18:06] #1760 closed

[2020-07-22 21:40] rallen10 commented on #2835
I am facing a similar problem
@LSBOSS thank you for the code, but it causes an error. at the line with `list_to_2d_float_array`, it errors with:

[code]

apparently `response.image_data_float` is a just a list [0.0] for some reason

[2020-07-22 23:12] rallen10 commented on #2665
I have the same problem. `image_data_float` is `[0.0]` even though `image_data_uint8` has large amounts of data. I am using `pixels_as_float=True`. Did you ever find a solution?

[2020-07-22 23:13] rallen10 commented on #2169
I am facing the exact same problem. Did you ever find a solution?

[2020-07-22 23:36] rallen10 commented on #1840
I'm still getting this same error and it doesn't seem to just be me (https://github.com/microsoft/AirSim/issues/2169). Perhaps this issue should be opened again

[2020-07-22 23:40] rallen10 commented on #1755
I am still facing this issue! There are many more issues like this open and the ones that are closed are only closed because someone recommended the `if` statement workaround. Can we get a higher priority on this?

[2020-07-22 23:56] rallen10 opened #2875 "image_data_float always returns an empty image (i.e. list composed of [0.0])"
# Read This First

## If you are reporting a bug
* Make sure to write **all reproduction steps**
* Include full error message in text form
* Search issues for error message before filing issue
* Attach screenshot if applicable
* Include code to run if applicable

## If you have question
* Add clear and concise title
* Add OS, AirSim version, Python version, Unreal version if applicable
* Include c

[2020-07-23 01:12] rallen10 commented on #2875
I found pull request https://github.com/microsoft/AirSim/pull/2812 from a similar issu: https://github.com/microsoft/AirSim/issues/2811. I tried merging the pull request locally and [rebuilding AirSim and the Unity wrapper](https://microsoft.github.io/AirSim/Unity/#linux), but to no effect. Still getting the same problem with an empty image

[2020-07-23 02:56] jusevitch commented on #2009
The solution above works for me. When using WSL 2 on Windows 10 while running AirSim from the Unreal Engine, launching `airsim_node.launch` from WSL 2 only works when there exist two copies of the _exact same_ `settings.json` file in both `Documents\Airsim` in Windows and `~/Documents/AirSim` in the WSL 2 file system. If the settings file is missing from either location, I get an error when launch

[2020-07-23 17:44] EdwinMeriaux commented on #2864
wait so the only thing you are launching is the airsim_ros_pkgs? Are you launching any code on top of that?
Also on a side note. If you do not launch airsim_ros_pkgs have you tried the hello_drone.py code? does that work properly?
If yes try running the getMulitororstate.

so something like:
pos = client.getMultirotorState().kinematics_estimated.position inside of the hellodrone code

[2020-07-23 23:02] #2854 closed

[2020-07-24 06:07] #2815 closed

[2020-07-24 06:24] #2612 closed

[2020-07-24 06:56] #2723 closed

[2020-07-24 06:56] #2806 closed

[2020-07-24 07:08] liupucn opened #2876 "Can I drive the Car and Multirotor at the same time?（Win10、Airsim1.3）"
When I set the simmode as Multirotor or Car, I can only control the one of them.

[2020-07-25 09:15] Patxi64210 opened #2878 "Airsim API moveByRollPitchYawThrottleAsync with px4 HITL"
Hi,

I am trying to control a piwhawk with px4 firmware v 1.10.1 in HITL (airsim recently updated) mode remotely with a joystick.
I have one program grabbing the input of the joystick and sending them through the network with a library named ingescape and based on zeromq (custom one you can take a look here https://ingescape.com/). I have a second one handle them by a callback mechanism and passin

[2020-07-25 09:25] Patxi64210 commented on #2878
Additional information : I am running everything in Win10. Airsim and airlib code at "Reduced warning level in Unity build (#2672)" commit 2020/05/09 at 12:02

[2020-07-25 09:44] ningshipang commented on #1715
I also want to make camera calibration, but I don't know how to put the picture used to make camera calibration in the background. Could you tell me the way? Thank you!

[2020-07-25 18:34] ahmed-elsaharti commented on #2573
Had this same issue with v1.10.1 (from the docs).
Solved by installing Cygwin Toolchain 0.8 rather than 0.9

[2020-07-25 20:15] manjusha1691 opened #2879 "Unable to run the demo in Setup Blocks Environment for AirSim"
I followed **[https://microsoft.github.io/AirSim/build_windows/]** to install AirSim and Unreal 4.25. I am able generate .sln file in the blocks folder and when I am trying to launch it using VS2019 on a Windows10 machine . The following screen is loading.
![3](https://user-images.githubusercontent.com/54560778/88465273-aad5b980-ce8f-11ea-9cd1-fbd0cc769ebd.JPG)

According to instructions in Step 5

[2020-07-27 05:28] HelloEgg opened #2882 "Question regarding simple_flight drone dynamics"
Hello.

I am trying to validate your drone model based on your paper and observed position and orientation value from simulation.

I am trying to see if my input values that goes through re-implemented drone dynamical model matches the observed value.

The paper that I am referencing is "AirSim: High-Fidelity Visual and PhysicalSimulation for Autonomous Vehicles"

(https://arxiv.org/pdf/1705.05065

[2020-07-27 06:24] higho51420 opened #2883 "car in unity demo don't move when using python API (hello_car.py)"
I use unity 2019.3.12
latest airsim version
visual studio 2019
when I run the hello_car.py the car don't move. nothing gonna happen. The car is stationary
![0](https://user-images.githubusercontent.com/59675267/88510038-cfa76980-d014-11ea-89bb-37c2be5da3a9.PNG)

[2020-07-27 08:05] rajat2004 commented on #2882
[`set_wrench()`](https://github.com/microsoft/AirSim/blob/master/AirLib/include/vehicles/multirotor/RotorActuator.hpp#L109) in `RotorActuator.hpp` and [`RotorParams.hpp`](https://github.com/microsoft/AirSim/blob/master/AirLib/include/vehicles/multirotor/RotorParams.hpp) might be what you're looking for
The direction is the normal of the vertices

[2020-07-27 10:46] GeneLYJ opened #2884 "How to allow multiple drones to communicate each other?"
I'm pretty new in AirSim, I managed to create multiple drones in the simulation. I just want to make Drone 1 to say hi to Drone 2. The Drone 2 will reply back to Drone 1 once it received hi from Drone 1.

[2020-07-27 13:00] HelloEgg commented on #2882
@rajat2004 Thank you very much for your kind reply.

As I understand, vector Force should be normal*Force*air_density, correct?

According to RotorParams.hpp, it looks like air_density is 1.225f.

As for normal vector, do I simply get normal vector by converting quaternion to euler angle?

Thank you so much.

[2020-07-28 01:29] lovettchris commented on #2580
See [PixelStreaming demo](https://github.com/microsoft/AirSim/wiki/Capturing-video-using-Unreal-PixelStreamer).

[2020-07-28 01:29] #2580 closed

[2020-07-28 06:28] aldaoctavia opened #2887 "car_position = client.getPosition() AttributeError: 'CarClient' object has no attribute 'getPosition'"
i am trying to run the code testmodel.py program with mountain environment airsim and getting this error 'AttributeError: 'CarClient' object has no attribute 'getPosition',  when i add this code for plotting

[code]

can anyone solve the problem?

btw, this is my  full testmodel program

[code]

[2020-07-28 21:10] guadacasuso commented on #169
Please check this https://microsoft.github.io/AirSim/azure/

[2020-07-29 05:34] petergerten opened #2888 "Blueprint compile error (OptionsMenu)"
Hi,

it seems this commit https://github.com/microsoft/AirSim/commit/5e873a34ceb751e2c0c5dac135b3f350c03b6244 introduced the following error in my cook process:

[code]

Using AirSim before this commit works.

[2020-07-29 05:54] rajat2004 commented on #2888
There's a PR #2877 which should fix this
Note that I haven't tried it myself

[2020-07-29 05:57] madratman commented on #2888
Yes, this is only happening in 4.25.0. The CI build passed as it's using 4.25.1
PR 2877 does fix it.

[2020-07-29 05:59] saihv commented on #2888
Merged https://github.com/microsoft/AirSim/pull/2877, should fix this.

[2020-07-29 05:59] #2888 closed

[2020-07-29 06:06] madratman commented on #2785
PR https://github.com/microsoft/AirSim/pull/2743 added this. This was also answered here https://github.com/microsoft/AirSim/issues/2796#issuecomment-650674502

[2020-07-29 06:06] #2785 closed

[2020-07-29 06:08] madratman commented on #2887
There is not API called `getPosition`. Please use `getCarState` (https://github.com/microsoft/AirSim/blob/master/PythonClient/airsim/client.py#L1131)

[2020-07-29 06:08] #2887 closed

[2020-07-29 06:11] madratman commented on #2884
We don't model multi-agent communication in the C++ backend, however you can do all of that on the client side.
You can use the python APIs to get the state of both drones, and corrupt the state of drone 1 as observed by drone 2 as needed.
(My assumption here is that by "hi" you refer to something like "state / control inputs of drone i" as seen by "drone j"

[2020-07-29 06:11] #2884 closed

[2020-07-29 06:25] madratman commented on #2882
Hello @HelloEgg
Thrust is (always) generated along the normal vector, as @rajat2004 hinted.
By default, this normal vector is (0,0,-1) in NED system. Or in other words simply the "up" vector if you don't modify the spawn orientation in settings json. Or in the other words, always along the Z direction in the "body frame" of the quadrotor (where body frame would have some relative orientation w.r.t

[2020-07-29 06:25] #2882 closed

[2020-07-29 06:29] madratman commented on #2879
Please restart Epic Games launcher and click on "associate project file extension with unreal engine", and try again.

[2020-07-29 06:29] #2879 closed

[2020-07-29 06:30] madratman commented on #2876
This is currently not supported

[2020-07-29 06:30] #2876 closed

[2020-07-29 06:31] madratman commented on #2872
Please make a proper issue, and provide some context.

[2020-07-29 06:31] #2872 closed

[2020-07-29 06:35] madratman commented on #2871
The configuration of the multirotor is determined by the MultirotorParams class which is initialized here - https://github.com/microsoft/AirSim/blob/master/AirLib/include/vehicles/multirotor/MultiRotorParamsFactory.hpp

You'd have to specify a custom normal vector for each rotor in the RotorPose struct (https://github.com/microsoft/AirSim/blob/master/AirLib/include/vehicles/multirotor/MultiRotorPa

[2020-07-29 06:39] #2871 closed

[2020-07-29 06:42] madratman commented on #2864
The above comment answered the question.
If not, can you share a python snippet.
getMultirotorState is a python API, and has nothing to do with the ros wrapper.
If you're using the ros wrapper, you need to subscribe to the odometry topic

[2020-07-29 06:42] #2864 closed

[2020-07-29 06:44] madratman commented on #2869
![image](https://user-images.githubusercontent.com/6305323/88766006-2ce20e80-d12c-11ea-9272-32af36c3fa68.png)
![image](https://user-images.githubusercontent.com/6305323/88766027-35d2e000-d12c-11ea-9bb7-102faa37e70c.png)

Follow the screenshots above and change the scale of the SUV pawn to 0.1, 0.1, 0.1 for x, y, z

[2020-07-29 06:44] #2869 closed

[2020-07-29 07:00] madratman commented on #2863
Hmm, pretty interesting issue. Yes, the radar implementation would be a great PR.
Now, in the multirotor mode, we essentially directly set the poses of the multirotor pawn object to be what airsim's custom physics engines tells us. I think this is the reason for unreal pawn to have zero velocity (so for multirotor, the only way to get true velocity is to grab it from multirotor's physics body, and

[2020-07-29 07:03] madratman commented on #2862
This is not supported as of now. @ironclownfish is using a navmesh feasible?
I'd also suspect getCollisionInfo should return something useful in this case.
@somil55 can you clarify if you mean a binary answer - yes / no for car is on the road, or something else?

[2020-07-29 07:03] madratman commented on #2859
We only support changing of textures.
cc @saihv

[2020-07-29 07:39] madratman commented on #2860
There's an example script here https://github.com/microsoft/AirSim/blob/123bbd6d6416bbe98e775101ba8ebcb5ccbf8501/PythonClient/multirotor/manual_mode_demo.py

The main params to care about are the RPYThrottle, and the values of switch1 and switch2.
switch1 decides if RPY values are interpreted as angle level set point or angle rate setpoints.
Itis implemented as a "3-way switch", which however only

[2020-07-29 07:43] madratman commented on #2850
@kartikeya13 https://opencv-python-tutroals.readthedocs.io/en/latest/py_tutorials/py_gui/py_image_display/py_image_display.html

[2020-07-29 07:43] #2850 closed

[2020-07-29 07:51] madratman commented on #2848
"What do I have to use as input state for my DQL algorithm ?"
there's no one single correct answer to this question.
A classical navigation pipelines first does state estimation using visual + inertial sensor data, uses that to build a map, and then uses both the state estimation and an inferred map of the environment to do motion planning level tasks.
Now, if you want to do deep RL to do the abov

[2020-07-29 07:51] #2848 closed

[2020-07-29 07:51] madratman commented on #2843
We've merged a few PRs, and will be merging more soon.

[2020-07-29 07:51] #2843 closed

[2020-07-29 07:55] lucafei commented on #2859
Hello, madratman, thank you for your answer. but does it have any possible ways to realize more factors randomization? it is possible to realize the purpose in airsim by my own  ? Can you give me some guidance for that? Thank you very much in advance.

[2020-07-29 07:57] madratman commented on #2840
Are you running this inside a docker container? If so, make sure you run docker with the gpu param (`docker --gpus all / --gpu 1 ...` see https://github.com/NVIDIA/nvidia-docker/tree/master#usage)

Does following https://askubuntu.com/questions/456689/error-xdg-runtime-dir-not-set-in-the-environment-when-attempting-to-run-naut (and https://askubuntu.com/questions/872792/what-is-xdg-runtime-dir) he

[2020-07-29 08:03] madratman commented on #2831
https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/orbit.py

[2020-07-29 08:03] #2831 closed

[2020-07-29 08:07] madratman commented on #2833
If you want to get x, y, z coordinates, please use getMultirotorState() instead
The NED <-> Geodetic conversions are handled in C++ here https://github.com/microsoft/AirSim/blob/master/AirLib/include/common/EarthUtils.hpp#L288
You'd have to either port them to python or just use the cartesian state via getMultirotorState

[2020-07-29 08:07] #2833 closed

[2020-07-29 08:11] #2820 closed

[2020-07-29 08:12] madratman commented on #2813
https://github.com/microsoft/AirSim/pull/2845 closes this

[2020-07-29 08:12] #2813 closed

[2020-07-29 08:15] #2797 closed

[2020-07-29 08:20] madratman commented on #2788
Yes, that is still the case. And is definitely something worth contributing to via a PR.
If you need help / feedback on the implementation, let's chat on this thread.

[2020-07-29 08:23] #2780 closed

[2020-07-29 08:25] madratman commented on #2773
https://github.com/madratman/airsim_standalone/ a bit outdated, but does this help?

[2020-07-29 08:25] #2769 closed

[2020-07-29 08:27] madratman commented on #2763
arXiv: https://arxiv.org/abs/2001.09822

[2020-07-29 08:28] #2761 closed

[2020-07-29 08:29] madratman commented on #2767
Apart from the above, the envs are closed source.

[2020-07-29 08:29] #2767 closed

[2020-07-29 08:31] madratman commented on #2757
You can compile AirLib as a standalone project, see https://github.com/microsoft/AirSim/tree/master/AirLibUnitTests and  https://github.com/madratman/airsim_standalone/ for reference

[2020-07-29 08:31] #2757 closed

[2020-07-29 08:32] #2756 closed

[2020-07-29 08:38] madratman commented on #2753
" Note for Linux users: There is no Epic games launcher for Linux which means that if you need to create custom environment, you will need Windows machine to do that. Once you have unreal project folder, just copy it over to your Linux machine."

By this, we are referring to the scenario when someone wants to use environments which can be downloaded from the UE marketplace.
If so, they have to dow

[2020-07-29 08:38] #2753 closed

[2020-07-29 08:39] #2750 closed

[2020-07-29 08:41] #2738 closed

[2020-07-29 08:44] #2735 closed

[2020-07-29 08:45] madratman commented on #2732
You are definitely missing a step in the setup. Please re-open if you're still facing issues with current master.

[2020-07-29 08:45] #2732 closed

[2020-07-29 08:50] madratman commented on #2693
We only provide client level set control and get sensor data APIs in the car mode.

[2020-07-29 08:50] #2693 closed

[2020-07-29 08:50] #2690 closed

[2020-07-29 08:51] madratman commented on #2687
Please provide more context. What API raised this error?
getServerVersion does work in general. Seems like a setup issue on your machine

[2020-07-29 08:52] #2681 closed

[2020-07-29 08:53] #2680 closed

[2020-07-29 08:54] #2684 closed

[2020-07-29 08:55] #2655 closed

[2020-07-29 08:56] #2639 closed

[2020-07-29 11:49] GeneLYJ commented on #2884
Yes, if that's the case, may I know which API could read the state of the drone ? I would like to do something like Drone 2 would move to the left when Drone 1 moves to the left.

[2020-07-29 12:16] petergerten opened #2889 "libopenvr_api.so issue when building project against UE 4.25"
When using 4.25 projects that could be build with 4.24 break for me.
@saihv basically the same issue you reported here: https://forums.unrealengine.com/unreal-engine/announcements-and-releases/1755531-unreal-engine-4-25-released/page4

[code]

[2020-07-29 12:49] Abc11c commented on #2857
I had a similar issue try downgrading `tornado=4.5.3` in Anaconda the latest version seems to have conflict with airsim `pip install airsim` module.
Hope it helps

[2020-07-29 13:05] lucafei opened #2890 "infrarot image in airsim"
i am doing a project with airsim. Now i run airsim on windows computer and make control on another linux machine. I am doing image process recently. And i want to use infrarot image in airsim, but it seems like airsim doesn't provide the infrarot image.? Does anyone have the same requirement? How do you solve this? or where can i get the infrarot image? Thank you in advance.

[2020-07-29 13:17] m1baldwin opened #2891 "Camera frame rate for capturing images is exceptionally low"
I have recently been testing Airsim + Unreal on a gaming desktop to see if I can get better performance than what I was able to get on a laptop. For reference, this is the desktop:

Alienware Aurora Ryzen™ Edition R10 Gaming Desktop
https://www.dell.com/en-us/shop/cty/pdp/spd/alienware-aurora-r10-desktop/wdryzr10mx?configurationid=8e4e7c7e-3794-4eef-abb4-173cdc0a3004

As part of my work, I am inte

[2020-07-29 13:53] m1baldwin commented on #2840
I have had some success running unreal engine on a google cloud platform VM. In my setup, I used OpenGL4, Virtual GL, and turbovnc.

What VNC software are you using? I would recommend using a VNC software designed specifically to work with 3d workloads + virtual GL. For example, turboVNC + virtual GL might be an interesting direction for you. I have seen similar approaches in some other work aroun

[2020-07-29 13:55] m1baldwin commented on #2840
Also, have you tried running unreal editor just using opengl4, by passing the -opengl4 flag?

[2020-07-29 14:21] madratman commented on #2884
Please read the docs.
getMultirotorState and moveBy* apis are what you need. They both take in vehicle_name as an argument.

[2020-07-29 17:19] m1baldwin opened #2892 "Difference in image when using sim.getImages to retrieve a compressed and uncompressed image."
I have a simple script which I am using to test the difference in the compressed and uncompressed images retrieved using the image api getImages. I based the code on the example code shown in the airsim documentation.

This is my script:

[code]

When I run it, I get the following two images. They are from the same camera, and should be of the same thing. However, the image generated from the comp

[2020-07-29 18:12] rajat2004 commented on #2892
Hmm, I recently tested this and was working correctly.
Don't think this line `img_rgb = np.flipud(img_rgb)` is required

[2020-07-29 18:29] somil55 commented on #2862
@madratman A binary answer would be enough for my use case. IMO a more generalized version of this would also return distance from the center of the road.

[2020-07-29 18:42] m1baldwin commented on #2892
That is strange, because if I don't include that line then the image looks very similar, but clearly upside down.

Any ideas on additional tests? Is there a way to run using opengl on windows, rather than vulkan?

[2020-07-29 22:02] EdwinMeriaux opened #2893 "multithreading buffererror"
Hey!

So I built a ROS publisher to publish the position of all the drones being flown in airsim.
I then built a ROS subscriber with a PID controller to receive this data and then move all of those drones all at the same time.

but now I would like to move the drones in independent threads. but I keep getting the following error:

Exception in thread Thread-508:
Traceback (most recent call last):

[2020-07-30 03:22] rajat2004 commented on #2892
@m1baldwin The problem seems to be in `airsim.write_png` method, that's storing the image incorrectly, and I'm unable to open it due to `bad adaptive filter value` on Linux. Using OpenCV to save the image works, and I have been using that instead of the utility function so hadn't noticed the problem.
My modified script -
[code]

The utility function should be changed to use cv2

[2020-07-30 06:27] GeneLYJ commented on #2884
Thank you. Last question, is it possible to implement something like wireless protocol in AirSim? So basically multiple drones communicate through a protocol.

[2020-07-30 06:53] aldaoctavia commented on #2887
i have use getCarState, but then there is another error.

File "TestModel.py", line 76, in <module>
    x.append(car_state.x_val)
AttributeError: 'CarState' object has no attribute 'x_val'

![image](https://user-images.githubusercontent.com/63385220/88890450-d8de4380-d26b-11ea-97a3-cf9d7a7a4bb8.png)

here is my plotting program
![image](https://user-images.githubusercontent.com/63385220/88890064-4

[2020-07-30 12:26] aaronalmeida commented on #2842
Hey,

Thanks for the reply. I meant opening the UE project in C++ and coding the functionality of the AirSim API (as in the moveToPosition(), takeOf() functions) within that UE project file (I am using C++ rather than python). Currently, you would have to have the API code open on one screen while running UE on the other.

Appreciate any help you could provide me with!

[2020-07-30 15:16] lmsstate opened #2895 "Random seed and trajectories (recorded positions in airsim_rec.txt)"
AirSim : v1.3.1 - Windows
OS: Windows 10
Python Version : 3.7.2 +
Unreal Version : 4.25
We are conducting a drone risk analysis by analyzing thousands of trajectories flying the same waypoints. We find we could get trajectories in recorded positions in airsim_rec.txt. We would like to know:
1.	If there are any random number seeds, we can change so each time when we simulate the same flight, the tr

[2020-07-30 17:23] nikunj-phutela opened #2896 "Import airsim on a web application"
I had noticed that unreal engine can be used on a web application, but could not find any documentation to support the fact that airsim could also deployed on the same unreal engine instance running on the web application. Is it possible to do so?

[2020-07-30 20:20] m1baldwin commented on #2892
@rajat2004 Thank you, this worked for me.

Just wondering, what is the expected rate I should be able to continuously request images from the camera in the simulation? I am interested in recording frames and recombining them into a video to simulate a video feed for post-processing. But, I am getting very low frame rate as described here #2891

[2020-07-30 20:40] rajat2004 commented on #2892
Not sure about the expected frame rate, would depend on the machine, resolution etc. But yeah, fetching uncompressed image would definitely speed it up a bit
I'll post on the other thread, to keep all details related to a topic in one place

[2020-07-30 20:52] m1baldwin commented on #2892
@rajat2004 sure, I will follow up in the other issue.

[2020-07-30 20:52] #2892 closed

[2020-07-30 20:57] rajat2004 commented on #2891
Low frame rates are definitely a problem. Just some general ideas on improving it

Try using binaries, I've generally found that binaries are faster than running in Editor. Not sure if you're already using them, for your custom env or even the normal ones, once you have any changes in Airsim (such as the fetching the latest master) tested and working, packaging the project is pretty easy.

You are

[2020-07-30 21:09] m1baldwin commented on #2891
Here are the contents of my settings file:

[code]

Just want to go over the points you mentioned:
1. I will take a look at the pre-built binary option. I am mostly interested in the custom environment I have, so I will try with that and see if I can get it to work. I only got this machine I referenced above this week; before this, my laptop would crash whenever I tried building anything :)

Also,

[2020-07-30 21:26] m1baldwin commented on #2891
Also, strangely now when I try with PR #2713, I get an error when trying to convert the uncompressed into a numpy array

(base) C:\Users\eia-l\Documents\SoftwareProjects\AirSim\PythonClient\computer_vision>python test_numpy.py
Connected!
Client Ver:1 (Min Req: 1), Server Ver:1 (Min Req: 1)

Len: 2764800, height: 800, width: 864
test_numpy.py:19: DeprecationWarning: The binary mode of fromstring is

[2020-07-30 21:34] rajat2004 commented on #2891
Oh yeah, sorry, the PR changes the format from RGB to RGBA, so for reshaping you'll need to use `img1d.reshape(response.height, response.width, 4)`. I started using -1 in channels so I could keep testing without changing it all over.
The compressed image won't work, that part of the code actually got removed in the earlier commits, and needs to be added back

[2020-07-31 05:59] lHaytaml opened #2899 "AirSim Wireless Protocol"
Hi, May I know if AirSim has wireless communication protocol embedded? If not, is it possible to implement wireless communication protocol in the simulation? I want to conduct multiple drones having wireless connection among the drones. Thank you.

[2020-07-31 08:26] yemx21 opened #2900 "How can I convert depth planner into NED coordinate?"

[2020-07-31 12:50] HelloEgg commented on #2882
@madratman  Hi! Thanks for the kind reply.

I have another question regarding estimating position.

In L407,

https://github.com/microsoft/AirSim/blob/4cddf3fb1b4f81083296d5269ea50afb67558381/AirLib/include/physics/FastPhysicsEngine.hpp#L403-L407

I noticed that position is only calculated by current velocity and acceleration.

As I understand, according to the code,

current_pose.position + avg_l

[2020-07-31 14:01] p3jawors opened #2901 "Unexpected Rotation of Object"
python==3.5.2
airsim==1.2.7
unreal==4.24.1-0+++UE4+Release-4.24
OS: Ubuntu 16.04

I have created a simple object in unreal with cylinders to better visualize my quadrotor orientation. The object has collisions turned off, is moveable, and is a group of 3 cylinders. The axis of this object match the directions that you see on the quadrotor when you select it with x:forward, y:right, z:up. I am not

[2020-07-31 17:33] m1baldwin commented on #2891
Okay, thanks for the heads up. That allowed me to test with it.

[2020-08-01 22:02] abhimanyuchadha96 commented on #665
Unfortunately, the issue still persists. Random timeout exceptions take place.

[2020-08-02 07:53] Aku02 commented on #2900
AirSim uses NED (North-East-Down) frame, and the front camera has EDN
`Tw = np.array([T[:,2], T[:,0], T[:,1]]).T`

I hope this helps

[2020-08-02 13:24] #2893 closed

[2020-08-02 13:44] Maxilos opened #2903 "Multiplayer, having a drone and an entirely different player pawn in the same game session"
What I am trying to achieve is the following: the ability to have a session with one client (or server) controlling the drone, and the other client controlling an entirely different spectartor pawn, that has nothing to do with airsim as a whole.
In order to create a server/connect to it, I am using a different level with a gamemode override (basically, different from AirSimGameMode) and a widget w

[2020-08-02 15:45] asd3200asd opened #2904 "I cannot change the speed of the drone in a straight line"
I cannot change the speed of the drone in a straight line

When I run this code
client.moveToPositionAsync(-100, 0, -10, 5).join()

But when the drone reaches the coordinates (-100, 0, -10), the speed can only be 5

Does a multirotor have throttle control like a car?

[2020-08-02 19:02] RitvikN opened #2905 "How do I run SLAM on data generated in AirSim?"
Hi, I would appreciate some guidance on how to run SLAM on training data generated by flying a drone in one of AirSim's environments. I'm a complete beginner and really don't know where to start.

I haven't been any to find any tutorials online on how to accomplish this. Looking at some off the issues raised on this GitHub and the comments posted, it looks like several people have been able to get

[2020-08-03 02:56] Fraser-Paine commented on #2859
Hi @lucafei, I'm not certain that this is what you're looking for but there are a few other methods that may help you with domain randomisation that you can find [here](https://github.com/microsoft/AirSim/blob/fd4a8fecfc873259848293e4019b3ad31aee66c6/PythonClient/airsim/client.py#L318).

The functions needed to randomise position and scale are simGetObjectPose, simSetObjectPose, simGetObjectScale

[2020-08-03 08:35] ShrutheeshIR commented on #1806
Hi @marcociara379
Were you able to solve this issue? I am facing a kind of similar issue. Does simply swapping the axes do, or I'm not sure if a negative sign comes somewhere. Let me know what you did to solve this issue
Thanks!

[2020-08-03 17:35] sbyebss opened #2906 "Can't hear engine sound in UE"
I have a question about engine sound in UE 4.24. I am using Ubuntu 18.04, UE4.24, AirSim v1.3.1. I notice in AirSim setting there is a default value  `"EngineSound": true`. But in fact, I couldn't hear any sound while playing AirSim in UE. I have checked some YouTube demo videos about AirSim and they don't have sound as well.
I am wondering whether the engine sound is achievable? How can we hear i

[2020-08-03 20:26] seshanrv opened #2907 "Lidar in computer vision mode"
Is it possible to add a lidar sensor in computer vision mode? From the documentation and after a few trials, I see that the getLidarData() and the simGetLidarSegmentation() (and probably many other VehicleClient python APIs) are not available in computer vision mode. Has anyone tried doing this?

My objective is to capture camera images and lidar point clouds for a vehicle with parts that have a w

[2020-08-04 01:38] xlong0513 commented on #2361
@ACLeighner @nethtrick  Hi, there, thanks for the reply. However, I am now isolated at home now, and cannot work on it. When back to work, I will try the solution and reply.

[2020-08-04 04:00] harris-mohamed opened #2910 "Confusion on general workflow"
Hello,

I am very new to using AirSim. I am using the recommended setup, using VS 2019 on Windows 10 and Unreal Engine 4.24. I was able to make my own custom Unreal environment and run the car just fine, but I am confused on how to proceed from here. I am using C++ and I am trying to use the APIs to control the car, but I have no idea how to proceed. I thought I would add a .cpp and .h file and th

[2020-08-04 05:01] yemx21 commented on #2900
Do you know how to convert the depth image into pointcloud with NED coordinate?

[2020-08-04 15:09] lucafei opened #2911 "communication with custom unreal environment"
My configuration:  window 10 , unreal engine 4.24, airsim latest,

hello, guys, i have created a own unreal environment according to the tutorial in https://microsoft.github.io/AirSim/unreal_custenv/.   After i finished the unreal environment, i runed the environment und tried to use hello_drone.py in https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/hello_drone.py, but nothi

[2020-08-04 15:29] xxEoD2242 commented on #2911
Do you have any type of anti-virus software actively installed?

[2020-08-04 17:24] rajat2004 commented on #2911
Is the drone appearing as normal when you press play? Or able to drive the car in the env.
A missing step could be setting `GameMode Override` to `AirSimGameMode`

[2020-08-04 17:27] rajat2004 commented on #2910
I haven't worked with C++ APIs much even less on Win, so not sure as to how to generate the project files
You could have a look at [`HelloCar`](https://github.com/microsoft/AirSim/tree/master/HelloCar) or [`HelloDrone`](https://github.com/microsoft/AirSim/tree/master/HelloDrone)

[2020-08-04 17:45] lucafei commented on #2911
yes, the drone has already appeared and i have set the mode in AirSimGameMode

[2020-08-04 17:46] lucafei commented on #2911
i think it is only windows defender

[2020-08-04 17:48] rajat2004 commented on #2911
And `airsim.confirmConnection()` is working?

[2020-08-04 18:58] lucafei commented on #2911
yes, it's working, just can not control

[2020-08-04 18:59] lucafei commented on #2911
do i need to make some codes in myclass of unreal project?

[2020-08-04 19:30] xxEoD2242 commented on #2911
I had similar issues before and it was due to the fact that the anit-virus sofware was preventing the msgpack server from receiving messages from my shell. Try turning off Windows Defender and see what happens.

[2020-08-05 08:25] Rutsow commented on #2114
I test the solution, and I then call the getvelocity(), I find that the velocity is still [vx, vy, vz] not [0,0,0]. Is taht right?

[2020-08-05 09:52] GeneLYJ opened #2913 "Is it possible to implement Wireless Protocol in AirSim?"
Hi, I've tried looking for a way to implement wireless communication among multiple drones but have no result. I'm wondering if there's custom API or any ways to implement wireless communication in AirSim? Many thanks.

[2020-08-05 17:14] p3jawors opened #2914 "getMultirotorState linear velocity not matching gradient(position)"
python==3.5.2
airsim==1.2.7
unreal==4.24.1-0+++UE4+Release-4.24
OS: Ubuntu 16.04

I am currently trying to implement my own PD controller for the multirotor and have been having issues with the gain tuning. Comparing my planned target positions and velocities I would be overshooting position while undershooting the target velocity, which didn't make any sense.  If I take the gradient of my path pl

[2020-08-05 20:02] EdwinMeriaux opened #2915 "drone losing height as moving forward and up"
Hello!

So I have been building a PID controller for my airsim drone. So far I got the Z dimmension PID controller to work.
Now I am trying to get it to work in more than 1 dimmension. But when I feed a direction that is not only in the Z direction the drone moves in the other direction given and just goes into the ground.
so:
client.moveByVelocityAsync(0,0,Z_V[i],0.01,vehicle_name = self.names[i]

[2020-08-05 20:32] jonyMarino commented on #1882
I suggest closing this issue because the current documentation is for UE 4.24

[2020-08-05 20:47] #1882 closed

[2020-08-05 23:18] HemaZ opened #2916 "Collisions with animals in NH environment (How to take out objects from environment)"
Hello,
I've noticed a strange behavior in the neighborhood environment. sometimes I find that the simulated car is hit aggressively and flying in the sky !!.
 I've noticed that when a deer hit the car while driving it changed the direction. so I'm suspecting that the animals are hitting the car and causing this behavior.

please check these 2 videos.

https://youtu.be/g_r3RE1LzBk

https://youtu.be

[2020-08-06 06:44] LittleTimeWxk commented on #2887
I also encountered a similar problem，AttributeError: 'CarState' object has no attribute 'x_val'.
Have you solved it? And what is the reason？

[2020-08-06 08:18] Patxi64210 commented on #2878
Ok I found out the problem by going into the source code.
Previously I was using a function named moveByAngleThrottle. This one was taking as parameter pitch,roll,yaw and throttle with normalized values between -1 and 1 (0 and 1 for the throttle). It was working perfectly with simpleflight & PX4 HITL in the same way.
Now with the new function moveByRollPitchYawThrottleAsync you need to use normali

[2020-08-06 08:18] #2878 closed

[2020-08-06 09:20] rajat2004 commented on #2887
See the `CarState` definition and the fields present in it - https://github.com/microsoft/AirSim/blob/master/PythonClient/airsim/types.py#L331-L339

[2020-08-06 19:04] ppueyor opened #2917 "Bug on Multirotor "moveOnPath""
We discovered a bug in moveOnPath. The last segment of the path was not taken into account, so the drone didn't move to the last position on the segment list. We fixed it in our private repository.

The file that needs to be fixed is "MultirotorApiBase.cpp".

Should we upload the new file here or we just need to indicate the lines and fixes done?

[2020-08-07 00:27] rajat2004 commented on #2917
A PR if possible would probably be the best way!

[2020-08-07 00:33] rajat2004 commented on #2916
Yes, the animals seem to be a new feature in the Neighbourhood environment. If have access to the source code of the env, could remove the actors. There are also new APIs in the master branch such as `simDestroyObject` which can remove the actors specified, this will be present in the next release

[2020-08-07 02:06] rajat2004 commented on #2913
What do you exactly mean by Wireless communication?
As you probably have already seen, APIs allow usage for multiple vehicles, and ROS is a very popular way of working with multiple robots

[2020-08-07 04:26] tharindurmt opened #2918 "Realistic Lidar modal"
I am currently looking at creating realistic Lidar measurements. It is my understanding that the current lidar model used in Airsim is based on UE ray casting and produce a perfect set of measurements (i.e. is't not motion-distorted - distortion that occur when the Lidar is on a moving vehicle, no noise etc). I was wondering what would be the best approach to do this.
My current idea is to generat

[2020-08-07 09:00] lucafei commented on #2911
Hi, @xxEoD2242 it is now working, and i have a question for the drone control, can the drone be controled in airsim directly with keyboard?  because i tried to control drone with keyboard but it doesn't work. Moreover did you try to control drone with remote controller from DJI, which i want to use in airsim?

[2020-08-07 13:02] xxEoD2242 commented on #2911
To my knowledge, currently, the drone can only be controlled by using a controller. I believe the AirSim documentation details how to connect this device. I haven't personally worked with controllers and have focused more on Python APIs.

[2020-08-07 13:24] GeneLYJ commented on #2913
Wireless Communication as in something similar to Bluetooth. Is ROS widely used in AirSim?

[2020-08-07 17:33] xxEoD2242 commented on #2913
@GeneLYJ I have implemented a custom messaging protocol in AirSim that utilizes the standard mspack system that AirSim is built upon.

If you wanted to do something like Bluetooth, you would need to write the messaging protocols yourself. I got around this during academic research by emulating the drone communications utilizing a matrix and some basic distance metrics. If you're interested, I can

[2020-08-07 20:33] #2603 closed

[2020-08-08 06:08] GeneLYJ commented on #2913
Yes that would be great. Thank you so much!

[2020-08-10 01:00] #2505 closed

[2020-08-10 01:09] jonyMarino commented on #2552
@rajat2004 That merged pull request solved this issue?

[2020-08-10 01:18] #2503 closed

[2020-08-10 01:23] jonyMarino commented on #2590
@rovdrcru Have you tried Rajat approach?

[2020-08-10 02:20] #65 closed

[2020-08-10 02:30] #2430 closed

[2020-08-10 02:34] #2468 closed

[2020-08-10 02:38] LittleTimeWxk opened #2921 "How to obtain the data information of all vehicles in the multi-vehicle state？"
Dear friends，
    Now I create many cars in simulator and I want to put the datas of them into a list, then I can get the information of the car one by one using python API.

     **My Question：How to get the data of all the vehicles created？**

     I don't understand the code structure of vehicle creation in codes, so I won't use it.Could you provide some help？Tutorials, suggestions and ideas ar

[2020-08-10 03:00] #2435 closed

[2020-08-10 03:02] #2443 closed

[2020-08-10 03:06] #2398 closed

[2020-08-10 03:07] #2460 closed

[2020-08-10 03:09] #2462 closed

[2020-08-10 03:11] jonyMarino commented on #2475
@thejeshk did you try rajat approach?

[2020-08-10 03:15] jonyMarino commented on #2476
@Travestie How did you go?

[2020-08-10 03:20] jonyMarino commented on #1467
@orangelx did you reproduce the issue with that values?

[2020-08-10 03:23] #2487 closed

[2020-08-10 03:27] #2618 closed

[2020-08-10 03:28] #2627 closed

[2020-08-10 03:29] #2630 closed

[2020-08-10 03:30] #2592 closed

[2020-08-10 03:32] #2646 closed

[2020-08-10 03:33] #2656 closed

[2020-08-10 03:34] #2662 closed

[2020-08-10 03:36] rajat2004 commented on #2552
@jonyMarino I haven't yet tried out the new `simDestroyObject`, `simSpawnObject` etc APIs, but they should work
Will try to test them out soon and maybe open a PR with some example files

[2020-08-10 03:44] rajat2004 commented on #2505
Just a note, in the current master, `simSetCameraPose` has replaced `simSetCameraOrientation`, this adds the ability to change the camera position as well.
Mavlink controlled gimbal will be a great feature, but needs some thinking on how to integrate in the codebase

[2020-08-10 03:47] rajat2004 commented on #2921
Most of the APIs take in a `vehicle_name` parameter, which should be the name specified on the settings
Not passing the parameter uses the first vehicle

[2020-08-10 05:19] LittleTimeWxk commented on #2921
Thanks your reply. But I think, may be you can't understand my question.

[2020-08-10 06:07] rajat2004 commented on #2921
Well, then maybe you should have explained it better
See the documentation - https://microsoft.github.io/AirSim/multi_vehicle/

[2020-08-10 07:06] LittleTimeWxk commented on #2921
OK! Thank you for your reminder.

[2020-08-10 09:07] WouterJansen commented on #2918
I've implemented a new LiDAR system. I pre-calculate the exact angles of the lasers based on a horizontal/vertical resolution scheme and based on the frame time decide which points should be calculated each frame. And I keep them in a array until a full scan is complete after which I send them through the API. That way you have a more fixed and stable LiDAR simulation.

The current LiDAR implement

[2020-08-10 19:09] jonyMarino commented on #2314
@gurkanctn I will close this issue. If you have added gps sensor on your .json setting file you can post a bug issue.

[2020-08-10 19:20] jonyMarino commented on #2305
Being treated in #2313

[2020-08-10 19:33] rajat2004 commented on #2305
This can be closed actually, `Edit on Github` button's working

[2020-08-10 19:36] #2272 closed

[2020-08-10 19:41] #2253 closed

[2020-08-10 20:06] saeed97 opened #2922 "Allocate the number of drones after pressing "Play" instead of the setting in advance?"
1-	We are working on a research project, and we use more than 1000 drones in the Unreal Engine. Using more 1000 drones takes memory, and we have to identify the number of drones in the JSON setting file before pressing “Play” button even if we did not use all of them. Is there a way to automate or allocate the number of drones after starting the simulation/ after pressing play?
2-	Passing a specif

[2020-08-10 20:20] jonyMarino commented on #2305
I wasn't sure because the links on the first post are not working. But may be they are not on the documents any more

[2020-08-10 20:20] #2305 closed

[2020-08-11 00:55] tharindurmt commented on #2918
@WouterJansen Thank you.
This is exactly what I am implementing at the moment. I still have to figure out how to invoke the function which generate a part of the point cloud on a tick of the physics engine. Horizontal and vertical sweep angle are determined the way you have described. I was wondering whether there are any other better approaches to solve this.
May I know whether your code is publi

[2020-08-11 02:16] #2314 closed

[2020-08-11 04:15] tharindurmt commented on #2918
@WouterJansen Thank you.
This is similar to what I am implementing at the moment. Let me take an example just to get this straight (and that I'm relatively new to AirSim).
Assume the following: `N channel` lidar with `f Hz` frequency, `H degrees` horizontal FoV and the simulation is running at `S fps`. Then for a given frame of the simulation, a single horizontal sweep will be `(f/S)*H` degrees.

[2020-08-11 07:05] burak617 opened #2923 "Using Lidar in Training"
I want to use lidar to train RL model. However lidar data's size is different depending on the situation. I need to fixed-sized lidar vector to feed my network. How do I overcome this situation?

[2020-08-11 07:36] EivindYN commented on #2923
I found a fix that makes the lidar send the full scan everytime, making it fixed-sized (https://github.com/microsoft/AirSim/issues/1997)

[2020-08-11 07:55] EivindYN opened #2924 "Airsim crashes if you run px4 and close airsim before 2 seconds."
Reproducing steps:
* Run PX4
* Run and exit AirSim before 2 seconds passes

Errors (and fixes):
MavLinkMultirotorApi.hpp
![image](https://user-images.githubusercontent.com/31821339/89871679-1b7f1480-dbb8-11ea-92de-74d32ea40958.png)
Then after fixing this error with the commented out line you get this:
![image](https://user-images.githubusercontent.com/31821339/89872405-2c7c5580-dbb9-11ea-8413-9ef3

[2020-08-11 14:23] madratman commented on #2084
similar issue https://github.com/microsoft/AirSim/issues/1599.

[2020-08-11 14:23] #2084 closed

[2020-08-11 14:23] #1599 closed

[2020-08-11 14:50] madratman commented on #2059
1) Open `Quadrotor1` mesh
![image](https://user-images.githubusercontent.com/6305323/89911879-cab2f000-dba6-11ea-83a6-ea06f882509f.png)

2) Change view to Top / Left, and enable "show bounds" (this will show a grid of 1cm along with the mesh bounds).
The size is already mentioned in the top left (98x98x29 cm).
![image](https://user-images.githubusercontent.com/6305323/89912207-21202e80-dba7-11ea-9

[2020-08-11 14:50] #2059 closed

[2020-08-11 14:50] marco-stephan opened #2925 "AirSim crashes when requested an image"
When requesting an image from AirSim using `simGetImage(...)` or `simGetImages(...)`, AirSim occasionally crashes. This only happens on one of my computers.

## simGetImage(...)
### Reproduction steps
1. Connect to AirSim
2. Request image(s)

Code:
[code]

### Error
![2020-08-11_16-33-05_devenv](https://user-images.githubusercontent.com/26742440/89911444-b9430580-dbf1-11ea-9ab1-e8e9afd42298.png)
D

[2020-08-11 14:53] madratman commented on #2052
https://github.com/microsoft/AirSim/pull/2713

[2020-08-11 14:55] madratman commented on #2046
fixed by https://github.com/microsoft/AirSim/pull/2855

[2020-08-11 14:55] #2046 closed

[2020-08-11 15:06] madratman commented on #1982
That function is not exposed to the python client. You'll have to re-implement it in python. Here's a tutorial - https://www.scratchapixel.com/lessons/mathematics-physics-for-computer-graphics/lookat-function

[2020-08-11 15:06] #1982 closed

[2020-08-11 15:14] #1953 closed

[2020-08-11 15:26] #1817 closed

[2020-08-11 15:30] #2375 closed

[2020-08-11 15:40] #1779 closed

[2020-08-11 15:41] #2406 closed

[2020-08-11 15:42] #1955 closed

[2020-08-11 15:42] madratman commented on #1594
closing as outdated wrt current master

[2020-08-11 15:42] #1594 closed

[2020-08-11 15:44] madratman commented on #1034
closing as outdated wrt current master.
One can refer to the "packaging " section CI pipeline script - https://github.com/microsoft/AirSim/blob/master/pipelines/ci.yml

[code]

[2020-08-11 15:44] #1034 closed

[2020-08-11 17:10] madratman commented on #693
this was added but issue was not closed

[2020-08-11 17:10] #693 closed

[2020-08-11 19:17] rajat2004 commented on #2925
Which version of UE are you using? And this is happening only on Windows? (I'm assuming here that multiple systems includes different OS also)
The first one is happening from inside UE code, so can't really do much about that, maybe a later version can help
As for the second one, that doesn't make much sense, `game_viewport_` is being used multiple times before this as well in the same function, s

[2020-08-11 19:28] marco-stephan commented on #2925
I am using UE 4.24.3 on both computes and both machines are running on Windows 10 (10.0.19041.388).

I was able to fix both crashes in https://github.com/marco-stephan/AirSim/tree/fix-get-images. Note that I have very little experience with AirSim's source code and the Unreal Engine itself so the fix committed is most likely not optimal.

[2020-08-11 19:37] rajat2004 commented on #2925
The crash was somewhat reproducible and this fixed the problem? There's an already existing `wait_signal_` which does the same thing, so instead of adding a new one, it might be better to move the call of `wait_signal_->signal()` from the end of `Execute` to the end of the lambda function where you right now added `wait_signal2_->signal()`
Anyways, a PR would be great

[2020-08-11 19:41] marco-stephan commented on #2925
The crashes were pretty reproducible meaning they appeared within 2 to 3 seconds when executing the code above. I wasn't sure if the proposed fix is the right way to go so I did not open a PR for this. That being said, I will open a PR with only one signal.

[2020-08-11 22:00] nicocarb opened #2927 "VectorMath Project Reference"
I am using Windows 10 and Visual Studio 2019 to make some modifications to some aspects of the physics engine. To do that, I am attempting to change the VectorMath header file within my Blocks environment. When I compile my project, it checks this header file for compilation errors; however, using the debugger, I am tracking the steps that AirSim takes to get the Kinematics state in FastPhysicsEng

[2020-08-12 00:45] #2883 closed

[2020-08-12 02:30] rajat2004 commented on #2927
AirSim compiles the code in AirLib, Mavlinkcom and then copies them to the Plugins/AirSim/Source/AirLib folder when you run `build.cmd`. So if you want to make changes, these are the 2 ways -
1. Open the generated .sln file in Visual Studio, that'll open the files in Blocks/Plugins directory. Here, you can make any changes you want, and then press Run (F5) to build and use the modified files. This

[2020-08-12 03:12] LittleTimeWxk commented on #2921
Hi! I have read the documentation, but that's not what i want. I want get the status of all the car one-time.
Now my plan is:
step1: I can get the name of all control car, and put it to a list;
step2: I can get the status of the corresponding vehicle by name list, and put status to a new list;
step3: I will post the state list to a ros point.

My problem is I don‘t know how to get all the names of

[2020-08-12 08:53] Rutsow opened #2928 "Will the hover mode be interrupted by the movebyvelocity()"
In SimpleFlight, I train a DQN model for the drone and the movebyvelocity() is used. But after the duration it shows that API call is not received, entering hover mode for safety. I tested the velocity after the movebyvelocity().join() finished, but the vx and vy is not 0. Is that right? And will the hover mode be interrupted by the next movebyvelocity() command?
I run it in Win10,python3.7, UE4.1

[2020-08-12 10:38] ibrahim0v opened #2929 "AirSim high usage of CPU on linux!"
Hi everyone,
I have been using AirSim for my project simulations since long time and have developed my own version of your project (added few extra functionalities depending on my needs).

I am running AirSim on a moderately powerful machine that runs with Intel® Core™ i7-7700K CPU @ 4.20GHz × 8 and 3GB Nvidia GTX1060 + 16GB RAM. I am running my whole environment on SSD.

**My environment consists

[2020-08-12 10:48] WouterJansen commented on #2918
As far as I know you cannot use AirSim in a fixed framerate that easily. Many things influence it and there is no guarantee it will ever be fixed. So I don't suggest to ever use a framerate as a variable in your argument but always look at the timedelta of the last frame to calculate the horizontal sweep of the next frame.

I would suggest to pre-calculate the horizontal angles and just calculate

[2020-08-12 10:56] kobymallah opened #2930 "Accuracy of simulation with higher ClockSpeed"
Hi, I'm using airsim on linux and I was wondering how increasing the ClockSpeed in the settings.json affects the accuracy of the simulator and therefore affects the data received after executing the function getMultirotorState. I need to know what is the sweet spot in which I can run the simulation with a higher ClockSpeed and the simulator will still be accurate. In addition, will running the sim

[2020-08-12 17:25] jonyMarino commented on #877
I saw many post talking about issues with simulink, so I think a doc update is what is neeeded

[2020-08-12 18:20] jonyMarino commented on #858
@melton1968 did you tried your modifications with an UE enviroment? if you didn't find anything I would close this issue.

[2020-08-12 18:34] jonyMarino commented on #1307
@Beijingsheng did the link shared by stylus help you? if yes I would close this issue

[2020-08-12 18:41] jonyMarino commented on #1293
@wkvkfkeh can you try to build it again? I think this is not an airsim issue. Yo can try with latest version too.

[2020-08-12 18:47] #1300 closed

[2020-08-12 18:50] jonyMarino commented on #1300
Thank you @hesham-akmal, That is in the instructions of the current documentation

[2020-08-12 19:00] jonyMarino commented on #1507
@ghost were you able to solve your issue?

[2020-08-12 19:32] jonyMarino commented on #1397
@dehavenm did you find how to use getCarState() in C++?

[2020-08-12 19:35] jonyMarino commented on #1392
@TritonSailor I repeat RVBldr question

[2020-08-12 19:42] #1319 closed

[2020-08-12 20:06] dehavenm commented on #1397
No, I never was able to find that information.

[2020-08-12 20:24] #2585 closed

[2020-08-13 00:38] agentfeux opened #2931 "Pip Airsim package outdated"
Hi,
I was working with the Airsim pip package until recently when i did the recent update. Some function name have changed so it's doing some conflict with older code. I was getting some wierd error and fortunately i found quickly why.

Would be nice if someone update it :P

Thanks you !

[2020-08-13 04:29] galgyeony commented on #2870
I tested with Pixhawk 4 for HITL and it worked successfully.

I think it would be better if Pixhawk 4 is listed as a supported hardware in the following link.
https://microsoft.github.io/AirSim/px4_setup/

[2020-08-13 05:51] rajat2004 commented on #2931
A new package will be released only with a new release I think. I'm using an editable pip install, `pip install -e .` from PythonClient folder
As for changed API, are you referring to `simSetCameraOrientation`? That was recently upgraded to `simSetCameraPose` but a backwards-compatible layer wasn't added, which now that I think about it should be done, with some warning messages

[2020-08-13 06:00] petergerten commented on #2889
I still have this problem with 4.25.
I now verified this with Blocks - and it turns out it only happens in my custom environments for some reason. When I switch back to 4.24 everything works.

@saihv  - as you mentioned a similar issue, do you have any ideas what might cause this?

[2020-08-13 06:37] tharindurmt commented on #2918
Thank you @WouterJansen!
I did some tests with my approach and indeed the fps based solution is not viable. I was investigating how I can invoke a function that gets a partial point cloud on a single tick. I will look into this as well.

[2020-08-13 18:04] jonyMarino commented on #1789
Hi @BrianN92 did you find what was wrong? I think we have to close this issue if you don't provide more info

[2020-08-13 18:04] #1789 closed

[2020-08-13 18:50] ironclownfish commented on #1415
The original question was resolved by Sytelus and Hashikemu when they discussed updating airsim, so this is closed.
@cacadam89 please feel free to open a separate issue for your question!

[2020-08-13 18:50] #1415 closed

[2020-08-13 18:53] #2687 closed

[2020-08-13 18:53] jonyMarino commented on #2687
Please reopen if you still have the issue

[2020-08-13 18:58] jonyMarino commented on #2466
@Vadaam do you still have this issue or you was able to solve it?

[2020-08-13 18:59] #2412 closed

[2020-08-13 18:59] jonyMarino commented on #2412
closed due to lack of response

[2020-08-13 19:13] #2598 closed

[2020-08-13 19:14] jonyMarino commented on #2598
We do not support multi-language documentation.

[2020-08-13 19:15] #2685 closed

[2020-08-13 19:18] jonyMarino commented on #2692
airsim's last release and current master support v1.10.1
please see this document: https://microsoft.github.io/AirSim/px4_sitl/

[2020-08-13 19:18] #2692 closed

[2020-08-13 19:19] #2729 closed

[2020-08-13 19:21] #959 closed

[2020-08-13 19:22] jonyMarino commented on #959
Closing because this is out of the project scope

[2020-08-13 19:27] madratman commented on #2691
If you mean this - https://docs.unrealengine.com/en-US/Gameplay/Networking/Server/index.html - by "unreal engine online" mode, then you'll have to build airsim from source. 

As AirSim is a UE4 plugin, any feature supported by UE4 (such as Pixel Streaming, NDisplay) is technically supported by AirSim, but you'd have to follow UE4's documentation for such features. 

[2020-08-13 19:27] #2691 closed

[2020-08-13 19:42] #1802 closed

[2020-08-13 19:43] #1307 closed

[2020-08-13 19:44] jonyMarino commented on #1307
Closed answered and old

[2020-08-13 19:48] #1293 closed

[2020-08-13 19:48] jonyMarino commented on #1293
Closed. Old and We were not able to reproduce

[2020-08-13 19:51] #2366 closed

[2020-08-13 19:56] madratman commented on #2677
It is unclear if your issue was due to airsim APIs or in your own code. Moving from tf to pytorch doesn't seem as informative.
It would be great if you can share which drone "moveBy" API you were using and if you ended up changing the amount of duration in your calls / or sleep b/w your calls to the API.

[2020-08-13 20:07] ironclownfish commented on #1567
We will check that our latest release of CityEnviron works on linux.

[2020-08-13 20:11] #475 closed

[2020-08-13 20:25] ironclownfish commented on #1396
This appears to behave better with AirSim v1.2.1 and newer. @Zachomist please try updating beyond v1.2.0 and open a new issue if the problem persists for you (since that would imply it's not actually fixed in newer versions as Planche95 suggests.) Thanks

[2020-08-13 20:25] #1396 closed

[2020-08-13 22:04] #1322 closed

[2020-08-14 05:55] LittleTimeWxk commented on #2922
For the first question， You can set the number of vehicle in the JSON and modify the loading method of the vehicle in the C++ backend. But the most important is that you must understand the code for parsing json and loading vehicles. You have to read the source code carefully.
I hope my suggestion can help you!

[2020-08-14 06:30] LittleTimeWxk commented on #2884
Yes，it can realize the function of wireless control. Although I don’t know how to achieve，you can see the video in the docs.You can see it under the title Manuel drive in this link. [https://microsoft.github.io/AirSim/](url)

[2020-08-14 08:10] rajat2004 commented on #2921
Well, you're writing the settings file, so you would already know what are the names of the vehicles. An advanced step could be to use a JSON parser and parse the settings yourself.
This does bring up a possibility of adding a new API to give a list of the vehicles, which could be useful especially if and when https://github.com/microsoft/AirSim/pull/2390 gets in (needs update and lots of testing

[2020-08-14 08:16] rajat2004 commented on #2922
1. Currently, there's no way of creating vehicles as runtime, there's a PR https://github.com/microsoft/AirSim/pull/2390, but needs rebase and lots of testing. I guess currently you're maybe changing the number of vehicles in a script, then creating the settings file from there.
2. From a very brief look at the code, cancelling the previous command shouldn't happen, but needs looking into
3. Not a

[2020-08-14 09:16] #2629 closed

[2020-08-14 09:17] #2781 closed

[2020-08-14 12:17] EivindYN opened #2934 "AirSim freezes if you request images while UE4 is shutting down"
Reproduction example:
* Run this node (or not, just look at its functionability).
[code]
* Shut down UE4
* Program is frozen

Fix:
![image](https://user-images.githubusercontent.com/31821339/90248022-1a5c1a80-de38-11ea-9da6-9fb7975063e6.png)

Explanation(fix):
Dont continue on "getScreenshot" if RenderRequest is being destroyed, as that would make the program freeze.

[2020-08-14 16:36] ironclownfish commented on #2251
@vxgu86 can you tell us more about the circumstances in which this happened? Just in case it's a function of being in CV mode, colliding with a certain thing, etc

[2020-08-14 16:40] averyehorvath commented on #2358
I pulled in the latest changes of Airsim and updated to Unreal 4.24 and that fixed it for me

[2020-08-14 16:41] averyehorvath commented on #1852
I'm using Unreal but I pulled in the latest changes of Airsim and updated to Unreal 4.24 and that fixed it for me

[2020-08-14 16:41] jonyMarino commented on #1805
I understand that for your question Sai's answer is sufficient and does not have to be done otherwise. Feel free to reopen this issue if you don't think so.

[2020-08-14 16:41] #1805 closed

[2020-08-14 16:48] jonyMarino commented on #1886
closed due to age and does not seem to be an airsim issue

[2020-08-14 16:48] #1886 closed

[2020-08-14 17:06] jonyMarino commented on #1980
As far as I know this is out of Airsim's plans so far. I will share it anyway

[2020-08-14 17:12] jonyMarino commented on #2386
@ivannson were you able to run this?

[2020-08-14 17:20] jonyMarino commented on #1809
@tfromb any update on this issue?

[2020-08-14 17:24] jonyMarino commented on #1880
@pengjili any update on this issue?

[2020-08-14 17:25] ironclownfish commented on #2251
@vxgu86 Please feel free to open a new issue if you still have this problem, and include the following
* Make sure to write **all reproduction steps**
* Include full error message in text form
* Search issues for error message before filing issue
* Attach screenshot if applicable
* Include code to run if applicable

Thanks!

[2020-08-14 17:25] #2251 closed

[2020-08-14 17:28] jonyMarino commented on #1885
@JunzheJosephZhu  Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-14 17:28] #1885 closed

[2020-08-14 17:39] jonyMarino commented on #1866
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-14 17:39] #1866 closed

[2020-08-14 17:42] jonyMarino commented on #2386
duplicated on #2422

[2020-08-14 17:42] #2386 closed

[2020-08-14 17:45] #2054 closed

[2020-08-14 17:46] jonyMarino commented on #2405
@depauwjimmy and @icsl-Jeon Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-14 17:59] jonyMarino commented on #2643
@mateusk did you try not copying them? I would like to close this issue

[2020-08-14 18:10] #1288 closed

[2020-08-14 18:11] jonyMarino commented on #1499
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-14 18:11] #1499 closed

[2020-08-14 18:14] jonyMarino commented on #1517
Closed due to age

[2020-08-14 18:14] #1517 closed

[2020-08-14 18:15] ironclownfish commented on #1869
@tjxjb Have you tried the simGetImages() API? (The plural version of simGet**Image**)
It can process multiple image requests simultaneously.

[2020-08-14 18:16] jonyMarino commented on #1413
closed due to age

[2020-08-14 18:16] #1413 closed

[2020-08-14 18:19] ironclownfish commented on #1853
@xindong324 please check out this issue about the same thing. Sytelus replies and explains how to do this.
https://github.com/Microsoft/AirSim/issues/838

[2020-08-14 18:19] #1853 closed

[2020-08-14 18:20] jonyMarino commented on #1494
@Amigoshan the PR solved this issue?

[2020-08-14 18:24] jonyMarino commented on #1503
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-14 18:40] jonyMarino commented on #598
any update?

[2020-08-14 18:51] ironclownfish commented on #2433
@hanlei666-python Hi, can you please share the collision settings for the ground in this level?
In particular check whether it's set to "Collision Enabled", "GenerateOverlapEvents=true", and that its set to collide with all collision channels.
The collision settings can be found in the details panel of the actor.

[2020-08-14 19:21] rajat2004 commented on #2934
Probably best to create a PR

[2020-08-14 19:57] jonyMarino commented on #944
I close this due to age. If still happens on the new version Please feel free to open a new issue and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-14 19:57] #944 closed

[2020-08-14 20:01] jonyMarino commented on #546
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-14 20:01] #546 closed

[2020-08-14 20:07] jonyMarino commented on #1383
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-14 20:07] #1383 closed

[2020-08-15 11:36] AOS55 commented on #2508
Hi @rajat2004 thanks for your help. Ive been working on this a lot over the past couple of weeks. Ive got something to a point where it should compile with a fixedwingpawn but Im having some issues with the pointers in generated.h under the file FixedWingPawn.h. I have created a [forked repositry](https://github.com/AOS55/AirSim-1) details to follow. Have you encountered E1696 before, cannot open

[2020-08-15 12:49] AOS55 commented on #2508
# Current Fixed Wing State

This is an overview of what I have been upto so far in an attempt to add fixedwing functionality to airsim. Most of the work follows a similar style to what has been done with the multirotor implementation.

## [Unreal/Airsim/](https://github.com/AOS55/AirSim-1/tree/FixedWing/Unreal/Plugins/AirSim/Source/Vehicles/FixedWing)
[FixedWingPawn.h](https://github.com/AOS55/Air

[2020-08-15 14:01] rajat2004 commented on #2508
@AOS55 Wow, that's quite a lot of things done! Just a few points from the above description & a brief look I had at the files changed. Will post more queries after a good look at the code and maybe test it out.

You're using UE 4.25 right, from the fact that you've created a new Blocks env. Are the assets modified or copies of the original ones?
Related to this, the assets in Plugins don't seem to

[2020-08-15 18:00] ivannson commented on #2386
@jonyMarino I was able to run it but with 2 Windows machines (not between Windows and Linux), but that may have had something to do with the firewall settings on the Linux server, couldn't even ping it.

[2020-08-16 10:39] bwassim opened #2938 "ROS - error when roslaunch airsim_ros_pkgs airsim_node.launch"
I am on ubuntu 18.04, with ROS melodic, I have AirSim installed and built correctly. ROS seems to be built correctly with

catkin build -DCMAKE_C_COMPILER=gcc-8 -DCMAKE_CXX_COMPILER=g++-8
When I try however to launch a node, I have the error highlighted below. **error while loading shared libraries: libwebp.so.**
roslaunch airsim_ros_pkgs airsim_node.launch
Would appreciate any help. Thanks

SUMMA

[2020-08-16 13:28] bwassim commented on #2938
I have fixed my problem after few hours struggling with it :). I hope my solution will save you time.
First, I suspect that my issue is the result of upgrading from Ubuntu 16.04 to Ubuntu 18.04. It looks like some system files are not upgraded correctly. Anyway, here are the different steps
Running the following command shows that we have in our system files a new version of libwebp
dpkg -l | grep

[2020-08-16 13:30] #2938 closed

[2020-08-16 14:47] ahmedkrmn opened #2940 "How to map AirSim actions to steering wheel buttons?"
I'm using the [RawInput Plugin](https://docs.unrealengine.com/en-US/Gameplay/Input/RawInput/index.html) to add Unreal action mappings for a generic steering wheel. I'm using the Engine-Input UI settings menu for doing so.

I want to also map AirSim specific actions to the steering wheel as well.

**For example, "Recording" into the log file would be mapped to "GenericUSBController Button 7" as sho

[2020-08-17 01:42] jonyMarino commented on #2386
@ivannson that is great. Please reopen if you can ping between them and not able to run it.

[2020-08-17 01:43] jonyMarino commented on #2422
Closed as in #2386

[2020-08-17 01:43] #2422 closed

[2020-08-17 03:44] Doris1039 opened #2941 "How to set a trajectory and the pitch to 15 degree at the same time when flying a multirotor."
I‘m using Python API to control the multirotor. I have the trajectory with multiple coordinates and want to fly the multirotor with a pitch of 15 degrees. Or to set the camera pose with a pitch of 15 degrees.

Does AirSim provide this code to do that?

Thanks in advance.

[2020-08-17 06:33] Zartris commented on #1503
I'm having the same issue here and slowing down the clock speed does not fix it.
It is producing some images that is not corrupted, but in my case half is.
I tried recording images every 3rd second, but around half is still corrupted.
So the time to process this is not the problem.

My settings is almost the same, but I will paste them as well.
[code]
Here we can see all the images that is corrupt

[2020-08-17 07:41] petergerten commented on #2889
I figured I did not convert the project from 4.24 from 4.25 in the editor yet. I just did that and was hoping to solved the issue - but still the same :-(

[2020-08-17 13:55] zoharri opened #2943 "Save and reload exact state (location and speed) of the player"
Hello,
I am trying to implement a certain motion planning algorithm for drones navigation within AirSim.
In order to implement this algorithm, I need the ability to save and load exact states of the drone (position and speed).
Is it possible to do so using AirSim python API? (obviously, the saving process is easy, but I was wondering about the reloading process)
I saw that there is an option to fl

[2020-08-17 14:03] flolu opened #2944 "Running AirSim in Unreal Engine Doesn't Work On Linux"
I want to run AirSim on my own environment. Therefore, I've tried to follow this guide: https://microsoft.github.io/AirSim/unreal_custenv/

It says that this won't work on Linux, because there is no Epic Games Launcher. But there is actually a Linux version of the Epic Games Launcher. (https://docs.unrealengine.com/en-US/Platforms/Linux/BeginnerLinuxDeveloper/SettingUpAnUnrealWorkflow/index.html)

[2020-08-17 17:03] rajat2004 commented on #2944
Well, it's definitely possible, otherwise the Linux binaries wouldn't be there :)
The page says that there's no Unreal Launcher to access Marketplace and download envs, you can download them in Win and then copy the files to Linux.
It's the same process after that, just skip the Visual Studio step for Linux. I've written about it in ArduPilot's Wiki if you would like to take a look - https://ardup

[2020-08-17 17:08] flolu commented on #2944
@rajat2004 Oh wow thank you, I will try that tomorrow and let you know if it worked! :muscle:

[2020-08-17 17:20] #986 closed

[2020-08-17 17:36] jonyMarino commented on #1072
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-17 17:36] #1072 closed

[2020-08-17 17:42] jonyMarino commented on #1206
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-17 17:42] #1206 closed

[2020-08-17 17:55] #1276 closed

[2020-08-17 18:00] jonyMarino commented on #1515
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-17 18:03] jonyMarino commented on #1630
I suggest to read the latest documentation on this subject: https://microsoft.github.io/AirSim/lidar/

[2020-08-17 18:03] #1630 closed

[2020-08-17 18:07] rajat2004 commented on #1007
@jonyMarino Actually this problem still exists in master, so this issue can be reopened I think

[2020-08-17 18:07] jonyMarino commented on #1658
closed due to age and not an airsim issue

[2020-08-17 18:07] #1658 closed

[2020-08-17 18:09] #1662 closed

[2020-08-17 18:14] jonyMarino commented on #1756
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-17 18:14] #1756 closed

[2020-08-17 18:21] #1830 closed

[2020-08-17 18:29] jonyMarino commented on #1891
@habibutsu do you still have this issue with the new airsim version?

[2020-08-17 18:46] jonyMarino commented on #1007
@rajat2004 Thank you. I thought it was a duplicate of  #1583 (closed)

[2020-08-17 18:54] rajat2004 commented on #1007
Yeah, that issue seems to have been closed to keep discussion here. Will try to look into this and maybe open a PR
Thanks for all the hard work you and the other maintainers have been putting in to clean up the issues!

[2020-08-17 19:10] jonyMarino commented on #1983
@tianqi-wang1996 can you try your code with latest version please?

[2020-08-17 19:15] #1987 closed

[2020-08-17 19:17] jonyMarino commented on #2029
Closed due to incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-17 19:17] #2029 closed

[2020-08-17 19:20] jonyMarino commented on #2058
@NmBoyd do you still have this issue?

[2020-08-17 19:21] #2058 closed

[2020-08-17 19:33] jonyMarino commented on #2301
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-17 19:33] #2301 closed

[2020-08-17 19:49] jonyMarino commented on #2345
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-17 19:49] #2345 closed

[2020-08-17 19:52] p3jawors commented on #2914
I just wanted to update my figure, as I have sorted out my issue with `dg` being different than the other velocity signals, and to provide a **tldr** for the above...

Why do the linear and angular velocity feedback signals not match the rate of change of the position and orientation signals?
green: airsim feedback
yellow: `np.gradient(position)` for linear velocity and `np.gradient(euler_angles)`

[2020-08-17 19:52] jonyMarino commented on #2346
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-17 19:52] #2346 closed

[2020-08-17 19:54] jonyMarino commented on #2358
@ivannson could you check?

[2020-08-17 19:58] rajat2004 commented on #2358
https://github.com/microsoft/AirSim/pull/2845 fixed this problem

[2020-08-17 20:00] #2372 closed

[2020-08-17 20:05] jonyMarino commented on #2388
@kwads123 could you solve your problem? If so, could you post it in this issue?

[2020-08-17 20:06] rajat2004 commented on #1799
`getCarControls()` API or using the Recording feature (press R or recording APIs) should give the values sent by the wheel

[2020-08-17 20:12] #2570 closed

[2020-08-17 20:26] #2741 closed

[2020-08-17 20:34] #2804 closed

[2020-08-17 20:40] #2900 closed

[2020-08-18 01:17] GilmarCorreia opened #2945 "How to edit CityEnviron map and AirSim plugin configurations?"
I and a group of friends are trying to create an Autonomous Racing Car Challenge using AirSim and CityEnviron map. We've made some progress trying to automize some part of the code, but we want to add a StopWatch in the HUD, with start and finish line. We've made something like the picture below:

![stopwatch](https://user-images.githubusercontent.com/28567780/90458949-2ebd4300-e0d6-11ea-96eb-78b7

[2020-08-18 02:46] tharindurmt commented on #2918
@WouterJansen A quick question.
Shouldn't the vehicle pose and the lidar pose be updated every time before shooting a laser? Or at least before shooting a bunch of lasers corresponding to a certain time delta (i.e. before shooting lasers of a single horizontal step)?

[2020-08-18 05:05] chanho-code commented on #2875
Same problem in Unity

[2020-08-18 05:39] flolu commented on #2944
Wow, it worked perfectly!

@rajat2004 I am wondering how I can create a |packaged binary" as found in the [sample environments](https://github.com/microsoft/AirSim/releases/tag/v1.3.1-linux)?
Because I don't want to start Unreal Engine every time I want to use my environment.

[2020-08-18 05:46] rajat2004 commented on #2944
See UE4's documentation - https://docs.unrealengine.com/en-US/Engine/Basics/Projects/Packaging/index.html
Packaging rebuilds a lot of the engine as well so it can take hours to package, especially on a laptop like mine
If you're packaging frequently, then there's an option to disable Full Rebuild, but don't remember exactly what it's called

[2020-08-18 05:52] rajat2004 commented on #2918
@tharindurmt The vehicle & lidar pose are computed on every tick here - https://github.com/microsoft/AirSim/blob/master/AirLib/include/sensors/lidar/LidarSimple.hpp#L73-L106
Which calls `getPointCloud` with the updated pose

[2020-08-18 06:16] rajat2004 commented on #2945
Looks pretty good!
The binaries can't be edited AFAIK, you'll have to use the source code of the env, can be bought from the Unreal Marketplace

[2020-08-18 06:39] tharindurmt commented on #2918
@rajat2004  Thank you very much. I have overlooked it!
Will you be able to clarify one more thing please?
[These lines](https://github.com/microsoft/AirSim/blob/18b36c7e3ea3d1e705c3938a7b8462d44bd81297/Unreal/Plugins/AirSim/Source/UnrealSensors/UnrealLidarSensor.cpp#L54) mention two types of time deltas (i.e. tick delta time and the elapsed clock time).  While I think I understand the difference b

[2020-08-18 07:47] WayneHsiao0225 opened #2947 "the multirotor crashed under AirSim-Drone-Racing-Lab environment"
hi, I ran the code (AirSim/PythonClient/multirotor/path.py) under AirSim-Drone-Racing-Lab(
https://github.com/microsoft/AirSim-Drone-Racing-Lab). The map was "soccer field _easy ".
Initially, the multirotor was in the box. I pressed backspace on keyboard  to reset the position of multirotor. (picture1)
But, my problem is that the multirotor crashed before it landed.(picture 2). Would be nice if so

[2020-08-18 08:02] flolu commented on #2944
@rajat2004 Nice, thank you!

[2020-08-18 08:02] #2944 closed

[2020-08-18 08:08] flolu opened #2948 "LIDAR Doesn't Detect Whole Mesh, But Only a Bounding Box"
I have imported my own mesh from Blender into Unreal Engine. (export as .fbx from Blender and then import into Unreal Engine)

![Screenshot from 2020-08-18 10-05-04](https://user-images.githubusercontent.com/34191949/90487120-4e865280-e13a-11ea-9da9-e59da091b300.png)

As you can see, there is a detailed mesh.

![Screenshot from 2020-08-18 10-01-51](https://user-images.githubusercontent.com/3419194

[2020-08-18 09:00] WouterJansen commented on #2948
Unreal uses two collision standards: simple and complex. By default simple will be used. You are looking into using the complex collision. More information on it here: https://docs.unrealengine.com/en-US/Engine/Physics/SimpleVsComplex/index.html#:~:text=Simple%20Collision%20are%20primitives%20like,will%20use%20the%20corresponding%20shape.

Two ways to achieve this:
**1) Alter AirSim Plugin**
https

[2020-08-18 09:01] AOS55 commented on #2508
@rajat2004 Thanks a lot for your help.

Yes thats right, should be the same as original I think UE4 prompted me to convert in place but the unmodified airsim seemed to run without issue in 4.25, I can try in 4.24 but I don't think that should be a problem.

Thats a good point I wll take a look at the assets I thought I would need to make a simple plane 3D model, we have several CAD files of FW UAV

[2020-08-18 09:12] #2948 closed

[2020-08-18 10:53] rajat2004 commented on #2508
AirSim master supports UE 4.25, so should run without problems. Also, currently Azure Pipelines uses 4.25.1 for CI testing. Just that  I haven't used 4.25 much, actually built it on my system just a few days ago (Maybe I've forgotten how long it takes, but seemed much more longer this time)

I haven't yet had a look at Easy Flight but your points seem valid, and license could also be problem, so b

[2020-08-18 11:31] rajat2004 commented on #2508
Now that's a big display!
Not seeing any problem at first glance atleast, you're using the Blocks env from the photo itself rather than the Blocks_4.25 env right? Maybe the problem's happening due to a compilation error, and it's not able to generate the files.
Did you add the new files in the VS project file? I think that's required for any new files created like in the AirLib folder

[2020-08-18 11:51] AOS55 commented on #2508
Yes thats correct I left that folder there but it should be redundant all is from the folder Blocks as default. It could well be a compilation error somewhere in my code.

I didn't Im going to add those now and rebuild to see if that helps.

[2020-08-18 14:33] AOS55 commented on #2508
Ok, been playing around with adding and removing various files in the [AirLib.vcxproj](https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/AirLib.vcxproj) file. I get build errors when I leave the compile commands as is this seems to be principally related to (FixedWingApiBase.hpp)[https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/include/vehicles/fixedwing/api/FixedWingApiBase.hpp] and

[2020-08-18 15:38] #2358 closed

[2020-08-18 16:24] clintlombard commented on #2891
I'm also seeing slow image capturing, with  +-5 Hz @ 480p for both OpenGL and Vulkan. @rajat2004 I'm trying your suggestion of packaging the binaries in Linux, but I can't seem to get it working. I followed [AirSim's guide](https://github.com/Microsoft/AirSim/blob/master/docs/docker_ubuntu.md#misc-packaging-unreal-environments-in-airsim_source-containers), and have also tried using the [ue4cli](ht

[2020-08-19 00:06] #2931 closed

[2020-08-19 00:08] agentfeux commented on #2931
Yes, I was referring to this function. Thank you I didn't know I was able to do that with
pip !

[2020-08-19 00:37] TomAvrech opened #2949 "How to get the collision point of ray-tracing ?"
I want to get all the 3D points' locations of all the lines that start from all the pixels and hit surfaces.

What I mean by that: I have a RGB image, and for each pixel I start ray-tracing, until the rays hit surfaces, then, I want to get the 3D points of where the rays hit the surfaces.

It's like a shooter game, you shoot a gun, and I want to find out the location of where the bullet hit the wa

[2020-08-19 04:30] rajat2004 commented on #2891
@clintlombard You're getting 5Hz at 480p? That's too low
I haven't yet used the command-line to package envs, or used UE from source inside docker, so can't say much. Instructions seem okay

[2020-08-19 04:38] rajat2004 commented on #2918
Sorry, missed this message
I haven't dived deep till now into how the Lidar sensor works, and the meaning of the statement isn't exactly apparent, others will most likely be able to answer better. Will post if there are any updates

[2020-08-19 05:06] rajat2004 commented on #2725
Could this be related somehow to #2948?

[2020-08-19 09:49] tharindurmt commented on #2918
@rajat2004 Thank you.
I did some investigations in relation to your earlier comment on vehicle and lidar pose being computed on **every tick** and I think I have not explained myself properly. I'll try to elaborate it to the best I can.
The current lidar model first calculate the elapsed time (as far as I can see, this is the actual elapsed clock time - [Code](https://github.com/microsoft/AirSim/b

[2020-08-19 14:27] WouterJansen commented on #2918
Don't think what you seek is possible and also there might still be some confusion. the rotational frequency just helps to decide how many points should be calculated over a time delta. A single execution of getPointCloud does not result in a full rotational scan. Only a partial one. It will calculate based on `delta_time` how many lasers should be calculated (both more realistically in my version

[2020-08-19 15:32] smadnani opened #2950 "Build Error in cpp file"
<img width="1217" alt="“ps4-1” 2020-08-19 at 11 31 36 AM" src="https://user-images.githubusercontent.com/13782408/90655432-8ca17600-e20f-11ea-8930-47725e721c8b.png">

I perform the following steps to build AirSim:
git clone -b 4.24 https://github.com/EpicGames/UnrealEngine.git
cd UnrealEngine
./Setup.sh
./GenerateProjectFiles.sh
make
git clone https://github.com/Microsoft/AirSim.git
cd AirSim

The

[2020-08-19 16:10] thejeshk opened #2951 "Orientation and position of Lidar/Camera attached to the Car"
Hello AirSim Community,

Can we change the orientation and position of the Lidar sensor or Camera attached to the Vehicle (Car)

Thank you
TK

[2020-08-19 16:48] rajat2004 commented on #2950
AirSim uses `clang-8` as the compiler, not `gcc`. If you don't have root access, you could probably download Clang binaries and replace `clang-8`, etc with the location of the downloaded binaries in `build.sh`

[2020-08-19 16:53] rajat2004 commented on #2951
See the documentation - https://microsoft.github.io/AirSim/lidar/, https://microsoft.github.io/AirSim/settings/
They both take X,Y,Z & Roll,Pitch,Yaw as parameters in settings

[2020-08-19 18:05] #2950 closed

[2020-08-19 18:40] jonyMarino commented on #2949
with the lidar sensor?

[2020-08-19 18:46] jonyMarino commented on #523
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-19 18:46] #523 closed

[2020-08-19 18:48] jonyMarino commented on #919
@lovettchris is this not alredy implemented?

[2020-08-19 18:50] jonyMarino commented on #1047
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-19 18:50] #1047 closed

[2020-08-19 18:51] TomAvrech commented on #2949
With a simple camera, but maybe there is a way with Lidar ?

[2020-08-19 18:54] jonyMarino commented on #1223
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-19 18:54] #1223 closed

[2020-08-19 20:00] cnpcshangbo opened #2952 "Mac OS build error: Undefined symbols for architecture x86_64"
This error appears during the build process.
'''
[100%] Linking CXX executable ../output/bin/AirLibUnitTests
Undefined symbols for architecture x86_64:
  "___darwin_check_fd_set_overflow", referenced from:
      mavlinkcom_impl::UdpSocketImpl::recv(void*, unsigned long, unsigned int) in libMavLinkCom.a(UdpSocketImpl.cpp.o)
      mavlinkcom_impl::UdpSocketImpl::pollin(unsigned int) in libMavLinkCom

[2020-08-19 20:14] jonyMarino commented on #1301
regarding your question: I would also like to know how can I move them later and / or choose which camera to talk to from python? take a look at : https://microsoft.github.io/AirSim/image_apis/#camera-apis

[2020-08-19 20:14] #1301 closed

[2020-08-19 20:17] jonyMarino commented on #2601
Yes, that is correct

[2020-08-19 20:17] #2601 closed

[2020-08-19 20:19] jonyMarino commented on #1256
The enviroments are closed source.

[2020-08-19 20:19] #1256 closed

[2020-08-19 20:21] jonyMarino commented on #2192
AirSim now supports UE v4.24 please try with that version. If the problem persist feel free to open a new issue

[2020-08-19 20:21] #2192 closed

[2020-08-19 20:32] #2527 closed

[2020-08-20 00:24] tharindurmt commented on #2918
@WouterJansen  That clears things up. Thank you!
Lidar model in Airsim is developed similar to that of Carla. [This Carla project ](http://asrl.utias.utoronto.ca/datasets/mdlidar/index.html) offer a motion distorted point cloud by setting `an extremely small discrete timestep (0.05 milliseconds)`. So, I guess the easiest way (and with lengthy execution times) to achieve this is to set the `ClockSp

[2020-08-20 03:11] rajat2004 commented on #2952
This has been extensively discussed in #2559, so better to continue there itself
Essentially, it's a problem in XCode 11.4, seems to be fixed in 11.4.1 but is present in 11.5 as well, so not completely sure which versions are affected.
You could comment out the lines causing the problem, they're only relevant if using AirSim with ArduPilot. See https://github.com/microsoft/AirSim/issues/2559#issue

[2020-08-20 03:13] rajat2004 commented on #2947
Issue should probably be opened against that repository itself

[2020-08-20 09:07] #2921 closed

[2020-08-20 09:09] LittleTimeWxk commented on #2921
Thank you very much! I have solved it just now.

[2020-08-20 10:55] lancekrogers commented on #2829
What did you have to wget?

[2020-08-20 11:45] KristofferFogh04 opened #2954 "macos AirSim + PX4 + ROS"
Hello!

I am not sure where to post this question, so please remove if not appropriate.
I am a beginner using AirSim, and intend on using it for a research projet in drone racing at my university.

I have AirSim running together with PX4 and it works great. I can control the drone from PX4 and define missions in QGroundControl and the drone will fly in AirSim UnrealEngine with a decent fps. The ne

[2020-08-20 14:39] AOS55 opened #2955 "Fixed Wing Aircraft"
# Fixed Wing Vehicle Integration

I am working on adding a FixedWing aircraft class into Airsim, so far I have been documenting my work under issue #2508 but as suggested by @rajat2004 it would be usefult to move this work to a new issue so as to improve visibility for others to work on.

### Work so far
Please see this [post](https://github.com/microsoft/AirSim/issues/2508#issuecomment-674392713)

[2020-08-20 14:39] AOS55 commented on #2508
I have moved this issue to #2955 to increase visibility

[2020-08-20 17:54] amaalo2 commented on #2904
I would suggest to look into client.py in your Airsim code. In there you will find the currently implemented python APIs .

For example,
![image](https://user-images.githubusercontent.com/25960643/90807602-b67c9a80-e2ec-11ea-84e9-b571eab49920.png)

Hope this helps.

[2020-08-20 17:56] #2952 closed

[2020-08-20 17:57] #2947 closed

[2020-08-20 18:29] #1309 closed

[2020-08-20 18:38] jonyMarino commented on #1338
I think is ok to allow this kind of code. It can be a developer preference on the clarity of his code

[2020-08-20 18:38] #1338 closed

[2020-08-20 18:40] jonyMarino commented on #1354
Closed due to age.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-20 18:40] #1354 closed

[2020-08-20 18:41] jonyMarino commented on #1417
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-20 18:41] #1417 closed

[2020-08-20 18:50] jonyMarino commented on #1473
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-20 18:50] #1473 closed

[2020-08-20 19:00] jonyMarino commented on #1501
treated on #1719

[2020-08-20 19:04] #1513 closed

[2020-08-20 19:11] rajat2004 commented on #2954
At first glance, I don't see any reason why it shouldn't work, other than the settings parser not working due to file being on a different system. Not exactly sure how it would affect the ROS wrapper though.
Any kind of errors which you're getting? Are the machines reachable by each other on the IP addresses being used?

[2020-08-20 19:11] #1555 closed

[2020-08-20 19:23] rajat2004 commented on #1632
The new [`simSetCameraPose` API](https://github.com/microsoft/AirSim/blob/master/docs/image_apis.md#camera-apis) allows translation of the camera along with the rotation

[2020-08-20 19:32] jonyMarino commented on #1811
@didwjdrl12 do you still have this issue on latest airsim version? The current recommended UE version is 4.24

[2020-08-20 19:41] jonyMarino commented on #1632
Thank you very much @rajat2004 for your help. I still have to get familiar with the apis

[2020-08-20 19:41] #1632 closed

[2020-08-20 19:51] jonyMarino commented on #1902
@stavBodik were you avle to solve the issue?

[2020-08-20 20:03] jonyMarino commented on #1958
If you have question
Add clear and concise title
Add OS, AirSim version, Python version, Unreal version if applicable
Include context on what you are trying to achieve
Include details of what you already did to find answers

[2020-08-20 20:03] #1958 closed

[2020-08-20 20:11] jonyMarino commented on #2069
Closed due to age and incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing issue
*Attach screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-08-20 20:11] #2069 closed

[2020-08-20 20:14] jonyMarino commented on #2081
Treated in #284

[2020-08-20 20:14] #2081 closed

[2020-08-20 20:14] elfring commented on #1338
How do you think about to [use a development tool like “clang-tidy” for corresponding source code adjustments](https://clang.llvm.org/extra/clang-tidy/checks/readability-delete-null-pointer.html "Deletion of unnecessary null pointer checks")?

[2020-08-20 20:27] jonyMarino commented on #2207
closed due to age

[2020-08-20 20:27] #2207 closed

[2020-08-20 20:32] KristofferFogh04 commented on #2954
Thank you for the reply. Not getting any errors. Regarding if they are reachable, I have only tried pinging my host IP to the VM IP and the other way around and they seem to be reachable that way. I should probably look closer into it with wireshark or something, so that's the next order of business.
When I think about it, it might also just be because I simply don't fully understand the ROS archi

[2020-08-21 02:02] rajat2004 commented on #1632
Glad to help @jonyMarino! Yeah, the APIs are not very well documented, having a reference doc will be good rather than needing to dive into the source code every time

[2020-08-21 02:29] rajat2004 commented on #2954
I think everything ROS related should be the Ubuntu VM. How did you launch Mavros with the IP & Port of PX4, using something like `roslaunch mavros px4.launch fcu_url:="udp://:14540@192.168.1.36:14557"` ? Try to first make sure that Mavros connects with PX4, then bring Airsim ROS nodes into the picture
I would also suggest trying running just AirSim in MacOS, & PX4 + ROS in Ubuntu VM, however, the

[2020-08-21 03:10] rajat2004 commented on #2955
I had a try at compiling your branch, the error message was really quite useless.
Opened https://github.com/AOS55/AirSim-1/pull/1 which fixes that and brings us back to normal compilation errors with understandable messages (for now)

[2020-08-21 05:49] GimpelZhang opened #2957 "OptionsMenu.uasset was saved with a newer custom version than the current"
Hi all,

I had an issue on the weather option function during the simulation.

When I pressed F10, the following errors came up:

[code]

* my settings:

[code]

I suppose that this PR #2877 has something to do with this issue, since after I changed back the files mentioned in this PR, the errors didn't occur anymore and the weather options worked in the unreal editor. However, when I tried to pac

[2020-08-21 08:15] VC86 opened #2958 "Image rendering resolution and artefacts"
OS: Windows 10
Python: 3.6
UE version: 4.24
AirSim version: latest Windows

I am rendering depth and RGB images at 640 x 480, VGA resolution from a custom UE environment (ArchVizInterior) with the following very simple settings:
`{
  "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
  "SettingsVersion": 1.2,
  "SimMode": "ComputerVision",
  "CameraDefaults": {
    "C

[2020-08-22 06:58] TomAvrech opened #2959 "Bug: Using python's simPlotPoints (not too) many times sometimes crashes the Unreal Engine"
When running the below line, it works ok.
self.client.simPlotPoints(points=[airsim.Vector3r(x_val=float(0), y_val=float(0), z_val=float(0))],
                                          color_rgba=[1.0, 0.0, 0.0, 1.0], size=1, duration=-1.0, is_persistent=True)
But if I run it multiple times, -sometimes- an Exception is thrown: "UE4Editor-Win64-DebugGame.exe has triggered a breakpoint."
in Unreal Pr

[2020-08-22 17:02] TomAvrech opened #2961 "Bug: airsim.ImageType.Scene (RGB) images' colors appear different than how the scene appears in the Unreal Editor"
To get an image from the camera, I run the following code:
responses = self.client.simGetImages([
            airsim.ImageRequest("0", airsim.ImageType.Scene           , pixels_as_float=False, compress=False)
        ])
response = responses[0]
img1d = np.frombuffer(response.image_data_uint8, dtype=np.uint8)
img_rgb = img1d.reshape(response.height, response.width, 3)

# Doesn't look good when I plo

[2020-08-23 19:17] TomAvrech commented on #2959
I tried 2 tricks that didn't work:
1) Added time.sleep() after each simPlotPoints call, to hopefully give the C++ enough time to allocate extra memory.
2) Make 1 call to simPlotPoints, before the real calls, which added <2 * real-number-of-points> "junk" points, so maybe the std::vector (if it is used at all) will not need to increase in size between real simPlotPoints calls.

[2020-08-23 19:37] rajat2004 commented on #2959
Could you test #2963, it seems to fix the problem for me, for 10k calls atleast

[2020-08-23 19:42] TomAvrech commented on #2959
What does GameThread mean ?

[2020-08-23 19:47] rajat2004 commented on #2959
Unreal Engine has different kinds of threads, I myself am not very clear about the exact differences, etc. From what I understand, game thread is the main one which runs on CPU, there's render thread, and Async operations also.
This post pointed towards running on game thread so tried it out - https://answers.unrealengine.com/questions/286729/editor-crash-debugdrawpoint-in-fasynctask.html

[2020-08-23 19:53] TomAvrech commented on #2959
I haven't modified anything in the C++ projected generated from the Epic Games Launcher. Should I ?

[2020-08-23 19:55] rajat2004 commented on #2959
Not exactly sure what you're saying, the change is fairly small so I guess you could even copy the new code and rebuild from VS

[2020-08-23 20:00] TomAvrech commented on #2959
![Annotation 2020-08-23 225814](https://user-images.githubusercontent.com/19329110/90987538-645da280-e594-11ea-8302-2d54ff49fea4.png)
Is that what you mean ? (It didn't solve)

[2020-08-23 20:03] rajat2004 commented on #2959
No, try out the changes done in PR #2963

After the change, the code should be -
[code]

[2020-08-23 20:10] TomAvrech commented on #2959
Overwritting WorldSimApi.cpp's WorldSimApi::simPlotPoints(..) with rajat2004's code solved it (for 62.5k points at least) !

Thanks a lot !

[2020-08-23 20:12] rajat2004 commented on #2959
Great, thanks a lot for reporting the bug and testing! I suspect this will require making such changes to all the plotting APIs.
Might be a good chance to add some example scripts also

[2020-08-24 06:59] Cypre55 opened #2964 "Unable to accept TCP connection from PX4 running on docker"
Hi,
I'm new to aerial robotics, so please correct me if I use the wrong terms anywhere.

I am trying to get PX4 to connect to airsim. So, I first changed the settings accordingly.
[code]
To run the docker container I used the following command:
[code]

Once in the container, I did
[code]

Everything worked smoothly to the point where PX4 is waiting for airsim to accept the connection on TCP port 4

[2020-08-24 07:24] lucafei commented on #611
Hello, @raymondchua i have also same problem with you, can you show me how to transfer the postion from ue enviroment to airsim api?

[2020-08-24 11:54] AOS55 commented on #2955
### Progress Update

#### Aircraft Physics Control Construction
I have been continuing to work on the FixedWingPhysics simulation aiming to resolve compilation errors. I have vectorised the control surfaces so ideally they behave as a **u** tyoe vector. With this I introduced a new file [Aeroplane.hpp](https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/include/vehicles/fixedwing/Airplane.hpp)

[2020-08-24 12:11] rajat2004 commented on #2955
That's happening cause the function is calling itself here - https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/include/vehicles/fixedwing/firmwares/ardupilot/ArduPlaneApi.hpp#L54
It should instead be calling `FixedWingApiBase::resetImplementation()`, from it's parent class

[2020-08-24 12:50] AOS55 commented on #2955
Thanks yep that was it was quite obvious now I think about it in more detail. It several unresolved external symbol errors now but I think there a case of sorting out further problems with the API.

[2020-08-24 14:49] TomAvrech commented on #2959
Similar bug, similar fix:
void WorldSimApi::simFlushPersistentMarkers()
{
    UAirBlueprintLib::RunCommandOnGameThread([this]() {
        FlushPersistentDebugLines(simmode_->GetWorld());
    }, true);
}

[2020-08-24 14:56] #2949 closed

[2020-08-24 15:01] rajat2004 commented on #2959
Yeah, I made the changes to all the APIs but forgot this one, added now, thanks!

[2020-08-24 15:19] AOS55 commented on #2955
Does anyone have any thoughts on this error coming from `FixedWingApiBase.hpp`, I thought it was to do with the link between the base class and Mavlink/Px4 implementation override. I can't see anything untawards though:
LNK2001	unresolved external symbol "protected: virtual float __cdecl msr::airlib::FixedWingApiBase::getAutoLookahead(float,float,float,float)const " (?getAutoLookahead@FixedWingApi

[2020-08-24 15:28] rajat2004 commented on #2955
Functions seem to be missing, are all the files uncommented in the [AirLib.vcxproj](https://github.com/microsoft/AirSim/compare/master...AOS55:FixedWing#diff-0e5e296b5734ca4828f774cf0a9bc67e)?

[2020-08-24 16:37] AOS55 commented on #2955
Thats a good point I've uncommented them now, from [AirLib.vcxproj](https://github.com/AOS55/AirSim-1/blob/FixedWing/AirLib/AirLib.vcxproj), but Im still getting the same link errors from the compiler. When running build.cmd I also get some errors in the command prompt that are slightly different, perhaps these are what needs to be looked at.
![image](https://user-images.githubusercontent.com/4895

[2020-08-24 16:50] XueZhihan opened #2965 "msgpackrpc.error.RPCError: rpclib: function 'enableApiControl' (called with 2 arg(s)) threw an exception. The exception contained this information: Vehicle API for 'drone0' is not available. This could either because this is simulation-only API or this vehicle does not exist."
I'm getting this error when trying airsim1.2.4 and 1.2.8.

[code]
And my setting.json in ~\Documents\Airsim is looked like this:
[code]
Hoping someone can help me out with this. Thank you so much.