[2020-11-06 16:24] #598 closed

[2020-11-06 17:38] jonyMarino commented on #3097
Hi @lucafei! Does the used settings.json not appear on your log messages at the left of your simulation screen?

[2020-11-06 20:05] rajat2004 commented on #3130
The `params` key should be `Parameters` I think, or you can try to set the parameters yourself in the PX4 terminal

[2020-11-07 01:31] ChangShenXu commented on #2835
@LSBOSS Thank you very much for your codes. However, it doesn't seem to be able to acheive the effect as shown in "depth sub-window".
Sincerely hope for a better solution.

Except for the path of saving the file, the following code is almost the same as that of LSBOSS.

 `import airsim
import numpy as np
import cv2
import tempfile
import os

# Constants for visualization
MIN_DEPTH_METERS = 0
MAX_D

[2020-11-07 05:43] sugawaradaisuke opened #3131 "fatal error: 'common/AirSimSettings.hpp' file not found"
My environments is ubuntu 20.04(NVIDIA Corporation GP107GL [Quadro P620] (rev a1)).
Unreal Engine is 4.24.3.
I built `airsim` and `Unreal Engine` according to [here](https://microsoft.github.io/AirSim/build_linux/).
And I copy `Plugins/AirSim` to `Blocks` directory.
Following error occur when I open `Blocks` on Unreal Engine.

`[In file included from /home/d/AirSim/Unreal/Environments/Blocks/Plugi

[2020-11-07 09:49] Agm2104 commented on #3130
Hey, thanks for answering!
Changing "params" to parameters doesn't seem to work, nor setting the parameters in the PX4 terminal.
One thing I did't mention is that I don't get the 'home set' message on the UE screen, so maybe is not passing the location properly?

[2020-11-07 13:32] kharyal commented on #3024
While trying to run AirSim on environments from the Unreal Marketplace, I am facing the following issue in getting correct segmentation images
![28_scene](https://user-images.githubusercontent.com/33199820/98181909-72cc2100-1f2a-11eb-9b94-d4550af111e7.png)
![28_seg](https://user-images.githubusercontent.com/33199820/98181905-719af400-1f2a-11eb-989d-e9bcc6edc6c7.png)

I want separate segmentation f

[2020-11-08 12:12] weigangwen commented on #2875
I encountered the same problem in Unity, did you solve it?

[2020-11-08 19:55] Yaseen787 opened #3132 "Solution to error on using build.cmd on Windows"
As I was following the steps to setup AirSim as indicated [here](https://microsoft.github.io/AirSim/build_windows/), I came across the error: `expand-archive : The term 'expand-archive' is not recognized as the name of a cmdlet, function, script file, or operable program.` Apparently, the issue was that the version of PowerShell on my version of Windows was outdated. So, after some searching for a

[2020-11-09 01:45] rajat2004 commented on #3131
There isn't any need to copy the Plugins directory when using the Blocks environment
Try running clean_rebuild.sh, and then do the steps again, just using the scripts and see if that works

[2020-11-09 02:12] rajat2004 commented on #3124
@AIKUUM It's always best to include the entire settings.json and link the example script or post your own for full reproducibility

[2020-11-11 10:46] xistix commented on #3095
Is there any progress on this? I have the same issue.

[2020-11-11 14:46] xistix commented on #3095
I found this has something to do with the vehicle name in AirSim settings.json.
If you change the name like this:
...
"Vehicles": {
    "ComputerVision": {
...

the error goes away.

[2020-11-11 21:48] jonyMarino commented on #2588
Hi @courageon! Thank you for your involvement in the project! We want to fix this issue. If you want to share your code (preferably in a PR), it would be great!

[2020-11-12 05:32] botkevin commented on #1769
My solution to this problem is just to get images in +-x, +-y, +-z direction, and stitch them into a cubemap, which I then transform to the desired equirectangular image. This method avoids the vignette stitching inaccuracy problem and seems to work fine... However there are some weird aberrations from the vignetting which I try my best to avoid using a larger fov and cropping down.
![125088876_16

[2020-11-12 05:34] botkevin commented on #1858
I have a hackish solution that I posted @ https://github.com/microsoft/AirSim/issues/1769

[2020-11-12 08:01] saihv commented on #1769
@botkevin  This looks cool! It'd be great if you can open a pull request with this feature.

[2020-11-12 09:11] t-thanh commented on #3095
@xistix Can you send me your settings.json? I tried to change it like you describe but it doesn't work as expected.

[2020-11-12 09:36] lucafei commented on #2470
maybe you can try the weather window in simulation, check if it works?

[2020-11-12 09:50] kochsebastian commented on #2470
After some experimenting I know what the problem was: I used to render the Engine with OpenGL, because it consumes less processing power. But only when you use Vulcan you can model fog or dust.
Vulcan is the default of course.

[2020-11-12 16:43] blakermchale commented on #3095
@xistix Thanks! I was able to get it working by changing the name to "SimpleFlight". You also have to make sure that there is a settings.json in your WSL Documents/AirSim directory

[2020-11-12 17:29] ivannson commented on #2470
@kochsebastian Yes, that must be it! In my case it didn't work in Linux where OpenGL is the default.

[2020-11-12 17:29] #2470 closed

[2020-11-12 18:17] #3099 closed

[2020-11-13 09:33] EivindYN commented on #2477
Any progress on the PX4 1.11 compatibility?

[2020-11-13 09:46] alter409 opened #3136 "build error"
when I run build.cmd, the error log as follows,how to fix it?

3>已完成生成项目“D:\github\AirSim\Examples\Examples.vcxproj”(默认目标)的操作。
     5>D:\github\AirSim\AirLib\include\vehicles\multirotor\RotorParams.hpp(55,59): error C2220: 以下警告被视为错误 [D:\github\Ai
       rSim\AirLibUnitTests\AirLibUnitTests.vcxproj]
     5>D:\github\AirSim\AirLib\include\vehicles\multirotor\RotorParams.hpp(55,59): warning C4244: “=

[2020-11-13 11:44] xxEoD2242 commented on #3136
I just had this issue. This is talking about a conversion warning that I'm pretty sure isn't going to be fixed anytime soon, since `msr::airlib::real_T` is a struct with whatever precision they gave it.

What I would recommend (what I did), was go to the file `AirSim\AirLibUnitTests\AirLibUnitTests.vcxproj` and scroll down in the XML until you find a section that looks like this.
<img width="1154"

[2020-11-13 12:43] keliyang commented on #3136
perfect,I solved my problem,thank you!

[2020-11-13 13:58] jonyMarino commented on #2477
Hi @EivindYN! We will be working on this soon!

[2020-11-13 14:19] jonyMarino commented on #3108
Hi! did you try with simSetObjectPose?

[2020-11-13 14:36] EivindYN commented on #2477
Which engine version will you be using, 4.24 or 4.25? So that I can prepare myself for the eventual merge.

[2020-11-13 14:59] Agm2104 opened #3137 "Issue running QGC missions"
I'm trying to flight a drone and get LIDAR data by using PX4 with Airsim as SITL. I try to launch a mission in QGC without the sensors enabled and I have no problem, but the moment I enable LIDAR I get 2 issues:

1. When I try to launch my 'default' mission after opening QGC, the drone seems to arm but never takes off and the mission ends.

2. When try to load/upload a different mission, I get the

[2020-11-13 15:08] jonyMarino commented on #3113
Hi @AIKUUM! I don't understand your question. What do you refer to when saying, "when initial takeoffs by the drones are skipped."? do you comment that line in the script?

[2020-11-13 15:12] jonyMarino commented on #3114
Hi @sinamoghimi73! Do you have AirSim.sln open or just Hello car project?

[2020-11-13 15:44] jonyMarino commented on #3122
In the settings. set EngineSound to true (https://microsoft.github.io/AirSim/settings/)

[2020-11-13 15:53] jonyMarino commented on #3130
Hi @Agm2104! Which is the player start's location?

[2020-11-13 15:57] Agm2104 commented on #3130
Hi @jonyMarino!

These seem to be the start parameters:
x=5690
y=-100
z=202

![image](https://user-images.githubusercontent.com/74015104/99092364-55a1ed00-25d1-11eb-9efb-b52a1c58e3cb.png)

[2020-11-13 15:59] jonyMarino commented on #3127
Hi @ykeuter! Are you sure that the method is called for the same object twice?

[2020-11-13 16:06] jonyMarino commented on #3132
Thanks for sharing this! Why did you not update PowerShell?

[2020-11-13 18:15] ykeuter commented on #3127
Hi @jonyMarino ! Yes, in the Unity version I stepped through a "tick" in the debugger and can confirm these render methods are called twice: first in `SimModeWorldBase::Tick`, which afterwards calls `SimModeBase::Tick`, which calls` PawnSimApi::pawnTick`, which calls the same render methods again.

I am less familiar with the Unreal implementation code so cannot confirm a similar call stack there

[2020-11-13 21:21] kensuke1921 commented on #3123
Thank you for advice.
It means like this picture？
Originally no code was written in settings.json.
So I wrote "recording".
But recording with imageFile is continuing...
Please teach me...
![スクリーンショット (6)](https://user-images.githubusercontent.com/73044629/99122266-570afe00-2641-11eb-8186-f1f9220ce1c1.png)

[2020-11-14 05:34] ICYPOLE opened #3138 "No horizontal movement API in drone's x, y, z axes"
OS: Win10
AirSim: v1.3.1
Python: v3.6.12

I am currently writing a PC keyboard controller in Python for controlling drone. When trying to control the drone for horizontal movement, I found that all of the APIs, such as `moveByVelocityAsync`, `setVelocityControllerGains`, are implemented for world x, y, z axes.

I wonder if there is any possible solution to move the drone horizontally in the drone'

[2020-11-14 05:56] rlalpha commented on #3138
same problem here too.
Try to connect my remote controller: which have format rc: x_velocity, y_velocity, z_velocity, rotate_velocity

[2020-11-14 09:11] Yaseen787 commented on #3132
Before seeing this error, I had no idea what PowerShell even was, and updating it didn't seem really straight forward. I came to this solution and thought I'd share it here.

[2020-11-14 14:55] littlefish111 opened #3139 "Failed to load asset class"
I don't know how to solve this problem
Error at startup: Failed to load asset class - Class'/AirSim/VehicleAdv/SUV/SuvCarPawn.SuvCarPawn_C'

[2020-11-14 15:00] #3136 closed

[2020-11-14 15:01] alter409 commented on #3136
it works for me, thank you!

[2020-11-14 20:21] EdwinMeriaux opened #3140 "creating custom drone"
Hi!

So I'm looking into modifying the basic drone to be more similar to the types of drones I'd be flying (mainly increase the size of the drone). I see people were talking about it here:
https://github.com/microsoft/AirSim/issues/838
but it was never clear on if it worked. I have seen a few examples to modify the car in airsim.
Is it similar?

What I need to build is a drone like this:
https://s

[2020-11-14 23:11] Yaseen787 opened #3141 "Any fixed wind drones on AirSim?"
I'm working on a flight control related project and I am exploring several simulators now. As it seems on AirSim, there is no default fixed-wing aircraft as there is for the multirotor already. Is there a source maybe to download more airplane models to use or is it gonna be just the multirotor? I'm not really prepared to go through "hacky" solutions as the project is limited in time. If someone c

[2020-11-15 04:18] littlefish111 commented on #1310
It still doesn't work

[2020-11-16 02:05] tharindurmt commented on #3123
Try removing the  `Recording` tag altogether.
Do you have any content in your AirSim plugin? (I'm referring to any image recording code)

[2020-11-16 03:24] chickenbestlover commented on #729
That's exactly what I was looking for. Thank you very much!

[2020-11-16 03:55] AIKUUM commented on #3113
Yes, I tried commenting that line in the script.

[2020-11-16 05:32] AIKUUM opened #3142 "Storage capacity and OS of drones in AirSim simulator"
What is the storage capacity of drones in AirSim?
What is the OS supported by drones in AirSim?

[2020-11-16 07:58] GimpelZhang commented on #3141
If your project does not have high demand on visual message quality, a gazebo based simulator is a better choice I think.

For example, the project from ETHZ: [rotors_simulator](https://github.com/ethz-asl/rotors_simulator) has fixed-wing models.

[2020-11-16 10:15] ahmed-elsaharti commented on #3130
@Agm2104 , what version of the px4 firmware are you using here?
Also, do the log messages on the UE environment state that the vehicle is connected to SITL?
![image](https://user-images.githubusercontent.com/49626509/99240160-b263fa00-27c1-11eb-8009-709ae77332d4.png)
I don't see anything in the PX4 terminal that confirms that there's a successful connection to the current UE session.
![image](http

[2020-11-16 11:07] Agm2104 commented on #3130
@ahmed-elsaharti, sorry I didn't add a screenshot of the UE enviroment, I totally forgot. Here it is.

![image](https://user-images.githubusercontent.com/74015104/99245033-3be7ec00-2803-11eb-908d-784505332504.png)

I'm using the 1.11 version of PX4.

As you say, a confirmation message doesn't appear in the PX4 terminal, but given that i can launch missions with QGC and it's reflected in both UE an

[2020-11-16 12:16] lberridge1992 commented on #3104
Wanted to post an update on this so far as I've done a bit more investigation:
- I've tested the config of PX4 with the Unreal sim and I do not see the same behaviour with the drone falling out of the sky as I do with the Unity sim
- I've tried disabling lockstep mode which works better and removes the "timeout on HilActuatorControlsMessage" messages for obvious reasons. However, I still see the d

[2020-11-16 12:21] CodeQuixote opened #3143 "Drone does not move in UnityDemo and AirSim on Linux/Ubuntu 20.04 but works with same setup in Windows"
## Contextual Background
My goal is to simulate a drone using AirSim built on Unity and control it using ROS-MAVROS-PX4 in Linux/Ubuntu 20.04.
I have successfully managed to achieve the above using UnrealEngine, with and without PX4 and ROS with the Python and C++ APIs provided.
I now need to achieve the above with AirSim built on Unity.
After trying with the whole ROS-MAVROS-PX4_AirSim-Unity pipe

[2020-11-16 13:52] EdwinMeriaux commented on #838
@sytelus How would be create 3D mesh and Pawn BP?

[2020-11-16 14:32] BrellenZhou commented on #1198
Hi,

did you solve it?

[2020-11-16 15:41] jonyMarino commented on #3141
Hi @Yaseen787! Maybe the work discussed at https://github.com/microsoft/AirSim/issues/2955 in its current development is suitable for you.

[2020-11-16 15:47] jonyMarino commented on #3136
Another way would be to add a static cast in the source files. So a PR can be submitted

[2020-11-16 16:34] jonyMarino commented on #3079
Hi @Melvin-leo! I want to understand your necessity. Why are the binaries not suitable for you to use?

[2020-11-16 16:49] Melvin-leo commented on #3079
It's not that it's not suitable , but there is no tutorial or instructions on how to implement the Linux binaries.

[2020-11-16 17:36] ahmed-elsaharti commented on #3130
@Agm2104, I was able to replicate your results when I switched over to PX4 1.11.2. I can also confirm that with this version the `params` key does not work while `Parameters` does. Try switching over to the version recommended in the docs (1.10.1) and see if the issue persists?

Also, at the player location x=5690 y=-100, the vehicle's GPS coordinates will not be those set by OriginGeopoint. The v

[2020-11-16 18:17] Agm2104 commented on #3130
@ahmed-elsaharti hi,a nd thank you very much for your help!

The problem is that everytime I try to build PX4 with the v1.10.1 I get this error.

![image](https://user-images.githubusercontent.com/74015104/99291451-20e79d00-2840-11eb-9547-fada4fab9851.png)

Any ideas about how to fix it?
I'll let you know if the version works the moment it's running :)

[2020-11-16 18:23] ahmed-elsaharti commented on #3130
@Agm2104 No worries.
Which version of the PX4 Windows Toolchain are you using? I used to get all kinds of compiling errors when trying to use 0.9 with PX4 1.10.1 (There was an issue about it where someone pointed out that there was a compiler compatibility issue but I can't find it). Try installing 0.8 and building 1.10.1.
Let us know if it works

[2020-11-16 20:08] Agm2104 commented on #3130
@ahmed-elsaharti it's exactly as you say, I was using 0.9 build with 1.11.
I have changed the versions as you suggested and it works **way** better now, it seems like I really hit the nail with the compatibility.

These are the screens I get now.

![image](https://user-images.githubusercontent.com/74015104/99301866-e20d1380-284e-11eb-8ac9-4e62bc528e45.png)
![image](https://user-images.githubuserco

[2020-11-16 20:23] ahmed-elsaharti commented on #3130
@Amg2104 Glad it worked!
As for the **home set** message, If you give it a couple of seconds and try to run `pos` in Droneshell (as is suggested in https://microsoft.github.io/AirSim/px4_sitl/) it should report the GPS coordinates its at rather than 0,0,0 (if you issue `pos` without waiting it will actually report 0,0,0).
What I've seen is that the moment the console reports 'EKF commencing GPS fu

[2020-11-16 23:16] kensuke1921 commented on #3122
Thauk you! This problem is solved.

[2020-11-17 01:59] EdwinMeriaux opened #3144 "give imported vehicle sensors"
Hi!

So if you import a car or drone into airsim how do you give it sensors?
Do they need the sensors when being built?
or will they automatically be added by specifying it in the Json file when using the drone/vehicle.

[2020-11-17 06:00] AIKUUM opened #3145 "IP addressing in multiple drones, and drone communication protocols"
My system specifications:-
![Capture](https://user-images.githubusercontent.com/72294070/99352089-00fbbc00-28c8-11eb-88f4-2505d3a4dded.PNG)

AirSim Version:- 1.3.1

Unreal Engine Version:- 4.25

Consider a scenario in which I want to transfer a high resolution image and a text file from Drone 1 to Drone 2. Can any 1 tell me what is the best communication protocol I can use for such a communication

[2020-11-17 07:29] kensuke1921 commented on #3123
I removed the Recording tag altogether like this.
But recording with imageFile is continuing....
I think RecordingFile.cpp is seems to be related to this problem.

![スクリーンショット (7)](https://user-images.githubusercontent.com/73044629/99359050-cd358c00-28f1-11eb-83d3-20045326d810.png)

[2020-11-17 16:36] #3122 closed

[2020-11-17 17:40] jonyMarino commented on #3079
It is an all in one package. You need to run the .sh script, and you would have the environment and the plugin already running. (v1.4 is another story, but it is a draft so far)

[2020-11-17 20:01] btwolfe opened #3148 "Airsim fails to compile with VS2019 Community (version 16.8.1)"
Running build.cmd in the latest top-level AirSim directory gets fatal errors.
Windows 10, latest AirSim v1.3.1

`D:\AirSim>build.cmd
Found cmake version: 3.18.4
Starting cmake to build rpclib...
-- Selecting Windows SDK version 10.0.18362.0 to target Windows 10.0.19041.
-- The C compiler identification is MSVC 19.28.29333.0
-- The CXX compiler identification is MSVC 19.28.29333.0
-- Detecting C co

[2020-11-17 22:24] ahmed-elsaharti commented on #3148
This is probably similar to #3136. Try the workaround explained there or #3146

[2020-11-18 00:51] tharindurmt commented on #3123
Yeah, this seems to be the default behaviour. Sorry for not catching it before.
What you can do is to comment out [these lines](https://github.com/microsoft/AirSim/blob/37a0aaebc171c5c7fa3be739edb74c1ae8e06807/Unreal/Plugins/AirSim/Source/Recording/RecordingThread.cpp#L121-#L124), so that the images are not captured. I haven't tried this myself. But commenting out these line should stop recording

[2020-11-18 02:20] ahmed-elsaharti commented on #3137
Hi @Agm2104 ,
I ran a couple of tests and was able to replicate your error while using the settings.json that has the sensors by:
1. Launching PX4 SITL
2. Launching the UE4 environment
3. Launching QGC
4. Uploading the mission file which resulted in `mission transfer failed`

The error seemed to go away when launching the simulation in this order:
1. Launch QGC
2. Start PX4 SITL
3. Star the UE4 en

[2020-11-18 03:08] ahmed-elsaharti commented on #3138
You could create a function that uses the pitch, roll and yaw of the vehicle (from `simGetVehiclePose`) to break a velocity vector in the Drone's x,y,z axes to components in the world x,y,z axes and then use `moveByVelocityAsync` to execute those components which would result in an overall motion equivalent to the drone vector you wanted.

Here's a quick 2D example to show what I mean
![image](htt

[2020-11-18 03:50] SSZ1 opened #3149 "Attribute"
# Read This First

## If you are reporting a bug
* Make sure to write **all reproduction steps**
* Include full error message in text form
* Search issues for error message before filing issue
* Attach screenshot if applicable
* Include code to run if applicable

## If you have question
* Add clear and concise title
* Add OS, AirSim version, Python version, Unreal version if applicable
* Include c

[2020-11-18 04:07] SSZ1 commented on #3149
I recorded the images in the airsim environment but I can't find out what the content of airsim_rec.txt means, so what does the information in the airsim_rec.txt mean? And I have questions about the  resolution of the images recorded.I edited the width and Height in the camerafaults of Settings.json but that didn't work. I'm confused. Here is the Settings.json I edited.

`{
  "SeeDocsAt": "https:/

[2020-11-18 07:48] Han-Sin opened #3150 "How can get global map in Airsim"
oh guys. I do drone simulation in Airsim using unreal Engine. I want to get the global map information from Airsim, but i don't know how to do it. Is there any API for me to do it? Please help me, I really need it.

[2020-11-18 08:06] GimpelZhang commented on #3150
Related issue I guess: #3108

As the comment mentioned in the above issue, simGetObjectPose and simSetObjectPose can manipulate with objects position ground truth. So I think these may help with the space map generation.

[2020-11-18 12:02] AOS55 commented on #3141
Hi @Yaseen787, yes if you need visuals for the purpose of debugging and user imagery gazebo may be the way to go, I've been working on adding a native aircraft to airsim but the FDM needs some debugging and the ardupilot interface is a bit of a pain to say the least. I have been working on a python airsim tool to interface but this is really more for RL type stuff. The aim is to integrate them bac

[2020-11-18 12:47] xxEoD2242 commented on #2955
Have you thought about changing this value in the Fast Physics Engine? I linked to the place where `dt` is instantiated. I'd be really careful with this, as the time step calculations for this process may be heavily dependent on a sufficient timestep. Have you thought about taking the underpinnings of JBSim and modifying the FastPhysicsEngine to be something like kindFastPhysicsEngine with more re

[2020-11-18 13:49] AOS55 commented on #2955
Hi @xxEoD2242 thanks for this. I think a JSBSim physics engine is what we should be heading towards it makes a lot of sense and prevents us reinventing the wheel. I have been working on a python implementation over the last month. But having it native to airsim in C++ would be ideal. The problem I've begun to realise over the past couple of days is that by pose forwarding JSBSim to airsim in CV-mo

[2020-11-18 14:08] xxEoD2242 commented on #2955
@AOS55 That makes sense. I think the appropriate solution would be to implement JBSim natively in the build process with AirSim and have the selection of JBSim for dynamics information. I work with Purdue University researchers a lot so I'll see if there would be interest from the faculty there in exploring how we would achieve this. Signal routing through the same FastPhysicsEngine routes would b

[2020-11-18 14:09] AOS55 commented on #2955
The documentation and tests leave a little to be desired at the moment but you might find my [FixedWing-AirSim](https://github.com/AOS55/Fixedwing-Airsim) repo useful, it just implements the pose forwarding with CV mode described above and then runs JSBSim for the flight physics.

The key classes are in [jsbsim_simulator.py](https://github.com/AOS55/Fixedwing-Airsim/blob/master/Python-Client/jsbsi

[2020-11-18 14:10] xxEoD2242 commented on #2955
Awesome. Thanks!

I think there is a desire to implement the physical drone as well and I have a teammate who is working on creating custom environments and scenarios. If we can figure out the blueprints and meshes correctly, we will try to implement that as well, which should help with the issue you are having in CV mode.

[2020-11-18 14:11] AOS55 commented on #2955
Great that would be really useful and its always useful to get others opinion on how to best implement this. Yes I'm not sure on the difference in efficiency JSBSim presents @seanmcleod may be able to help there.

Great also would be very helpful

[2020-11-18 14:59] seanmcleod commented on #2955
Yep, I see a feature request was raised for collision detection in CV-mode in Aug 2020 - https://github.com/Microsoft/AirSim/issues/1565

So for now you would need to make use of JSBSim's collision detection via it's ground callback mechanism etc.

I had originally suggested the JSBSim pose forwarding idea to Airsim in CV mode as a quick and fairly easy mechanism to implement. Linking JSBSim into

[2020-11-18 15:04] kensuke1921 commented on #3123
Thank you for advice.
I comment out the line you specified.
But, all items are no longer recorded. For example, car position, car speed.
I want to know how to record except for only imageFile.
Sorry.......

[2020-11-18 15:17] btwolfe commented on #3148
Well now, that was a painless fix. Allowed the Unity directory build to complete too. Thank you sir.

Oddly though, the UnityDemo/README.md file talks about opening the UnityDemo project to test the simulation. No such project exists. Fortunately, you can just add the contents of the Assets folder to any project to pull all these details in.

[2020-11-18 17:21] jonyMarino commented on #856
Solved by PR2516

[2020-11-18 17:21] #856 closed

[2020-11-18 18:43] ahmed-elsaharti commented on #3148
@btwolfe Glad that worked!

I haven't tested Airsim with Unity yet, but did you try following https://github.com/microsoft/AirSim/blob/master/docs/Unity.md#usage to run the UnityDemo project?

[2020-11-19 00:39] Xapavlov commented on #2415
Function **create_ros_pubs_from_settings_json()** (although named so) takes all the information not from json file, but from AirSimSettings singleton. Thus, you have to initialize AirSimSettingsParser class before using **create_ros_pubs_from_settings_json()**. This will run AirSimSettingsParser's constructor, parse settings.json and fill AirSimSettings.

In other words, what you are doing is ok,

[2020-11-19 05:52] tharindurmt commented on #3123
Can you paste the code you changed here?
Unfortunately, I won't have enough time to test this myself.

[2020-11-19 06:35] SunWenlu opened #3151 "Unexpected sensor type"
# Read This First

## If you are reporting a bug
* Make sure to write **all reproduction steps**
* Include full error message in text form
* Search issues for error message before filing issue
* Attach screenshot if applicable
* Include code to run if applicable

## If you have question
* Add clear and concise title
* Add OS, AirSim version, Python version, Unreal version if applicable
* Include c

[2020-11-19 07:59] SunWenlu opened #3152 "image"
# Read This First

## If you are reporting a bug
* Make sure to write **all reproduction steps**
* Include full error message in text form
* Search issues for error message before filing issue
* Attach screenshot if applicable
* Include code to run if applicable

## If you have question
* Add clear and concise title
* Add OS, AirSim version, Python version, Unreal version if applicable
* Include c

[2020-11-19 08:00] #3152 closed

[2020-11-19 12:31] eggbread opened #3153 "Multi-vehicles with QGC"
I want to use the AirSim for my swarm drone project.
![image](https://user-images.githubusercontent.com/38123162/99665616-39102400-2aad-11eb-8a97-27c8960bada5.png)
Can I connect multi drones with QGC like above picture? I already know I can connect one drone and QGC.
My ultimate goal is QGC + AirSim and run with Python Script.
Thank you for you help in advance!

[2020-11-19 13:52] btwolfe commented on #3148
I reread those instructions and realized that it wasn't suggesting to open the Unity project, just the directory. I didn't know Unity would create a project from the conents it found in a directory. So, cool, that works. Again, thanks for your help.

[2020-11-19 13:52] #3148 closed

[2020-11-19 14:26] PrinceUmbrella opened #3154 "Object Segmentation not showing any colors"
OS Name: Microsoft Windows 10 Pro
System Model: XPS 15 7590
Processor: Intel(R) Core(TM) i7-9750H CPU
AirSim Version:- 1.3.1
Unreal Engine Version:- 4.24.3

New to AirSim and I was using it to get depth and object segmentation of a given scene. Currently, I am having a problem getting the segmentation to work. It just shows a normal image with no segmentation even in an empty unreal project with o

[2020-11-19 15:09] #2588 closed

[2020-11-19 15:13] jonyMarino commented on #2575
#3147

[2020-11-19 15:13] #2575 closed

[2020-11-19 15:31] lberridge1992 commented on #3104
Bit more information on this that I've posted on the PX4 github page (https://github.com/PX4/PX4-Autopilot/issues/16234) as I believe it is caused by an issue in the firmware around polling (the destruction of a semaphore seems to stall the sensor module so it doesn't ever publish the topic within PX4). Whether that is triggered by Airsim I'm not sure but the fact that I only see it with the Unity

[2020-11-19 19:19] #1902 closed

[2020-11-19 19:38] zimmy87 commented on #1286
Doing this is beyond the scope of AirSim. Any collision detection would have to be implemented on the client-side or would require third-party tools like PX4 with QGC controller.

[2020-11-19 19:39] #1286 closed

[2020-11-19 20:11] zimmy87 commented on #3106
Yes this is the intended behavior of the API. See https://microsoft.github.io/AirSim/apis/#lookahead-and-adaptive_lookahead for the lookahead and adaptive_lookahead parameters. These will need to be adjusted to see the desired behavior, but there is a minimum value for lookahead of 0.5 meters. See https://github.com/microsoft/AirSim/blob/e1de671eb12ba6d0f7483175fcf70ba8b176ef40/AirLib/src/vehicles

[2020-11-19 22:25] ahmed-elsaharti commented on #3153
Hi @eggbread , have a look at #1599 and #2084

[2020-11-20 11:40] vbalnt opened #3157 "DepthPerspective Image Is Not Correct"
Hi,

Running the [cv_mode ](https://github.com/microsoft/AirSim/blob/master/PythonClient/computer_vision/cv_mode.py)example provided, everything works out great except the DepthPerspective image. It seems that only a small part of the image is correct, and then everything is clipped to 1 as maximum value.

Screenshots attached below

![image](https://user-images.githubusercontent.com/3127970/99796

[2020-11-20 15:21] guicha-t opened #3159 "LNK 2019/1120 when using an old version of Airsim"
Hello,

I am currently working on an Unreal Engine project using Airsim functionality. Until today I was working with a recent version of Airsim and all were working fine.
I then want to use the Airsim plugin from another project, modified to meet certain needs, but when I move it, clean and regenerate the files, I have the following errors while building the project in VS2019:

[code]

Can you te

[2020-11-20 15:22] jonyMarino commented on #2477
Yesterday, a PR was merged ( #3156 ) to solve the communication error with the latest PX4 version. Good luck!

[2020-11-20 15:34] pgavigan opened #3160 "Possible Magnetometer Declination Offset Error"
I've notice a possible issue with respect to the magnetometer in the precompiled neighbourhood environment (details below).

I've been using the magnetometer to calculate a compass angle and comparing that compass angle to the relative bearing between two coordinate locations on the map. Here is a Python (version 3.8 but also demonstrated on Python 2.7 with ROS Melodic) code snippet for my experim

[2020-11-20 15:52] jonyMarino commented on #3050
This PR #3146 fixed this issue!

[2020-11-20 15:52] #3050 closed

[2020-11-20 16:22] Jaeyoung-Lim commented on #2477
@jonyMarino In the PR it seems that it was tested against HITL. Is it also functional for SITL?

If this is functional, would it be possible to do a release for Linux?

[2020-11-20 19:10] kensuke1921 commented on #3123
Thank you for reply.
I comment out the line you specified.
I only did it.
I can't understand how to change the other code.
Sorry..
![スクリーンショット (43)](https://user-images.githubusercontent.com/73044629/99840213-7a88f800-2baf-11eb-805a-ad7087c3bc15.png)
![スクリーンショット (44)](https://user-images.githubusercontent.com/73044629/99840219-7ceb5200-2baf-11eb-86e0-609f576fbea0.png)

[2020-11-20 19:51] BrellenZhou opened #3161 "point_cloud.py does not work"
Hi,

I found that [point_cloud.py](https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/point_cloud.py) does not work as it is shown [here](https://github.com/microsoft/AirSim/wiki/Point-Clouds). I ran it without any modification. But it gave me the result far away from the wiki gives. Could you please check it out? Thanks.

[2020-11-20 21:20] jonyMarino commented on #2477
Yes. It was the first intention of that PR. But ended solving the SITL issue too.
We have to decide about another thing before releasing a new release. We will announce.

[2020-11-20 21:47] ale99viv commented on #2907
Did you found a solution for using lidar sensor in computer vision mode? I have the same problem

[2020-11-20 21:51] ale99viv opened #3162 "Lidar in Computer Vision mode"
I guys I have a question: it's possibile to use lidar sensor in computer vision mode? I did't found any documentation about this.

[2020-11-21 10:19] ykeuter commented on #3126
I changed this execution order in PR #3128 .

Without these changes, on the first call to `FixedUpdate` the drones are positioned at the origin (since `poseFromAirLib` is not set yet), causing a collision. AirSim then processes this collision, but at the actual position of the drones, causing the drones to tumble down.

Something similar happens in single drone mode. In this case the "fake" collis

[2020-11-21 11:36] Agm2104 commented on #3137
Hey @ahmed-elsaharti, sorry for late answer! Yeah, apparently the error came from a compatibility issue, which was resolved in #3130. Everything seems to run properly now.

Thank you very much for the help!

[2020-11-21 11:37] #3137 closed

[2020-11-21 16:50] kensuke1921 opened #3164 "I want to increase the speed of the car."
The maximum speed of my car is only about 60 km / h.
I want to drive the car faster.
I think I have to change the program of AirSim but I can't understand how to change.
Please help me....

[2020-11-22 11:24] jike5 opened #3165 "how to increase the speed of the multirotor"
the speed of the multirotor in the airsim seems like only 30m/s,
Is there any way to change the maximum of the speed? I have try to modify the max thrust, but it doesn't work.
Thanks a lot!

[2020-11-22 15:37] EdwinMeriaux opened #3166 "change camera angle"
Hello!

in the standard drone used in Airsim. Is it possible to change the direction the camera is facing?
For example could they be put on the right hand side of the drone facing out or even the bottom of the drone facing down?

If there is a manual way to pick the location and direction of the camera, is this how a camera would be added to a custom drone?

[2020-11-23 00:46] thejeshk commented on #2800
Hi @gulbulut

Does your Ros2 node work with the latest AirSim version?

BEst Regards,
TK

[2020-11-23 00:46] GimpelZhang commented on #3166
Hi,

you can change the direction of camera by editing the setting file. Here is a link to the doc: [Settings](https://microsoft.github.io/AirSim/settings/)

[2020-11-23 00:57] tharindurmt commented on #3123
Sorry, missed the email notification.
Did it throw any errors? Any log messages?

[2020-11-23 08:06] lberridge1992 commented on #3087
Had a dig around and answered my question: Airsim supports both lockstep and normal simulator modes, closing issue.

[2020-11-23 08:06] #3087 closed

[2020-11-23 10:07] slucasm commented on #3166
Yes @EdwinMeriaux, you have to edit the configuration of "Gimbal" on settings.json.

For facing down the camera:

`"Gimbal": {
        "Stabilization": 1,
        "Pitch": -90, "Roll": 0, "Yaw": 0
      }`

This works for me!

[2020-11-23 10:35] chickenbestlover commented on #3154
I have exactly the same issue. Did you find any solutions?

[2020-11-23 11:00] chickenbestlover commented on #3154
Hi, I think I found a solution. It seems that a recent commit caused a bug. Using an old commit, for example 40d5efb372689bfc78a272cd41db84656ef17690, the bug disappears.

[2020-11-23 11:02] PrinceUmbrella commented on #3154
Nothing seems to work but I will try your solution

[2020-11-23 11:07] chickenbestlover commented on #3154
Note that you should replace your old Plugins folder with the newly compiled Plugins folder in your custom UE projects.

[2020-11-23 11:37] kensuke1921 commented on #3123
It didn't throw any errors and log message is nothing.

[2020-11-23 12:17] PrinceUmbrella commented on #3154
Do I have to run `build.py` again? or do I have to change the one I have In my custom project? @chickenbestlover

[2020-11-23 12:32] chickenbestlover commented on #3154
I did `./clean_rebuild.sh` in Airsim root folder, than I copied the `Unreal/Plugins` folder into my custom project.

`clean_rebuild.sh` will remove any folder in Unreal/Environments, so make sure that your custom project location is out of that folder

[2020-11-23 13:26] PrinceUmbrella commented on #3154
@chiaramooney I run `clean_rebuild.sh` but nothing seem to have changed

[2020-11-23 14:42] #2910 closed

[2020-11-23 14:47] #2475 closed

[2020-11-23 14:50] #2374 closed

[2020-11-23 14:52] jonyMarino commented on #2317
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing an issue
*Attach a screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-11-23 14:52] #2317 closed

[2020-11-23 14:57] jonyMarino commented on #1475
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing an issue
*Attach a screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-11-23 14:57] #1475 closed

[2020-11-23 14:59] jonyMarino commented on #1149
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing an issue
*Attach a screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-11-23 14:59] #1149 closed

[2020-11-23 15:04] jonyMarino commented on #2018
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing an issue
*Attach a screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-11-23 15:04] #2018 closed

[2020-11-23 15:33] jonyMarino commented on #2155
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing an issue
*Attach a screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-11-23 15:33] #2155 closed

[2020-11-23 15:35] jonyMarino commented on #1942
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing an issue
*Attach a screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-11-23 15:35] #1942 closed

[2020-11-23 15:39] jonyMarino commented on #2621
Hi @rohitmohan7! Sure. All contributions in that way are welcome!

[2020-11-23 18:35] jonyMarino commented on #1389
To clarify this issue, that is a limit for the car, not the multirotor.

[2020-11-23 22:31] lovettchris commented on #2477
By the way there is an open SITL problem on Windows if you are using "WSL2" to run PX4.

- https://github.com/PX4/PX4-Autopilot/issues/16252

but WS1 will work, or you can edit the simulator.cpp yourself to take the ip address of the host machine to talk to.

[2020-11-24 00:13] chickenbestlover commented on #3154
No, I did not change any source code even though my UE version is 4.24.
Did you use the commit I mentioned, as follows?

`git checkout 40d5efb372689bfc78a272cd41db84656ef17690`
`./clean_rebuild.sh`

[2020-11-24 01:38] cbraver commented on #3154
This commit version works for me, thanks~

[2020-11-24 02:04] tharindurmt commented on #3123
I'll try this myself. But will need some time as I'm in the middle of developing another AirSim application.

[2020-11-24 02:28] EdwinMeriaux commented on #3166
Awesome! sweet!
Does this mean we could add multiple sets of cameras?
Or are we capped at 1 camera set per drone?

[2020-11-24 05:22] GimpelZhang commented on #3166
Yes we can add multiple cameras on one drone. Under "Cameras" section in the setting file, more than one camera can be added and the "X" "Y" "Z" "Pitch" "Roll" "Yaw" attributes control the camera pose.

Here is my example of two cameras on one car: [example](https://github.com/GimpelZhang/airsim_ros/blob/master/settings/settings.json)

[2020-11-24 12:08] rajat2004 commented on #3166
Might be useful - https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/high_res_camera.py

The main part of the PR which added this example got reverted, but example is still present

[2020-11-24 13:22] eggbread opened #3167 "PX4 + AirSim + QGC"
Hello,
I am trying to set up the AirSim with multi drones + PX4 sitl + QGC.
OS : Window
Tool :
Cygwin Toolchain for PX4(v1.10.1).
Visual Studio 2019
QGC(Latest)
AirSim(Latest)

I followed up the instruction [here ](https://microsoft.github.io/AirSim/px4_sitl/)
I think, After I done the
 `make px4_sitl_default nonoe_iris`,
It is supposed to be show the message. As shown below
![image](https://user-

[2020-11-24 14:24] jonyMarino commented on #3138
Hey @ICYPOLE! That would be very handy. Want to submit a PR for a new `moveByLocalVelocityAsync` and `setLocalVelocityControllerGainsLocal` with Ahmed's approach?

[2020-11-24 14:32] jonyMarino commented on #3142
Hey @AIKUUM! I like to see how much you are diving into the project. There is no OS running in the simple-flight drones, but you have a ROS wrapper if that is what you are looking for.
To what are you referring as the 'storage capacity of drones'? How many drones can you instantiate? Not sure now.

[2020-11-24 15:01] jonyMarino commented on #3144
Hi! They are built at startup with the drone. You specify which of them you want in the sittings json. Read the docs, please.

[2020-11-24 15:08] jonyMarino commented on #3145
Hi! Take a look at Mavlink/Mavros. I never tried to communicate something custom from the drone up to now.

[2020-11-24 18:27] ahmed-elsaharti commented on #3167
Hi @eggbread, from the screenshot, it seems like you're executing `make px4_sitl_default none` rather than `make px4_sitl_default none_iris`. Although this did not make a difference when I tested it (since it tends to default to the iris model anyway), giving it a try won't harm.

Also, which version of the Cygwin Toolchain are you using?

[2020-11-24 22:03] PrinceUmbrella commented on #3154
@chickenbestlover Thank you very much the commit version works for me too

[2020-11-25 01:27] eggbread commented on #3167
Hello @ahmed-elsaharti,
Now,  I fixed it. I had downgrade Cygwin 0.9 to 0.8.Then v1.10.1 is work! Thank you!
From now, I have to connect multiple drones and QGC.
I am using this settings.
[code]
But the only one drone can be connected with QGC. I saw your suggestion #1599
In order to do this, What should I do?
I can't find any video or material about that.
`make px4_sitl_default none_iri` Is it ca

[2020-11-25 02:16] EdwinMeriaux opened #3168 "bring Airsim Unreal Project file from Windows to Linux"
Hi!

So I set up the basic Airsim Uproject mountains example Airsim for windows.
I then copied the folder with the Uproject into my Airsim that runs on Linux.

The first error I get is:

"This project was made with a different version of the Unreal Engine. Converting to this version will rebuild your code projects.

New features and improvements sometimes cause API changes, which may require you t

[2020-11-25 02:17] EdwinMeriaux commented on #3166
Awesome Thank you everyone!

[2020-11-25 02:17] #3166 closed

[2020-11-25 03:57] AIKUUM commented on #3142
Assume that a desktop has a storage capacity of 1 TB. Assume that a 32 GB pendrive has a storage capacity of 32 GB.
Though AirSim is a simulator, there must be some storage capacity of a drone right. Something like assume that a drone in AirSim simulator can store a maximum of 1000 images with a resolution of 1000*800. Thats what i mean by "storage capacity of drones.". Please help me with some mo

[2020-11-25 05:27] GimpelZhang commented on #3168
Hi,
I guess #3101 is a similar issue.

[2020-11-25 10:19] #3159 closed

[2020-11-25 13:46] jonyMarino commented on #3142
There is no simulated disk for drones in AirSim. What do you want to accomplish?

[2020-11-25 14:01] chickenbestlover commented on #3162
I need this feature too. Did you find any solutions?

[2020-11-25 14:05] ale99viv commented on #3162
No, nothing yet

Il giorno mer 25 nov 2020 alle ore 15:01 Jin-Man Park <
notifications@github.com> ha scritto:

[2020-11-25 14:05] xxEoD2242 commented on #3142
@AIKUUM  I think you misunderstand how AirSim and Unreal interact with each other. The virtual drone that is created in Unreal Engine is a component of the memory of the game thread of Unreal Engine. If you look through the code, you will see that each version of the drone is essentially a small block of memory in the expansive memory block that is Unreal Engine.

I think the confusion comes from

[2020-11-25 14:24] jonyMarino commented on #3149
Hi @SSZ1, and welcome! In airsim_rec.txt, you have information about the vehicle state when the image was taken.
And I can't see from simple sight if something is wrong in your JSON. can you compare with PythonClient\multirotor\high_res_camera.py?

[2020-11-25 14:35] jonyMarino commented on #3150
Hi @HAn-Sin, and welcome!
In this file are the related methods to your question, in particular the ones I have selected.
https://github.com/microsoft/AirSim/blob/659a7dbb93269fba8af31debf6f09f15c3fbc15c/AirLib/include/api/RpcLibClientBase.hpp#L51-L56

Good luck!

[2020-11-25 16:53] kensuke1921 commented on #3123
Thank you so much!

[2020-11-25 19:30] Yaseen787 commented on #3141
Hey @AOS55 , thank you for your response. Sounds like a respectful piece of work! How mature would you say the work is? The thing is I need to use something mostly functional for a machine learning project I'm working on, would you say your project would be enough for this? If there is something I can contribute to making the work useable what would it be? Do you know of any other ways of adding f

[2020-11-25 19:36] AOS55 commented on #3141
Hi, if its just FCS your interested in I would checkout [Gordon Rennie's](https://github.com/Gor-Ren/gym-jsbsim) Gym environment work you should be up and running quite fast with that its for an RL gym environment and can get visuals with flightgear if you like. What type of machine learning are you planning to use/what is the project?

[2020-11-25 19:38] AOS55 commented on #3141
Feel free to use [my python repo](https://github.com/AOS55/Fixedwing-Airsim) too if you like Gordon's doesn't use airsim but has more back tests and is better documented.

[2020-11-25 19:42] Yaseen787 commented on #3141
I'm working on a project for autolanding using computer vision techniques, so good visuals are important. The current option I think is most suitable is to use XPlane with Nasa's XPlaneConnect plugin. What do you think?

[2020-11-25 20:19] AOS55 commented on #3141
Cool sounds similar to my PhD. Cool XPlane could work well really depends what you want to get out of it. The flight dynamics model is ok it uses an elemental build up approach but no real flight or wind tunnel model data so its quite limited away from a non-linear flight regime but good for basic straight and level descending etc. Visuals are ok, Im not sure how XPlaneConnect works if you go down

[2020-11-25 21:24] ahmed-elsaharti commented on #3167
@eggbread sorry for the late reply.
Glad switching over to 0.8 fixed things. I think this will need to be included in the docs since they do mention that PX4 1.10.1 is recommended while it mainly works with Cgwin 0.8.

I tried to look into using multiple drones with SITL. The main issue I found was that `px4_sitl_default` runs one instance of the px4 firmware and I'm assuming we'd need 1 instance

[2020-11-26 00:51] EdwinMeriaux commented on #3168
THANKS!

[2020-11-26 00:51] #3168 closed

[2020-11-26 02:39] ahmed-elsaharti commented on #3159
@guicha-t I've had a similar error pop up when trying to change the code within AirLib and rebuilding the blocks environment. This ended up being fixed by cleaning the blocks project, rebuilding the Airlib project in the main airsim solution (it builds both Airlib and Mavlinkcom) using VS2019, Building the entire repo again using the build.cmd to apply changes and then using the update_from_git sc

[2020-11-26 03:15] PrinceUmbrella commented on #3154
@chickenbestlover are you having any problems with recording the given scene? I have my `settings.json` like this.
[code]
but it is recording in pfm format instead of png format.

[2020-11-26 03:36] nightduck commented on #3068
The camera is fixed relative to the drone, unless changed by simSetCameraOrienation(...). So if the drone yaws 15 degrees left, the camera viewport will also rotate 5 degrees. What you're seeing is likely do to minute lightning effects, but mostly the mechanics of camera lenses. Pixels become distorted apart the further they are from the center of your field of view. So a vertical line of pixels w

[2020-11-26 03:38] nightduck commented on #3070
Duplicate (sort of) of #2026

[2020-11-26 04:39] AIKUUM commented on #3142
@jonyMarino, is there a way to write a program which would consider virtual OS, virtual storage capacity and virtual RAM for a drone in AirSim? Can you send me a link for any such information if its available?

What I would like to accomplish as of now is, I want to communicate between 2 drones in a simulation environment of AirSim. Initially Drone 1 will capture a set of images. I want to transfe

[2020-11-26 04:40] AIKUUM commented on #3142
@xxEoD2242, Can you send me the example file, or the link for the same about which you are speaking?

[2020-11-26 18:00] hazevedosa opened #3170 "Vehicle not spawning at PlayerStart"
OS: Windows 10, AirSim version: 1.3.1, Unreal Version: 4.24

I followed the installation tutorial steps to get the Blocks environment running. However, when I hit "Play" in UE, the vehicle spawns at a completely different position. I can even control the car and hit the obstacles but I can't see them -- It looks like all the assets are there, but the map visualization is displaced.
![Presentation1

[2020-11-26 18:08] ahmed-elsaharti commented on #3170
Hi @hazevedosa, could you show us your settings.json file? It might shed some light on why this is happening

[2020-11-26 18:39] hazevedosa commented on #3170
I used the minimal settings...:

{
  "SettingsVersion": 1.2,
  "SimMode": "Car"
}

[2020-11-26 20:14] ahmed-elsaharti commented on #3170
@hazevedosa I've done some testing but was not able to replicate your results using the stock start position (i did move the start position up in the Z direction just to make sure it matches the screenshot you posted) and the minimal settings:
![Capture](https://user-images.githubusercontent.com/49626509/100388500-68b0b600-2ff0-11eb-94a4-554cc7b38db8.JPG)
![Capture2](https://user-images.githubuser

[2020-11-26 20:30] hazevedosa commented on #3170
I am using the latest repo, but I haven't changed the code.

I can see that when I hit play the PlayerStart Transform immediately changes to (0.0, 0.0, 0.0)... That does not happen when I use AirSim 1.2 in UE 4.18 (I also have those installed).

[2020-11-26 21:03] ahmed-elsaharti commented on #3170
@hazevedosa The transformation to 0,0,0 in the new repo is probably due to #3147. However, that should not change where the player spawns relative to the assets, It only changes the origin of the world to where the player is and re-grabs the player's new location relative to that new origin (which should be 0,0,0 since they're the same point now).

Have you tried redoing the entire process of clon

[2020-11-26 21:24] hazevedosa commented on #3170
Ok, @ahmed-elsaharti. I just re-cloned and rebuilt following these steps:

1. Cloned the repo with git clone https://github.com/Microsoft/AirSim.git
2. Got into AirSim folder and ran build.cmd from the command line.
3. Navigated to folder AirSim\Unreal\Environments\Blocks and ran update_from_git.bat.
4. Opened Blocks.sln in Visual Studio 2019 and built with build DebugGame_Editor / Win64 configura

[2020-11-26 21:59] hazevedosa commented on #3170
So... for now I am using an older version. I downloaded the binaries for 1.3.0 and they work just fine.

[2020-11-26 22:05] ahmed-elsaharti commented on #3170
I realized I was using UE4.25 while trying to replicate this which might make a difference. I'll install 4.24, reclone/rebuild and try to replicate the issue again.
@jonyMarino any ideas?

[2020-11-27 02:19] love-mj opened #3171 "How to brake UAV during high speed flight ？"
When I switch to hover mode, the brake will have inertia, and the UAV can't brake immediately. How to achieve this.

[2020-11-27 05:35] ahmed-elsaharti commented on #3171
@love-mj Not sure if I understand the question. But if you want the drone to just instantaneously stop on cue while flying at a high speed, I'm not sure if that's entirely doable just because of the way the simulated physics work (since realistically the drone can't not have inertia).
If that's what you're trying to do, you could always try spawning an object in UE4 right in front of the drone on

[2020-11-27 07:07] eggbread commented on #3167
@ahmed-elsaharti
I left the post in the px4 community.
https://discuss.px4.io/t/multiple-drone-in-the-airsim/19785

I tried like what you said.
So I can connect PX4 and AirSim with different port number.
But I get the other error :(
I think it is not the error from the AirSim.
But Could you check it?
Thank you!

[2020-11-27 07:26] love-mj commented on #3171
@ahmed-elsaharti  What I want to simulate is the hovering of Dajiang obstacle avoidance,I don't know how ？

[2020-11-27 08:05] chickenbestlover commented on #2033
I have tried @saihv's suggestion and found out that Airsim API does not create any segmentation label for transparent meshes.

[2020-11-27 10:34] ahmed-elsaharti commented on #3167
@eggbread I think I found a way to make this work.
1. Open QGroundControl
2. Open Cygwin and `cd` to PX4/Firmware
3. Run `./Tools/sitl_multiple_run.sh 2`
4. WAIT for QGroundControl to confirm that it made the connection and wait a couple of seconds (since we won't be able to see the debugger, this probably is our best bet at timing this right).
5. Launch UE4/Airsim
6. Wait for GPS lock
![image](ht

[2020-11-27 10:36] ahmed-elsaharti commented on #3167
Forgot to mention, I had to get rid of the entire
[code]
section for this to work

[2020-11-27 10:57] eggbread commented on #3167
@ahmed-elsaharti
I am so happy to hear that.
I tried it immediately. Actually, I already tried it before.
In my case, The Vehicle 2 couldn't detect the GPS. and The Vehicle 1 is super wonky.
![image](https://user-images.githubusercontent.com/38123162/100441625-2075be80-30ea-11eb-9ca6-62fb64a24df1.png)
And this time is also same.
What is the difference between us?
Here is my settings.json
and I did

[2020-11-27 11:07] ahmed-elsaharti commented on #3167
@eggbread here's my settings.json:
[code]
the only difference I see is `VehicleSysID`

make sure you wait a couple of seconds after QGroundControl confirms the connection before launching the UE4 environment

[2020-11-27 11:51] ahmed-elsaharti commented on #3167
Also,
if you want to be able to see the px4 messages for each of the instances,
open Cygwin -> cd to Firmware -> execute:
`./build/px4_sitl_default/bin/px4 -i 0 /cygdrive/c/PX4/home/PX4/Firmware/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -t /cygdrive/c/PX4/home/PX4/Firmware/test_data`

then open another Cygwin terminal -> cd to Firmware -> execute:
`./build/px4_sitl_default/bin/px4 -i 1 /cygdrive

[2020-11-27 11:56] eggbread commented on #3167
@ahmed-elsaharti
I want to ask one. Can you run this with stable?
Sometime, My QGC can detect both of GPS. But mostly not.
Even if it can detect, it shows like. I cannot control the Vehicle 2
![image](https://user-images.githubusercontent.com/38123162/100446761-b281c500-30f2-11eb-9ab2-a8fa6c6fb589.png)

Here is my sequence.
1. Open QGC
2. `./sitl_multiple_run.sh 2`
3. wait a couple of seconds.
4.

[2020-11-27 12:06] ahmed-elsaharti commented on #3167
@eggbread did you change the settings.json file? I get the same errors but I'm able to upload and execute a mission before the errors cause disturbance in the behavior of the drone.

Try running the `./sitl_multiple_run.sh 2` command in the blocks environment to see if it makes any difference.

[2020-11-27 12:13] Han-Sin opened #3172 "Ubuntu how to get the size and shape of the drone?"
I want to know the size and shape of the drone in airsim. And I use "SimpleFlight" in my settings.json.
But I don not find anything about the size in settings.json. So please help me where to find the size of the drone and how to modify it? I really need it, please...

[2020-11-27 12:29] eggbread commented on #3167
@ahmed-elsaharti
I just tried it.
Unfortunately.. It acts exactly same.
![image](https://user-images.githubusercontent.com/38123162/100449490-5c635080-30f7-11eb-9436-f7b698bac54d.png)
I think I set up the all options like you.. It is weird.
Unreal Engine : v4.25.4
px4 : v1.10.1
Cygwin : v0.8
QGC : v4.0.11
Visual Studio : 2019
This is my settings. I copied your settings.
[code]

[2020-11-27 19:40] ahmed-elsaharti commented on #3167
I'm not sure why its not obtaining GPS lock in your case. Try giving it more time?

[2020-11-27 23:34] EdwinMeriaux commented on #3044
@rajat2004
So when designing our own custom drone is there anything to modify in the FastPhysicsEngine?

[2020-11-28 03:44] lsq210 commented on #3139
You can refer to the solution in [#1080](https://github.com/microsoft/AirSim/issues/1080)

[2020-11-28 09:32] Alexzzdfjcn commented on #3136
that's very helpful! thanks!!

[2020-11-28 09:33] Alexzzdfjcn commented on #3136
it's very helpful!! thank you!

[2020-11-28 12:06] eggbread commented on #3167
Could you give me version what you use?

[2020-11-28 13:01] eggbread commented on #3167
![image](https://user-images.githubusercontent.com/38123162/100516156-3efcb800-31c5-11eb-8759-dc59a41c1f1f.png)
OMG..
I did exactly same thing on the ubuntu, it was work!!

[2020-11-28 18:19] ahmed-elsaharti commented on #3167
@eggbread sorry for replying late.
The versions I'm using are:
Unreal Engine: 4.24.3
PX4: 1.10.1
Cygwin: 0.8
QGC: 4.0.11
Visual Studio: 2019

Also, glad it worked on Ubuntu. If you want to do more testing with the Windows version, could you try to reclone the PX4 repo into a new folder and try rebuilding to see if it makes any difference if you start from the beginning?

[2020-11-28 18:20] ahmed-elsaharti commented on #3171
@love-mj I'm not sure I understand what you're trying to do exactly

[2020-11-28 19:11] ahmed-elsaharti commented on #3164
Hi @kensuke1921 , do you mean 60m/s? thats ~214km/h
![image](https://user-images.githubusercontent.com/49626509/100524126-1ea80b80-317b-11eb-8b84-24edce128fef.png)

[2020-11-28 19:12] ahmed-elsaharti commented on #3170
I repeated the test with UE4.24 and was still not able to replicate the problem.

[2020-11-28 19:19] ahmed-elsaharti commented on #3172
@Han-Sin , AFAIK, the dimensions and parameters of the multirotor could be changed within the physics engine using the files in https://github.com/microsoft/AirSim/tree/master/AirLib/include/vehicles/multirotor

For example, the arm length of a generic quad could be set in https://github.com/microsoft/AirSim/blob/659a7dbb93269fba8af31debf6f09f15c3fbc15c/AirLib/include/vehicles/multirotor/MultiRoto

[2020-11-29 03:19] eggbread commented on #3167
@ahmed-elsaharti
I found the reason. It was caused by Unreal Engine version.
![image](https://user-images.githubusercontent.com/38123162/100530999-4a3efa80-323c-11eb-8f44-0716de7d63b4.png)
In the document, It says Unreal Engine version has to be above 4.24.
So I installed 4.25. It didn't work for multiple drones.
I think our conversation helps to someone who has same issue.
And In the PX4 [documen

[2020-11-29 03:57] ahmed-elsaharti commented on #3167
@eggbread Good find!
I just did some testing with 4.25 and I'm getting results much better than those I got with 4.24 (basically the errors are gone and the behavior is still a hit-or-miss but is much more stable).
![image](https://user-images.githubusercontent.com/49626509/100532946-728b1280-31c4-11eb-9cc3-4d970c2bb9a8.png)
So it looks like the version of UE4 is contributing somewhat to this.

Al

[2020-11-29 23:52] EdwinMeriaux opened #3173 "subt envi for windows and linux"
hi!

So I was trying to use the windows subt envi and I was able to launch it.
https://github.com/microsoft/AirSim/releases/tag/v.1.2.2
But I am confused. Is there no .sln file for this?
Is there any reason why most of the files that came with the standard blocks example come with the subt envi? For example no plugin folder etc...

So for the linux version similar question.

I got it to launch.
I

[2020-11-30 00:43] Yaseen787 commented on #3141
Hey, sorry for the late reply, was a bit busy lately. This is for a research project for my master's program, but not the thesis itself, sort of a preparation for the thesis, so I just call it mini-thesis for short. Anyway, I think I'll go for XPlane. AirSim seems to be pro and used more for academics, but I just feel it's too much for me at this point. Just running the default blocks map took all

[2020-11-30 09:24] love-mj commented on #3171
@ahmed-elsaharti What you understand is right. But I have tried many methods, I don't know what function to achieve, how to solve it ？
![Blocks - Unreal Editor 2020_11_30 17_02_22](https://user-images.githubusercontent.com/37679671/100591343-923f4980-3330-11eb-8d41-2111ca39b35f.png)

[2020-11-30 13:11] dion26 opened #3174 "getLidarData Error on Unity"
Hallo,

I have an issue with getLidarData function. I didn't change my code and just installed CUDA, also tensorflow and keras as mentioned in the title.
It suddenly thrown an error

[code]
I am not sure why. As I said it did work before and the other function is also still working (getCarState, etc), so it is not a connection problem. Could it be because I just installed CUDA and it updated the N

[2020-11-30 14:23] jonyMarino commented on #3170
Hi @hazevedosa! And welcome! When you reported that you were using airsim 1.3.1, you were really using that release or just the latest commit?

[2020-11-30 14:38] hazevedosa commented on #3170
Probably the last commit, as I cloned the repo.

Sent from my iPhone

[2020-11-30 16:00] AOS55 commented on #2955
Hey a couple of questions for the airsim maintainers and perhaps JSBSim too. I have been looking at integrating JSBSim into AirSim  over the past week, using the car and multirotor pawns as a base. Im not sure how best to structure the code to get it to work with airsim.

As @seanmcleod stated above jsbsim has a collision model built in for a STRUCTURE and BOGEY (undercarriage) element. There is a

[2020-11-30 16:10] jonyMarino commented on #3151
Closed due to incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing an issue
*Attach a screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-11-30 16:10] #3151 closed

[2020-11-30 16:22] jonyMarino commented on #3006
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing an issue
*Attach a screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-11-30 16:22] #3006 closed

[2020-11-30 16:23] jonyMarino commented on #2979
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing an issue
*Attach a screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-11-30 16:23] #2979 closed

[2020-11-30 17:07] jonyMarino commented on #3165
Hi @jike5! And welcome! Please post in this issue: https://github.com/microsoft/AirSim/issues/2363

[2020-11-30 17:07] #3165 closed

[2020-11-30 17:09] jonyMarino commented on #2109
Closed due to incompleteness.
Please feel free to open a new issue if you still have this problem, and include the following (as requested when opening a bug issue)

*Make sure to write all reproduction steps
*Include full error message in text form
*Search issues for error message before filing an issue
*Attach a screenshot if applicable
*Include code to run if applicable

Thanks!

[2020-11-30 17:09] #2109 closed

[2020-12-01 09:21] AIKUUM commented on #3142
@xxEoD2242, Can you send me the example file, or the link for the same about which you are speaking?

[2020-12-01 09:22] AIKUUM commented on #3142
@jonyMarino, Can you give me a hint on how to proceed? Would appreciate it.

[2020-12-01 09:25] weigangwen opened #3175 "getCarControls api in Unity"
I want to use getCarControls api to collect steering information when driving a car in Unity by keyboards. But the steering angle always returns 0.
Is there any way  to get steering angle by api in Unity

environment：
Windows 10
Unity 2019.3.12
Airsim [1.3.1]

------------------------------------ (Remove above before filing the issue) ------------------------------------

[2020-12-01 10:00] lknnnli opened #3176 "rpc::timeout problem"
Hello everyone:
I try to catch images from airsim drone with ros. but when i run client.simGetImages(request), always there would be rpc::timeout:timeout while calling RPC function "simGetImages".

Is there anyone who faces the same problem with me?
Sincerely thank you for your help.

[2020-12-01 10:27] lknnnli commented on #665
same time out error here.

[2020-12-01 12:09] xxEoD2242 commented on #3142
I will need a bit of time to refactor the code slightly, as it is part of a wider project that I am working on. However, based off of what you were saying, I would recommend something like the following:

[code]

I would recommend something similar to this. Then, during execution, store the images in the memory array. You can also get expected size by doing `sys.getsizeof(image)` after capturing t

[2020-12-01 14:43] jonyMarino commented on #3170
And what happens if you change the player start position? Does it still spawn at the same place?

[2020-12-01 15:27] lknnnli commented on #665
hi，have you solved this issue now? this issue occurs to me recently

[2020-12-01 15:28] lknnnli commented on #665
have you solved it? this also happens to me recently

[2020-12-01 15:38] lknnnli commented on #523
hi, have you solved this problem?

[2020-12-01 17:40] gonzaloaguilarjimenez commented on #665
I didn't solve it. Actually I do not know where it comes from, but I switched from my eGPU to the Intel graphics card (working in Ubuntu 18.04) and it works (slowly for RL) but works.

I guess it must be some issue between Nvidia drivers for Ubuntu and Unreal Engine, I do not think it comes from AirSim.

[2020-12-01 17:41] gonzaloaguilarjimenez commented on #665
The RL has already been working for 4 days and already done 160k iterations.

[2020-12-01 17:42] lucafei opened #3177 "the number of recorded depth image and scene image is not consistent"
hello, guys, i met a problem when i record the depth and scene images by using record button on simulation window. The problem is that i find the number of depth images is not consistent with the number of recorded scene images. I think that is due to the synchronize issue. And meanwhile if i set the attribute PixelsasFloat for depth image in setting.json as true, then the depth image will not be

[2020-12-01 18:11] hazevedosa commented on #3170
Visually, yes. However, when I change playerStart position, start running and move around, I can realize the car was indeed spawned elsewhere. Just because I can hit different obstacles.

Sent from my iPhone

[2020-12-01 19:32] AOS55 commented on #2955
Following up from my previous post, I have been working on the JSBSim addition today. Im still not 100% how information is supposed to be sent from the Pawn to the API. In particular I have 2 structs [JSBSimControls](https://github.com/AOS55/AirSim-1/blob/FixedWing-JSBSim/AirLib/include/vehicles/jsbsim/api/JSBSimApiBase.hpp#L22) and [JSBSimState](https://github.com/AOS55/AirSim-1/blob/FixedWing-JS

[2020-12-01 19:46] jonyMarino commented on #3138
Thanks, @ahmed-elsaharti, for your PR! Just for curiosity, what tool are you using to make your graphics?

[2020-12-01 19:58] ahmed-elsaharti commented on #3138
@jonyMarino I generally use [Microsoft Onenote](https://www.onenote.com/) along with my [graphics tablet ](https://www.huion.com/pen_tablet/Huion/NEW_1060PLUS.html) 😃

[2020-12-01 22:26] jonyMarino commented on #3059
@lucafei, can we close this?

[2020-12-01 22:33] jonyMarino commented on #2842
Hi @aaronalmeida,
Why do you want to do that?

[2020-12-01 22:36] lucafei commented on #3157
hi, @vbalnt do you find the solution for this？

[2020-12-01 23:30] lucafei commented on #1785
hi, @MahirGulzar i have a question for the codes. why you need to make a flip operation on the depth?

[2020-12-02 01:37] lucafei opened #3178 "problem at recording depth image as pfm file"
hi, guys, i find when i save the depth information as pfm file by using record button on simulation window, some of files are png format, which have converted the depth info into 0-255 and cause losing some depth information. I want to ask, why it happens? do you have met this problem and found a solution? thank you in advance.

[2020-12-02 03:24] lknnnli commented on #665
Hi, thank you for your warm reply, today what i did is i re-clone airsim from official github again and rebuilt, then it works. for me the issue is I think some old package is not compatible with the system.

[2020-12-02 03:27] Han-Sin commented on #3172
Thank you very much, but I still can't find where to change the drone's appearance in UE4.
Could you help me more? I really need it. Thank you.

[2020-12-02 03:39] AIKUUM commented on #3142
Thank you

[2020-12-02 05:02] Han-Sin commented on #3172
very strange.When I changed the scale of the drone in ue4, the blades did not turn. I don't know the reason.

[2020-12-02 12:47] rajat2004 commented on #3177
Could you post the exact settings.json used, that's very useful to reproduce the problem

[2020-12-02 12:50] rajat2004 commented on #3178
Again, the exact settings are useful to reproduce the issue
Nothing jumps to mind as to what could be causing some images to be stored as png and some as pfm

[2020-12-02 12:53] rajat2004 commented on #3175
This is a preexisting bug in the Unity I think, and seems to be related to https://github.com/microsoft/AirSim/pull/2937, at least based on my older description

[2020-12-02 12:59] rajat2004 commented on #3174
Are you sure that the Lidar existed in the settings.json? Could you post the settings.json if possible
Might be worth trying out the latest version of Unity as well, that might work with the latest Cuda versions if that's really the cause of the problem

[2020-12-02 17:34] #3138 closed

[2020-12-02 20:02] lucafei commented on #3177
here is my setting.json:

{
  "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
  "SettingsVersion": 1.2,
  "SimMode": "Multirotor",
  "ViewMode": "",
  "Recording": {
    "RecordOnMove": false,
    "RecordInterval": 0.2,
    "Cameras": [
      {
        "CameraName": "0",
        "ImageType": 0,
        "PixelsAsFloat": false,
        "Compress": true
      },

[2020-12-03 09:37] liang-tang opened #3179 "ArduRoverApi.hpp can not be compiled"
I want to send brake control to AirSim while ardupilot rover simulating.
and i modified ArduRoverApi.hpp to receive brake message, but seems never received. so made the test below
1.execute clean.cmd to clean first compile.
2.delete ArduRoverApi.hpp.
3.run build.cmd to compile airsim
but the compile sitll can be finished.
someone can tell me how to compile it? thanks

[2020-12-03 11:58] AOS55 opened #3181 "Linking external dependency to AirSim"
Hey all, I was hoping to get some advice on linking another project to be used AirSim. Related to #2955 I am looking to use [JSBSim](https://github.com/JSBSim-Team/jsbsim) a flight dynamic model with AirSim to simulate fixedwing aircraft. I am not sure what the recommended way is to link an external dependency.

In visual studio I can see that in the Unreal solution the Game Blocks project has a d

[2020-12-03 15:44] ashraf-badr commented on #3062
@ysteen @Moj-Dev

I have the exact crash as you guys . Can you write how you solve it please ?

@rajat2004
Sorry, I tried it but it does not work for me , I still get the same crash .

When I run a ROS node for Publishing the image and another one to Show it . After a few seconds or minutes unreal crashes .
I am expert so maybe i did not do all the changes that I have to do from  #3064 . so It wil

[2020-12-03 19:59] #3096 closed

[2020-12-04 05:45] dongya-bit commented on #2257
I have the same problem. Have you solved your problem

[2020-12-04 07:56] rajat2004 commented on #3179
The unmodified file compiles and after making the changes, it's compiling, is that so?
You'll have to post atleast the error messages and mostly the modified code also (in a branch) for someone to help you in figuring out the problems

[2020-12-04 18:48] alik-git opened #3182 "Is there an autopilot we can use for flying the drone?"
Hi there, I'm working on an ML project and I'm trying to make a deep learning model learn how to navigate a quadrotor though the square obstacles in the Final Tier 2 Level in Airsim. At the moment we wrote a manual hacky controller for it in python that maps keyboard presses to yaw changes and eventually calls the moveByVelocityAsync function, but we'd like to use a PID controller to get it to fol

[2020-12-04 23:52] tom-dv opened #3183 "AirSim upgrading project to Unreal 4.26.0 error"
Windows 10, AirSim v1.3.1, Unreal 4.26.0

Testing Blocks project with AirSim plugin in Unreal 4.26.0, build fails in VS2019 with the following errors.

[code]

The Blocks project with AirSim plugin work fine in Unreal 4.25.4.

[2020-12-05 02:15] EdwinMeriaux opened #3184 "takeoffheight modification"
So  def takeoffAsync(self, timeout_sec = 20, vehicle_name = ''):

makes the drone take off 3 meter above the starting point.
Can I modify this to 1m or .5 meters?

[2020-12-05 03:54] AIKUUM commented on #3145
Hi @jonyMarino, can Mavlink/Mavros be used in AirSim simulator??

[2020-12-05 04:21] liang-tang commented on #3179
As you can see, some file already been deleted, but when ran build.cmd no error occur.
Why i did this test, I want to modify the Api of ArduRover.
![image](https://user-images.githubusercontent.com/16251761/101233439-dbf2b000-36f3-11eb-9ace-cefc8866414c.png)

[2020-12-05 05:55] liang-tang commented on #3179
OK, now i know the whole development workflow, build.bat will copy some files(i.e ArduRoverApi.hpp) to Plugins AirSim folder, and compile it when compile Blocks project.
Also thanks for your reply. @rajat2004

[2020-12-05 05:55] #3179 closed

[2020-12-05 07:02] kelvin-ab opened #3185 "Raw depth information"
Is it possible to extract true raw depth information in meters from the depth view?

[2020-12-05 09:51] ahmed-elsaharti commented on #3184
Hi @EdwinMeriaux , i think the takeoff height can be changed [here](https://github.com/microsoft/AirSim/blob/f6553d4d609b774ee8584dc91e6a22185824cf42/AirLib/include/vehicles/multirotor/firmwares/simple_flight/firmware/Params.hpp#L115) and/or [here](https://github.com/microsoft/AirSim/blob/f6553d4d609b774ee8584dc91e6a22185824cf42/AirLib/include/vehicles/multirotor/firmwares/mavlink/MavLinkMultiroto

[2020-12-05 11:06] lucafei commented on #3059
yes, i closed this issue

[2020-12-05 11:06] #3059 closed

[2020-12-05 12:15] liang-tang opened #3186 "Rover Control issue"
I'm trying to send brake control to rover in Ardurover simulation, but strange for me is even if the brake is very small, the car still there, and the RPM is always below 1450. I tested a few number like 0.00001, -0.00001,  the car never move.

![image](https://user-images.githubusercontent.com/16251761/101242686-e6ce3480-3735-11eb-8769-169129110e29.png)

[2020-12-06 01:39] EdwinMeriaux commented on #3184
Hi! thanks for the answer. So I want to change the takeoff height to .2 meters so I modified both values to -0.2. But that does not seem to change anything...

[2020-12-06 02:46] liang-tang commented on #3186
@rajat2004 Would you have a look at this issue?

[2020-12-06 04:28] Deepakgthomas opened #3187 "Does there exist a way to circumvent GPS lock"
Airsim doesn't allow my vehicle to arm indoors because of the GPS lock issue. However, I would be totally fine without the GPS. Could someone suggest a way to stop Airsim from looking for GPS lock before arming?

[2020-12-06 05:35] rajat2004 commented on #3184
@EdwinMeriaux Have you tried using the [`moveToZAsync`](https://github.com/microsoft/AirSim/blob/master/PythonClient/airsim/client.py#L887) API?
Modification of the values not causing any changes seems strange, assuming it's using the updated values and not earlier files, maybe the height is too low for the speed?  The speed seems to be hardcoded to [0.5 m/s](https://github.com/microsoft/AirSim/bl

[2020-12-06 05:36] ahmed-elsaharti commented on #3184
@EdwinMeriaux what flightcontroller mode are you using? is it Simpleflight?
If it is, after you modify [this line](https://github.com/microsoft/AirSim/blob/f6553d4d609b774ee8584dc91e6a22185824cf42/AirLib/include/vehicles/multirotor/firmwares/simple_flight/firmware/Params.hpp#L115) you'll need to rebuild the project using build.cmd for changes to take effect.

If you're using the blocks environment

[2020-12-06 08:46] #3175 closed

[2020-12-06 10:54] AngelTang190 opened #3188 "Collect points from getLidarData() in AirSim"
May I know how can we know the coordinates scanned by getLidarData() in AirSim? I tried running drone_lidar.py and it only returns the number of points detected. Thank you!

[2020-12-06 16:34] Villotadavid opened #3189 "MovetopositionAsync not working with drivetrain set to ForwardOnly"
Hello!
I am implementing an algorithm that creates random trajectories to use reinforced learning techniques afterwards.
To ensure that the drone goes forward I was intended to use the "_ForwardOnly_" drivetrain type.

However, when I run the code, the drone remains steady. To check if the process has finished I print the "_set_flag"  variable of
 "_client.moveToPositionAsync_" (Future object) and

[2020-12-06 19:23] ahmed-elsaharti commented on #3189
Hi @Villotadavid, try
`client.moveToPositionAsync(int(point[0]), int(point[1]), int(point[2]), 2, 3e+38,airsim.DrivetrainType.ForwardOnly, airsim.YawMode(False,0))`
Let us know if it works

[2020-12-06 19:56] EdwinMeriaux commented on #3184
Hello!

So I tried moveToZAsync and it did not work:
client.moveToZAsync(-1,-0.1).join()

The drone did no take off

So, I am using the default flight controller, is that simpleflight?
I am not using the blocks environment but the Subt environment and from Linux. How do I rebuild?
https://github.com/microsoft/AirSim/releases/tag/v1.2.0Linux

[2020-12-06 20:01] ahmed-elsaharti commented on #3184
@EdwinMeriaux I did some testing and it seems like 0.1-0.2 meters is a bit too small of a value as @rajat2004 mentioned.

Also, AFAIK these are compiled environments so you cant rebuild/change them. If you want to test code changes easily I suggest that you have a look at https://microsoft.github.io/AirSim/unreal_blocks/

[2020-12-06 20:06] EdwinMeriaux commented on #3184
Ok Sweet!

Thank you so much!

I will test in the blocks environment.
But for a general note. Those prebuilt environments, is there a way to get the Unreal Project so they can be eventually rebuilt and changed? I would like to work using a subterranean world and that Subt is perfect!

[2020-12-06 20:20] ahmed-elsaharti commented on #3184
Glad to be of help ^_^

Also, I don't think the Unreal Project would be retrievable from those environments. Especially since some of them are not even free (like the [neighborhood project](https://www.unrealengine.com/marketplace/en-US/product/modular-neighborhood-pack) for example). I could be wrong though.

You could look around in the Unreal marketplace to see if you can grab something that su

[2020-12-06 21:02] EdwinMeriaux commented on #3184
Awesome!
Thank you so much!

[2020-12-06 21:02] #3184 closed

[2020-12-07 00:51] EdwinMeriaux opened #3190 "Where to put new Blueprint"
Hi!

So for the past few weeks have been trying to import a custom drone into airsim.
I built the uasset file. But I think I am storing it in the wrong place.
in: https://github.com/Microsoft/AirSim/issues/838

it says to specify the drone here:
 "DefaultQuadrotor": {"PawnBP":"/AirSim/Blueprints/BP_FlyingPawn"}
in the Json file. Where is this? I am trying to find it.
So I found many BP_FlyingPawn

[2020-12-07 06:45] ahmed-elsaharti commented on #3190
Hi @EdwinMeriaux, I haven't done as much testing with this as I'd like to be able to give useful advice, but I would suggest placing the uasset file under /home/useraccount/AirSim/Unreal/Environments/Blocks 4.24/Content/TestFolder so that you'd be able to view it from the unreal editor:
![image](https://user-images.githubusercontent.com/49626509/101318024-3f302f80-3825-11eb-8c32-c533df6e6c19.png)

[2020-12-07 08:31] Villotadavid commented on #3189
Hello @ahmed-elsaharti
Thanks for your prompt reply!
It works perfectly.
I close the issue.
Thank you very much!

[2020-12-07 08:31] #3189 closed

[2020-12-07 11:13] xzh1049090448 opened #3191 "Vehicle does not have a valid GPS home location."
msgpackrpc.error.RPCError: rpclib: function 'armDisarm' (called with 2 arg(s)) threw an exception. The exception contained this information: Vehicle does not have a valid GPS home location.

[2020-12-07 14:54] lucafei opened #3192 "unexpected behavior on Multirotor “moveonpath”"
hi, guys, i'm recently using the api moveonpath to execute a customized path, but i met a unexpected behavior on this function. i have put corresponding codes as following:

   """move to the predefined position as startpoint"""
    client.moveToPositionAsync(1000, -10, -60, 10).join()
     # move to the end position
    airsim.wait_key('Press any key to land')
    client.moveOnPathAsync([airsim.V

[2020-12-07 15:44] ahmed-elsaharti commented on #3192
Hi @lucafei,
The distance between (1000,-10,-60) and (100, -10, -30) is 900.5 meters. At 5m/s (the speed in your command) it would take 180 seconds to complete the first motion. You have the command timeout set to 120 seconds which is why the command stops 2/3 the way through the first motion. Try increasing the timeout.

[2020-12-07 15:52] ahmed-elsaharti commented on #3191
This is probably similar to #3130.

[2020-12-07 16:17] EdwinMeriaux commented on #3190
Hi! yes any help is greatly appreciated at this point.
So would you need to put the whole folder of the uasset and not just the .uasset file?

[2020-12-07 16:28] lucafei commented on #3192
aha, @ahmed-elsaharti  thank you for your advice. i will try it.

[2020-12-07 16:36] ahmed-elsaharti commented on #3190
Not necessarily (as far as i understand). Im just suggesting that you place it in a folder so that its viewable in your unreal editor so you could go in and change the parent class and all

[2020-12-07 16:41] lucafei commented on #3192
it works :) i will close this issue

[2020-12-07 16:41] #3192 closed

[2020-12-07 16:46] kareemkher opened #3193 "Questions on Lidar"
Hello! I had a few questions regarding LIDAR:

1.  Are the supported lidar's on quadcopter 2D only? As in, can they measure distance in one plane only, or give data like a depth camera?
2. setting "DrawDebugPoints" to true makes the points visible, but they dont go away once the quadcopter moves... can it be possible to only include the live Debug Points, and erase the rest?

[2020-12-07 19:20] EdwinMeriaux commented on #3190
Ok that makes sense.
One of the major parts that confuses me is how do we change the parent class?
What do we change it to?

[2020-12-07 19:36] jairotunior commented on #3183
I have the same problem!!!

[2020-12-07 19:53] ahmed-elsaharti commented on #3190
@EdwinMeriaux as [the guide](https://github.com/Microsoft/AirSim/blob/v1.1.10/docs/settings.md#pawnpaths) suggests, double click on the asset:
![image](https://user-images.githubusercontent.com/49626509/101398102-3413e880-3893-11eb-85f3-f3f35c3245f8.png)
Then click on "Class Settings" in the menu bar of the new window that opens:
![image](https://user-images.githubusercontent.com/49626509/10139818

[2020-12-08 02:43] xzh1049090448 commented on #3191
ok， thank you

[2020-12-08 02:43] #3191 closed

[2020-12-08 06:27] wangwwno1 opened #3195 "Argument --settings is ineffective for v1.3.1-release-linux Blocks environment"
OS: Ubuntu 18.04
AirSim: v1.3.1-linux(release)
Python: 3.8.4
Unreal Engine: 4.24.3

[This doc](https://microsoft.github.io/AirSim/settings/) said I can specify customized `settings.json` through argument `--settings` or `-s`. However, this argument seems ineffective for the Blocks environment downloaded from the same releases page.

[2020-12-08 07:28] ahmed-elsaharti commented on #3195
Hi @wangwwno1 , the feature was introduced in #2668 which was merged a couple of months after the 1.3.1 release. If you clone the latest repo and compile the binary through the included [Blocks development environment](https://microsoft.github.io/AirSim/unreal_blocks/) this would probably work.

[2020-12-08 07:35] wangwwno1 commented on #3195
Thanks! I'll give a try!

[2020-12-08 09:35] wangwwno1 commented on #3195
Get an error during package process, just like issue #2957:
`SegmentationMaterial.uasset was saved with a newer custom version than the current`
Removing `SegmentationMaterial.uasset` can partially resolve this issue.

Current Status:
`./Blocks.sh --settings '/home/$USER/path/to/settings.json'` is NOT work
`./Blocks.sh --settings /home/$USER/path/to/settings.json` is work (with quotation marks rem

[2020-12-08 14:18] jonyMarino commented on #3177
Hi @lucafei! Can you also provide AirSim and UE versions, please?

[2020-12-08 14:35] jonyMarino commented on #3173
Hi @EdwinMeriaux! That releases are not open source. They are generated from environments that are private. The idea is to use them as they are for simulation. You can still use the API to connect to the simulation.

To what do you refer with "How would I import a new drone?" ? Do you have another blueprint for the drone?

[2020-12-08 14:53] jonyMarino commented on #3145
Hi! Yes, sure. Look for Mavros + AirSim. MavLink is used internally to connect to PX4, so I recommend that you continue with MavROS for your use case (if you can). I would love to see you submit a PR on documentation related to Mavros. Do you think you could?

[2020-12-08 16:07] sjmarotta opened #3197 "Docker build fails with "ModuleNotFoundError: No module named 'skbuild'""
When building the AirSim docker image, it gets to the step where it calls `RUN pip3 install airsim` and it fails with the following:

[code]

[2020-12-08 16:32] EdwinMeriaux commented on #3190
Hi!

So to build a new drone would it probably be best to take this existing framework with a the current default drone and swap the Target? Because a new uasset would not have all these prebuilt no? (the default class for an imported asset from solidworks appears to be Level Script Actor.

[2020-12-08 16:39] ferrLucas opened #3198 "Compilation Error - Airsim Block.uproject - Ubuntu 20.04"
Hi, I am having issues when trying to run Blocks.uproject, after a fresh installation following the instructions:

git clone https://github.com/Microsoft/AirSim.git
cd AirSim
./setup.sh
./build.sh
./Engine/Binaries/Linux/UE4Editor
followed by browsing to AirSim/Unreal/Environments/Blocks, and choosing the convert-in-place option (with no extra dialogs until failure).

System details: Ubuntu 20.04

[2020-12-08 16:43] sjmarotta commented on #3197
I think I fixed it. The issue was that opencv-contrib-python needed Python 3.8 in order to work. I made some minor changes to my Dockerfile_binary. The second block in that file now looks like this:

[code]
Seems to build now, and I don't see the `skbuild` error anymore.

[2020-12-08 18:18] ahmed-elsaharti commented on #3190
I haven't tried this before but if i were you I'd start with the default uasset like you just said. It'd probably be much easier this way

[2020-12-08 18:30] EdwinMeriaux commented on #3190
Ok that makes sense.
Sorry back tracking a bit.
I opened up the block environment in unreal. Where is the default drone uasset?
It's not in my content browser. Did you import it directly?

[2020-12-08 18:37] ahmed-elsaharti commented on #3190
If i remember correctly, i copied it from /Plugins/AirSim/Content/Blueprints/BP_FlyingPawn and pasted into a new folder under /Blocks 4.24/Content/ Renamed it from within UE then renamed the file itself and pointed to it in setting.json (i renamed it to test the pointing from settings.json)

Again, the way im suggesting probably isnt the best way but is probably the easiest since you'd be modifyin

[2020-12-08 18:58] bravepaulo commented on #3008
Hi @hyonlim.
In fact a propeller pitch is how long a propeller travels along it axis in one revolution. In you example, one revolution of your propeller makes it travel 5 inchs (considering the propeller is ideally not attached to anything).
The propeller height parameter is the distance you see from leading edge to trailing edge when you look from the tip of propeller to the root of propeller. Wh

[2020-12-08 19:31] lucafei commented on #3177
i use latest version of airsim from master and UE4.25.
i searched this similar issue, but it is about nonconsistent between depth image and scene image.

[2020-12-09 03:26] wangwwno1 commented on #3195
It looks like the UnrealEngine parser won't process json strings without opening and closing quote.
Therefore, to passing json text in command line, one should rewrite
`{"SettingsVersion": 1.2, "SimMode":"Multirotor"}`
into
`'"{\"SettingsVersion\": 1.2, \"SimMode\":\"Multirotor\"}"'`

[2020-12-09 07:22] wangwwno1 commented on #3195
@ahmed-elsaharti
This issue disappeared in pexpect.spawn, so maybe there is something wrong in my ubuntu terminal console.
Could you replicate this problem in the same system? Here is the process:
- navigate to the Blocks package folder
- run `./Blocks.sh --settings '{"SimMode": "Multirotor"}'` in the **terminal console**

Result: Pop-up "Choose Vehicle"window that ask to use car or quadcopter
Exp

[2020-12-09 07:24] botkevin commented on #3183
I have the same problem. Pretty sure there's just an error with the Airsim plugin with the new engine version. Switching to 4.24.3 fixed the issue for me.

[2020-12-09 15:16] alonfaraj opened #3200 "Blueprint compile error (OptionsMenu) - Unreal 4.25.4"
Hi,

I'm using Unreal **4.25.4** on Win10.
Seems like `Plugins\AirSim\Content\HUDAssets\OptionsMenu` failed to compile:

![Capture](https://user-images.githubusercontent.com/15960497/101648048-1933a680-3a42-11eb-94f3-a80643688dbf.PNG)

Tested on Blocks environment as well.

[2020-12-09 18:48] EdwinMeriaux commented on #3190
Ok so now I have my custom drone and the default drone in the blocks environment.
I think the major confusion left is how to set up the custom drone with all the properties of the other drone. Should I just rebuild the class? and the prop states? Since you said building from scratch might be better?

[2020-12-09 21:41] ahmed-elsaharti commented on #3190
If I were to do this I'd modify the default drone and adding my custom mesh to it first to see how things work before starting from scratch. Starting from scratch would probably be the better way but not the easier way.

Especially since the default drone already has the prop states and the cameras included, so I'd start by just replacing the UAV's mesh and seeing how things go.

[2020-12-09 21:44] ahmed-elsaharti commented on #3195
I currently don't have access to my Linux system. However, I'll compile a binary using the latest repo on my Windows system and test this.
I'll report back ASAP.

[2020-12-09 21:47] ahmed-elsaharti commented on #3198
Hi @ferrLucas, have you tried compiling with versions of UE4 known to be compatible with AirSim?
AFAIK the version known to be supported is 4.24. But I've also used 4.25 without problems.

[2020-12-09 22:36] ahmed-elsaharti commented on #3195
Here's what I found so far (for Windows):
`Block --settings C:\Path\to\settings.json`
and
`Block --settings "C:\Path\to\settings.json"`
work perfectly

`Block --settings 'C:\Path\to\settings.json'` does NOT. Neither does any form of passing the actual settings string to the parser

[2020-12-09 23:39] AOS55 commented on #3181
Update on this issue, I have taken the following steps to get a build working but I am still experience problems with the linker in visual studio, E1696 type errors where C++ cannot open the referenced header file.

[In travis](https://travis-ci.com/github/AOS55/AirSim-1/builds/207325037) all the builds now pass the build command where I have added JSBSim to the [build.cmd](https://github.com/AOS5

[2020-12-09 23:40] AOS55 commented on #2955
If anyone has any ideas on what Im missing in #3181 that would be really useful I am trying to sort out linking the static JSBSim library to AirSim but I am having problems with visual studio.

[2020-12-10 03:31] changpowei opened #3201 "[Unreal Engine Crash unpredictable when training DRL]"
## Hardware/Software Information
- CPU: Intel® Xeon(R) Silver 4116 CPU @ 2.10GHz × 24
- GPU: NVIDIA Corporation TU102 [TITAN RTX]
- RAM: 64GB
- OS: ubuntu 20.04
- python: 3.8
- aisim version: 1.3.0
- Unreal Engine version: 4.24.3-0+++UE4+Release-4.24
- Environment: AirSimNH

## Error screenshot
- I am using RL to train a drone to avoid obstacle in AirSimNH environment. It seems working perfectly o

[2020-12-10 04:26] saihv commented on #3201
Looking at the log, it seems like you're running out of GPU memory. I would recommend running `watch -d -n 0.5 nvidia-smi` in another terminal and monitor the GPU memory usage.

[2020-12-10 05:21] changpowei commented on #3201
@saihv Thanks for replying, I will keep watching.

[2020-12-10 06:04] changpowei commented on #3201
Hi @saihv
I found that the GPU memory usage of AirSimNH is keep increasing. It started from about 1100MB and continues to accumulate to 1600MB so far. What could be the cause of this situation?

![image](https://user-images.githubusercontent.com/22905460/101728042-a33a4880-3af0-11eb-9743-274ba54b7c51.png)

[2020-12-10 08:19] seanmcleod commented on #3181
You mention the linker, but Exxx errors are Intellisense errors not compiler or linker errors.

Compiler errors and warnings are Cxxxx and linker errors are LNxxxx.

https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/c-cpp-build-errors?view=msvc-160

So if you aren't seeing any Cxxxx or LNxxxx errors then everything is compiling and linking fine and if you only see Exxxx type er

[2020-12-10 08:48] misakabribri commented on #3183
Unreal 4.25 is ok. Unreal 4.24.3 is ok (recommanded version). I have the same problem when I try to use the 4.26. Actually, you can install different versions of unreal from Epic.
![image](https://user-images.githubusercontent.com/49566966/101748458-8eb57a80-3b07-11eb-8be3-8a6c57b99eee.png)

[2020-12-10 09:18] misakabribri opened #3203 "How to force the drone flying with the specific velocity and Eular angle without fast-physics ？"
OS: Windows 10
IDE: VS 2019;
Unreal: UE 4.24.3

Hello. I already have the fligt data (including positions and Euler angles) gathered from other simulation platforms. I want to use AirSim to 'playback' the flight data (just like a 3D-film) and capture images of the drone.

I guess there are at least two things to do:
1. disable the simple fight model;
2. write a new API funtion to command the drone

[2020-12-10 09:53] AOS55 commented on #3181
He Sean thanks for your help and explanation. Changing the #include path I had set it to `<JSBSim/include/FGFDMExec.h>` for the header reference in the airsim/airlib header file. The E1696 code was caused by vs saying that it can't find the header file I changed this to a relative reference in the header file `#include "Airlib/deps/JSBSim/include/JSBSim/FGFDMExec.h"` and now I get the error:

`Sev

[2020-12-10 10:06] seanmcleod commented on #3181
If it's only an IntelliSense error why not ignore it for now and confirm that the integration between AirSim and JSBSim works?

I would've thought you could use `#include <FGFDMExec.h>` in AirLib given you have the include path set for JSBSim.

[2020-12-10 10:26] AIKUUM commented on #3145
Hi @jonyMarino, I will rely on AirSim and one or more related softwares. By any chance is any hardware required for simulating UAV communication in AirSim?

[2020-12-10 11:12] AOS55 commented on #3181
I think its more so if I use `#include <JSBSim/FGFDMExec.h>` the linter states can't find directory 'JSBSim' in search path and the compiler error is returned `Severity	Code	Description	Project	File	Line	Suppression State
Error	C1083	Cannot open include file: 'JSBSim/FGFDMExec.h': No such file or directory	Blocks	C:\Users\quessy\Documents\Unreal Projects\AirSim\Unreal\Environments\Blocks\Plugins\A

[2020-12-10 13:53] xxEoD2242 commented on #3181
@AOS55 Is it just the Blocks plugin that has is throwing the issue with the compiler?

I'll pull your branch and start helping with integration tomorrow after my finals are finished. Would have started helping sooner but school comes first unfortunately.

[2020-12-10 13:56] AOS55 commented on #3181
Hi @xxEoD2242 yes thats the one, yes of course nw, thanks for your help.
I just rebuilt the whole thing and it now seems to be happy with the JSBSim/include header directory but the simgear directory is having problems I'm going to try including this on the path with VC++ directories too as I think this needs referencing from the relative path too.

[2020-12-10 16:01] AOS55 commented on #3181
Hey the latest commit technically compiles but I had to put in a more relative header in simgear eg in sg_path.hxx I took `#include <simgear/compiler.h>` and added `#include <JSBSim/simgear/compiler.h>` if included in the project correctly this should be fine under VC++ directories Im not sure why its not doing this though.

[2020-12-10 18:46] jonyMarino commented on #3145
Not for communications. But from what I see from your first post, I think you are going to have to upgrade your computer. More RAM (at least 32GB). Do you have a GPU?

[2020-12-10 18:49] ferrLucas commented on #3198
Hi @ahmed-elsaharti, I just tried now with 4.25.4 and it worked! Thank you.

[2020-12-10 18:49] #3198 closed

[2020-12-10 20:17] ahmed-elsaharti commented on #3203
Hi @misakabribri , this will mainly depend on the flight data you gathered. For example, if its a PX4 mission, you can simply run AirSim in [PX4 SITL or HITL mode](https://microsoft.github.io/AirSim/px4_setup/) and upload your mission to be executed.

To address the points you mentioned, if I understand what you're trying to do correctly,
1. I don't think there is a way to disable to have the dron

[2020-12-11 04:57] AIKUUM commented on #3145
Below is the screenshot of details of my system graphics:-
![Capture](https://user-images.githubusercontent.com/72294070/101865032-33cd6300-3b9b-11eb-93fd-61a80cefb58d.PNG)

Can I work on my system with 8 GB RAM. Or should I compulsorily use my system with 32 GB RAM?

[2020-12-11 05:01] AIKUUM commented on #3145
HI @jonyMarino, I just want to clarify a small doubt, though I know the fact most probably. Since "SimpleFlight" can be used in AirSim, PX4 need not be used with AirSim right?

[2020-12-11 06:53] wangwwno1 commented on #3195
Thanks for the response! I got similar result on Ubuntu 18.04 terminal console.
Both `./Blocks.sh --settings /home/$USER/path/to/settings.json` and `./Blocks.sh --settings "/home/$USER/path/to/settings.json"` are OK while `./Blocks.sh --settings '/home/$USER/path/to/settings.json'` is not.

The console encoding is `en_US.UTF-8`, identical with the pexpect code, so the root may not be there.
Perhap

[2020-12-11 08:30] wangwwno1 opened #3206 "How to record the drone state at 1000Hz?"
## Question
### What's your question?
How to record the drone state at 1000Hz?

### Include context on what you are trying to achieve
I'm trying to track the response curve of an **angular rate** controller.
Since the controller reach the target rate within 10ms, a precise plot would require shorter sampling intervals(e.g. 1ms).
So I'm wondering is there any api to change the delta time of simulat

[2020-12-11 09:56] #3112 closed

[2020-12-11 12:43] jonyMarino commented on #3095
Hi all! Thank you for your discussion here. I have submitted a document update through you #3194!is anyone interested in submitting a pull request to solve the drone name issue? Or maybe dig more into it?

[2020-12-11 13:00] jonyMarino commented on #3145
[PX4 ](https://github.com/PX4/PX4-Autopilot) is a separate project, yes. And it can be used together with AirSim.

[2020-12-11 13:46] dion26 commented on #3174
I am not working on the simulation itself. I only got the project (folder) as is and use it for further use. It worked fine before. I don't know why, suddenly i can't detect the lidar, after installing CUDA and tensorflow. Just uninstalled CUDA the problem presist. I didn't change anything inside simulation folder.

I am trying to run it on the latest airsim and unity now. Any idea how to find mor

[2020-12-11 14:00] dion26 commented on #3174
So I didn't find the setting.json file but there is only c# script describing the lidar fuction inside the project folder.  As I mentioned before, I don't really know where the setting.json file is. I just received the folder and it ran perfectly in unity.

[2020-12-11 18:00] jonyMarino commented on #3174
Hi @dion26! It is rear to me that you could use lidar if it weren't configured in the seetings.json file.
Can you change the settings to be like described here?
https://microsoft.github.io/AirSim/lidar/

[2020-12-11 18:17] jonyMarino commented on #3182
Hi @alik-git! And welcome! The drone already has a PID controller that is used when you move with the move* APIs.
You can integrate with PX4 SITL/HITL and QGroundControl if you need a path planner.
For the pre-trained models, we will submit a PR for DQN example that works for the landscape mountains env. Is that what you are looking for? Take a look at the pull requests late next week.

[2020-12-11 18:20] #3107 closed

[2020-12-11 20:47] ostwind opened #3208 "Recording in Ground Observer mode"
## Question
### What's your question?
While flying the multirotor programmatically, using for example orbit.py, *how does one capture videos of the drone from the ground?*

I find that when I click to render captured footage (of observing a flying drone from the ground), the playmode prompt for car vs multirotor pops up, forcing a new video capture session.

### Include context on what you are try

[2020-12-11 22:30] ahmed-elsaharti commented on #3208
Hi @ostwind , I don't exactly understand if the problem is with the viewmode or the fact that the playmode prompt is popping up so I'll try to address both:

1. Regarding the viewmode:
You are right. If you set the [ViewMode](https://microsoft.github.io/AirSim/settings/#viewmode) to `GroundObserver` the camera will chase the drone from 6' above the ground. In `ComputerVision` mode, there won't be

[2020-12-11 22:39] ahmed-elsaharti commented on #3206
Hi @wangwwno1, Have you tried to change the simulation's [ClockSpeed](https://microsoft.github.io/AirSim/settings/#clockspeed)?
I would assume that slowing down the simulation would allow for more API calls per 'simulated second' (for a fixed real API call response rate).

I tried running your test code with ClockSpeed = 1 and ClockSpeed = 0.1 and there was a noticeable difference in the readings

[2020-12-14 01:56] xzh1049090448 opened #3211 "Which drone is blacksheep in airsim"
## Question
### What's your question?

Which drone is blacksheep in airsim
### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

[2020-12-14 05:05] wangwwno1 commented on #3206
I rewrite my code as:
[code]
And test it with ClockSpeed = 0.03333333333 (roughly as 1/30), the output is satisfied:
[code]

[2020-12-14 05:21] wangwwno1 commented on #3206
So the conclusion is:
- The time in function `simContinueForTime` is **WallClockTime**, or the elapsed time in **our world**
- What I desired is **simContinueForSimClockTime** or the time elapsed in **Simulation**
- Passing argument `secs` **shorter than 2ms** to `simContinueForTime` might make the code out of sync with simulation: the user may have an illusion that the simulation is still running

[2020-12-14 05:21] #3206 closed

[2020-12-14 06:03] AIKUUM commented on #3145
Hi @jonyMarino, Can you please send me some good link for Mavros python package? So that from that I can use the attributes of that package and type my piece of code for communication of data between 2 drones.
I have downloaded mavros package from the link https://github.com/mavlink/mavros. Should I use some functions from this package?

[2020-12-14 06:45] wangwwno1 opened #3212 "Dynamic ClockSpeed & Continue in Simulation Time"
## What feature are you suggesting?
### Overview:

- Allows the user to adjust `ClockSpeed` during simulation.
- Rename `simContinueForTime` to `simContinueForWallClock` as the original name is confusing(See #3206 #1719 #600 )
- Add new api `simContinueForSimClock` which enables the user to control the time elapsed in simulation without knowing current `ClockSpeed`(or raise a warning/exception at

[2020-12-14 10:08] wangwwno1 commented on #3201
Hello, apart from the GPU memory please also check the configuration files used by the environment.
If the format of settings.json is incorrect, it would raise similiar error.
Plus, please check the training code as it occupy over 21GB, periodically dump unused cache(especially for PyTorch) would help.
![image](https://user-images.githubusercontent.com/30792394/102068186-1ddbce80-3e37-11eb-9d90-b8

[2020-12-14 10:28] misakabribri commented on #3203
@ahmed-elsaharti

Thanks! The flight data is gathered from the fixed-wing aricraft, therefore the mission can't be executed via multirotor mode on AirSim. I kown it sounds weird, but I am also trying to modify the 3D model (use the fixed-wing model instead of the default multirotor).

I found some API functions in RpcLibClientBase.hpp:
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    // sensor omniscient

[2020-12-14 10:37] AIKUUM opened #3213 "Mavsdk python package with AirSim simulator"
## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

Below screenshot represents the details of my system:
![Capture](https://user-images.githubusercontent.com/72294070/102069277-90db4a00-3e23-11eb-8f71-d14e10181433.PNG)

AirSim version (1.3.1)
Unreal version(4.25)
python ver

[2020-12-14 10:44] alonfaraj opened #3214 "Invalid uncomressed images when recording from Unreal editor"
## Bug report

- AirSim Version/#commit: 1.3.1
- UE/Unity version: 4.25.4
- autopilot version: N/A
- OS Version: Win10

### What's the issue you encountered?

Recording uncompressed images from Unreal editor using rec button, output invalid images which can't be open when set `"Compress": false`.
When record compress images - it works fine.

![Capture](https://user-images.githubusercontent.com/159

[2020-12-14 14:07] eggbread commented on #3167
Hi, @ahmed-elsaharti
I have a question. I want to get signal quality from each drone, such as RSSI value.
In other words, it will increase when the drone is far away, and decrease when the drone is near.
Does AirSim have any features?

[2020-12-14 14:45] jonyMarino commented on #3145
I have no material at the moment. Try to get from those projects. Good luck!

[2020-12-14 19:05] ostwind commented on #3208
Hi @ahmed-elsaharti, thank you for the helpful response and the links. Number 2 was particularly good and I modified settings.json accordingly. Following your description and what's online, I should not use GroundObserver because the camera should be stationary, with drone flying within view. I also do not use ComputerVision mode because the drone should be rendered.

I am still missing something

[2020-12-14 21:55] HareshKarnan commented on #1708
same issue here. Running vncserver on a remote ubuntu 18.04 machine and using novnc. Same error !

[2020-12-15 00:26] HareshKarnan commented on #1179
same error here. has anyone found a solution to this issue ?

[2020-12-15 02:31] changpowei commented on #3201
Hi @wangwwno1 ,

I set the fixed GPU memory size when running the training code, so it occupy the 21GB of memory.
![image](https://user-images.githubusercontent.com/22905460/102156864-6cca4800-3eb9-11eb-8011-afc155beb6b0.png)

When I modify the code to dynamic adjust the memory size when training, it will reduce the usage of memory as following figure.
But unfortunately, it still face the same pro

[2020-12-15 04:32] wangwwno1 commented on #3201
1.  Sorry for giving misleading infos, I have checked the error msg and I think this might not your case. Still, incorrect in format (e.g. additionall comma in the end of config) or value DOES cause the original AirSim environment crash during the initialization.
2.  I'm not familiar with the AirSimNH so I'm not sure about that.
3.  This issue might related to the direction of sensors. The `Roll`,

[2020-12-15 05:55] AIKUUM commented on #3145
Hi @jonyMarino, Can you tell me what extra configurations i should make in settings.json file for communication between 2 UAVs? Should the 2 UAVs be configured with 2 different IP addresses?

[2020-12-15 07:15] rajat2004 commented on #3214
This is a known bug, mentioned here - https://github.com/microsoft/AirSim/pull/2861#issuecomment-664036371
Copied from the above linked comment - UE is doing the conversion to PNG format, and then we're just writing it as a binary file. For uncompressed, writing array values as binary doesn't work. I can see 2 options, either go for an external library such as `libpng` which will do the conversion

[2020-12-15 08:18] Han-Sin opened #3216 "How to eliminate the air resistance in airsim?"
I am doing a uav simulation in airsim, but now I don't want the air resistance... So how to make it?
I really need it...please.

[2020-12-15 10:48] alonfaraj commented on #3214
thank you @rajat2004

[2020-12-15 11:03] AIKUUM commented on #3213
Hi @sytelus, Which python package is better for communication between 2 drones in AirSim? Mavros or Mavsdk?

[2020-12-15 12:11] RinR0000 commented on #1769
@botkevin

That's great!
I would love to learn from you!

[2020-12-15 15:00] AOS55 commented on #3181
Hey quick update Ive been debugging the FixedWing-JSBSim branch. I did not have the class in the [SimHUD.cpp](https://github.com/AOS55/AirSim-1/blob/FixedWing-JSBSim/Unreal/Plugins/AirSim/Source/SimHUD/SimHUD.cpp#L310) and I did not have jsbsim in the [settings file](https://github.com/AOS55/AirSim-1/blob/FixedWing-JSBSim/AirLib/include/common/AirSimSettings.hpp#L801) which is now included.

Using

[2020-12-15 15:36] jonyMarino commented on #3187
Hi @Deepakgthomas! Can you refer to the "GPS lock issue" you are talking about? is it the one related to PX4?

[2020-12-15 15:50] alonfaraj opened #3217 "Show different ImageType in GameViewport"
## Question
### What's your question?
I want to show in the main viewport another `ImageType `than `Scene`, for example `Segmentation`.
Is it possible?
I didn't find anything relevant in settings.json so tried to modify the source code.

### Include details of what you already did to find answers
I found the function `APIPCamera::showToScreen` and added
`setCameraTypeEnabled(ImageType::Segmentatio

[2020-12-15 16:11] jonyMarino commented on #3145
Hi! Try to simulate this on the client-side, using the ROS wrapper. So AirSim is not going to know anything about the communication between drones. I don't have much more to tell you.

[2020-12-15 16:30] rajat2004 commented on #3216
You could try changing [this line](https://github.com/microsoft/AirSim/blob/master/AirLib/include/physics/Environment.hpp#L109) to set 0, haven't checked but probably shouldn't cause any division by 0 errors

[2020-12-15 16:35] #3095 closed

[2020-12-15 19:28] Deepakgthomas commented on #3187
Hi @jonyMarino!
Firstly thank you for responding to this. I and my team are running Airsim on a Jetson Nano which is placed on top of our drone. When we try to arm our drone through Airsim, it doesn't let us do that saying it could not get a GPS lock. We would still like to fly our drone, despite the poor GPS signal indoors and therefore looking to turn off the request for GPS lock.
Please let me

[2020-12-16 03:09] Han-Sin commented on #3216
Thanks!
real work well

[2020-12-16 04:30] AIKUUM commented on #3145
Hi @jonyMarino!! I think you misunderstood my previous comment. I asked if you know about just what configurations should be made like IP addresses for 2 UAVs, port numbers etc in settings.json. Do u have any idea about such configurations in settings.json file?

[2020-12-16 05:25] ahmed-elsaharti commented on #3208
Hi again @ostwind, glad you found this helpful.

I'm not sure I understand the issue you're facing here is. Where do you expect the drone to spawn on render? You can change the default spawn position using the X, Y, Z, Yaw, Roll, Pitch in [settings.json](https://microsoft.github.io/AirSim/settings/). If this is not what you're asking please include a screenshot or a video of the problem and I woul

[2020-12-16 05:26] ahmed-elsaharti commented on #3167
Hi again @eggbread , I dont think airsim has anything like that at the moment, but i think you could create your own using the drone location

[2020-12-16 05:30] ahmed-elsaharti commented on #3203
@misakabribri you could try using simSetVehiclePose to teleport the vehicle along a path but it would still be using multirotor physics.

With CV mode you pretty much just have a camera moving around in the scene.

Have a look at #2955, my understanding is that the author is working on a fixed wing model there

[2020-12-16 07:12] wangwwno1 commented on #2477
@Jaeyoung-Lim  @jonyMarino
**Perhaps in PX4 v1.11 they have changed the sequence to opening a mavlink connection.**

In the PX4 v1.11, the messages before connecting to airsim are:
[code]

In PX4 v1.10:
[code]

[2020-12-16 07:27] lovettchris commented on #2477
Yes the [current code ](https://github.com/PX4/PX4-Autopilot/blob/master/src/modules/mavlink/mavlink_main.cpp#L2094) only prints data rate if the mavlink connection is serial or UDP, it skips TCP, not sure when that change was made though.

[2020-12-16 08:09] wangwwno1 commented on #2477
This [commit](https://github.com/PX4/PX4-Autopilot/commit/7ee74099ab63bd9e1dc7d4d234c634ac1c646192)

[2020-12-16 08:18] wangwwno1 commented on #2477
Looks like most issues related to the PX4 v1.11 can be categorized into:
1. Failed to start environment and return runtime UdpClient error code 9 (Bad file descriptor)
2. return runtime UdpClient error code 111 (Connection refused)
3. (Rare) Successfully initialized, but cannot receive HIL actuator control message. Maybe related to [this commit](https://github.com/PX4/PX4-Autopilot/commit/4e126c06

[2020-12-16 14:34] jonyMarino commented on #2477
Hi @wangwwno1! Thank you for sharing this. Are those errors when interacting with Airsim or with any simulator?

[2020-12-16 14:45] jonyMarino commented on #3145
AIKUUM. I want to tell you that by having to solve it on the client-side (that is, in your case, the python script that you do for this). All IPs and ports will be in the script, not in seetins.json

[2020-12-17 04:53] heisenberg898 opened #3223 "AirSim Python APIs documentation"
where can i find AirSim Python APIs documentation

and i am trying do draw  a polygon and some other shape i cant able to make it correct way
kindly do the support

More Info
More information on AirSim Python APIs can be found at: https://github.com/Microsoft/AirSim/blob/master/docs/python.md

if i go to the link its page not found

[2020-12-17 05:36] GimpelZhang commented on #3223
Hi, here are some hints:

[Core APIs](https://microsoft.github.io/AirSim/apis/)

[2020-12-17 06:49] wangwwno1 commented on #2477
Only with airsim, I'm not familiar with other simulators

[2020-12-17 08:28] Jaeyoung-Lim commented on #2477
@jonyMarino Other simulators on PX4 (jmavsim, gazebo, jsbsim) are on a CI which is verified for every PR, therefore I am quite sure other simulators are functional

[2020-12-17 14:37] #3223 closed

[2020-12-17 14:48] jonyMarino commented on #2477
Yes, @Jaeyoung-Lim. We will work on that.

[2020-12-17 17:42] jonyMarino commented on #3211
Closed due to incompleteness.

[2020-12-17 17:42] #3211 closed

[2020-12-17 18:37] #3197 closed

[2020-12-18 00:00] AngelTang190 opened #3229 "Rotation matrix to convert AirSim local coordinates to global coordinates"
## Question
### What's your question?

Is there a rotation matrix to convert local AirSim coordinates to global coordinates and vice versa?

### Include context on what you are trying to achieve

N/A

#### Context details

This question is only applicable to AirSim version only.

### Include details of what you already did to find answers
I tried to search online about what is the rotation matrix

[2020-12-18 01:45] eggbread commented on #3167
@ahmed-elsaharti
I saw your pull request, That is so cool!
Anyway, I want to ask a question. Sorry :(
Can I use px4 mode and python API together?
Because If I set the `"VehicleType": "PX4multirotor"` , I couldn't use the python API.
But If I change `"VehicleType": "SimpleFlight"`,then It works!
Is it not support px4 and python API together?

[2020-12-18 04:29] yugitw commented on #1769
@botkevin That's very helpful. Could you post a link for the code?

[2020-12-18 05:17] ahmed-elsaharti commented on #3167
Hello again @eggbread
As far as I remember, the APIs should work fine with PX4 SITL. I remember reading about a bug making this not work at some point but I think it has been fixed (or its the reason we use v1.10.1)

I was able to run PX4 SITL and have the takeoff command work fine:
![image](https://user-images.githubusercontent.com/49626509/102577616-fb0f1b80-40bd-11eb-9518-edc8a7f1b644.png)
usin

[2020-12-18 10:09] dion26 commented on #3174
After I changed the settings.json file to:

`{
 "SimMode" : "",
 "SettingsVersion" : 1.2,
 "SeeDocsAt" : "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
 "Lidar2": {
             "SensorType": 6,
             "Enabled" : true,}
}
`

the Unity crash with log:

`AirsimWrapper.dll caused an Access Violation (0xc0000005)
  in module AirsimWrapper.dll at 0033:c694fac3.`

After searc

[2020-12-18 10:55] ahmed-elsaharti commented on #3229
Hi @AngelTang190 ,
AFAIK, what you're trying to achieve will mainly depend on how the Unreal Engine level/environment is set up. i.e.: if your unreal environment is set up so that it resembles an actual location on earth, the angle between where (in the map/environment) north would be and the x-axis (for example) would mainly depend on how your environment is rotated within Unreal Engine.

Things

[2020-12-18 12:46] AngelTang190 commented on #3229
May I know how can I know the orientation of AirSim environment? Is there an API that I can use ?

[2020-12-18 12:56] ahmed-elsaharti commented on #3229
@AngelTang190 the [getMultirotorstate](https://microsoft.github.io/AirSim/apis/#getmultirotorstate) and/or simGetGroundTruthKinematics APIs would provide the orientation in quaternions

[2020-12-18 13:26] AngelTang190 commented on #3229
Can you please give an example? As in when an orientation has a x value of 0 initially, what does it mean?

[2020-12-18 13:45] eggbread commented on #3167
@ahmed-elsaharti
Hello! I am sorry for late reply.
Actually, I don't know what it is. I have just rebuild the px4 repo. And then I can use the python API!
Thank you so much!

[2020-12-18 17:50] MoBaT opened #3232 "Can't get AirSim to run with VehicleType ArduCopter"
## Bug report

- AirSim Version/#commit: 5513f19
- UE/Unity version: ++UE4+Release-4.18
- autopilot version: master/f670f7a
- OS Version: Ubuntu 18.04

### What's the issue you encountered?

Getting the error below and AutoPilot is not able to connect and send data
![image](https://user-images.githubusercontent.com/648536/102644790-021e4400-4127-11eb-91e1-1a605c41bc02.png)
![image](https://user-im

[2020-12-18 18:19] #1511 closed

[2020-12-18 20:28] ahmed-elsaharti commented on #3229
@AngelTang190 a yaw orientation of 0 means that the front of the vehicle is aligned with the World's/environment's x axis. Note that the multirotor state produces orientations in [quaternions](https://en.wikipedia.org/wiki/Quaternion) (for conversion see [this](https://quaternions.online/))

Here's an example that should clarify everything:

Lets say we have a blank unreal engine environment/level

[2020-12-19 01:28] EdwinMeriaux commented on #3190
Yes I will try to modify the frame of drone.
Do you if I modify the frame of the drone in a manner that would affect the position of the props that would be problematic? I would need to just move the location of the props right?

Sorry for the delay in response on my end. I just finished my finals for the semester and now can get back to work. I hope the delay is not seen as an insult or anything.

[2020-12-19 03:25] ahmed-elsaharti commented on #3190
@EdwinMeriaux I think that should be fine. However, those changes will only appear visually. To make them effective in the physics simulation you would have to adjust the changed parameters (length of arm holding the rotor, etc) in [MultiRotorParams](https://github.com/microsoft/AirSim/blob/master/AirLib/include/vehicles/multirotor/MultiRotorParams.hpp). But again, start changing one thing at a ti

[2020-12-19 06:51] AIKUUM commented on #3213
Hi @rajat2004, Do you have any idea about this?

[2020-12-19 07:07] AIKUUM opened #3234 "make px4_sitl_default none_iris"
## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers
Below is my system details:
https://user-images.githubusercontent.com/72294070/102069277-90db4a00-3e23-11eb-8f71-d14e10181433.PNG

AirSim version (1.3.1)
Unreal version(4.25)
python version (3.8.3)

Im trying to setup PX4 in

[2020-12-19 07:40] botkevin commented on #1769
The code uses someone else's code for equirectangular to perspective transformations that is quite slow. It probably can be improved a lot. Currently the code is buried in another project, let me extract it and make a repository. Sorry for the delay, I am a little busy at this time. For now I will just detail some pseudocode if you want to replicate before I have the chance to post the link.

This

[2020-12-19 12:28] petergerten opened #3235 "UE4 Engine Version clarification (minimum and suggested)"
Is there a definite place that clarifies the minimum and recommended engine version to be used with AirSim?
I have been using UE4.24.3 for example and it stopped working due to new uasset files that are not downward
compatible anymore. But I don't know what the new minimum engine version is.

Example:
https://github.com/microsoft/AirSim/blob/master/Unreal/Plugins/AirSim/Content/HUDAssets/CameraDis

[2020-12-19 22:36] saihv commented on #3235
This information is maintained in https://github.com/microsoft/AirSim/blob/master/docs/build_windows.md and https://github.com/microsoft/AirSim/blob/master/docs/build_linux.md. We have recently updated the docs to reflect the change to 4.25 as the minimum requirement.

[2020-12-20 00:21] ahmed-elsaharti commented on #3234
Hi @AIKUUM, If you're using PX4 1.10.1 as recommended [here](https://microsoft.github.io/AirSim/px4_sitl/) try uninstalling Cygwin 0.9 and installing Cygwin 0.8.
I've submitted #3222 to mention this version in the documentation since lots of people seem to run into this issue.

[2020-12-20 00:52] b0b023 commented on #3235
@saihv great, thanks! Sorry I missed that particular doc.

[2020-12-20 09:46] eliork commented on #1875
@msb336 The link is broken

[2020-12-20 11:29] petergerten commented on #3200
I have the same issue

[2020-12-20 11:32] petergerten commented on #3235
@saihv thanks. I just tried to upgrade to 4.25.4-release - but it seems this version does not work for different reasons. See https://github.com/microsoft/AirSim/issues/3200

Maybe it would be good to be more specific in the recommended version?

[2020-12-20 15:51] EdwinMeriaux commented on #3190
@ahmed-elsaharti
Yes I do see that the modifications would be only visual but I need to to resemble the right drone.

So I made the easiest modification could to the base drone mesh. I scaled it down to be much smaller. So this new drone lets call it BP_FlyingPawnsmall. It is currently stored in the contents file of my project Blocks4.24. I tried openning it in Airsim by modifying the json file bu

[2020-12-21 00:14] #2844 closed

[2020-12-21 00:14] #2915 closed

[2020-12-21 04:18] yugitw commented on #1769
For those who want a quick hack, I modified the [ComputerVisionPawn.cpp](https://github.com/yugitw/AirSim/blob/master/Unreal/Plugins/AirSim/Source/Vehicles/ComputerVision/ComputerVisionPawn.cpp) to capture 6 images that can form a cubemap. It is easy to find a tool online that allows you to convert a cubemap to an equirectangular image.

Usage:
1. Simply replace the CVPawn.h and CVPawn.cpp files a

[2020-12-21 05:01] ahmed-elsaharti commented on #3213
Hello @AIKUUM , I've done some testing and can confirm that mavsdk's example scripts (I tested `takeoff_and_land.py`) will work with Airsim in PX4 SITL mode (haven't tested HITL yet).
All I had to do to make this work was set the `ControlPort` in [settings.json](https://github.com/microsoft/AirSim/blob/master/docs/settings.md) to PX4's Onboard port:
![image](https://user-images.githubusercontent.c

[2020-12-21 06:31] AIKUUM opened #3236 "ERROR [sensors] Accel #0 fail: TIMEOUT!"
## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

Below is my system details:
https://user-images.githubusercontent.com/72294070/102069277-90db4a00-3e23-11eb-8f71-d14e10181433.PNG

AirSim version (1.3.1)
Unreal version(4.25)
python version (3.8.3)

When I try to open an Ai

[2020-12-21 07:23] Yannisxm opened #3237 "error:cdo Constructor(PIPcamera):failed to find Material'AirSim/HUDAssets/CameraDistortion.CameraDistortion'"
error:cdo Constructor(PIPcamera):failed to find Material'AirSim/HUDAssets/CameraDistortion.CameraDistortion'
![image](https://user-images.githubusercontent.com/40320349/102750273-7e6f8c00-43a0-11eb-8f33-ee997919bc3e.png)

[2020-12-21 07:24] Yannisxm opened #3238 "error:cdo Constructor(PIPcamera):failed to find Material'AirSim/HUDAssets/CameraDistortion.CameraDistortion'"
error:cdo Constructor(PIPcamera):failed to find Material'AirSim/HUDAssets/CameraDistortion.CameraDistortion'
![image](https://user-images.githubusercontent.com/40320349/102750350-a0690e80-43a0-11eb-9fa8-be7151ab81ba.png)

[2020-12-21 07:54] ahmed-elsaharti commented on #3190
@EdwinMeriaux if your asset is placed in `/Blocks 4.24/Content/` then your settings.json should be pointing to `/Game/`

ie:
[code]
similar to what the docs say (I'm assuming that your file is `BP_FlyingPawnsmall.uasset`)

Also, make sure the file name is correct, your error message says `BP_FlyingPawn` and the settings you posted say `BP_FlyingPawnsmall` so there might be a file name issue somewh

[2020-12-21 08:28] ahmed-elsaharti commented on #3236
@AIKUUM what versions of PX4 and Cygwin/PX4-Toolkit are you using? Also, are you simulating on Unity or Unreal Engine?

[2020-12-21 08:38] AIKUUM commented on #3236
Hi @ahmed-elsaharti, Im simulating on Unreal Engine. Im using PX4.Windows.Cygwin.Toolchain.0.8
Below are the settings in settings.json file:
`
{
    "SettingsVersion": 1.2,
    "SimMode": "Multirotor",
    "Vehicles": {
        "Drone1": {
            "VehicleType": "PX4Multirotor",
            "UseSerial": false,
            "UseTcp": true,
            "TcpPort": 4560,
            "ControlPort":

[2020-12-21 08:42] ahmed-elsaharti commented on #3236
@AIKUUM and are you using the latest repo or are you simulating with one of the precompiled binaries?
Also, what is the version of the PX4 firmware being compiled? is it the latest version (1.11.2) or the recommended 1.10.1?

The reason I'm asking is that I'm trying to recreate the issue on my machine.

[2020-12-21 09:03] AIKUUM commented on #3236
Hi @ahmed-elsaharti, I'm using PX4 v1.10.1.
And which repo are you talking about? AirSim repo?

[2020-12-21 09:07] ahmed-elsaharti commented on #3236
@AIKUUM Yup, I was refering to the Airsim repo. Were you using the latest repo when you got these errors or were you using one of the recompiled binaries in the latest release from back in April?

[2020-12-21 09:15] AIKUUM commented on #3236
Hi @ahmed-elsaharti, I'm using one of the recompiled binaries from the link https://github.com/microsoft/AirSim/releases

[2020-12-21 09:20] ahmed-elsaharti commented on #3236
@AIKUUM I was able to recreate the error with one of the precompiled binaries. Try switching over to the newest Airsim repo. There probably was a bug that was fixed at some point between April and now.

You could test out the blocks environment in the latest repo by following the steps [here](https://microsoft.github.io/AirSim/unreal_blocks/)

[2020-12-21 09:32] AIKUUM commented on #3236
Hi @ahmed-elsaharti, I had tested blocks environment without PX4 few months ago. But to accomplish my current task, I need some simulator environment which is similar to a real time environment. I cant see simulator environments in the latest repository.
Can you now tell me how to proceed?

[2020-12-21 09:40] ahmed-elsaharti commented on #3236
Hi @AIKUUM, If the blocks environment is not suitable you will either have to wait until the maintainers publish a new release that will include binaries built from the latest (fixed) repo OR you could use Airsim with a custom environment.

To use the latest repo of Airsim with a custom UE4 environment, you will first need to [build Airsim](https://microsoft.github.io/AirSim/build_windows/). After

[2020-12-21 09:54] AIKUUM commented on #3236
Hi @ahmed-elsaharti, Im not manually simulating the environments. I'm using my Python codes based on the available AirSim APIs to achieve my task. I had already built AirSim as in the link https://microsoft.github.io/AirSim/build_windows/ few months ago.
By any chance am I getting the error in PX4 because of the configurations I have used in settings.json (link:https://github.com/microsoft/AirSim/

[2020-12-21 10:05] ahmed-elsaharti commented on #3236
@AIKUUM it is not likely that the errors are because of the settings. I got the same errors when I used one of the precompiled binaries, and when I switched over to the latest repo the errors were gone.

[2020-12-21 10:13] AIKUUM commented on #3236
Hi @ahmed-elsaharti, How did you simulate? manually or automated?
Did you simulate on Windows or on any other OS?
Are you using Unreal Engine or Unity?

[2020-12-21 10:26] ahmed-elsaharti commented on #3236
@AIKUUM I cloned the latest repo and tested the Blocks environment in Unreal Engine as shown [here](https://microsoft.github.io/AirSim/unreal_blocks/). This was all done on Windows 10 and used PX4 1.10.1 with Cygwin 0.8 and resulted in no errors overall (GPS and sensors do glitch sometimes but it doesn't always happen).

![image](https://user-images.githubusercontent.com/49626509/102766946-800b668

[2020-12-21 10:30] AngelTang190 commented on #3229
Alright, thank you very much! So let's say if the yaw is 0, then the rotation matrix will just be the identity matrix correct? Since there is no rotation?

[2020-12-21 10:32] ahmed-elsaharti commented on #3229
@AngelTang190 if you're refering to a 2D rotation matrix about the Z axis then yes. But if you're talking about an overall 3D rotation matrix then pitch and roll would have to be taken into consideration

[2020-12-21 12:36] AngelTang190 commented on #3229
For 3D rotation matrix, should pitch also be aligned with the North? Then which direction should roll be aligned to?

[2020-12-21 12:39] ahmed-elsaharti commented on #3229
Pitch would be measured based on the horizon or the vehicle being upright. Same thing with roll. They would both be relative to the drone's upright orientation

[2020-12-21 12:41] AngelTang190 commented on #3229
May I know what does upright mean here?

[2020-12-21 14:43] jonyMarino commented on #3238
Hi! Please, next time, fill the Bug Report template. Incomplete reports would be closed immediately.
We have updated to UE 4.25.
Update your UE version, and the error will disappear

[2020-12-21 14:44] jonyMarino commented on #3237
dup #3238

[2020-12-21 14:44] #3237 closed

[2020-12-21 15:28] jonyMarino commented on #3213
Hi @AIKUUM! You are continuing the topic of #3145 here, so I suggest you close there.
The messages that happen by mavlink between AirSim and PX4 are for simulation. Specifically for PX4 to simulate drone control. It is not what you are looking for for your use case. If you want to use mavsdk, instantiate a mavlink node for each drone and communicate between them. You would do all this from your sc

[2020-12-21 15:30] EdwinMeriaux commented on #3190
Awesome! Yes that worked perfectly!
I tried so many different paths to the drone and non worked until this!

So if this drone is current in the blocks 4.24 project. If I have another project I would need to import it into that project. So if I would store it in the airsim plugin folder it could be accessed from all projects rigth?

[2020-12-21 20:36] ahmed-elsaharti commented on #3190
@EdwinMeriaux Not entirely sure tbh. Give it a try though

[2020-12-22 04:09] #3145 closed

[2020-12-22 04:14] AIKUUM commented on #3213
Hi @jonyMarino, I have closed the issue #3145

[2020-12-22 09:11] saihv commented on #3200
This is really odd. It looks like this is the commit that's causing the #3200 issue. The broken reference is this file that was deleted.

https://github.com/microsoft/AirSim/commit/bb1b7e3d5ec841ae86cebab3f8d5f9ed3e7743a7#diff-2d1bbba2ccc6fc0c43288832ef48c9c3d9efb5d326a6f5a404ac6a4c7875ff84

@clovett Chris, could you let us know what issue you were facing prior to your commit?

[2020-12-22 09:11] saihv commented on #3235
Please see discussion at #3200

[2020-12-22 09:15] #3234 closed

[2020-12-22 09:19] saihv commented on #3200
@petergerten @alonfaraj  I quickly threw together a fix in https://github.com/microsoft/AirSim/pull/3240, could you please give this a shot to see if it fixes the compile errors?

[2020-12-22 11:39] AIKUUM commented on #3213
Hi @jonyMarino, I'm sorry for disturbing you again. But is PX4 in SITL compulsorily required along with AirSim for UAV communication? or just AirSim is sufficient?

[2020-12-22 14:12] jonyMarino commented on #3213
Just AirSim is sufficient.

AirSim uses mavlink to integrate the PX4 flight controller. But what you want is to use mavlink for other purposes. You would not have requirements from the AirSim side because you will simulate the communication on the client-side (your script). You are doing this for research, or do you plan to deploy this in a real drone?

[2020-12-22 14:22] #3216 closed

[2020-12-22 19:20] jonyMarino commented on #3203
@ahmed-elsaharti, do you think that using CV mode and using the blueprint drone (that can be added through the ue editor) can be a way of accomplishing this? Then we can move the drone through `simSetObjectPose()`. I think this is an excellent use case for easy integration with other physics simulators.

[2020-12-22 20:17] ahmed-elsaharti commented on #3203
@jonyMarino This is a BRILLIANT idea! This could also be used as a hacky solution for #3208
I just tested it and it works perfectly. Using the UE4 Editor i placed a random object (in this case a drone called BP_FlyingPawn_5, any fixed-wing model could be used too)
![image](https://user-images.githubusercontent.com/49626509/102929295-eafd9000-445f-11eb-95c4-c3594cfdbbbe.png)
![image](https://user-i

[2020-12-22 20:21] saihv commented on #3203
The preferred way is to use CV mode and `simSetVehiclePose()`, and this is also the way we can integrate external physics engines etc. `simSetObjectPose` (while it may sometimes work), is generally not recommended for the vehicles because it targets not the physics body but more of an abstract Unreal object type. I am not sure about the following: but there might also be issue with what's consider

[2020-12-22 20:45] ahmed-elsaharti commented on #3203
@saihv I haven't experimented with CV mode so far so I might (will probably) be completely wrong here, but doesn't CV mode not spawn any vehicles? My understanding at this point is that the only vehicle that we can set the pose of in CV mode is the actual camera. right?

[2020-12-22 21:06] saihv commented on #3203
Ah, sorry, I made a typo. I meant non-CV mode (Multirotor) and `simSetVehiclePose` is preferred for simple visualization purposes (position and orientation) instead of `simSetObjectPose`. Teleporting the drone this way seems to disable physics forever, so this might actually be a good thing if we want to continue visualizing. To actually command velocities and higher order terms, `setState` might

[2020-12-22 22:32] ahmed-elsaharti commented on #3203
@saihv Oh, no worries it makes sense now and I completely agree 👍. I was actually going to test moving the camera around in Non-CV mode to see if it messes up with anything in an attempt to see if I could create a 'fixed position' camera that tracks the drone as is needed for #3208

[2020-12-22 23:26] ahmed-elsaharti commented on #3203
@saihv I've tested the CV mode + `simSetObjectPose` side of things and it does seem like the UE origin does not change once created during initialization of the simulation (*insert my regular 'I'm probably wrong' here* 😂)

What I did to test this was to set up a scene with a drone_pawn as an object in there:
![image](https://user-images.githubusercontent.com/49626509/102941840-543dcd00-4479-11eb-9

[2020-12-22 23:51] saihv commented on #3203
@ahmed-elsaharti Thanks for the quick test! `simSetCameraPose` should also just move the camera relative to an invisible vehicle (imagine an infinitely long camera arm, essentially, whereas the invisible origin stays constant). This is certainly a way to get around the origin problem. With regards to your last comment, did you mean moving the camera with the M key?

[2020-12-22 23:57] ahmed-elsaharti commented on #3203
@saihv Yup, I meant the manual WASD camera controls available through the view mode enabled through the M key.

Also, would you recommend using this method to programmatically set the orientation of a fixed-location camera trying to follow a drone (or any object really) being moved around the scene to simulate a 'fixed location ground observer' scenario?

[2020-12-23 00:02] saihv commented on #3203
Yeah actually I think it should work. I forgot about the `simSetCameraPose` function entirely (although I originally wrote that function :D) and was thinking only about simSetVehiclePose, but regardless, set camera pose should safely let you operate local to the computer vision pawn origin anyway. I am assuming in this case your drone is also just behaving as an object (and not an actual FlyingPaw

[2020-12-23 00:10] ahmed-elsaharti commented on #3203
I honestly do not blame you. AirSim's got ALOT of functions that are very similarly named. This would be a good segue into the 'API documentation' topic but thats out of the issue's scope anyway 😂.

Yup for the case of #3208 my understanding is that AirSim would be used as a tool to 'visualize/draw' the data. So the drone would be an arbitrary object.

[2020-12-23 00:12] saihv commented on #3203
Side note, I am noticing some weird behavior with M in CV mode. WASD + `simSetVehiclePose()` seems to work okay w.r.t. the transforms, but pressing M in CV mode does seem to destroy some camera transform somewhere because the subwindow images are going wonky.

[2020-12-23 00:14] ahmed-elsaharti commented on #3203
Woops, i just realized that i meant F-mode rather than M-mode. Sorry about that

[2020-12-23 00:15] saihv commented on #3203
Yeah I think as long as F / WASD works it's fine, M is probably decoupling the camera director from the pawn. WASD movement actually displaces the ComputerVisionPawn in the UE world, so that was what I was mainly curious about

[2020-12-23 03:19] ahmed-elsaharti commented on #3208
@ostwind , if you're still trying to solve this have a look at [this comment](https://github.com/microsoft/AirSim/issues/3203#issuecomment-749833815).

Here's a quick hacky solution:
You can use Multirotor mode to simulate the drone's mission while **storing** data about its location and orientation (we use multirotor mode here to include physics and all)
After that's done, you could use CV mode a

[2020-12-23 03:46] AIKUUM commented on #3213
What I want to do is for a project.

[2020-12-23 04:31] AIKUUM commented on #3213
Hi @ahmed-elsaharti, How are you using mavsdk? I mean did you install the module through pip? Or did u download mavsdk-python package from https://github.com/mavlink/MAVSDK-Python? I have done both. Can you suggest me which would be better to use?

[2020-12-23 04:37] ahmed-elsaharti commented on #3213
I remember installing it through pip and cloning the https://github.com/mavlink/MAVSDK-Python repo just for the example scripts. The general difference between the pip version and the github version of any library would be that the version on github is the one being updated with every commit while the pip one awaits publishing by the creator

[2020-12-23 06:04] AIKUUM commented on #3213
I tried executing the same python file (takeoff_and_land.py) as you did with PX4 in SITL. But there are some issues with the execution as in the screenshot below:
![Capture](https://user-images.githubusercontent.com/72294070/102964697-396b6700-4512-11eb-8bf1-4856109d9915.PNG)
As you can see in Anaconda prompt "Waiting for drone to connect..." is there and then nothing is displayed. Morover there a

[2020-12-23 06:15] AIKUUM opened #3243 "AirSim repository with all the simulator environments for Windows"
## What feature are you suggesting?
### Overview:

### Smaller Details:

### Nature of Request:

- Addition
- Change
- Removal
  -

## Why would this feature be useful?

Can anyone give me an idea on by when all the simulator environments for Windows (link:https://github.com/microsoft/AirSim/releases) will be included in AirSim repository? I would appreciate it if that happens as soon as possible,

[2020-12-23 06:32] ahmed-elsaharti commented on #3213
@AIKUUM try getting rid of the
[code]
section in your settings.json and make sure the anaconda prompt is not blocked by a firewall or an antivirus

[2020-12-23 06:39] ahmed-elsaharti commented on #3243
@AIKUUM, to address the issue with LandscapeMountains, you can programatically reposition the drone in a compiled binary by changing the X, Y and Z values in settings.json. If you're compiling your own binary then you can place the drone in any location you like in LandscapeMountains or any other environment as shown in [this guide](https://microsoft.github.io/AirSim/unreal_custenv/), [this video]

[2020-12-23 06:40] AIKUUM commented on #3213
Hi @ahmed-elsaharti, I tried what you suggested. But nothing appears after "Waiting for drone to connect..." in Anaconda Prompt.
And this is what thats displayed in PX4:
`
px4 starting.

INFO  [px4] Calling startup script: /bin/sh etc/init.d-posix/rcS 0
INFO  [dataman] Unknown restart, data manager file './dataman' size is 11798680 bytes
INFO  [simulator] Waiting for simulator to connect on TCP po

[2020-12-23 06:43] ahmed-elsaharti commented on #3213
What is the port on line 10 of the takeoff-land example script?

[2020-12-23 06:50] ahmed-elsaharti commented on #3213
If its `udp://:14540` change it to `udp://:14550`

[2020-12-23 08:41] lovettchris commented on #3200
Oh, hmmm, interesting, I was getting a fatal compile error when cooking assets of the Neighborhood environment because BP_LevelLoadButton.uasset was unused.  Without this asset I was able to cook the environment (meaning File/Package Project/Windows/Windows (64bit)) with the asset I get this fatal error:
[code]

[2020-12-23 12:24] yadonskov commented on #1708
I also use vnc on remote ubuntu 18.04, same error, above suggestions didn't work for me

[2020-12-23 14:52] skykim0609 opened #3245 "How to avoid decrease in image response rate when the unreal window is not active?"
## Question
### What's your question?

Hello. I am currently using airsim in Computer vision mode with versions below, and the problem is when the simulation is running and Unreal Editor window is not currently active, the image response of the Simulator decreases significantly. I know this is some sort of way to save computer resource, but I am trying to subscribe to image topics published via ai

[2020-12-23 16:46] ahmed-elsaharti commented on #3245
Hi @skykim0609 , This mainly is an Unreal Engine 'feature'.
Try the solution shown [here](https://answers.unrealengine.com/questions/145958/huge-framerate-drop-when-game-window-unfocused-454.html) and let us know if it solves the issue 😊

[2020-12-23 17:03] ostwind commented on #3208
Hi ahmed,

Thanks for your help. That looks like a viable solution.

I'll close this issue for now.

[2020-12-23 17:03] #3208 closed

[2020-12-23 19:31] #3245 closed

[2020-12-24 04:24] AIKUUM commented on #3243
Hi @ahmed-elsaharti, even for fixed values of X,Y,Z, the drone(s) land in different areas in LandscapeMountains environment every time I open the environment. This is what i have seen for both precompiled version and build version.

[2020-12-24 05:13] saihv commented on #3243
@AIKUUM Out of curiosity, could you please try this (old) binary of Landscape Mountains and check if the issue you mentioned still happens?

https://github.com/microsoft/AirSim/releases/download/v.1.2.2/LandscapeMountains.zip

[2020-12-24 05:16] saihv commented on #3200
Huh, interesting. Looks like the internal links in the options menu were
broken even before this commit then.

I restored the asset and fixed the broken links in
https://github.com/microsoft/AirSim/pull/3240 and it seems like packaging
is working (according to CI).

On Wed, Dec 23, 2020, 00:41 Chris Lovett <notifications@github.com> wrote:

[2020-12-24 05:17] AIKUUM commented on #3243
Hi @saihv, I even have the precompiled version of "landscapeMountains" whose link you have shared. For fixed values of (x,y,z) I had been facing the issue.

[2020-12-24 05:27] xxEoD2242 commented on #3243
@AIKUUM the binaries won't help.
Your problem is that there are multiple Player Start objects in the binaries. You need to build your own, delete all of them and have only 1 Player Start. Then recompile the binaries and it'll work the way you want

[2020-12-24 05:29] AIKUUM commented on #3243
Hi @xxEoD2242, The issue which I'm facing now is for built version of "LandscapeMountains". Can you tell me what the reason could be?

[2020-12-24 05:39] ahmed-elsaharti commented on #3243
@xxEoD2242 Interesting. I was not aware that one of the binaries had multiple playerstart objects. I can confirm that this is the case with the binary in release 1.3.1.
However, that doesn't seem to be the case with the binary @saihv linked to. I just tested it out and the drone spawned at the same point every time (I did 5 tests to be very specific).
All in all though, seems like a custom compila

[2020-12-24 05:43] lovettchris commented on #3200
Ok, if you've tested packaging works, then you should merge your PR then, thanks!

[2020-12-24 05:44] AIKUUM commented on #3213
Hi @ahmed-elsaharti, I tried exactly as you have suggested.

But I'm still getting these errors in PX4:
`
ERROR [sensors] Accel #0 fail:  TIMEOUT!
ERROR [sensors] Sensor Accel #0 failed. Reconfiguring sensor priorities.
WARN  [sensors] Remaining sensors after failover event 0: Accel #0 priority: 1
ERROR [sensors] Accel #0 fail:  TIMEOUT!
ERROR [sensors] Sensor Accel #0 failed. Reconfiguring sensor

[2020-12-24 05:52] ahmed-elsaharti commented on #3213
@AIKUUM as I mentioned, you need to do **ONE** of them or the other. What you did was that you changed both the control port and the port in mavsdk.

It should be either:
A. `udp://:14540` in the python script + `"ControlPort": 14570` in settings.json
**OR**
B. `udp://:14550` in the python script + `"ControlPort": 14580` in settings.json
for mavsdk to work

[2020-12-24 05:57] AIKUUM commented on #3243
Hi @saihv, I just assumed the binary to be from v1.3.1. I just checked for the version whose link you have shared for "LandscapeMountains". The issue which I was facing is resolved.

[2020-12-24 06:13] AIKUUM commented on #3213
Hi @ahmed-elsaharti, I followed procedure A. Execution of "takeoff_and_land.py" is successful. In PX4, I can also see takeoff detection and landing logs.
But at the same time in between the successful logs, I'm still getting errors in PX4:
ERROR [sensors] Accel #0 fail:  TIMEOUT!
ERROR [sensors] Sensor Accel #0 failed. Reconfiguring sensor priorities.
WARN  [sensors] Remaining sensors after failov

[2020-12-24 07:02] AIKUUM commented on #3213
Hi @jonyMarino, But I'm not sure about what parameters I need to consider to differentiate between 2 drones (IP address, port numbers etc). Can you suggest?

[2020-12-24 07:05] saihv commented on #3243
Tagging @jonyMarino for visibility: issues with latest binaries vs. old binaries of Landscape Mountains

[2020-12-24 07:13] ahmed-elsaharti commented on #3213
These are probably more related to #3236. As long as the flight is not affected I wouldn't think they're an issue. If you get an error that causes the drone to lose GPS and crash (I've been getting those recently with SITL) that would be problematic.

[2020-12-24 08:27] AIKUUM commented on #3213
Hi @ahmed-elsaharti, what changes can I make in "takeoff_and_land.py", so that both the drones takeoff, when 2 drones are configured in settings.json?

[2020-12-24 08:49] ahmed-elsaharti commented on #3213
@AIKUUM tbh I wouldn't really know since I haven't looked into it that much but this would be a very good question for the folks over at the [Mavsdk repo](https://github.com/mavlink/MAVSDK-Python). However, I do know you to set up two drones in SITL you'll need to run multiple instances of SITL in addition to setting them up in settings.json (ie: having two drones in settings.json but one SITL ins

[2020-12-24 09:34] AIKUUM commented on #3213
Hi @ahmed-elsaharti, I tried this in PX4 console:
$ ./Tools/sitl_multiple_run.sh 2
killing running instances
starting instance 0 in /cygdrive/e/PX4.Windows.Cygwin.Toolchain.0.8/PX4.Windows.Cygwin.Toolchain.0.8/home/PX4/Firmware/build/px4_sitl_default/instance_0
starting instance 1 in /cygdrive/e/PX4.Windows.Cygwin.Toolchain.0.8/PX4.Windows.Cygwin.Toolchain.0.8/home/PX4/Firmware/build/px4_sitl_defa

[2020-12-24 09:54] ahmed-elsaharti commented on #3213
Was airsim startedbafter this and was it able to connect to the px4 sitl instances?

[2020-12-24 10:12] AIKUUM commented on #3213
Hi @ahmed-elsaharti, I opened PX4 console first and did this:
![Screenshot (27)](https://user-images.githubusercontent.com/72294070/103081709-7ca30400-45fe-11eb-9dae-78919e6e6c40.png)

And then, I opened Blocks environment and these logs were present on the screen:
![Screenshot (25)](https://user-images.githubusercontent.com/72294070/103081760-99d7d280-45fe-11eb-86d5-f958e46a8ef7.png)

And then i

[2020-12-24 15:46] AIKUUM commented on #2884
Hi @GeneLYJ, Were you able to achieve the task? I want to do something similar to what you have done.

[2020-12-24 16:54] GeneLYJ commented on #2884
Hi @AIKUUM, unfortunately, I haven't created nor implemented yet. Since there's no API for wireless communication protocol then I think we will need to write it ourselves. Just only a rough idea of maybe using a formula like Friss Equation for the receiving strength and matrix for the routing table. Eg: A sending signal to the surrounding and any drones receive it with the minimal strength, respon

[2020-12-24 17:02] ahmed-elsaharti commented on #3213
What does your settings.json look like?

[2020-12-24 23:02] EdwinMeriaux commented on #3190
Ok so I tried it. But it does not work. I will try to modify the original file for the default drone. I will see if that works.

[2020-12-25 06:08] AIKUUM commented on #3213
Hi @ahmed-elsaharti, contents of settings.json:
`
{
 "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
 "SettingsVersion": 1.2,
 "SimMode": "Multirotor",
 "ClockSpeed": 1,
 "LocalHostIp": "127.0.0.1",
 "CameraDefaults": {
  "CaptureSettings": [
   {
    "ImageType": 0,
    "Width": 3000,
    "Height": 2000,
    "FOV_Degrees": 90,
    "AutoExposureSpeed": 100,
    "Au

[2020-12-25 06:45] AIKUUM commented on #3213
Hi @ahmed-elsaharti, There is one more issue which I forgot to mention yesterday. When I execute hello_drone.py (link:https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/hello_drone.py), sometimes the drone goes to specified location based on (x,y,z in code), sometimes the drone becomes unstable during the flight and doesnt go to the specified location. Even after the execution

[2020-12-25 17:20] rajat2004 commented on #3232
I'm not able to reproduce this error, the current latest Blocks release is working for me, the settings are correct.
From the script `run_airsim_image_binary.sh` you're using, I think you would have used the corresponding `download_blocks_env_binary.sh` script as well? That will download `v1.2.0` binary, which is very old and does not have ArduPilot support, you'll need to download the latest rele

[2020-12-25 17:26] rajat2004 commented on #3193
1. No, the Lidar works in 3D as well, set the Vertical FOV values as required, such as +/- 10. The pointcloud info can then be converted into the format required
2. A bug with `DrawDebugPoints` has been fixed in https://github.com/microsoft/AirSim/pull/2614, but this was after the last release, you'll have to use the latest master and build AirSim from source

[2020-12-25 17:33] rajat2004 commented on #3186
Sorry, completely missed this
Quite strange, and to confirm the car does move if the value is 0? I don't remember AirSim doing anything with the brake or even the other values itself, and it was just directly passed to the PhysX interface, but need to check

[2020-12-26 02:12] liang-tang commented on #3186
@rajat2004
From the results of my test, if the value is not 0(e.g 0.0001), the action is same as when the value is 1. I think brake is just controlled by true(not 0, enable brake) and false(0, disable brake).

[2020-12-26 09:35] AIKUUM commented on #1316
Hi @804476261, were you able to do this? I want to do something similar

[2020-12-27 08:16] litingzhen opened #3249 "NedTransform::toVector3r why not apply - to y?"
## Question
### What's your question?

Unreal World  Coordinate system: x is right of the screen，y is down of the screen, z is towards to user.
Global NED: x is right of the screen, y is up of the screen, z is back to user.
so (x,y,z) from UU to Global NED is (x,-y,-z).
why the code NedTransform::toVector3r not apply - to y?

### Include context on what you are trying to achieve

#### Context deta

[2020-12-27 19:20] ahmed-elsaharti commented on #3249
Hi @litingzhen , Firstly, the Unreal World Coordinate system you described is a standard [left-handed](https://www.evl.uic.edu/ralph/508S98/coordinates.html) coordinate system and the directions of the axes depend on how your viewport is oriented (although their directions relative to eachother are the same):
![image](https://user-images.githubusercontent.com/49626509/103177935-30e19c00-4844-11eb-

[2020-12-28 03:40] rohitmohan7 commented on #2621
Thanks @jonyMarino! I have started working on a pull request: https://github.com/microsoft/AirSim/pull/3250

[2020-12-28 03:46] wangwwno1 opened #3251 "[Bug Report] Conflict between msgpack 1.0.0 and the deprecated msgpack-python"
## Bug report

- AirSim Version: a0d4d0e9672900e6182aab5f6cb5b59a09a85509
- UE/Unity version: N/A
- autopilot version: N/A
- OS Version: N/A

### What's the issue you encountered?

https://pypi.org/project/msgpack-python/
When users install both msgpack and airsim they will have both **msgpack** and **msgpack-python** installed, which conflict.
Edit: After further examination, I find that this iss

[2020-12-28 06:25] ahmed-elsaharti commented on #3251
@wangwwno1 I tested this on a new machine and everything worked as expected when following [the docs](https://microsoft.github.io/AirSim/apis/) and installing `msgpack-rpc-python`
![image](https://user-images.githubusercontent.com/49626509/103193534-5c936f00-48a2-11eb-8e15-92e18bf7961b.png)

The error did appear when i tried to install `msgpack`. But its not what the docs recommend anyway.

[2020-12-28 06:29] wangwwno1 commented on #3251
@ahmed-elsaharti
Please install msgpack by `pip install msgpack==1.0.2` and try again.
`msgpack` and `msgpack-python` are two different packages, and the latter one is deprecated.

[2020-12-28 06:32] ahmed-elsaharti commented on #3251
@wangwwno1 it shouldn't matter (as far as the scope of Airsim goes) if either of those packages produces errors though as long as the one recommended in the docs works.

If you're trying to make this work just for airsim i would recommend uninstalling the packages mentioned below and installing msgpack-rpc-python which should work.

I'll also do some testing on one more machine to make sure the re

[2020-12-28 06:38] wangwwno1 commented on #3251
@ahmed-elsaharti
Thanks for your suggestion, but I need the [Ray](https://github.com/ray-project/ray) library to parallelize the data collection process and `msgpack-python` is conflict with it.
I resolve this issue by:
1. install msgpack-rpc-python in this PR msgpack-rpc/msgpack-rpc-python#23 and
2. Remove argument `pack_encoding` and `unpack_encoding` in `VehicleClient`, which locatetd in airsim

[2020-12-28 06:45] litingzhen commented on #3249
Thank you very much.

[2020-12-28 06:45] #3249 closed

[2020-12-28 10:15] eminem1984 opened #3254 "help needed! compiling error occurred during build.cmd under Unity directory"
Hi, i am wondering if anyone can help me on this issue - I pretty stuck in the building process of AirSim,  I am now inside of the Unity directory and tried to build the project, but then this error pops up:

Wrapper.vcxproj]

I tried to manually add the MavLinkCom.lib to the VS project as additional dependencies, but still got the same error. What have I missed?  Thanks a lot.

For your informati

[2020-12-28 10:53] MarvinKlemp opened #3255 "Is there a way of setting the Position of a vehicle while the simulator is running?"
## Question
### What's your question?
Is there a way of setting the GPS Position while the simulator is running?

### Include context on what you are trying to achieve
I'm trying to set a vehicle to different positions while the simulator is running. I did not find a method to set the position of the car other than restarting with a different settings.json (requires to restart the simulator each t

[2020-12-28 14:38] jonyMarino commented on #3243
Thanks, Sai! Answering the feature request, the other environments in the binaries are private, so we can not add their sources to the repository. If you still need them, you can download them from its provider.

[2020-12-28 14:46] alonfaraj commented on #3200
@saihv Any plans to merge it if packaging works?

[2020-12-28 14:49] jonyMarino commented on #3213
Hi @AIKUUM, can you open a new issue filling the bug report, please?

[2020-12-28 18:40] GilmarCorreia opened #3256 "How to enable Roadwetness, RoadSnow and RoadLeaf in a Custom Unreal Environment?"
## Question
### What's your question?

 How to enable Roadwetness, RoadSnow, and RoadLeaf in a Custom Unreal Environment?

### Include context on what you are trying to achieve

Hello developers community,

I'm trying to create a Custom Unreal Environment, it is working pretty well, but when I'm trying to enable Roadwetness, RoadSnow, or even RoadLeaf it doesn't seem to work. Is there any prop tha

[2020-12-28 20:14] #3200 closed

[2020-12-28 20:14] #3235 closed

[2020-12-28 20:32] ahmed-elsaharti commented on #3256
@GilmarCorreia were you able to get weather effects to work with the blocks environment or any of the binaries?

I've tested adding weather effects to multiple of the pre-built binaries (and a blocks binary built a week ago) but the F10 button doesn't bring up the weather menu anymore.
The weather menu shows up when running the sim using the UE editor but is blank:
![image](https://user-images.git

[2020-12-28 21:56] GilmarCorreia commented on #3256
Hello @ahmed-elsaharti, I'm facing the same problem. It seems that the weather widgets for UI are disabled and not showing when you hit F10. To enable it I'm using a python client to set the configurations for each weather parameter.

[2020-12-29 04:18] saihv commented on #3256
@ahmed-elsaharti That is likely because there was an error in the options menu blueprint, which #3240 was trying to fix. Could you perhaps try with the latest master?

[2020-12-29 05:07] uzgit opened #3258 "Segmentation images not appearing correctly from Blocks environment"
## Question
### What's your question?

Why do the Segmentation images that I am extracting from the Blocks sample environment appear just as normal (darker) RGB images? I am very new to AirSim/Unreal so I kind of assume I am doing something naive or overlooking something simple.

### Include context on what you are trying to achieve

I am trying to collect Scene and Segmentation images from an edi

[2020-12-29 05:42] ahmed-elsaharti commented on #3256
@saihv Oh wow! My apologies, I did NOT see that PR. (I had a feeling I was going to regret not testing the latest master earlier 😅)
On testing with the latest master and UE 4.25 (within the UE Editor):
![image](https://user-images.githubusercontent.com/49626509/103261207-40590600-4966-11eb-810a-15285fe04b75.png)

[2020-12-29 06:18] ahmed-elsaharti commented on #3258
Hi @uzgit , I did some testing with your script+settings but using simple flight instead of ArduCopter.
Firstly, the blocks environment doesn't contain an object with the name 'symbol_cube' (as far as I remember. There's a decent change I'm completely off here 😂).
From what I understood, I think you're trying to refer to the `TemplateCube` objects.
On changing `symbol_cube` in your script to `Temp

[2020-12-29 06:31] uzgit commented on #3258
Hi @ahmed-elsaharti, this is very close to what I want to do! I should have mentioned that I have added the object "symbol_cube" to the Blocks environment as a Basic->Cube Actor with a WhyCode texture. It is the center-top (slightly right) of my first 2 images. However, when I run the command with the regex that you have provided, and the additional "True" parameter for is_name_regex I still get a

[2020-12-29 06:51] ahmed-elsaharti commented on #3258
@uzgit Ah! I see what you're doing now.
I've added a Cube into the environment (the default name was Cube_2 so I just went with it) and changed `symbol_cube` in your code to `Cube_2`. Here is what I got:
![image](https://user-images.githubusercontent.com/49626509/103264213-ab5b0a80-496f-11eb-82fd-ae811b04ee81.png)
Not sure what the reason behind your results is but it could be the version thing yo

[2020-12-29 06:55] uzgit commented on #3258
@ahmed-elsaharti Alright, this is great info. I agree that what I'm getting doesn't seem to be a segmentation image at all. The segmentation image that you are getting is exactly what I'm looking for. It's very weird to me that it is working with the Neighborhood project and not the Blocks project. I will try recloning/recompiling soon. Thanks for testing it! Also, could you let me know your OS an

[2020-12-29 07:00] ahmed-elsaharti commented on #3258
@uzgit I actually forgot to ask, are you using the blocks environment within the Unreal folder of the repo or are you using a precompiled one (ie: one of the releases just like with the neighborhood environment).
Also, this was tested on Windows 10 with Python 3.8.2 and a brand new clone of the repo.

Hope this helps ^_^

[2020-12-29 07:06] uzgit commented on #3258
@ahmed-elsaharti I am using the Blocks environment at ./AirSim/Unreal/Environments/Blocks/Blocks.uproject of the AirSim cloned git repo (once the script ./install_run_all.sh is run). However, I have edited it to add the additional cube actor only. I am not using a precompiled one. Thanks for your effort! I will get back to you soon!

[2020-12-29 08:26] rajat2004 commented on #3255
[`simSetVehiclePose`](https://microsoft.github.io/AirSim/api_docs/html/#airsim.client.VehicleClient.simSetVehiclePose) might be what you're looking for, you can move the vehicle as required in the environment, and the GPS position will change accordingly.
The other interpretation of your issue would be to change just the GPS values, and not the position in the environment itself, which doesn't mak

[2020-12-29 10:12] AIKUUM opened #3259 "Execution "takeoff_and_land.py" with 2 instances in PX4 SITL"
## Bug report

System details: https://user-images.githubusercontent.com/72294070/102069277-90db4a00-3e23-11eb-8f71-d14e10181433.PNG
AirSim version (1.3.1)
Unreal version(4.25)
python version (3.8.3)

### What's the issue you encountered?
I had done this in PX4 SITL for 2 drones:
https://user-images.githubusercontent.com/72294070/103081709-7ca30400-45fe-11eb-9dae-78919e6e6c40.png

After that i ope

[2020-12-29 10:23] AIKUUM opened #3260 "Execution of "hello_drone.py" with PX4 in SITL"
## Bug report

System details: https://user-images.githubusercontent.com/72294070/102069277-90db4a00-3e23-11eb-8f71-d14e10181433.PNG
AirSim version (1.3.1)
Unreal version(4.25)
python version (3.8.3)

### What's the issue you encountered?

When I execute hello_drone.py (link:https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/hello_drone.py) with PX4 in SITL and AirSim, sometim

[2020-12-29 10:26] AIKUUM commented on #3213
Hi @jonyMarino, I have done, Links:
https://github.com/microsoft/AirSim/issues/3259
https://github.com/microsoft/AirSim/issues/3260

[2020-12-29 13:27] shashankyld commented on #1645
I have the same problem, cant use 2D lidar in Airsim! Any suggestions?

[2020-12-29 16:08] uzgit commented on #3258
So I have re-cloned and re-compiled the whole AirSim/Unreal repo. This is still the Segmentation image that I am getting:
![image_6](https://user-images.githubusercontent.com/14451567/103297358-0d5b5480-49f0-11eb-8a28-e9b379653982.png)

[2020-12-29 16:15] uzgit commented on #3258
By the way, Segmentation images appear correctly in the Africa world as well, but not in the Blocks world:
![image_6](https://user-images.githubusercontent.com/14451567/103297798-f2d5ab00-49f0-11eb-8d92-f1d188af9ab4.png)

[2020-12-29 17:38] ahmed-elsaharti commented on #3258
@uzgit try testing the precompiled Blocks environment from the releases section and see if it does the same thing. Also if u enable the 2nd subwindow in the environment by clicking the '2' button you should be able to see what the segmentation camera view looks like before running the script (this will help us understand if the script has anything to do with the behaviour)

[2020-12-29 20:36] saihv commented on #3256
@ahmed-elsaharti Thanks for checking!

@GilmarCorrea To answer your original question, enabling Road-related
weather features for custom worlds is actually a bit involved and would
have to be done for each map. The concept generally involves using an
additional material over the texture of the road (example: white layer for
snow) and dynamically adjusting the blending of this material with the roa

[2020-12-29 22:35] uzgit commented on #3258
If I run my script on the precompiled Blocks environment, I do get a proper Segmentation image, as below:
![image_1](https://user-images.githubusercontent.com/14451567/103318124-4f52bd80-4a25-11eb-8758-9d60b0fad33f.png)
Running it within the editor gives this still:
![image_1](https://user-images.githubusercontent.com/14451567/103318371-2da60600-4a26-11eb-8331-dc13bbc00102.png)

[2020-12-30 01:14] uzgit commented on #3258
I believe I have found/solved the issue, which is that I was using UE4Editor version 4.24. This is the version that AirSim natively downloads and installs via the scripts install_run_all.sh and install_unreal.sh. I re-cloned the AirSim repo and changed the git clone commands in those scripts to use the 4.25 branch of the Unreal Engine repo, i.e.
[code]
becomes
[code]
and now the Segmentation image

[2020-12-30 01:14] #3258 closed

[2020-12-30 03:06] rajat2004 commented on #3254
Is this happening when running `build.cmd` from the Unity directory? That would be strange, since it seems to working correctly on the Github Actions CI
Could you post the entire output? The above message would happen if there was a compilation failure earlier and hence it wasn't able to generate the library. Update AirSim to the latest master and try again

[2020-12-30 09:36] nikhil-sethi commented on #3183
Facing the same issue on Ubuntu 20.04 with the following error and some PhysX depreciation warnings.
AirSim v1.3.1, Unreal 4.26.0 (release)
[code]

[2020-12-30 10:27] AIKUUM commented on #1316
Hi @madratman, The script  https://github.com/Microsoft/AirSim/blob/master/PythonClient/multirotor/multi_agent_drone.py doesnt answer anything about communication between 2 drones

[2020-12-30 11:18] lknnnli opened #3264 "camera settings inside settings.json is not working, only default settings are loaded"
Hello everyone,

I tried to set up stereo camera with airsim, and tried to set my own baseline.
I followed the suggestions from
[1770](https://github.com/Microsoft/AirSim/issues/1770)
[1790](https://github.com/microsoft/AirSim/issues/1790)
to modify my settings.json file. I copied the settings.json provided inside [1790](https://github.com/microsoft/AirSim/issues/1790).
However, the camera setting

[2020-12-30 15:14] jonyMarino commented on #2955
Hi @AOS55! Thanks for the amazing work you are driving here! I think we can simplify something in your design. I don't know if there is a simple controller for JSBSim (like SimpleFlight), but it is integrated with the autopilots. So it would seem like a good idea to leave the control on the JSBSim side and leave AirSim alone with perception and reporting collisions. What do you all think?

[2020-12-30 15:20] ahmed-elsaharti commented on #3264
Hi @lknnnli , I just tested this out and got these results:

settings.json:
[code]

Test script:

[code]

Camera views with a baseline of 40m (exaggerated to make the effect visible):

![image](https://user-images.githubusercontent.com/49626509/103362635-23642600-4a7f-11eb-82d1-e38d73568857.png)

Script output:

![image](https://user-images.githubusercontent.com/49626509/103363046-c9179500-4a7f-11

[2020-12-30 15:32] xxEoD2242 commented on #1316
@AIKUUM What you're talking about, natively in AirSim, would require you writing servers and clients (ie how this works in the real world) into AirSim or building this through Python. If you want to do that, I'd recommend messaging the maintainers for helpful hints on where to start editing the source code.

Just think of the 2 drones as 2 different computers and then implement message passing how

[2020-12-30 21:23] GilmarCorreia commented on #3256
Hello @saihv!

Thank you for your explanation, after rebuilding my project with the unreal engine 4.25 the F10 menu is now showing. I will study more about blending material in road assets.

Thank you!

[2020-12-30 21:23] #3256 closed

[2020-12-31 01:23] lknnnli commented on #3264
Hi,  thank you for your kind reply, you are correct, it is because the camera name of  ImageRequest and  key inside setting.json are not matched. Thanks a lot for your help. It works.

[2020-12-31 04:08] AIKUUM commented on #1316
Hi @xxEoD2242, Can you suggest me some maintainers ?

[2020-12-31 05:51] AIKUUM opened #3266 "Communication model and OS model for drones in AirSim"
## What feature are you suggesting?
### Overview:

I can see almost all features in AirSim, but AirSim lacks a communication model for communication between 'n' number of drones and OS related data for drones during a simulation.

### Smaller Details:

A communication model can be built in python for communication between 2 drones in AirSim. For example after drone 1 captures 'n' number of images,

[2020-12-31 06:28] hturki opened #3267 "No pedestrians in City Environment 1.3.1"
## Bug report

- AirSim Version/#commit: 1.3.1
- UE/Unity version: N/A
- autopilot version: N/A
- OS Version: N/A

### What's the issue you encountered?

The City environment has moving cars and pedestrians in 1.2.2, but they seem to have vanished in 1.3.1 outside of some parked cars. Is this intentional / intended as a "fix" to https://github.com/microsoft/AirSim/issues/2461?

### Settings

### H

[2020-12-31 14:38] jonyMarino commented on #3266
Hi @AIKUUM! This is out of the project scope. AirSim is a simulator that aims to simulate the drone's perception (cameras and sensors). All the things you are asking for can be accomplished on the client-side. Incorporating them into AirSim would be just an example of how to use it. I think you should delve into ROS more and ask in that community how to simulate RAM and communication in a drone-li

[2020-12-31 14:38] #3266 closed

[2021-01-02 05:43] AngelTang190 opened #3269 "Noise in AirSim getMultirotorState() and IMU sensor"
## Question
### What's your question?

Is there noise in getMultirotorState() and IMU sensor readings for AirSim?

### Include context on what you are trying to achieve

If there is noise, how can I find it?

#### Context details

### Include details of what you already did to find answers

I tried searching for settings and I found a setting called "NoiseSettings", but I am not sure how to get th

[2021-01-03 14:38] zhoudacheng6 commented on #605
Hello，i want to know to get lidar data.I saw the getLidaData() function on the document, but I don’t know how to run it

[2021-01-03 14:40] zhoudacheng6 commented on #621
Hey bro，i want to know to get lidar data.I saw the getLidaData() function on the document, but I don’t know how to run it

[2021-01-04 07:49] Hi-Peng opened #3270 "Is there any SUV 3D model in AirSim Car simulator?"
I'm trying to develop robotics car using AirSim and i want to visualize the robot model through Rviz. Is there any robot model that i can use?

[2021-01-04 15:07] #2763 closed

[2021-01-04 15:32] #3106 closed

[2021-01-04 15:33] #3079 closed

[2021-01-04 15:37] jonyMarino commented on #3150
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2021-01-04 15:39] jonyMarino commented on #3150
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2021-01-04 15:39] #3150 closed

[2021-01-04 16:51] jonyMarino commented on #3254
Hi @eminem1984, and welcome!
Please, next time, fill the issue template.
It seems that you are trying to compile AirsimWrapper.sln. Can you use `build.cmd`  from the Unity directory only?

[2021-01-04 21:51] MarvinKlemp commented on #3255
Thanks that's exactly what I was looking for

[2021-01-04 21:51] #3255 closed

[2021-01-04 23:44] saihv commented on #3150
Please see https://github.com/microsoft/AirSim/pull/3209 for a way to generate 'global maps' as voxel grids.

[2021-01-04 23:54] tharindurmt opened #3272 "Depth camera-based lidar: A proposal"
## What feature are you suggesting?
**A depth camera-based lidar sensor**

### Overview:
I have been using standard AirSim lidar sensor for a while now and when it comes to simulating lidars with high point acquisition speeds (such as Velodyne VLP-16 which supports up to 300000 points per second), it's rather slow due to the fact that the ray casting happens in the CPU. As such, I came up with an

[2021-01-05 08:03] chickenbestlover commented on #3103
Hello, the problem happened to me as well. Did you find any solutions to this?

[2021-01-05 14:33] jonyMarino commented on #3259
Hi @AIKUUM! And what happens if you use one PX4 drone without using the script?

[2021-01-05 14:58] AOS55 commented on #2955
Hi @jonyMarino thanks a lot. Yes there is xml files for a lot of the aircraft that sets the gains for controllers defined inside JSBSim, [for example the c172x ap](https://github.com/JSBSim-Team/jsbsim/blob/master/aircraft/c172x/c172ap.xml). I have also found it useful to directly control the aircraft using a python script which I did for the [x8](https://github.com/AOS55/Fixedwing-Airsim/blob/mas

[2021-01-05 15:37] MoBaT commented on #2977
Also seeing this issue on:

AirSim Plugin: commit f36efa6f3ed0b496cc8f551f2b20349d164f51bb
UE: 4.25.3
OS: Ubuntu 18.04

[2021-01-05 15:54] MoBaT commented on #3232
@rajat2004 I updated Blocks to 1.3.1. When I run Unreal with the Blocks environment, I see error messages like these. I'm not too sure if it's affecting my startup. But it still did not work.

[code]

[2021-01-06 08:03] MiaoMiaoMeng opened #3276 "Some problem about the Unitydemo/carDemo"
https://github.com/microsoft/AirSim/blob/68ae8de7065d2225a1c211f656ec875ee2e622f6/Unity/UnityDemo/Assets/AirSimAssets/Scripts/Vehicles/VehicleCompanion.cs#L197

Hi, I have some question about this function, It seem like we didn't use this function.
So I try to annotation this part of code.
But when I try to run the  carDemo, the Editor will crash.
From the Log i found

Loaded scene 'Assets/Scenes/

[2021-01-06 09:52] AIKUUM commented on #3259
Hi @jonyMarino,
PX4 console contents:
![Screenshot (6)](https://user-images.githubusercontent.com/72294070/103754819-deb62d00-5032-11eb-93af-a8d40703360f.png)

Unreal engine screen:
![Screenshot (4)](https://user-images.githubusercontent.com/72294070/103754850-ed9cdf80-5032-11eb-8f93-ff467ee22e2a.png)

[2021-01-06 15:35] jonyMarino commented on #2955
Great! This development would have an incredible impact if it could be used for multirotors as well. Why is it that I don't see much work done in JSBSim for that? It is not the best option?

[2021-01-06 15:43] AOS55 commented on #2955
Thanks, yes certainly there are quite a few useful physics simulations included with JSBSim too such as heavier than air powered rotorcraft (helicopters), airships etc that I haven't looked at but I'm sure others would find useful.  My best guess as to why multi rotors haven't been extensively developed is probably age? I think JSBSim started in the late 90s or early 2000s and they just weren't co

[2021-01-06 17:23] #3232 closed

[2021-01-06 17:29] MoBaT opened #3279 "Adding a sensor to a VehicleType of ArduPilot causes it not to work"
## Bug report

- AirSim Version/#commit: v1.3.1-linux
- Unreal map: https://github.com/microsoft/AirSim/releases/download/v1.3.1-linux/Blocks.zip
- UE/Unity version: 4.25.1-0+++UE4+Release-4.25 518 0
- autopilot version: 2763ce0
- OS Version: Ubuntu 18.04

### What's the issue you encountered?

![image](https://user-images.githubusercontent.com/648536/103800310-df8a9700-5011-11eb-94db-3081e5f111a0

[2021-01-06 21:47] jonyMarino commented on #3183
Hi @nikhil-sethi! Can you try with this PR #3277, please? And give us some feedback?

[2021-01-07 00:29] rajat2004 commented on #3279
This is occurring due to the GPS and IMU sensors not being present in the settings, they are required for AP to work, see the settings on this page - https://ardupilot.org/dev/docs/sitl-with-airsim.html#using-lidar

If the `Sensors` block is present in the settings, only the specified sensors will be created since AirSim allows creating vehicles without any sensors as well. There's some discussion

[2021-01-07 00:36] rajat2004 commented on #2977
Will be great if someone can test #3278 and see if it fixes the problem

[2021-01-07 02:08] GimpelZhang commented on #3062
Hi all, when I used the ros wrapper, I had the same error began with:

Assertion failed: Index < GetMaxIndex() [File:Runtime/Core/Public/Containers/SparseArray.h]

(ubuntu 16.04, Unreal 4.24)

I did the following things:

* Under the Unreal folder, ran ./Setup.sh and ./GenerateProjectFiles.sh

* Under the AirSim folder, went back to a commit before Sep 3, and ran ./setup.sh and ./build.sh

Then th

[2021-01-07 08:37] nikhil-sethi commented on #3183
Hi @jonyMarino. Thank you for the reply. It doesn't seem to be working unfortunately and throws the exact same error. @zimmy87 Is there anything more I can do to test this? I tried a new clone and rebuild of AirSim. Should I try and rebuild Unreal as well or are there any smaller tests that I can carry out?

[2021-01-07 14:27] jonyMarino commented on #3183
Thanks for your test! Did you check out the PR, or you tested master?

[2021-01-07 15:34] jonyMarino commented on #2989
Hi @r2d2Proton! Of course, all contributions towards improving quality code are welcome. Sorry if there are times when we can not attend some pull request. It is not the general case. You can see all the PRs that we have merged since you opened this issue.

[2021-01-07 16:20] MoBaT commented on #3279
@rajat2004 Thanks for this info! This worked for me. I was under the assumption that IMU's and GPS would be on there by default.

[2021-01-07 16:20] #3279 closed

[2021-01-07 16:21] ahmed-elsaharti commented on #3260
Hi @AIKUUM , This seems to be a consistently recurring problem with PX4 SITL in Windows and Linux (in my testing at least). In my experience, it seems like some HilActuatorControlsMessage(s) do not get through causing the EKF estimate to eventually fall apart and the drone to just crash into the ground.

I'll be posting more testing images/video and maybe a more detailed bug report on this soon.

[2021-01-07 17:41] ahmed-elsaharti commented on #3276
Hi @MiaoMiaoMeng , it looks like this was added as a placeholder for camera distortion in e5967a0c8d7a980761776b6a08d40c6014ef11c1 of #3039

[2021-01-07 17:49] seanmcleod commented on #2955
In terms of JSBSim and multirotors take a look at the following - https://github.com/JSBSim-Team/jsbsim/issues/333

[2021-01-07 18:53] zimmy87 commented on #2928
Yes, what you're reporting is the expected behavior for the movebyvelocity() API and entering hover mode:

1. After the duration given in movebyvelocity() passes, the drone should enter hover mode
2. vx and vy are generally not expected to be 0 after a call to movebyvelocity().join() due to leftover inertia from the drone's movement
3. the hover mode will be interrupted by any new command to the d

[2021-01-07 19:16] zimmy87 commented on #3062
possibly related to #2012

[2021-01-07 19:18] zimmy87 commented on #2776
possibly related to #1009

[2021-01-07 19:19] zimmy87 commented on #2289
possibly related to #1009

[2021-01-07 19:20] zimmy87 commented on #1893
possibly related to #1009

[2021-01-07 19:20] zimmy87 commented on #1710
possibly related to #1009

[2021-01-07 19:22] zimmy87 commented on #1525
possibly related to #1009

[2021-01-07 20:23] jonyMarino opened #3285 "Integrate AirSim with other simulators to get a better physics engine for UAVs."
I've opened this issue to give more visibility to #3284.
Please join our discussion there!

[2021-01-07 20:55] nikhil-sethi commented on #3183
I checked out the PR by fetching changes and creating a new branch. Verified the changes (they were very small in this case) and ran the editor with Blocks.uproject at the command line.

[2021-01-08 02:28] MiaoMiaoMeng commented on #3276
Thx for your help@ahmed-elsaharti,
I read the part of code in e5967a0, but in this part:

        private static bool SetDistortionParam(string cameraName, string paramName, float value, string vehicleName) {
            var vehicle = Vehicles.Find(element => element.vehicleName == vehicleName);
            return vehicle.VehicleInterface.SetDistortionParam(cameraName, fov_degrees);
        }

the

[2021-01-08 04:14] MiaoMiaoMeng commented on #3276
I read the src in this morning and set a try catch in Reset() function, from the result I think that Vehicles can't Find the element with 'vehicleName'

private static bool Reset(string vehicleName)
        {
            try
            {
                var vehicle = Vehicles.Find(element => element.vehicleName == vehicleName);
                vehicle.VehicleInterface.ResetVehicle();

[2021-01-08 04:46] TomoCoder123 opened #3288 "Airsim Only Performing Step Every Few Seconds"
## Question
### What's your question?
How do I speed up the steps in Airsim? (new to Airsim)

### Include context on what you are trying to achieve
I am not sure how many steps Airsim is supposed to perform every few seconds but because the steps are going so slow, my AI is unable to detect collisions. This is the case because it collides into an object and then the collision goes off but a step i

[2021-01-08 04:49] ahmed-elsaharti commented on #3276
My understanding is that camera distortion hasn't been implemented in Unity yet. I could be wrong though since I barely looked into the code within the PR. @saihv would probably be able to answer this better than me.

[2021-01-08 06:18] ahmed-elsaharti commented on #3288
Not entirely sure if you're referring to the simulation clock or the API call speed when saying steps.
If you're referring to the simulation clock, you could slow down or speed up the sim clock using `ClockSpeed` in [settings.json](https://microsoft.github.io/AirSim/settings/) (for example, with a clock speed of 0.25, 1 real-life second = 0.25 simulation seconds. ie: more calculations per real lif

[2021-01-08 16:03] lucafei commented on #1370
hi, does it have any information about infrared camera implementiert in custom environment?

[2021-01-09 09:02] bimadrd commented on #2693
how i could to modify level set control client, where is it?
and how i could get sensor data APIs of the car, could you give some step please?

[2021-01-09 18:36] #3190 closed

[2021-01-09 18:37] #3173 closed

[2021-01-09 18:38] #3144 closed

[2021-01-09 18:38] #3140 closed

[2021-01-10 03:21] TomoCoder123 commented on #3288
In the case of my project which is using reinforcement learning, I am pretty sure I am referring to API because when I put a print statement into the step function, it printed out every 4 seconds so I am not sure how to speed that up.

[2021-01-10 03:34] ahmed-elsaharti commented on #3288
There's a good chance the delay is due to something within your function rather than the API call since when I tested this by calling getMultirotorState (as an example) multiple times in a row, the timestamp difference was ~0.003s

What API are you calling in your function?

[2021-01-10 04:04] TomoCoder123 commented on #3288
We are calling several APIS including self.drone.getMultirotorState().kinematics_estimated.linear_velocity and self.drone.moveByVelocityAsync.

[2021-01-10 04:30] ahmed-elsaharti commented on #3288
So I just tested this using:
[code]
and this printed the linear velocity vector with a time difference of 0.00199s (I did the test this way to see the actual delay in execution rather than the messages' timestamp difference).

The only way I was able to get it to stop for 4 seconds before printing the next line was to have the duration argument of the `moveByVelocityAsync` set to 4s (as shown abov

[2021-01-10 04:37] TomoCoder123 commented on #3288
I believe that was the reason. I copied the file drone_env and modified that so we did not have a full understanding of the code. Thank you so much, I really appreciate it.

[2021-01-10 04:39] TomoCoder123 commented on #3288
Yep it was the fix, thanks again.

[2021-01-10 05:06] ahmed-elsaharti commented on #3288
Glad it fixed the problem :D
In general, calling join() holds the execution of the code until the particular API task being called is complete.
If you've got any other issues we're all here to help ^_^

[2021-01-10 06:41] AIKUUM commented on #3259
Hi @jonyMarino, What could be the reasons behind these issues?

[2021-01-11 08:21] CoolCoder54323 opened #3291 "Airsim crash while training"
## Bug report

- AirSim Version/#commit: 1.3.1
- UE/Unity version: 4.25.4
- OS Version: windows 10

### What's the issue you encountered?
The simulation crashes after any amount of training time, could be 2k steps or 100k. It gives this error:
![image](https://user-images.githubusercontent.com/29154547/104158700-e4599d00-53bb-11eb-9611-a329f727bfe7.png)

### Settings
{
  "SeeDocsAt": "https://gith

[2021-01-11 11:57] edwardjan opened #3292 "No Transmission Towers in Landscape Mountains Unreal Environment"
## Question
### What's your question?

I've been following the provided tutorial for RL with Quadrotor in https://microsoft.github.io/AirSim/reinforcement_learning/.
I proceeded to download and create a project in using the Landscape Mountains Unreal Environment.

However, the Unreal Environment doesn't seem to have transmission towers. Do they have to be added in? Or is there an environment with

[2021-01-11 14:49] jonyMarino commented on #2955
Thanks, @seanmcleod! I opened a discussion about integrating with other simulators here: #3284. It would be great if anyone can join.

[2021-01-11 16:15] alberto1995 opened #3293 "IMU Kalibr parameters for AirSim"
## Question
### What's your question?
Hi everyone,
I'm trying to run some VIO algorithms (Open-VINS and VINS-Mono) using a rosbag recorded with the drone of AirSim. I'm here to ask if someone knows, and can share, IMU noise parameters in [Kalibr](https://github.com/ethz-asl/kalibr/wiki/IMU-Noise-Model) format.

### Include context on what you are trying to achieve

I would like to run VIO algorith

[2021-01-11 19:57] david9705 opened #3294 "Build environment error : LNK1181: cannot open input file 'rpc.lib' (VS2019, Unity)"
## Bug report

- AirSim Version/#commit:  Latest Version AirSim download for github
- UE/Unity version: Unity 2019.4
- autopilot version: N/A
- OS Version: Windows 10
- Visual Studio 2019 Community

### What's the issue you encountered?

build environment error
I follow the following website suggestion and fix all the bug except the last bug (**cannot open “rpc.lib”**)

https://blog.csdn.net/yldmk

[2021-01-11 21:02] jonyMarino commented on #3269
Hi, @AngelTang190! Thanks for your question. The NoiseSettings are for the camera.  But I can see searching through the code that there is noise concept on different sensors:
https://github.com/microsoft/AirSim/blob/f423d9f5a4a0d0f4fb9a2e4ddb75251040e88f81/AirLib/include/sensors/distance/DistanceSimple.hpp#L25-L26
https://github.com/microsoft/AirSim/blob/f423d9f5a4a0d0f4fb9a2e4ddb75251040e88f81/Ai

[2021-01-11 21:15] jonyMarino commented on #3291
Hi @CoolCoder54323! Can you provide more details on how you are training the drone so we can reproduce the issue?

[2021-01-11 21:26] CoolCoder54323 commented on #3291
I am using the rl files that came with airsim I modeified the dron_env in airgym and made a custom file to run it called dronetrain
I also moved airgym into pythonclient/multirotor and that is all the changes I made.

Drone_Env:
[drone_env.txt](https://github.com/microsoft/AirSim/files/5798413/drone_env.txt)

DroneTrain:
[DroneTrain.txt](https://github.com/microsoft/AirSim/files/5798419/DroneTrain

[2021-01-11 22:31] CoolCoder54323 commented on #3291
One more thing to add. It usually happens when I click into unreal engine after being tabbed out and interact with it, but not always it happened one time when I already had UE in focus and I was away from my computer. Hope this helps!

[2021-01-12 07:32] rajat2004 commented on #3294
I believe you need to use the Developer Command Prompt instead of the x86 Native Tools one

[2021-01-12 08:36] david9705 commented on #3294
@rajat2004  Developer Command Prompt cannot solve the problem. Thanks

[2021-01-12 10:43] rajat2004 commented on #3294
That's pretty strange, Unity build is working on Github Actions CI atleast, which is using the Developer Command Prompt
The error is occuring when running `build.cmd` correct? Could you post the entire output in text format if possible?
I'll also try it out when back on a Windows machine

[2021-01-12 12:59] david9705 commented on #3294
Yes, the error is occuring when running `build.cmd`
<br> the follow is entire output and  use **x86 Native Tools**

<br><br> <br>

C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\AirSim\Unity>build.cmd

C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\AirSim\Unity>REM //---------- copy binaries and include for MavLinkCom in deps ----------

C:\Program Files (x86)\Microso

[2021-01-12 15:31] palejana opened #3296 "Tiox91@gmail.com"
## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

[2021-01-12 16:48] ahmed-elsaharti commented on #3294
@david9705 It looks to me link the guide you're using misses the step of building Airsim using `build.cmd` __under the Airsim main directory__ (ie: going to the Airsim directory with the developer command prompt and running build.cmd) . Try following [this guide](https://microsoft.github.io/AirSim/Unity/) and see if the problem persists.

[2021-01-12 16:57] #3296 closed

[2021-01-12 19:31] CoolCoder54323 commented on #3291
@jonyMarino Were you by any chance able to reproduce the error.

[2021-01-12 19:44] jonyMarino commented on #3276
Yes, that is correct; the programmable camera distortion was not implemented for Unity.

[2021-01-12 19:48] #3288 closed

[2021-01-12 19:50] jonyMarino commented on #3288
Hi, @TomoCoder123! And Welcome! I'm glad that @ahmed-elsaharti helped you solve this!

[2021-01-12 19:58] jonyMarino commented on #3292
Hi @edwardjan! and Welcome! The Landscape Mountains environment in 1.3.1 doesn't have power lines. But the one in 1.2 has it. So, try with the binary from that version and tell us if you get another issue (you will not be able to use the new API methods that were added since 1.2)

[2021-01-12 20:09] jonyMarino commented on #3131
Hi @sugawaradaisuke! And Welcome! Rajat answer is correct so let us know if you still have any issue.

[2021-01-12 20:09] #3131 closed

[2021-01-12 20:13] jonyMarino commented on #3005
Hi @shkim1030! can we close this issue, or do you still have it?

[2021-01-12 20:14] david9705 commented on #3294
Hello, @ahmed-elsaharti   [this guide](https://microsoft.github.io/AirSim/Unity/) tell use `build.cmd` in the **AirSim\Unity directory**

[2021-01-12 20:18] ahmed-elsaharti commented on #3294
Hi @david9705, this is the section i'm refering to:
![image](https://user-images.githubusercontent.com/49626509/104367870-01d45700-54e1-11eb-82dc-1555718804ca.png)

[2021-01-12 20:23] jonyMarino commented on #3293
Hi @alberto1995! And welcome! I think you are asking for a feature request to add  IMU noise parameters in Kalibr format, that we do not have.

[2021-01-12 20:32] ahmed-elsaharti commented on #3294
tbh at this point I would recommend just recloning the repo and starting from scratch while following the official guide. I'm trying to figure out what issue your prompt is having with the download_install section but with no luck.

[2021-01-12 20:37] david9705 commented on #3294
@ahmed-elsaharti  Thanks your suggestion. I'll recloning the repo later and report the result in this issue.  I guess the x64 command prompt maybe relevant.

[2021-01-12 20:39] saihv commented on #3291
@CoolCoder54323 Could you please run the game in DebugGameEditor mode (in Visual Studio), and show a screenshot of the call stack that appears in the bottom right when the crash happens?

[2021-01-12 21:10] CoolCoder54323 commented on #3291
Ok, no problem my take a few hours considering when it crashed in the past. Kind of annoying though because I remember looking at that and for some reason, I didn't screenshot it.

[2021-01-13 02:54] edwardjan commented on #3292
Thank you for the response. I was able to get the drone up and running. For any other people with the same issue, you will need Python 3.6 since CNTK is needed and it can't be installed in Python 3.7 and onwards.

I think we can close this query, thanks again.