[2021-08-15 10:22] brunopinto900 commented on #3962
First of all, the calls client_->enableApiControl and arm must be commented, because the control is now ensured by PX4 SITL, right now i can see the topics names on Rviz, however images are not being published.

The error now is:

Exception raised by the API: rpclib: client error C0002: Function 'simSetCameraPose' was called with an invalid number of arguments. Expected: 4, got: 3

My AirSim is th

[2021-08-15 10:37] racheraven commented on #480
@sytelus

What should I do if I fall into the 2nd kind of error when packaging a project for Linux on a Windows computer?
I am currently using a 4.25v UE4 and the latest version (v1.5.0) of airsim.

[2021-08-15 10:57] brunopinto900 commented on #3962
Rebuilt AirSim on windows. Its now working. Must been the wrong version.

[2021-08-15 10:57] #3962 closed

[2021-08-15 22:42] EdwinMeriaux opened #3963 "./build.sh cmake error"
Hi!

So I installed Airsim on a new computer recently and I keep getting the following error when I am working on the rotor params of the drone and using build.sh:

+ debug=false
+ gcc=false
+ [[ 0 -gt 0 ]]
+ RPC_VERSION_FOLDER=rpclib-2.3.0
+ '[' '!' -d ./external/rpclib/rpclib-2.3.0 ']'
+ '[' -d ./cmake_build ']'
++ which cmake
+ CMAKE=/usr/bin/cmake
+ false
+ build_dir=build_release
++ uname
+ '

[2021-08-16 09:09] sagacious-cao opened #3964 "When I use a customer vehicle model.The wheels and car body are scattered."
## Question
### What's your question?

When I use a customer vehicle model.The wheels and car body are scattered. I have set the right Bone.
### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

[2021-08-16 17:25] a-tab-a commented on #3960
Thank you @rajat2004 for replying! It helps a lot! I do require some help doing this, will post as I go!

[2021-08-17 07:22] ale99viv commented on #3931
Thanks a lot @jonyMarino ! This work perfectly

[2021-08-17 16:25] #3931 closed

[2021-08-17 20:10] jonyMarino commented on #1261
https://microsoft.github.io/AirSim/settings/#external-cameras
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-17 20:10] #1261 closed

[2021-08-17 21:07] TugayArslan opened #3967 "Adding Wheel/Tyre Intelligence to AirSim Vehicle Simulation"
## What feature are you suggesting?
### Overview:
I suggest a Wheel Speed Sensor - known as ABS Sensor, individual tread wear configuration per tyre including simulation of tread wear, and tyre pressure simulation.

### Smaller Details:
It shall report tooth count values per wheel position. WSS manufacturers have a different number of tooth counts values and wrap overvalues that are transmitted on

[2021-08-18 06:48] rolanvc-upd commented on #1986
I have the same issue

[2021-08-18 10:14] sunilhoho opened #3968 "Using object, instead of mesh name"
## Question
### What's your question?

Hi. I'm trying to get segmentation images from the AirSimNH environment.

To assign a specific color, I want to know all mesh names in the AirSimNH environment.

So I've tried to use **_self.MeshPositionVertexBuffersResponse()_** but it takes a lot of time and fails.

So I'm trying to use **_self.simListSceneObjects()_** to get object and use **_self.simSetSe

[2021-08-19 03:16] shyamalschandra opened #3971 "The Mac Instructions with the opening Blocks.xcworkspace doesn't build nor run so I cannot run the simulator with the HelloCar project."
## Bug report
- AirSim Version/#commit: 19fea1eac55531c5d5d6ebd91c8101f330f3e549
- UE/Unity version: 5.0.0 Early Access 2
- autopilot version: N/A
- OS Version: macOS Big Sur 11.5.2

### What's the issue you encountered?

The Blocks.xcworkspace doesn't work, build, nor run.

<img width="444" alt="Screen Shot 2021-08-18 at 10 11 44 PM" src="https://user-images.githubusercontent.com/9545735/13000196

[2021-08-19 04:39] digiwang opened #3972 "rpclib: client error C0002: Function 'simGetImages' was called with an invalid number of arguments. Expected: 2, got: 3"
## Bug report

- AirSim Version/#commit: **1.5.0/19fea1eac55531c5d5d6ebd91c8101f330f3e549**
- UE/Unity version: **UE 4.26.1** *(since my initial post, keeping everything else fixed, I have tried to run the below code with the release versions of **UE v4.26.0** and **v4.26.2**)*
- autopilot version: **N/A**
- OS Version: **Ubuntu 18.04**

### What's the issue you encountered?

I was trying to see i

[2021-08-19 13:50] lyvelyte commented on #3972
I am also having the exact same issue. This is what prompted to make a post in the discussion board requesting software versions because I suspected it may be a library version issue.

I am using Windows 10 x64 with python 3.7.11. I've tried UE 4.25 and 4.26.

[2021-08-19 14:38] digiwang commented on #3972
@lyvelyte, I suspect the same thing. FYI, I updated my initial post to include information that, *keeping all else fixed*, I also tried running the above code against the release versions of UE v4.26.2 and v4.26.0, but still no go for me. Unfortunately, I cannot go back to UE v4.25.0 as my custom environment uses functionality that was introduced in UE v4.26.0 or I would test with that too.

I am

[2021-08-19 16:15] jonyMarino commented on #3972
Hi! this is a dup of #3950. You need to use the same version for the AiSim client and server.

[2021-08-19 16:32] jonyMarino commented on #1026
Answer: https://github.com/microsoft/AirSim/issues/3855#issuecomment-874984693
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-19 16:32] #1026 closed

[2021-08-19 16:35] jonyMarino commented on #1740
See comment on the latest release please

[2021-08-19 16:35] #1740 closed

[2021-08-19 16:36] jonyMarino commented on #2099
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-19 16:36] #2099 closed

[2021-08-19 16:39] jonyMarino commented on #2439
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-19 16:39] #2439 closed

[2021-08-19 16:45] #2916 closed

[2021-08-19 16:46] jonyMarino commented on #2957
Now we are using v4.25
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-19 16:46] #2957 closed

[2021-08-19 16:48] #3108 closed

[2021-08-19 16:50] jonyMarino commented on #3414
This should be fixed in the latest version.

[2021-08-19 16:50] #3414 closed

[2021-08-19 17:09] digiwang commented on #3972
@jonyMarino, omg... I could have sworn I checked that, but obviously there was a flaw in my workflow because now the issue is resolved. Thank you so much!

**My New Workflow:**
1. Build UE
2. In Airsim (server) root repo folder, run `git checkout <tag>`
3. In Airsim (server) root repo folder, run `clean_rebuild.sh`
4. In Airsim (server) root repo folder, run `rsync -a --delete Unreal/Plugins path/

[2021-08-19 18:58] #3972 closed

[2021-08-20 00:00] emersonjr commented on #3923
hey @p00uya ! i've basically trying to accomplish the same thing you're trying as well, did you have any progress on rendering results on the subwindows camera?

[2021-08-20 10:08] Zartris commented on #3960
@jonyMarino, what is wrong with the latest release?
I am doing something similar and would love to know if it is my code that is not functioning correctly or if it might be the case of airsim doing something funny :)

In my case, we think the drone is stabilizing too well, so we are trying to implement "wakes" of wind to push it at some times and we are using the wind API to do the pushes.

[2021-08-20 12:18] jonyMarino commented on #3960
@Zartris  It was a blocking issue. So if it doesn't present to you don't worry. If You want to use current Master commit we are going to use it for releasing version 1.6

[2021-08-20 13:21] Zartris commented on #3960
@jonyMarino: Ahh I have no such problem ;) Thanks for the quick answer

[2021-08-20 16:28] andrewjong commented on #2753
@madratman thank you fellow AirLabber!

[2021-08-20 18:29] rajat2004 commented on #3971
I don't think 5.0 will work with AirSim currently, PhysX has been removed so the Car vehicle will need to be adapted to either the Chaos engine or maybe the FastPhysicsEngine if someone's up to it

[2021-08-22 07:48] #3895 closed

[2021-08-22 08:06] hansen-cpu opened #3975 "Does the velocity in AIRSIM have parametric uncertainties?"
## Question
### What's your question?

Does the velocity in AIRSIM have parametric uncertainties?

### Include context on what you are trying to achieve

Velocity is a common parameter used to give orders to drones. I wonder if there are parametric uncertainties on velocity?

#### Context details

For example, I command the drone to move at a speed of 1 m/s, maybe using the function

[2021-08-24 03:14] RinR0000 opened #3981 "The drone rises on its own. Help me, please."
When the drone is moved back and forth or left and right using the API, it will rise by itself after the movement is completed.

I don't want it to go up.
Is there a way to fix it?

[2021-08-24 05:35] p00uya commented on #3923
hey sorry I get confused completely, i don't know where the image frames
saved
if i can access to them is it possible to Transfer to an array and then
process  on them

On Fri, Aug 20, 2021 at 4:30 AM Emerson Junior ***@***.***>
wrote:

[2021-08-24 16:37] jonyMarino commented on #3975
Hi @hansen-cpu! Any flight controller will try to approximate the set values. In the case of SimpleFlight (but you can also use PX4 or Ardupilot), a PID controller is used. So it is not something random, and it is not something fixed, it is something realistic to how a drone behaves in reality

[2021-08-24 16:40] jonyMarino commented on #3981
Hi, @RinR0000! If you are using SimpleFlight, you can try PX4 to get different behavior for the drone. Is that suitable for you?

[2021-08-24 18:24] ArthurYdalgo commented on #1949
I don't know. All I did was try both of them because I noticed one of the example codes that I used was using a different from the specified in the documentation.

[2021-08-24 18:48] rajrana22 commented on #1949
I figured out a solution. I used the flag "-RenderOffscreen" when running binaries/the UE4 Editor, and it worked perfectly.

[2021-08-24 21:32] RyanFoward opened #3984 "CAN'T CONNECT WITH TWO DRONES"
Hello Sai! My name is Ryan, and I'm on a university team of autonomous drones, the  Black Bee Drones!
We are using mavsdk and PX4 to make a simulation with drones, but, in this project, we need to put three drones in AirSim, and run they using a code writed in Python, through mavSDK! I'm using this settings:
[code]
But we're not getting any answer,  just the PX4 waiting to connect with the drones.

[2021-08-24 22:14] RyanFoward commented on #3984
Edit: I got to connect one drone, but when I open another terminal, to run PX4 again to try to connect with the second drone, the first instance of PX4 close, how can I connect both drones?

[2021-08-26 11:11] kaesesahnetorte opened #3987 "Tutorial PX4 SITL usage inaccurate?"
## Question
### What's your question?
Is there an error in this tutorial?
https://microsoft.github.io/AirSim/px4_multi_vehicle/

Section in settings.json file:
"Vehicles" -> "Drone2" -> "ControlPortLocal"
"Vehicles" -> "Drone2" -> "ControlPortRemote"

### Include context on what you are trying to achieve
I am using AirSim with PX4 SITL with multiple drones.
I am trying to retrieve positional data

[2021-08-28 14:57] BrenoPimentel commented on #2965
Hello everyone
Did you guys solve it?

[2021-08-28 15:14] BrenoPimentel opened #3993 "Cannot use AirSim camera API"
I'm using AirSim to my drone simulations. Installed PX4 and after that, my scripts does not work properly. Can't even enable API control, but what i really need use is AirSim camera API, and it is not working.
Get error trying to run the following code:
`
import airsim
import os
import cv2
import numpy as np

# connect to the AirSim simulator
client = airsim.MultirotorClient()

while True:
    pri

[2021-08-28 15:23] BrenoPimentel commented on #3993
here is my AirSim settings.json:
`{
    "SettingsVersion": 1.2,
    "SimMode": "Multirotor",
    "ClockType": "SteppableClock",
    "DefaultVehicleConfig": "PX4",
    "Vehicles": {
        "PX4": {
            "VehicleType": "PX4Multirotor",
            "UseSerial": false,
            "LockStep": true,
            "UseTcp": true,
            "TcpPort": 4560,
            "ControlIp": "localhost",

[2021-08-28 16:04] levicorpus0407 commented on #2965
It’s because the path of my config file contains non-English symbols… I created a new account of my pc and solved the problem. But I’m not sure if you have the same problem.

[2021-08-29 11:09] ProVival commented on #3057
I am facing with the same issue but still couldn't find how to find the port that simulation uses and the port that PythonClient is trying to connect, not or how to change those ports. I would be very happy if you can help me

[2021-08-29 13:25] rajat2004 commented on #3993
You're probably using the 1.5.0 release binaries with master or 1.5.0 Python package. Try using the 1.6.0 binaries, or if needed 1.5 binaries with 1.5 Python package

[2021-08-29 13:37] abuchnick opened #3994 "msgpackrpc.error.RPCError when running hello_drone.py and calling enableApiControl"
## Bug report

- AirSim Version/#commit: Airsim - 1.5.0
- UE/Unity version: UE - 4.25.4
- autopilot version: N/A
- OS Version: Win 10 Enterprise x64

### What's the issue you encountered?

Hello, I just finished building and installing airsim and want to use the python API for my project.
When trying to run hello_drone.py (which is part of the repo, under PythonClient/multirotor), I get the above

[2021-08-29 14:21] alonfaraj commented on #3994
Has the drone actually been spawned? Can you see it in Unreal?
I get an error using your `settings.json` because of the last comma after `"Multirotor"`

[2021-08-29 15:13] ppueyor commented on #3852
Hey guys!
Any insights about this bug?

[2021-08-29 15:40] abuchnick commented on #3994
Hey, thanks for your quick reply!
I guess this was a real problem haha, I fixed it and reinstalled & rebuilt the entire project, and now it works.
Thanks!

[2021-08-29 15:40] #3994 closed

[2021-08-29 15:41] abuchnick commented on #3994
Hey, thanks for your quick reply!
I guess this was a real problem haha, I fixed it and reinstalled & rebuilt the entire project, and now it works.
Thanks!

[2021-08-29 17:34] BrenoPimentel commented on #3993
Still doesn't work, I have update airsim package to 1.6.0 and downloaded binares 1.6.0, but even doing it, get the same error.

[2021-08-29 18:29] BrenoPimentel commented on #3993
Running airsim version 1.5.0 with 1.5.0 binaries i get the following error:
![airsim_error](https://user-images.githubusercontent.com/78705793/131261409-c4e39555-b7db-4c38-b2d1-00ec980013b1.png)

[2021-08-30 08:16] curious-energy commented on #3993
Hello, now I meet same thing when using 1.6.0 binaries(linux)，but win version is no problem.

issue in linux binaries: all cameras in airsim_ros_pkg don't work for me.

[2021-08-30 10:10] curious-energy commented on #3993
**Now I try 1.5.0 binaries(linux), all things is right!**

[2021-08-30 15:06] ppueyor commented on #3852
Hi again guys,

I found the bug that was causing that problem. It was an if that was just set for the gimbal stabilization mode in PIPCamera.cpp.

To fix it, it is as simple as to add the closing brackets to that line (281-286):

        gimbald_rotator_.Pitch = rotator.Pitch;
        gimbald_rotator_.Roll = rotator.Roll;
        gimbald_rotator_.Yaw = rotator.Yaw;
    }
    this->SetActorRelative

[2021-08-30 16:59] jonyMarino commented on #3852
Hi Pablo! yes, sure, a PR is welcome!

[2021-08-30 17:22] jonyMarino commented on #3993
Hi @BrenoPimentel, and welcome! What does "pip show airsim" returns to you?

[2021-08-30 19:57] Deepakgthomas opened #3995 "Unable to add a new camera in settings.json"
## How can I add a new camera in settings.json?

### When I add the following code, my Unreal Engine crashes. Perhaps there is a bug in my code and I will highly appreciate it if someone could kindly help me with the same.

#### Here's my code

[code]

[2021-08-30 21:00] jonyMarino commented on #990
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:00] #990 closed

[2021-08-30 21:01] jonyMarino commented on #1565
See the ExternalPhysics Engine
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:01] #1392 closed

[2021-08-30 21:01] jonyMarino commented on #1392
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:02] jonyMarino commented on #1648
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:02] #1648 closed

[2021-08-30 21:02] jonyMarino commented on #1735
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:02] #1735 closed

[2021-08-30 21:03] jonyMarino commented on #1747
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:03] #1747 closed

[2021-08-30 21:03] jonyMarino commented on #1825
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:03] #1825 closed

[2021-08-30 21:04] jonyMarino commented on #1829
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:04] #1829 closed

[2021-08-30 21:04] jonyMarino commented on #1680
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:04] #1680 closed

[2021-08-30 21:05] jonyMarino commented on #1939
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:05] #1939 closed

[2021-08-30 21:05] jonyMarino commented on #1956
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:05] #1956 closed

[2021-08-30 21:06] jonyMarino commented on #1700
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:06] #1700 closed

[2021-08-30 21:06] jonyMarino commented on #2030
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:06] #2030 closed

[2021-08-30 21:07] jonyMarino commented on #2006
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:07] #2006 closed

[2021-08-30 21:08] #2040 closed

[2021-08-30 21:08] #3987 closed

[2021-08-30 21:09] jonyMarino commented on #1447
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-08-30 21:09] #1447 closed

[2021-08-31 01:32] BrenoPimentel commented on #3993
hi, Version 1.6.0

[2021-08-31 08:00] alonfaraj commented on #3995
You should add position and rotation for your camera.
For example:
<details>
  <summary>settings.json</summary>

[code]
</details>

[2021-08-31 23:57] #3981 closed

[2021-09-01 05:05] zaeucu opened #3999 "Error on python API"
## Bug report

- AirSim Version/#commit: 1.5.0
- UE/Unity version: 4.27
- autopilot version: N/A
- OS Version: windows 10 64bit
- python 3.7

### What's the issue you encountered?

When i install python API by "pip install airsim", then there is a installing error on utils.py, like below,

        from .utils import *
      File "C:\Users\CW\AppData\Local\Temp\pip-install-wcrhvxg3\airsim_45065bee1

[2021-09-01 07:20] schissmantics opened #4000 "How to run the simulator on google colab?"
## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

[2021-09-01 07:43] zjlanhe commented on #506
dear danieto98,
i have an issue when i use your branch. could you give some suggestion?
I play it in UE with both mode(which is set in settings.json), muti cars and muti drones can normally displayed in UEEditor，it seems good.
but i don't do nothing ,just wait for a moment(sometimes one minute,sometimes several minutes), UEEditor will crash.
here is the log when crashed.  it's difficult for me to

[2021-09-01 16:14] #3995 closed

[2021-09-01 19:52] #1492 closed

[2021-09-01 19:53] jonyMarino commented on #1928
Now we have a tutorial for this.
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-09-01 19:53] #1928 closed

[2021-09-01 23:15] NickPerezCarletonUniversity opened #4005 "update_from_git.bat"
## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

[2021-09-02 16:57] NickPerezCarletonUniversity commented on #4005
Found the fix for it here: https://github.com/microsoft/AirSim/issues/1219#issuecomment-401883702

This step should be added in the Setup documentation.

[2021-09-03 12:32] asd3200asd opened #4010 "Multiple drone restrictions?"
## Bug report

- AirSim Version/#commit: is new
- UE/Unity version:v1.2.2 - Windows，v1.6.0 - Windows
- autopilot version:N/A
- OS Version:Windows

### What's the issue you encountered?

I'm updating a program for 23 drones to take off together. It worked well in the past environment (v1.2.2-Windows), but in the current environment (v1.6.0-Windows), the screen is very stuck. Is there any way to mak

[2021-09-04 10:21] RealBrandonChen commented on #3174
For anyone who meets this issue `AirsimWrapper.dll caused an Access Violation (0xc0000005) in module AirsimWrapper.dll at 0033:c694fac3.`  and get an instant crash on Unity activating, I solve this problem by deleting the settings.json and Unity automatically generates the default settings file. Because I had modified the settings.json before to test PX4 connection and the AirsimWrapper may have i

[2021-09-05 07:12] LLM1602 opened #4011 "socket error"
## Bug report

- AirSim Version/#commit:1.5.0-windows
- UE/Unity version:ue_4.26
- autopilot version:drone
- OS Version:windows10

### What's the issue you encountered?

when i run the dqn for drone to follow a random target,i get the error when the total_timesteps is 8100(the number can be others)

### Settings

<the settings.json>
{
  "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master

[2021-09-05 12:55] RinR0000 opened #4012 "When a drone with PX4 applied is moved using the API, it tries to return to the original location."
I am using PX4(SITL) with WSL2 as flight controller.

When I move the drone using the Python API, it tries to return to the original location after moving.

Why is this?

[2021-09-06 06:15] RinR0000 opened #4013 "Inertia causes it to move forward."
I am using the Python API to move the drone.
The drone does not stop at the location but moves forward due to inertia (flowing?) after being instructed by the API.

What should I do?
other API?Setting?

Flight Controller: simple_flight
API:moveByVelocityZBodyFrameAsync

[2021-09-06 09:30] #4013 closed

[2021-09-06 09:31] #4012 closed

[2021-09-06 09:33] RinR0000 opened #4014 "If you move the drone to the right or left diagonal (45° or 135°), the drone will rotate slightly in that direction."
If you move the drone to the right or left diagonal (45° or 135°), the drone will rotate slightly in that direction.

Why is this?

PX4(SITL,WSL2)
Python API: moveByVelocityBodyFrame

[2021-09-06 09:45] Tomakko commented on #3879
Hi, did you manage to resolve this issue?

[2021-09-06 10:24] alexvaca0 opened #4015 "Error when trying to build from docker"
## Bug report

- AirSim Version/#commit:
- UE/Unity version:
- autopilot version:
- OS Version:

### What's the issue you encountered?
Cloning into '/home/ue4/UnrealEngine'...
remote: Support for password authentication was removed on August 13, 2021. Please use a personal access token instead.
remote: Please see https://github.blog/2020-12-15-token-authentication-requirements-for-git-operations/

[2021-09-07 00:46] #4015 closed

[2021-09-07 08:03] alexvaca0 opened #4016 "Training your RL examples takes much more than simulation time..."
## Bug report

- AirSim Version/#commit:  latest, but airsim.__version__ returns error, cannot put it here then.
- UE/Unity version: latest
- autopilot version: N/A
- OS Version: Ubuntu18.04
I have a nvidia P-100, which I think is important to know as it's a fast and nice gpu and the issue is specifically related to how slow the simulation is working, which I think shouldn't happen on this type of

[2021-09-07 08:51] hipforth commented on #2369
NED to ENU :  I think it should be (x, y, z) -> (y, x, -z),  why  (x,y,z)->(x,-y,-z)?

[2021-09-07 22:09] ArthurYdalgo commented on #3267
same with 1.5.0 release

[2021-09-08 00:50] Rick-Weng commented on #3663
i have the same question of u, which made me sooooooo sad!
May i get the information about where i can find the " keep orign near'?
please~

[2021-09-08 03:01] LLM1602 commented on #4016
in this function
  def _do_action(self, action):
        quad_offset = self.interpret_action(action)
        quad_vel = self.drone.getMultirotorState().kinematics_estimated.linear_velocity
        self.drone.moveByVelocityAsync(
            quad_vel.x_val + quad_offset[0],
            quad_vel.y_val + quad_offset[1],
            quad_vel.z_val + quad_offset[2],
            5,
        ).join()
mayb

[2021-09-10 00:22] caesar84 opened #4019 "Drone falls off when spawning in costume made environment and scene looks far away from origin."
## Question
### I have a question about why my drone falls off when spawning in a costume-made environment whereas replacing the drone with the car works fine.

### I have imported a costume environment of a street in a city to Unreal engine and the settings were ok. tried to run a drone and after hitting play the drone falls off and goes down the road like it doesn't sense the pavement at all. wh

[2021-09-10 01:57] Astaxuqichao commented on #3870
i use Unreal 4.27, and encounter the same situation.

[2021-09-12 03:51] sakurayiannie commented on #3188
Hi! I think this code may solve your problem. https://github.com/microsoft/AirSim/blob/master/PythonClient/multirotor/sensorframe_lidar_pointcloud.py

[2021-09-12 04:05] sakurayiannie opened #4022 "How"
## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

[2021-09-12 10:18] RealBrandonChen opened #4023 "Get wrong coordinate matching in Unity by API control"
## Bug report

- AirSim Version/#commit: V1.6.0-Windows
- UE/Unity version: Unity 2020.3 LTS
- autopilot version: N/A
- OS Version: Windows 10

### What's the issue you encountered?

I build a Unitydemo as instructed in the doc and everytime I call the API function like `moveToPositionAsync(X, Y, Z)` or `moveByVelocityAsync`, the drone just moves to the position `(Y, -Z, X)` in Unity world coordin

[2021-09-13 02:13] caesar84 opened #4024 "Drone fails to detect collision whereas the car does in the same environment"
## Question
### I have a question about why my drone falls off when spawning in a costume-made environment whereas replacing the drone with the car works fine in the same exact environment.

### Sorry for multiple posting as I don't know if this or the question section is more appropriate.
I have imported a costume environment of a street in a city to Unreal engine and the settings were ok. tried

[2021-09-13 06:55] zhanghahah1993 opened #4025 "About Disparity question"
As I know, Disparity is calculated from the left and right images. Then, how do I get the Disparity obtained from the left camera alone? How can I get the Disparity generated by the specified two cameras?

[2021-09-13 08:32] RealBrandonChen commented on #4023
Try to use another PC and this is reproducible.
I wonder if the coordinate system is incorrect, how could the reinforcement learning reward function work [here](https://github.com/microsoft/AirSim/blob/master/PythonClient/reinforcement_learning/airgym/envs/drone_env.py)?

[2021-09-13 09:40] Tomakko commented on #2407
Any updates on getting the CityEnvion working under Linux?

[2021-09-13 13:26] jonyMarino commented on #4014
Hi @RinR0000! Can You provide the full code to reproduce the issue?

[2021-09-13 14:11] RinR0000 commented on #4014
@jonyMarino
Thanks for the reply.

I'm using Pygames to read the Xbox controller and control the drone.

I'm assigning the joystick tilt to X and Y and passing it to the Python API. ↓

Self.client.
self.client.moveByVelocityZBodyFrameAsync(x*(7),y*7,self.height,0.01,airsim.DrivetrainType.MaxDegreeOfFreedom,airsim.YawMode(is_ rate=True, yaw_or_rate=yaw)).join()
YawMode(is_ rate=True, yaw_or_rate=ya

[2021-09-13 22:16] NickPerezCarletonUniversity commented on #2369
@xxEoD2242 any progress on sharing your ROS wrapper code?

[2021-09-14 13:09] Tomakko opened #4029 "Weather widget not working when pressing F10"
## Bug report

- AirSim commit: 213bbd6
- UE/Unity version: 4.25
- autopilot version: N/A
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

I tried with the multiple Environments from v1.6 to open up the weather menu by pressing F10. Menu does not pop up.

### Settings

default settings

### How can the issue be reproduced?

1. Start Africa Environment `sh ./Africa_001.sh -windowe

[2021-09-14 22:16] caesar84 commented on #4024
@jonyMarino can you please just have a look at this, is it a bug?

[2021-09-15 01:17] jonyMarino commented on #4024
Hi @caesar84! You should check the collision settings for the floor inside the editor. @zimmy87 do you remember the exact settings that are needed?

[2021-09-15 02:17] caesar84 commented on #4024
@jonyMarino thank you very much for that note and waiting for @zimmy87 to help , hopefully. Sorry if tagging you was bit inappropriate but I have struggled to sort it out . Should I change the collision settings for the random cars also as the drone fails to detect a collision with them as well?. Finally, does it make sense to you that drone fails while the car detects the collision even it's exac

[2021-09-15 02:22] jonyMarino commented on #4024
No worries.
Take a look at this comment:
https://github.com/microsoft/AirSim/issues/3855#issuecomment-874984693

That was what i was refering to.

[2021-09-15 16:21] jonyMarino commented on #3993
The error is clearly for using a binary prior to version 1.6... check that please

[2021-09-15 17:44] #4019 closed

[2021-09-15 20:42] caesar84 commented on #4024
hi @jonyMarino, thank you very much It turns out ground and many buildings have no cillision. thanks alot.

[2021-09-17 09:16] zimmy87 commented on #3837
In your custom BP, have you attached any BP_PIPCamera components to the Body mesh? If that's the mesh that your custom BP is moving, you'll need to attach all BP_PIPCamera components to that one instead of instead of the Mesh root component. I can't currently tell how your custom mesh is configured because I'm getting an error when unzipping it:

[code]

[2021-09-17 09:38] zimmy87 commented on #3923
If doing processing on images obtained from the image APIs is too slow, an alternative option would be to implement whatever processing you want to do as a post process material then add an CaptureComponent to BP_PIPCamera and create an extra ImageType value for selecting the new CaptureComponent. An example of doing an edge detection algorithm is located [here](https://ferkizue.blogspot.com/2018/

[2021-09-17 16:30] #4024 closed

[2021-09-20 15:43] denmonz opened #4033 "Is there support for helicopter flight controllers (joystick / rudders)?"
## Question
### What's your question?

Is there support for helicopter flight controllers such as a joystick and rudders? The AirSim literature focuses primarily on controlling the drone via the API, Xbox controller (in-sim or through QGoundControl), or using an RC controller (through QGroundControl), however, I haven't seen any literature regarding helicopter flight controllers.

### Include cont

[2021-09-21 10:56] thomasTUK commented on #3758
Are there any news on this topic? Any suggestions?

[2021-09-21 16:03] xxEoD2242 commented on #2369
@NickPerezCarletonUniversity

I have been swamped with other projects. If you want to a swipe at it, check out my ROS wrapper:

[AirSim ROS Wrapper](https://github.com/Green-Team-Systems/AirSim/tree/vins_mono_setup/ros/src/airsim_ros_pkgs)

This assumes that you have the following in your settings.json file:

[code]

The way that this works is that it builds a thread for each image. So, you wanted

[2021-09-22 12:11] leimo2011 commented on #3361
same issue with mac os 11.2.2

+ debug=false
+ gcc=false
+ [[ 0 -gt 0 ]]
+ RPC_VERSION_FOLDER=rpclib-2.3.0
+ '[' '!' -d ./external/rpclib/rpclib-2.3.0 ']'
+ '[' -d ./cmake_build ']'
++ which cmake
+ CMAKE=/usr/local/bin/cmake
+ false
+ build_dir=build_release
++ uname
+ '[' Darwin == Darwin ']'
+ export CC=/usr/local/opt/llvm@8/bin/clang
+ CC=/usr/local/opt/llvm@8/bin/clang
+ export CXX=/usr/local

[2021-09-22 19:02] npotteig opened #4036 "Controlling Multirotor Drone in Python with an AirSim + PX4 SITL Setup"
## Question
### What's your question?

How do I get a drone to move in AirSim + PX4 setup using python scripts?

### Include context on what you are trying to achieve

I have already setup the latest versions of AirSim and PX4 SITL and I have written a simple python script to make the drone takeoff with client.takeoffAsync() and move with client.moveByVelocityZAsync() to a specific location. The d

[2021-09-22 20:48] npotteig commented on #4036
The issue was that Virtual JoyStick was not enabled in Application Settings in QGroundControl. Once I enabled that, the drone moved without issue.

[2021-09-23 01:28] #4036 closed

[2021-09-23 12:20] ppueyor commented on #3852
Hi Jony,

I created a new PR with this minor fix. PR #4037 .

[2021-09-23 12:21] #3852 closed

[2021-09-26 01:35] LittleTimeWxk commented on #3999
I meet the same problem.

[2021-09-27 05:32] LittleTimeWxk commented on #3531
Interestingly, I found the same problem in a game called Peace Elite in China. : ) This game is based on UE4. On many terrains with steep slopes in the game scene, the vehicle also has the same brake failure.
I think this is a bug in the physics engine.

[2021-09-27 05:32] #3531 closed

[2021-09-27 06:00] Doodle1106 opened #4040 "Adding Chessboards to the environment?"
## Question
### What's your question?
I there a way to add chessboard/charuco boards to the environment?

### Include context on what you are trying to achieve
I am trying to test my camera calibration algorithms and I'd like to add some chessboards of different sizes to the environment.

#### Context details

### Include details of what you already did to find answers

[2021-09-27 06:12] Rick-Weng commented on #2746
This is my code,it work well.
client.moveOnPathAsync(v_path_list, 20, 20000,airsim.DrivetrainType.ForwardOnly, airsim.YawMode( False,0))
ps:when u set" forwardonly",YawMode must be False.

[2021-09-27 07:08] LittleTimeWxk opened #4041 "Custom function in client.py report rpc_error"
## Bug Report

- AirSim Version/#commit: 1.5.0
- UE/Unity version: 4.26
- autopilot version:
- OS Version: UE4 in windows10,   hello.py in ubuntu16.04 , ros version is kenetic

### What's the issue you encountered?

Precondition：
    I use UE to create a custom environment in the windows environment, and introduce the AirSim plug-in, and use the ubuntu system as a client to control airsim vehicles

[2021-09-29 22:25] 66Ton99 commented on #1495
But question still exist!

[2021-09-30 16:22] abuchnick opened #4047 "Method simTestLineOfSightBetweenPoints doesn't work (AirSim Python - Multirotor)"
## Bug report

- AirSim Version/#commit: 1.6.0
- UE/Unity version: 4.25.4
- autopilot version: N/A
- OS Version: Windows 10 x64

### What's the issue you encountered?

We're trying to check if a certain object is visible from the drone's perspective.
We tried using the line of sight methods (and had a hard time understanding how to create the correct GeoPoint object to pass to the methods), but ha

[2021-09-30 19:16] blakermchale opened #4048 "Infrared camera cannot see model textures"
## Bug report

- AirSim Version/#commit: aba8ff15a918b766d10dccc93dba60b91b256635
- UE/Unity version: 4.26.2
- autopilot version: PX4
- OS Version: Windows

### What's the issue you encountered?
The infrared (IR) camera does not account for textures. I'm using ArUco markers in simulation and cannot use the IR images for my school work since it cannot see the texture itself.

I would it expect it t

[2021-10-01 03:19] jonyMarino commented on #2095
Now we have the external fixed cameras
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-01 03:19] #2095 closed

[2021-10-01 03:20] jonyMarino commented on #2327
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-01 03:20] #2327 closed

[2021-10-01 03:20] jonyMarino commented on #2352
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-01 03:20] #2352 closed

[2021-10-01 03:22] jonyMarino commented on #2393
Look at latest MavlinkCom updates.
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-01 03:22] #2393 closed

[2021-10-01 03:23] #1629 closed

[2021-10-01 03:29] jonyMarino commented on #2436
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-01 03:29] #2436 closed

[2021-10-01 03:30] jonyMarino commented on #2455
Take a look at setCameraPose()
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-01 03:30] #2455 closed

[2021-10-01 03:31] #2467 closed

[2021-10-01 03:34] jonyMarino commented on #2491
Take a look at the FastPhysics code. You can also connect to a Gazebo model.
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-01 03:34] #2491 closed

[2021-10-01 03:36] jonyMarino commented on #2557
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-01 03:36] #2557 closed

[2021-10-01 03:37] jonyMarino commented on #2605
Does not seem like an AirSim issue.
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-01 03:37] #2605 closed

[2021-10-01 08:44] Sabrin0 opened #4051 "VR HTC Vive configuration"
Hi, I properly set up airsim plugin into my unreal project. Now I'm trying to start the simulation in VR, but it crashes. Maybe I miss something therefore I was wondering if there are some tutorial/guideline in order to build and run the VR simulation successfully.

#### Context details
Windows 10
Unreal Engine 4.26

[2021-10-01 10:52] Ryton commented on #3869
Might it have to do with the alg capping the number points to a maximum of 1E5 points, due to performance?

With your settings
                    "NumberOfChannels": 32,
                    "RotationsPerSecond": 10,
                    "PointsPerSecond": 200000,
With a divison by 360 (degrees), and with your rotations per second and by number of line that results in it a target of 115200 so about

[2021-10-01 17:24] NickPerezCarletonUniversity commented on #2396
@saihv what would be the distortion parameters? I imagine they would all be set to 0. The experimentation done here: https://github.com/microsoft/AirSim/issues/269#issuecomment-313526623 indicates this.

See here, the distortion parameters, k1, k2, k3, p1, p2: https://docs.opencv.org/4.5.3/dc/dbb/tutorial_py_calibration.html
I noticed orb slam does not use k3. the experimentation I referenced also

[2021-10-01 18:55] NickPerezCarletonUniversity opened #4053 "recording feature not recording at specified interval"
I tried out the recording feature on airsim. I have 2 cameras I am trying to record. my settings file contains the following:

	"Recording": {
		"RecordOnMove": false,
		"RecordInterval": 0.05,
		"Enabled": false,
		"Cameras": [
			{ "CameraName": "front_camera_high_res", "ImageType": 0, "PixelsAsFloat": false,  "VehicleName": "Drone1", "Compress": true },
			{ "CameraName": "back_camera_high_res"

[2021-10-01 22:13] paulerikf commented on #387
@jonyMarino I realize this issue is closed, but hopefully it's ok if I still post this here:

Adding `capture->ShowFlags.SetTemporalAA(true);` before line [402](https://github.com/microsoft/AirSim/blob/2b01754aad58cafa5b68308a9c72482ca6baf8b9/Unreal/Plugins/AirSim/Source/PIPCamera.cpp#L402) got AntiAliasing working for me.

[2021-10-02 21:08] Gastastrophe commented on #1
If anyone is still having this issue, I found that I only had an empty eigen3 folder and no eigen-eigen- folder. I had to grab the contents of an old installation that worked and put it inside eigen3 to fix it. I've attached the folder I placed inside eigen3 here.
[Eigen.zip](https://github.com/microsoft/AirSim/files/7272228/Eigen.zip)
.

[2021-10-03 09:26] SamuelSHernandez opened #4054 "Eigen Repository was deleted."
## Bug report

- AirSim Version/#commit: 2b01754aad58cafa5b68308a9c72482ca6baf8b9
- UE/Unity version: 4.25.4
- autopilot version: N/A
- OS Version: MacOS Big Sur Version 11.6

### What's the issue you encountered?

Eigen3 repository was deleted
I discovered the issue while trying to run './setup.sh' and I encountered this error:

<img width="583" alt="Screen Shot 2021-10-03 at 2 19 43 AM" src="htt

[2021-10-03 15:47] NickPerezCarletonUniversity commented on #2974
you can also check to see if moveToPositionAsync is done executing by checking the result. example:

async_call = client.moveToPositionAsync(0, 1, 1, 1)
if async_call.result != None:
    print("done moving to the position!")

[2021-10-03 19:55] NickPerezCarletonUniversity opened #4055 "Images taken by simGetImages have artifacts in them"
The 'artifacts' in the images seem to be some sort of reflection of lights the Unreal Engine is computing. They appear as a sort of 'bright sparkly lights' that flash in and out of existence every frame. The sparkles only appear on objects in the scene that have reflective properties. When I run the simulation and observe the quadcopter from it's first person view, I do not see the weird sparkles.

[2021-10-03 20:03] NickPerezCarletonUniversity commented on #4055
it looks like this post I found here is related: https://answers.unrealengine.com/questions/356927/view.html
does anyone have exact steps on how I can fix the disparity between the game-view and the images captured using AirSim's APIs?

[2021-10-04 08:11] skykim0609 commented on #4054
I faced the same issue, and bypassed it by copying the eigen3 under /usr/include/ to /AirLib/deps. At least it made the build successful.

[2021-10-04 16:44] NickPerezCarletonUniversity commented on #4055
if you look at the TartanAir dataset you can see these same artifacts in their car welding scene (see the left video panel at 35 seconds into this video: https://youtu.be/qDwfHvTbJx4?t=35)

[2021-10-04 17:50] StevenCoral commented on #3869
Thank you, I already worked around it. it also happens with less than 1e5 points, and depending on the setting, it might also be a "double-scanned" slice instead of a missing one. I have gone through the code, and I hate to say it but the mechanism is flawed. I wonder how nobody noticed it before. Don't get me wrong, I do appreciate the hard work being put into the plugin, but unfortunately I do n

[2021-10-04 21:18] jonyMarino commented on #4054
Eigen repository is back again https://gitlab.com/libeigen/eigen/-/issues/2336

[2021-10-04 21:18] #4054 closed

[2021-10-05 13:25] kulkarnikeerti opened #4062 "ERROR: new version of AirSim requires newer rpclib."
I am trying to have the AirSim for Linux version. I have the running UnrealEngine but when I try to setup and build AiSim I end up with below error in this line.

[code]

https://github.com/microsoft/AirSim/blob/2b01754aad58cafa5b68308a9c72482ca6baf8b9/build.sh#L35

Any already existing solution for this? or did I miss out something here?

[2021-10-05 14:47] Jenny-ai-uav commented on #1316
@AIKUUM Did YOU find out how to communicate the 2 drones or more?
I am stuck in this problem now.
I can successfully control them but I don't know how to communicate them.
I saw mavlink, and SITL, should I need any hardware to do this? Like PX4 or something....

[2021-10-05 16:17] jonyMarino commented on #4062
Hi @kulkarnikeerti and welcome! Have you run setup.sh before build.sh?

[2021-10-05 16:19] kulkarnikeerti commented on #4062
@jonyMarino yes, I did.

[2021-10-05 16:24] jonyMarino commented on #4062
@kulkarnikeerti can you delete your external/rpclib folder and try again?

[2021-10-05 16:26] jonyMarino commented on #4014
@RinR0000 , can you try using mavsdk instead of the airsim client?

[2021-10-05 16:56] kulkarnikeerti commented on #4062
@jonyMarino I am really sorry if this seems to be silly. But I really can't find the folder. Could you please help me where can I find it? Is it created after running setup.sh?

[2021-10-05 17:11] kulkarnikeerti commented on #4062
I am not really sure if this makes a difference. Running setup.sh has not created a this folder. And I also seem to see this error when I run setup.sh

[code]
Does this make any difference?

[2021-10-05 18:01] jonyMarino commented on #4062
Yes. setup.sh is failing before the rpclib is downloaded. As the error says, you have an issue with the ppa you are using for Ubuntu. Which version of Ubuntu are you using? I'm not an expert on this, I think you can dig more into this error to find a solution. Please keep me updated.

[2021-10-06 06:35] kulkarnikeerti commented on #4062
I am using Ubuntu 21.04. And yes, I will research a bit on this and keep you update. Thanks!

[2021-10-06 08:55] zimmy87 commented on #4029
This is due to assets being passed over during packaging because there is no existing references to them in the maps included in builds. #4063 should fix this in the Blocks environment, and the next release should include these missing assets.

[2021-10-06 15:24] #3267 closed

[2021-10-06 15:27] #4029 closed

[2021-10-07 18:28] jonyMarino commented on #4025
Hi @zhanghahah1993, and welcome! Does [this example](https://github.com/microsoft/AirSim/blob/master/Examples/DataCollection/StereoImageGenerator.hpp) helps you?

[2021-10-07 18:44] jonyMarino commented on #4040
Hi

[2021-10-07 18:48] #4040 closed

[2021-10-07 19:20] jonyMarino commented on #4041
Hi @LittleTimeWxk!
See if you are following the steps below after modifying the API code on the simulator side:

call /AirSim/Unreal/Environments/Blocks/update_to_git.sh
call /AirSim/clean.sh
call /AirSim/build.sh
call /AirSim/Unreal/Environments/Blocks/update_from_git.sh

[2021-10-08 07:03] #4062 closed

[2021-10-08 07:19] sakurayiannie commented on #4022
Hi @jonyMarino Thank you so much for your reply！Now my lidar work properly. Best wishes.

[2021-10-08 16:30] jonyMarino commented on #4062
@kulkarnikeerti  What machine are you using? Do you have a graphics card?

[2021-10-08 17:57] jonyMarino commented on #4062
Maybe a driver issue with Unreal?

[2021-10-09 08:09] Octavian-Zhang opened #4071 "Is settings.json configuration file only targeted for Unreal executable, or is in-editor play mode also?"
## Question
### What's your question?
I'm following through with the [AirSim Settings](https://microsoft.github.io/AirSim/settings/) documentation page, and it seems that all 5 search orders for settings.json definition are intended for packaged Unreal executables with .exe extension in Windows. Is there a way to load settings.json definition with Unreal in-editor play mode, as described in [Build

[2021-10-09 08:58] LittleTimeWxk commented on #4041
I solved this problem!
The reason for this problem is that there is a conditional compilation problem in the airsim source code in Visual Studio. You can open the source file called CarRpcLibServer.cpp. The conditionally compiled code and comments at the top of the file.
'''
#ifndef AIRLIB_HEADER_ONLY
//RPC code requires C++14. If build system like Unreal doesn't support it then use compiled binar

[2021-10-09 08:58] #4041 closed

[2021-10-10 10:33] ACE199704 commented on #3846
I also met that problem...
`**********************************************************************
** Visual Studio 2019 Developer PowerShell v16.11.4
** Copyright (c) 2021 Microsoft Corporation
**********************************************************************
PS C:\Users\RRiverson\source\repos> F:
PS F:\> cd .\AirSim\
PS F:\AirSim> .\build.cmd
Powershell or pwsh not found, please install it.

[2021-10-11 06:26] Hijiongfeng opened #4072 "When I use python，I can not use this command ,meshes = client.simGetMeshPositionVertexBuffers."
## Question
### What's your question?

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

[2021-10-11 06:27] #4072 closed

[2021-10-11 09:46] Octavian-Zhang opened #4073 "What is the camera name of the one that displays its view in the default Unreal viewport?"
## Question
### What's your question?
I'm using the simGetCameraInfo & simSetCameraPose image API described in [Image APIs](https://microsoft.github.io/AirSim/image_apis/) doc page. While both functions require camera_name as their argument, I don't know what is the camera name associated with the one that displays its view in the default Unreal viewport. Does anybody know this?
![image](https://u

[2021-10-12 02:21] eherozhao opened #4074 "cannot open file 'opencv_world452d.lib'"
## Question
### What's your question?
I cannot successfully run build.cmd without error. The error is "LINK : fatal error LNK1104: cannot open file 'opencv_world452d.lib' [D:\AirSim\MavLinkCom\MavLinkTest\MavLinkTest.vcxproj"
### Include context on what you are trying to achieve
N/A
#### Context details
Windows 10, git clone the newest AirSim

### Include details of what you already did to find an

[2021-10-12 02:39] eherozhao opened #4075 "How to update AirSim Setting.json"
## Question
### What's your question?
I don't know how to update Settings.json, the official documentation is not helpful. When I use
{
  "SettingsVersion": 1.2,
  "SimMode": "Car",
  "Vehicles": {
    "Drone1": {
       "VehicleType": "SimpleFlight",
        "X": 0.1, "Y": 0, "Z": -3, "Yaw": 0
     },
    "Car1": {
       "VehicleType": "PhysXCar",
       "X": 0, "Y": 0, "Z": -1, "Yaw": 0
     }

[2021-10-12 13:36] talha-opteran opened #4076 "Unity crashes on collision in car mode"
## Bug report

- AirSim Version/#commit: master - commit 2b01754aad58cafa5b68308a9c72482ca6baf8b9
- UE/Unity version: Unity 2020.3.15f2
- autopilot version: N/A
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

Unity editor crashes without any error in car mode when the car collides with an obstacle.

### Settings

Default

### How can the issue be reproduced?

1. Setup AirSim for

[2021-10-13 06:23] Hijiongfeng opened #4078 "Packaging issues（windows to Linux packaging）"
## Question
### What's your question?

![Snipaste_2021-10-13_14-17-04](https://user-images.githubusercontent.com/73459904/137077769-171dbbdc-e80c-466e-ba2b-6e476e870f68.png)
I am using the windows platform to package to the linux platform and want to generate a file that can be executed under linux. I followed the above figure to operate, but the following problems occurred.
What should i do？

![S

[2021-10-13 18:55] martin0004 opened #4081 "AirLib.lib(RpcLibClientBase.obj) : error LNK2019 when trying to install AirSim in Windows"
## Bug report

- AirSim Version/#commit: latest
- UE/Unity version: N/A
- autopilot version: N/A
- OS Version: Windows 10

### What's the issue you encountered?

I am trying to build AirSim in Windows 10 by following the procedure described here: https://microsoft.github.io/AirSim/build_windows/.

I get the following error message when running build.cmd. Any idea on how to solve this?

![image](ht

[2021-10-13 20:03] nooreldeensalah opened #4082 "Segmentation fault after launching linux binaries."
## Bug report

- AirSim Version/#commit: 1.60
- UE/Unity version: N/A
- autopilot version: N/A
- OS Version: Pop!_OS 21.04.

Here's a screenshot of neofetch output for extra details about my machine:
![image](https://user-images.githubusercontent.com/61914159/137203032-f82e525e-0329-4892-836e-adcd7c9fbf1a.png)

### What's the issue you encountered?

I've tried to get AirSim up and running by downl

[2021-10-14 00:42] dromero12 commented on #3235
It means 4.25.0?, what about 4.25.4, same problems than the commented previously. Is AirSim upgradable? UE 4.27.1 is the current version.

[2021-10-14 01:23] jonyMarino commented on #3235
Hi @dromero12! Yes, 4.25.4 is fine. We haven't tested with 4.27.1, but we should support it also.

[2021-10-14 10:53] kulkarnikeerti opened #4083 "ERROR: Unable to find plugin 'AirSim'"
I have a running Unreal Engine 4.25 and AirSim. I can even compile Blocks environment. I am trying to use AirSimNH. I can run it without any issues. But when I try to open the environment with Unreal Editor it throws me an error.

I tried to resolve the issue but nothing helped so far.

Steps I followed:
1. Opened Unreal Engine editor
2. Load AirSimNH.upproject.

This results in below pop-up.
![Sc

[2021-10-14 21:02] jonyMarino commented on #4082
Hi @nooreldeensalah! It seems that you are having an issue with your Vulkan driver...

[2021-10-14 21:19] jonyMarino commented on #4075
Hi @eherozhao! You can not mix cars and drones in the same simulation. So using "SimMode": "Car," you can have only cars in the vehicles block.

[2021-10-15 00:00] jonyMarino commented on #4078
Hi @Hijiongfeng! I've never done that, but I'm going to try to help you. What I see is that it doesn't find the libraries that are compiled when working on Linux. Can you compile AirSim inside a WSL environment and copy the .a files missing for the packaging?

[2021-10-15 00:21] jonyMarino commented on #4081
The check that runs the `build.cmd` in our pipelines is ok...
https://github.com/microsoft/AirSim/runs/3900944502
Maybe you need to run `clear.cmd` before?

[2021-10-15 02:11] Hijiongfeng commented on #4078
Hi, thank you for your help. I previously compiled AirSim successfully on Ubuntu, I copied the missing .a file to the corresponding directory, and then packaged it successfully. I want to know if I can not use this copy method, it is too cumbersome, can I directly use a cross-compilation method to operate. If so, what should I do?

[2021-10-15 10:47] Supaple-x opened #4084 "How to use AirSim with multiple simulation of cars and drones?"
## Is both cars and drones simulation possible?
### SimMode could be two types according to description

### I try to simulate multiple drones and multiple cars on one scene

#### OS: Windows 10 UE: 4.26 AirSim (main branch) Python 3.7

### If I create both cars and drones in settings then in  dependenc on chosen SimMode appears EITHER cars OR drones. But not together.

[2021-10-15 16:25] jonyMarino commented on #4073
No, it doesn't mean that, but currently, it is that way. You can't change the "FlyWithMe" camera target at runtime.

[2021-10-15 16:28] jonyMarino commented on #4078
You can use WSL2 inside windows as an alternative.

[2021-10-15 22:25] ab3nd opened #4087 "Image API seems to block between WSL and Windows"
## Bug report

- AirSim Version/#commit: v1.6.0-windows
- UE/Unity version:  4.26
- autopilot version: N/A
- OS Version: Ubuntu 18.04.5 LTS (In WSL) and Windows 10 Pro

### What's the issue you encountered?

The Unreal Editor is being run in Windows, but the code to interact with the running simulation it is being run from WSL on the same computer. The simGetImages and simGetImage calls from a pyt

[2021-10-18 03:16] eherozhao commented on #4075
Is there any way to create the traffic with moving vehicles?

[2021-10-18 10:40] #4073 closed

[2021-10-19 09:25] Hijiongfeng opened #4090 "Compliation problem:I encountered a problem with vscode"
## Question
### What's your question?

I do not used python, I want to use AirSim's C++ API .The environment I use is uBuntu 16.04+ vscode.I wrote a Car.cpp and copied the offical hellocar.cpp. I wrote the code of launch.json and task.json ,and added the directores and corresponding files containing the library and the link library.When I press F5,I cannot compile through. What do I do?

The cpp f

[2021-10-19 09:29] Hijiongfeng commented on #4090
I saw in the file area of vscode that the executable file was generated at the beginning, but immediately disappeared. I don't know why this happened! what should I do?

[2021-10-19 12:47] Octavian-Zhang opened #4092 "Spawning multiple "ComputerVision" pawns results in actor name conflict."
## Bug report
- AirSim Version/#commit: [f1ccd2d109073e2b16506a5ed31240ffad92d815](https://github.com/microsoft/AirSim/commit/f1ccd2d109073e2b16506a5ed31240ffad92d815)
- UE/Unity version: UE4.27
- autopilot version: N/A
- OS Version: Windows 10 21H1

### What's the issue you encountered?
I'm trying to spawn multiple "ComputerVision" pawns using the following settings.json content:
`{
  "SettingsVe

[2021-10-19 19:19] jonyMarino commented on #4092
I confirm the bug. I tried version 1.2.2, and it didn't happen. Is it suitable for you?

[2021-10-19 20:13] jonyMarino commented on #4087
Hi @ab3nd! Can you try with WSL2 instead of WSL? You would need to pass the host IP to the client.

[2021-10-19 20:41] jonyMarino commented on #2659
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-19 20:42] jonyMarino commented on #2423
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-19 20:47] #1287 closed

[2021-10-19 20:49] #2734 closed

[2021-10-19 20:49] jonyMarino commented on #2734
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-19 20:56] #2169 closed

[2021-10-19 21:03] #2839 closed

[2021-10-19 21:07] #3201 closed

[2021-10-20 00:00] Alfr3do commented on #3877
It would be great to use 20.04, @ale99viv link looks like something different.

[2021-10-20 01:28] Octavian-Zhang commented on #4092
Sure, @jonyMarino, thanks for providing the workaround. It solves my problem. Cheers!

[2021-10-20 01:41] Hijiongfeng commented on #4090
Can you provide me with a written CMakeLists.txt? I don't understand that it should contain directories and link directories, as well as libraries that need to be linked! Thank you very much, this problem has troubled me for a long time!

[2021-10-20 21:10] wouter-heerwegh opened #4101 "ReadSurfaceData_Flush blocking render thread and causing lag"
## Bug report

- AirSim Version/#commit: f1ccd2d109073e2b16506a5ed31240ffad92d815
- UE/Unity version: 4.25.4
- autopilot version:
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

When running the simulator, I get a steady 60 FPS, nog major drops. When running the ros wrapper (with cameras), the simulator jumps from 60 to 20 fps and back at a very regular frequency. This happens b

[2021-10-24 15:48] coriumgit opened #4112 "FPS stays low after stopping a recording"
## Bug report

- AirSim Version/#commit: 1.6.0
- UE/Unity version: 4.27
- autopilot version: N/A
- OS Version: Windows 10 21H1

### What's the issue you encountered?

After stopping a recording via the red button, the simulation's FPS stays as low as it was during the recording, instead of going back up to the value prior to starting a recording.

### Settings

{
  "SettingsVersion": 1.2,
  "SimMo

[2021-10-25 10:21] xw1518 opened #4118 "Parameter color_rgba of simSetTraceLine, Changing transparency does not take effect"
### Discussed in https://github.com/microsoft/AirSim/discussions/4115

<div type='discussions-op-text'>

<sup>Originally posted by **xw1518** October 25, 2021</sup>
I tried to change the transparency of the lines，adopt  Parameter color_rgba, use different value,but Transparency cannot be change
the example like
![pic002](https://user-images.githubusercontent.com/78134152/138649258-9bd33772-4b24-46

[2021-10-25 21:01] Gastastrophe opened #4120 "Breakpoint in RenderRequest.cpp while taking Scene Images"
## Bug report

- AirSim Version/#commit: v1.5.0-windows (also seen in 1.6.0)
- UE/Unity version: Unreal 4.25 (also seen in 4.26)
- autopilot version: SimpleFlight (Also seen with PX4 SITL)
- OS Version: Windows version 1809

### What's the issue you encountered?

As I brought up in Issue #3291, when taking lots of Scene images as one would do for Reinforcement Learning, Unreal Engine generates a b

[2021-10-29 19:54] jonyMarino commented on #904
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-29 19:54] #904 closed

[2021-10-29 19:56] jonyMarino commented on #1452
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-10-29 19:56] #1452 closed

[2021-10-30 01:20] khnunn opened #4138 "GPS prearm errors when arming with MavProxy"
## Bug report

- AirSim Version/#commit: #4102
- UE/Unity version: 4.27.1
- autopilot version: ArduCopter 4.1
- OS Version: Windows 10

### What's the issue you encountered?

Hi, I’m running ArduCopter 4.1 on a black cube through MaxProxy and AirSim. When start AirSim I get the following response in the MavLink console:

[code]

Mission planner parameters were taken from Tools/autotest/default_par

[2021-10-30 07:18] rajat2004 commented on #4138
Hi, can you try arming in Stabilize mode instead of Guided or Loiter (basically any GPS mode). Not sure why but this happening with some other simulators also. If it still doesn't work, maybe try disabling the GPS arming check also

[2021-10-30 10:09] WouterJansen commented on #2948
Depends on your workflow but yes, it requires to rebuild the Unreal plugin.  The build.cmd will do this for you.

![no options](https://user-images.githubusercontent.com/17503618/139474191-5b41a8d8-5292-4bc2-abca-888dfb71d70c.png) I think by default, AirSim should use the complex meshes... perhaps an update should be made?
You are looking at a StaticmeshComponent, not a staticMesh.

[2021-10-30 11:03] khnunn commented on #4138
Hi Rajat, ARMING_CHECK is set to 0 for no checks. I get the following console output when I set mode to stabilize and arm throttle:
[code]

[2021-10-31 14:10] rajat2004 commented on #4118
This looks like an issue in UE4 itself, the Alpha values are ignored according to https://answers.unrealengine.com/questions/929967/view.html and the linked issue which has a similar comment in March 2021, so likely not fixed. Search in the UE4 PRs as well but didn't find anything

[2021-10-31 18:33] NickPerezCarletonUniversity commented on #2948
@WouterJansen Ah I see. I figured out how to get to the staticMesh just now. Do you know if there is a way for me to select all the staticMeshs in the environment at the same time, and change this setting for all of them with one click?

To me, it seems like going with option 1 (Alter AirSim Plugin) might be more computationally efficient.

[2021-11-01 02:53] rajat2004 commented on #4138
Sorry for the late reply, try setting the throttle to 1000 as well

[2021-11-01 02:58] xw1518 commented on #4118
I see . Thank you for your reply

[2021-11-01 02:58] #4118 closed

[2021-11-01 18:15] paulerikf commented on #387
@jonyMarino I've been away for a bit, sorry. I hesitated to place a PR because I wasn't sure if having AA should be the default behavior, or if it should be configurable in some way... (if so, I haven't put in the time to figure out how that'd be done).

If having AA hardcoded on is fine I can easily add a PR, if it should be configurable I'd need some time to figure that out.

[2021-11-02 14:48] ppueyor commented on #2302
Hi @LIU-Xueming ,

Same thing than #2311 . See my answer there.

Regards!

[2021-11-02 15:45] crypto-g245 opened #4140 "Regarding data collection from stationary cameras"
## Question
### What's your question?
Hello,
I want to prepare the data-set in the indoor setting. The scene would contain two-three people.
Requirements:
- Multiple stationary cameras (most probably two cameras, at opposite corners of the room )
- Three agents/person in the scene, doing basic movements (e.g., walking, standing, extending arm, squatting etc. )
- cameras doesn't move, person needs

[2021-11-02 16:59] zimmy87 commented on #4075
I do not believe we have the proper license for sharing the source of the traffic in the City environment, though it is based upon the Path Follow plugin in Unreal Marketplace: https://www.unrealengine.com/marketplace/en-US/product/path-follow. That would be a good place to start for creating moving vehicles in the environment.

[2021-11-02 17:06] #3682 closed

[2021-11-03 09:51] imanf94 opened #4142 "Receiving compressed image when settings are on uncompressed"
## Bug report

- AirSim Version/#commit: 1.2
- UE/Unity version: Using stand-alone City Environment
- autopilot version: N/A
- OS Version: Windows 10

### What's the issue you encountered?

I want to get uncompressed images from image API but it returns compressed images. I tried to change the args and the settings.json to get uncompressed images but it couldn't help. I expect a 1280x720 image but

[2021-11-03 21:57] imanf94 commented on #3866
Hi @jonyMarino. After struggling a while I solved the issue. Disabling the firewall couldn't help. However instead of using standalone City environment release for Windows I used the Blocks environment in Unity. I think this was a bug in CityEnviron v1.4.0.

[2021-11-04 02:59] rajat2004 commented on #4140
[External cameras](https://microsoft.github.io/AirSim/settings/#external-cameras) might fit your usecase of having stationary cameras, added in #3320. Have a look at the [external_cmaera.py script](https://github.com/microsoft/AirSim/blob/master/PythonClient/computer_vision/external_camera.py) also.
Note that the Recording feature (using R button, or recording API) currently doesn't support extern

[2021-11-04 07:55] crypto-g245 commented on #4140
Thanks @rajat2004 ,

I am  currently using Computer Vision  mode, and I also need to use depth sensors to generate point clouds from the captured images and depth sensors. But it seems, CV mode does not support adding sensors, since it has to be mounted on a vehicle.

Would it be possible to add sensors in the environment without any vehicles (let's say with the camera itself, so that we can someh

[2021-11-04 09:38] crypto-g245 commented on #4120
@Gastastrophe
Facing same issue. Have you found the solution ?

[2021-11-04 10:06] rajat2004 commented on #4140
Hmm, addition of sensors to the CV vehicle would probably be a good feature. By depth sensors, you mean Lidar right, since you can get depth images from external cameras.
One possibility would be using multirotor with `ExternalPhysics` as the physics engine, then you can have the vehicle fixed at some point without any issue.

As a longer-term improvements which can be done in AirSim, I think #411

[2021-11-04 10:21] crypto-g245 commented on #4140
I have not used vehicles in CV model since [this](https://microsoft.github.io/AirSim/image_apis/#:~:text=You%20can%20use%20AirSim%20in%20so-called%20%22Computer%20Vision%22%20mode.%20In%20this%20mode%2C%20physics%20engine%20is%20disabled%20and%20there%20is%20no%20vehicle%2C%20just%20cameras%20(If%20you%20want%20to%20have%20the%20vehicle%20but%20without%20its%20kinematics%2C%20you%20can%20use%20the

[2021-11-04 10:30] rajat2004 commented on #4140
That seems misleading, you can specify and create CV vehicle, maybe it was added after the documentation was written. Try specifying a vehicle similar to Multirotor or Car, with the vehicle type as `ComputerVision`

[2021-11-04 10:48] rajat2004 commented on #4142
I think the internal implementation uses the `CameraDefault` settings only if the entire setting for the camera is missing. Since there are some settings present for `CAM0`, it's using those alongwith with default values of height, width, etc.  Try specifying the H,W as well in the `CAM0` setting.
Changing this behaviour inside the code might be a bit messy, and IMO it's easier to figure out the e

[2021-11-04 16:43] Gastastrophe commented on #4120
@crypto-g245
No. I think it has something to do with how Unreal flushes these kinds of images and the computational expense of that. I think the closest thing to a workaround available is to write your own function to take screenshots on a separate thread, but this fails to generalize to real drones and is very slow.

Right now I am just using Depth images instead, though that means I am unable to

[2021-11-04 17:14] #3928 closed

[2021-11-04 19:51] Gastastrophe commented on #4101
Just to link it, I believe this is also the cause of the issue I describe here #4120

[2021-11-04 20:57] imanf94 commented on #4142
Thanks, @rajat2004 for your reply. This couldn't help am I'm still getting compressed images.
Here is my new setting:
[code]
And here is my code:

[code]

I need to mention that if I change the Camera name to 1 (default front camera) as below I get uncompressed images. However, the pinch and the position is not applied to these images:
` responses = client.simGetImages([airsim.ImageRequest("CAM0",

[2021-11-05 00:18] #3866 closed

[2021-11-05 02:10] rajat2004 commented on #4142
The `CAM0` setting should also be in the same format as `CameraDefaults`, something like -
[code]

[2021-11-05 05:58] LIU-Xueming commented on #1605
Hi  @flyers ,
Have you solved this problem？I am also confused about this 4X4 matrix .
Thanks！

[2021-11-05 10:56] Flautdn opened #4143 "airsim hardware resources requirement"
## Question
### What's your question?

Should I require a gpu (Nvidia's or else) to execute airsim with unreal 4 support
on AWS ec2 t2 micro ubuntu 18.04 instance

I am installing airsim with the following approach:

pip3 install scikit-build
pip3 install install msgpack-rpc-python
pip3 install numpy
pip3 install airsim

I got the city environment asset folder as below

wget https://github.com/mic

[2021-11-05 12:45] khnunn commented on #4138
I did a clean pull of AirSim, ardupilot, and created a new Unreal project and the issue has disappeared. Sorry for not having a specific solution to the problem.

[2021-11-05 12:45] #4138 closed

[2021-11-05 13:06] khnunn opened #4144 "Thrust Loss Error Prevents Arming with SITL"
## Question
### What's your question?
I had no problems controlling a hexacopter in AirSim, until I connected a transmitter (Taranis X9D+ 2019) to my PixHawk 2.1 and performed radio calibrations. After I loaded sim_vehicle.py with these parameters, I started getting this error message in the MavProxy console: "AP: Potential Thrust Loss (6)". The rotors do not spin up in the simulation, and the dro

[2021-11-05 14:10] rajat2004 commented on #4144
I don't think AP-AirSim integration works with Hexacopter, or at least I haven't tried with it. Was it working properly without the transmitter, i.e. arming and flying through Mavproxy? If not, then that needs to be fixed first
With transmitter, it might be the case that AirSim simply doesn't work with it. Have you tried using the RC with say SimpleFlight or PX4 and checked that it works? I haven'

[2021-11-05 15:52] khnunn commented on #4144
Indeed, the simulation was working without the transmitter problems after following Chris Lovett's [guide ](https://github.com/microsoft/AirSim/wiki/hexacopter), with few modifications.

The problem persists whether the RC is connected or not. Previously I was able to arm and fly the drone with the transmitter (Taranis X9D+ 2019) connected through serial port, but that no longer works. Nor does th

[2021-11-06 06:32] nznaza opened #4146 "Rename Infrared to ThermalInfrared"
## What feature are you suggesting?
### Overview:

Rename Infrared to ThermalInfrared

### Smaller Details:

Rename python client and plugin/API references from Infrared to ThermalInfrared

### Nature of Request:

- Change
  - References of Infrared to ThermalInfrared

## Why would this feature be useful?
Although many users relate infrared with thermal imaging, infrared capture may not be related

[2021-11-06 08:02] khnunn commented on #4144
I have resolved the issue. AirSim was not rebuilding EEPROM whenever I loaded a new set of parameters from a file. Adding the -w command to "../Tools/autotest/sim_vehicle.py -v ArduCopter -f airsim-copter --console --map -w" reset EEPROM and allowed me to define new parameters.

[2021-11-06 08:02] #4144 closed

[2021-11-06 19:39] Flautdn opened #4148 "Install airsim on cpu only computer"
Can I work with airsim simulations on ubuntu 18 with cpu only?

When it comes to aws ec2 cpu only instance in free tier section as t2.micro instance, I am able to install
Airsim binary but when executing the AirsimNH (city environment) I am getting
unable cretae opengl context error.

Ubuntu 18, AirSim 1.6, Python 3, Unreal 4

Thank you.

[2021-11-07 04:00] imanf94 commented on #4142
Thanks, @rajat2004! That fixed the issue.

[2021-11-07 04:00] #4142 closed

[2021-11-09 01:17] skytechltd opened #4152 "AirSim Mavlink Input for Digital Twin"
## What feature are you suggesting?
### Overview:
It would be useful to use airsim/unreal as a digital twin of a real drone in flight

### Smaller Details:
Virtual Airsim drone Mirrors real drone movement and positiob via MavLink

### Nature of Request:

- Addition

  -

## Why would this feature be useful?
Visualisation for office team no at test site.

[2021-11-09 18:15] YfanZhou opened #4153 "Car simulation game graph cannot be spanned to 3 monitors"
We had three monitors. As shown in the following graph , the game graph cannot be spanned to 3 monitors. We checked in the New Editor Window under AirSimGameMode and the ratio aspect of simulation graph is fixed. We also checked other Game mode and in other game mode, the simulation graph can be adjusted to widescreen. We tried to enable spanning display with Surround in the NVIDIA control Panel a

[2021-11-09 20:33] gloriazhang8664 commented on #1726
I was able to modified the PawnSimApi.cpp file to output the rc data to the airsim_rec file where all other data is stored whenever a recording is saved.

[2021-11-09 21:28] nooreldeensalah opened #4154 "`simDestroyObject('CityEnviron_NPCVehicleManager')` Causes the simulator to crash"
## Bug report

- AirSim Version/#commit: 1.60
- UE/Unity version: N/A
- autopilot version: N/A
- OS Version: Windows 10, Version 21H1, OS Build (19043.1288).

### What's the issue you encountered?

I'm using a pre-compiled binary of the simulator, specifically the `CityEnviron` binary, I wanted to remove all moving vehicles and pedestrians from the environment, because I'm interested in capturing

[2021-11-10 16:47] jonyMarino commented on #4154
@nooreldeensalah v1.5 is suitable for you?

[2021-11-10 16:52] jonyMarino commented on #4152
Hi and welcome @skytechltd!
You can create a script that uses mavsdk to get the vehicle position and then sets the position of the AirSim Drone through simSetVehiclePosition() using our API. You would need to configure the physics engine to use [`ExternaPhysicsEngine` in your settings.json](https://microsoft.github.io/AirSim/settings/#physicsenginename).

[2021-11-10 16:52] #4152 closed

[2021-11-10 18:25] SongjunHuang commented on #1595
Hi I wanna know which folder do you mean and what permissions should I give to this folder?

[2021-11-11 09:11] nooreldeensalah commented on #4154
@jonyMarino
I apologize for the late reply,
I've downloaded v1.5, and I think it's suitable for my purposes, because it has no pedestrians nor vehicles.

But with that being said, feel free to keep or close the issue depending on if this bug can be fixed or not.

[2021-11-11 09:19] nooreldeensalah commented on #4154
@jonyMarino
One last thing, I had a script that I was using to collect images https://github.com/ElGarash/AirSim-Localization/blob/main/script.py

The idea is, it worked well with v1.6.0, but seems like I need to modify it for v1.5.0, where can I find the API reference docs for v1.5.0?

[2021-11-11 09:53] nooreldeensalah commented on #4154
@jonyMarino
One last thing, I had a [script ](https://github.com/ElGarash/AirSim-Localization/blob/main/script.py)that I was using to collect images, the script requires an external camera (what the script briefly does is; get the pose of the ground vehicle as it's moving, adjust the pose of the external aerial camera accordingly, then it captures images from the ground camera attached to the vehi

[2021-11-12 09:46] subedisuman commented on #2788
Hi, I am implementing an EKF-based state estimator in AirSim simple_flight as described in the issue above (using 4 sensors) as part of my Master's Thesis at TUM and IABG. My implementation is still in a very early phase, however, I would much appreciate your feedback. Here is the branch to the forked repository: https://github.com/subedisuman/AirSim/tree/ekf. I am looking forward to your comments

[2021-11-12 19:23] jonyMarino commented on #387
@paulerikf You are right. This should be configurable. This impacts performance, and I don't know if it affects another type of image like the depth one.
The settings.json would be the right place to create a new parameter for this.

[2021-11-12 20:09] talha-opteran opened #4158 "Linux development workflow"
## Question
### What's your question?

I'm confused about what the development workflow looks like for AirSim. Some clarification on how others are approaching this would be nice.

### Include context on what you are trying to achieve

For context, I'm looking to extend the Unreal plugin which requires modifying code in:
[code]

#### Context details

OS: Ubuntu 20.04
AirSim: git master
Unreal: git

[2021-11-14 13:28] DAndrik21 opened #4160 "DQN_car"
## Question
### What's your question?
Im running dqn_car.py.Training started at 200k timesteps as it should and for 10k steps it was working(i had good reward) but from then until now (50k steps ) the car just turns right (steering either 0.25 or 0.5) and resets immediately .

### Include context on what you are trying to achieve
Has anyone run this ?is it normal to do this for so long?

#### Cont

[2021-11-15 20:21] wouter-heerwegh commented on #3537
Hi @dongfeng12,

Have you managed to do this? I'm looking for the same thing. I plan on havimg a look at this and starting a draft pull request to implement something.

I do not have a lot of experience with Unreal engine, so all the help is appreciated.

[2021-11-16 09:34] JuanshuB2 opened #4164 "Best simulator to test sensor fusion algorithms"
## Question
### What's your question?
Which drone simulator could be more suitable to test IA and SLAM algorithm based on sensor fusion?

### Include context on what you are trying to achieve
I am trying to know which simulator could be the best to test algorithms based on sensor fusion. I know this is a general question, but considering the simulators based on Gazebo (like RotorS) or the ones bas

[2021-11-17 00:41] derekwacks commented on #3361
For anyone who comes across this thread with @leimo2011 's problem above:

(i.e. problem running ./build.sh for AirSim on MacOS Big Sur getting clang-8: error: invalid version number in '-mmacosx-version-min=11.2')

in `AirSim/build.sh` ~ line 57,

Change

[code]

to

[code]

(Get rid of the absolute paths)

[2021-11-17 06:25] imnotkind opened #4166 "Serious problems in RL dqn drone example"
## Bug report

- AirSim Version/#commit: 1.6.0
- UE/Unity version: UE bundled with 1.6.0 AirsimNH.zip
- autopilot version: ??
- OS Version: Windows 10

### What's the issue you encountered?

There are several problems with the RL dqn drone tutorial in airsim.
1. IT DOESN'T WORK. The tutorial in https://github.com/microsoft/AirSim/blob/master/PythonClient/reinforcement_learning/airgym/envs/drone_en

[2021-11-17 16:30] jonyMarino commented on #4166
Hi and welcome @imnotkind!
Can you check out #4032 and see if it solves your issue?

[2021-11-18 08:42] zimmy87 commented on #4154
Hi @nooreldeensalah, thank you for reporting this issue. This is happening because car and bicycle paths in the city environment store a reference to the CityEnviron_NPCVehicleManager instance and call methods on it during their Tick() method, so destroying the CityEnviron_NPCVehicleManager instance immediately causes a nullptr exception. To remove the CityEnviron_NPCVehicleManager, you'll need to

[2021-11-18 09:19] imnotkind commented on #4166
Hi @jonyMarino .
I'm afraid it doesn't solve my issue.
As far as I know, the approach in #4032 only can speed up training, but the problems in this examples seems a lot more fundamental than just "slow training."
Besides, I don't feel #4032 is anyway better than the original example. Does it really speed up training?

[2021-11-18 17:19] #4154 closed

[2021-11-18 19:45] Gastastrophe commented on #4120
@crypto-g245

This isn't a fix, but a simple workaround is to use the version of the function that returns a bitmap. This means you call `self.image_request = airsim.ImageRequest(
            3, airsim.ImageType.Scene, True, False
        )`
and then do something like 'img1d_rgb = np.frombuffer(responses[0].image_data_uint8, dtype=np.uint8)
        img3d_rgb = img1d_rgb.reshape(responses[0].height

[2021-11-19 14:01] suresh-guttikonda commented on #2784
Did someone able to fix the issue ? I tried pause sim, which some people suggested in other threads, but it didn't work.

Its very annoying, AirSim team didn't provide update on this bug till now. I tried Carla simulator, which is also based on UE, where it is able to sync correctly across multiple images without any issue !!!

code snippet
[code]
output:
[code]

Settings.json
[code]

[2021-11-19 14:12] suresh-guttikonda opened #4171 "Camera positions is not synchronized across multiple cameras"
## Bug report

- AirSim Version/#commit: master branch
- UE/Unity version: UnrealEngine_4.25
- autopilot version:
- OS Version: Ubuntu 18.04.6 LTS

### What's the issue you encountered?

Its very annoying and there are several bugs/issues still open for couple of years [#2784](https://github.com/microsoft/AirSim/issues/2784) still there is no permanent solution and AirSim team didn't provide updat

[2021-11-19 18:42] NickPerezCarletonUniversity commented on #2784
@suresh-guttikonda it should work if you pause and un-pause. I tried it that way and it worked.
you have simPause commented out, that is probably why it isn't working for you.

[2021-11-19 18:44] NickPerezCarletonUniversity commented on #4171
you have simPause commented out

[2021-11-19 20:30] suresh-guttikonda commented on #4171
@NickPerezCarletonUniversity I know, as I mentioned if i use simPause with ros::AsyncSpinner for > 10Hz fps the UE4 is not accepting keyboard inputs to control default car. Hence i commented it out.

[2021-11-19 20:42] suresh-guttikonda commented on #2784
yes, i tried with both ways without pause/unpause and using them. But still didn't work.
Using pause/unpause at 10Hz is making UE4 unresponsive to keyboard inputs to control car

Complete code to reproduce
[code]

[2021-11-19 21:33] suresh-guttikonda commented on #4171
Alternative test case, when the car is moving in x direction i.e forward @ 20 m/s speed in straight path, run the following code and see the results.
Note: Use less CPU in Background is unchecked.

[code]

output:
[code]

![UE Editor](https://user-images.githubusercontent.com/4303534/142694166-25364dd4-78fd-40d0-9926-d94d5f03095a.gif)

[2021-11-20 08:43] suresh-guttikonda commented on #2784
@NickPerezCarletonUniversity could you please tell me are you doing something differently ?? i tried both c++ and [python api](https://github.com/microsoft/AirSim/issues/4171#issuecomment-974487249)

[2021-11-20 11:41] suresh-guttikonda opened #4174 "SimPause() not pausing physics"
## Bug report

- AirSim Version/#commit: Master Branch
- UE/Unity version: UnrealEngine_4.25
- autopilot version:
- OS Version: Ubuntu 18.04.6 LTS

### What's the issue you encountered?

As you can see from the output, when simulation is paused - the offset between car and camera position increased after sleep.
Expected: the relative position should almost remain constant since vehicle moving in s

[2021-11-21 15:06] rajat2004 commented on #4174
Thanks a lot for the reproducible example! Could you try out #4175 and see if it fixes the problem for you?

[2021-11-21 16:45] rajat2004 commented on #4158
I personally use the 2nd approach of working on the root `AirLib` and `Unreal/Plugins` dir. It has a benefit for quicker testing of AirLib changes for compilation issues first, and then going for UE4. Haven't found Intellisense or other IDE features to be very good tbh since they don't work with UE4 headers and code

[2021-11-21 20:52] suresh-guttikonda commented on #4174
Thank you @rajat2004, it seems your changes fixed this issue. :)

[2021-11-22 05:52] hipforth commented on #2026
ClockSpeed set 0.1666 is useful.

[2021-11-22 07:31] saihv commented on #2396
@NickPerezCarletonUniversity By default, yes, the distortion parameters are all zeroes. You can change them to desired values through our [camera distortion API](https://microsoft.github.io/AirSim/image_apis/#camera-apis)

[2021-11-22 18:27] jonyMarino commented on #4148
@Flautdn Even if it would be possible, the result would be excessively slow.

[2021-11-22 18:29] jonyMarino commented on #4148
There is an azure environment ready for use with AirSim:
https://microsoft.github.io/AirSim/azure/

[2021-11-22 18:29] jonyMarino commented on #4143
There is an azure environment ready for use with AirSim:
https://microsoft.github.io/AirSim/azure/

dup of #4148

[2021-11-22 18:29] #4143 closed

[2021-11-22 18:46] jonyMarino commented on #4158
@talha-opteran on windows, I prefer to use the first approach. That is because I use visual studio with the debugger in Blocks project. Find no problems for now in using update_to_git.
In Linux, I think the second approach is more straightforward.

[2021-11-22 18:57] jonyMarino commented on #4174
@suresh-guttikonda   This somehow solves the issue you had in driving the car with the keyboard after calling simPause() as you described in #4171?

[2021-11-23 11:23] talha-opteran commented on #4158
Thanks for the input.

@jonyMarino I think the reason you don't have problems in windows with `update_to_git.bat` is because it is using `robocopy`. Not sure how that works but Linux uses `rsync` with the `--delete` option which causes the `Airlib\src` folder to be deleted.

[2021-11-23 15:22] suresh-guttikonda commented on #4174
@jonyMarino Unfortunately it didn't fix the #4171, i tried the code snippet as mentioned in that issue. But still I can see x-position difference between left, center, right cameras even though i am using stereo camera setup

code snippet
[code]
output:
[code]

[2021-11-24 02:27] Gastastrophe opened #4177 "Move to Target Velocity"
## Question
### What's your question?

Hello all. I am trying to implement Proportional Navigation using a Line of Sight vector, and part of that involves applying a calculated acceleration to the drone. I was planning to implement this by getting the current velocity from the Kinematics and adding the acceleration to it, then using moveByVelocityAsync to reach the target velocity. However, I noti

[2021-11-24 02:37] Gastastrophe commented on #4120
I noticed people in past issues talking about the image APIs like they return RGBA images, but the bitmap is sized in such a way that implies it is a RGB image. Maybe Unreal changed this at some point and Airsim still needs to reflect this?

[2021-11-24 05:14] nicklhh opened #4178 "MoveToPositionAsync Problem"
## Question
### What's your question?

hello i am using airsim drone api via movetopositionasync. (UNITY)
I made loop movetopositionasync to move drone to decided path by 1 value of current position(path.txt).
But when I run it, if I order the drone to move only forwardly(0,1,0), of course, it moves forward correctly, but at the same time, it results in the drone moving in the z-axis (upward) dire

[2021-11-24 21:36] jonyMarino commented on #4177
@Gastastrophe, if you don't call to `.join()`, you can avoid the desired duration, and the following command will override the one that is being executed.

[2021-11-24 21:52] jonyMarino commented on #4178
@nicklhh. There is a lookahead error that you should take into account. The moveToPosition() API moves the drone to a position within a specific volume whose center is the target position. I think you should correct that error inside the arguments that you pass to moveToPosition(). Also, incrementing the position by one can lead to a great relative error (because of the same lookahead error).

[2021-11-25 05:32] nicklhh commented on #4178
ah, i understand. thx a lot :(

[2021-11-25 05:32] #4178 closed

[2021-11-27 09:28] imnotkind commented on #4166
@jonyMarino It has been 10 days.
Honestly, is this project abandoned or something?
This slow response to a basic "RL airsim tutorial problem" suggests me that no one seems to have cared about it at all! For nearly a year!

Is it safe to use airgym? Is it safe to use RL in airsim using the apis in the given tutorial? Really, has no one dared to even check if the drone follows the given path?

[2021-11-29 19:17] jonyMarino commented on #4166
@imnotkind Sorry for the late response. Not at all abandoned.
The DQN example has undergone some modifications over time. The last thing that was done was to use the airgym.
There have also been changes in the environments, so this may have generated issues in the examples.
The point of these scripts is to provide the users a better starting point that tells them how to write reinforcement learnin

[2021-11-30 12:06] GhazalTajik1998 commented on #613
So I had the same problem and was dealing with it for a day.I tried everything which is said here but none of them worked.

Then I used "x64 Native Tools Command Prompt for VS 2019" instead of "Developer Command Prompt for VS 2019" to run build.cmd.
it worked for me.

[2021-11-30 17:41] #804 closed

[2021-11-30 18:44] Gastastrophe commented on #4177
Hmm... That might work. I can just check the velocity in a loop afterwards to see if the target velocity has been reached. Thanks

[2021-11-30 18:44] #4177 closed

[2021-11-30 19:21] jonyMarino commented on #1350
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2021-11-30 19:21] #1350 closed

[2021-11-30 19:27] jonyMarino commented on #1531
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2021-11-30 19:27] #1531 closed

[2021-11-30 19:28] jonyMarino commented on #1533
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2021-11-30 19:28] #1533 closed

[2021-11-30 20:32] jonyMarino commented on #1627
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2021-11-30 20:32] #1627 closed

[2021-11-30 20:32] jonyMarino commented on #1744
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2021-11-30 20:32] #1744 closed

[2021-11-30 20:36] #1806 closed

[2021-12-01 08:33] #1724 closed

[2021-12-01 08:33] #3504 closed

[2021-12-01 08:33] #4112 closed

[2021-12-01 18:06] zimmy87 commented on #2967
This still repros for me with #4147 applied so I am re-opening this issue.

[2021-12-01 18:11] zimmy87 commented on #3070
After running some tests with the [image_benchmarker.py](https://github.com/microsoft/AirSim/blob/master/PythonClient/computer_vision/image_benchmarker.py) script, there doesn't appear to be any significant difference in performance after applying #4147, so I am reopening this issue.

[2021-12-02 07:38] Lee-Siyoung opened #4190 "Unable to connect to PX4 SITL"
Ubuntu 18.04
UnrealEngine-4.25
Firmware v1.8.2

I did it while looking at the airsim stil help document.
But i couldn't connect airsim and px4 sitl.
[code]
And I couldn't connect to mavros.

roslaunch mavros px4_airsim.launch
my launch file
[code]

my Airsim settings.json
[code]

[2021-12-02 18:43] DAndrik21 commented on #4160
Can anyone confirm dqn_car.py work after 210k timesteps?

[2021-12-02 21:00] NickPerezCarletonUniversity commented on #2784
@suresh-guttikonda check out this thread:
https://github.com/microsoft/AirSim/issues/2369

[2021-12-02 21:01] NickPerezCarletonUniversity commented on #2784
I'm recording my data, and then performing SLAM on the data afterwards. Instead of controlling the drone manually, I am programming where it needs to go, that is why pausing the simulation does not give me any issues.

[2021-12-03 18:32] harshitsankhla opened #4192 "Change value of gravity in environment"
## Question
### What's your question?
Any way to change the value of gravity in the environment state

The airsim client has a method to retrieve the current environment state - https://microsoft.github.io/AirSim/api_docs/html/index.html#airsim.types.EnvironmentState

Any way we can change this in real-time or before we enable the client ? Say I want to change the value of gravity to some other va

[2021-12-03 19:23] tteague19 commented on #1393
@DavidLSmyth I am encountering an error that "rpclib: server could not find function 'simShowDebugLines' with argument count 0" when I try to use your fork. Strangely, the function is defined in your .hpp and .cpp files with the appropriate number of arguments. Would you be able to help with this issue? Thanks!

[2021-12-04 16:50] redhat2299 commented on #2955
@AOS55  really great work ,I like to know what is the progress ,when i tried to open fixed fixed airsim's block environment in unreal I'm getting errors ,Sir please help me out

[2021-12-05 20:05] MinnDevelopment opened #4195 "ROS Airsim Node crashes when world_frame_id set to world_enu"
## Bug report

- AirSim Version/#commit: a7c05fc (latest master)
- UE/Unity version: 4.26.2
- autopilot version: N/A
- OS Version: Windows 10.0.19043.1348 (Running ros in WSL ubuntu 16.04)

### What's the issue you encountered?

I want to record a rosbag with ENU coordinates. When trying to set the parameter `world_frame_id` to `world_enu` as suggested in https://microsoft.github.io/AirSim/airsim_

[2021-12-06 11:08] DavidLSmyth commented on #1393
I'll see if I can find the time to submit this as a clean pull request. Haven't done any maintenance on this fork for years...

[2021-12-06 13:45] tkupek opened #4196 "Object Detection bounding boxes are not returning valid results in AirSim CityEnviron"
## Bug report

- AirSim Version/#commit: v.1.6.0 Windows
- UE/Unity version: PCD3D_SM5
- autopilot version: -
- OS Version: Windows 10

### What's the issue you encountered?

I am using the tutorial for Object Detection (https://microsoft.github.io/AirSim/object_detection/#usage-example) to generate groundtruth data for pedestrians. I set the filter mesh to `*` to see all objects:
`client.simAddDe

[2021-12-06 15:52] debian-user-france1 commented on #4062
Do you see this: `LogPackageName: SearchForPackageOnDisk took   0.008s, but failed to resolve Blocks.`?

[2021-12-06 16:22] debian-user-france1 opened #4197 "LogPackageName: SearchForPackageOnDisk took 0.008s, but failed to resolve Blocks"
## Bug report

- AirSim Version/#commit: 1.6.0 prebuilt: "Africa, Abandoned Park, ..."
- UE/Unity version: N/A
- autopilot version: N/A
- OS Version: Manjaro: `Linux Manjaro-Desktop 5.15.2-2-MANJARO #1 SMP PREEMPT Sat Nov 13 19:25:38 UTC 2021 x86_64 GNU/Linux`

### What's the issue you encountered?

I start it: ./NAME.sh
The screen gets black (two windows opened, one 'select vehicle' and the other

[2021-12-06 16:24] debian-user-france1 commented on #4197
#4068 (Issue where I've put short information but I thought it's not related and is closed)

[2021-12-06 17:14] debian-user-france1 commented on #4197
I discovered this newly: [VIDEO LINK](https://cloud.privacyy.ch/index.php/s/bqLw4owByMZRNat)

[2021-12-06 17:19] debian-user-france1 commented on #4197
I can steer Africa now with the arrow keys (car)

[2021-12-06 21:37] NickPerezCarletonUniversity commented on #2948
@WouterJansen after reading the unreal engine documents, you should actually set the static mesh to
Use Complex Collision As Simple
instead of
Use Simple Collision As Complex
as you suggested.

[2021-12-06 21:44] NickPerezCarletonUniversity commented on #2948
@WouterJansen i noticed in the cpp file you mentioned, trace_params appears more than once. Do we only change it in the GetObstacle method? or also change it in the HasObstacle and GetLastObstaclePosition methods?

[2021-12-07 07:51] WouterJansen commented on #2948
That is incorrect. If you use simple collision you will run into the issue as the first post said.

The LiDAR simulation in AirSim relies on the `HasObstacle` function so if you wish to make the LiDAR use complex collision by default then it needs to be done there. I don't know exactly what part of AirSim uses `GetLastObstaclePosition` so cannot comment on that.

[2021-12-07 15:54] WouterJansen commented on #2948
Ah yes you are correct, the naming is confusing I find. Sorry.

[2021-12-07 15:55] NickPerezCarletonUniversity commented on #2948
lol ya, I agree. The naming is quite confusing. I had to read it the definition like 5 times just to make sure.

[2021-12-07 23:01] NickPerezCarletonUniversity opened #4199 "how do i get the color of the surface a point collides with?"
When scanning the environment using lidar, I feel like there should be an API call that allows you to store the color of the surface that each point in the point cloud collides with. This way the resulting point cloud will look very much like the actual scene. You would get a 'colored point cloud', like the images found on this page: https://towardsdatascience.com/guide-to-real-time-visualisation-

[2021-12-08 01:54] carolo44 opened #4200 "some idea about lidar point cloud sampling."
## What feature are you suggesting?
### Overview:
A lidar point-cloud sampling method to support high-dynamic drone's simulation.

### Smaller Details:
1. now the UnrealLidarSensor::getPointCloud function's update frequency is fixed by airlib::LidarSimpleParams's  member variable update_frequency. An interface to configure this parameter is necessary, since a similar interface for ros's lidar upda

[2021-12-08 07:06] #4174 closed

[2021-12-08 07:36] #4092 closed

[2021-12-08 09:54] airsimdevdd commented on #2955
Fixed wing in Airsim , Any Modified version of Airsim  to work with fixed wing please help   @AOS55
@rajat2004 @jonyMarino  @seanmcleod  @xxEoD2242  @nikitabeebe

[2021-12-08 11:28] tteague19 commented on #1393
Thanks, @DavidLSmyth! In case you are unable to make the fix, do you know if there has been a similar capability developed within AirSim? Essentially, I want to indicate a connection between two or more multirotors for the purposes of visualization.

[2021-12-08 17:24] DavidLSmyth commented on #1393
I don't think so (you can turn on debug lines showing where the drone has flown, that's the closest thing I'm aware of) but you could put this together using a blueprint rather than making a change to the API (if you've seen images of other people doing this I'd guess they've just used a blueprint). I got pretty frustrated with blueprints in the end so I'd recommend to do this from the API if poss

[2021-12-09 08:43] lyfs commented on #1708
hello , i resolve this problem by install gdm3，and replace gdm3 with lightgdm

1、sudo apt-get update

2、sudo apt-get -d install --reinstall lightdm

3、sudo apt-get remove --purge lightdm

4、sudo apt-get install gdm

5、sudo reboot

after reboot

1、sudo apt-get install --reinstall gnome-session

2、sudo apt-get install --reinstall ubuntu-desktop

![image](https://user-images.githubusercontent.com/116

[2021-12-09 16:05] DavidLSmyth commented on #1393
Was just going through it there, maybe [simPlotLineList](https://microsoft.github.io/AirSim/api_docs/html/#airsim.client.VehicleClient.simPlotLineList) is what you want? I wasn't aware this had been added!

[2021-12-09 16:14] JBLip commented on #248
That doesn't seem to work for me. When I open the .exe file, the only thing I can see is:
![image](https://user-images.githubusercontent.com/95872560/145433472-a0ccdf56-9d0f-497e-b8d5-19f33923a5b0.png)

Can anyone please help me?

[2021-12-09 16:32] JBLip opened #4204 ""Connecting" Python API with AirSim"
## Question
### What's your question?
How can I use Python API in my custom AirSim environment?

### Include context on what you are trying to achieve
I successfully built AirSim and I currently have a custom environment where I have a car/drone which I can use without a problem.
![image](https://user-images.githubusercontent.com/95872560/145434898-067f9355-7d62-46aa-84de-51be83c13b0e.png)
The thi

[2021-12-10 10:07] Sabrin0 opened #4209 "Send flag to Unreal through API"
### Discussed in https://github.com/microsoft/AirSim/discussions/4208

<div type='discussions-op-text'>

<sup>Originally posted by **Sabrin0** December 10, 2021</sup>
Is there a way to send a signal to unreal via Python API? I would like to execute BP functions only under certain conditions, for instance whenever the  lidar detects obstacles close to the multirotor </div>

[2021-12-10 18:14] suresh-guttikonda commented on #2163
is there an official fix for this available ? The fork of @GimpelZhang is out-of-date

[2021-12-10 19:04] JBLip commented on #4204
After many trials the way I found that works for me is the following:
1. First start your game from UE4
![image](https://user-images.githubusercontent.com/95872560/145627619-998a0ab7-5d5d-4115-bb20-1eae13c53681.png)
2. Then open CMD and navigate where your python file is, for example where "hallo_car.py" is. In my case I renamed it PythonCarController.py
3. Then type on your cmd: python hello_car.

[2021-12-10 19:05] #4204 closed

[2021-12-11 00:24] tteague19 commented on #1393
It is! By coincidence, I found that utility earlier this week, as well. Ideally, I would plot the lines throughout the simulation, but it suffices to use it between movements, which seems to be the only way to do so. If I become more proficient with AirSim, I will consider implementing something closer to what I have in mind. Thank you again for your help, @DavidLSmyth!

[2021-12-11 11:46] Poyralljack commented on #1608
I was having this issues and my solution is add to head sudo then runs it.

[2021-12-11 19:13] necharte commented on #4011
Were you able to find a solution? I'm having exactly the same problem...

[2021-12-13 15:44] Sabrin0 opened #4215 "Estimate Multirotor Kinematics"
### Discussed in https://github.com/microsoft/AirSim/discussions/4214

<div type='discussions-op-text'>

<sup>Originally posted by **Sabrin0** December 13, 2021</sup>
Hi, is there a way to estimate multirotor kinematics (position, orientation, linear and angular velocity) without actually move it on unreal?
For instance, to call the python method `moveByVelocity` and estimate the the drone navigat

[2021-12-13 15:46] Sabrin0 commented on #4209
The call `simRunConsoleCommand` can be used for this purpose

[2021-12-13 17:10] #4215 closed

[2021-12-13 17:44] jonyMarino commented on #4196
Hi and welcome @tkupek! Can you try to detect just the pedestrians? You can find the with `simListSceneObjects()`

[2021-12-13 17:47] jonyMarino commented on #4197
Hi and welcome @debian-user-france1! AirSim vehicles don't drive by themselves. However, AirSim provides an API that you can use to accomplish that.

[2021-12-14 13:18] tkupek commented on #4196
Thanks for the response. The list of objects has over 5000 entries. I cannot find any with "pedestrian" or "person".

[airsim-city-objects.txt](https://github.com/microsoft/AirSim/files/7711859/airsim-city-objects.txt)

[2021-12-14 18:22] jonyMarino commented on #4196
I am afraid that this environment will not serve you for what you need. All pedestrians are parts of CityEnv_PedManager_26 so you cannot individualize them. You are going to need a custom environment.

[2021-12-15 02:12] alexvaca0 opened #4218 "I'm looking for Talking Heads environment, which was once released in 1.2.1"
## What feature are you suggesting?
### Overview:
I'd like the TalkingHeads environment described and used in https://github.com/danmcduff/AvatarSim which links you to: https://github.com/Microsoft/AirSim/releases/download/v1.2.1/TalkingHeads.zip
However, when I try to enter the link I find out that releases 1.2.1 are not there anymore, nor is there the Talking Heads environment. Would it be possi

[2021-12-15 06:46] chongjeelee opened #4221 "catkin_make YAML error"
hello,when i catkin_make ros package ,i found error,the error detail below.
![图片](https://user-images.githubusercontent.com/30140969/146136922-1f4b7f0e-9407-4b76-9c3e-a13a179dbba1.png)
------
someone else has the same problem?pls help me resovle it ,thank you very much!

[2021-12-15 07:35] tkupek commented on #4196
That's too bad. Pedestrians and cyclist are the most important classes for me.

[2021-12-15 08:49] #4221 closed

[2021-12-15 08:50] chongjeelee commented on #4221
solved!
the CMakeLists.txt add below
find_package(yaml-cpp REQUIRED)
include_directories(include ${YAML_CPP_INCLUDE_DIRS})
link_directories(${YAML_CPP_LIBRARY_DIRS})

[2021-12-15 14:57] wouter-heerwegh commented on #3537
I've been looking at this for a while, and there does not seem to be a very efficient way of doing this in unreal engine. I'm able to get texture info at the specific point I hit, but no color data.

If anyone else finds a nice way to implement this, feel free to add extra information.

[2021-12-15 16:21] DAndrik21 commented on #1774
tried this with min_speed 0 , still having an issue

[2021-12-15 17:50] jonyMarino commented on #4196
Yes, that would be a good feature. But we can't work on this soon. So if you find a way to make, that work let us know how we should implement it for the City environment.

[2021-12-15 20:14] jonyMarino commented on #2038
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2021-12-15 20:14] #2038 closed

[2021-12-15 21:01] jonyMarino commented on #2416
It seems to be an error due to a version mismatch between the AirSim client and server.
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-12-15 21:01] #2416 closed

[2021-12-15 21:02] jonyMarino commented on #2122
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2021-12-15 21:02] #2122 closed

[2021-12-15 21:04] jonyMarino commented on #2404
I made it work using these settings:
[code]

[2021-12-16 09:43] bozcani commented on #3870
I was getting similar message on Ubuntu 20.04 with Unreal 4.27.1. When I opened "Blocks.uproject" in Editor, I got the following message:
`Engine modules are out of date and cannot be compiled, try building with IDE.`

It is solved after building the environment from the terminal:

`$ <path to Unreal Engine>/Engine/Build/BatchFiles/Linux/Build.sh Linux Development -Project=<path to Blocks project>

[2021-12-16 10:05] talha-opteran commented on #3870
Thanks @bozcani. For anyone using VSCode, I also managed to get it run by opening the VSCode workspace file generated when trying to open the `Blocks.uproject` file with the UE editor. In VSCode, press `Ctrl + Shift + B` to open menu for building tasks and run the task for `BlocksEditor Linux Development Build`. This essentially runs the same command as above.

[2021-12-16 12:31] JohnVorwald commented on #1668
I don't see the solution in #2407.

[2021-12-16 19:44] jonyMarino commented on #4218
Hi @alexvaca0! I downloaded that binary, but it's not working on my computer. It shut down immediately after starting.

[2021-12-17 12:28] Sabrin0 opened #4231 "Build error after airsim update"
I followed the instruction  [Upgrading Your Custom Unreal Project](https://github.com/Microsoft/AirSim/blob/master/docs/unreal_custenv.md#updating-your-environment-to-latest-version-of-airsim), but now I'm no more able to run the simulation, both by building in Visual Studio (first image error) or by launching the .uproject

![VS_error](https://user-images.githubusercontent.com/73488155/146533847-

[2021-12-17 12:31] Sabrin0 commented on #4231
In order to solve the firs error I had to set as startup project the game from the VS solution explorer. By the way, new errors jumped out:

Build started...
1>------ Build started: Project: DroneRescueNav, Configuration: DebugGame_Editor x64 ------
1>Using 'git status' to determine working set for adaptive non-unity build (C:\Users\Luca\Desktop\University\Thesis\DroneRescueNav).
1>Building DroneR

[2021-12-17 16:03] rhalaly opened #4232 "Wrong timestamp when using small `ClockSpeed`"
## Bug report

- AirSim Version/#commit: 3.1
- UE/Unity version: 4.18
- autopilot version:
- OS Version: Windows 11

### What's the issue you encountered?
It seems that `getCarState().timestamp` isn't affected by the `ClockSpeed` settings.

Running a simulation for 10 seconds under ClockSpeed of 0.5 - which means that the actual simulation time should be 5 seconds, doesn't affect the `timestamp` s

[2021-12-18 01:46] #4090 closed

[2021-12-18 01:46] Hijiongfeng commented on #4090
finished

[2021-12-20 22:26] XueZhihan commented on #4231
Same problem. Have you solved it now？

[2021-12-21 07:27] #1489 closed

[2021-12-21 08:05] zimmy87 commented on #4231
I'm not able to repro this personally by following the update steps on the Blocks project w/ either UE 4.25 or UE 4.26. Can you provide a few more details:

1. is Plugins\AirSim\Source\AirLib\include\common\AirSimSettings.hpp present in your project directory structure?
1. can you share any log files in Saved\logs?
1. when performing step 3 (replacing the plugin), did you overwrite an existing old

[2021-12-21 13:58] riyadfebrian commented on #1986
yeet, have the same problem, i think it was the `has_collided` bug when the car or quadrotor hit some object,  it's not changing the flag into `True`. so that was the problem.

what my trick to solve this issue is to add more parameter to make sure the car was in collision.
take a look at collision data:

`('Collision_data', { u'has_collided': False,

u'impact_point': { u'x_val': 0.0,
u'y_val': 0.

[2021-12-21 14:06] riyadfebrian commented on #1004
for me, `impact_point` and `position` are always changing, even without any collision.
but for `normal` it always change when my agent hit the obstacle.

take a look at my answer at this issue #1986

[2021-12-22 01:57] Mohamed-Omran opened #4235 "No instance of VS Error."
## Question
### What's your question?

I cannot build AirSim with VS 2022.

### Include context on what you are trying to achieve

When executing `build.cmd` I get the following error:
[code]
#### Context details

Win 10
VS 17.0
UE 4.27.2

### Include details of what you already did to find answers
N/A

[2021-12-22 10:16] chongjeelee commented on #2918
yes ,current lidar model is not perfect,when i want to get the resolution 0.2 degree,and i calculated the parameters,but can not receive the correct result,so strange...

[2021-12-22 10:59] zimmy87 commented on #1004
I did some testing locally with the simGetCollisionInfo() and I do see collision_info.has_collided get set to true, but it gets reset to false in PawnSimApi::setPoseInternal, so it looks like the true value can only be read in the clock tick immediately after a collision: if any more time elapses between a collsion and a call to simGetCollisionInfo(), you will read collision_info.has_collided afte

[2021-12-22 19:58] mmartial opened #4236 "Workaround for "Incompatible Vulkan driver found" (ICD)"
## Bug report

- AirSim Version/#commit: 4266b898ac5b20f35ebca3f2e3fa821b336dec69 (Dec 7)
- UE/Unity version: tested with 4.25.4 and after
- autopilot version: N/A
- OS Version: docker build

### What's the issue you encountered?

Following the instructions from https://microsoft.github.io/AirSim/docker_ubuntu/
and using a more recent version of UE (4.25).

When running `./run_airsim_image_source.

[2021-12-23 08:19] alonfaraj commented on #4235
AirSim currently support VS 2019.
You can try change this line in `build.cmd`:
`cmake -G"Visual Studio 16 2019" ..`
to:
`cmake -G"Visual Studio 17 2022" ..`
but I'm not sure it's going to work

[2021-12-24 15:30] Sabrin0 commented on #4231
HI, thank you for your support. Yes the file `Plugins\AirSim\Source\AirLib\include\common\AirSimSettings.hpp` is still present. Regarding the 2., I've tried in both ways. I attached the last log file.
For the 4. I've just a private report.

[UnrealVersionSelector-2021.12.24-16.25.04.log](https://github.com/microsoft/AirSim/files/7774706/UnrealVersionSelector-2021.12.24-16.25.04.log)

[2021-12-25 21:45] Mohamed-Omran commented on #4235
Thank you @alonfaraj.
I tried the version this amazing person @elevir forked and it worked fine on VS 2022

[2021-12-26 16:11] #4235 closed

[2021-12-27 07:07] ZhangFanSC opened #4241 "clockspeed seems doesn't work"
## Question
### What's your question?
Clockspeed does not work.  For example, I set clockSpeed to 3, but the timestamp in the actual emulator is still not the scale of the real-world timestamp.  I would like to ask if this means clockSpeed has no effect.  It's just a visual acceleration, and it doesn't really help the training outcome, right?

#### Context details

![UAR% ~XJW5$U0K_VVW7D~UX](https

[2021-12-27 10:25] dellhuyongcai opened #4242 "help on how to use my car instead of default car in airsim"
## Question
### What's your question?

I just want to learn how to use  my car in airsim, no documents can be referred,just come here to find materials,hope someone give steps as clearly as possible,thanks a lot!!

### Include context on what you are trying to achieve

#### Context details

### Include details of what you already did to find answers

[2021-12-27 11:50] Sabrin0 commented on #4242
Are you using Unreal? In this case first of all you need to declare the pawn path in the `setting.json`. For example:

[code]
Then  for the vehicle setting:

[code]
I did so and It works properly. Of course you must have your car BP properly configured in UE (e.g. mesh, material, actuators...)

[2021-12-27 15:39] ahmed-elsaharti commented on #4241
Hi @ZhangFanSC , From what I'm seeing in the code https://github.com/microsoft/AirSim/blob/bb9922eb0d56877d8e987ec1c24acc13c4ab3730/Unreal/Plugins/AirSim/Source/Vehicles/Multirotor/MultirotorPawnSimApi.cpp#L85 it looks like the timestamp is independent of the simulated clock speed and basically reports back [the time since epoch ](https://microsoft.github.io/AirSim/apis/#getmultirotorstate) regard

[2021-12-27 15:57] Sabrin0 commented on #4231
@XueZhihan did you solve it?

[2021-12-27 16:33] Sabrin0 opened #4243 "WorldSimApi. cpp build error"
Whenever I build the project with visual studio I get the following errors referred to the file `Plugins\AirSim\Source\WorldSimApi.cpp` :

[code]
---------------------------------------------------------------------------------------------------------------------------

- Windows 10
- UE4.26
- Visual Code 2019 [Debug Game Editor Win64]
- Windows 10.0.19041.0 SDK
- .NET 5.0

[2021-12-28 01:24] ZhangFanSC commented on #4241
So my idea is that if I set clockSpeed to 4, and I change the time interval between step execution in the corresponding reinforcement learning to 1/4 as before, will that work in the end?
@ahmed-elsaharti
Thanks.

[2021-12-28 02:12] ahmed-elsaharti commented on #4241
@ZhangFanSC if im understanding what you're saying correctly, doing this will result in a 'step execution' every '1 simulated second'.
Since 1 real world second = 4 simulated seconds, A command executed every 1/4 real world second should result in a that command being executed every 1 'simulated second'.... i think xD

[2021-12-28 02:51] ZhangFanSC commented on #4241
ok，thank you.@ahmed-elsaharti

[2021-12-28 10:06] chongjeelee opened #4247 "lidar sensor can not get the real data from environment"
## Bug report
N/A

### What's the issue you encountered?

### Settings

### How can the issue be reproduced?

1.
2.

### Include full error message in text form

**What's better than filing an issue? Filing a pull request :).**

-----------------
hi,when i use lidar sensor to get 3D data from the environment(TrapCam or MSbuilding2018),i find the 3D data can not include any object ,it like this bel

[2021-12-28 12:36] chongjeelee commented on #4247
put lidar segmentation info to point cloud ([x y z intensity])
---------
![Uploading 图片.png…]()

[2021-12-28 15:27] Sabrin0 commented on #4243
Maybe this warning might be correlated:

[code]

[2021-12-28 23:00] alonfaraj commented on #4231
Hi @Sabrin0
I see that you have git control for your project.
Can you try change the folder `.git` to anything else (`.git_`), and then rebuild?

[2021-12-29 03:53] ZhangFanSC opened #4250 "What coordinates of radar in SensorLocalFrame？"
## Question
### What's your question?

1. For radar, I set the DataFrame to SensorLocalFrame. I would like to ask if the coordinates obtained at this time are relative to the local NED coordinate system of the vehicle starting point or the liDAR's own coordinate system (which is converted from the local vehicle coordinate system to the sensor coordinate system through coordinate rotation)? If it's

[2021-12-29 05:11] adithyashok opened #4251 "How do I replace the quaternion data in airsim_rec.txt with pitch, yaw, & roll angle?"
## Question
### What's your question?

Apologies in advance if this question is trivial. I am attempting to generate a dataset for training a DNN, and was wondering if there is any way to change the data that is recorded into airsim_rec.txt by default? I was hoping instead of Q_X, Q_Y, Q_Z, Q_W to record the pitch, roll, and yaw of the drone.

### Include context on what you are trying to achieve

[2021-12-29 08:25] alonfaraj commented on #4251
Hi @adithyashok,
You can use `VectorMath::toEulerianAngle()`.
so in your case:
[code]
notice that the output `p, r, y` angels are in radians.

[2021-12-29 10:21] Sabrin0 commented on #4231
Hi @alonfaraj, thanks for tour reply. I saw it too by looking at the log file. Git's given my build troubles, I don't know why. In order to solve the problem I modified the [BuildConfiguration.xml](https://docs.unrealengine.com/4.26/en-US/ProductionPipelines/BuildTools/UnrealBuildTool/BuildConfiguration/) by adding the following lines:

[code]

Now everything works properly. Is this a good solutio

[2021-12-29 11:05] alonfaraj commented on #4231
I'm not familiar with this file and personally I prefer not change UE4 related files.
My idea is to disable git by change its folder name temporary, build and rename it again to the original name.
Glad to hear it's works for you!

[2021-12-29 11:15] Sabrin0 commented on #4250
Due to the [LiDAR ](https://microsoft.github.io/AirSim/lidar/)parameters, configured via the `setting.json`, you can define the position (NED [m]) and the orientation (order to front vector +X [deg]) of the sensor wrt the vehicle frame.  Lidar provides also a `point_cloud`, a flat array of floats along with the timestamp of the capture and lidar pose. The floats represent the x,y,z for each point

[2021-12-29 11:20] Sabrin0 commented on #4243
#4231

[2021-12-29 11:22] #4243 closed

[2021-12-29 11:42] #4231 closed

[2021-12-29 14:24] lnexenl opened #4252 "How to change the baseline of stereo cameras when requesting DisparityNomalized images in ComputerVision mode?"
## Question
### What's your question?
How to change the baseline of stereo cameras when requesting DisparityNomalized images in ComputerVision mode?

### Include context on what you are trying to achieve
I am using ComputerVision mode to gather some stereo pictures and corresponding disparity images with a baseline of 1 meter.

#### Context details

OS: Manjaro 21.2.0 Qonos
Airsim v1.6.0
UnrealEng

[2021-12-29 17:52] adithyashok commented on #4251
Thanks, this looks great. Despite modifying the file, changes are not seen in airsim_rec.txt. Do I need to make these updates elsewhere as well?

[2021-12-29 19:26] alonfaraj commented on #4251
Did you add p, r, y to the part that makes the actual writing?

[2021-12-29 20:48] rhalaly commented on #4235
@Mohamed-Omran can you share more info on how to build it with VS 2022? Which fork did you use?

[2021-12-29 22:24] adithyashok commented on #4251
Yes, I did.

[2021-12-29 22:40] rhalaly commented on #3038
I tried to compile custom env to Linux (from Windows) and got the same error. Is anyone solve it?

[2021-12-29 22:52] rhalaly opened #4253 "Cannot compile environment to Linux"
## Bug report

- AirSim Version/#commit: bb9922eb0d56877d8e987ec1c24acc13c4ab3730
- UE/Unity version: 4.27
- autopilot version:
- OS Version: Windows 11

### What's the issue you encountered?

<img width="1200" alt="image" src="https://user-images.githubusercontent.com/8597700/147708978-e57412cd-395e-4e09-b789-824049ebf014.png">

### Settings

### How can the issue be reproduced?

1. Open an envir

[2021-12-30 01:38] ZhangFanSC commented on #4250
Thank you for solving my second problem.

But I still have a question about the first one.Suppose my liDAR settings is as follows：
![image](https://user-images.githubusercontent.com/76544411/147714607-6758d169-0b9f-4cd4-81ca-d014a1f9c14d.png)

My first question is foucs on in sensorLocalFrame what coordinate system did I get the data from the point cloud .As the figure below.
![image](https://user

[2021-12-30 06:37] BF111111 commented on #2992
Have you solved the problem yet?

[2021-12-30 06:38] BF111111 commented on #2992
Have you solved the problem yet? I have the same problem.

[2021-12-30 10:31] XueZhihan commented on #1757
Meet the same bug. Does anyone solve it during these 2 years?

[2021-12-30 11:16] zhangmanCN commented on #3869
Hi,I also meet this trouble.If anyone have some way to solve it ,please discuss it

[2021-12-30 13:18] GuiABP opened #4254 "PX4 Preflight check fail in Airsim custom environment"
## Question
### What's your question?
I have configured the SITL simulation using Airsim. When I use the [environment ](https://github.com/microsoft/AirSim/releases/download/v1.5.0-windows/MSBuild2018.zip)available in the Airsim binaries, the simulation works fine. But when I use my custom environment, I have the following error: `WARN  [PreFlightCheck] Preflight Fail: Roll failure detected`.

###

[2021-12-30 13:26] Rick-Weng commented on #859
similar wrong.
(base) hp@hp-pc:~/WXR/UE4/UnrealEngine-4.25$ make UE4Editor UE4Game UnrealPak CrashReportClient ShaderCompileWorker UnrealLightmass
bash "/home/hp/WXR/UE4/UnrealEngine-4.25/Engine/Build/BatchFiles/Linux/Build.sh" UE4Editor Linux Development
Fixing inconsistent case in filenames.
Setting up Mono
Building UE4Editor...
Using 'git status' to determine working set for adaptive non-unity

[2021-12-30 17:44] lnexenl commented on #4252
I have solved this problem with another method. I record DepthPerspective image instead, mapping the image to depth, and convert depth to disparity with known focal length and baseline.

[2021-12-30 17:44] #4252 closed

[2021-12-30 19:07] alonfaraj commented on #4251
I have made a quick test with the following code:

[code]

and the output file looks like this:
[code]

I can't think of any way that you have modified the code and rebuild, but still get the old record file.
Can you share your code? or use breakpoint to check that you actually go into this function?

[2021-12-30 19:10] adithyashok commented on #4251
#Looking into it, I realized that I didn't update the code in the correct plugin location for my Unreal project, and making the update does the job. Oops! Resolved.

[2021-12-30 20:16] Davidsastresas opened #4255 "Support for lights attached to vehicles"
I think it would be useful to be able to change the lights attached to vehicles, in order to better estimate simulations when computer vision is involved in a system where it can control lights.

I think I have sorted out how to include permanent lights attached to the player in Unreal, but I don't know how to start attaching that to a connection in Airsim, and thus to the autopilot or software ma

[2021-12-31 03:30] rajat2004 commented on #4255
Recently a feature to control lights was added, see https://github.com/microsoft/AirSim/pull/3991, might be useful here
For a quick hack, might be possible to continuously change the pose of the light object as needed to follow the vehicle, using say `simSetObjectPose`. Better way wold probably be to attach the blueprint to the vehicle itself, but not sure if it would still work through the API

[2021-12-31 16:43] jonyMarino commented on #4241
This is related to #4232.

Thanks, @ahmed-elsaharti!! Good to see you again!

[2021-12-31 16:52] jonyMarino commented on #4247
Hi @chongjeelee! The Lidar depends on how the collisions have been configured. Take a look at #2948. Let us see which is the collisions configuration for that objects.

[2021-12-31 17:05] jonyMarino commented on #2466
Closed due to lack of response. Feel free to ask to reopen if you can answer our questions.
Thanks!

[2021-12-31 17:05] #2466 closed

[2021-12-31 17:06] jonyMarino commented on #2279
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2021-12-31 17:06] #2279 closed

[2021-12-31 17:07] jonyMarino commented on #2319
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2021-12-31 17:07] #2319 closed

[2021-12-31 17:07] jonyMarino commented on #1880
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2021-12-31 17:07] #1880 closed

[2021-12-31 17:11] jonyMarino commented on #2943
simGetGroundTruthKinematics & simSetKinematics.
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2021-12-31 17:11] #2943 closed

[2021-12-31 17:11] jonyMarino commented on #2941
Read the docs.
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2021-12-31 17:11] #2941 closed

[2021-12-31 18:45] Davidsastresas commented on #4255
Thank you very much, that is enough for me to keep pulling that string. If I manage to do something nice I will submit a PR about it. Thanks!

[2021-12-31 21:30] emersonjr commented on #3038
i ended up packaging on Linux for Linux, it worked. Know this isn't a good solution for this issue but anyways does a work around.

[2022-01-01 15:01] rhalaly commented on #3038
@emersonjr ho, that's said. Compiling Unreal Engine from source on Linux takes HOURS.

[2022-01-02 21:04] jonyMarino commented on #3376
@maxystory [Mavlink-router](https://github.com/intel/mavlink-router) can be used instead of MavlinkTest.
@pp00uya it should be possible. Please share the details in a new issue.
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-01-02 21:04] #3376 closed

[2022-01-03 01:51] QSJZDDY commented on #2948
I can get the pointcloud data but when I start to simulate I can't see the lidar green scan points like your image. How to deal with it?

[2022-01-03 02:39] robot-xyh opened #4260 "In multi-drone emulation, pressing T toggle Trace line only works on one drone"
## What feature are you suggesting?
### Overview:

In the simulation of multip-drones, press the T key to toggle traceline and only one drone changes. Traceline of the remaining drones cannot be hidden or display

### Smaller Details:

### Nature of Request:

- Addition
- Change
- Removal
  -

## Why would this feature be useful?
I'm doing multi-drone simulations right now, but I can only show the

[2022-01-03 10:54] robot-xyh opened #4261 "The Position of multi-drones is not correct."
## Bug report

- AirSim Version/#commit:1.6.0
- UE/Unity version:
- autopilot version:
- OS Version:win10 blocks

### What's the issue you encountered?

When I set up multiple uAVs, I found that no matter how I set the position of UAVs, the position obtained was the same. I thought that each UAVs had a coordinate system, instead of a global coordinate system. But unreal POS is correct.If, in accor

[2022-01-03 11:58] WouterJansen commented on #2948
The green points are a debug draw mode that can be enabled for the LiDAR sensor.
https://github.com/microsoft/AirSim/blob/master/docs/lidar.md

As seen in the example settings configuration there, to enable, set `DrawDebugPoints` to `true`.
[code]

[2022-01-03 15:02] bozcani opened #4263 "Object detection API gives incorrect detections"
## Bug report

- AirSim Version/#commit: v.1.6.0 Linux,
- UE/Unity version: UE4.27 and UE4.25
- autopilot version: n/a
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

AirSim [object detection API](https://microsoft.github.io/AirSim/object_detection/) gives incorrect bounding boxes for custom added objects. The detected bounding boxes flicker across the frames even if the drone i

[2022-01-03 16:50] GuiABP commented on #4254
I've founder the solution here: https://github.com/microsoft/AirSim/issues/3820

In my custom environment in Airsim 1.6.0 the SITL simulation works well. The problem was solved.

[2022-01-03 16:50] #4254 closed

[2022-01-03 16:52] rajat2004 commented on #4263
Not sure if you have already tried it, but can you increase the radius value using `simSetDetectionFilterRadius` to  a high value, say 1000m or what you feel is the max possible distance, to confirm it isn't due to the object being just at the edge

[2022-01-03 17:29] rhalaly commented on #4253
@bozcani Thank you for the fix, but there is also a problem that `UdpSocket.hpp` file not found

[2022-01-03 18:59] bozcani commented on #4253
Ah no, my bad. I see your problem is different. I compiled a custom environment on Linux for Linux. And, I got almost the same error messages:
[code]
My PR fixes this for building on Linux for Linux but it doesn't necessarily solve your problem. I will remove the link to your issue from my PR message.

[2022-01-03 19:20] bozcani opened #4264 "Cannot build Blocks on Linux for Linux"
## Bug report

- AirSim Version/#commit: v1.6.0
- UE/Unity version: 4.27
- autopilot version: n/a
- OS Version: Ubuntu 20.04

### What's the issue you encountered?

Building an environment on Linux causes a build error because of clang. This issue is partially related with https://github.com/microsoft/AirSim/issues/4253

### Settings

n/a

### How can the issue be reproduced?

1. Install and build

[2022-01-03 19:23] rhalaly commented on #4253
@bozcani thanks for the clarification. Actually, I didn't succeed to compile Linux on Linux even for the basic Blocks environment with Unreal Engine 4.27, only with 4.25... (Fixed the `loop variable` error manually)

[2022-01-03 19:23] rhalaly commented on #4253
@bozcani thanks for the clarification. Actually, I didn't succeed to compile Linux on Linux even for the basic Blocks environment with Unreal Engine 4.27, only with 4.25... (Fixed the `loop variable 'preset' creates a copy from type 'const FNamedLensPreset' [-Werror,-Wrange-loop-construct]` manually

[2022-01-03 19:38] bozcani commented on #4253
Ok, I have created a new issue (https://github.com/microsoft/AirSim/issues/4264) just to solve "loop variable" and pointed my MR (https://github.com/microsoft/AirSim/pull/4262) to that. I think your problem is different (i.e., `fatal error: 'UdpSocket.hpp' file not found` ) and have no idea for the solution at the moment. I hope someone can help.

[2022-01-03 22:20] szx0112 opened #4265 "AirSim with Robot Dog?"
## What feature are you suggesting?
### Overview:

Hi, is it possible to add a robot dog simulator in airsim? It's getting quite popular recently.

### Smaller Details:

### Nature of Request:

- Addition
- Change
- Removal
  -

## Why would this feature be useful?

[2022-01-04 03:42] ZhangFanSC opened #4268 "setCarControls doesn't seem to work"
## Question
### What's your question?

I tried to setCarControls to control the steer of the car, but it didn't seem to work

### Include context on what you are trying to achieve

![image](https://user-images.githubusercontent.com/76544411/148006122-099218a9-7b85-4104-93c8-db09efddaf40.png)
![image](https://user-images.githubusercontent.com/76544411/148006131-b129e56d-da36-40a8-a165-a5d6b033c085.

[2022-01-04 03:54] ZhangFanSC commented on #4268
oh，I've learned that you have to add the time at the end of the setting

[2022-01-04 06:06] bozcani commented on #4263
Yes, I tried a wide range of radius values. It doesn't fix. I can confirm that it is not related with being at the edge.

[2022-01-04 06:45] zhangmanCN commented on #3869
Hello, although I haven't understood the mechanism, I think I have found a solution. The lack of radar data seems to be related to the UE4 simulation frame rate. When the simulation frame rate is greater than the radar scanning frequency, the radar data will be lost. It may be that the refresh of the simulation frame will cut off the radar data. An effective solution is to set the simulation frame

[2022-01-04 07:26] robot-xyh commented on #4260
Thank you, I am currently using the release executable environment, will this be updated in the next release?

[2022-01-04 09:16] dellhuyongcai commented on #4242
thanks a lot,Successfully solved this problem!

[2022-01-04 09:16] #4242 closed

[2022-01-04 09:18] Zartris commented on #4263
So I narrowed down the "problems":

First is the missing/flickering bounding boxes.
This problem occurs in the [DetectionComponent.cpp#L136-L166](https://github.com/microsoft/AirSim/blob/bb9922eb0d56877d8e987ec1c24acc13c4ab3730/Unreal/Plugins/AirSim/Source/DetectionComponent.cpp#L136-L166), To check if it's actually visible or hidden, we check against 8 extend points by using LineTraceSingleChanne

[2022-01-04 09:59] bozcani commented on #4263
Hey @Zartris, thanks for the help!

Setting `bOnlyCollidingComponents` to `true` seems to solve the whole problem. By setting this, the actor bounds computed by Unreal seem more correct. Here is when `bOnlyCollidingComponents=false` (current implementation of Airsim)
![image](https://user-images.githubusercontent.com/8015532/148041182-fc8ea499-3865-4bda-ad98-cb36e472f865.png)
When we set `bOnlyCol

[2022-01-04 12:48] mgrova opened #4269 "Simple Flight Controller with Hexacopter"
## What feature are you suggesting?
### Overview:
Good Morning!
I am writing to find out if it would be possible to implement the SimpleFlight firmware on a hexacopter like DJI-S900 or DJI-M600.
The main idea is to avoid using a SITL PX4 or similar and to be able to take advantage of the firmware that is written with new aircraft platforms.

### Smaller Details:
I have been trying to modify the "_

[2022-01-04 15:47] Gastastrophe commented on #4263
If you want a temporary fix, I use the segmentation camera to create bounding boxes. You can then use the leftmost, bottommost, etc. coordinates in the image that contain the color corresponding to the object in question to create a bounding box. It's slow, but the accuracy is perfect.

[2022-01-04 16:25] bozcani commented on #4263
Yes, it is a workaround solution that I use so far. However, I also need GPS data of the detected objects, and it is only possible if Object Detection API works properly.

[2022-01-04 18:35] #4263 closed

[2022-01-04 21:02] ab3nd commented on #4087
This may have been related to Symantec Endpoint Protection, which will block WSL2 but not WSL1. Might also have been version mismatches in my scripts vs. the installed version of AirSim. I didn't fix it, just moved on to other things.

[2022-01-04 21:02] #4087 closed

[2022-01-04 21:03] ab3nd opened #4271 "Attempting to get the camera information for an external camera crashes Unreal."
AirSim Version/#commit: v1.6.0-windows
  UE/Unity version: 4.26
  autopilot version: N/A
  OS Version: Ubuntu 18.04.5 LTS (In WSL) and Windows 10 Pro

I have a settings.json that includes an external camera named "FixedCamera1", it's the same as the one in https://github.com/microsoft/AirSim/issues/4087 . When I attempt to get the camera information for that camera, the session of the Unreal Edito

[2022-01-04 21:08] ab3nd commented on #4271
In the file that it mentions, PIPCamera.cpp:
[code]
Line 303 is the line to get the position of the camera.

[2022-01-04 21:16] ab3nd commented on #4271
Found it.

c.simGetCameraInfo("FixedCamera1") -> SUDDEN DEATH
c.simGetCameraInfo("FixedCamera1", external=True) -> Information, which is indeed about cameras

"External" is VERY not optional.

[2022-01-04 21:16] #4271 closed

[2022-01-05 12:31] cumtchenchang commented on #2396
Can Airsim support fisheye model, such as Kananla Brandt 8 model?
Thank you

[2022-01-05 12:35] #4264 closed

[2022-01-05 14:16] zimmy87 commented on #4196
Now that #4270 is merged, the boxes for the buildings and other actors should be more accurate in the next release. However, like @jonyMarino mentioned earlier, the pedestrians, cyclists, and cars are all part of instanced static mesh components inside various manager actors. The current object detection algorithm doesn't make individual detections for instanced static mesh components, so you won'

[2022-01-06 22:15] jonyMarino commented on #4265
Hi and welcome @szx0112! It is not an easy task. You would need to make a lot of changes to the AirSim code. Changing the car's mesh to the one for a robot dog is simple, but I don't know if that suffices your needs.

[2022-01-07 03:23] Zhenlin-Xu commented on #4160
Did you check the cumulative reward of every episode on Tensorboard?  I start a training on dqn_car.py today. I will go back to this issue if I find something interesting.

[2022-01-07 12:10] alonfaraj commented on #4261
Related:
https://github.com/microsoft/AirSim/discussions/3844
https://github.com/microsoft/AirSim/issues/3882

[2022-01-07 13:22] ahmed-elsaharti commented on #4241
Thanks @jonyMarino! I try to take a glance whenever possible 🤓

[2022-01-07 15:44] cumtchenchang opened #4275 "camera distortion"
Can Airsim support fisheye model, such as Kananla Brandt 8 model?
Thank you

[2022-01-07 15:45] Mohamed-Omran commented on #4235
@rhalaly  https://github.com/elevir/AirSim

[2022-01-07 19:03] jonyMarino commented on #2788
Hi @subedisuman! That's great to hear. I will take a look at your fork when having time. I would love to see this becoming a PR.

[2022-01-08 20:52] rhalaly opened #4276 "Azure example fails to run"
## Bug report

- AirSim Version/#commit: bb9922eb0d56877d8e987ec1c24acc13c4ab3730
- UE/Unity version: 4.27
- autopilot version:
- OS Version: Windows 11

### What's the issue you encountered?

Running the [Azure example](https://github.com/microsoft/AirSim/tree/master/azure) with docker (built with `docker build -t <your-registry-url>/<your-image-name> -f ./docker/Dockerfile .` from [docs](https:/

[2022-01-11 02:10] #1004 closed

[2022-01-11 07:17] dellhuyongcai opened #4279 "Anyone knows the representative meaning of car_controls.steering ,it represents the steering-wheel or just the tire rotation？"
I want to know the specify meaning of the car_controls.steering,I just know 1.0 means turning right,0.5 also means turning right,the value  is more bigger,the speed is more higher,but what is the unit ?the unit is 180 angle or degree?looking forward to your kind replay!

[2022-01-11 11:35] talha-opteran commented on #4101
@rajat2004 Has there been any progress towards a fix for this?

[2022-01-11 11:36] zimmy87 commented on #4261
Looking at the code, this appears to be by design. If you take a look at the implementation of [PawnSimApi::getPose()](https://github.com/microsoft/AirSim/blob/master/Unreal/Plugins/AirSim/Source/PawnSimApi.cpp#L426), it converts the pawn's global position to a local offset from the pawn's starting point. This method is used as the basis for the position returned by both `simGetGroundTruthEnvironm

[2022-01-11 11:52] zimmy87 commented on #3882
See my comment [here](https://github.com/microsoft/AirSim/issues/4261#issuecomment-1009877677). I think this is by design, but I will confirm with my team. You can work around this by using the `simGetObjectPose()` API.

[2022-01-12 03:20] Vampireqyz opened #4280 "cd Airsim"
![3I(5`FTFS454M0T~@I@A293](https://user-images.githubusercontent.com/96807892/149058066-b88db463-281e-4e2f-a844-943592056423.png)

[2022-01-12 08:14] #4260 closed

[2022-01-12 08:35] aib opened #4281 "Blank screen, nothing visible until ALT+F4"
## Bug report

- AirSim Version/#commit: releases/tag/v1.6.0-linux
- UE/Unity version: Unknown
- autopilot version: N/A
- OS Version: Ubuntu 21.20

### What's the issue you encountered?

Upon launching LinuxNoEditor/Blocks.sh or LinuxNoEditor/Blocks/Binaries/Linux/Blocks I get a black screen with my mouse cursor visible. From the alt-tab dialog I can surmise that a "Choose Vehicle" window and a si

[2022-01-12 08:39] aib commented on #4281
stdout:
[code]
(this is where I close Choose Vehicle)
[code]

stderr:
[code]
(this is where I close Choose Vehicle)
[code]

[2022-01-12 10:41] alonfaraj commented on #4280
Seems like you running on windows so you can't run the build batch file from git bash.
You need to open `Visual Studio 2019 Developer Command Prompt`.
Then cd into AirSim root directory and run `build.cmd`.

[2022-01-12 17:47] jonyMarino commented on #3243
Now Landscape shouldn't have that stochastic behavior.

[2022-01-12 17:47] #3243 closed

[2022-01-12 18:08] aib commented on #4281
Just found out about `-windowed` thorough an external site. Fixes the problem as expected.

[2022-01-12 18:28] #3109 closed

[2022-01-12 19:21] szx0112 commented on #4265
@jonyMarino Thanks for the reply.

I think the motion mechanism of the robot dog is more similar to a human (e.g., jump, turn, climb stairs) instead of a car (has the minimal turning radius). Is that possible to make such adjustment?

The application I am interested in is the usage of robot dogs for indoor surveillance. Thanks.

[2022-01-13 00:00] ClarkZha opened #4285 "Unity Simulator Crashes When Using External Physics Engine Setting"
AirSim Version/#commit: 1.7.0
UE/Unity version: Unity 2019.3.12.f1
autopilot version: - N/A
OS Version: Ubuntu 18.04

## Bug report

Unity simulation will crash if ` "PhysicsEngineName":"ExternalPhysicsEngine"` is set in the settings.json.

The Unity editor will crash once the drone simulator is chose in the scene selection.
![image](https://user-images.githubusercontent.com/39609430/149241037-6ec

[2022-01-13 02:42] Vampireqyz opened #4286 "set blocks environments for Airsim"
## Bug report

- AirSim Version/#commit:
- UE/Unity version:
- autopilot version:
- OS Version:

### What's the issue you encountered?

how to operate "update_from_git.bat" in the blocks?
![XBYABE8C`KR(1)AMEX`XXZV](https://user-images.githubusercontent.com/96807892/149256394-d92c9c7a-e87c-4822-b180-4e3eafc6239d.png)

### Settings

### How can the issue be reproduced?

1.
2.

### Include full error

[2022-01-13 03:47] Vampireqyz opened #4287 "blocks for airsim"
## Bug report

- AirSim Version/#commit:
- UE/Unity version:
- autopilot version:
- OS Version:

### What's the issue you encountered?

![Z1`M6WU(2ZZ5U{AJKEA0D99](https://user-images.githubusercontent.com/96807892/149262341-fe612bc6-63b6-4941-ae2a-5958c042038c.png)
why aren't the correct files generated
### Settings

### How can the issue be reproduced?

1.
2.

### Include full error message in te

[2022-01-13 03:48] Vampireqyz commented on #4287
there is no ".sln" files

[2022-01-13 05:26] Vampireqyz commented on #4280
![Z1`M6WU(2ZZ5U{AJKEA0D99](https://user-images.githubusercontent.com/96807892/149270495-d4ea3939-f0f5-4bb1-bf81-a89905c83521.png)
DO you know how to solve this ,when we set blocks for airsim ,operate "update_from_git.bat",there is no ".sln" files.looking forward to your reply.

[2022-01-13 05:41] Vampireqyz commented on #4265
![Z1`M6WU(2ZZ5U{AJKEA0D99](https://user-images.githubusercontent.com/96807892/149272119-d9251812-cbe7-4f8f-9f0a-1ce522c34e43.png)
![VY)DSE8O9LCAE0I28RRH6SY](https://user-images.githubusercontent.com/96807892/149272167-582a10dd-8682-4e61-9809-17b5e11bb542.png)
when we set blocks for airsim,operated the "update_from_git.bat",there is no ".sln"files.thank you,looking forward to your reply.

[2022-01-13 08:20] alonfaraj commented on #4280
you need to run `GenerateProjectFiles.bat` before

[2022-01-13 08:31] Vampireqyz commented on #4280
It's not work, it seems like we can't find "hkey_classes_root\unreal.projectfile\shell\rungenproj"
![$){ UQXFWUE VEB8@U RUY4](https://user-images.githubusercontent.com/96807892/149293952-9093a198-e6a1-4103-96f3-d536b2dd9777.png)

[2022-01-13 09:30] Vampireqyz opened #4288 "blocks.sln wrong"
## Bug report

- AirSim Version/#commit:
- UE/Unity version:
- autopilot version:
- OS Version:

### What's the issue you encountered?

![FE0V_RY718%5VW$OK24%KX](https://user-images.githubusercontent.com/96807892/149303499-0c67883f-155c-4f85-803f-747044bacd77.png)

![_%UCK$_L$X_KCK222@U5UBO](https://user-images.githubusercontent.com/96807892/149303151-376e6ee5-0843-4688-bb56-ed38a1138a2a.png)
why

[2022-01-13 09:37] Vampireqyz commented on #4280
when we double click "Block.sln" file,operate this file which shows can not import "delayimp.lib"file.
![FE0V_RY718%5VW$OK24%KX](https://user-images.githubusercontent.com/96807892/149304519-ed7801c0-bc6e-4d3f-8c76-d22e8bfcf529.png)
![_%UCK$_L$X_KCK222@U5UBO](https://user-images.githubusercontent.com/96807892/149304536-bcae5989-581c-4c59-a182-1e24dc9aaf17.png)

[2022-01-13 09:43] Vampireqyz commented on #1963
yeah,we have the same problem now.so do you have already done this problem,would you like to share your solution with us.

[2022-01-13 09:43] Vampireqyz commented on #1963
looking forward to your reply early.

[2022-01-13 11:54] Vampireqyz commented on #480
we have the problem when we double click".sln"file.and choose debuggame editor and win64,f5
but it failed,there is a problem with the following picture.
![FE0V_RY718%5VW$OK24%KX](https://user-images.githubusercontent.com/96807892/149324899-4b46cad8-0873-41b8-9d4d-5719be63e95f.png)
![G`2QBF2%Z_X7_M`V}}KV3AU](https://user-images.githubusercontent.com/96807892/149324904-2008b3bf-0f09-45f1-b897-9b9309

[2022-01-13 12:54] azadhamid opened #4289 "About Lidar's accuracy"
## Question
### What's your question?
Does anyone know the accuracy of Lidar in Airsim?
I put the number of channels equal to 1,and limited the Lower and Upper level of Lidar's FOV in both directions to -1 and +1,respectively. By flying the drone in "AirSimNH" environment near a house, I collected the Lidar data as the drone moved toward the building. Unfortunately, the recorded "range to the buil

[2022-01-13 17:32] zimmy87 commented on #4247
The collision presets on various objects in TrapCam and MSbuilding2018 have been updated to respond to Lidar. For custom environments, objects need to block the visibility collision channel in order to be detected by lidar.

[2022-01-14 07:06] #4279 closed

[2022-01-14 10:45] zimmy87 commented on #4081
Hey @martin0004 are you still experiencing this issue?

[2022-01-14 10:48] zimmy87 commented on #3971
Hey @shyamalschandra are you still experiencing this issue?

[2022-01-14 10:51] zimmy87 commented on #3963
Are you still experiencing this issue @EdwinMeriaux? Also did you run ./setup.sh before ./build.sh?

[2022-01-14 11:00] zimmy87 commented on #3870
Hey @nikitabeebe, are you still experiencing the issue described in your original post?

[2022-01-14 11:07] zimmy87 commented on #3846
Hi @AlezzzRd and @ACE199704, are either of you still experiencing this issue? If so, can you post the output of running `where powershell` in a Developer Command Prompt?

[2022-01-14 11:08] zimmy87 commented on #3703
Hi @tiusty, are you still experiencing this issue?

[2022-01-14 11:10] zimmy87 commented on #3582
Hi @shanek16, are you still experiencing this issue?

[2022-01-14 11:13] zimmy87 commented on #3540
Hi @mmuetert, are you still experiencing this issue?

[2022-01-14 11:15] zimmy87 commented on #3484
Hi @petergerten, are you still experiencing this error?

[2022-01-14 11:28] zimmy87 commented on #3361
Are you still experiencing this issue @wq1148927746?

[2022-01-14 11:31] #3294 closed

[2022-01-14 18:47] blakermchale opened #4292 "AirSim Windows 11 WSL2 and ROS2 not working"
## Bug report

- AirSim Version/#commit: 0becf9148d88c19c3ffd69359ebe1f9c3ae43826
- UE/Unity version: 4.27
- autopilot version: NA
- OS Version: Windows 11 and WSL2 Ubuntu 20.04

### What's the issue you encountered?

I'm trying to run the ros2 wrapper like the ros1 wrapper from WSL2 with default quadrotor and call:
[code]
It ends up failing because of a timeout with 'getServerVersion' seen below:

[2022-01-15 01:32] Cming7 commented on #4178
What's the lookahead error?

[2022-01-15 03:34] Cming7 commented on #3106
Hello, can I change the minimum value?

[2022-01-15 09:28] Cming7 commented on #3106
Excuse me, have you solved the problem yet? Can I change the minimum value?

[2022-01-16 21:54] rhalaly commented on #4148
@jonyMarino I'm facing the exact same issue. I'm using Azure but my algorithms heavily depend on the CPU. The recommendation in https://microsoft.github.io/AirSim/azure/ is a GPU machine (NV-machines), but I prefer to buy more CPUs without "unnecessary" GPUs.

For example, NV24 has 24 vCPUs but brings 4x unnecessary GPUs. But F72s v2 costs around the same price, but it has 72 vCPUs!

About the slo

[2022-01-16 22:00] xxEoD2242 commented on #4148
@rhalaly Unreal Engine, not AirSim, uses the GPU and that is required regardless of how you run the system. As AirSim is a plugin for UE, it would not be possible to use this without a GPU available.

If you are savy with networking, I would recommend running UE on a low-cost GPU instance and then network in your algorithms on a CPU-only instance through the APIs. Since Msgpack is inherently a com

[2022-01-16 22:12] denmonz commented on #1759
Just wanted to add to the conversation, as I was also having issues:

If you're still getting the error that the specified '.exe' cannot be found, you need to set the 'Solution Configuration' to 'Debug' and the 'Solution Platforms' to 'x64' before launching the 'Local Windows Debugger' in AirSim.sln. If you're launching the simulation environment from VS as well (e.g., the provided 'Blocks'), be s

[2022-01-16 22:12] rhalaly commented on #4148
Of course :)

Actually, it is an interesting idea! Since I run the simulation in "sync mode" (send command then simulate) I don't think I will affect by latency.
But the bottleneck for parallelism is still the GPU machines - how much simulation you can run in parallel. With a low-cost GPU, the answer will probably be 1...

My goal is to use Azure Batch for running multiple tasks with different hyp

[2022-01-17 02:00] Cming7 opened #4293 "incorrect position by moveToPositionAsync"
## Bug report

- AirSim Version:1.2
- UE version:4.27
- OS Version:Windows 10

### What's the issue you encountered?
I encountered a similar problem with #3106 . When I tried moveToPositionAsync API. I found that the drone doesn't move if  the set point relative to the current position is less, like 0.5.
I'm still confused witn the meaning of the lookahead and adaptive_lookahead parameters after r

[2022-01-17 02:31] Cming7 opened #4294 "data mismatch between moveToPositionAsync and getMultirotorState().kinematics_estimated.position"
## Bug report

- AirSim Version: 1.2
- UE: 4.27
- OS Version: Windows 10

### What's the issue you encountered?
 I get a different height by getMultirotorState().kinematics_estimated.position  than I set by moveToPositionAsync.
For example, I drive the multirotor to 3 meters height
[code]
then I print the position informaition
[code]
Here is what I got
[code]
It shows that the height is 2.6 meters

[2022-01-17 09:17] ppueyor commented on #4293
Hi @Cming7 ,

The simpleFlight API is configured with a distance accuracy of 0.5m. If the points do not exceed that distance, the drone is set to keep stable.

You can change this DistanceAccuracy parameter in the file: AirSim/AirLib/include/vehicles/multirotor/firmwares/simple_flight/SimpleFlightApi.hpp, line 197.

Hope it helps!

[2022-01-17 09:32] dellhuyongcai opened #4295 "car_controls.steering = 0.8 means the 0.8 multiple of the max turning degree of car's tire?"
I want to get the information of the car's tire in AirSim,recently I just know the max turning degree by the SuvFrontWheel data,it is 50 degree.When I want to make the car turn right by setting  car_controls.steering=0.8,does it means turning degree is 50*0.8=40?the turning degree keeps 40 degree while the car turns right?any help or tips will be grateful !

[2022-01-17 09:49] Cming7 commented on #4293
[code]

[2022-01-17 16:34] blakermchale commented on #4292
Found the solution, there were some network settings set incorrectly.

[2022-01-17 16:34] #4292 closed

[2022-01-17 21:14] rhalaly opened #4296 "Save the simulation state for next run"
## What feature are you suggesting?
### Overview:
Using Azure Batch with Low Priority / Spot Instances is useful, but a long experiment may stop in the middle if the Node is taken by Azure. It is useful to continue the experiment from the point it stops. But there is no way to save and restore the state of the environment.

### Smaller Details:
Add an option to save and restore the state of the en

[2022-01-18 20:11] martin0004 commented on #4081
Hi @zimmy87 . My apologies for my late response. I switched to a Linux machine running Ubuntu 20.04. AirSim is working fine now in Linux. I'll close the issue.

[2022-01-18 20:11] #4081 closed

[2022-01-18 22:22] rhalaly opened #4299 "Segment Fault in Linux"
## Bug report

- AirSim Version/#commit: 1.6.0
- UE/Unity version:
- autopilot version:
- OS Version: Ubuntu 18.04

### What's the issue you encountered?
Cannot start the 1.6.0 Blocks environment in Linux Ubuntu (Azure NV6 machine with DSVM image.

### Settings
Not relevant

### How can the issue be reproduced?

1. Create an Azure VM of Size NV6 with Install the DSVM (Data Science Virtual Machine)

[2022-01-19 11:46] heleidsn opened #4302 "Depth image frame rate slow"
## Question
### What's your question?

I am using the following API to get depth image:
[code]
This works well when the depth image is small, such as 100*80, I can read depth image at about 30 FPS.

However, when I try to increase the size of the depth image to 400*300, the frame rate decrease to 1FPS. This is too slow for some applications.

### Include context on what you are trying to achieve

[2022-01-19 12:09] xxEoD2242 commented on #4302
The best way is to turn off the UE rendering by setting DisplayMode to "NoDisplay". That usually boosts it pretty far but Python is slow in this regard. Our best bet has been to use ROS and C++ to process the images.

[2022-01-19 12:49] heleidsn commented on #4302
Hi @xxEoD2242, thanks for your really quick reply!. I just tried NoDisplay, it works but can only speed up from 30Hz to 40Hz @ 100*80. I will try ROS later. This issue will be closed. Many thanks.

[2022-01-19 12:49] #4302 closed

[2022-01-19 13:05] xxEoD2242 commented on #4302
@heleidsn No worries!

Just as quick note, this can also depend heavily on the GPU that you have. We use an NVIDIA RTX 3070 and can get 30 fps at 640 x 480. You should definitely be able to get at least 15 using the ROS wrapper. If you you have questions, let me know, as I've done some work to modify a wrapper that uses a single thread to get Depth and that has worked very well for us.

[2022-01-19 13:09] heleidsn commented on #4302
Great! I will do some more tests and come back if still have problems. Thanks.

[2022-01-19 15:15] sudo-hello-world-2 opened #4303 "z - value of IMU linear acceleration is incorrect"
## Bug report

- AirSim Version/#commit: v1.7.0-linux / #0becf9148d88c19c3ffd69359ebe1f9c3ae43826
- UE/Unity version: 4.25
- autopilot version: N/A
- OS Version: Ubuntu 20.04.2 LTS

### What's the issue you encountered?
I am implementing and Extended Kalman Filter for velocity prediction. When testing the prediction step,  accurate results for the x and y velocity are achieved. However there is an

[2022-01-20 01:41] Cming7 opened #4304 "how to drive the multirotor rotate on pitch angle and roll angle"
## Question
### What's your question?

### Include context on what you are trying to achieve

[code]

#### Looking forward to your reply. Thank you so much!

[2022-01-20 11:34] sudo-hello-world-2 commented on #4304
Hey @Cming7,
I think TODO just means to do. Try using moveByAngleRatesZAsync(roll_rate, pitch_rate, yaw_rate, z, duration, vehicle_name=''). If you need to, check the implemented API page for more details (https://microsoft.github.io/AirSim/api_docs/html/ ).

[2022-01-20 16:07] Gastastrophe commented on #4304
Are you building Airsim on Unity? If an API says TODO in the Unity APIs, then that means it works in Unreal Engine but not Unity.

[2022-01-20 16:08] zimmy87 commented on #4241
Hi @ZhangFanSC, I've put out #4305 for fixing this behavior, please test with the PR applied and let me know if you have any issues

[2022-01-20 16:08] zimmy87 commented on #4232
Hi @rhalaly, I've put out #4305 for fixing this behavior, please test with the PR applied and let me know if you have any issues

[2022-01-20 16:38] jeffsp opened #4306 "Dialog Messages are in the Wrong Language"
## Bug report

- AirSim Version/#commit: Linx 1.70 Prelease Binary (log messages don't show commit)
- UE/Unity version: ++UE4+Release-4.25-CL-0
- autopilot version:
- OS Version: 5.10.89-1-MANJARO

### What's the issue you encountered?

Dialog messages are displayed in another language. Looks like maybe Arabic?

    $ ./Building_99.sh -windowed -opengl

![image](https://user-images.githubuserconte

[2022-01-20 22:19] rhalaly commented on #4232
@zimmy87 thank you so much for the fix! Currently, I have some issues with compiling AirSim from source, so I probably can't test it soon... 😞

[2022-01-20 22:24] rhalaly commented on #4295
@dellhuyongcai I also tested it using the Unreal Engine to be sure a few days ago. It seems to be true.
The steering is the fraction of the max degree. Steering 0.8 is 50*0.8=40 degrees.

You can also test it using Unreal Engine. Change the max degree to 90 degrees for example (for better visibility) and try different steering angles. With 90 degrees and 0.5 of steering, the wheels will turn in 45

[2022-01-21 00:54] Cming7 commented on #4304
I build the project on UE4.27.

[2022-01-21 02:19] dellhuyongcai commented on #4295
Yeah.it is right,thanks for your replay.

[2022-01-21 07:09] zimmy87 commented on #2789
The fix for this issue has been merged as part of #3880, so I am closing this issue.

[2022-01-21 07:09] #2789 closed

[2022-01-21 18:52] rhalaly opened #4307 "simContinueForTime doesn't respect ClockSpeed"
## Bug report

- AirSim Version/#commit: 0becf9148d88c19c3ffd69359ebe1f9c3ae43826
- UE/Unity version: 4.27
- autopilot version:
- OS Version: Windows 11

### What's the issue you encountered?
Wen setting high `ClockSpeed` and using `simContinueForTime` it uses the real world time, not the simulation time, which is faster/slower due to the `ClockSpeed`

### Settings
[code]

### How can the issue be

[2022-01-21 19:10] rhalaly opened #4308 "ClockSpeed is not linear scale"
## Bug report

- AirSim Version/#commit: 0becf9148d88c19c3ffd69359ebe1f9c3ae43826
- UE/Unity version: 4.27
- autopilot version:
- OS Version: Windows 11

### What's the issue you encountered?

The ClockSpeed is not a linear scale as I assumed. I would expect that the equation is `sim_time = real_life_time * ClockSpeed` but this is not the case. Simulating 10 (real life) seconds with `ClockSpeed=1`

[2022-01-21 20:36] akhil22 opened #4309 "Adding Warthog simulation feature to AirSim"
## What feature are you suggesting?
### Overview:

I would like to add a Warthog Simulation feature to AirSim [Warthog](https://clearpathrobotics.com/warthog-unmanned-ground-vehicle-robot/). It is an excellent platform to test off-road autonomy algorithms. The focus of my research is to come up with RL based
Controllers for different off-road vehicles and Unreal Engine with AirSim is the perfect c

[2022-01-21 21:39] mmartial commented on #4236
Adding a little extra content to my original post: to run a UE4 `.sh` and have Vulkan functional on the `development`, you also need to update the `--gpus=all` to have
[code]

as documented in
https://github.com/NVIDIA/nvidia-docker/issues/1480#issuecomment-964285018

[2022-01-22 02:51] jbericat commented on #2795
Hello Abdulla, I've been working on an AirSim project quite similiar to the one you're describing (fire detection and stuff), and I also run into the same problem you're facing. Actually, what I had to do is to add random static mesh objects under the fire VFX's, and then aim for the staticmesh objects instead of the fire (using the capture_ir_segment.py script). Then, I collected both the RGB and

[2022-01-22 05:04] Leon-Redfield opened #4310 "Clock speed doesn't work, timestamp is not synchronous"
## Bug report

- AirSim Version: 1.4
- UE version: 4.25
- OS Version:Ubuntu 20.04

Hi! I'm using multirotor SimMode to simulate a drone flying in the village. And I'm using "Airsim_ROS_wrapper" to receive the messages from Airsim. There are two main problems:
1. I tried to modify the clock speed in settings.json, but when I modify the value from 1 to 2, for example, 1.5, 1.7 and 1.9, the real cloc

[2022-01-22 16:35] Gastastrophe commented on #4309
My lab would also be interested in this. There aren't a lot of platforms that support ground and air vehicles. It seems like a lot of work, but certainly not a bad idea

[2022-01-22 17:54] akhil22 commented on #4309
Yes its a lot of work but I think its a useful features. Do you have any specific ground platform that you want to simulate ?

[2022-01-22 17:57] akhil22 commented on #4309
Yes its a lot of work but I think its a useful feature. Do you have any specific ground platform that you want to simulate ?

[2022-01-23 02:01] bineet-coderep opened #4311 "Recording distance sensor data for drones in airsim_rec.txt"
## Question
### What's your question?
I am currently using a drone to gather a dataset. Can you please let me know how can I equip the drone with a distance sensor to compute its altitude. Note that the distance sensor, in my case, needs to be pointed downwards. Merely using (x,y,z) coordinates of the drone is not sufficient to compute altitude of the drone, in my case. The environment I am curren

[2022-01-24 04:18] mmuetert opened #4312 "Python simGetImages throws unknown exception"
Hello,

I am trying to run the segmentation.py  example from the PythonClient folder in airsim. When I try to run the script, it runs fine until the line

#get segmentation image in various formats
responses = client.simGetImages([
    airsim.ImageRequest("0", airsim.ImageType.Segmentation, True), #depth in perspective projection
    airsim.ImageRequest("0", airsim.ImageType.Segmentation, False, F

[2022-01-24 08:31] chongjeelee commented on #2854
hi,everyone,i found a helpful method to set or get segmentation id.the mesh name you can find it in the GUI details(Static Mesh),like below:
![screenshot-20220124-162412](https://user-images.githubusercontent.com/30140969/150747085-ed6850c3-9871-4a2a-bf39-a47205063010.png)
---------
you can use client.simSetSegmentationObjectID("Air_Balloon_Set[\w]*",0,True)  to set air_ballon_set object color,als

[2022-01-25 02:45] yannbouteiller opened #4315 "Build error (Ubuntu): cmake cannot find LLVM"
## Bug report

- AirSim Version/#commit: https://github.com/microsoft/AirSim/commit/0becf9148d88c19c3ffd69359ebe1f9c3ae43826
- UE/Unity version: UE 4.25
- autopilot version: N/A
- OS Version: Ubuntu 18.04.2 LTS

### What's the issue you encountered?

When following the build instruction for Linux from [this page](https://microsoft.github.io/AirSim/build_linux/), I encounter the following error whe

[2022-01-25 07:55] chongjeelee commented on #4196
I find a problem,when i set the object moving ,i can not detect very accurate position(just the moving object's trace area),it's very big!
below picture show the result.the first picture is detecting moving air_balloon,the second picture is detecting static air_balloon.
![image6](https://user-images.githubusercontent.com/30140969/150934704-e4b70784-4ebe-431e-8555-aa2cbf49700b.png)
----
![image8 (1

[2022-01-25 11:15] sudo-hello-world-2 commented on #4311
Hi @bineet-coderep,
**Question 1**: Equip the drone with a distance Sensor:
You will need to edit the Settings.json as referred in https://microsoft.github.io/AirSim/sensors/ . To add a distance sensor pointing downwards, add
`"Distance": {
          "SensorType": 5,
          "Enabled" : true,
          "MinDistance": 0.2,
          "MaxDistance": 40,
          "X": 0, "Y": 0, "Z": 0,
          "

[2022-01-25 11:46] sudo-hello-world-2 commented on #4312
Hi @mmuetert.
The Code above works fine fine for me. Are you sure "0" is your camera name?

[2022-01-25 23:42] qcsui opened #4318 "Get precise detection of objects in global NED frame"
### Discussed in https://github.com/microsoft/AirSim/discussions/4298

<div type='discussions-op-text'>

<sup>Originally posted by **qcsui** January 18, 2022</sup>
Hi, right now I am trying to get coordinates of objects in global NED frame. For that, I used
[code]
then by adding these two, I should get the object's location in the global NED frame. However, due to a time lag between these two acti

[2022-01-26 09:18] chongjeelee opened #4320 "airsim can not generate accuracy dynamic objects' 2D_box"
## Bug report

- AirSim Version/#commit:v1.6
- UE/Unity version:UE4.25
- autopilot version:-
- OS Version:win10

### What's the issue you encountered?

when i set objects moving with blueprint spline,i found it can not detect the accuracy position when object moving on sky.
Just like this below,the BP_airBalloon0 is statical object ,the BP_airBalloon2 is motion object with spline .It is easy to se

[2022-01-26 10:23] chongjeelee commented on #4318
i face the same problem ,can not accurate result,in my testing,object is moving by spline.

[2022-01-26 12:37] zimmy87 commented on #4120
This is occurring due to a mismatch between the pixel format of UTextureRenderTarget2D instances inside scene capture components for each image type and the pixel format expected by the FD3D11DynamicRHI::RHIReadSurfaceFloatData API. I've put out PR #4321 to update the pixel formats. Please retest with my PR applied and let me know if you see any issues.

[2022-01-26 12:55] MartinRossel-67 opened #4322 ""Normal" & "Segmentation" record from BP"
Hey, I want to use AirSim to record my one simulation.
I need to run a "normal" et a "segmentation" record as the same time frame a camera I choose.
I would like to call the record from Blueprint.
I prefer not to use AirSim game mode, I got my own.

The thing is: I don't know C++ and yet I didn't figure it out where I can run a "segmentation" record.
If you have any hint or any tutorial about what

[2022-01-27 03:05] rajat2004 commented on #4311
https://microsoft.github.io/AirSim/modify_recording_data/ This page will  be helpful for details on how to modify the data being recorded. Instead of Imu or Barometer, you'll need to use `getDistanceSensorData()`, You can search for this method in the project and how it's used, the data format being returned

[2022-01-27 07:20] andrewjong commented on #2795
Looks great @jbericat ! What are your thoughts on how to reduce the smoke appearing in the final output? After all, a thermal camera is meant to help see through smoke, right? In these [example videos from FLIR](https://www.flir.com/discover/government-defense/combating-california-wildfires-from-above-with-the-flir-star-safire-380-hdc/), it seems at most only the base of the smoke plume shows hot

[2022-01-27 20:26] lshums16 opened #4323 "Python simGetObjectPose only returns starting pose for moving actor"
## What feature are you suggesting?
### Overview:
when using simGetObjectPose, the method only returns the starting pose of a moving actor. It would be nice if users could access the pose of an actor at any point in time.

I might be getting something wrong here, but this is my observation. See my example below.

### Smaller Details:

Here is an example of how I found this issue

[code]

I would l

[2022-01-27 21:50] CSUN1997 commented on #920
I also got this problem. For me, it is caused by OneDrive. I solved it by setting onedrive untrack the Documents folder.

[2022-01-28 05:46] chongjeelee commented on #4320
i have solved this problem with blueprint!

[2022-01-28 05:46] #4320 closed

[2022-01-28 18:13] #3882 closed

[2022-01-28 18:13] #4261 closed

[2022-01-28 22:16] lshums16 commented on #4323
Fixed. The issue was that "SetRelativeLocation" was being used to move the static mesh to a different location relative to the actor, but the actor itself wasn't moving. By using the function "SetActorLocation" instead of "SetrelativeLocation", and then changing the Mobility setting in the DefaultSceneRoot of the actor to "Movable", the actor's position itself changed, and the python script could

[2022-01-28 22:16] #4323 closed

[2022-01-29 03:53] jbericat commented on #2795
Hey @andrewjong thank you for your comment! :D

Right now, I've just finished the project related where I had to implement the FLIR simulator -that is, my  B.S. Computer Science's Final Degree Project, which you can find here if you're interested ->  https://github.com/UOC-Assignments/uoc.tfg.jbericat. However, since I'm committed to keep researching on this area and I already got another project

[2022-01-29 16:57] azamkamranian commented on #613
just copy engine3.zip files into ```\AirSim\AirLib\deps\eigen3```

[2022-01-30 15:26] ShuboLiu commented on #1757
Plus 1. I got exactly the same problem, Is there any way to solve it?

[2022-01-30 16:05] igibek opened #4326 "Workflows are referencing vulnerable actions"
Hello, there!

As part of the university research we are currently doing regarding the security of Github Actions, we noticed that one or many of the workflows that are part of this repository are referencing vulnerable versions of the third-party actions. As part of a disclosure process, we decided to open issues to notify GitHub Community.

*Please note that there are could be some false positiv

[2022-01-31 17:39] #4232 closed

[2022-01-31 17:39] #4241 closed

[2022-01-31 18:59] #4120 closed

[2022-01-31 19:37] #4326 closed

[2022-01-31 19:38] jonyMarino commented on #4326
Thanks for the warning, @igibek!

[2022-01-31 20:06] #4268 closed

[2022-01-31 20:16] jonyMarino commented on #4269
Hi and welcome @mgrova! A PR in this direction is welcome. I'm not sure how the controller should work, but as you said, having those two rotors off most of the time seems like just a simplification made for our controller. So if you get to submit a PR, we can work together to merge it. Good luck!

[2022-01-31 20:20] zimmy87 commented on #4275
See the discussion here: #4239. There's a plugin called OpenCV LensDistortion which can do this. Currently AirSim does not include this plugin, so you'll need to edit AirSim's source to support this.

[2022-01-31 20:20] #4275 closed

[2022-01-31 20:29] jonyMarino commented on #4276
Hi @rhalaly! That docker image was only created to be used on the azure server. The docker images we support are the ones created by the scripts in the docker folder as detailed in the documentation.

[2022-01-31 20:34] jonyMarino commented on #4280
Hi @Vampireqyz! What version of vs are you using? Try to follow our documentation.

[2022-01-31 20:40] rhalaly commented on #4276
Hi @jonyMarino ! Yes I know, I saw the same logs in an NV12 machine on Azure

[2022-01-31 20:40] zimmy87 commented on #4280
Hi @Vampireqyz, from looking [here](https://stackoverflow.com/questions/26410604/cannot-open-input-file-delayimp-lib), it looks like delayimp.lib is a part of MSVC. I'm using `MSVC v142 - VS 2019 C++ x64/x86 build tools` locally. Make sure you have that component installed and try again.

![image](https://user-images.githubusercontent.com/5205889/151869652-b5a0bbf3-7379-451a-aefa-7ca67729aaa2.png)

[2022-01-31 20:44] zimmy87 commented on #4312
This might be related to #4120, can you apply the fix in #4321 and see if that fixes the issue for you?

[2022-01-31 20:45] jonyMarino commented on #4281
Thanks, @aib, for solving by yourself, and keep us informed!

[2022-01-31 20:46] #4281 closed

[2022-01-31 20:54] jonyMarino commented on #4285
Hi @ClarkZha! you can fix it adding these lines before the last else:
[code]

[2022-01-31 20:59] zimmy87 commented on #4286
You should be able to just execute the .bat file from within Unreal\Environments\Blocks; the last command in your prompt looks correct to me; this is what I ran locally:

![image](https://user-images.githubusercontent.com/5205889/151872106-a412d8cb-4ab9-4d34-a221-e43f37987492.png)

[2022-01-31 20:59] jonyMarino commented on #4287
It is generated after update_from_git.bat is called

[2022-01-31 21:00] jonyMarino commented on #4288
dup of #4280

[2022-01-31 21:00] #4288 closed

[2022-01-31 21:04] ClarkZha commented on #4285
Hi @jonyMarino! Thanks for the response.

I did a similar hack earlier and it seemed to work. I wasn't sure if this would cause bug in other places in the code so I didn't post it here to avoid distract fellow developers. Glad this was the right approach : )

[2022-01-31 21:04] #4285 closed

[2022-01-31 21:07] jonyMarino commented on #2321
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2022-01-31 21:07] #2321 closed

[2022-01-31 21:08] jonyMarino commented on #2363
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2022-01-31 21:08] #2363 closed

[2022-01-31 21:15] jonyMarino commented on #1812
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2022-01-31 21:15] #1812 closed

[2022-01-31 21:17] jonyMarino commented on #2086
Closed due to age.
Please feel free to open a new issue (referring to this one) if you still have this problem.
Thanks!

[2022-01-31 21:17] #2086 closed

[2022-02-01 17:34] Gastastrophe commented on #4120
@zimmy87 Thank you for the fix! This'll be a great help

[2022-02-02 08:50] khnunn opened #4335 "[Windows] Precompiled Binaries No Longer Working with the Latest Build"
- AirSim: v1.6.0
- UE/Unity: v4.27.2

Hi, I believe the "Africa" precompiled binary is no longer working with the latest code base. The following exception is thrown when running "capture_ir_segmentation.py" with the Africa binary:
`rpclib: server could not find function 'simListSceneObjects' with argument count 1.`

settings.json:
[code]

[2022-02-02 09:03] #4335 closed

[2022-02-02 10:50] zardosht commented on #486
@AloshkaD Can you please share your config file?

[2022-02-02 11:08] zardosht commented on #2632
@randjamarko Hi. Can you please explain more how you solved this problem? We also have the same issue:
* Taranis QX7 Access
* Update firmware to the latest: 2.3.14 (2021-07-23)
When trying to load the model into the RC we get the message "Incompatible".

[2022-02-02 11:14] zardosht opened #4337 "Configuring Taranis QX7 to control the drone"
## Question
### What's your question?
Hi. Can you please provide some instructions on how to configure Taranis QX7 for controlling the SimpleFlight drone? The config file provided in the docs (https://microsoft.github.io/AirSim/remote_control/#rc-setup-for-default-config) seems to be incompatible with our RC (maybe too old?)

### Include context on what you are trying to achieve

We are using
* Ta

[2022-02-02 15:04] zimmy87 commented on #3870
Closing this as it looks like this has been resolved.

[2022-02-02 17:39] jonyMarino commented on #4294
Hi @Cming7! This is the same you are facing in #4293. There is a lookahead margin you need to take into account.

[2022-02-02 17:46] zimmy87 commented on #4299
It looks like your VM is missing Vulkan drivers. [This page](https://linuxconfig.org/install-and-test-vulkan-on-linux) should help point you in the right direction.

[2022-02-02 19:49] jonyMarino commented on #4307
Fixed in #4305

[2022-02-02 19:49] #4307 closed

[2022-02-02 19:49] jonyMarino commented on #4308
Fixed in #4305

[2022-02-02 19:49] #4308 closed

[2022-02-02 20:07] zimmy87 commented on #4304
Hi @Cming7, the server binding for this API was removed in #2297. You'll want to use the `moveByRollPitchYawZAsync` API instead.

[2022-02-02 20:32] zimmy87 commented on #4304
I put out PR #4338 to fix this.

[2022-02-02 20:34] #4304 closed

[2022-02-03 14:50] randjamarko commented on #2632
As I said, what helped me was deleting the joystick from windows (in windows devices) and reinstalling it. Didn't use any provided binary file

[2022-02-03 18:18] jonyMarino commented on #3174
Unity doesn't have a Lidar implementation, which is the cause of these issues.

[2022-02-03 18:18] #3174 closed

[2022-02-03 20:22] #4318 closed

[2022-02-03 20:35] jonyMarino commented on #4337
Hi, and welcome @zardosht! can you use AirSim with PX4? In that way, you can connect your RC to QGroundControl.

[2022-02-03 22:11] jonyMarino commented on #4309
Maybe [this work](http://www.mitchellspryn.com/2019/08/05/Robust-Offroad-Rover-For-Sim2Real-Applications.html) made with an AirSim fork can help

[2022-02-04 19:02] zardosht commented on #4337
Thanks. I will give the HITL with PX4 a try and write the result here. In the meantime I created a model from scratch that works.
The model needs to have channels set from 1 to 4 in this order: Throttle, Roll (aileron), Pitch (elevation), Yaw (rudder).
This seems to be the channel order that AirSim expects.
See for example the `motorMixer_t` strcut in `AirSim/AirLib/include/vehicles/multirotor/fir

[2022-02-04 20:12] jonyMarino commented on #4337
That is excellent! You can use PX4 in SITL mode; HITL is not needed.

[2022-02-05 01:42] MHSHAN925 commented on #1758
do you have soved this problem?

[2022-02-07 11:32] bozcani opened #4339 "simGetImages API causes a Vulcan Error for high resolution images"
## Bug report

- AirSim Version/#commit: 1.6.0
- UE/Unity version: 4.27.1
- autopilot version:
- OS Version: Ubuntu 20.04
- GPU: NVIDIA GeForce RTX 3060 Laptop GPU, 6GB

### What's the issue you encountered?

I see that pixel formats in PIPCamera.cpp have been changed a while ago in this commit: https://github.com/microsoft/AirSim/commit/705a366ef4daeff8053df3f64b90786b7c9d9903

This change causes

[2022-02-07 15:21] cindrew commented on #4303
yes i agree, i test it with airsim in the UE and see the data with API getImuData(), it indeed should change the signs of gravity from - to +

[AirSim/AirLib/include/sensors/imu/ImuSimple.hpp]

Line 58 in [0becf91](https://github.com/microsoft/AirSim/commit/0becf9148d88c19c3ffd69359ebe1f9c3ae43826).

also ,problem#3801 get the same

[2022-02-07 16:53] maximusron opened #4341 "Measuring out distances like radius (in m/ft) of obstacles in native coordinate frames like ENU/NED"
## Question
### How can I create a representation of distance in a frame like NED?

###  So far all I have come up with include using Geodesic lines or inversing code that finds the distance between two NED points

[2022-02-07 19:57] jonyMarino commented on #4076
Hi @talha-opteran! can you try with the supported version of Unity(2019.3.12)?

[2022-02-08 13:05] HarrySoteriou opened #4344 "Cannot build AirSim in Blocks Windows UE4.27"
I was tweaking the settings file, trying to get the front rotors out of the simGetImage() field of view (when using a custom front camera the two front rotors would be part of the captured image no matter what I changed, i.e. pitch: -90.0, x : 3, z: 5--> NOTHING CHANGED WHAT MY simGetImage was returning )...

I tried using external camera= True, in my script without modifying the settings file...

[2022-02-08 19:34] pdx97 opened #4345 "Unable to view the Subwindow"
Hi i am unable to view my subwindow in the Unreal engine for my drone even though the camera name in the code and the setting.json are same, i have read various issues and even followed them but nothing is working out .
{
  "SeeDocsAt": "https://github.com/Microsoft/AirSim/blob/master/docs/settings.md",
  "SettingsVersion": 1.2,
  "ClockSpeed": 2,
  "Vehicles": {
	  "Drone1": {
	  "VehicleType": "

[2022-02-09 11:29] HarrySoteriou commented on #4344
For the love of god make a clear tutorial on how to build the blocks environment and common issues that are faced, this is the 3rd day of me trying to return to the point I was before editing my settings file.
The documentation at different point says to do different things:
1) Do I need to use the native command prompt or the developer command prompt VS2019 and should i use the latest windows10 S

[2022-02-09 14:12] HarrySoteriou commented on #4344
followed this tutorial: https://airsim-fork.readthedocs.io/en/latest/unreal_custenv.html and solved my issues, if airsim crashes soon after running a script containing simGetImages ensure that the settings.json file doesnt have any invalid settings

[2022-02-10 16:05] rajat2004 commented on #4345
You have External set for the first subwindow but it's not an external camera. Try removing this param

[2022-02-10 19:21] noahzn opened #4347 "strange propeller animation"
## Question
Strange propeller animation

I tried to replace the default drone with my own drone. I also replaced 4 propellers. But the animation is not correct.

![Media1 00_00_00-00_00_30](https://user-images.githubusercontent.com/8244850/153480220-9a44a93f-5aeb-4b10-a2f6-05fbca3dba79.gif)
### Include context on what you are trying to achieve
 The propellers operate correctly.

#### Context detai

[2022-02-10 20:27] pdx97 commented on #4345
@rajat2004 i tried that too still the subwindow doesn't appear.

[2022-02-11 02:43] chongjeelee commented on #1791
hi,guys,does solve this problem for geting 3d bounding box?
if not in airsim api,how can i do something with UE4 bluerprint ?

[2022-02-11 09:27] #4247 closed

[2022-02-11 09:40] chongjeelee commented on #1554
How can i get instance segmentation label in lidar ?

[2022-02-11 10:20] TheFoolishPupil opened #4348 "How to disable manual keyboard controls for car"
## Question
### What's your question?
I'm wondering how to disable the manual controls of the cars altogether. I am attempting to control them via the Python api and would like to use the free-cam mode to position the camera. However when positioning the camera with WASD and the arrow keys, both the cars that I am simulating respond to the keyboard commands as well. Is there a way to disable manua

[2022-02-11 13:53] rajat2004 commented on #4348
Can you try setting `RC` param for each vehicle to 0 or something else, assuming that you don't have a remote controller attached.

[2022-02-12 11:14] rajat2004 commented on #4345
Wonder why things are even working for you, you don't have `SimMode` set in the settings, add that and it should work

[2022-02-12 13:22] rhalaly opened #4350 "`timestamp` doesn't consider pause time"
## Bug report

- AirSim Version/#commit: 8057725712c0cd46979135396381784075ffc0f3
- UE/Unity version: 4.27
- autopilot version:
- OS Version: Windows 11

### What's the issue you encountered?

It seems that #4305 didn't fully solve the issue (@zimmy87 can you assist please?). Trying this piece of code:

[code]

This code sleeps 2 seconds while the simulation is paused and continues the simulation

[2022-02-13 16:34] emeQee commented on #2396
@saihv Is the sensor size know or pixel size in mm? Or is there a way to get the intrinsic matrix in SI units?

[2022-02-14 08:26] TheFoolishPupil commented on #4348
Thanks for the reply @rajat2004. I have tried setting ` "RC": { "RemoteControlID": 0 }` for each car but still see the same behaviour. I have tried with numerous values other than 0 as well.

[2022-02-15 03:02] SSZ1 commented on #3149
Thanks so much

[2022-02-15 13:42] AmitNativ1984 opened #4353 "ROS2: Understand TF tree: camera_optical VS camera_optical/static"
### Discussed in https://github.com/microsoft/AirSim/discussions/4352

<div type='discussions-op-text'>

<sup>Originally posted by **AmitNativ1984** February 15, 2022</sup>
Problem:
I have created a stereo camera by setting up left and right cameras in the settings file, from which I want to calculate depth.
I use ros2 tf to find the baseline between the left and right cameras.
The `camera_info->h

[2022-02-16 02:05] chongjeelee commented on #1791
i found that we can set lidar and cam on the same position(settings.json),and the cam can get 3d bounding box from environment!so this 3d bounding box can be used to lidar !
maybe can close this issue...

[2022-02-16 08:13] ZhangFanSC opened #4356 "Not Found Skeletal Mesh Actor"
## Question
### What's your question?

In my Content Browser，Skeletal Mesh Actor seems to be missing.

### Include context on what you are trying to achieve

I wonder where I can import from Skeletal Mesh Actor.Thanks.

#### Context details

![image](https://user-images.githubusercontent.com/76544411/154222342-288aa072-26df-4fd7-a928-b9497c422653.png)
![image](https://user-images.githubusercontent

[2022-02-16 13:23] ArciAndres commented on #2718
All the above is correct. The quick fix to me was
[code]

[2022-02-17 16:15] MinnDevelopment commented on #4303
I'm running into the same problem, are there any plans to update this?

[2022-02-17 23:04] thejeshk commented on #3963
Hi,

I am facing the same issue here -

ubuntu@ubuntu-OMEN-by-HP-Desktop-PC:~/AirSim$ ./build.sh
+ debug=false
+ gcc=false
+ [[ 0 -gt 0 ]]
+ RPC_VERSION_FOLDER=rpclib-2.3.0
+ '[' '!' -d ./external/rpclib/rpclib-2.3.0 ']'
+ '[' -d ./cmake_build ']'
++ which cmake
+ CMAKE=/usr/bin/cmake
+ false
+ build_dir=build_release
++ uname
+ '[' Linux == Darwin ']'
+ false
+ export CC=clang-8
+ CC=clang-8
+ ex

[2022-02-17 23:09] thejeshk commented on #3361
Hi, I am facing similar issue

Please guide me to solve this issue:

Ubuntu 20.04
UE 4.25

if [ "$(uname)" == "Darwin" ]; then
    export CC=/usr/local/opt/llvm@8/bin/clang
    export CXX=/usr/local/opt/llvm@8/bin/clang++
else

[2022-02-20 12:36] LightCannon opened #4361 "Airsim SITL Copter overshoots"
## Question
### What's your question?
Airsim Copter Oscillations. Basically, overshoots when using arisim sitl + arducopter is significantly larger then without. Why this can happen? and how to deal with that?

### Include context on what you are trying to achieve
I am using sitl drone and airsim as I need to do some image processing project through integrating Airsim, OpenCV and Dronekit. I was t

[2022-02-21 02:56] paaraujo opened #4362 "Include ground truth magnetic field in the simGetGroundTruthEnvironment() function"
## What feature are you suggesting?
### Overview:

Include ground truth magnetic field in the simGetGroundTruthEnvironment() function

### Smaller Details:

The highlighted function already returns essential information, but the ground truth magnetic field is needed in some cases, and I didn't find an easy way to get it.

### Nature of Request:

- Addition

## Why would this feature be useful?
We

[2022-02-21 09:54] Ryton commented on #4250
Yes, the right one. its a concatenation of the vehicle pose and the lidar /sensor pose (xyz+yaw+pitch+roll).
You can get an output of the transformations in a rosbag.

PS: better change the orizontal field of view to -90 to +90, then your (sensor-X-axis) is the front of your lidar/radar senors.

[2022-02-21 19:27] jonyMarino commented on #4339
Thanks for the report. We will fix it.

[2022-02-21 19:28] noahzn commented on #4347
Can someone help?

[2022-02-22 20:51] jonyMarino commented on #4344
Hi @HarrySoteriou!
Thanks for keeping the issue up to date.

1_ The developer command prompt is only necessary to run build.cmd
2_ With binaries, it is not required to clone the repo
3_ update_from_git.bat or GenerateProjectFiles.bat are not called in the case of binaries
4_ You already solved it.

Sorry about the state of the documentation. You can submit a pull request to improve it.

[2022-02-22 22:24] zdjeffri opened #4366 "Problem building landscapeMountains with UE 4.24 and VS 2019"
## Bug report

- AirSim Version/#commit:  commit # 8057725712c0cd46979135396381784075ffc0f3
- UE/Unity version: UE 4.24.3
- autopilot version: N/A
- OS Version: N/A

### What's the issue you encountered?

Following instructions [here](https://microsoft.github.io/AirSim/unreal_custenv/). Successfully built AirSim. Problem compiling landscapeMountains with AirSim, using VS 2019.

![image](https://us

[2022-02-23 00:01] zdjeffri commented on #4366
To add: the error codes are C2838, C2065 and MSB3075. Also, running as admin did not fix.

[2022-02-23 00:34] zdjeffri commented on #4366
Solved by using different git commit. Recommend changing the instruction from:
`git clone https://github.com/Microsoft/AirSim.git`
to:
`git clone -b v1.6.0-windows https://github.com/Microsoft/AirSim.git`

[2022-02-23 00:34] #4366 closed

[2022-02-23 03:17] chongjeelee opened #4367 "client.simgetdetections cannot detect object sometimes."
## Bug report

- AirSim Version/#commit: AirSim1.6
- UE/Unity version:UE4.26
- autopilot version:
- OS Version: windows10

### What's the issue you encountered?

when run the environment ,i found some objects can not be detected always! i change the object position,and the problem also  occured ,so i want to know why the detection from camera is not very stable?this problem can directly result in

[2022-02-23 17:34] #4195 closed

[2022-02-24 16:39] jonyMarino commented on #4356
@ZhangFanSC in that project without the AirSim plugin, can you visualize the skeletal mesh actor?

[2022-02-24 16:53] jonyMarino commented on #4361
Hi and welcome @LightCannon!
I don't understand the test you did. Yes, the issue, not sure what is happening. Are you forced to use ardupilot? Can you see if the same happens if you use PX4?

[2022-02-24 16:57] LightCannon commented on #4361
Basically, what I'm doing is rotating the drone around Yaw, using joystick & dronekit. I notice that the drone itself overshoots (don't settle quickly after I release the joystick input). However, this overshot is far too less then I use the sitl without airsim.
Yes, I've to use Ardupilot.

[2022-02-24 19:50] zimmy87 commented on #4339
Hi @bozcani, I've put out a fix for this issue in #4372, please retest with the fix applied and let me know if you notice any additional issues.

[2022-02-25 02:34] ZhangFanSC commented on #4356
no，there's only one coordinate axis.
1.I wonder if it is because I downloaded Airsim without downloading the plug-in correctly?
2.What should I do, try to add it without removing or affecting the existing AirSIM?

[2022-02-25 03:28] Erickrk commented on #2856
Hello everyone, any updates on this?

[2022-02-25 09:59] noahzn commented on #4347
Hi @jonyMarino , I changed the model according to this video https://www.youtube.com/watch?v=Bp86WiLUC80
The 3d model is in .dae format, and I convert it to .fbx in Blender.

[2022-02-25 13:02] bozcani commented on #4367
The problem is -most probably- related to the logic behind how detection is computed. See this:
https://github.com/microsoft/AirSim/blob/master/Unreal/Plugins/AirSim/Source/DetectionComponent.cpp#L152-L166

Here, the code sends random rays to 10 different points and checks whether any ray hits the actor (or, let's say, object). This is a kind of occlusion check, I think. However, the drawback is t

[2022-02-25 17:27] lnexenl commented on #2369
@kminoda Thanks! This definitely works well! I recorded a stereo camera rosbag, and run VINS-Fusion with it. Finally I get a perfect result.

And I recommend everyone who wants to get synchorized image pairs to use this method:

1. Use airsim_ros_pkgs to record vehicle groundtruth pose and IMU data in any mode you want.
2. Switch to **ComputerVision** mode, add cameras you want to record.
3. Read

[2022-02-25 17:46] jonyMarino commented on #1121
This is not happening in the current version
Closing due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-02-25 17:46] #1121 closed

[2022-02-25 17:55] jonyMarino commented on #2163
This was fixed in https://github.com/microsoft/AirSim/pull/4305

[2022-02-25 17:55] #2163 closed

[2022-02-25 18:02] jonyMarino commented on #2791
They are synchronized. It could happen that they have just one step of difference (3ms) when calling the API, that would be not the general rule.

[2022-02-25 18:02] #2791 closed

[2022-02-25 18:04] jonyMarino commented on #2930
I have created this discussion for this question: #4374

[2022-02-25 18:04] #2930 closed

[2022-02-25 18:05] #3025 closed

[2022-02-25 18:51] Villotadavid opened #4375 "RPCError when calling simGetImages with several instances of ImageRequest"
Hello!
I am trying to get two different images with the same instance of "simGetImages". For that I have written the following line:
[code]
In the settings.json file I defined the following vehicle with its cameras as follows:

[code]

But whenever I run the code I always get the following error:
`msgpackrpc.error.RPCError: rpclib: function 'simGetImages' (called with 2 arg(s)) threw an exception.

[2022-02-26 05:59] rajat2004 commented on #4375
Cameras should be present inside the `Cameras` section, see https://microsoft.github.io/AirSim/settings/#vehicles-settings

[2022-02-26 06:01] Vampireqyz opened #4378 "NEW maps in airsim"
## What feature are you suggesting?
### Overview:how to set new maps in airsim

### Smaller Details:

### Nature of Request:

- Addition
- Change
- Removal
  -

## Why would this feature be useful?

[2022-02-26 08:56] c608345 opened #4380 "linux Segmentation fault"
## Bug report

- AirSim Version/#commit:  1.7
- UE/Unity version:
- autopilot version:  no
- OS Version: debian 10

### What's the issue you encountered?
./Zhangjiajie.sh    run failed

### Settings

### How can the issue be reproduced?

1. ./Zhangjiajie.sh

### Include full error message in text form
[2022.02.26-08.44.23:409][  0]LogVulkanRHI: Error: VulkanRHI::vkQueueSubmit(Queue, 1, &SubmitInfo

[2022-02-26 22:15] rhalaly opened #4381 "Azure example doesn't work"
## Bug report

- AirSim Version/#commit: 1.6.0
- UE/Unity version:
- autopilot version:
- OS Version:

### What's the issue you encountered?

Running the Azure configuration causes an error when starting AirSim.

The only modify I did is to use the NV12s_V3 machines instead of NV12.

Got this message:
<img width="281" alt="image" src="https://user-images.githubusercontent.com/8597700/155860727-ce9

[2022-02-27 06:06] #4367 closed

[2022-02-28 07:40] rajat2004 commented on #4348
Sorry for the late reply, have you tried calling `enableApiControl` for the car before positioning the cameras? You could call this in the beginning, and then wait for keyboard input in the script before proceeding to the actual testing.

[2022-02-28 10:49] bozcani commented on #4367
Great! Do you see any performance decrease when you set the upper limit to 100?

[2022-02-28 13:41] ale99viv commented on #4380
Some times an error in the settings file("Settings.json") can cause this problem

[2022-02-28 17:43] jonyMarino commented on #4380
Hi and welcome @c608345. Can you share your settings.json file, please?

[2022-02-28 17:46] Villotadavid commented on #4375
Okay, so now I have downloaded some version 1.7.0 binaries and using the same code of line as in the main description I am getting the following error:
`msgpackrpc.error.RPCError: rpclib: client error C0002: Function 'simGetImages' was called with an invalid number of arguments. Expected: 2, got: 3`
I do not understand why I am getting this error if I am using only two arguments, the first as a li

[2022-02-28 18:01] jonyMarino commented on #2976
Hi @lucafei! Can you use the `ExternalPhysicsEngine` instead of CV for your use case?

[2022-02-28 18:04] jonyMarino commented on #2338
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-02-28 18:04] #2338 closed

[2022-02-28 18:05] jonyMarino commented on #2359
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-02-28 18:05] #2359 closed

[2022-02-28 18:08] jonyMarino commented on #2775
Hi @m1baldwin, now the cameras are an instance of a cinematographic camera so that you can specify many camera parameters.
Closed due to inactivity. Please, feel free to ask for it to be reopened if you wish to continue posting.

[2022-02-28 18:16] #2927 closed

[2022-02-28 18:18] jonyMarino commented on #4378
Hi @Vampireqyz. The feature request is for us to add a new environment?

[2022-02-28 18:54] m1baldwin commented on #2775
Thanks @jonyMarino , that makes sense. No need to keep this open

[2022-03-01 01:36] c608345 commented on #4380
Default   settings.json,  I'm a new user.

[2022-03-01 02:50] chongjeelee commented on #4367
Hi,i can not find any performace decrease currently .
but i find another problem,the 2Dbox is not very close to the object...hhha

[2022-03-01 08:59] bozcani commented on #4367
Could you upload a sample image?

[2022-03-01 12:32] bozcani commented on #4339
It works with the fix. Thanks!

[2022-03-01 21:43] Villotadavid commented on #4375
Finally, after doing some research I found out that this is a version error.
When using v1.7.0. binaries, Airsim v1.6.0. should be used.
After updating to the last version, everything worked fine.

[2022-03-01 21:43] #4375 closed

[2022-03-02 00:57] chongjeelee commented on #4367
https://user-images.githubusercontent.com/30140969/156274159-524c5a92-7039-43de-aa75-428394b0afcc.mp4

------
you can see that the 2d bounding box on the moving plane is not very close to plane's boundary...

[2022-03-02 02:01] ayush055 opened #4383 "Image Tile Error"
## Question
### What's your question?

When running the dqn_car.py or dqn_drone.py, I am getting the following error:

**ValueError: tile cannot extend outside image**

This error occurs when this line is run: **image = Image.fromarray(img2d)**

In addition, this error first occurs after many timesteps pass during training.